[2020-10-02 09:12] TheIronNinja commented on #3273
If anyone stumbles upon this issue looking for answers, go here https://www.thethingsnetwork.org/forum/t/thethingsstack-v3-8-7-with-self-signed-certificate-forbidden-token-exchange-refused/38902/15

[2020-10-03 12:51] bafonins commented on #996
Already implemented. Also see https://github.com/TheThingsNetwork/lorawan-stack/pull/2989

[2020-10-03 12:51] #996 closed

[2020-10-04 12:07] bafonins commented on #2232
When testing formatters for uplink messages it all comes down to checking for `as.up.data.forward`, `as.up.data.decode.warning` and `as.up.data.decode.fail` events.

1. In case of user defined warnings (in the `warnings` entry of the js formatter) the `as.up.data.decode.warning` event gets sent containing decoded payload (`decoded_payload`) and at least one warning (`decoded_payload_warnings`).
2.

[2020-10-05 07:45] johanstokking commented on #3273
cc @nejraselimovic

[2020-10-05 07:50] johanstokking commented on #3278
RPi installations are currently not documented. We do have binaries available for this target, see the `arm64` binaries you can download here: https://github.com/TheThingsNetwork/lorawan-stack/releases/tag/v3.9.4. You would use systemd to create a service for the RPi.

We're happy to see a pull request for the documentation for RPi users.

[2020-10-05 07:53] johanstokking commented on #3189
We're not sending the human friendly name as part of every uplink message. The reason is that it adds lots of redundant data, it's not unique and it may change over time. To identify an application, please use the application ID because that is stable.

[2020-10-05 07:53] #3189 closed, assigned to nobody

[2020-10-05 07:54] johanstokking commented on #3184
Please configure the MQTT server pub/sub integration to achieve this. This way, the Application Server is a client to an MQTT server, like Mosquitto, HiveMQ, AWS IoT MQTT, CloudMQTT, etc, and you can control access there. See https://thethingsstack.io/integrations/mqtt/

[2020-10-05 07:54] #3184 closed, assigned to nobody

[2020-10-05 08:34] johanstokking commented on #2232
We need API for this in AS, so you can use rpcs to test directly without using events. The response of those rpcs would indeed include any warnings or errors produced by the payload formatter.

[2020-10-05 10:15] bafonins commented on #2232
A dedicated rpc will definitely make things easier for us. Is there an issue for this already?

[2020-10-05 12:08] bafonins commented on #2777
Related blocked issue: https://github.com/TheThingsNetwork/lorawan-stack/issues/2694

[2020-10-05 12:21] #2438 closed

[2020-10-05 13:36] bafonins commented on #2807
@pgalic96 I think here we you can add 2 sections (basic and lorawan options). So everything from `General settings` and `Gateway updates` sections goes to `Basic settings`, `Lorawan options` stays the same.

[2020-10-05 13:41] bafonins commented on #2019
Already implemented

[2020-10-05 13:41] #2019 closed

[2020-10-05 13:46] bafonins commented on #1692
Already implemented.

<img width="652" alt="Screenshot 2020-10-05 at 16 46 08" src="https://user-images.githubusercontent.com/16374166/95087418-4f933380-072a-11eb-9e30-1b4568fe098f.png">

[2020-10-05 13:46] #1692 closed

[2020-10-05 15:47] benolayinka opened #3318 "Add instructions for running ttn-lw-stack binaries without docker"
#### Summary

We got feedback that some users would like better instructions for running the binaries on OS's without docker, for example using systemd on memory constrained devices like Raspberry Pi.

If this applies to you, please upvote this topic and we will prioritize it.

#### What is already there? What do you see now?

https://thethingsstack.io/getting-started/installation/

[2020-10-06 07:02] KrishnaIyer commented on #3287
closed via #3313

[2020-10-06 07:02] #3287 closed, assigned to KrishnaIyer

[2020-10-06 07:28] bafonins opened #3320 "Allow scheduling downlink messages as JSON in the Console"
#### Summary

Currently, we allow sending only raw bytes

#### Why do we need this?

1. Match with the v2 console
2. More flexibility

#### What is already there? What do you see now?

<img width="770" alt="Screenshot 2020-10-06 at 10 21 39" src="https://user-images.githubusercontent.com/16374166/95170875-c299ba00-07bd-11eb-8afc-b1c5a611c6a4.png">

#### What is missing? What do you want to see?

F

[2020-10-06 07:49] johanstokking commented on #2232
It's this issue, [see above](https://github.com/TheThingsNetwork/lorawan-stack/issues/2232#issuecomment-604009221) with some tips.

Let me know if you need anything from me by assigning me.

[2020-10-06 07:50] johanstokking commented on #2777
I hope it's not blocked on improving the form UX in general?

[2020-10-06 08:00] bafonins opened #3321 "Use links in table rows in the Console"
#### Summary

Currently, table rows are just `tr` elements with `onlick` listener.

#### Why do we need this?

In certain cases I want to open multiple items in new browser tabs. Links allow doing this by holding the commands/control key and clicking on a link.

Consider:
1. Opening the device overview/events page while still staying at the application overview page (looking at events, quickly edi

[2020-10-06 08:34] bafonins opened #3322 "Replay received uplinks/scheduled downlinks from the events view in the Console"
#### Summary

@adriansmares proposed feature to send already received messages in the events view

#### Why do we need this?

I think this can be quite helpful when one:
1. Is working on configuring an end device to, say, receive a certain downlink message and respond with an uplink or vice versa (receive uplink via integration and schedule downlink to the end device). Currently, it is possible bu

[2020-10-06 08:35] bafonins commented on #3322
@johanstokking What do you think?

@rvolosatovs Can this be helpful for you when debugging network server, events server, etc?

[2020-10-06 08:55] johanstokking commented on #3322
This is purely on the application-layer, right?

I think it would be useful to select a downlink message as a predefined test message for the application, that can be sent to devices within that application. Likewise for uplink messages.

So it would be a few test downlink and uplink messages within an application that the user can send individually as downlink message to an end device or as simul

[2020-10-06 08:55] bafonins commented on #2232
Assigning @adriansmares for adding AS support

[2020-10-06 09:18] benolayinka commented on #2777
I'm trying to understand exactly what is needed from the user in each case:

Option 1: Activate on GJS
User enters:
DevEUI - provided by mfr (or created by user if it's an arduino)
JoinEUI - provided by mfr (or created by user if it's an arduino)
AppKey - created by user
NwkKey - created by user
Join Server - box for "also activate on GJS" is checked by default

Option 2: Activate on cluster JS
Us

[2020-10-06 12:18] bafonins commented on #3322
Why only application-layer?

@KrishnaIyer @elsalahy Can you benefit anyhow from this feature? Would be nice to hear some use cases from you guys.

[2020-10-06 12:35] KrishnaIyer commented on #3322
Hmm I have the same question as @johanstokking. There are 2 ways I imagine your description
a. This just duplicates a past event to observe what happens?
b. Replaying an event (Simulate Uplink / Send Downlink) meaning fetch the parameters of a console action that causes an event and do it again?

Which is closer to your proposal?

[2020-10-06 13:25] nejraselimovic commented on #3273
Thanks for the insight @johanstokking, and good job @TheIronNinja!

I can confirm that on Ubuntu 18.04 I got rid of `Token exchange refused` error that I had with setup that uses `localhost` as a hostname and self-signed certificates by doing the following:

1. adding `TTN_LW_OAUTH_SERVER_ADDRESS: https://localhost:8885/oauth` to `environment` in `docker-compose.yml`
2. changing all `https://theth

[2020-10-06 13:26] bafonins opened #3324 "Fix event selection in the Console"
#### Summary

![selected-event](https://user-images.githubusercontent.com/16374166/95205958-c09c1f00-07ee-11eb-9e5e-5c5af983b879.gif)

https://github.com/TheThingsNetwork/lorawan-stack/pull/3301 - does not solve the issue.

#### Steps to Reproduce

1. Open events page for apps/devices/gateways
2. Wait for some events to arrive
3. Pause events stream
4. Click on different events in the events list

[2020-10-06 13:51] bafonins commented on #3322
Here is concrete use case of mine. I want The Things Uno to wait for downlinks on a certain port and with certain payload, depending on these I want to send a certain uplink. All I want to do is test that the sketch I upload to arduino indeed does what it is supposed to do. Currently, I have to switch between 3 windows:
1. Schedule downlink page in the Console - to send different downlinks
2. Even

[2020-10-06 15:45] johanstokking commented on #2777
@benolayinka your understanding is correct. Minor remark is that _provisioning_ happens (1) on GJS or (2) cluster JS, or the provisioning already happened on (3) an external Join Server. In option 3, there are no root keys generated or provided: it is like now.

Yes, but this is already the case. We'll figure that out later with device ownership claiming.

That is basically (3): so the device is a

[2020-10-06 15:55] johanstokking commented on #3273
OK. Do we need to change or clarify the documentation on these points?

[2020-10-06 15:57] johanstokking commented on #3322
Right, so that is all application layer: LoRaWAN FRMPayload on an FPort. We're not talking about replaying MAC commands or replaying infrastructural events generated by AS, for example. That would make things infinitely more complicated.

So if we scope this to replaying uplink messages (simulate uplink) and replaying downlink messages (send downlink), keeping a record of a few messages to replay

[2020-10-07 08:16] nejraselimovic commented on #3273
Maybe just a note in [troubleshooting section](https://thethingsstack.io/getting-started/installation/troubleshooting/#token-exchange-refused) in this case when `localhost` and self-signed certs are being used?

[2020-10-07 08:35] elsalahy commented on #3322
Yeah sounds like a great feature indeed, as we sometimes run in a situation in development or deployment where we need to replay a downlink or an uplink.

This will be most useful in sending device commands/triggers.

A relevant scenario:
- Obtaining device on board real time clock information
  - Send a command (downlink) to request the device current clock/time.
  - Re-send the same exact comman

[2020-10-07 09:55] kschiffer opened #3327 "Make gateways searcheable by gateway eui"
#### Summary
It should be possible to search gateways by their EUIs.

#### Why do we need this?
To help users find gateways that they don't know the gateway id of.

#### What is already there? What do you see now?
- Generic search API for entities
- End device search API

#### What is missing? What do you want to see?
- A specific gateway search API similar to the end device search API
- Wiring in

[2020-10-07 13:36] TheIronNinja commented on #3273
I'd add a note saying that if you are not installing the stack on your local machine you need to change those things. In my case I'm not using self-signed certificates so this always applies.

[2020-10-07 13:48] nejraselimovic commented on #3273
Oh, I see. But also, I had this problem on my local machine and solved it as I mentioned above. So what we first need here is a good explanation of **why** this was necessary to make things work in both of our cases, then we can document it properly.

[2020-10-07 18:40] rvolosatovs opened #3332 "Determine device's operating band at join time"
#### Summary

Determine device's operating band at join time

#### Why do we need this?

A device may be able to operate in different regions and so Network Server could determine the frequency plan and band to use from the transmission settings of the join-request (or even first uplink for ABP)

#### What is already there? What do you see now?

A singular frequency plan configured per-device. Net

[2020-10-07 18:41] rvolosatovs commented on #3332
@johanstokking @htdvisser please comment if you have opinions about this, otherwise, if you agree - let's remove the discussion label

[2020-10-07 19:09] johanstokking commented on #3332
We do this guessing in V2 but it is quite limited with overlapping (join) frequencies across frequency plans. For example, AS920-923 vs AS923-925, while the device is only certified for one region.

It could be useful with US915 devices. With 8 channel gateways, basically the gateway's frequency plan drives which sub-band is being used. That could make sense indeed.

[2020-10-07 19:43] rvolosatovs opened #3333 "Make network-initiated downlink interval configurable"
#### Summary

Make network-initiated downlink interval configurable

#### Why do we need this?

To allow for network-initiated downlink rate-limiting by the customer

#### What is already there? What do you see now?

Hardcoded value in NS (https://github.com/TheThingsNetwork/lorawan-stack/blob/11cf05ba98cf6df44f064658ea4393183b0e7126/pkg/networkserver/networkserver.go#L57)

#### What is missing? W

[2020-10-07 19:47] rvolosatovs opened #3334 "Gateway Server should wait before scheduling consecutive downlinks on a singular gateway"
#### Summary

Gateway Server should wait before scheduling consecutive downlinks on a singular gateway

#### Why do we need this?

To avoid situations when GS schedules downlinks too fast, such that gateway fails to transmit due to already being busy.

#### What is already there? What do you see now?

Not sure, but seems that there's no rate limiting and at least in one case a series of class C do

[2020-10-08 08:03] htdvisser commented on #3332
I'm against guessing the band, but we can select a frequency plan _if the device owner set multiple "candidate" frequency plans in the device registration_.

I'm however not sure if we should really do this. Sure, it may be convenient for lazy device owners that don't feel like setting the field for the frequency plan, but in most situations it's just confusing, because such a "guessing" feature c

[2020-10-08 08:18] johanstokking commented on #3334
Hmm, this is what Gateway Server does already:

https://github.com/TheThingsNetwork/lorawan-stack/blob/2aafb1a34f11781cbbd7726e8b0c2b7a097cde7e/pkg/gatewayserver/scheduling/scheduler.go#L333-L341

It could be that `timeOffAir` is too low. It is at least `QueueDelay`:

https://github.com/TheThingsNetwork/lorawan-stack/blob/2aafb1a34f11781cbbd7726e8b0c2b7a097cde7e/pkg/gatewayserver/scheduling/schedu

[2020-10-08 08:19] KrishnaIyer commented on #3334
I'm pretty sure the schedular already does this
(Update: 👆 Johan's comment)

[2020-10-08 12:38] rvolosatovs commented on #3332
Please see the OP:

The proposal is to only allow such combinations, in which the join frequencies uniquely identify the band and frequency plan. The user still must set the frequency plan(s)

Please comment on the proposal and not on the general feature.

[2020-10-08 13:33] rvolosatovs commented on #3334
Please see the email from a customer regarding this. You are both in the conversation.

[2020-10-08 17:04] adriansmares opened #3338 "Change Paho MQTT WaitTimeout usage in Pub/Sub"
#### Summary

We should make sure the client is closed after a failed `WaitTimeout` call - otherwise we are leaking the client which is actually still connecting. Consider the following connection code:

https://github.com/TheThingsNetwork/lorawan-stack/blob/a56e90acbd1e0e01bc0a6f5f509feda390933698/pkg/applicationserver/io/pubsub/provider/mqtt/provider.go#L148-L151

As the operation 'timed out', w

[2020-10-08 20:58] chrisbouchat commented on #3334
The GS appears to be buffering downlink requests for the configurable delay period and sending them in batches to the gateway. When I set the GS time delay to 1s and my test script to send downlinks every 250ms I see an average of 4 downlink requests arriving at the same time at the gateway. The gateway does not appear to be buffering or scheduling the downlinks and rejects/discards any that can n

[2020-10-08 23:28] #2669 closed

[2020-10-09 05:19] ama9910 opened #3340 "Allow tenant admins to see all organisations in console"
#### Summary
Tenant admins can see all gateways and apps, but can't see all organizations.

#### Why do we need this?
If tenant-admin-1 creates an org and doesn't add tenant-admin-2 as a collab, tenant-admin-2 can't see that org, or the applications that the org is a collaborator of.

#### What is already there? What do you see now?
The Organizations tab only shows the organizations that the admin

[2020-10-09 10:42] rvolosatovs opened #3342 "Strategy for handling backwards-incompatible optimizations in registries"
#### Summary

We need to discuss strategy for handling backwards-incompatible optimizations in registries

#### Why do we need this?

Sometimes we can do optimizations in registries, which depend on a particular storage scheme of the data. E.g. #2837

#### What is already there? What do you see now?

In #3331 `CompatibilityVersion` was introduced as part of NS Redis registry config. I did not add

[2020-10-09 11:41] rvolosatovs commented on #3145
[code]

[2020-10-09 11:59] kschiffer opened #3345 "Batch device import crashing in Firefox"
#### Summary
The end device import crashes in Firefox due to a discrepancy in how Firefox parses `Date` objects.
#### Steps to Reproduce
1. Import devices using Firefox
2. See the page crashing (even though all devices were created successfully) `RangeError: date value is not finite in DateTimeFormat.format()`

#### What do you see now?
Page crashes in Firefox

#### What do you want to see instead

[2020-10-10 16:05] johanstokking commented on #3145
It's a bug but this doesn't happen too often and we're going to change this anyway (#3263) so let's not bother too much this month.

[2020-10-10 16:08] johanstokking commented on #3342
It is forever in V3:

The compatibility commitment is holy: `3.42.0` and `3.468924396.0` are all "within the major version".

[2020-10-12 09:09] rvolosatovs commented on #3342
How is this related to this issue? Sure, this only concerns v3, since in v4 we can do backwards-incompatible changes.

[2020-10-12 09:33] johanstokking commented on #3342
It is related because we don't make a claim of backwards compatibility. In minor versions there may be manual database migrations (see point 3 of the compatibility commitment), but it is not stated that they can be undone. In fact, you can require a database migration as part of upgrading to a new minor; you don't have to stay backwards compatible. So, I would not spend too much time on backward c

[2020-10-12 09:33] johanstokking commented on #3342
Pushing to November and probably Backlog because I don't see the urgency for this month.

[2020-10-12 09:34] rvolosatovs commented on #3145
Can we just remove the test already then?

[2020-10-12 09:35] rvolosatovs commented on #3342
FTR, until we have this, new deployments (and existing ones) cannot benefit from some optimizations in #2837.
A migration tool would change this, however

[2020-10-12 10:55] johanstokking commented on #3145
I'm also fine with that

[2020-10-12 10:57] johanstokking commented on #3342
I don't think we need "this", i.e. this issue: maintain backwards compatibility of older storage schemes. I do think we need a migration tool, just like we have `is-db migrate`.

[2020-10-12 13:24] kschiffer opened #3351 "Skip OAuth callback if an auth cookie already exists"
#### Summary
When the user tries to re-run the OAuth callback endpoint (e.g. when clicking the browser's back button after logging in) they will see an error message (`Bad request`). It would be better UX to just skip the token exchange process and redirect straight back to the application root.

#### Why do we need this?
It's unnecessary to try running the token exchange (and consequently display

[2020-10-12 14:32] htdvisser commented on #3273
With #3352 the error information for these errors will be returned in `window.__ttn_config__.PAGE_DATA.error` and _could_ be shown to the user. @kschiffer already confirmed that this is possible, but he's concerned that this would be "disclosing development information to the user".

[2020-10-13 09:49] htdvisser commented on #3342
So, just as we usually have a `ttn-lw-stack is-db migrate` that needs to be executed before minor version upgrades, we tell operators to run `ttn-lw-stack ns-db migrate` before/when/after deploying a new minor version. Migrations only need to be "forward", because our compatibility commitment doesn't say that you can downgrade to a previous minor.

For reference: the way migration works in v2 is t

[2020-10-13 10:41] johanstokking commented on #3342
It makes sense but then only with the purpose of reducing downtime.

[2020-10-13 10:53] #3345 closed, assigned to kschiffer

[2020-10-13 11:38] bafonins commented on #2663
Blocked on https://github.com/TheThingsNetwork/lorawan-stack/pull/3162

[2020-10-13 11:54] htdvisser commented on #3342
Yes, and rolling back if the deployment fails (assuming that you didn't skip a minor)

[2020-10-13 12:10] adriansmares opened #3356 "LoRaCloud DAS Unauthorized errors should be handled gracefully"
#### Summary

Currently, if an invalid API key is used with LoRaCloud DAS, the remote server will respond with a body containing only `Unauthorized`. As we always attempt to unmarshal the body as JSON, we fail and generate an unnecessary warning.

#### Steps to Reproduce

1. Use an invalid API key (a random one would do) with LoRaCloud DAS
2. Send an uplink

#### What do you see now?

The applicat

[2020-10-13 12:35] adriansmares opened #3357 "Revisit webhook templates asset mounting"
#### Summary

We should revisit our decision not to mount webhook template assets (specifically logos) as part of TTS.

References https://github.com/TheThingsNetwork/lorawan-stack/pull/1011
References [this Slack conversation](https://thethingsindustries.slack.com/archives/C06UQSMPB/p1563776738005000)

#### Why do we need this?

While discussing the scope of #1011, we've agreed not to mount (i.e.

[2020-10-13 12:46] bafonins commented on #2068
Moving to `Next up` since this doesnt cause any problems with the current setup and there are issues with higher priority to work on.

[2020-10-13 12:47] bafonins commented on #32
Moving to `Next up` since this doesnt cause any problems with the current setup and there are issues with higher priority to work on.

[2020-10-13 13:22] laurensslats commented on #3154
Done

[2020-10-13 13:22] #3154 closed, assigned to laurensslats

[2020-10-13 13:27] benolayinka commented on #2733
Will be closed by https://github.com/TheThingsIndustries/lorawan-stack-docs/pull/24

[2020-10-13 14:36] johanstokking commented on #2616
@laurensslats please reopen if this is still relevant.

[2020-10-13 14:36] #2616 closed

[2020-10-14 13:17] rvolosatovs opened #3360 "Retry failed downlinks on Network Server level"
#### Summary

Retry failed downlinks on Network Server level

#### Why do we need this?

To simplify life of application developers

#### What is already there? What do you see now?

Network Server retries if e.g. class B/C absolute time is valid, but gateway does not have sync yet by looking at the error received immediately from the GS on scheduling

#### What is missing? What do you want to see

[2020-10-14 13:17] rvolosatovs commented on #3360
Blocked by #76

[2020-10-14 13:32] bafonins opened #3361 "Cannot create multicast end devices in the Console"
#### Summary

It is not possible to create multicast end devices via the Console.
CLI works fine.

#### Steps to Reproduce

1. Go to the end device wizard
2. Create multicast device
3. Go to the general settings of the new end device
4. See that it is registered as an ABP device

#### What do you see now?

Multicast devices are registered as ABP

#### What do you want to see instead?

Multicast de

[2020-10-14 13:43] benolayinka opened #3362 "Rebranding: Update open source logo, change console colors"
#### Summary

Rebranding to-dos:
- [x] Replace logo with new TTS logo
- [x] Change console color to new dark blue @pierrephz
- [x] Add console top left branding @pierrephz (See https://github.com/TheThingsIndustries/lorawan-stack/issues/2390#issuecomment-708991342)

[2020-10-15 09:42] benolayinka commented on #1760
Someone shared their configuration for nginx: https://github.com/TheThingsNetwork/lorawan-stack/issues/2353#issuecomment-624583182

[2020-10-15 10:07] KrishnaIyer commented on #1760
That's nice but it's beyond the scope of this issue. We shouldn't really care about what proxy is being used and how that's setup. We'll leave that to operators.

[2020-10-15 11:22] #2192 closed

[2020-10-15 12:15] benolayinka commented on #3273
@TheIronNinja if you're not installing the stack on your local machine, you shouldn't need to add these environment variables to your `docker-compose.yml`. The configuration options you posted are in our [example ttn-lw-config-docker.yml](https://thethingsstack.io/getting-started/installation/configuration/ttn-lw-stack-docker.yml), and if you follow along in the [installation instructions](https:/

[2020-10-15 13:14] TheIronNinja commented on #3273
Hi @benolayinka, thanks for the detailed info. I guess I saw the `TTN_LW_OAUTH_SERVER_ADDRESS` in some other post and assumed it was correct, but if it doesn't exist then I'll delete it from my config. As for some of the other parameters I know some of them are defined in the ttn-lw-config-docker.yml, but for some reason they are ignored and I only see the changes reflected if I put them in the do

[2020-10-15 13:49] benolayinka commented on #3273
If the parameters in `ttn-lw-config-docker.yml` are ignored we need to figure out why! Can you share your `docker-compose.yml` and `ttn-lw-config-docker.yml` so that we can try to reproduce the issue?

[2020-10-15 14:21] TheIronNinja commented on #3273
Sure. This are the contents of the docker-compose.yml:

[code]

And here the contents of the ttn-lw-stack-docker.yml:

[code]

[2020-10-15 14:52] benolayinka commented on #3273
ah, you're missing

[code]

See [here](https://thethingsstack.io/getting-started/installation/configuration/docker-compose.yml) for an example file, and [here](https://thethingsstack.io/getting-started/installation/configuration/#entrypoint-and-dependencies) for an explanation

[2020-10-16 06:01] TheIronNinja commented on #3273
If I add that option I get the following log when trying to start the dockers and the service doesn't start:

`stack_1      | open /config/stack/ttn-lw-stack-docker.yml: no such file or directory`

I've changed the path and the filename to match the ones that I have, which are the ones explained in the Getting Started guide that you linked. Using `/config/ttn-lw-config-docker.yml` has the same res

[2020-10-16 14:46] rvolosatovs opened #3370 "Support devices resetting FCnt"
#### Summary

Current NS Redis matching implementation does not support devices resetting frame counters

#### Why do we need this?

This is a feature we need to support

#### What is already there? What do you see now?

Occasional matching of devices resetting FCnt if 32-bit FCnts are used

#### What is missing? What do you want to see?

FCnt reset support

#### How do you propose to implement th

[2020-10-18 12:35] #3340 closed, assigned to bafonins

[2020-10-18 12:36] bafonins commented on #3340
@ama9910 See https://github.com/TheThingsNetwork/lorawan-stack/pull/3354. This feature will be available in the next release!

[2020-10-18 17:35] #3361 closed, assigned to bafonins

[2020-10-19 08:46] johanstokking commented on #3357
I think it makes perfect sense to serve these from AS. We already have configuration for remote HTTP access, i.e. for webhooks.

If we tie the webhook repository to the release, we can use existing assets syncing to a CDN, but I think the feature of the webhook repository is that it's dynamic. So let's serve these from AS and don't bother too much.

[2020-10-19 09:23] #3338 closed, assigned to adriansmares

[2020-10-19 09:36] TheIronNinja commented on #3273
I was testing right now and this seems to not be true by the way.  This parameter is, at the very least, used when I try to login to the server via the CLI. If I comment the parameter and do a login it tries to send me to `localhost` which causes an error since my computer is not running a server, but with the parameter active it sends me to my domain and everything works as explained above.

[2020-10-19 09:37] kschiffer opened #3371 "Setting up OAuth clients without logout redirect URI can lead to redirect loops"
#### Summary
When oauth clients are setup without `--logout-redirect-uri`, it can lead to the redirect URI being set as `/` which will cause infinite redirect loops to the logout endpoint of the OAuth backend.

#### Steps to Reproduce

1. Setup a client without `--logout-redirect-uri`
2. Logout from the console
3. Experience an `ERR_TOO_MANY_REDIRECTS` error, which will be communicated differently

[2020-10-19 11:16] bafonins opened #3372 "Fix end device wizard values reset"
#### Summary

Currently, it is not possible to reset/overwrite most of the fields in the end device wizard.

#### Steps to Reproduce

1. Open the basic settings step
2. Fill in the end device name
3. Go to the next step
4. Go back to the basic settings step
5. Remove the end device name
6. Finish the rest of the wizard steps and submit
7. See that name from (2) is still present in the request payl

[2020-10-19 12:17] htdvisser opened #3374 "v3.10.0-rc1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [ ] Update the `CHANGELOG.md` file
  - [ ] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-10-19 13:00] rvolosatovs commented on #3370
Closed by #3375

[2020-10-19 13:00] #3370 closed, assigned to rvolosatovs

[2020-10-19 13:48] kschiffer commented on #2663
Since the documentation was moved (#3297) to a separate repository. We need to discuss ways to ensure that references in the Console stay valid. The same also goes for the Documentation icon PR #3162.

@benolayinka @bafonins please elaborate.

[2020-10-19 15:24] mjamescompton commented on #2567
@kschiffer unable to recreate error, could you check. I've downgraded chrome to version 80 so that the cross is still included in the calendar field, but not sure if the error can still be displayed

[2020-10-19 21:47] neoaggelos commented on #3042
Closing this, let's reopen if there is interest.

[2020-10-19 21:47] #3042 closed, assigned to neoaggelos, kschiffer, johanstokking, bafonins

[2020-10-20 15:56] #3372 closed, assigned to bafonins

[2020-10-21 07:09] #3374 closed, assigned to htdvisser

[2020-10-21 17:02] neoaggelos commented on #1406
After looking into this issue in depth, and taking into consideration the existing comments and pointers, I think the implementation that makes sense the most is:

- Add a generic `ratelimiting` package, possibly based on Throttled. It can use either local-memory or Redis record keeping. We should not enforce either (rather, make sure that both can be used).
- For user-facing gRPC (and HTTP) calls

[2020-10-22 08:41] benolayinka opened #3394 "Poorly formatted password errors"
#### Summary

Error text for password errors on account creation is missing some words

#### Steps to Reproduce

1. Go to the create account page in the console
2. Enter passwords that don't match or are too short

#### What do you see now?

<img width="544" alt="Screenshot 2020-10-22 at 10 25 20" src="https://user-images.githubusercontent.com/6963436/96846917-d4808b80-1452-11eb-9c67-03c9ef199bc1.

[2020-10-22 08:47] benolayinka opened #3395 "Strange login redirect"
#### Summary

When I login with a newly created account, I'm redirected to an unformatted oauth page and I have to reenter the console url to get to the console.

#### Steps to Reproduce

1. Create an unapproved account
2. Login

#### What do you see now?

<img width="1447" alt="Screenshot 2020-10-22 at 10 26 38" src="https://user-images.githubusercontent.com/6963436/96847680-c54e0d80-1453-11eb-9d

[2020-10-22 09:19] johanstokking opened #3396 "Approve user link in "user is waiting for approval" email"
#### Summary

Add an "approve" link in the email sent to admins when a user is waiting for approval. This link would automatically set the user state to reviewed and approved.

#### Why do we need this?

So that users don't have to go in the concerning Console, to User Management, find the user and set state reviewed and approved. This is error prone also when mixing up the user IDs.

#### What is

[2020-10-22 09:23] kschiffer commented on #3395
Duplicate of https://github.com/TheThingsIndustries/lorawan-stack/issues/1968

See also https://github.com/TheThingsIndustries/infrastructure/issues/757

[2020-10-22 09:23] #3395 closed, assigned to kschiffer

[2020-10-22 09:29] kschiffer commented on #3394
Indeed. These errors come from the backend, so I guess since we don't want to change the message there, we'd need to define our own frontend messages for these (using the message code `error:pkg/identityserver:password_strength_min_length`), which then conform to the wording guidelines we have.
cc @htdvisser

[2020-10-22 09:32] #3351 closed, assigned to kschiffer

[2020-10-22 09:34] #3371 closed, assigned to kschiffer

[2020-10-22 09:48] htdvisser commented on #3394
@johanstokking probably knows more, this since he implemented it, but I guess those errors should have been wrapped in a "password not secure enough" error.

[2020-10-23 10:24] TheIronNinja opened #3400 ""Change location settings ->" link in end-device view redirects to a wrong URL"
#### Summary
The URL where it sends you is wrong. It should be `/applications/{app-id}/devices/{dev-id}/location` but it is `applications/{dev-id}/devices/{app-id}/location`. The id's are swapped. This results in the page not found error.

#### Steps to Reproduce
1. Open the console
2. Go to any application end-device
3. Click on the little link on the right hand side, just above the map and below

[2020-10-23 14:01] bafonins commented on #3400
Hi @TheIronNinja! This issue is fixed in `v3.10` (https://github.com/TheThingsNetwork/lorawan-stack/pull/3275).

[2020-10-23 14:01] #3400 closed, assigned to nobody

[2020-10-25 16:03] johanstokking opened #3401 "CLI support for Join Server Application Activation Setting Registry"
#### Summary

CLI support for https://github.com/TheThingsNetwork/lorawan-stack/pull/3277. I missed that when reviewing. CLI support is the minimum when features are released; Console may come later.

#### Why do we need this?

To actually use it without direct API calls.

#### What is already there? What do you see now?

Only API implementation

#### What is missing? What do you want to see?

CLI

[2020-10-26 09:23] htdvisser opened #3402 "v3.10 Release"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-10-26 14:48] pgalic96 opened #3406 "Sending gateway PUT request with empty diff results in an error"
#### Summary

When being in entity general settings, we allow submitting PUT requests with no changes for applications. Currently submitting the same PUT request with empty payload for gateways results in a backend error:

#### Steps to Reproduce

1. Submit a request with to `http://localhost:1885/api/v3/gateways/<gateway_id>` with request payload `{"gateway":{},"field_mask":{"paths":[]}}`
2. Obse

[2020-10-26 18:15] #3324 closed, assigned to kschiffer

[2020-10-26 21:13] johanstokking opened #3408 "Application activation settings"
#### Summary

Application activation settings don't work correctly.

#### Steps to Reproduce

Configure application server settings

#### What do you see now?

1. A panic when setting the activation settings [1]
2. The KEK seems to be mandatory
3. The KEK is used to wrap the network session keys too

[1]

[code]

Please don't try to save vertical space with this kind of code. It's really not worth

[2020-10-27 10:08] htdvisser commented on #3406
This is actually working according to the [specification of a field mask](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#field-masks-in-update-operations). If an update request doesn't specify the fields to update, the operation applies to all fields. In this case, validation fails for one of the (implied) fields to update.

[2020-10-27 10:37] pgalic96 commented on #3406
Then I guess the application validation does not work as intended? Since the same request payload succeeds

[2020-10-27 10:53] htdvisser commented on #3406
I guess you mean gateway.

If you update all fields of a gateway, you also update the "model ID", which must follow a specific pattern, and apparently an empty string is not valid.

[2020-10-27 11:32] pgalic96 commented on #3406
The following PUT request for applications succeeds, with preserving all fields:
`http://localhost:1885/api/v3/applications/my-new-app`

Payload: `{"application":{},"field_mask":{"paths":[]}}`

The response is following:

`{"ids":{"application_id":"my-new-app"},"created_at":"2020-07-06T13:55:28.598Z","updated_at":"2020-10-27T11:30:14.240Z"}`

I expected the same behavior for the gateway PUT reques

[2020-10-27 12:03] htdvisser commented on #3406
I suspect that for the application, all fields are allowed to be empty.

Maybe we should actually reject update requests with empty field masks. In any case the Console should avoid making requests with empty field masks.

[2020-10-27 13:04] htdvisser commented on #3406
Adding @johanstokking and @rvolosatovs (as code owners of the API) for discussion.

Should we update our validation to **require** a field mask to be set on update requests?

The problem is that it technically breaks API, but I think it's justified as a bugfix, since the current behavior is confusing, and could lead to unexpected results when we add fields in newer versions, while a client remains

[2020-10-27 13:07] #3138 closed, assigned to neoaggelos

[2020-10-27 13:15] neoaggelos opened #3410 "Document that location is only updated automatically for authenticated gateways"
#### Summary

Followup for #3326

#### Why do we need this ?

Gateway location can only be updated automatically from status messages when the gateway is authenticated, which excludes gateways connecting over UDP.

#### What is already there? What do you see now?

Comment on the API proto field `update_location_from_status`, noting that it does not work for UDP gateways

#### What is missing? What

[2020-10-27 13:34] #1563 closed

[2020-10-27 13:55] pgalic96 commented on #3406
The change will break application general settings, so that needs to be taken into account.

[2020-10-27 14:15] rvolosatovs opened #3413 "Console support for Join Server Application Activation Setting Registry"
#### Summary

Console support for https://github.com/TheThingsNetwork/lorawan-stack/pull/3277.

#### Why do we need this?

To actually use it without direct API calls.

#### What is already there? What do you see now?

Only API implementation

#### What is missing? What do you want to see?

Console support

#### How do you propose to implement this?

Add a tab in application settings

#### How do

[2020-10-27 14:30] pgalic96 commented on #3406
So, this is handled differently for pretty much every entity general settings form in the Console. @bafonins pointed it out in #3364 , but actually submitting a form with no fields changed in the organization general form also results in an error (albeit a different one because of a different field mask `[""]` ):

![Screenshot 2020-10-27 at 3 23 11 PM](https://user-images.githubusercontent.com/197

[2020-10-27 14:38] #2807 closed

[2020-10-27 14:59] htdvisser commented on #2446
This prevents some users from migrating from v2 to v3, so setting medium priority.

[2020-10-27 14:59] kschiffer commented on #2567
Appears to have been resolved in the meantime.

[2020-10-27 14:59] #2567 closed

[2020-10-27 15:00] johanstokking commented on #2434
@rvolosatovs I don't think we settled on not having a button. I think we should reset automatically with `resets_f_cnt` is set, but we _also_ need a reset button to force-reset (even if `resets_f_cnt` is not set).

Please look if #2446 is actually blocking this issue.

[2020-10-27 15:36] htdvisser commented on #3118
The problem here is not actually The Things Stack doing something wrong, but instead the fact that we map the ports in Docker-Compose.

Perhaps we should instead expose 80/443 in both docker-compose and The Things Stack config, and stop mapping 80-1885 and 443-8885? If you agree, please close this issue and create a new one for doing that.

[2020-10-27 15:47] neoaggelos commented on #3118
Does it not? The redirect middleware keeps redirecting to port 443, regardless of the configured port (because it always follows the map from https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.9/pkg/web/web.go#L198 (and that value is 0 for the configured HTTPS port). Perhaps a solution would be to add an extra redirect port (e.g. from 8885 to 8885). Also see the curl examples in the descrip

[2020-10-27 16:10] rvolosatovs commented on #2446
@johanstokking coming back to the discussion we had during sync, this issue addresses specifically decreasing FCnt via device registry and resetting MAC state in response to that, such that a button in the console would then set the FCnt of the device to 0 or other value for reset

[2020-10-27 16:18] laurensslats commented on #1140
@benolayinka can we revisit this list and see what gateway documentation we still want to add?

Suggesting to:
- Look at the Kerlink documentation, we might be able to improve the quality
- Tektelic gateways with Basics Station
- RAK with UDP & Basics Station

[2020-10-27 18:58] rvolosatovs commented on #2434
It is indeed, see https://github.com/TheThingsNetwork/lorawan-stack/issues/2446#issuecomment-717351969
We settled on having a button, which does this: https://github.com/TheThingsNetwork/lorawan-stack/issues/2434#issuecomment-621117680

[2020-10-27 20:02] johanstokking commented on #3334
@chrisbouchat which packet forwarder are you using exactly, i.e. on the MultiTech? I need the version that it reports when it starts.

The idea of buffering downlink messages in GS is indeed because older packet forwarders do not have this buffering capability. So if GS would send downlink messages immediately to the gateway, and there would be multiple, old downlink messages are being overwritten

[2020-10-27 20:22] johanstokking commented on #2434
OK, so. the labels are correct then.

[2020-10-27 20:34] rvolosatovs opened #3416 "Correlation ID consistency in Network Server"
#### Summary

Correlation IDs should be consistent and meaningful in Network Server

#### Why do we need this?

To provide easier means of debugging and perhaps tracing in the future

#### What is already there? What do you see now?

For example, the invalidation application uplink correlation IDs only contain the data uplink correlation IDs, not the correlation ID of the actual downlink scheduled

[2020-10-27 22:22] johanstokking opened #3418 "Downlink queue invalidated event not sent upstream on pub/sub"
#### Summary

The downlink queue invalidated event is not sent upstream by the pub/sub middleware.

#### Steps to Reproduce

1. Configure any pub/sub
2. Configure skipping application payload crypto
3. Send uplink

#### What do you see now?

The downlink queue invalidation message is not being published. This message type is simplu not supported.

It is needed because upstream application layers n

[2020-10-28 08:36] laurensslats commented on #2770
It can be exactly the same in all deployments (enterprise as well as open source).

Documentation: https://thethingsstack.io/
Support: https:/thethingsindustries.com/support

[2020-10-28 09:54] johanstokking commented on #3406
If the field mask is empty, the value should not be taken from the body, right?

I think that supplying an empty field mask should be a no-op on update. It could be used by clients to ensure the entity exists and/or that there's valid auth to make an actual change.

The issue reported by @pgalic96 seems to be that we require certain fields on `PUT`, but I don't think that we should be doing that.

[2020-10-28 10:07] htdvisser commented on #3406
This would violate the protobuf specification of a field mask which says that if an update request doesn't specify the fields to update, the operation applies to all fields.

Our validation middleware respects the protobuf specification, and therefore validates the fields specified in the field mask, or all fields if the field mask is empty.

[2020-10-28 10:54] #3408 closed, assigned to johanstokking

[2020-10-28 12:50] johanstokking commented on #3406
But you are suggesting to deviate from protobuf specification, right, by not allowing empty field masks?

There may be other issues when not supporting empty field mask, especially on create, i.e. when there are no fields to be set.

[2020-10-28 14:18] #3418 closed, assigned to johanstokking

[2020-10-29 08:05] bafonins commented on #1067
It seems that this is already implemented. https://github.com/TheThingsNetwork/lorawan-stack/pull/3064 exposes all password related configuration and it is possible to configure those via `is.user-registration.password-requirements.{min_length|max_length|min_uppercase|min_special|min_digits}` flags.

@pgalic96 please reopen if you think that anything is missing.

[2020-10-29 08:05] #1067 closed

[2020-10-29 08:22] johanstokking commented on #3333
Can we do this with a contextual override for the tenant?

[2020-10-29 09:00] htdvisser commented on #3406
Requiring a field mask is allowed by the specification:

[2020-10-29 09:18] johanstokking commented on #76
@neoaggelos @rvolosatovs I updated the original comment based on progressive insight and what we already implemented in the meantime.

[2020-10-29 10:05] johanstokking commented on #3334
I had a closer look at the logs. The gateway does in fact have a JIT queue, but apparently GS is scheduling too short:

  |   |   | Diff
-- | -- | -- | --
3458319307 | SF12BW500 | 14 |  
3459479163 | SF12BW500 | 14 | 1159856
3459565993 | SF12BW500 | 14 | 86830
3460143163 | SF12BW500 | 14 | 577170
3460579650 | SF12BW500 | 14 | 436487
3461162905 | SF12BW500 | 14 | 583255
3461759320 | SF12BW500 | 14

[2020-10-29 10:54] rvolosatovs commented on #3333
Yes, but the simplest approach IMO would be to add this as a field to MAC settings and then make MAC settings available as per-tenant override

[2020-10-29 10:55] bafonins opened #3424 "Expose targeted stack component in `devices` service in JS SDK"
#### Summary

We should add functionality to access request details (at least targeted stack component).

#### Why do we need this?

Current shape of payload returned from the `devices` service could be improved. When calling any CRUD method from the `devices` service the client has no information about targeted component. With end devices it is important as those are stored in several storages (i

[2020-10-29 10:59] johanstokking commented on #3333
How does this work with changing this value, with an existing set of devices? Since it's not MAC state, it doesn't get reset, so it would have to be set one-by-one, on the entire fleet of devices for it to be effective?

[2020-10-29 11:01] rvolosatovs commented on #3333
We also have NS-wide default MAC settings, so for a particular tenant those could be set and would apply to all tenant's devices unless more specific (per-device) MAC settings are set.

[2020-10-29 11:34] #3291 closed, assigned to bafonins

[2020-10-29 12:44] rvolosatovs commented on #2871
closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/3421

[2020-10-29 12:44] #2871 closed

[2020-10-30 13:23] ogimenez-smtc commented on #137
Hello @htdvisser , any schedule for that feature ? Thank you

[2020-10-30 13:38] htdvisser commented on #137
No. Since token auth works just fine, there is not a lot of demand for it, so the core team is working on features with higher priority. Of course, our community is welcome to pick this up. Would you be interested in contributing this feature yourself?

[2020-10-30 13:39] ogimenez-smtc opened #3426 "CUPS - Server is not forwarding credentials and trust CA to the gateway"
#### Summary
CUPS server is not providing credentials (`Authorization: Bearer XXXX`) to the gateway
CUPS server is not providing trust certificate to the gateway

#### Why do we need this?
Following documentation it seems that TTI recommend to use HTTP header `Authorization` over TLS credentials (covered by #137), but I am not able to make it work: CUPS server is only providing the websocket URI

[2020-10-30 13:43] ogimenez-smtc commented on #137
ok thank you for the status, I am too limited in Go knowledge to implement it :(

It is fine to use auth tokens as long as #3426 is fixed

[2020-10-30 13:46] KrishnaIyer commented on #3426
With #2865, this is quite easily doable. I'll add some documentation.

[2020-10-30 16:38] MatteMoveSRL opened #3427 "Multicast registration and multicast downlink"
Hello every one,

**Summary**

Issues regarding _MULTICAST DEVICES REGISTRATION_ and _MULTICAST DOWNLINK_ via the console and CLI

**Steps to Reproduce multicast registration via the console**

-  I added an end-device with the following parameter:
      - Activation mode: Multicast
      - LoRaWAN version: MAC V1.0.3
      - DevEUI: nothing
      - Frequency plan: SF12 for RX2
      - Frame count

[2020-10-31 11:28] #3116 closed, assigned to benolayinka

[2020-11-02 10:16] pgalic96 commented on #1703
@htdvisser I remember you saying that you will comment on this issue with some additional info regarding this, seems clear enough with the linked issues, is there anything to add from your side?

[2020-11-02 10:24] htdvisser commented on #1703
I haven't had time to investigate yet, but I can imagine that it's not as straightforward as it sounds.

From the top of my head:

- You might run into surprises with rights checks, as the caller may not have rights to an entity that doesn't really exist
- You'd have to consider linked models:
  - Permanently deleting a gateway should also delete antenna models, attribute models, contact info mode

[2020-11-02 10:41] bafonins opened #3429 "Add `(This is you)` hint to user entries in user-management tables"
#### Summary

Tables that show user entries should append a `(This is you)` message next to the user id, to improve clarity.

See https://github.com/TheThingsNetwork/lorawan-stack/issues/1563

#### Why do we need this?

Improve clarity for the user.

#### What is already there? What do you see now?

Plain display of the user id.

#### What is missing? What do you want to see?

A hint that an entry

[2020-11-02 14:18] bafonins opened #3432 "Fix next button title in end device wizard in the Console"
#### Summary

<img width="825" alt="Screenshot 2020-11-02 at 15 49 39" src="https://user-images.githubusercontent.com/16374166/97878053-c837e080-1d26-11eb-9ccb-e022663a42ed.png">

#### Steps to Reproduce

1. Go to the end device wizard
2. Submit configuration form
3. See the title on the next title

#### What do you see now?

Wrong title on the next button

#### What do you want to see instead?

T

[2020-11-02 15:01] #3432 closed, assigned to bafonins

[2020-11-03 07:53] #3402 closed, assigned to htdvisser

[2020-11-03 08:20] johanstokking commented on #263
Device repository is now setup; https://github.com/TheThingsNetwork/lorawan-devices.

Will file follow-up issues on implementing this in the Console for onboarding devices.

[2020-11-03 08:21] johanstokking commented on #263
Closed by https://github.com/TheThingsNetwork/lorawan-devices/pull/11

[2020-11-03 08:21] #263 closed

[2020-11-03 09:10] johanstokking opened #3433 "Integrate Device Repository"
#### Summary

Integrate the LoRaWAN Device Repository: https://github.com/TheThingsNetwork/lorawan-devices.

This issue spans onboarding new end devices.

References #2813

@neoaggelos is the implementer, work with @htdvisser for [index and search](https://blevesearch.com).

@kschiffer please design and implement Console UX for browsing end devices by brand, model and potentially firmware and hard

[2020-11-03 09:17] johanstokking commented on #2777
@bafonins what is this blocked on?

Removing `prio/medium`

[2020-11-03 09:20] johanstokking commented on #2770
Let's do this when we have a stable URL: https://www.thethingsindustries.com/docs

Blocked by https://github.com/TheThingsIndustries/thethingsindustries.com/issues/245

[2020-11-03 09:21] johanstokking commented on #2047
What is the status here?

[2020-11-03 09:43] #2913 closed

[2020-11-03 12:21] rvolosatovs commented on #2446
After taking another look at this, it makes much more sense to introduce a separate RPC for this. PR's coming soon!

[2020-11-03 12:45] rvolosatovs commented on #3433
@johanstokking so this will be handled fully by NS clients then and NS itself should not use device repository itself? I.e. https://github.com/TheThingsNetwork/lorawan-stack/blob/ceb68e8d1a0e32dbbb222eb82a42ceed2b3e1169/pkg/networkserver/grpc_deviceregistry.go#L373-L375 this is not going to be used, is that correct?

[2020-11-03 13:03] johanstokking commented on #3433
Yes, good point, that is correct. The clients will work with the DR component directly and create the `EndDevice` in the respective device registries as normal. This works like importing devices works too.

[2020-11-03 14:53] htdvisser commented on #2798
Let's move this discussion to November

[2020-11-03 15:20] benolayinka commented on #3433
Walked through adding a device and have the following comments (created issues in the repo too):

- Schema doesn't check for missing `firmwareVersions` though it's required
- Schema validation errors could use a one-liner printing the error as human readable, i.e "Schema error in index.yml. Value 'example.com' of field 'website' is invalid."

Currently looks like:

[code]

[2020-11-03 16:16] bafonins commented on #2047
@johanstokking https://github.com/TheThingsNetwork/lorawan-stack/pull/3065 is ready for review. I added all high and some medium priority fields.

[2020-11-03 16:19] bafonins commented on #2740
@johanstokking Do you think that adding uplink and downlink counts on the application overview page is needed? Currently, we display the counts only on end device/gateway overview pages.

[2020-11-03 16:23] bafonins commented on #2777
@johanstokking The UI is blocked on https://github.com/TheThingsNetwork/lorawan-stack/issues/2813.

Nothing is blocking us from extending console configuration with a list of extra join servers. However, I would prefer adding the configuration and adapting the UI in the same PR

[2020-11-03 18:35] johanstokking commented on #3433
Fix that, thanks. Output is now:

[code]

[2020-11-03 18:44] johanstokking commented on #2740
No, I think we shouldn't do that until we have proper aggregates from the Event Server.

[2020-11-04 09:11] johanstokking commented on #3342
OK, let's go with:

@rvolosatovs please implement this when it becomes necessary.

[2020-11-04 09:11] #3342 closed, assigned to htdvisser, rvolosatovs, KrishnaIyer, johanstokking, adriansmares

[2020-11-04 10:48] pgalic96 commented on #1703
@htdvisser

In this case it makes most sense to me to require the user to not own any entities before purging. Would this make sense?

[2020-11-04 13:29] bafonins commented on #2740
Then this issue can be closed

[2020-11-04 13:29] #2740 closed

[2020-11-04 13:56] htdvisser commented on #1703
There's a separate discussion about this in https://github.com/TheThingsIndustries/lorawan-stack-support/issues/184

[2020-11-05 08:47] johanstokking commented on #3427
@MatteMoveSRL thanks for your issue. If you are a TTI customer with a support plan, best is to use the support channel.

We use issue templates here so that we get information in a structured way.

---

We need reproduction steps for this, please edit your post to follow the issue template.

---

See https://thethingsstack.io/devices/class-c-multicast/, then the second note under **Multicast Group

[2020-11-05 08:59] #3429 closed, assigned to asmulko

[2020-11-05 10:42] MatteMoveSRL commented on #3427
@johanstokking Thanks a lot for the answers!

I Updated my issues tring to get the information in a structured way as you suggested. I hope that it's understandable

I still don't understand this two points:

Thank you a lot in advance for your time and your reply.

[2020-11-05 14:12] kschiffer opened #3442 "Add syntax validation for payload formatters"
#### Summary
We currently allow any string value to be set as payload formatter. This makes it hard for users to find out about basic syntax issues in their payload formatter scripts.

#### Why do we need this?
- Assisting users better when setting payload formatters
- Avoid easily preventable setting of faulty payload formatters

#### What is already there? What do you see now?
In the console we

[2020-11-06 12:45] adriansmares commented on #3357
Blocking https://github.com/TheThingsNetwork/lorawan-webhook-templates/pull/7.

[2020-11-06 13:21] kartben commented on #864
+1 :)

[2020-11-06 14:24] johanstokking commented on #3427
Apart from the absolute time, which is in the past, it doesn't look wrong.

But, is `gtwid` a connected gateway? Do you see the downlink scheduled in the Console, when looking at the gateway traffic?

We haven't implemented the Remote Multicast Setup protocol in the Application Server yet. So we don't correlate this. The multicast device is a virtual device. If your end device understands downlink

[2020-11-06 14:25] johanstokking commented on #3442
We can probably catch a few things already when evaluating the script. However, we'd need to check all code execution paths to see if the script makes sense. This is already being enforced by the Device Repository.

In any case, catching low hanging fruit errors like entering Lua instead of JavaScript, or using ES6 language features, is easy to catch. Application Server can do that.

[2020-11-06 18:38] MatteMoveSRL commented on #3427
@johanstokking  Thanks for the quick reply

Yes the gateway is connected and i used "gw-test" instead of "gtwid" in the mosquitto command.

![gateway1](https://user-images.githubusercontent.com/73709867/98395981-58df2b00-205d-11eb-97a3-087f1dea77fe.PNG)

No I don't see any downlink arriving in my gateway "live data" but instead i saw some data arriving in the section "live data" of my application

[2020-11-09 07:26] johanstokking commented on #3427
Please subscribe to the gateway event log with;

[code]

Also enable debug logs (`log.level: debug`).

Then schedule the downlink message and observe logs and gateway events.

---

Yes, that is how LoRaWAN works. Every class C device listening on that frequency with that specific data rate will receive the message. They will look at the DevAddr of the message to see if it matches a (multicast) ses

[2020-11-09 10:20] kartben commented on #864
FWIW I just learned this is supported in v3 (and I just tested it successfuly) thanks to the `redis.tls.require` configuration flag.
See https://thethingsstack.io/reference/configuration/the-things-stack/#redis-options for more Redis options.

[2020-11-09 10:29] bafonins opened #3450 "Improve `<Form />` component"
#### Summary

There a bunch of improvements we can implement for the `<Form />` component.

#### Why do we need this?

Performance, UX improvements.

#### What is missing? What do you want to see?

- [ ] Resolve https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.10/pkg/webui/components/form/field/index.js#L128-L129
- [ ] Update `formik` and `yup` to the latest versions.
- [ ] Do not rerende

[2020-11-09 10:51] bafonins opened #3451 "Improve `<Modal />` component"
#### Summary

There a bunch of improvements we can implement for the `<Modal />` component.

#### Why do we need this?

Better UX

#### What is missing? What do you want to see?

- [x] Disable scrolling of background content when the `<Modal />` component is visible
- [x] Add functionality to cancel, approve the modal actions using only keyboard (`Esc` and `Enter` keys).
- [x] Add aria attributes

[2020-11-09 11:46] johanstokking commented on #864
Awesome! So we can close this?

[2020-11-09 11:46] #864 closed

[2020-11-09 16:32] MatteMoveSRL commented on #3427
@johanstokking  Thanks for your reply.

Thanks I got it.  You were really clear.

I'm pretty sure that i've set the right parameters.  In my opinion the problem could be how I schedule downlink with MQTT or something regarding the gateway.  I'll try this week following your good tips and get back to you.

[2020-11-10 09:27] pgalic96 commented on #1703
So right now I made it possible to purge entities no matter if they are already soft-deleted or not. In this implementation purge always performs all the checks that soft-delete also does, so for example if application still has devices, the purge will fail (as you mentioned in the comment in this issue). Judging by your comment, should purge be restricted by the rules that apply to soft-delete, e

[2020-11-10 11:36] johanstokking commented on #1703
I'm strongly in favor of having deletion checks on soft-delete. As long as we don't have an option to undo a soft-delete, and purging would fail because of additional checks (i.e. app has devices), we can still get in an invalid state.

[2020-11-10 12:10] adriansmares opened #3455 "Add HTTP client timeout to the LoRaCloud DAS client"
#### Summary

The HTTP client used by LoRaCloud DAS needs HTTP read/write timeouts.

#### Why do we need this?

As the client is shared between applications and tenants, the underlying connection pool can be consumed by invalid endpoints.

#### What is already there? What do you see now?

The package uses `http.DefaultClient`.

#### What is missing? What do you want to see?

The client should use

[2020-11-10 12:13] pgalic96 commented on #1703
Yeah I didn't mean removing the checks for soft-delete (i.e. organization rights check should definitely be part of soft-delete logic), just whether we should enforce the same checks for purge. For me it would make sense to have them, since if the checks are not performed we might end up in an invalid state anyways. @htdvisser suggested that we shouldn't perform these checks for purge, as it might

[2020-11-10 13:26] neoaggelos commented on #3455
Related #2533

[2020-11-10 20:02] pgalic96 opened #3458 "Transfer full entity rights to another user on soft-delete of user"
#### Summary

When soft-deleting a user, specify another user to transfer rights for entities that do not have another user that has `_ALL` rights for them.

#### Why do we need this?

Prevent having entities that no user has full rights to.

#### What is already there? What do you see now?

User delete logic that simply soft-deletes the user without checking any linked models.

#### What is missi

[2020-11-11 10:19] kschiffer opened #3460 "Documentation link validation in the Console"
#### Summary
The documentation was recently moved to a separate repository. This makes it harder for us to validate the validity of documentation references we have in the Console, e.g. via `<DocLink />`. It would be good to have some automated process in place as part of the CI to avoid dead links to the documentation.

#### Why do we need this?
To avoid dead links to the documentation in the Con

[2020-11-11 10:45] adriansmares opened #3462 "Revisit middleware order for gRPC and HTTP"
#### Summary

We should revisit the order of our middleware for both gRPC and HTTP.

#### Why do we need this?

Certain middlewares indirectly depend one upon another. Take the server side TTI middleware order:

https://github.com/TheThingsIndustries/lorawan-stack/blob/v3.10/pkg/rpcserver/rpcserver.go#L148-L162

The errors interceptor for example is very low on the chain. This is fine for the fina

[2020-11-11 11:08] #3462 closed, assigned to htdvisser, rvolosatovs, KrishnaIyer, johanstokking, adriansmares

[2020-11-11 11:09] adriansmares commented on #3462
Migrated to https://github.com/TheThingsIndustries/lorawan-stack/issues/2426

[2020-11-11 14:48] neoaggelos opened #3465 "Use `start-single-node` command when using CockroachDB as database"
#### Summary

From CockroachDB 20.2 onwards, the `cockroach start` command is no longer supported, and `start-single-node` must be used instead.

#### Steps to Reproduce

1. Pull the latest `cockroachdb/cockroach` image
2. `docker-compose up -d`

#### What do you see now?

The database never comes online, since the `start` command is no longer supported.

#### What do you want to see instead?

We

[2020-11-11 15:23] #3465 closed, assigned to neoaggelos

[2020-11-11 16:08] #2663 closed

[2020-11-11 16:15] benolayinka commented on #1759
Moved to https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/83

[2020-11-11 16:15] #1759 closed

[2020-11-11 16:17] benolayinka commented on #3085
Closed by https://github.com/TheThingsIndustries/lorawan-stack-docs/commit/99c308bf0a90bb0c240d26626038ff4864a314ad

[2020-11-11 16:17] #3085 closed, assigned to benolayinka

[2020-11-11 16:20] benolayinka commented on #3124
@johanstokking is there a way to move this issue to https://github.com/TheThingsIndustries/lorawan-stack-docs/tree/master/doc or do I have to close and recreate it?

[2020-11-11 18:22] bafonins commented on #3124
@benolayinka close and recreate it. there is no functionality to transfer issues between repositories as far as I know 🤷‍♂️ we usually just recreate those and mention the initial issue

[2020-11-12 08:44] johanstokking commented on #3273
What is the status here?

@benolayinka is this being addressed with self-signed certs on localhost?

@kschiffer can we show at least the full error for users to see what's going on? I.e. wrong issuer, expired cert, wrong host name?

[2020-11-12 08:49] johanstokking commented on #3177
@KrishnaIyer changed this from a gateway secret in IS to authenticating the gateway on the V2 Account Server.

[2020-11-12 08:51] johanstokking commented on #3167
@benolayinka you can do this yourself. Please let us know if you need help!

[2020-11-12 08:55] johanstokking commented on #2967
Triaging this issue costs more time than doing it.

[2020-11-12 08:55] johanstokking commented on #2887
Is this in progress?

[2020-11-12 08:56] johanstokking commented on #2887
Is this in progress?

[2020-11-12 09:00] johanstokking commented on #2798
@rvolosatovs what is your objection against moving to vanilla with a custom JSON marshaler?

[2020-11-12 09:01] johanstokking commented on #2777
Please include this in the new screens for end device creation.

[2020-11-12 09:02] johanstokking commented on #2813
What is the status here?

@kschiffer how far are you with the new screens and can you share ideas here?

[2020-11-12 09:06] johanstokking commented on #2664
Can we make this actionable?

@kschiffer can we start with low hanging fruit?

[2020-11-12 09:09] KrishnaIyer commented on #3177
😭

[2020-11-12 09:10] KrishnaIyer commented on #3177
So v3 GS talks to V2 AS?

[2020-11-12 09:13] johanstokking commented on #2410
@benolayinka please re-open if this is still relevant.

[2020-11-12 09:13] #2410 closed

[2020-11-12 09:15] #3118 closed, assigned to neoaggelos

[2020-11-12 09:15] johanstokking commented on #2269
Let's reschedule when we have a device that actually needs this.

[2020-11-12 09:19] kschiffer commented on #2887
This is not in progress anymore. I had to close two attempts to improve this because it was not verifiable that these solutions helped. The situation improved significantly after virtualizing the lists via #3229 but there's still a point of failure when the event view receives thousands of events. I somehow missed opening a PR that will solve this by limiting the number of events displayed in the

[2020-11-12 09:41] johanstokking commented on #1422
@kschiffer what is the status here?

[2020-11-12 09:41] johanstokking commented on #1406
What is the status and action item hee @neoaggelos ?

[2020-11-12 09:44] johanstokking commented on #1140
Please open issues specific for gateway models.

[2020-11-12 09:44] #1140 closed

[2020-11-12 09:51] johanstokking commented on #35
Let's do this indeed later.

---

Start with tracking consumed airtime for uplink messages in the Network Server. This would be a lifetime device specific field. Additionally, store it in the session, so we have both.

[2020-11-12 09:54] johanstokking commented on #3433
Looped in @htdvisser for generating an index.

[2020-11-12 10:04] johanstokking commented on #2605
@bafonins What is the status here? What should be done on the short term?

[2020-11-12 10:05] kschiffer commented on #1422
Currently rebasing my work on the new scaffold, which is ongoing here: #3453

Next up is rebasing, fixing and PRing the authenticated views and adjusting the current designs to the new branding.

[2020-11-12 10:08] rvolosatovs commented on #2798
The huge migration burden and loads of boilerplate if we end up just using vanilla protos directly.
I don't really object to that though, I just think we should try to find a simple non-intrusive alternative first and if that's not possible, then resort to reworking this whole thing.

[2020-11-12 11:29] bafonins opened #3469 "Fix field styling"
#### Summary

After https://github.com/TheThingsNetwork/lorawan-stack/pull/3162 the login screen looks like this:
<img width="716" alt="Screenshot 2020-11-12 at 13 26 43" src="https://user-images.githubusercontent.com/16374166/98934497-d76b1b00-24ea-11eb-9042-c00b7c264664.png">

#### Steps to Reproduce

1. Go to the login screen on the main branch

#### What do you see now?

Broken field  styling

[2020-11-12 11:58] bafonins commented on #3469
I also noticed that the glossary icon placement varies between desktop and mobile screens:
<img width="154" alt="Screenshot 2020-11-12 at 13 57 07" src="https://user-images.githubusercontent.com/16374166/98937470-1d29e280-24ef-11eb-85f1-727cc7427b22.png">
<img width="242" alt="Screenshot 2020-11-12 at 13 57 37" src="https://user-images.githubusercontent.com/16374166/98937475-1e5b0f80-24ef-11eb-890

[2020-11-12 12:06] kschiffer commented on #2887
\-> #3470

[2020-11-12 12:10] kschiffer commented on #2887
Also, these two comments provide some insight into what I tried to do and what issues I had:

https://github.com/TheThingsNetwork/lorawan-stack/pull/3329#issuecomment-712410891

https://github.com/TheThingsNetwork/lorawan-stack/pull/3330#issuecomment-712937573

Hopefully, this will help future attempts to address the issue more thoroughly.

[2020-11-12 12:53] kschiffer commented on #3469
Appears like @benolayinka rebased, force-pushed and merged his outdated local branch instead of the updated one.

[2020-11-12 13:17] bafonins commented on #3469
Additionally, with https://github.com/TheThingsNetwork/lorawan-stack/pull/3162 we no longer can use `cy.findByLabelText` directly. For fields with the glossary icon we must must regex, e.g. instead of `cy.findByLabelText('LoRaWAN Version')`, `cy.findByLabelText(/LoRaWAN Version/)` must be used.

[2020-11-12 13:38] kschiffer commented on #3469
That can be fixed by adjusting the markup and styling a little so that the label content stays pure. However, I don't have time to work on that now.

[2020-11-12 14:42] johanstokking commented on #3124
There is but not across Github accounts.

[2020-11-12 14:43] johanstokking commented on #3177
Yes.

[2020-11-12 15:00] johanstokking commented on #2798
I'm afraid that any plugin that we start to rely on will end up in an unmaintained state at some point. Generally speaking, I'm in favor of keeping things as close to vanilla as possible. If that means `nil` checking more often than we like, then so be it. It can also work in our favor that we know that things are not set, instead of an initialized struct.

[2020-11-12 15:01] #2967 closed

[2020-11-12 15:02] KrishnaIyer commented on #3177
Ok replaced by https://github.com/TheThingsIndustries/lorawan-stack/issues/2428

[2020-11-12 15:02] #3177 closed, assigned to KrishnaIyer

[2020-11-12 15:10] #3469 closed, assigned to kschiffer, benolayinka

[2020-11-12 16:10] kschiffer commented on #3273
Iirc the exact error gets swallowed by the OAuth package, so that has to be addressed first. I'll take another look to see how we can improve the communication there.

[2020-11-12 16:16] johanstokking commented on #2885
OpenID Connect landed in https://thethingsstack.io/reference/federated-auth/

[2020-11-12 16:16] #2885 closed

[2020-11-12 16:18] johanstokking commented on #3427
Please use the forums for additional questions; we don't answer questions on GitHub issues. Please see the issue templates for that also.

[2020-11-12 16:18] #3427 closed, assigned to nobody

[2020-11-13 09:15] htdvisser commented on #3273
@kschiffer that was already addressed by https://github.com/TheThingsNetwork/lorawan-stack/pull/3352

[2020-11-13 10:17] johanstokking commented on #3273
OK, so what is the action item here? @benolayinka @nejraselimovic what is the user experience now?

[2020-11-13 10:39] kschiffer commented on #3273
Even with #3352, the errors are still mostly unhelpful. E.g. I tried authorizing the console using an incorrect client secret and the error I got was `client is not authorized to request a token using this method`, which is misleading to say the least. The same error is thrown if the client has not set redirect URIs. 

I think these unspecific error messages are a part of the security concept of t

[2020-11-13 12:32] neoaggelos commented on #3433
After glancing at the webhooks templates registry implementation, I understand that the webhook templates are cached and fetched once every X minutes. Is this acceptable for the device repository as well? Could this pose scalability issues if we plan to support searching and indexing for thousands of devices?

In any case, we can always start simple and improve on it with future iterations.

[2020-11-13 14:29] johanstokking commented on #3433
@htdvisser therefore suggested to generate an index file as part of GitHub actions. That index file can be loaded in Bleve Search.

The DR component would fetch a new index file in the background. Ideally, it would use a URL with cache headers, so it can fetch it frequently.

[2020-11-13 14:31] johanstokking commented on #3273
OK!

[2020-11-14 16:35] adriansmares opened #3476 "Device pending session is nil immediatly after the join accept generation"
#### Summary

In the network server, it seems that `dev.PendingSession` is `nil` immediately after the `JoinAccept` reaches the AS. This can be observed when a downlink queue migration should occur - the pending downlink queue is rejected with `unknown_session` because `dev.PendingSession` seems to be `nil`.

#### Steps to Reproduce

0. Apply the following debug patch:
[code]

1. Initialize stack

[2020-11-16 08:37] bafonins opened #3478 "Add functional tests to `storybook`"
#### Summary

We should look into ways to catch regressions in `pkg/components` in CI.

#### Why do we need this?

1. Make sure that `storybook` is up to date with the latest `pkg/components` and `pkg/lib` changes.
2. Catch errors, warnings in `storybook` in CI
3. Integrate `cypress` to run functional tests on various setups of `pkg/components`
4. Catch `pkg/components` `pkg/lib` regressions

####

[2020-11-16 08:41] bafonins opened #3479 "Add page title assertions to e2e tests"
#### Summary

We should tests page titles within e2e tests. For more details see: https://github.com/TheThingsNetwork/lorawan-stack/pull/3157

#### Why do we need this?

This allows catching more regressions when adding new views or editing existing ones.

#### What is already there? What do you see now?

e2e tests

#### What is missing? What do you want to see?

Assertions on page titles

#### Ho

[2020-11-16 09:06] bafonins opened #3480 "Speed up e2e execution in CI"
#### Summary

Currently, e2e tests already take ~16minutes to execute (~21mins with several end device e2e tests, see https://github.com/TheThingsNetwork/lorawan-stack/pull/3065). Taking into account that most of the console/oauth app is still lacking any tests. Later with more e2e tests CI pipeline will take even more time.

#### Why do we need this?

Make sure we do not end up with long CI execu

[2020-11-16 09:09] bafonins commented on #2605
@johanstokking I created issues with more concrete actions:

https://github.com/TheThingsNetwork/lorawan-stack/issues/3478
https://github.com/TheThingsNetwork/lorawan-stack/issues/3479
https://github.com/TheThingsNetwork/lorawan-stack/issues/3480
https://github.com/TheThingsNetwork/lorawan-stack/issues/3481

I think we can close this. Reopen if necessary.

[2020-11-16 09:09] #2605 closed

[2020-11-16 10:31] bafonins opened #3481 "Add clipboard support for e2e tests"
#### Summary

We should add an easy way to access clipboard in `cypress` e2e tests.

#### Why do we need this?

At least to test API key creation to verify that the user can copy the created key since after closing the modal there is no other way to retrieve the key.

#### What is already there? What do you see now?

Nothing regarding clipboard support in e2e tests

#### What is missing? What do y

[2020-11-16 11:19] #3356 closed, assigned to adriansmares

[2020-11-16 11:19] #3455 closed, assigned to neoaggelos

[2020-11-16 14:41] benolayinka opened #3485 "Download global_conf.json missing tenant ID"
#### Summary

The global_conf json api endpoint is malformed for multi tenant. On the TTI instance when I click the download button I receive

[code]

#### Steps to Reproduce

1. Login to multi-tenant console
2. Go to gateway overview
3. Click **download_console.json**

#### How do you propose to test this?

e2e should probe the endpoint

#### Can you do this yourself and submit a Pull Request?

@

[2020-11-16 15:13] benolayinka commented on #3485
Looks like this is fixed on staging

[2020-11-16 15:13] #3485 closed, assigned to kschiffer, benolayinka

[2020-11-16 16:02] kschiffer commented on #3311
@bafonins this touches on the linking feature discussed today in the Console meeting. It's part of an overall UX enhancement plan regarding event views in the Console. I wanted to collect ideas here and then follow up with specifications (wireframes) for individual actionable issues.

[2020-11-17 03:11] virtualguy opened #3487 "Class C messages intermittently fail to schedule with invalid absolute time"
#### Summary
Class C messages intermittently fail to schedule with "invalid absolute time set in application downlink" when closely spaced.

Is there a minimum time between messages to the same device? Ideally we would have them scheduled 130ms apart but have tried to increase the spacing to 1000ms to mitigate the issue

#### Steps to Reproduce

1. Schedule downlink at current time + 7 sec to gate

[2020-11-17 09:47] benolayinka commented on #252
@htdvisser I don't know enough about the RPC stuff to know what is missing. Can this issue be closed, leaving Roman's part open? -> https://github.com/TheThingsNetwork/lorawan-stack/issues/3167

[2020-11-17 09:50] benolayinka commented on #3112
Moved to https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/97

[2020-11-17 09:50] #3112 closed, assigned to nejraselimovic

[2020-11-17 10:17] htdvisser commented on #252
This has nothing to do with "knowing enough about the RPC stuff", you need to go through the pages under https://thethingsstack.io/reference/api/ and list the services, methods, messages and fields that need improved documentation. If you can make those improvements yourself, that would be great, and otherwise ask code owners for their expertise.

Example(1): The [`EntityRegistrySearch.SearchAppli

[2020-11-17 10:39] #3204 closed, assigned to benolayinka

[2020-11-17 10:42] benolayinka commented on #3460
I think we determined this wasn't feasible

[2020-11-17 10:42] #3460 closed, assigned to benolayinka, bafonins

[2020-11-17 11:50] benolayinka commented on #3410
@kschiffer it would be nice to add a note in the console for this

[2020-11-17 11:51] benolayinka commented on #3410
Proto comments go in the stack definition. Moving this issue.

[2020-11-17 11:51] benolayinka commented on #3410
@htdvisser can you add the proto comment

[2020-11-17 11:52] htdvisser commented on #3311
Not easy to do, and it's not guaranteed to be a unique mapping

I think this needs some more explanation

You mean something like "signal strength bars" for RSSI and SNR values or something?

[2020-11-17 11:54] htdvisser commented on #3410
No, you can do this yourself.

[2020-11-17 11:59] htdvisser commented on #3433
Yes, so my idea was to use [bleve](https://github.com/blevesearch/bleve) for searching. The search index would be built (see [indexing](https://github.com/blevesearch/bleve#indexing)) by CI of the device repository and uploaded somewhere. The Things Stack periodically checks for an updated search index (this definitely doesn't have to be every X minutes, more like daily), downloads it and (re)load

[2020-11-17 12:08] kschiffer commented on #3311
I would envision some backend API that lists owned devices by the sessions currently assigned DevAddr. There would be a very slight chance of an address overlap but I think we can take that risk if we communicate that.

For troubleshooting purposes, it is very helpful to be able to cross-link entities inside the event stream:

*   Being able to navigate to an owned end device that received the mes

[2020-11-17 12:21] htdvisser commented on #3311
I figured, and that's exactly what makes it so difficult, because that's not how our database is modeled.

That is absolutely not true. We (will) have hundreds of devices with the same DevAddr. In applications with thousands of devices there is an extremely high chance of multiple devices having the same DevAddr.

[2020-11-17 12:38] kschiffer commented on #3311
Difficult as in impossible?

Alright, had a misconception there. Would there be no way to reliably map the messages back to the owned end device? E.g. using the MIC and DevAddr?

[2020-11-17 12:45] htdvisser commented on #3311
The only reasonable way would be by using the correlation IDs to find related events and use the device identifiers in those.

[2020-11-17 14:03] benolayinka commented on #252
This is exactly my point - I don't know anything about `EntityRegistrySearch.SearchApplications`. What I write will be exactly what someone would guess from reading the title, which adds no value.

It will also take me more time to go through and tag people responsible for individual methods than it would for codeowners to scroll through their APIs and add things they know offhand, like `This also

[2020-11-17 14:09] #3124 closed, assigned to benolayinka

[2020-11-17 14:14] benolayinka commented on #3273
This issue and some others are addressed in https://thethingsstack.io/getting-started/installation/troubleshooting/. Please create issues for specific unaddressed errors

[2020-11-17 14:14] #3273 closed, assigned to benolayinka

[2020-11-17 14:30] benolayinka commented on #3410
Comment is already there https://github.com/TheThingsNetwork/lorawan-stack/blob/cb3838f1778850bc069ac8486297db7683836ac3/api/gateway.proto#L133.

This is probably more important for people to see in the console, assigning @kschiffer

[2020-11-17 15:14] johanstokking opened #3489 "Refactor fetch package"
#### Summary

Refactor the common `pkg/fetch`.

#### Why do we need this?

To allow for fallback to another source, i.e. when a web server goes down. Another source could be another web location, or a local directory, or any other source.

#### What is already there? What do you see now?

Fetching is currently configured for a single source, and the source itself doesn't support a fallback mechani

[2020-11-17 15:25] johanstokking opened #3490 "Remove default UDP address change block"
#### Summary

Remove default UDP address change block

References #1436

#### Why do we need this?

Because the remote address of the UDP client has proven to be unstable and can even change for each session (upstream and downstream)

#### What is already there? What do you see now?

A default value. The connection is kept warm by the active session (e.g. upstream), so the other session (e.g. down

[2020-11-17 19:52] johanstokking commented on #252
Agreed.

Please make the issues actionable (few reviewers) and concrete.

[2020-11-17 22:46] adriansmares commented on #2735
I checked back on my progress from the last month and the issue is that the concept of an application (as in, something you can delete) does not really exist - the AS mainly knows about end device life cycle, but not application life cycle.

Once I'm picking back this issue, I'm going to extend the `As` service with a `DeleteIntegrations` RPC that cleans up the pub/subs / webhooks / application pa

[2020-11-18 09:00] johanstokking commented on #2735
Garbage collection is a broader topic. This also applies to orphan end devices (of deleted applications).

References #3467. We might want to distribute a list of purged entities, like applications and gateways, so that GS, NS, AS and JS can garbage collect.

[2020-11-18 10:06] benolayinka opened #3494 "Improve documentation for applicationserver_integrations_storage API"
#### Summary

@neoaggelos , please look through your API and add descriptions where they are missing. It looks like only the `ApplicationUpStorage` service needs an additional description.

Sub task of #252

See this PR for a gold standard API comments reference -> https://github.com/TheThingsNetwork/lorawan-stack/pull/3181/files#diff-aa11ad1a94ecc7c1db3ead25d3372bdd39c6a25dd998a2902da6e4c1cb3b8fd

[2020-11-18 10:09] benolayinka opened #3495 "Improve documentation for applicationserver packages, pubsub, and web API"
#### Summary

@adriansmares , please look through these API protos and add descriptions where they are missing. It looks like many of the messages need an additional description.

`applicationserver_packages.proto`
`applicationserver_pubsub.proto`
`applicationserver_web.proto`

Sub task of #252

See this PR for a gold standard API comments reference -> https://github.com/TheThingsNetwork/lorawan-s

[2020-11-18 10:18] benolayinka commented on #3167
Reassigning to @rvolosatovs https://github.com/TheThingsNetwork/lorawan-stack/issues/252#issuecomment-729164178

[2020-11-18 10:21] benolayinka opened #3496 "Improve documentation for deviceclaimingserver API"
#### Summary

@johanstokking   , please look through these API protos and add descriptions where they are missing. It looks like many of the messages need an additional description.

`/api/deviceclaimingserver.proto`

Sub task of #252

See this PR for a gold standard API comments reference -> https://github.com/TheThingsNetwork/lorawan-stack/pull/3181/files#diff-aa11ad1a94ecc7c1db3ead25d3372bdd39c

[2020-11-18 12:58] adriansmares opened #3498 "Downlink nack behavior for 1.0.x devices"
#### Summary

The current behavior of the AS may lead to lost queues once a nack arrives, due to the way the downlink queue is recalculated.

#### Steps to Reproduce

Consider the following situation: 3 confirmed downlinks are sitting in the NS downlink queue, and none of them are scheduled yet:
![image](https://user-images.githubusercontent.com/36161392/99532627-e6e3db80-29a4-11eb-84f4-98ac69b6fa

[2020-11-18 13:50] benolayinka opened #3500 "Improve documentation for identityserver API"
#### Summary

@htdvisser , please look through this API proto and add descriptions if they are missing. The message and service names look pretty self explanatory to me, but in case there are any gotchas or you want to provide additional info.

`/api/identityserver.proto`

Sub task of #252

See this PR for a gold standard API comments reference -> https://github.com/TheThingsNetwork/lorawan-stack/

[2020-11-18 14:06] benolayinka opened #3502 "Improve documentation for joinserver API"
#### Summary

@johanstokking  , please look through these API protos and add descriptions where they are missing. The message and service names look pretty self explanatory to me, but in case there are any gotchas or you want to provide additional info.

`/api/joinserver.proto`

Sub task of #252

See this PR for a gold standard API comments reference -> https://github.com/TheThingsNetwork/lorawan-

[2020-11-18 14:09] benolayinka opened #3503 "Improve documentation for lorawan API"
#### Summary

@rvolosatovs   , please look through these API protos and add descriptions where they are missing. It looks like lots of messages could use a description.

`/api/lorawan.proto`

Sub task of #252

See this PR for a gold standard API comments reference -> https://github.com/TheThingsNetwork/lorawan-stack/pull/3181/files#diff-aa11ad1a94ecc7c1db3ead25d3372bdd39c6a25dd998a2902da6e4c1cb3b8

[2020-11-18 14:13] benolayinka opened #3504 "Improve documentation for qrcodegenerator API"
#### Summary

@johanstokking  , please look through these API protos and add descriptions where they are missing. The message and service names look pretty self explanatory to me, but in case there are any gotchas or you want to provide additional info.

`/api/qrcodegenerator.proto`

Sub task of #252

See this PR for a gold standard API comments reference -> https://github.com/TheThingsNetwork/lor

[2020-11-18 14:20] johanstokking commented on #3498
I think that the problem arises here. NS should not schedule a new downlink if a previous confirmed downlink is not acked. It should retry. The downlink frame is lost, so it can retry with the same FCntDown.

[2020-11-18 14:28] neoaggelos commented on #3433
A few notes after doing some initial digging:

Indexing:
- bleve does not work with incomplete words. (e.g. searching for `thing` will not match `The Things Network`)
- bleve works well for searching/sorting/pagination, but only returns ids, so we need a second step that will fetch the actual vendor/device information.
- in that sense, I think we should have all the bleve-related stuff in TTS. e.g

[2020-11-18 14:28] benolayinka commented on #252
Closing this as there are actionable issues for specific APIs

[2020-11-18 14:28] #252 closed

[2020-11-18 15:54] htdvisser commented on #3433
Can't you accomplish that with [`FuzzyQuery`](https://pkg.go.dev/github.com/blevesearch/bleve/search/query#FuzzyQuery) or something?

The [docs for `SearchRequest`](https://pkg.go.dev/github.com/blevesearch/bleve#SearchRequest) say _Fields describes a list of field values which should be retrieved for result documents, provided they were stored while indexing_ so this may not be necessary.

The [G

[2020-11-19 09:29] htdvisser opened #3509 "Release v3.10.1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [ ] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-11-19 09:35] johanstokking commented on #3433
I think it's best to use the fetcher interface only to retrieve the zipped index. I think we should work with a temporary folder to unzip it, indeed until we have a better solution with Go 1.16.

Indeed, use brand in TTS.

That should be BandID instead, in TTS terms. These should be mapped with those defined in `pkg/band`.

ACK

I think it's safest to go with strings

ACK, but what do you mean wit

[2020-11-19 10:28] Oliv4945 opened #3511 "MAC command are transmitted to the AS, without f_port field"
#### Summary
MAC commands sent by the device on `f_port` = 0 creates a message forwarded to the application server:

1. I am not sure that MAC commands on port 0 should trigger messages toward user application server
2. The `f_port` key is not present, maybe because of the way protobuf `MessageToJson()` handles 0 values (see [here](https://github.com/golang/protobuf/issues/258#issuecomment-2623337

[2020-11-19 17:25] rvolosatovs commented on #3511
This will be fixed in 3.11 by this commit https://github.com/TheThingsNetwork/lorawan-stack/pull/3263/commits/e36086b417d76c9dd2fca121a25fa2d0be34308d

[2020-11-19 17:25] #3511 closed, assigned to rvolosatovs

[2020-11-20 10:59] kschiffer opened #3513 "Add support for new RP002 regional parameters specifications"
#### Summary
We don't offer support for the [recently released regional parameters specifications](https://lora-alliance.org/search/RP2) `RP002-1.0.0`, `RP002-1.0.1`, `RP002-1.0.2` yet. Notably, these are applicable to all MAC versions. This is especially relevant for LoRaWAN 1.0.4, for which we currently don't provide a fitting PHY version yet (it needs at least `RP002-1.0.1`).

#### Why do we ne

[2020-11-23 22:54] neoaggelos commented on #3433
Some further notes during initial implementation:

#### API

- [Here is the API](https://github.com/TheThingsNetwork/lorawan-stack/blob/feature/device-repo-api/api/devicerepository.proto) after considering the complete list of fields from the Device Repo. New messages are `EndDeviceBrand` and `EndDeviceModel`. Format closely mirrors https://lorawan-schema.org/draft/devices/1/.
- There are only `Li

[2020-11-24 09:20] KrishnaIyer opened #3515 "Revisit RTT calculation for LBS gateways"
#### Summary

Revisit RTT calculation for LBS gateways

#### Why do we need this?

We use the LBS `RefTime` parameter returned by the gateway to calculate RTT. This may have issues or the way we are using it is incorrect (under certain conditions).

#### What is already there? What do you see now?

We use the LBS `RefTime` to calculate RTT. It's definition;

There are 2 (potential) issues using a

[2020-11-24 09:44] johanstokking commented on #3515
I also think that the high RTTs can be caused by a combination of:

1. No downlink for a long time, i.e. the gateway clock drift over hours results in a skewed `RefTime` relative to the server time. With [0,0002% drift](https://doc.sm.tc/station/time.html#clock-synchronization), we'll have one second drift per 1h23m. It could be that some gateway MCUs have more drift, especially under some circums

[2020-11-24 10:09] KrishnaIyer commented on #3515
Yeah both sound good to me. I'll return with a PR next milestone.

[2020-11-24 10:25] htdvisser opened #3516 "Non-interactive ttn-lw-cli login"
#### Summary

The `ttn-lw-cli login` command is currently always interactive. For scripted deployments however, it could be useful to disable interaction, and use flags for everything.

Background: https://www.thethingsnetwork.org/forum/t/create-api-key-without-user-input-ttn-lw-cli-login-in-a-script/41589

#### What is already there? What do you see now?

- `ttn-lw-cli login` always tries to open

[2020-11-24 10:25] laurensslats opened #3517 "Time when devices are "created" are not updated"
#### Summary
See the 2 devices which show `Now` below the `Created` column.
<img width="1035" alt="Screenshot 2020-11-24 at 11 20 10" src="https://user-images.githubusercontent.com/17290639/100081362-36178980-2e47-11eb-8766-15fdf6e4d6d7.png">

#### Steps to Reproduce

1. Look at the application in TTIs tenant (only access for admins) - [link](https://tti.eu1.cloud.thethings.industries/console/appl

[2020-11-24 10:28] htdvisser opened #3518 "Create API keys with ttn-lw-stack is-db command"
#### Summary

For scripted installations it could be useful to add a `ttn-lw-stack is-db` command that creates API keys.

https://www.thethingsnetwork.org/forum/t/create-api-key-without-user-input-ttn-lw-cli-login-in-a-script/41589

#### Why do we need this?

Because currently the only way to perform actions as a new user is through OAuth, which requires a browser and user interaction (see also #3

[2020-11-24 10:28] johanstokking commented on #3515
Two more notes based on https://github.com/TheThingsIndustries/lorawan-stack-support/issues/203#issuecomment-732805329:

3. Take only the first `RefTime` after sending a `MuxTime` into account. Subsequent reference times are not relevant and may only add clock drift

4. Make sure that we only take `RefTime` into account _after_ we sent a `MuxTime`. Now, if the `RefTime` is a second or higher, we u

[2020-11-24 10:29] laurensslats commented on #3517
Note.

This doesn't happen when adding new devices. It only happend with 2 devices I added in the past.

See:
<img width="1017" alt="Screenshot 2020-11-24 at 11 27 44" src="https://user-images.githubusercontent.com/17290639/100082100-16cd2c00-2e48-11eb-8244-212877a07aa1.png">

[2020-11-24 10:40] KrishnaIyer commented on #3515
So we could just drop recording RTTs for Uplinks/Joins and instead only do it for TxAcks for the corresponding downlinks. This means that for gateways with little or no downlink, we won't be able to get accurate RTTs. I guess this is better than ridiculous RTT values which prevent downlinks being scheduled.

We actually send the first `MuxTime` on the `RouterConfig` message on every re-connect so

[2020-11-24 10:46] johanstokking commented on #3515
Yes.

We only need them for downlink. If there are too few RTTs, GS doesn't take them into account, and schedules downlink anyway as the backhaul gets the benefit of the doubt.

Does the gateway have some sort of NTP? How does it know the absolute time anyway?

[2020-11-24 12:25] #3509 closed, assigned to htdvisser

[2020-11-24 12:35] kschiffer opened #3522 "New end device registration flow (Console)"
#### Summary
The plan of adding the device repository (#3433) and the progressive insight from our current device registration flow in the Console, as well as insights from user interviews, give us the means to rethink device registration as a whole.

![image](https://user-images.githubusercontent.com/5710611/100092494-716d8480-2e56-11eb-9cab-18709d8df79d.png)
(See all annotated wireframes [here](

[2020-11-24 12:42] kschiffer commented on #3433
The wireframes for the device repository-powered device registration flow can be found here: https://github.com/TheThingsNetwork/lorawan-stack/issues/3522

[2020-11-24 13:14] johanstokking commented on #3433
Please file draft PR for API so we can review properly.

Do this on an as-needed basis. Let's not over-engineer things that we don't need.

What would be more elaborate approach be, how would what work, and why would that be necessary?

Validation belongs in DR. Indeed, The Things Stack can assume that the DR is correct.

How do you mean?

These should be converted

Indeed, we don't need `hardware

[2020-11-24 15:35] kschiffer commented on #2828
Superseded by #3522

[2020-11-24 15:35] #2828 closed

[2020-11-24 15:48] benolayinka commented on #3362
@kschiffer , the deployment logos are available here -> https://discuss.thethingsindustries.com/uploads/short-url/yj7EItXAcG2OZbWp0yjnIgJ85q4.zip

Can you add the Open Source one in this repo, and change the console color to enterprise dark blue?

We have a rough mockup here:
![image](https://user-images.githubusercontent.com/6963436/100117227-df28a900-2e74-11eb-855e-c8281128bd30.png)

[2020-11-24 15:50] kschiffer commented on #2806
Closing this in favor of upcoming actionable issues on individual forms.

[2020-11-24 15:50] #2806 closed

[2020-11-24 16:42] kschiffer commented on #2813
With #3522 I also defined a framework for the new form UX. I have updated the OP accordingly and will follow up with more actionable issues, as referenced there.

[2020-11-24 16:55] kschiffer opened #3523 "Save screenshots as artifacts for failed e2e tests"
#### Summary
It would be helpful to have the screenshots of failed end-to-end tests saved as action artifact.

#### Why do we need this?
This can help speeding up fixing failed e2e tests.

#### What is already there? What do you see now?
Nothing of that sort.

#### What is missing? What do you want to see?
Screenshots of failed test steps being uploaded as artifacts, so they will be attached to th

[2020-11-24 17:53] KrishnaIyer commented on #3515
The gateway starts with UTC-0 and uses the server sent `MuxTime` for reference.
[code]

[2020-11-25 12:03] pgalic96 commented on #3458
@johanstokking @htdvisser

I have one concern with this approach:

- Do we want to have an option where user could specify the receiver of `RIGHTS_ALL` per entity? I can see this as something that could be useful if we want to avoid forcing users to assign the same user to be an owner of all concerned entities, possibly an entity where they weren't even a collaborator before the delete? On the oth

[2020-11-25 13:38] htdvisser commented on #3250
Will get back to this after #3467 is merged.

[2020-11-25 15:16] kschiffer opened #3529 "Retire horizontal form layout and use vertical layout only"
#### Summary
As part of the form UX improvements (#2813), we will move towards vertical form layout for all our forms (meaning to display the field label above the field).

#### Why do we need this?
There are a couple of reasons to make this shift:
- Horizontal layout is harder to scan, since there's a high distance between the field label and field input
- Horizontal layout puts a strain on users

[2020-11-25 17:49] neoaggelos commented on #3516
Related #2894

[2020-11-26 07:35] neoaggelos commented on #3433
I have started a draft PR with the initial implementation #3530. A few more things that need to be discussed before implementing:

#### Authentication

- Is there any way to verify that a valid access token is being used without checking for specific rights? Would it be simpler if the DR component require the `RIGHT_APPLICATION_DEVICES_WRITE` right (which is needed anyway for the device creation)?

[2020-11-26 08:11] neoaggelos opened #3531 "Support all Ping Slot Period values from the Device Repository"
#### Summary

Support all Ping Slot Period values from the Device Repository in TTS.

#### Why do we need this?

#3433

#### What is already there? What do you see now?

`enum PingSlotPeriod` supports values up to `PING_EVERY_128S`.

#### What is missing? What do you want to see?

`pingSlotPeriod` in [LoRaWAN Devices Schema](https://lorawan-schema.org/draft/devices/1/) is an enum with values up to

[2020-11-26 08:21] htdvisser commented on #3516
Thanks for linking that, @neoaggelos.

After giving this some more thought, I think it's better to do #3518 instead of this one. With #3518 we can do non-interactive CLI logins with the existing `ttn-lw-cli login --api-key XXX`, and we can keep the OAuth flow interactive, as it should be.

I really don't want to accept username/password as suggested in #2894, so I'll comment and close that issue t

[2020-11-26 08:21] #3516 closed, assigned to neoaggelos

[2020-11-26 08:22] johanstokking commented on #3458
@pgalic96 let's go with one inheriting user for the rights of the deleting user. We may want to come back on this later, but not for now.

[2020-11-26 08:23] htdvisser commented on #2894
Accepting username/password like this is not going to happen. Username/password login will (in the future) be behind CAPTCHA and 2FA, and will be pretty much impossible in the CLI, and definitely in a non-interactive way.

Instead, we'll go for #3518, and use `ttn-lw-cli login --api-key XXX` to do non-interactive CLI logins.

[2020-11-26 08:23] #2894 closed

[2020-11-26 08:40] johanstokking commented on #3433
`DEVICES_READ` seems more sane to me, if @htdvisser doesn't have a suggestion for a `RequireAuthenticated()` for general components.

@htdvisser

A base URL is fine. Indeed we'll probably synchronize the static files to a public bucket with CDN.

The schema already enforces the photos to be local with specific extensions. Videos are guaranteed to be YouTube and Vimeo urls.

Yes, let's extract that

[2020-11-27 09:50] johanstokking opened #3536 "Release v3.10.2"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-11-27 10:59] johanstokking commented on #3536
@htdvisser please close when checked the checks

[2020-11-27 11:43] #3536 closed, assigned to htdvisser

[2020-11-27 13:56] kschiffer opened #3540 "Convert functions to arrow functions"
#### Summary
We recently introduced an eslint warning for not using arrow functions. We should resolve such warnings in one big refactor PR, so that the warning output of eslint becomes unclogged.

#### Why do we need this?
- Annoying verbose and noisy warning output of `eslint`
- Annoying warnings and markings in IDEs
- Noise in PRs when these conversions are committed on top of changes

#### Wha

[2020-11-27 16:00] #2312 closed

[2020-11-27 16:07] adriansmares opened #3542 "Remove linking references from the Console"
#### Summary

References #3263

We should remove any linking references from the Console in the `3.11` branch.

#### Why do we need this?

Linking has been completely removed as of #3263, both from the AS and from the NS. Fundamentally the only thing that is still part of the `ttnpb.ApplicationLink` is the default payload formatter and the application-wide skip-payload-encryption option, but any l

[2020-11-28 00:19] neoaggelos commented on #3489
Self-note; let's consider adding a `FileReader(paths ...string) (io.Reader, error)` method, which should improve handling for large files.

[2020-11-30 07:08] neoaggelos commented on #3433
Work for store and index and search has started at #3543.

The implementation that has been suggested so far is to:
- Build the index files with CI from the Device Repository and make them available _somewhere_
- TTS retrieves the index files, unzips them and then uses them.
- Index files are used for listing brands and models.
- (WIP) TTS periodically updates the index files. That is, retrieve th

[2020-11-30 07:59] johanstokking commented on #3489
What would be the purpose of this?

[2020-11-30 08:04] johanstokking commented on #3433
How is this better than fetching and unzipping an index?

[2020-11-30 10:14] KrishnaIyer opened #3546 "Support LBS Timesync message"
#### Summary

Support [LBS Timesync](https://doc.sm.tc/station/tcproto.html#time-synchronization) message

Refs #3515

#### Why do we need this?

To allow more accurate time sync for LBS gateways with PPS or GPS based sync capabilities.

#### What is already there? What do you see now?

`timesync` message not supported.

#### What is missing? What do you want to see?

- Support downstream `timesyn

[2020-11-30 10:46] KrishnaIyer opened #3548 "Make maxRoundTripDelay for LBS configurable"
#### Summary

Make maxRoundTripDelay for LBS configurable

#### Why do we need this?

With https://github.com/TheThingsNetwork/lorawan-stack/pull/3547, maxRoundTripDelay is a fixed value.

I've done this so that #3547 can land in `v3.10.3` and we can add the config later.

#### What is already there? What do you see now?

#3547 where maxRoundTripDelay is a fixed value

#### What is missing? What d

[2020-11-30 13:04] bafonins commented on #3540
I dont think that global refactor is required. IMO, this should be refactored gradually.

You can disable this in your ide.

In most cases refactoring plain function to arrow function is 2 line diff. I do not consider this to be a big issue.

Overall, we should move towards using arrow functions gradually and changed within feature/fix PR's. Also, this should be a joint effort of everyone working

[2020-11-30 13:19] htdvisser opened #3549 "Clean Up Old Docker Snapshots"
#### Summary

We should periodically clean up old Docker snapshots

#### Why do we need this?

Because we don't need to keep every snapshot forever

#### What is already there? What do you see now?

Every merge to a minor branch (such as `v3.10`) triggers a snapshot build, and pushes an image to `lorawan-stack-dev:<git hash>`. These tags accumulate over time.

#### What is missing? What do you wan

[2020-11-30 14:35] #3401 closed, assigned to neoaggelos

[2020-11-30 14:46] neoaggelos commented on #3433
Two main reasons: (a) We don't need any extra logic/process to manage and update the index files (b). Even with an index, we would still need to fetch templates and codecs over HTTP. This is not an issue for templates, but having the codecs in the local filesystem could greatly favor AS performance and protect from possible network connectivity issues.

I know this deviates a bit from the "standar

[2020-11-30 15:19] bafonins opened #3550 "Event details panel opens without selected event."
#### Summary

![ezgif com-video-to-gif(6)](https://user-images.githubusercontent.com/16374166/100627462-b3ec0100-332f-11eb-8210-51d2488148cf.gif)

#### Steps to Reproduce

1. Go to the `Live data` view of any entity
2. Use `tab` to go through ui
3. After navigating from the `clear` button in the events list the event details panels

#### What do you see now?

The events details panel shows when th

[2020-11-30 15:24] bafonins opened #3551 "Expand nested side navigation entries on focus"
#### Summary

Currently, when navigating via keyboard the

![ezgif com-gif-maker](https://user-images.githubusercontent.com/16374166/100627904-4b515400-3330-11eb-83d7-94f42d71d87f.gif)

#### Why do we need this?

Focused element must be visible.

#### What is already there? What do you see now?

Currently, the user can focus on the main entry and press `<space>` to expand the dropdown with nested

[2020-11-30 15:46] rvolosatovs opened #3552 "Fix handling of duplicates and devices changing matching categories"
#### Summary

Fix handling of duplicates and devices changing matching categories.
In current implementation matching is broken for devices changing categories while matching. E.g. device moving from pending session to current.

#### Steps to Reproduce

1. Register an OTAA device
2. Let the device join
3. Send first uplink in session via multiple gateways

#### What do you see now?

Observe that o

[2020-12-01 15:59] bafonins commented on #3522
Some comments on manual device creation:

1.
<img width="728" alt="Screenshot 2020-12-01 at 17 25 45" src="https://user-images.githubusercontent.com/16374166/100760260-3ccf6f00-33fa-11eb-975a-3ce7067b1135.png">

What does _auto text-select_ mean?

2.
<img width="649" alt="Screenshot 2020-12-01 at 17 30 40" src="https://user-images.githubusercontent.com/16374166/100760981-07775100-33fb-11eb-8e0c-f0

[2020-12-01 16:06] kschiffer commented on #3551
This is what we should do.

[2020-12-01 16:27] kschiffer commented on #3522
What I mean is that when the form has automatically generated a value, and the input gains focus, it will automatically select the input value, so the user can go right ahead and enter something different if he/she whishes to.

Yes, the arrow is a bit misleading here. An entry is generated as shown in the wireframe when the user clicks `+ Add frequency`. When clicking `Add frequency plan frequenci

[2020-12-01 16:36] kschiffer commented on #2694
#3522 includes a fix for the end device registration process and the same behavior can be used for the general settings as well. The updated gateway registration will likely use the same mechanic, but this is still in planning.

I'll remove the `blocked` and `needs/ux` labels, since this is now actionable as part of #3522 at least for end devices.

[2020-12-02 08:35] johanstokking commented on #3433
What extra logic?

Sure. I'm thinking more of a "package" that is built on DR CI, that contains the templates and index.

[2020-12-02 09:09] htdvisser commented on #3489
Before starting work on this, please also read the draft design for the `io.FS` interface that's coming in Go 1.16: https://go.googlesource.com/proposal/+/master/design/draft-iofs.md

The expectation is that we'll soon see several implementations (OS filesystem, HTTP filesystem, S3 filesystem, ...) that implement that interface, so probably smart to go with something similar.

[2020-12-02 09:22] KrishnaIyer commented on #3548
Not necessary since this doesn't break compatibility.

[2020-12-02 09:22] #3548 closed, assigned to KrishnaIyer

[2020-12-02 18:57] pgalic96 commented on #3458
@htdvisser I had the following idea:

`Delete` method should not have any parameters in the body (as per `delete` http method), therefore including user id for the transfer would not make sense here.

The solution is to create a new RPC `TransferOwnedEntityRights` with user id of the receiver as parameter that would perform this task. It would be performed as part of `delete` CLI command. Then as

[2020-12-02 20:51] #251 closed

[2020-12-03 10:03] #1703 closed

[2020-12-03 10:47] #3362 closed, assigned to kschiffer

[2020-12-03 10:51] danrs commented on #1230
It would be good to mention this in the [configuration instructions](https://thethingsstack.io/getting-started/installation/configuration/), specifically the section at the bottom discussing deployments on localhost using the machine's static IP in place of `localhost`.

[2020-12-04 08:19] #3500 closed, assigned to htdvisser

[2020-12-04 12:01] wienke commented on #2435
So is it time now to start hiring translators? I mean we can already start with:

- German - Kevin
- French - Pierre/Ines
- Dutch - Laurens
- Italian - Ines

And we can do others like Spanish, Portuguese, Chinese and Japanese through fiver.com

So is there anything holding us back from starting this process?

[2020-12-06 17:29] #1984 closed

[2020-12-07 09:11] ymgupta opened #3564 "Option to modify the DR that NS sends in `LinkADRReq`"
#### Summary
Capability for Network Server to not alter the data rate in LinkADR is only present in LoRaWAN versions higher than 1.0.4. At this point of time, it is not possible to modify the DR that NS sends in `LinkADRReq`

#### Why do we need this?
ADR might be aggressive for a few deployments and might result in packet loss.

#### What is already there? What do you see now?
- Currently, the up

[2020-12-07 10:54] #3551 closed, assigned to asmulko

[2020-12-07 12:58] benolayinka commented on #1230
@neoaggelos if possible, i definitely vote for `quickstart`. Prompts are great for making steps digestible. One `common-deployment` option which optionally overwrites other options feels a little bit less intuitive.

[2020-12-07 15:45] kschiffer commented on #2770
I'm confused now. [TheThingsedustries/thethingsindustries.com#245](https://github.com/TheThingsIndustries/thethingsindustries.com/issues/245) is closed but https://www.thethingsindustries.com/docs is still a 404.

How to proceed with this? cc @laurensslats @johanstokking

[2020-12-07 22:25] #1828 closed

[2020-12-08 07:58] johanstokking commented on #2770
@michalborkowski96

[2020-12-08 09:51] #3515 closed, assigned to KrishnaIyer

[2020-12-08 11:14] htdvisser commented on #2798
I'm afraid that refactoring our entire codebase is going to be a pain no matter how we do it. Our (gogo-generated) proto structs are used everywhere right now (gRPC API, HTTP API, events, errors, internally, Redis DB, ...), so changing to something else (whatever that other thing is) is going to touch pretty much everything in our codebase, and the way it looks now, all at the same time.

The hard

[2020-12-08 11:29] rvolosatovs opened #3566 "Release 3.10.4"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-12-08 15:29] rvolosatovs opened #3569 "Network Server database migration tool"
#### Summary

Network Server database migration tool

#### Why do we need this?

To really use optimizations added in 3.10

#### What is already there? What do you see now?

Fallback to legacy behavior

#### What is missing? What do you want to see?

A tool for migration

#### How do you propose to implement this?

Loop over keys and migrate

#### How do you propose to test this?

Setup 3.10, run

[2020-12-08 15:29] rvolosatovs commented on #3569
Blocking 3.11

[2020-12-08 15:50] rvolosatovs opened #3570 "Automate branch merge process"
#### Summary

Automate branch merge process

#### Why do we need this?

To simplify development

#### What is already there? What do you see now?

Manual merges

#### What is missing? What do you want to see?

Automated, streamlined, clear process

#### How do you propose to implement this?

Using Github Actions, perhaps an idea would be to check mergeability of TTS PRs to TTES and blocking merge

[2020-12-08 17:50] #1157 closed

[2020-12-09 15:00] htdvisser opened #3577 "Review length limits of API fields"
#### Summary

We need to review the length limits of API fields that can be set in request messages.

#### What is missing? What do you want to see?

- Maximum length on all `string` and `bytes` fields
- Maximum length on all `map` fields
- Maximum length on all `repeated` fields

#### How do you propose to implement this?

For example, on `attributes`:

[code]

And on `contact_info`:

[code]

On

[2020-12-09 15:08] htdvisser opened #3578 "Add support for LoRaWAN Regional Parameters RP2 1.0.{0,1,2}"
#### Summary

We need to add support for the new regional parameters documents that go with LoRaWAN 1.0.4.

See https://github.com/TheThingsNetwork/lorawan-stack/issues/2784#issuecomment-648735723 for the story about the naming scheme

#### How do you propose to implement this?

PDFs are available on Drive or from the LoRa Alliance website.

#### How do you propose to test this?

🤷

[2020-12-09 15:39] rvolosatovs commented on #3566
@johanstokking please update the Docker `latest` tag, since I still do not have access to do it

[2020-12-09 15:50] htdvisser opened #3579 "Push "latest" Docker image from release workflow"
#### Summary

Instead of manually updating the `latest` tag for our Docker images, this should be done by CI.

#### What is already there? What do you see now?

A step in the release template that says to manually update the `latest` tag.

#### What is missing? What do you want to see?

CI automatically doing this if we're doing the most recent release.

#### Environment

GitHub Actions

#### How

[2020-12-09 15:53] johanstokking commented on #3566
@rvolosatovs done

[2020-12-09 20:01] kschiffer opened #3581 "Render backend error messages with simple markown"
#### Summary
We should render error messages properly, using a simple markdown engine.

#### Why do we need this?
Error messages from the backend are often using simple markdown syntax. We should render this properly, instead of passing through the raw text message to the user.

#### What is already there? What do you see now?
`<ErrorNotification />` component

#### What is missing? What do you wa

[2020-12-09 22:06] kurtmc opened #3582 "Docker health check does not function correctly if password is set"
#### Summary

With the current docker configuration, if you setup a password for lorawan health check the docker container will always display `(Unhealthly)` if you run `docker ps`

#### Steps to Reproduce

1. Run lorawan docker container with password set for health check
2. Use `docker ps` to see if the container is healthy
3. ...

#### What do you see now?

[code]

#### What do you want to see

[2020-12-10 13:06] KrishnaIyer opened #3584 "Storage integration CLI errors"
#### Summary

There are a couple of errors from the CLI when using the storage integration

#### Steps to Reproduce

Item 1;
[code]

Gives the following warning
[code]

Item 2:
[code]

This errors
[code]

#### What do you see now?

Warnings and errors as mentioned above.

#### What do you want to see instead?

No warning/error

#### Environment

TTS Cloud v3.10.4

#### How do you propose to implem

[2020-12-10 14:57] bafonins opened #3585 "Allow restoring and purging soft-deleted entities in the Console"
#### Summary

With https://github.com/TheThingsNetwork/lorawan-stack/pull/3467 we allow deleting entities and releasing their ids. We should add this to the Console.

#### Why do we need this?

Allow the user to chose between soft and hard deletion.

#### What is already there? What do you see now?

Delete modal
<img width="623" alt="Screenshot 2020-12-10 at 16 48 14" src="https://user-images.gith

[2020-12-10 15:06] kschiffer commented on #3585
Here's how I think this should work (for applications as an example):

1.  The delete action in the Console should always trigger the purge endpoint.
2.  In case the application is "pristine", e.g. has no devices, and other entities associated whatsoever, we can keep the modal behavior as it is right now.
3.  In case the application is not "pristine", the modal should be updated informing that all

[2020-12-14 10:07] htdvisser commented on #3458
I think it could be useful to have a dedicated RPC to give some user the same rights as another user. Such an RPC could also be useful for admins to quickly copy all rights from one user to another.

I do have some concerns about this, as this would be a quite powerful operation that could do a lot of damage when abused, so I'm not sure we should make this possible before we have 2FA that we can u

[2020-12-14 15:59] benolayinka opened #3591 "Check and clean url in `ttn-lw-cli use`"
#### Summary

It would be great to process the url passed to `ttn-lw-cli use` and trim the protocol and trailing slashes for example

#### Why do we need this?

`ttn-lw-cli use https://thethings.example.com` will produce requests to `https://https://thethings.example.com`
`ttn-lw-cli use thethings.example.com/` will produce `https://thethings.example.com//...`

I assume passing a port also doesn't

[2020-12-14 16:37] rvolosatovs opened #3592 "Use Redis 6.2.0 features"
#### Summary

Use `COPY`, `XAUTOCLAIM` and `SET GET`once Redis 6.2.0 released and deployed

#### Why do we need this?

To avoid using `restore` and `dump` hacks, as well as race condition-suspectible command sequences and custom lua

#### What is already there? What do you see now?

`restore` and `dump` hack for copying and combination of `SET NX` with a following `GET`

#### What is missing? What

[2020-12-14 16:52] neoaggelos commented on #3584
For the warning message, this is common for application packages. A strictly correct solution would be to verify the package data against the individual application package, which is too much work for no real gain.

Could we simply drop the message, or add a `switch` and display only for application packages where it is relevant? @adriansmares

[2020-12-14 17:06] adriansmares commented on #3584
Having a `map[string]struct{}` that signifies if a specific package (by name) needs data or not is fine by me. At the time of writing this applies only to the LoRaCloud DMS v1 package. Don't forget to update this for both `associations` and `default-associations`.

[2020-12-15 09:52] #3550 closed, assigned to asmulko

[2020-12-15 09:56] #3494 closed, assigned to neoaggelos

[2020-12-15 15:47] #1523 closed

[2020-12-16 11:03] KrishnaIyer commented on #3426
This is actually closed with https://github.com/TheThingsNetwork/lorawan-stack/pull/2865.

Please refer to the updated documentation here; https://www.thethingsindustries.com/docs/gateways/lora-basics-station/cups/

[2020-12-16 11:03] #3426 closed, assigned to KrishnaIyer

[2020-12-17 07:35] Oliv4945 commented on #3426
Thank you @KrishnaIyer , I'll test it.

For your information the following warning is wrong:

[code]
I propose:
[code]

[2020-12-17 07:49] KrishnaIyer commented on #3426
Sounds good; @benolayinka

[2020-12-17 15:06] kschiffer opened #3599 "Add different authentication modes to JS SDK"
#### Summary
Since #2564, we allow authorization by session cookie. The SDK does however not support this new authentication mode. This should be added.

#### Why do we need this?
To use the JS SDK with a session cookie for authentication, e.g. for the account app (#1422).

#### What is already there? What do you see now?
- SDK support for authentication via Bearer token (API Key or access token)

[2020-12-17 15:15] #3584 closed, assigned to neoaggelos

[2020-12-17 16:30] kschiffer opened #3602 "Rename JS SDK package to `tts`"
#### Summary
Inline with our rebranding, we should also rename the package name of our JS SDK, which is currently named `ttn-lw`.

#### Why do we need this?
Consistent naming and branding.

#### What is already there? What do you see now?
`ttn-lw` package name.

#### What is missing? What do you want to see?
- Renaming to `tts`
- Claiming `tts` name in NPM as well
- Some respective updating of too

[2020-12-20 18:22] johanstokking commented on #2798
Pushed some initial dependency updates and backwards compatibility work-arounds here: https://github.com/TheThingsNetwork/lorawan-stack/compare/issue/2798-codec

[2020-12-20 18:58] #3566 closed, assigned to rvolosatovs, johanstokking

[2020-12-20 23:48] #3144 closed, assigned to neoaggelos

[2020-12-21 08:04] baranisrc commented on #3564
We can help you test it with our MeteoHelix weather stations [https://www.baranidesign.com/meteohelix-pro-weather-station](url) as we requested this feature.  It is quite urgent for us to implement as it will enable us to cusomize ADR individually based on device performance and local RF noise levels for high reliability data tramsmissiona which is critical to meteorological applications.  Feel fr

[2020-12-21 11:59] #3599 closed, assigned to kschiffer

[2020-12-21 14:52] kschiffer opened #3605 "Add direct database access for end-to-end tests"
#### Summary
For some test cases, it is beneficial to prepare the database with direct access, rather than through API requests. We should provide the means to do so in our end-to-end test tooling.

#### Why do we need this?
- Speed up tests (e.g. by retrieving access tokens directly from the database instead of via OAuth roundtrip)
- Enable some test-cases that need database states that cannot be

[2020-12-21 14:57] #3529 closed, assigned to kschiffer

[2020-12-21 15:02] kschiffer commented on #3578
Duplicate of #3513

[2020-12-21 15:02] #3578 closed, assigned to rvolosatovs

[2020-12-21 15:38] kschiffer opened #3606 "End-to-end test coverage"
#### Summary

This umbrella issue keeps track of our end-to-end test coverage.

*   [ ] Applications
    *   [x] CRUD #3650
    *   [x] Checking overview (information displayed as expected) #3663
    *   [x] Payload formatters (set all types, remove) #3841
    *   [ ] Integrations
        *   [ ] MQTT (Check credentials)
        *   [x] Webhooks (CRUD, with and without webhook template)
        *

[2020-12-21 17:02] bafonins commented on #2047
Changing milestone of this issue no next up. All high priority fields together with some medium priority fields were added in https://github.com/TheThingsNetwork/lorawan-stack/pull/3065. Will come back to this later if any other fields should be added to the console.

[2020-12-21 23:54] neoaggelos commented on #76
After looking a bit into this today, some considerations:

- Downlinks may be scheduled by the NS, or the PBA. Is there any use in forwarding TxAcknowledgements for downlinks scheduled by the PBA? In any case, how can the GS recognize who scheduled the downlink? A simple solution I can think of is to extend the `*ttnpb.DownlinkMessage` with a `ReportTxAcknowledgement` boolean field, and have the N

[2020-12-22 01:22] neoaggelos commented on #76
Some initial work is done in https://github.com/TheThingsNetwork/lorawan-stack/tree/issue/76-send-txevents-upstream

[2020-12-22 14:31] kschiffer commented on #2664
Replaced by #3522, which has a concrete and actionable plan of the new form layout and documentation strategy.

This will also partially integrate the work from @benolayinka in this issue.

[2020-12-22 14:31] #2664 closed

[2020-12-22 14:45] rvolosatovs opened #3609 "3.10.5"
#### Blocking PRs
- [x] #3604 ~(waiting for @johanstokking approval)~

#### Overview

Release is necessary to include #3604 for https://github.com/TheThingsIndustries/lorawan-stack-support/issues/242

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}

[2020-12-22 14:48] rvolosatovs opened #3610 "3.11"
#### Blocking PRs
- [x] #3603

#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [ ] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [ ] Update the `CHANGELOG.md` file
  - [ ] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-

[2020-12-22 14:48] rvolosatovs commented on #3610
Blocked by https://github.com/TheThingsNetwork/lorawan-stack/pull/3603

[2020-12-22 14:49] rvolosatovs commented on #3610
Blocking https://github.com/TheThingsIndustries/lorawan-stack-aws/issues/194

[2020-12-22 14:52] #3564 closed, assigned to rvolosatovs

[2020-12-22 15:03] kschiffer opened #3611 "Extend end-to-end test framework to integrate traffic simulation"
#### Summary
To extend our end-to-end tests with test-cases that comprise network data, we need to extend our framework there to be able to simulate network traffic easily.

#### Why do we need this?
- Cover critical network logic with end-to-end tests
- Enable non-frontend devs to write end-to-end tests

#### What is already there? What do you see now?
Cypress-based end-to-end test framework, whi

[2020-12-22 15:13] kschiffer commented on #3611
Specifically, what I wonder is whether these functionalities will suffice for our end-to-end tests:

*   [ ] Injecting traffic (using TTS CLI)
*   [ ] Running CLI commands (or any arbitrary executable)
*   [x] Making API requests
*   [x] Perform frontend interactions
*   [x] Perform database manipulation #3605
*   [ ] Asserting on the output or stream of CLI commands (or any arbitrary executable)

[2020-12-22 15:19] kschiffer commented on #3606
I'll add the rest of the dev team as assignees once #3611 is done.

[2020-12-23 09:08] johanstokking commented on #76
At the moment, no.

I don't understand, please clarify.

It is not mandatory for GS to report the TX acknowledgment back to NS. NS wouldn't also wait for it, it's just informative.

Yeah, I agree. However, `ttnpb.TxAcknowledgment` is gateway facing, and this breaks rule number 1 of the [compatibility commitment](https://github.com/thethingsnetwork/lorawan-stack#commitments-and-releases), so you ca

[2020-12-23 09:37] johanstokking commented on #3609
This isn't closed by #3615; needs manual close

[2020-12-23 10:17] johanstokking commented on #3487
@virtualguy is this issue persisting?

What is the data rate and in which region are you?

When you say you want to transmit with 130 ms apart, are you taking the time-on-air into account?

Can you subscribe to the gateway and end device events, via `$ ttn-lw-cli events ...`, and paste the exact error messages that Gateway Server reports on why the scheduling fails?

[2020-12-23 10:53] KrishnaIyer commented on #3609
Done. Please check the reviewer's checkboxes and close if everything is in order.

[2020-12-23 11:06] #3609 closed, assigned to KrishnaIyer

[2020-12-23 18:22] #2698 closed

[2020-12-24 00:31] neoaggelos commented on #76
So, GS receives a scheduling request, downlink is sent, and TxAck for that is received by the gateway. How does the GS know who scheduled the downlink (NS or PBA)? Is it enough to retrieve the Network Server peer with the device identifiers, and simply ignore the errors if no peer is found?

[2020-12-27 16:58] jpmeijers commented on #2297
I'm running into this same issue, as well as other related field type mismatch issues, when generating Kotlin client code from the Swagger file. I also tried using the proto files to generate Kotlin classes, but after a long struggle the generated code is unusable. Currently it seems like I'll have to make do with the code generated from the swagger file, and then manually go through them all and

[2020-12-27 17:10] jpmeijers commented on #2298
I'm running into this same issue, as well as other related field type mismatch issues, when generating Kotlin client code from the Swagger file. I also tried using the proto files to generate Kotlin classes, but after a long struggle the generated code is unusable. Currently it seems like I'll have to make do with the code generated from the swagger file, and then manually go through them all and

[2020-12-28 10:23] johanstokking commented on #76
Ah, right. I don't think this belongs in `DownlinkMessage` but you might want to save state in GS, with the downlink token.

Even if we had a `ReportTxAcknowledgment`, and we might add support for this in PBA (which is not unlikely), we have a problem. We shouldn't make this too implicit like "PBA never sets `TxAcknowledgment` so it must be reported to NS"

[2020-12-28 10:29] johanstokking commented on #2298
Yep, the generated Swagger is plain wrong. We should either pick this up or remove Swagger for the time being, because currently this is useless.

[2020-12-28 10:30] johanstokking commented on #2298
References also https://github.com/TheThingsNetwork/lorawan-stack/issues/2798

[2020-12-28 12:01] rvolosatovs opened #3618 "Migrate to Go 1.16 file embedding"
#### Summary

Migrate to Go 1.16 file embedding
Refs https://github.com/TheThingsNetwork/lorawan-stack/pull/3603#discussion_r549270901

#### Why do we need this?

To lower maintenance cost and simplify process

#### What is already there? What do you see now?

For example, lua script generator in `pkg/redis`

#### What is missing? What do you want to see?

No custom file embedding logic

#### How

[2020-12-28 13:11] htdvisser commented on #3145
One more: https://github.com/TheThingsNetwork/lorawan-stack/runs/1617365245?check_suite_focus=true#step:14:34

[2020-12-28 14:43] #2446 closed

[2020-12-28 14:44] #3254 closed, assigned to rvolosatovs

[2020-12-28 14:44] #3476 closed, assigned to rvolosatovs

[2020-12-28 14:44] #3552 closed, assigned to rvolosatovs

[2020-12-28 14:44] #3569 closed, assigned to rvolosatovs

[2020-12-28 17:23] jpmeijers commented on #2298
Oh wow a mess this gogo situation is causing

(oops, clicked close by accident)

[2020-12-28 17:28] jpmeijers commented on #2298
As a side note, I find the swagger file still very helpful. The reason is that swagger can by compiled into simple POJO or other simple classes with which can then parse the TTI json objects - with some slight manual changes to them. Up until now I have not been able to build clean (no grpc/protocol buffers) classes for unmarshalling json from the proto files.

[2020-12-29 10:21] nejraselimovic opened #3624 "Redirect to /console after log in to TTS community edition"
#### Summary
When I log in to our new eu1 community cluster, I get redirected to [https://eu1.cloud.thethings.network/oauth/?](https://eu1.cloud.thethings.network/oauth/?) and there is no way to move forward to the Console.

#### What do you see now?
![Screen Shot 2020-12-29 at 10 33 29](https://user-images.githubusercontent.com/65215579/103274945-36b1bb80-49c3-11eb-8f3c-08c2c01d2794.png)

#### Wh

[2020-12-29 13:41] #3542 closed, assigned to asmulko

[2020-12-29 13:45] asmulko commented on #3517
@bafonins @kschiffer unfortunately PR #3588 did not solve the issue. Could someone please point me in the right direction or perhaps take a look at this issue themselves?

[2020-12-29 14:09] #3581 closed, assigned to asmulko

[2020-12-29 18:11] #3518 closed, assigned to pgalic96

[2020-12-29 22:50] neoaggelos commented on #3433
Logic was not the correct word here. I meant having to manage/update/maintain the device repository package file as well.

So, for #3543 I have created a GitHub repository where I build and manage the index file while I'm working on the implementation, but we need to decide where that will be stored eventually.

I have a rough draft of a GitHub workflow for the Device Repository [here](https://git

[2020-12-30 08:54] nejraselimovic commented on #3624
@kschiffer is this something you're covering?

[2020-12-30 09:49] htdvisser commented on #3433
I think that bundling the latest device repository package with TTS releases is a good idea. We've been bundling https://github.com/TheThingsNetwork/lorawan-frequency-plans and https://github.com/TheThingsNetwork/lorawan-webhook-templates in our AWS AMIs and Docker Images, and that works fine. The only downside is that these packages are now static, in the sense that they only get updated on new r

[2020-12-30 09:56] kschiffer commented on #3624
Yes. It will be part of the Account App, though I will branch this fix off today to make it available already.

[2021-01-03 14:12] jpmeijers opened #3630 "Gateway location not reported in MQTT uplink message"
#### Summary

When subscribing to a device's uplink messages using MQTT, the uplink metadata contains the gateway that received the packet, but not the location of these gateways.

#### Steps to Reproduce

1. Create a gateway, set its location on the console, and enable Publish Location.
![image](https://user-images.githubusercontent.com/948278/103480443-1461d880-4ddd-11eb-8bb1-ad36a04fdc05.png)

[2021-01-03 14:24] jpmeijers opened #3631 "Frequency in json is a string not a number"
#### Summary

The uplink message json that is reported via MQTT contains metadata with the frequency as a string.

[code]

#### Steps to Reproduce

1. Subscribe to uplink message on MQTT

#### What do you see now?

`"frequency":"867700000",`

#### What do you want to see instead?

`"frequency":867700000,`

#### Environment

eu1.cloud.thethings.industries

v3.10.5

#### How do you propose to implem

[2021-01-03 14:57] jpmeijers commented on #3630
The above example json was from yesterday. Looking at the output today the location is reported.
[code]

Either this is intermittent, or the location set on the console takes a while before it is added to the metadata.

[2021-01-03 16:22] jpmeijers commented on #3630
It seems to be constantly available today.

[2021-01-03 16:22] #3630 closed, assigned to nobody

[2021-01-03 16:42] jpmeijers opened #3632 "Coding Rate left out if first gateway in rx_metadata is packetbroker"
#### Summary

Sometimes the Coding Rate field is not reported in the json received via MQTT. I have the suspicion it has to do with the Packet Broker. If the packet is received from the PB first, the CR is left out. If the packet is received directly form a gateway first, the CR is added.

#### Steps to Reproduce

1. Connect a gateway to TTN.
2. Connect another gateway to a TTI cloud instance.
3.

[2021-01-03 21:59] neoaggelos commented on #3632
References https://github.com/packetbroker/api/issues/21

[2021-01-04 07:30] wong-hao opened #3633 "'Temperature' variable type error"
#### Summary

[Temperature of the Gateway](https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.10/pkg/ttnpb/udp/packet_data.go#L118) is not **signed integer**, it is [float](https://github.com/Lora-net/sx1302_hal/blob/master/packet_forwarder/PROTOCOL.md).
...

#### Steps to Reproduce

1. You just need to read the [protocol document](https://github.com/Lora-net/sx1302_hal/blob/master/packet_f

[2021-01-04 13:33] #3531 closed, assigned to rvolosatovs

[2021-01-04 13:34] rvolosatovs commented on #3531
The schema is invalid, see https://github.com/lorawan-schema/draft-devices/pull/9

[2021-01-04 17:00] rvolosatovs commented on #3631
This is expected behavior, see https://developers.google.com/protocol-buffers/docs/proto3#json
As a 64-bit number, frequency is marshaled as a string

[2021-01-04 17:00] #3631 closed, assigned to nobody

[2021-01-04 17:22] adriansmares opened #3635 "JavaScript array splice operations are not working on the input bytes"
#### Summary

The JavaScript array function `splice` does not work on our `input.bytes`, because `input.bytes` is a native Go slice.

#### Steps to Reproduce

1. Set the following application-wide payload formatter
[code]
2. Send a simulated uplink with payload `FE EF`

#### What do you see now?

Decoding fails:

[code]

#### What do you want to see instead?

Decoding should succeed:
[code]

####

[2021-01-04 17:34] rvolosatovs commented on #3632
This can easily be made part of deduplication in NS (note, @adriansmares reported this to me some time ago, cc for additional insights).
@johanstokking do we expect coding rate to be set in PBA at all times? If not:
1. Shall NS try to determine coding rate during deduplication?
2. Are there other parameters not present in `RXMetadata`, which NS may need to merge?

[2021-01-04 17:47] rvolosatovs commented on #3202
Adding me and @KrishnaIyer as we discussed this on last sync

[2021-01-04 18:01] rvolosatovs commented on #3202
Refs #3606

[2021-01-04 18:32] rvolosatovs commented on #3498
That does not happen - NS does not send a NACK if there's no uplink from device.
For class B and C, however, NS goes to next downlink if class-based timeout is exceeded https://github.com/rvolosatovs/lorawan-stack/blob/26dd9be2cd78f9b1cee4fcc4f85102d7b7f657fc/pkg/networkserver/mac/utils.go#L65-L91

@johanstokking that is not what current behavior is and I think we have discussed this already offli

[2021-01-04 20:28] dpostorivo opened #3637 "Push API to Device Class C End Device blocked by Network Server with FCnt too low error"
#### Summary

On several Device Class C devices in the field we are seeing an error when we try to push down link messages via API. This seems to completely block all down messages until the device leaves then rejoins the network. This seems to be tracked internally to the ttn stack, and the API has no reference to is in the push API.

#### Steps to Reproduce

1. Have a class C device join.
2. Sen

[2021-01-05 10:14] #1333 closed

[2021-01-05 10:20] johanstokking commented on #3632
Already fixed with https://github.com/TheThingsNetwork/lorawan-stack/pull/3600

This is landing in 3.10.6

[2021-01-05 10:20] #3632 closed, assigned to rvolosatovs

[2021-01-05 10:38] johanstokking commented on #3635
Sounds good to me!

[2021-01-05 11:36] neoaggelos commented on #3433
OK, one solution towards that would be to add the device repository under `/srv/ttn-lorawan/device-repository`. In order to avoid creating issues for development environments, I would prefer having a `SearchPaths []string` config (e.g. defaulting to `[]string{"/srv/ttn-lorawan/device-repository", "device-repository"}`) instead of `WorkingDirectory string`, similar to what we do for static assets w

[2021-01-05 12:37] johanstokking commented on #3632
Yes

We can, but that's really goldplating, as you can expect it from PB since 3.10.6

Not that I know of

[2021-01-05 12:48] johanstokking commented on #3498
Hmm, what is the benefit then of confirmed downlink, if there's no automatic retry mechanism?

[2021-01-05 13:00] rvolosatovs commented on #3498
The fact that the application is notified whether it's been delivered or not (via ack/nack)

[2021-01-05 13:15] industrialinternet commented on #3498
..Hmm, what is the benefit then of confirmed downlink, if there's no automatic retry mechanism?

I've been seeing this issue I use confirmed downlinks to control a Vicki TRV radiator valves.
When I look at the work needed at the app layer to ensure DL is received, I mined that it's too much effort.
I'm a low-code scripter not a Dev and as more Actuators appear in the eco system the need for confir

[2021-01-05 13:18] johanstokking commented on #3498
I also think that the default behavior should be to retry. It's what we did in V2 and it's what other LNSes are doing, although it's not strictly specified in the LoRaWAN spec.

Besides moving the retry logic to the application-layer, we may also get devices in an invalid state if some downlink messages make it and some not, or, if the application retried, in a different order than originally sche

[2021-01-05 13:48] rvolosatovs commented on #3498
I also think the NS should retry confirmed downlinks and the end device ending up in an invalid state was exactly my point when we discussed this earlier @johanstokking. Glad that we're finally on the same page.

[2021-01-05 13:50] rvolosatovs opened #3642 "Retry failed confirmed downlinks"
#### Summary

Retry failed confirmed downlinks

#### Why do we need this?

To ensure same behavior as v2 and make customers happy

#### What is already there? What do you see now?

No retry

#### What is missing? What do you want to see?

Retry mechanism for failed downlinks

#### How do you propose to implement this?

If ack is not received in uplink, prepend the downlink to the queue by default.

[2021-01-05 13:50] rvolosatovs commented on #3498
https://github.com/TheThingsNetwork/lorawan-stack/issues/3642

[2021-01-05 17:45] Oliv4945 commented on #2130
Hello @KrishnaIyer,

It seems that TheThingsIndustries/lorawan-stack#2018 is private. Do you have any update on this issue ?

Thanks

[2021-01-06 10:22] #2770 closed

[2021-01-06 10:22] #2805 closed

[2021-01-07 08:29] #3624 closed, assigned to nobody

[2021-01-08 17:09] adriansmares opened #3649 "Confirm end device session based on network server messages"
#### Summary

The application server should confirm the end device session (i.e. move `dev.PendingSession` into `dev.Session`) on the following events:
- Uplink message (happens already)
- Downlink ack
- Downlink nack
- Downlink failed (if the error is not unknown session)
- Downlink queue invalidated

#### Why do we need this?

Currently, it is possible that the NS 'switches' the session without

[2021-01-08 18:31] adriansmares commented on #3637
Can you please check your stack logs for errors such as the one bellow, and provide the context you have there (logs above / logs bellow) ?
[code]
They should occur _before_ the AS stops accepting downlinks. We need more context on how the sessions actually end up out-of-sync.

[2021-01-10 11:39] asmulko commented on #3606
@kschiffer I assume that `Application / Linking` e2e tests can be removed from the list, because it will be removed in v3.11, see #3614 and we can put `Payload formatters` on hold as well

[2021-01-10 23:35] neoaggelos commented on #1406
While working on this I have had to look at many parts of the codebase, and figure out how best to de-duplicate the rate limiting functionality. The cleaner solution so far seems to have a `pkg/ratelimit` package, and use separate config per component/listener to setup rate limiting, instead of configuring rate limiting under a single section.

A challenging issue I have had to deal with during ea

[2021-01-11 00:04] neoaggelos commented on #3490
The UDP firewall interface deals with `encoding.Packet`, so it is probably not too straightforward to update.

Is it better to add a separate check instead, as part of #1406? (see https://github.com/TheThingsNetwork/lorawan-stack/commit/80e9527c70fad4b38f3fba014d87b3bb005d4642)

[2021-01-11 07:35] KrishnaIyer commented on #2130
This item is in `backlog` so it's not on my list for this milestone. Please upvote if this is important to you. If there's enough demand, we can definitely look at it.

[2021-01-11 08:51] KrishnaIyer commented on #2130
clksrc
radio_x.rssi_offset
radio_x.tx_enable

@beitler
I went through the LBS spec;  https://doc.sm.tc/station/gw_v1.5.html and the following is the example configuration file;
[code]

So for LBS, the fields listed in this example should not be sent down by the LNS as they would be present in the local `station.conf`. Is that correct?
- how about if the server could choose these fields based on th

[2021-01-11 09:13] johanstokking commented on #3490
That is because it currently deals with both the remote IP and the EUI.

That is what is meant with:

Or do I miss your point here?

[2021-01-11 09:18] johanstokking commented on #1406
Please open a draft PR so we can comment.

I do like that there's a `pkg/ratelimit` with common functionality that can be used by various places in the stack.

Note that the gateway (traffic) rate limiting is actually the least of a concern now: we already have gateway upstream handlers that have implicit rate limiting and we have the UDP firewall. That being said, I think it's a good idea to repl

[2021-01-11 09:36] beitler commented on #2130
The LNS has the power to set all low level radio configuration parameters. However, the LNS should make use of that power only when it is absolutely necessary and it knows exactly what it is doing.
Historically, the LNS would send down the channel plan via the hardware specific `radio_conf` structure. Since 2.0.5 this is not necessary since the channel plan can be described in a hardware agnostic

[2021-01-11 10:46] rish-c commented on #1303
Can we add bump this up after the conference? Let me know if we need access to a V2 ref gateway for testing.

[2021-01-11 10:48] htdvisser commented on #1303
@rish please indicate which / how many customers are asking for this, and why they need it, so that we can understand the demand, and prioritize accordingly.

[2021-01-11 18:27] dpostorivo commented on #3637
Still combing through our logs to find exactly when the first occurrence happens, but could not find any occurrences of  `Failed to recalculate downlink queue` as of now. We're setting up more devices to help identify the problem, so hopefully I'll have more useful logs soon.

Is there any other log messages I should be scanning for?

[2021-01-11 23:45] neoaggelos opened #3653 "Flaky Network Server tests"
#### Summary

Running the Network Server unit tests fails.

#### Steps to Reproduce

1. `git checkout v3.11`
2. `docker run --rm -it -p 6379:6379 redis:5`
3. `go test ./pkg/networkserver -failfast`

#### What do you see now?

[code]

CI also seems to fail randomly on a different test (see failure on https://github.com/TheThingsNetwork/lorawan-stack/runs/1684533672?check_suite_focus=true, but https

[2021-01-12 00:23] neoaggelos commented on #3653
Another CI failure here: https://github.com/TheThingsNetwork/lorawan-stack/pull/3586/checks?check_run_id=1684911932#step:14:143

<summary><details>

[code]

</details></summary>

[2021-01-12 11:24] rvolosatovs commented on #3649
I am in favor of this, as we have already discussed.
Application Server should always trust Network Server, because it always has the most up-to-date data about the device session.

[2021-01-12 12:47] htdvisser opened #3656 "Release v3.10.6"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [ ] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2021-01-12 13:58] adriansmares commented on #3637
Unfortunately none that I can think of.

@rvolosatovs maybe we should log with `DEBUG` when a `DownlinkQueueInvalidated` uplink is sent to the AS (basically when you drain `ifScheduledApplicationUps`) ? We can then log in the AS when such an uplink is received and check in the logs if things stay in sync in our communication protocol. _Maybe_ somehow we're losing invalidations somewhere.

[2021-01-12 14:27] kschiffer commented on #933
Moved this to Next Up, since it is goldplating and I have too many upcoming issues already.

[2021-01-12 14:43] rvolosatovs opened #3658 "Network Server logging"
#### Summary

Reorganize Network Server logging

#### Why do we need this?

To simplify debugging. e.g. see https://github.com/TheThingsNetwork/lorawan-stack/issues/3637#issuecomment-758672243

#### What is already there? What do you see now?

Some important log statements are missing and some less relevant, low-level messages are printed

#### What is missing? What do you want to see?

Clear and

[2021-01-12 14:44] rvolosatovs commented on #3637
Filed https://github.com/TheThingsNetwork/lorawan-stack/issues/3658 for this.
If there are things you want to see, please mention them in the issue

[2021-01-12 16:12] #3656 closed, assigned to htdvisser

[2021-01-13 09:52] johanstokking commented on #3649
Shouldn't we change this so that NS does send this, but with empty payload and FPort 0, so that it won't be sent upstream?

[2021-01-13 13:27] rvolosatovs commented on #3649
It's redundant, since NS->AS messaging is async, queue invalidation can arrive *before* the `FPort==0` uplink is sent to AS to confirm the session, so we have to do this anyway. The only reason to send an uplink to AS in response to `FPort==0` uplink to NS, would be to ensure AS is notified of session change as soon as possible, but we don't have such need. Even then it would make way more sense t

[2021-01-14 08:55] adriansmares opened #3665 "Release 3.10.7"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2021-01-14 15:12] #3665 closed, assigned to adriansmares

[2021-01-15 11:03] htdvisser commented on #3653
This is a v3.11 release-blocking bug, as it breaks compatibility with the minimum version of Redis that we require (Redis 5.x).

From @adriansmares on Slack:

[2021-01-16 02:17] Bwooce commented on #2075
I don't understand why the existing config doesn't cause these to drop. I'l have to set up a test env.

For example we have a [connection_expires setting](https://github.com/TheThingsNetwork/lorawan-stack/blob/28bff5f1b2f2b00c5972745108553a12229e88ee/pkg/gatewayserver/io/udp/config.go#L40), defaulting to [1 minute](https://github.com/TheThingsNetwork/lorawan-stack/blob/28bff5f1b2f2b00c597274510855

[2021-01-16 04:27] Bwooce commented on #2075
[It is somehow interrelated with the Docker issue](https://github.com/moby/moby/issues/8795), but even then the observed behaviour so far doesn't match what we're seeing as that describes packets being sent to a "no longer existing" container until the conntrack entries expire. Default expiry on linux is 30s, but even 5m is shorter than we're seeing in the real world -- the ttn servers don't have

[2021-01-16 09:24] Bwooce commented on #2075
Ah, from @htdvisser on Slack, on #ops a while ago (4 months? Luckily I can still read it)
"The default timeout is 1 minute, but that doesn't help if the gateway is actually connected. UDP gateways typically open 2 UDP streams. One for uplink and another for downlink. If Docker somehow shows the correct IP for the downlink stream, but the incorrect IP for the uplink stream, The Things Stack will no

[2021-01-16 13:56] johanstokking commented on #2075
@ama9910 @KrishnaIyer this is exactly what happened recently in your case.

[2021-01-18 14:05] rvolosatovs commented on #3653
We require Redis 6 from 3.11, so it's not a bug and this issue deals with tests anyway, not Redis versions

[2021-01-18 16:40] kschiffer commented on #3606
Yes indeed. Linking can be removed, though `Payload formatters` will stay untouched as far as I understand.

[2021-01-19 02:06] viethoa14 commented on #866
hi
now we have problem following:
"ERROR Generated downlink payload size does not fit neither RX1, nor RX2, skip class A downlink slot band_id=AS_923 dev_addr=FC005138 device_class=CLASS_A..."
we use sf10 for defaul, i dont't understand why

[2021-01-19 08:30] htdvisser opened #3674 "Rewrite Email Templates"
#### Summary

We should rewrite the text of the email templates.

#### What is already there? What do you see now?

The email templates were written when we didn't have a functional Console yet, so the instructions focus on CLI and link to documentation, instead of linking directly to the Console.

#### What is missing? What do you want to see?

- Console-first content
- Direct (deep) links to the

[2021-01-19 08:34] viethoa14 opened #3675 "Add channel plan for region VietNam"
Hi
Now in Viet Nam, we do not accept for use 923.2 and 923.4 (<=923) but when we use plan frequency AS_920_923, two default  frequency is loaded to device, please apply for new plan frequency.

Thanks

#### Summary

...

#### Why do we need this?

...

#### What is already there? What do you see now?

...

#### What is missing? What do you want to see?

...

#### Environment

...

#### How do you

[2021-01-19 09:57] rvolosatovs commented on #866
Hi @viethoa14
The information you've provided is not sufficient to debug this issue. If you are TTI customer, please reach out to our support team via the ticketing system.
If you're an open source user, please provide the following clearly reproducing the issue:
- Stack log
- Device event log

[2021-01-19 19:35] rvolosatovs commented on #3308
Closed by #3603

[2021-01-19 19:35] #3308 closed, assigned to rvolosatovs

[2021-01-19 19:40] rvolosatovs commented on #2177
This is now supported

[2021-01-19 19:40] #2177 closed

[2021-01-19 19:42] rvolosatovs commented on #3142
Refs #918

[2021-01-19 19:46] rvolosatovs commented on #329
Closed by #3146

[2021-01-19 19:46] #329 closed

[2021-01-19 19:47] rvolosatovs commented on #2842
This is already possible with Reset RPC introduced in 3.11

[2021-01-19 19:47] #2842 closed

[2021-01-19 20:04] rvolosatovs commented on #2472
Blocking TheThingsNetwork/lorawan-stack-migrate#14

[2021-01-20 10:26] #3674 closed, assigned to htdvisser

[2021-01-20 13:32] johanstokking commented on #3115
This one came back: https://github.com/TheThingsIndustries/lorawan-stack/pull/2522/checks?check_run_id=1734976443#step:14:180

[2021-01-20 17:19] johanstokking opened #3686 "Support dynamic class B ping slot frequency"
#### Summary

Support dynamic class B ping slot frequency.

References https://github.com/TheThingsNetwork/lorawan-devices/pull/38#discussion_r555044700

#### Steps to Reproduce

Onboard a device with, for example, band CN470 that supports class B.

#### What do you see now?

There's no fixed ping slot frequency, which is a required value by NS. It is not possible to specify empty;

[code]

#### W

[2021-01-20 19:08] rvolosatovs commented on #3686
Indeed, didn't see this in the spec before.
We'll have to do some refactoring to allow for this.

Also, how would this work for ABP? I suppose we will still have to force `mac_settings.ping_slot_frequency.value` to be set for those devices

[2021-01-21 08:54] johanstokking commented on #3686
I guess so, yes.

[2021-01-21 10:58] #3635 closed, assigned to adriansmares

[2021-01-21 12:36] #3115 closed, assigned to johanstokking

[2021-01-21 13:23] #3496 closed, assigned to johanstokking

[2021-01-21 13:23] #3502 closed, assigned to johanstokking

[2021-01-21 13:23] #3504 closed, assigned to johanstokking

[2021-01-21 16:17] neoaggelos opened #3694 "Device Repository API field validation"
#### Summary

Add validations for all Device Repository API

#### Why do we need this?

We want to have strict field validations across the whole API

#### What is already there? What do you see now?

With #3530. validation for identifiers and a few select fields of the request messages.

#### What is missing? What do you want to see?

Validation rules for all fields.

#### Environment

v3.11

###

[2021-01-21 17:06] adriansmares opened #3696 "Expose Application Server configuration via RPC"
#### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/issues/2913

The Application Server should expose as part of the `As` service an gRPC method with the current configuration.

#### Why do we need this?

In order to allow the Console to display only functionalities that are enabled by the Application Server.

#### What is already there? What do you see now?

No service / me

[2021-01-21 17:09] adriansmares commented on #3696
Blocking https://github.com/TheThingsIndustries/lorawan-stack/issues/2527

[2021-01-21 22:44] neoaggelos opened #3697 "Verify end device BandID and FrequencyPlanID do not conflict in Network Server"
#### Summary

With #3530 we can store the Band ID of a device. Make sure that this value is authoritative and does not conflict with the specified Frequency Plan ID.

#### Why do we need this?

Consistency.

#### What is already there? What do you see now?

We store `VersionIDs.BandID` and `FrequencyPlanID` fields.

#### What is missing? What do you want to see?

Make sure that the band of the Fre

[2021-01-21 23:14] #3433 closed, assigned to neoaggelos, kschiffer, bafonins

[2021-01-22 04:55] virtualguy commented on #2075
We are also suffering from this, most likely ill just move to lora-basic-station

[2021-01-22 08:48] KrishnaIyer commented on #2075
This is indeed an unfortunate case of the UDP protocol implementation coupled with docker. We do highly recommend switching to LoRa Basics Station.

As a short term hack, you can try to clear UDP cache via
[code]

[2021-01-22 12:49] johanstokking commented on #3487
@virtualguy I added some extra debug lines. Pick any of:

1. Apply patch [investigate-3487.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/5855860/investigate-3487.txt)
2. Cherry-pick https://github.com/TheThingsNetwork/lorawan-stack/commit/f9bbda5db5090dd7eb7bc2d798c92bed82efc2dd
3. Check-out https://github.com/TheThingsNetwork/lorawan-stack/tree/investigate/3487-abs-downlink-timing

[2021-01-22 12:56] johanstokking commented on #2075
That's a great idea.

[2021-01-25 08:55] htdvisser opened #3702 "Tag v3.11.0-rc1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update submodules
[code]

- [ ] Update the `CHANGELOG.md` file
  - [ ] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m

[2021-01-25 09:21] johanstokking commented on #3653
More:

[code]

[2021-01-25 19:34] jpmeijers opened #3705 "Expose tenant id in webhook template"
#### Summary

When a webhook sends data to a third party service, the json from `tenantA.eu1.cloud.thethings.industries`, `tenantB.eu1.cloud.thethings.industries` and `eu1.cloud.thethings.network` looks the same. The third party service therefore has no way to know which LoRaWAN network was the source for this data. One can guess from the source IP address, but an IP can change, and that won't dif

[2021-01-25 19:50] pe1mew commented on #2507
For operating the community gateways it is mandatory to monitor each individual community gateway. This is done with a specific application where a node is sending data to the network. In V2 we can identify each individual gateway as part of the metadata that is provided and monitor operation. With V3 this information is lost.

As a result of this we cannot monitor our community gateways anymore w

[2021-01-26 10:42] #3702 closed, assigned to htdvisser

[2021-01-26 15:01] johanstokking commented on #2507
OK. So what do you need to have here; the gateway ID as known to the forwarding network?

[2021-01-26 20:44] pe1mew commented on #2507
For our community monitoring, we require gateway ID or gateway EUI.
For TTNMapper additional the gateway location in latitude, longitude is mandatory. This may be clarified or commented by @jpmeijers

[2021-01-27 06:46] jpmeijers commented on #2507
Latitude and Longitude could potentially be looked up elsewhere, so for me the Gateway ID and/or Gateway EUI as specified on the forwarding network would be great.

I currently see a tenant field in the packet broker metadata. I assume we can use this to identify the forwarding network.

[2021-01-27 10:08] johanstokking commented on #2507
It will be in the namespace of the forwarder (NetID + tenant ID), but yes, we can include this.

The reason why we didn't do that so far, is that forwarders may not want to expose gateway IDs publicly, as they may reveal exact locations, customer names, etc. So I guess we need to make this optional. We'll come up with something for the mapping features.

Yes. TTN community will be NetID `000013` a

[2021-01-27 16:08] jpmeijers opened #3707 "Auto fill device id if it's blank and an EUI is specified"
#### Summary

When one registers a device, automatically fill the device ID with `eui-abcdef0123456789` when the EUI (`ABCDEF012345678`) is filled in but the ID field is still blank.

Having more than one immutable identifier for a single physical thing can become confusing. Therefore I stick to this scheme to identify devices. The ID and the EUI are therefore the same. I then leave the name and d

[2021-01-28 01:07] virtualguy opened #3709 "File Descriptor leak"
#### Summary
File Descriptor leak somewhere. Only occuring on clusters under a reasonable load

#### Steps to Reproduce
Run ttn-lw-stack for a few days with significant load

[ttn-lw-stack_config.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/5884110/ttn-lw-stack_config.txt)

#### What do you see now?
![image](https://user-images.githubusercontent.com/1392425/106069771-fd0dd500-6167-

[2021-01-28 08:56] KrishnaIyer commented on #3709
Hey Jaime,

I'm gonna assign this for myself and re-assign if necessary.

Are you running TTS as a monolith? If not which component(s) is leaky?

Could you paste some logs with sensitive info retracted?

[2021-01-28 09:30] johanstokking commented on #717
Let's start thinking about how we want to implement this.

I think that we should aim for having TLS termination by the proxy only. TTS middleware checks for headers set by the proxy. The reason is simplification of our stack and making better use of proxies, including smarter rate limits.

I removed all TLS stuff from Packet Broker Router for this reason too, and I'm happy with the result. It now

[2021-01-28 09:43] kschiffer commented on #3707
References #3343, the wireframe there already includes this functionality.

[2021-01-28 09:43] kschiffer commented on #3707
References #3343, the wireframe there already includes this functionality.

[2021-01-28 11:53] htdvisser opened #3711 "Allow users to change their primary email address"
#### Summary

We should allow non-admin users to change their primary email address.

#### How do you propose to implement this?

When contact info management is fully implemented in the frontends, we can let users "promote" one of their contact addresses to their primary email address.

[2021-01-28 15:36] johanstokking opened #3712 "Make default for public gateway status, location and contact info configurable"
#### Summary

Make the default setting for public gateway status, location and contact info configurable.

#### Why do we need this?

For community networks, like The Things Network, this should be enabled by default.

For private networks, probably not.

#### What is already there? What do you see now?

Checkboxes for public gateway status and public gateway location, disabled.

Also I don't see

[2021-01-29 12:01] johanstokking opened #3713 "Group events in (live) data view"
#### Summary

Group events in (live) data view.

#### Why do we need this?

With multiple active devices, the application and gateway live traffic view becomes quite overwhelming soon.

#### What is already there? What do you see now?

One **gateway uplink message** emits three events: the receive, and two identical forwards (NS and PB, but that isn't shown). The **gateway status** also comes in t

[2021-01-29 18:45] lnlp opened #3715 "Add RSSI value to message events in Live Data views"
#### Summary
Add RSSI value to message events in the events list in 'Live Data' views (gateway, application and device).
Add RSSI to the single line event overview where SNR is already displayed.

#### Why do we need this?
Because this will make it possible to see both SNR and RSSI values at a glance, without having to open the Event Details window first and scroll to find the RSSI value.

#### Wh

[2021-01-29 18:55] lnlp opened #3716 "Highlight Frame Counter value of message events in Live Data views"
#### Summary
Highlight Frame Counter (FCnt) value of message events in Live Data views (gateway, application, device).
Highlight/accent with a white rectangle just like is done for DevAddr and payload fields.

#### Why do we need this?
This will make reading framecounter values easier to locate and read.

#### What is already there? What do you see now?
Framcounter values are already displayed but

[2021-01-29 19:21] lnlp opened #3717 "Allow Escape key to close the Event Details window in Live Data views"
#### Summary
In Console Live Data view allow `Escape key` to close the Event Details window.

#### Why do we need this?
This allows to use the keyboard for closing the Event Details window, which can be more practical and faster than using the mouse and contributes to preventing RSSI.
Closing the Event Details window currently can only be done with the mouse.

#### What is already there? What do y

[2021-01-29 19:37] lnlp opened #3718 "Add Word Wrap option to events list in Live Data views"
#### Summary
Add a Word Wrap option to events list in Live Data views. This is only needed for the Data Preview field.

#### Why do we need this?
To improve the UX and usability. To make visible all event summary data at a glance, without being required to horizontal scroll each event separately.

Events summaries are displayed on a single line but the lines can be long and often the right part is

[2021-01-29 21:00] lnlp opened #3719 "Keyboard navigation in events list in Live Data views not working"
#### Summary
Keyboard navigation does not work for navigating the events list in Live Data views.
It is not possible to scroll through the list messages with common navigations keys like cursor keys, (ctrl-)home, (ctrl-)end, PgUp and PgDn keys.
One can only navigate with mouse actions. There is no keyboard support.

#### Steps to Reproduce
In the Console open a Live Data window for gateway, applic

[2021-01-31 18:13] lnlp opened #3721 "Unable to change Rx1 Delay after device has been created, option is missing"
#### Summary
In [The Things Network V3 Console](https://eu1.cloud.thethings.network/console/):
Unable to change Rx1 Delay after device has been created.
This can now only be set when initially creating the device.
This will be a big problem for downlink messages via packet broker.
This is a problem for The Things Network V3 migration. Default value for Rx1 is too low for packet broker.
If user for

[2021-01-31 18:24] lnlp opened #3722 "Unable to change Activation mode after device has been created, is read-only"
#### Summary
In the console the Activation mode (OTAA, ABP, Multicast) shown for an existing device is read-only.
Unable to change Activation mode for existing devices.

#### Steps to Reproduce
Add a new device to an application, select create to add it. Afterwards try to change its Activation mode.

#### What do you see now?
Activation mode parameter is read-only.

#### What do you want to see in

[2021-02-01 08:11] htdvisser commented on #3721
This may need some expertise from @rvolosatovs about which fields to set exactly.

[2021-02-01 08:14] htdvisser commented on #3719
I don't think this is a bug, just missing functionality. @kschiffer please add bug label if you think otherwise.

[2021-02-01 08:16] #3722 closed, assigned to nobody

[2021-02-01 08:17] htdvisser commented on #3722
This is working as intended. In The Things Stack OTAA and ABP devices are really different things, and it's no longer possible to switch between the two. Also, an ABP device can't suddenly turn into a multicast group or vice versa.

[2021-02-01 12:56] htdvisser opened #3723 "Change ID regex to allow IDs with length of 2"
#### Summary

I propose to change our ID regex to allow IDs with a minimum length of 2 instead of the current 3.

#### Why do we need this?

Because there are quite a few existing TTN users with usernames of 2 characters. These users can currently not create v3 accounts and it would also be quite a lot of work to rename all of those users. At the same time, I can't think of a good reason not to ma

[2021-02-01 13:46] meten-natuurlijk opened #3724 "Show frame counters (up/down) in console device page"
#### Summary
The current TTNv2 console nicely shows the frame counters of a device in the Device page.
The TTNv3 console does not show this device frame-counter (yet).
This is useful for application/device maintainers, and needed to debug problems that are related to frame-counters.
For example : The new TTNv3 stack implements the LoRaWAN spec in a more strict way, which causes messages to be drop

[2021-02-01 13:51] htdvisser commented on #2735
I'm starting some work on the Identity Server API that will let us query recently deleted entities.

[2021-02-01 13:53] kschiffer commented on #3719
One could say that this is an accessibility bug, but I'd also rather file this as feature request. @asmulko can you take a look at this?

[2021-02-01 14:06] kschiffer commented on #3711
I guess we can close this, or at least reword.

[2021-02-01 14:13] htdvisser commented on #3711
Yeah, let's close this. Can you create a new issue with the flow for "promoting" email addresses in existing contact info?

[2021-02-01 14:22] kschiffer opened #3725 "Allow contact info addresses for user's primary email address only"
#### Summary
Instead of letting users choose their email address freely, we should restrict this to emails that have been registered as contact info emails only.

#### Why do we need this?
We need a proper flow that ensures that only validated email addresses are used as primary email addresses.

#### What is already there? What do you see now?
Ability to change a user's primary email address free

[2021-02-01 14:23] kschiffer commented on #3711
#3725

[2021-02-01 14:23] #3711 closed, assigned to htdvisser, kschiffer

[2021-02-01 16:07] rvolosatovs commented on #3721
Duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/2047 ?
Also, keep in mind that this is supported via CLI currently.

[2021-02-01 16:56] GreenPenguino opened #3727 "Small typo in DEVELOPMENT.md"
#### Summary

In `DEVELOPMENT.md`, under Documentation, there is a link to the V3 docs with broken markdown formatting, caused by a missing `]`
#### Why do we need this ?

We need this for proper link formatting
#### What is already there? What do you see now?

Currently there is:
[code]
#### What is missing? What do you want to see?

For proper markdown formatting we need:
[code]

Note the extra

[2021-02-02 07:23] jpmeijers opened #3728 "Frame Counter Resets setting has no effect (Store error)"
#### Summary

I registered an ABP device on the V3 TTN console. Frame Counter Resets was selected.
![image](https://user-images.githubusercontent.com/948278/106565781-00bea480-6538-11eb-9dbf-c8786957b363.png)

I used a Things Uno runnong the SendABP example sketch.

The first message (counter 0) was not received on the live feed. From counter 1 and on the data was visible.

Then I reset the Things

[2021-02-02 08:18] KrishnaIyer opened #3729 "Create user API Key without a browser login"
#### Summary

Create user API Key without a browser login

#### Why do we need this?

For seeding during automated testing

#### What is already there? What do you see now?

`is-db create-admin-user` creates an admin user.

#### What is missing? What do you want to see?

To create a user API key to be used with CLI scripts, the user needs to login (with or without callback) and then create an API

[2021-02-02 08:30] htdvisser commented on #3729
Duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/3518

Implemented in https://github.com/TheThingsNetwork/lorawan-stack/pull/3622

[2021-02-02 08:30] #3729 closed, assigned to KrishnaIyer

[2021-02-02 08:35] KrishnaIyer commented on #3729
Fantastic!

[2021-02-02 09:59] htdvisser commented on #3724
Also related to https://github.com/TheThingsNetwork/lorawan-stack/issues/2434 (in Next Up milestone, so also moving this issue there)

[2021-02-02 11:44] kschiffer commented on #3724
The frame counters should appear once a first uplink/downlink event arrives. They aren't shown initially after a refresh, that functionality was for some reason removed [here](https://github.com/TheThingsNetwork/lorawan-stack/commit/6ebbf547e369ac4ae9faffe7b14718408bf6a650#diff-a88642f3f676f38b8705092cdb9f2247e9021a2c237548e418e16c67b2edd278), which I think (after consulting with @rvolosatovs) was

[2021-02-02 11:52] bafonins commented on #3724
Please see https://github.com/TheThingsNetwork/lorawan-stack/issues/3230 for more details

[2021-02-02 11:55] kschiffer commented on #3724
Appears like the confusion originated from:

cc @rvolosatovs

[2021-02-02 12:33] rvolosatovs commented on #3724
What I meant here is that of the fields present in the uplink message itself, only `full_f_cnt` is to be used to determine FCnt of said uplink. `session.last_f_cnt_up` still represents the FCntUp of the session and is most likely equal to the `full_f_cnt` of last uplink.

[2021-02-02 12:56] kschiffer commented on #2639
These are already implemented.

Since we removed application link stats, this is not possible currently.

Total number of up/downlinks per device = that would be frame count, no? At least I cannot think of any feasible way to discriminate message count from frame counts.

[2021-02-03 01:47] kurtmc opened #3736 "Can't run ttn-lw-stack commands after building with goreleaser"
#### Summary

I cannot run any `ttn-lw-stack` commands using the binaries produced by running goreleaser.

#### Steps to Reproduce

1. Checkout tag v3.10.7
2. Run go releaser
[code]
3. Try a command
[code]

#### What do you see now?

This is the error produced:

[code]

#### What do you want to see instead?

The command doing something. Not a reflection error.

#### Environment

[code]
[code]

###

[2021-02-03 08:14] virtualguy commented on #3487
fyi we are having some troubling running binaries we have built so blocked on #3736 before we can gather logs from your patch @johanstokking

[2021-02-03 16:59] rvolosatovs commented on #3736
Thanks for report - it does not seem like an issue specific to goreleaser though and is most probably caused by your environment and bug in handling of it.
Which configuration options do you have set in your config/environment?

[2021-02-03 18:20] virtualguy commented on #3736
@rvolosatovs the logs reported are with a clean env and no config specified

[2021-02-03 21:40] kurtmc commented on #3736
Yeah it looks related to goreleaser, I switched our tooling to just run `go build` and it seems to have resolved the issue.

[2021-02-04 03:41] kurtmc commented on #3487
@virtualguy @johanstokking Here are some logs from running the patched version: https://gist.github.com/kurtmc/75f4ecf93c2f7a1ee8373d3a9c7f181a

[2021-02-04 08:50] htdvisser commented on #3736
This stack trace sounds to me like it's a bug in `github.com/mitchellh/mapstructure@v1.4.0`, which is also interesting, because we depend on `github.com/mitchellh/mapstructure@v1.3.0`.

[2021-02-04 08:53] htdvisser commented on #3736
It looks like this is https://github.com/mitchellh/mapstructure/issues/231 which was fixed in https://github.com/mitchellh/mapstructure/pull/232 and released in https://github.com/mitchellh/mapstructure/releases/tag/v1.4.1.

[2021-02-04 13:40] TheIronNinja opened #3741 "Webhook doesn't work for "Downlink sent" option"
#### Summary
Webhook doesn't work for "Downlink sent" option

#### Steps to Reproduce
Connect the application to a controled webhook so you can see which packets are sent and which not.
Using an existing device and gateway, simulate or generate a downlink.

#### What do you see now?
The "Downlink Scheduled" packet is sent, but once it's sent the webhook isn't triggered. I can see that the packet i

[2021-02-04 19:22] kurtmc commented on #3736
@htdvisser Here is a one liner that you can use to reproduce the issue if that helps:
[code]

[2021-02-05 10:42] htdvisser commented on #3736
Ah, thanks, this is helpful.

Here's what seems to happen:

- GoReleaser is not in our main `go.mod` (but in `tools/go.mod`)
- If you execute `go run github.com/goreleaser/goreleaser`, Go downloads the latest version of GoReleaser, and updates our main `go.mod`
	- You can see this when running `git diff` afterwards
- Because the latest GoReleaser version (currently) depends on `github.com/mitchell

[2021-02-05 10:59] KrishnaIyer commented on #3741
@neoaggelos : Do we already support sending TX acks to the application server?

[2021-02-05 11:03] adriansmares commented on #3741
This needs https://github.com/TheThingsNetwork/lorawan-stack/issues/56, which is blocked on https://github.com/TheThingsNetwork/lorawan-stack/issues/76 due to priorities.

[2021-02-05 14:31] KrishnaIyer commented on #3633
https://github.com/Lora-net/sx1302_hal/blob/master/packet_forwarder/PROTOCOL.md
This is the `SX1302` reference.

`temp` field isn't defined in the [`SX1301`](https://github.com/Lora-net/packet_forwarder/blob/master/PROTOCOL.TXT) reference.

This field must've been added somewhere along the way? @johanstokking maybe you have some context here.

We can't simply edit gateway facing fields. Check our

[2021-02-05 14:36] wong-hao commented on #3633
I can provide an experimental phenomenon for your analysis
When I use sx1302, if I don't handle this error, TTN console can't receive my message.
When I comment out the temperature field in the **semtech UDP packet forwarder code** (let the uploaded data not contain the temperature attribute, which is exactly the same as sx1301), TTN can receive the gateway message.

[2021-02-05 14:36] wong-hao commented on #3633
I can provide an experimental phenomenon for your analysis
When I use sx1302, if I don't handle this error, TTN console can't receive my message.
When I comment out the temperature field in the semtech UDP packet forwarder code (let the uploaded data not contain the temperature attribute, which is exactly the same as sx1301), TTN can receive the gateway message.

[2021-02-05 15:23] bafonins commented on #3721
@lnlp It is currently possible to change RX1 Delay via the Console.

1. Navigate to the general settings of you end device (`/console/applications/{application-id}/devices/{device-id}/general-settings`)
2. Expand `Network layer` section
3. Expand `Advanced settings`
4. Find `RX1 Delay` field

<img width="423" alt="Screenshot 2021-02-05 at 17 19 36" src="https://user-images.githubusercontent.com/16

[2021-02-05 15:27] bafonins commented on #3721
Closing this for now. @lnlp feel free to reopen if you still have issues with updating rx1_delay for your end device.

[2021-02-05 15:27] #3721 closed, assigned to rvolosatovs, bafonins

[2021-02-05 15:54] trlafleur commented on #3442
yes, this was a great feature in V2, made it easy to test JS prior to deploying...
It allowed sending a test string to the decoder and displaying its output...

[2021-02-06 16:34] neoaggelos commented on #76
OK, I think the proposed solution here is not sufficient for NS to also handle #56, since NS omits fields from the DownlinkMessage that is sent to the Gateway Server (e.g. end device identifiers).

So, I think it is best to keep all this information on the NS side instead: Have NS store scheduled downlinks temporarily. When GS reports a TxAcknowledgment, NS checks if there is a matching scheduled

[2021-02-08 10:33] rvolosatovs commented on #76
Can you clarify how such a counter would work? How is it communicated from NS to GS and to NS from GS? I'd much rather see if we can use the available information before adding new things. Overall payload hash combined with correlation IDs seems to be sufficient to reliably match the downlink.

[2021-02-08 10:44] rvolosatovs commented on #3736
I'm afraid not at the moment

[2021-02-08 19:11] johanstokking opened #3749 "Simulate uplink and schedule downlink based on device repository examples"
#### Summary

Simulate uplink and schedule downlink based on examples declared in the device repository.

#### Why do we need this?

To make it really easy to test integrations.

#### What is already there? What do you see now?

Onboarding devices via the device repository.

#### What is missing? What do you want to see?

In the **Messages** tab, when the end device has a version set, retrieve upl

[2021-02-08 19:12] johanstokking commented on #2230
I think it's time to close this, especially because we have individual issues that can be tracked.

[2021-02-08 19:12] #2230 closed

[2021-02-08 19:24] johanstokking opened #3750 "Issue DevEUI from range with maximum per application"
#### Summary

Issue DevEUIs from a configurable range, with a configurable maximum per application.

#### Why do we need this?

For people running The Things Stack and own a IEEE MAC block to issue DevEUIs for devices that still need to be programmed. This is also useful for The Things Network community network, and reducing the chance of registering a device with a real DevEUI.

#### What is alre

[2021-02-09 09:12] #3728 closed, assigned to rvolosatovs

[2021-02-09 09:54] htdvisser commented on #3610
Let's create a new release issue when we're actually ready for it.

Don't reopen, because the release template has changed.

[2021-02-09 09:54] #3610 closed, assigned to KrishnaIyer

[2021-02-09 10:45] #3696 closed, assigned to adriansmares

[2021-02-09 10:54] htdvisser commented on #3577
I think this is good now.

[2021-02-09 10:54] #3577 closed, assigned to htdvisser

[2021-02-09 11:15] cnoork opened #3754 "Downlink stop working for devices after a period"
#### Summary
I have installed two mclimate vicki thermostats and control them by downlinks. They send now every 4 minutes uplinks and the control from the valve is done by downlinks. Only after one day the downlinks don't work anymore. In the console I get the message: "error:pkg/networkserver:unknown_session (unknown session)"

Initial the devices sends every 3 minutes a uplink but changed this t

[2021-02-09 11:43] tiefpunkt opened #3755 "Add copy&paste tools to the Session Key fields of a device"
#### Summary

In the EUI and RootKey fields of a device you can alter the way the keys are displayed for easier copy&paste into applications, like use the array representation instead of just the string of bytes. This function is missing for the Session Keys. For ABP devices this would be great to have still (it was available in the v2 UI)

#### Why do we need this?

Ease of use, similar user expe

[2021-02-09 12:11] tiefpunkt commented on #3755
Looks like @kschiffer beat me to it with #3752 🙈

[2021-02-09 12:11] #3755 closed, assigned to nobody

[2021-02-09 12:17] kschiffer commented on #3755
Hahah, sorry about that :). Still thank you for taking the time to write this descriptive issue!

[2021-02-09 12:43] kschiffer commented on #3719
We will be working on focusing and cycling through individual event rows with the keyboard, as well as toggling their details using space/enter. Also PageUp and PageDown should jump to the first/last event.

Would that satisfy your needs @lnlp ?

[2021-02-09 12:49] kschiffer opened #3756 "Show both application and network downlink frame counters for >=1.1.0 end devices"
#### Summary
The Console does currently not show both application and network downlink frame counters for >=1.1.0 end devices, but only the application frame counter. This needs to be fixed.

#### Why do we need this?
Because >=1.1.0 end devices use two types of downlink frame counters, which are both equally important

#### What is already there? What do you see now?
Downlink frame counters for e

[2021-02-09 14:59] #3724 closed, assigned to kschiffer

[2021-02-09 16:11] johanstokking opened #3769 "Support importing end devices with encrypted root keys"
#### Summary

Support importing end devices with encrypted root keys.

#### Why do we need this?

For device makers to distribute root keys in a more secure way than Excel files, CSV files and printed paper.

#### What is already there? What do you see now?

We have device template converters (DTC component) that can convert arbitrary data to `EndDeviceTemplate`.

#### What is missing? What do you

[2021-02-09 17:09] johanstokking opened #3770 "Smoothen root key provisioning and device claiming"
#### Summary

Smoothen the provisioning of root keys when creating new devices, and claiming end devices. This should be combined in one flow that covers 99% of the use cases.

Replaces #2777
Replaces https://github.com/TheThingsIndustries/lorawan-stack/issues/2250
References https://github.com/TheThingsIndustries/lorawan-stack/issues/2345

#### Why do we need this?

For users, creating and claimi

[2021-02-09 17:10] johanstokking commented on #2777
Replaced by #3770

[2021-02-09 17:10] #2777 closed

[2021-02-09 17:23] johanstokking opened #3771 "Configure routing policies"
#### Summary

Configure routing policies.

For listing available networks and tenants, we need https://github.com/packetbroker/iam/issues/2.

#### Why do we need this?

For networks to configure routing policies with other networks

#### What is already there? What do you see now?

This should currently be done with [`pbctl`](https://github.com/packetbroker/pb#configure-routing-policies), but it w

[2021-02-09 22:53] mattrude commented on #3653
I am receiving this error still after upgrading to version 3.11.0-rc2

This is running as a native application, it is not running within docker.

[code]

TTN Stack Version:
[code]

Redis Version:
[code]

Ubuntu  Version:
[code]

[2021-02-09 22:56] neoaggelos commented on #3749
Had already done some work on this during initial implementation, parts of which were also used for the Wall Of Fame during the conference.

My proposal would be to extend `MessagePayloadFormatter` with two new fields:
- `CodecID`: this comes from the Device Repository, and can be used by users to refer to the Device Repository
- `Examples`: this parses the codec examples from the Device Repositor

[2021-02-10 02:26] mattrude commented on #3653
Shoot, I thought #3653 was in the 3.11.0-rc2 release, but it looks like it was not submitted at the time of the release, so this may be a duplicate error report.

[2021-02-10 09:17] johanstokking commented on #2639
This was ephemeral information, held by one AS instance in-memory. We need longer term aggregates here.

This would also be a longer term aggregate.

Unfortunately, the aggregates are left out-of-scope in https://github.com/TheThingsIndustries/lorawan-stack/issues/1804, so we won't be able to implement 3 and 4.

[2021-02-10 11:00] johanstokking commented on #3487
Thanks a lot. Apologies for the delayed response.

This is going to be super helpful. For finding the root cause, I added a few more log entries.

Can you run this again, with a new build, using https://github.com/TheThingsNetwork/lorawan-stack/tree/investigate/3487-abs-downlink-timing?

If you want to cherry-pick on v3.10.x, cherry-pick 50f56055ba2c0172c002784d0ef22f140b60903c and d1e5305d2363aa8

[2021-02-10 11:06] johanstokking commented on #3633
We aren't sending these values back to the gateway.

It's safe to change this to `*float32`.

[2021-02-10 11:08] johanstokking commented on #3442
I see. I mark this as a duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/2232 then. Please upvote there.

[2021-02-10 11:08] #3442 closed, assigned to johanstokking

[2021-02-10 11:55] sollie opened #3776 "Server on ttn.fyi reports 502 Bad Gateway"
#### Summary
Webserver on ttn.fyi has been unavailable for some time, making the Getting Started guide and getting invites to Slack unavailable.

...

#### Why do we need this ?
Resources helps new users getting started and allows people to join the Slack.
...

#### What is already there? What do you see now?
N/A
...

#### What is missing? What do you want to see?
N/A
...

#### How do you propose

[2021-02-10 12:02] nejraselimovic opened #3777 "Clarify inconsistent usage of gateway ID in global_conf.json in the documentation"
#### Summary
Found this on our forum: https://www.thethingsnetwork.org/forum/t/v3-download-global-conf-json/43973/3

![Screenshot from 2021-02-10 12-55-18](https://user-images.githubusercontent.com/65215579/107507227-8b8a4980-6b9f-11eb-8a6e-e837e3102b0c.png)

#### What do you see now?
Gateway EUI from the Console is stored as `gateway_ID` in `global_conf.json` file that's downloadable from the Con

[2021-02-10 12:11] htdvisser opened #3778 "Release v3.11.0"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update submodules
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m

[2021-02-10 12:46] johanstokking commented on #3749
Why?

[2021-02-10 14:15] rvolosatovs commented on #3653
This is coming from https://github.com/go-redis/redis/pull/1365 and is expected - it does not represent anything broken. We should probably find a way to hide this, but it does not seem these logging statements can be disabled in the library

[2021-02-10 17:41] johanstokking commented on #3334
@chrisbouchat are these issues (only) with class C downlink scheduling without absolute time?

[2021-02-11 08:41] #3778 closed, assigned to htdvisser

[2021-02-11 09:57] eggfriedrice opened #3784 "App Key text field is too narrow"
#### Summary
When registering a new device the App Key field in the form is too narrow to show the whole key, the last byte overflows. There is no indication that there's another couple of characters off to the right of the field. This is causing trouble for users when they generate a key and copy it out as they're missing off the last byte.
...

#### Steps to Reproduce

1. Start to register a new

[2021-02-11 12:39] lnlp opened #3785 "Console lacks context sensitive help"
#### Summary
The console lacks context sensitive help.
Add consistent context sensitive help.

#### Why do we need this?
Many fields in the console (e.g. during adding/configuring Gateways, Applications and Devices) lack any form of help leaving the user puzzled and unclear whether (s)he should fill in the field or not, what it's for and what possible values are.
For some fields this is obvious an

[2021-02-11 12:53] lnlp commented on #3785
See:

https://github.com/TheThingsNetwork/lorawan-stack/issues/2813#issuecomment-652635759

That's not "That's it" for TTN V3 with a community with many DIY devices.

This will not work for DIY devices. And 'devices' (manual settings) is one of the console areas that needs context sensitive help.

[2021-02-11 16:08] johanstokking commented on #3776
Thanks @sollie for reporting. We're looking into it.

This is not the right place for this issue, but I filed it internally.

[2021-02-11 16:08] #3776 closed, assigned to nobody

[2021-02-11 16:14] johanstokking commented on #3585
References #3739

[2021-02-11 16:15] johanstokking commented on #3606
What is the status here? What can we improve on the short term still?

[2021-02-11 16:19] kschiffer commented on #3785
Thanks for filing this issue @lnlp.

We are aware of this issue and already have tooltips with contextual help in our pipeline and their content is also already been provided by @benolayinka. It will be part of an overall form UX overhaul, which we're currently in the process of implementing for end devices (#3522). I'll make sure that the priorities are updated to have this issue resolved timely.

[2021-02-11 16:26] kschiffer commented on #3606
@asmulko made a lot of progress with this recently and I think the coverage is pretty good already. The most important thing short-term is traffic simulation, which will enable us putting a whole range of critical end-to-end tests in place. This is also tracked in #3611. Then we need to start looking into performance optimizations [#3480](https://github.com/TheThingsNetwork/lorawan-stack/issues/34

[2021-02-11 16:30] kschiffer commented on #3605
This has been added via #3683

[2021-02-11 16:30] #3605 closed, assigned to kschiffer

[2021-02-11 16:53] rvolosatovs commented on #3754
Seems that AS is using the wrong session when replacing downlinks

[2021-02-11 17:02] kschiffer opened #3786 "Snapshots for visual testing in our end-to-end tests"
#### Summary
In this issue I want to suggest an improvement for how we conduct visual testing as part of our end-to-end test. The idea is to use snapshot testing instead of asserting on UI elements directly.

#### Why do we need this?
Current visual testing has issues such as:
- Locks us in into a specific arrangement of the UI (down to the exact wording of texts)
- Produces false negatives when U

[2021-02-12 08:14] johanstokking commented on #3606
OK. Should we track end-to-end testing in this issue or in #3611, or is there a reason to keep both?

[2021-02-12 09:49] jpmeijers opened #3791 "Basic Station websockets not on port 443"
#### Summary

The main reason for choosing websockets for Basic Station, above say mqtt or grpc, was that websockets run on port 80 and 443. Websockets also look like normal http traffic when they are set up. The reason this is good is because many company firewalls block all unknown ports, and normally will allow at least port 80 and 443 for web traffic. Making the gateway's traffic look like web

[2021-02-12 09:49] jpmeijers commented on #3791
Andy:de:  34 minutes ago
Hi,
as I'm running a gateway behind a corporate firewall (for devlopment), other ports than 80 and 443 are blocked.
The TTN v3 Stack uses the (TLS) port 8887 for BasicStation and therefore no connection can be established.
Do you have any idea how to establish the communication over port 443 or to set an proxy (e.g. wstunnel) but still use the TLS protocol?

jpmeijers  18

[2021-02-12 10:45] johanstokking commented on #3776
@sollie can you check if this is now fixed for you?

[2021-02-12 10:45] kschiffer commented on #3777
Maybe @rvolosatovs can make a comment on this. I suppose though that we cannot change the structure of the `global_conf.json`. Changing the name of the gateway ID would create only more confusion I'd say. So I guess our best bet is to clarify this in the docs. If there's a doc page for the gateway conf already, we can link it there with a help icon.

[2021-02-12 10:49] nejraselimovic commented on #3777
I also saw Krishna's response on the forum after, it's some legacy stuff, so I guess I'll just take this one and clarify it in the documentation.

[2021-02-12 10:54] sollie commented on #3776
@johanstokking Looks good now, thanks.

I also agree this was probably not the correct place for this issue, but it looked like the category that was closest when I opened it.