[2020-07-02 05:45] kschiffer commented on #2812
Please try on `develop`.

[2020-07-02 05:58] kschiffer opened #2827 "Forms allow submission with empty required fields"
#### Summary

It is currently possible to submit forms while having empty fields that are actually required.

#### Steps to Reproduce

1.  Go to any form that has a required field
2.  Submit the form without filling the field
3.  See the submit being executed instead of form validation enforcing the field

https://sentry.io/organizations/the-things-industries/issues/1739001198/?project=2682566

##

[2020-07-02 06:48] KrishnaIyer commented on #2822
@LasaleFamine:
1. Please update to `3.8.4` as we had issues with downlinks in `3.8.1` and `3.8.2`
2. What does your gateway log say?

[2020-07-02 07:47] htdvisser commented on #2806
If we're talking about the bare minimum one-size-fits-80-percent settings, I think we can indeed leave out the fields you've mentioned.

For gateways, I think the default gateway server address is also fine for most use-cases.

For end devices, I think Class C support is nice to have.

The Home NetID, AS-ID and KEK labels are required when using an external join server, but can be omitted for clus

[2020-07-02 07:48] kschiffer opened #2828 "Use information of the device repository to improve entity creation/updating UX"
#### Summary
The device repository will include a lot of information that will enable us to assume certain information when creating or editing entities in the Console. It is necessary to define the UX around that.

#### Why do we need this?
- Smoothing out the UX of creating entities in the console
  - Avoid overwhelming users by unfamiliar information that is demanded from our entity creation fo

[2020-07-02 07:53] kschiffer commented on #2813
Indeed. I've added issues regarding the device repository to the OP. The information of the device repository will play a big role to the overall improvement of the form UX.

[2020-07-02 08:01] laurensslats commented on #2806
**Gateways**
Adding 1 issues, which is the IMO the main issue
- Unclarity in frequency plans #2140

I would suggest to put all the below issues under `Advanced settings`
- Gateway status (public/private) - _unclear were gateway status is publicly shown_
- Attributes - _unclear how this can be used and what can be filled in_
- Schedule downlink late - _unclear how this can be used_
- Enforce duty c

[2020-07-02 08:30] bafonins commented on #2827
Cannot reproduce on the latest master, tti eu1 and tti nam1. Also, sentry report doesnt look related to form submission.

Please verify that the issue is present.

[2020-07-02 08:35] kschiffer commented on #2140
Who should pick this up, @htdvisser ? I can then take care of using that in the Console.

[2020-07-02 08:40] #2445 closed

[2020-07-02 08:44] kschiffer commented on #2806
@laurensslats this issue is not about which fields are clear or unclear, or what should be put into "Advanced settings". This issue is specifically about which fields can be stripped from the creation forms ("Add end device", "Add Applicaiton", "Add gateway"), because they are not relevant enough in the process of creating the entity.

Please let me know if you agree with the proposal from [my oth

[2020-07-02 08:45] htdvisser commented on #2140
I don't know if we should still do this. The only two frequency plans that are currently still equivalent for Gateways and End Devices are `EU_863_870` and `EU_863_870_TTN`. Those are now displayed as `Europe 863-870 MHz (SF12 for RX2)` and `Europe 863-870 MHz (SF9 for RX2 - recommended)`.

I'm afraid that hiding `EU_863_870_TTN` (SF12) would be confusing for users who do want to use SF12.

Do we

[2020-07-02 09:07] kschiffer commented on #2827
Sorry, I think that was a little too pessimistic. Instead try:

1.  Go to the user management page
2.  Click on an existing user
3.  Remove the email address
4.  Submit the form
5.  See form submit being performed although the form is not valid

This issue also happens in the device wizard, on the "Join settings" step. Form submit without filling the required app key is possible there as well.

Se

[2020-07-02 09:42] benolayinka commented on #2714
Entity not found error

[2020-07-02 09:42] benolayinka commented on #2714
Packet broker peering: https://www.thethingsnetwork.org/forum/t/packet-broker-ttn-to-tti-ttn-v2-eu/38036/6

[2020-07-02 09:44] benolayinka commented on #2714
Token exchange refused - ssl errors https://www.thethingsnetwork.org/forum/t/issues-with-login-and-self-signed-certificates/37893

[2020-07-02 09:45] KrishnaIyer commented on #2714
@benolayinka. Please use a single comment with `TODO` checklists and sub-issues if necessary. You can also open a thread on discourse and add the finalised items here.

[2020-07-02 09:46] johanstokking commented on #2713
No, don't use and document (for now).

[2020-07-02 10:07] rvolosatovs commented on #2789
@virtualguy could you provide us with a state of device, for which such issue happens?
[code]
should be enough.

Feel free to redact sensitive data, e.g. keys.
You can either send it here or over email: roman@thethingsnetwork.org

[2020-07-02 10:16] bafonins opened #2832 "Revisit end device general settings page"
#### Summary

We should revisit end device general settings page and adjust its UI and validation.

#### Why do we need this?

Consistency with device wizard and verified user flow when managing end devices.

#### What is already there? What do you see now?

End device general settings page with a bunch of forms for each stack omponent

#### What is missing? What do you want to see?

1. Consistent

[2020-07-02 10:41] LasaleFamine commented on #2822
Hi @KrishnaIyer, I have updated to 3.8.4, but nothing changed.

I can see the join-request on the Mikrotik, but actually I can't see a join-accept TX request, even if the stack console on gateway logs shows this:
![Screenshot 2020-07-02 at 12 30 43](https://user-images.githubusercontent.com/13070349/86349282-2366a300-bc61-11ea-92e3-953edad7039e.png)

And this is the join-request on the Mikrotik:
!

[2020-07-02 10:48] ZeroSum24 opened #2833 "Document organization and user rights management"
#### Summary

Hi there, I am looking to understand how to specify user rights and tie users to specific organisations when registering them through the gRPC/HTTP API. This is currently not a clear process for doing this when compared to TTN CLI module.
I have supposed that the User.Attributes field is key to managing this, is that the case? If so, how is this to be used?

Additionally, am I right

[2020-07-02 11:02] KrishnaIyer commented on #2833
@benolayinka: Please check this see if it's relevant to add to our docs

[2020-07-02 11:13] KrishnaIyer commented on #2822
Which gateway actually receives the downlink? Are there other gateways around?
And please look for relevant lines in the server logs.

[2020-07-02 11:25] LasaleFamine commented on #2822
Currently I have only the Mikrotik up and running connected to my stack, I'm pretty confident there aren't other gateways (not mine) around here, but I don't know if you mean this.

In attached server logs of the join request.
[logs-stack.log](https://github.com/TheThingsNetwork/lorawan-stack/files/4863924/logs-stack.log)

[2020-07-02 11:33] KrishnaIyer commented on #2822
Ok so from the logs it's clear that there's only one gateway `mikrotik-via-casmene` and the downlink is actually sent from the server.
What gateway server settings are you using? The config options start with `gs`.

[2020-07-02 11:48] LasaleFamine commented on #2822
Sorry where can I check the gateway server setting? Is that a stack configuration?

[2020-07-02 12:33] benolayinka commented on #2833
@laurensslats @htdvisser is it possible to customize individual user rights this way? If so, I'll add it to documentation.

[2020-07-02 12:59] htdvisser commented on #2833
No. Rights are managed with the Access APIs (ApplicationAccess, GatewayAccess, OrganizationAccess, etc.)

I noticed that Organization and User API reference was missing, so I pushed that to https://github.com/TheThingsNetwork/lorawan-stack/compare/issue/2833-usr-org-api. @benolayinka feel free to continue working on that branch.

[2020-07-02 13:04] htdvisser commented on #2833
And to avoid future confusion, it might be good to document the `attributes` fields in all entities. It's just a key/value map that can be used for organizing and searching (see `attributes_contain` in the search API). An integration might use it to store the external ID of a gateway or end device. We also sometimes (ab)use it to store data for experimental features (some fields for CUPS for examp

[2020-07-02 18:50] jceloria opened #2838 "local error: tls: bad record MAC"
#### Summary

This is a new install using docker-compose, following the getting started guide. After running docker-compose up, I proceed to the console and see `Token exchange refused`.  I came across #2353, #1818, #2511, and #2521 all of which led me to try different options to resolve this issue, unfortunately nothing has worked for me thus far.
...

#### Steps to Reproduce

1. Configure [docke

[2020-07-03 09:24] #2827 closed

[2020-07-03 12:45] rvolosatovs opened #2842 "Allow changing current channels within session lifetime"
#### Summary

Allow changing current channels within session lifetime

#### Why do we need this?

To e.g. allow fixing misconfigured ABP devices within session lifetime

#### What is already there? What do you see now?

`mac_settings.factory_preset_frequencies` only, ABP devices must reset FCnt or be recreated if channels are misconfigured

#### What is missing? What do you want to see?

allow set

[2020-07-03 13:59] laurensslats commented on #2586
I was thinking to include it in the Gateway, application
<img width="378" alt="Screenshot 2020-07-03 at 15 50 31" src="https://user-images.githubusercontent.com/17290639/86476008-00fa8580-bd46-11ea-8a38-02260749eb7c.png">
 & device search bar.

<img width="353" alt="Screenshot 2020-07-03 at 15 50 38" src="https://user-images.githubusercontent.com/17290639/86475576-3fdc0b80-bd45-11ea-82ea-71ee63f68

[2020-07-03 14:43] pgalic96 commented on #2586
Alright, that makes sense.

[2020-07-03 14:44] pgalic96 commented on #2812
Could you check once more? Haven't been able to reproduce this in both master and develop. Also checked with @bafonins who couldn't reproduce it as well.

[2020-07-03 19:17] KrishnaIyer commented on #2838
1. How did you generate the SSL Certs? If you've deployed this on a public machine, you can either use the in-built stack ACME or query certificates yourself using Lets Encrypt.
2. Does the CN (Canonical Name) of the certificate match the host where this is deployed?

If you're using the stack locally (localhost), then I'd recommend interacting with the stack without TLS (using the http/mqtt/ws/gr

[2020-07-04 11:30] bafonins commented on #2694
Blocked on https://github.com/TheThingsNetwork/lorawan-stack/issues/2813

[2020-07-04 11:37] bafonins commented on #32
update on this. I have a working utility that can generate API functions from the swagger schema using babel. However, I would like to check if we can use grpc directly.

[2020-07-04 16:15] bafonins commented on #2586
References https://github.com/TheThingsNetwork/lorawan-stack/issues/1825

[2020-07-04 16:28] bafonins commented on #2586
@pgalic96 How do you plan to implement this?

IMO, ideally we would have something similar to how search functionality is implemented here on github (searching for issues/prs/etc), but it requires some design work and out current backend doesnt support this.

For now, we can simulate the fuzzy search behavior, but first we need support for `or` when adding `{field}_contains` and support for `attri

[2020-07-05 19:48] jceloria commented on #2838
Thank you for the quick response.

1) How did you generate the SSL Certs? If you've deployed this on a public
machine, you can either use the in-built stack ACME or query certificates
yourself using Lets Encrypt.
- I'm using an existing Let's Encrypt generated by acme.sh and managed
outside of The Things Stack for my domain.
2) Does the CN (Canonical Name) of the certificate match the host where
t

[2020-07-06 07:25] htdvisser commented on #32
I have tried that in the past. The best way (at the time) was https://github.com/improbable-eng/grpc-web

[2020-07-06 07:32] htdvisser commented on #2586
Our search API already has support for searching for attributes: the `attributes_contain` field.

It works as follows: If an entity has attribute pairs

[code]

then it would be matched by a search for

[code]

[2020-07-06 09:06] htdvisser opened #2847 "Flaky AS NATS test"
#### Summary

I encountered a flaky test in the AS NATS package.

#### What do you see now?

[code]

[2020-07-06 11:24] #2043 closed

[2020-07-06 11:33] bafonins commented on #2824
From what I can see from sentry, most of the issues are related to fetching applications. Those fail with the `GET_APPLICATION_FAILURE`. Anyone can manually visit `/application/<some-application-id-i-dont-have-right-for>/devices/device-id` by manually settings the address or via shared link.

Let me know if im missing anything

[2020-07-06 14:13] benolayinka commented on #2838
Let me see if understand right

- You have a machine exposing `lora.redacted` with Apache using acme certificates for TLS
- You're running a docker container on this machine but you're not exposing The Things Stack with Apache
- You're running all of the above commands on this machine, so a ping to `localhost` will never leave the machine but a ping to `lora.redacted` should hit a DNS resolver som

[2020-07-06 15:28] johanstokking commented on #32
See #2298 for an open issue with Swagger also

[2020-07-06 15:28] jceloria commented on #2838
I'm accessing all resources from my local network at the moment, this is
simply a POC.

I have a UniFi Security Gateway with ports 80 and 443 mapped to a docker
host on a private subnet running Apache. The same docker host that's
running Apache is also running The Things Stack. I'm using split DNS, and I
only have a few services that I'm exposing publicly. I am not yet exposing
lora.redacted eithe

[2020-07-06 15:40] KrishnaIyer commented on #2838
@jceloria: This has to do with your `oauth` configuration. Can you add that here?

[2020-07-06 15:44] jceloria commented on #2838
That's most likely the case, I'm sure.

I posted both the docker-compose.yml and ttn-lw-stack.yml, under Steps to reproduce (1.) as gists, or were you referring to something else?

[2020-07-06 15:52] KrishnaIyer commented on #2838
Ah yeah indeed. I just saw that. I think I see the issue here.
For your [configuration](https://gist.github.com/jceloria/62434a4949a528ff15c4bcc8de777bf2),  only `https://lora.redacted` will work. Also your config is missing `:8885` unless you're proxying `https://lora.redacted` to  `https://lora.redacted:8885`.

What values did you use as `callback` when creating the Oauth client?

[2020-07-06 15:59] jceloria commented on #2838
I used Ansible to deploy with the following arguments to docker-compose which I grabbed from the getting-started/installation page:
[code]

In all likelihood, I'm missing something that's not obvious to me with the configuration. I appreciate the assistance.

[2020-07-06 16:16] #36 closed

[2020-07-06 17:18] jceloria commented on #2838
I figured as such, but I didn't think that the port mattered when
validating the certificate? What about accessing http://lora.redacted:1885?
Shouldn't that work regardless?

On Mon, Jul 6, 2020 at 10:52 AM Krishna Iyer Easwaran <
notifications@github.com> wrote:

[2020-07-06 17:24] jceloria commented on #2838
I see what you're saying, since this is all local, I should be able to update the config to the following:
[code]

[2020-07-06 18:54] KrishnaIyer commented on #2838
Exactly. The above looks correct.

[2020-07-06 21:20] jceloria commented on #2838
Thank you, that was in fact what I needed. After you had mentioned it, I came across #1752. If anyone is curious, this is the scrubbed & stripped down Ansible role that I'm testing with: https://github.com/jceloria/ansible-ttn-stack

Thanks again for everyone's help.

[2020-07-06 21:20] #2838 closed

[2020-07-07 02:24] kschiffer commented on #2824
Couple of things to note here:

Looking through the various events, it seems that the error events are aggregated by Sentry in an unhelpful way. Namely for all events that throw an error as `Non-Error exception captured with keys: code, details, message`, which can be a variety of events. From a quick look through it appears like most of these events are related to navigating to a restricted or no

[2020-07-07 02:24] #2824 closed

[2020-07-07 02:37] kschiffer opened #2849 "Improve sentry error fingerprints for frontend errors"
#### Summary
We currently see a lot of sentry errors being grouped in an unhelpful way. We need to use better fingerprints to ensure that grouped events actually account for the same type of error.

#### Steps to Reproduce
See sentry issues like these: https://sentry.io/organizations/the-things-industries/issues/1739012974/events/d441eb3ca15d4897be4be5a8bdce8b6b/?project=2682566&referrer=github_in

[2020-07-07 02:49] kschiffer commented on #2812
Appears to have been resolved since.

[2020-07-07 02:49] #2812 closed

[2020-07-07 13:06] #2553 closed

[2020-07-07 13:46] neoaggelos opened #2852 "CLI Auto complete"
#### Summary

Add auto-completion support in the CLI for common shells (e.g. bash, zsh)

#### Why do we need this?

- Improve user experience

#### What is already there? What do you see now?

No autocompletion

#### What is missing? What do you want to see?

Creating an auto-completion script for popular shells, documentation for enabling it.

#### Environment

3.8.5

#### How do you propose to i

[2020-07-07 14:33] neoaggelos opened #2853 "Make gateway not connected errors consistent"
#### Summary

When caching gateway connection stats on Redis, querying the stats of a not-connected Gateway results in a `redis not found` error, instead of `gateway not connected`

#### Steps to Reproduce

1. Start stack with cache enabled
2. Get connection stats of a gateway that is not connected.

#### What do you see now?

[code]

#### What do you want to see instead?

[code]

#### Environment

[2020-07-08 05:50] kschiffer opened #2856 "Fix custom form validation logic"
#### Summary

We need to revisit our custom validation logic of our `<Form />` component. It can lead to forms being submitted without proper validation and after experiencing [some regressions](https://github.com/TheThingsNetwork/lorawan-stack/issues/2827), appears a bit unreliable.

#### Steps to Reproduce

1.  Go to Pub/sub form
2.  Without entering anything, click on "Create Pub/sub"
3.  See n

[2020-07-08 08:48] neoaggelos opened #2859 "Configure Default Network server configuration with enums"
#### Summary

Use string enums for configuring default Network Server settings (e.g. `--ns.default-mac-settings.desired-mac-duty-cycle`)

#### Why do we need this?

- Consistency with the CLI
- Most importantly, avoiding confusion where the enum values are different than the actual integer values, e.g. https://github.com/TheThingsNetwork/lorawan-stack/blob/13d2f9d6ccd7ffac56b144507e3a5ac65d464717/

[2020-07-08 09:01] #2778 closed

[2020-07-08 09:08] kschiffer commented on #2586
Making the search available as part of the normal search bar of the application/gateway overview is indeed the way to go. Later on, we should look into designing [a dedicated search page](https://github.com/TheThingsNetwork/lorawan-stack/issues/1825) with more sophisticated mechanics, as noted by @bafonins.

It's a bit problematic that the attributes itself are not displayed in the entity table, s

[2020-07-08 09:13] kschiffer commented on #2586
This is true, @htdvisser , we can search by attributes, but what we need here is combining different search criteria, which is what we'd need to implement this feature. Ideally, we should have a fuzzy search that basically looks for the search term in all possible columns.

[2020-07-08 10:53] htdvisser commented on #2586
At the moment all search is done on the database, which doesn't have advanced search features. We would need a real search engine (ElasticSearch) if we want fuzzy search, and that's not something we can quickly implement.

[2020-07-08 13:07] benolayinka commented on #2712
@KrishnaIyer what's the plan?

[2020-07-08 13:30] KrishnaIyer commented on #2712
I have no time to look into this currently. Feel free to assign someone else if necessary.

[2020-07-08 13:39] adriansmares opened #2862 "IFTTT Maker integration"
#### Summary

We need to add support for [IFTTT Maker](https://platform.ifttt.com/maker/).

#### Why do we need this?

We are already supporting this in [V2](https://www.thethingsnetwork.org/forum/t/ifttt-integration/5332).

#### What is already there? What do you see now?

We do not support IFTTT Maker, but we already have the following base integrations setup:
- Webhooks (and templates)
- Applic

[2020-07-08 13:57] neoaggelos commented on #2853
Closed with #2854

[2020-07-08 13:57] #2853 closed

[2020-07-08 14:38] benolayinka commented on #2833
Can I go ahead and create a PR? For the `attributes` comments, do you mean for example `contact_info` and `profile_picture` here?

[code]

[2020-07-08 14:42] benolayinka commented on #2712
@johanstokking @htdvisser do you think we need to do something now to handle LBS gateway forms like this?

<img width="575" alt="Screenshot 2020-06-10 at 13 59 09" src="https://user-images.githubusercontent.com/6963436/84388764-65b63a80-abf5-11ea-9d47-0195b5e9944b.png">

[2020-07-08 14:45] htdvisser commented on #2833
If you want you can add a comment to any field that doesn't have a comment yet.

[2020-07-08 14:53] adriansmares commented on #1406
I think we should turn this around and encourage any gateway maker to actually have

[2020-07-08 14:54] #2554 closed

[2020-07-08 14:54] #2135 closed

[2020-07-08 15:19] adriansmares commented on #2708
The current behavior of uplink traffic between NS and AS (even after https://github.com/TheThingsNetwork/lorawan-stack/issues/2312) is that communication works in a lock-step mode:

- NS sends an `ApplicationUp` and waits for the empty message
- AS receives the `ApplicationUp` and synchronously processes the message, then sends the empty message
- NS receives the empty message and continues with t

[2020-07-08 15:41] benolayinka commented on #2833
@ZeroSum24 @htdvisser pushed the missing Organization and User API references. I think the API call you're looking for, to add a Collaborator to an Organization, is the [`OrganizationAccess.SetCollaborator` method](https://github.com/TheThingsNetwork/lorawan-stack/blob/f718fba49bad3124a443e2e9165e4a77c4534082/doc/content/reference/api/organization.md#the-organizationaccess-service).

I'll also pus

[2020-07-08 15:52] pgalic96 commented on #2586
This has to wait for a better search in the backend, otherwise a confusing search will only annoy users.

[2020-07-08 19:34] johanstokking commented on #2708
Yes exactly, this can only be implemented correctly with #2312. I wouldn’t touch the existing NS-AS hot path API behavior, I would wrap it in a box and throw the whole thing away.

[2020-07-08 19:54] johanstokking commented on #1406
There’s some packet loss here; are you suggesting to move the responsibility to the gateway maker to not burst?

I think we should make it as easy as possible for the edge; if there’s a window of sending data in bulk, let them do it. We just need to figure it out with a message queue, potentially already in GS.

[2020-07-08 19:59] johanstokking commented on #2712
For TTS, people know what certs they use to setup the stack, so this is not relevant here. Let’s continue the discussion in https://github.com/TheThingsIndustries/lorawan-stack/issues/2192.

[2020-07-08 19:59] #2712 closed

[2020-07-08 20:08] bafonins commented on #2713
@benolayinka Can we close this?

[2020-07-08 20:33] johanstokking commented on #2862
For The Things Stack we should consider a platform integration with IFTTT, see https://platform.ifttt.com/docs

If that’s not an option, we can go with the Webhooks service (which I think replaced Maker and works exactly the same). Like you say, we can’t use our webhooks integration so it won’t be a template. Would it be an application package?

[2020-07-09 05:29] vvksahoo opened #2868 "Interacting with the Gateway Server via MQTT"
Sorry i am on slack but not able to find your channel #the-things-stack, getting not found.  Can you invite me on vkumar19942010@gmail.com.
I have few question mentioned below. If possible please answer here.
 If created Gateway device and API key then
1: what will be MQTT ip-address and port?
2: What will be the username and password for MQTT.
3. What are the MQTT topics for Gateway.

[2020-07-09 05:35] vvksahoo commented on #2868
joined on #the-things-stack.,

[2020-07-09 05:35] #2868 closed

[2020-07-09 07:01] #2856 closed

[2020-07-09 08:31] benolayinka commented on #2713
Closed by #2836

[2020-07-09 08:31] #2713 closed

[2020-07-09 08:48] htdvisser opened #2871 "Reduce size of EndDevice objects in Redis"
#### Summary

We need to reduce the size of the EndDevice objects we store in Redis.

#### Why do we need this?

1. Because all of this is stored in memory, and with 250kB per end device operators are going to have very expensive infrastructure bills.
2. Because we're currently still fetching full EndDevice protos for a non-unique DevAddr, which leads to a lot of network traffic, which should also

[2020-07-09 09:32] adriansmares commented on #2862
I think the most elegant solution would indeed be an application package, with the only disadvantage of eating a random FPort.

[2020-07-09 09:51] johanstokking commented on #2862
And a default association?

[2020-07-09 09:53] adriansmares commented on #1406
That's what I meant, but I pressed enter too quickly.

[2020-07-09 09:54] benolayinka opened #2874 "GRPC failure from command line on dev environment"
#### Summary

I get a grpc failure when I try to list organization or run other stack commands on my dev environment. It looks like a certificate error

#### Steps to Reproduce

1. Run the dev stack with instructions from [DEVELOPMENT.md](https://github.com/TheThingsNetwork/lorawan-stack/blob/develop/DEVELOPMENT.md#running-a-development-build-of-the-things-stack)
2.
[code]

#### What do you see no

[2020-07-09 10:04] ZeroSum24 commented on #2833
Thanks very much for resolving this so quickly! It's great to see you've resolved my documentation request and I am sure the additional docs will be very useful.

I am not sure if this would be better placed by creating another issue, but following this it would be very useful it were possible to add in the ability to tailor individual user/organization rights and manage similar users/organization

[2020-07-09 10:17] adriansmares commented on #2862
Default associations still have/use FPorts: LoRaCloud DAS needs an FPort for the modem application package, even you set it up for the whole application.

[2020-07-09 11:07] KrishnaIyer commented on #2874
Please provide your CLI config.

[2020-07-09 11:09] benolayinka commented on #2230
@kschiffer how about creating users in the console? This is still CLI only

[2020-07-09 11:28] KrishnaIyer commented on #35
I don't mind getting my hands dirty here if @rvolosatovs/ @johanstokking are busy with other things.

[2020-07-09 11:34] benolayinka commented on #2874
[code]

[2020-07-09 11:40] htdvisser commented on #2874
See https://github.com/TheThingsNetwork/lorawan-stack/pull/2875/files#diff-a93ce0a570d25a996c72cba2276ba21b

[2020-07-09 12:15] johanstokking commented on #1406
There's a difference between server-to-server upload of a lot of frames, i.e. from a satellite ground station, versus a single gateway that has a local buffer which it flushes.

For those ground stations, they should be using Packet Broker anyway, and not act as a gateway. Rate limiting works very different there.

As for individual gateways that are flushing their local buffers, this should be ha

[2020-07-09 13:12] benolayinka commented on #2874
Fixed in #2875
Problem was
`export TTN_LW_OAUTH_SERVER_ADDRESS=http://localhost:8885/oauth` in DEVELOPMENT.md

This should be https, and now uses a CFSSL cert

[2020-07-09 14:18] rvolosatovs commented on #2789
@virtualguy @kurtmc any update on this?

[2020-07-09 15:46] adriansmares commented on #1783
@nejraselimovic has been working on setting up the repository at https://github.com/TheThingsIndustries/lorawan-webhook-templates . I find the contents to be fine, only that we should probably rebase `master` to squash the fixups.

@johanstokking could you please review the current state of `master` in that repository, and if everything is fine maybe we should move it under `TheThingsNetwork` ?

[2020-07-09 15:59] ZeroSum24 commented on #1147
@htdvisser it appears this might still be an issue? I've attempted to reset passwords for both admin and general users (working with v3.8.4) as an admin and was unsuccessful in all attempts including attempting to reset the admin password of the admin account I was using.

[code]

If you would be able to help with this that would be much appreciated!

[2020-07-09 17:15] rvolosatovs commented on #2871
Removing data we currently provide is breaking API, so I don't think we can do that in this major.
`recent_uplinks`/`recent_downlinks` have different meaning than `mac_state.recent_uplinks`/`mac_state.recent_downlinks` respectively. `mac_state.recent_uplinks` only contains last 20 data uplinks within a session, `recent_uplinks` contains everything - e.g. join-requests etc. Moreover, e.g. NS uses b

[2020-07-09 17:25] benolayinka commented on #2833
I get exactly where you're coming from. We have an [open issue](https://github.com/TheThingsNetwork/lorawan-stack/issues/1890) to add user rights this way. Hopefully coming soon!

[2020-07-10 08:02] johanstokking commented on #2871
The relevant point in the [compatibility commitment](https://github.com/thethingsnetwork/lorawan-stack#commitments-and-releases) is:

The issue at hand is about the state that Network Server stores (for itself). Yes, applications can access those fields (so you are right with "removing data we currently provide"), but the compatibility commitment is about API and behavior south of The Things Stack

[2020-07-10 08:07] johanstokking commented on #35
~Aggregates need to be calculated by an Event Server consumer.~

The time-on-air itself can be added as uplink message metadata using `pkg/toa`; that should be fairly straight-forward. I think it's nicest to have this calculated by NS.

[2020-07-10 09:45] rvolosatovs commented on #2871
Ok, but that means we also don't need to duplicate the legacy deprecated fields in NS registry on GET, right?

[2020-07-10 09:54] ZeroSum24 commented on #2833
@benolayinka that's great to hear! I am not sure looking at this issue, but is it a part of this, or another open issue, to add in the ability to manage similar users rights under a common grouping system (either under an organisation or another structure)?

[2020-07-10 11:20] johanstokking commented on #2871
Probably not, no.

[2020-07-10 11:39] johanstokking commented on #1783
@nejraselimovic please file pull request from `develop` and request review from @adriansmares and myself

[2020-07-10 11:46] johanstokking commented on #1147
Looks like we need some documentation here, and potentially change the CLI.

Please use `--temporary-password` instead.

[2020-07-10 14:10] ZeroSum24 commented on #1147
@johanstokking thanks very much for getting back to me!

I am not sure what the >  --temporary-password field should do. My assumption is that it either replaces the users current password with a temporary one, or provides a temporary password that the user may use in conjunction with their original.

What I have found on experimentation is that the >  --temporary-password field currently does nei

[2020-07-10 14:23] johanstokking commented on #1147
OK, we definitely need to clear up documentation here. If setting a temporary password, that would indeed need to take precedence, so that you can reset the password as admin.

So your use case is specifically to set the password for your users, right?

Or are the passwords forgotten? In that case you can use the `forgot-password` command.

[2020-07-10 15:45] KrishnaIyer opened #2882 "Basic Station always allows unauthenticated connections when API Key is defined"
#### Summary

Basic Station always allows unauthenticated connections when API Key is defined.

#### Steps to Reproduce

1. Create a Gateway.
2. Create an API Key for Gateway with Link Rights.
3. Connect to the `traffic` endpoint without authentication.

#### What do you see now?

- Unauthenticated connections are allowed. They are able to send uplinks and receive downlinks, basically spoof a real

[2020-07-10 17:34] rvolosatovs commented on #32
FYI `grpc-web` is supported by https://github.com/TheThingsIndustries/docker-protobuf

[2020-07-11 11:07] kschiffer opened #2884 "Make event data views more resilient of errors"
#### Summary
Our event views are currently crashing altogether when there is any kind of error related to the event stream. In many situations, errors are related to the parsing of one single event. In these situations we can safely keep the overall event stream running.

#### Why do we need this?
Unnecessary crashing of the entire event data view.

#### What is already there? What do you see now?

[2020-07-11 17:32] loganmc10 opened #2885 "Add support for login using external OAuth Provider"
#### Summary

Please consider adding support for external OAuth providers (for user login). Examples: Google, Microsoft, GitHub, Twitter, etc...

#### Why do we need this?

Easier user/password management, better 3rd party integration

#### What is already there? What do you see now?

As far as I can tell, only local users/passwords are currently allowed, if this feature already exists, I couldn't

[2020-07-12 16:25] johanstokking commented on #2882
I prefer this option.

Why is this a deviation from the LNS spec?

[2020-07-12 17:02] bafonins commented on #2884
Adding custom events is a good idea. I was thinking about adding events for pause, resume and clear events when implementing https://github.com/TheThingsNetwork/lorawan-stack/pull/2477, but wasnt sure about the UI. Not sure about proposed implementation, but can take a look myself when working on https://github.com/TheThingsNetwork/lorawan-stack/issues/2231

[2020-07-12 17:04] bafonins commented on #2047
More or less done with the implementation, but want to wait for https://github.com/TheThingsNetwork/lorawan-stack/issues/2605 to be merged before making a PR to add tests for device wizard (including the mac settings handling)

[2020-07-13 02:48] kschiffer opened #2886 "Redesign integration views using tiles"
#### Summary
The current views for application integrations are not optimal. Instead of showing one table per integration type, we should design a general overview for all integrations, using tiles instead of tables.

#### Why do we need this?
Current integration views are too fragmented.

#### What is already there? What do you see now?
Table overviews per integration type (Pub/sub, webhook) and

[2020-07-13 04:14] kschiffer opened #2887 "Data views slow down and freeze after receiving many events"
#### Summary
The data views of the console freeze after receiving a lot of events.

#### Steps to Reproduce
1. Go to the data view for an entity that receives a lot of events
2. Wait for some time while observing incoming events (waiting time is relative to the event frequency)
3. Observe the app becoming slow
4. Observe the app eventually freezing completely

#### What do you see now?
Freezing da

[2020-07-13 06:30] vvksahoo opened #2888 "Unable to share the data between MQTT pub/sub clients"
#### Summary

I have created a gateway ([Adding Gateways in the Console](https://enterprise.thethingsstack.io/v3.8.4/getting-started/console/create-gateway/)).
Trying to interact with gateway via MQTT.  But data is not able to shared between MQTT pub and sub clients.
...

#### Steps to Reproduce

1. Using Gateway Server address as mqtt ip address, port is 1882, username is<gw-id@tenant-id> and pas

[2020-07-13 06:52] bafonins commented on #2887
Redux store is certainly related here, but the main problem is rendering. After https://github.com/TheThingsNetwork/lorawan-stack/pull/2477#discussion_r421182736 I removed the limit for the number events being rendered in the events view.

Your solution looks fine, but indeed `localStorage` requires some experimentation

[2020-07-13 06:52] bafonins commented on #2887
Redux store is certainly related here, but the main problem is rendering. After https://github.com/TheThingsNetwork/lorawan-stack/pull/2477#discussion_r421182736 I removed the limit for the number events being rendered in the events view.

Your solution looks fine, but indeed `localStorage` requires some experimentation

[2020-07-13 08:57] rvolosatovs commented on #2545
https://github.com/TheThingsNetwork/lorawan-stack/pull/2756#issuecomment-657309318

[2020-07-13 09:01] kschiffer commented on #2885
References: TheThingsIndustries/lorawan-stack#1659

@loganmc10 We're planning to add this but I'm afraid it won't be part of the open-source TTS, but @htdvisser please correct me if not.

[2020-07-13 09:21] KrishnaIyer commented on #2888
The MQTT broker on the GS is not general purpose but is used for MQTT gateway connections.
`v3/gwID/down` is a downstream message (i.e., stack -> gateway). Sending data on it will not result in anything.
We have an issue for documenting the Gateway MQTT messages: #2743
Please follow that so that you know when it's done.

[2020-07-13 09:21] #2888 closed

[2020-07-13 09:24] ZeroSum24 commented on #1147
@johanstokking that's our use case aye. Thanks for looking into this.

[2020-07-13 09:30] neoaggelos commented on #2743
Picking this one up

[2020-07-13 09:34] KrishnaIyer commented on #2882
There are 2 reasons why
1. LNS spec allows unauthenticated connections. I'm fine with us enforcing this. But then, all connections have to be TLS since we're now sending the Auth header.
2. Existing Gateways connecting without Auth will not connect anymore and that's technically breaking API.

[2020-07-13 10:27] rvolosatovs commented on #2774
A way to reproduce this behavior would be to set `mac-settings.class-c-timeout` to something small - not waiting for MAC responses would break the MAC flow, so I don't think we can do that.
If required MAC requests fit in FOpts, the NS would just send all the MAC commands in FOpts of the data frame containing the application payload until it receives a response. If the MAC commands do not fit in F

[2020-07-13 11:41] rvolosatovs commented on #1332
Another one:
[code]

[2020-07-13 12:10] rvolosatovs opened #2892 "Personal access tokens"
#### Summary

Allow login via personal access tokens

#### Why do we need this?

To allow safe limited access to users/organizations resources to use in scripts, for example

#### What is already there? What do you see now?

Only username/password login possible

#### What is missing? What do you want to see?

Access token generation service and a way to use them to login

#### How do you propose

[2020-07-13 12:13] kschiffer opened #2893 "Make better use of horizontal space in the console (increase event container size)"
#### Summary
The console currently uses a fixed width for all views. In some views, like event data views, it makes sense to make use of all horizontal space available to prevent unnecessary truncation.

#### Why do we need this?
Increase the usability of our data views, by avoiding unnecessary cut-offs.

#### What is already there? What do you see now?
- Our grid system

#### What is missing? Wha

[2020-07-13 12:13] rvolosatovs opened #2894 "Non-interactive login"
#### Summary

Support logging in non-interactively

#### Why do we need this?

For using CLI in scripts, for example - e.g. in CI

#### What is already there? What do you see now?

Login via browser

#### What is missing? What do you want to see?

Support login via CLI exclusively non-interactively

#### How do you propose to implement this?

Implement command, which would support this: `cat passw

[2020-07-13 12:18] kschiffer commented on #2884
I have a WIP with that solution. What exactly makes you not sure about it? Just want to reassure before I continue working on this.

[2020-07-13 12:30] rvolosatovs opened #2895 "Backend regression and backwards-compatibility testing"
#### Summary

We should test for regressions in CI and backwards-compatibility of storage

#### Why do we need this?

To fulfill our compatibility promises

#### What is already there? What do you see now?

Only testing of the most recent version

#### What is missing? What do you want to see?

Regression testing github action

#### Environment

CI

#### How do you propose to implement this?

Gith

[2020-07-13 13:17] laurensslats opened #2896 "Frequency plan list doesn't fetch `frequency-plans.yml`"
#### Summary
Outdated frequency plan list is shown.

#### Steps to Reproduce

1. Add a device, see dropdown of frequency plans

It is working on `staging1` as well as on a local production, yet it is not updated on TTI CH.

#### What do you see now?
![Screenshot 2020-07-13 at 15 09 35](https://user-images.githubusercontent.com/17290639/87308324-5dfef400-c51b-11ea-9007-e9d359385bc4.png)

#### What

[2020-07-13 13:22] neoaggelos commented on #2852
Closed with #2870

[2020-07-13 13:22] #2852 closed

[2020-07-13 13:59] bafonins commented on #2893
Some what related https://github.com/TheThingsNetwork/lorawan-stack/issues/1327. Close if not relevant or fixed already

[2020-07-13 15:28] LasaleFamine commented on #2822
Hi @KrishnaIyer, sorry for the double post, but do you have any updates on this?

[2020-07-13 15:37] KrishnaIyer commented on #2822
Yeah so can you check your gateway server settings? Yes indeed it's stack configuration.

[2020-07-13 15:50] benolayinka commented on #1890
And in addition to this, using organizations to manage these permissions for groups of users.
So for example, a "read-only" organization could be used to easily create and group accounts without rights to create anything.

[2020-07-13 16:31] LasaleFamine commented on #2822
I'm afraid I can't find this kind of configuration about the **gateway server**. Can you please be more specific on where I can find them and what we are searching?

[2020-07-13 19:38] neoaggelos commented on #2819
Closed with #2841

[2020-07-13 19:38] #2819 closed

[2020-07-13 19:47] neoaggelos commented on #2298
How should we proceed with this? cc @htdvisser @johanstokking

[2020-07-14 06:09] johanstokking opened #2897 "Clarify applications and gateways not in cluster"
#### Summary

Clarify applications and gateways that are not registered in the cluster

#### Why do we need this?

To show that even though applications and gateways can be managed, the routing functionality is handled by another cluster.

#### What is already there? What do you see now?

If you login in the Console, you’ll see applications and gateways. The applications show the same in all clust

[2020-07-14 06:11] johanstokking commented on #2896
@laurensslats always set a milestone please.

This is an operational issue also.

[2020-07-14 06:11] #2896 closed

[2020-07-14 06:32] johanstokking commented on #2882
That the LNS spec allows connecting without authentication doesn't mean we should be accepting gateway connections without auth. We shouldn't be deviating from spec, but we can secure our clusters.

How is this issue related to the fact that there are API keys defined for the gateway? This doesn't matter right?

I think we should require authentication for Basic Station gateways, otherwise the who

[2020-07-14 06:54] johanstokking commented on #2298
Fork and fix, I'm afraid.

Alternatively, run a script to "fix" the generated Swagger files. That might be cleaner until we remove our custom sauce in V4.

[2020-07-14 07:07] htdvisser commented on #1890
@benolayinka I don't think that is feasible, as it would require changes to our entire rights model.

The easiest way to implement the requirements listed by @laurensslats is to add network-wide configuration to prevent regular (non-admin) users from creating applications/gateways/organizations. Instead, admins will create those, and add users as members on those entities.

@laurensslats ACK?

[2020-07-14 08:34] KrishnaIyer commented on #2882
Yes indeed. Option 2 is the most flexible.

[2020-07-14 08:50] bafonins commented on #2884
I dont know how the final UI will look and Im not sure how helpful this `new Error('Dismissed unparseable message chunk')` error can be to the user. When we display a custom error event for me it reads like "hey, something went wrong here. we dont really know whether event handling in the app is broken or grpc-gateway chunk stream is not functioning properly". There is nothing the user can do with

[2020-07-14 11:20] htdvisser commented on #2885
Forwaring that question to @johanstokking.

[2020-07-14 11:49] laurensslats opened #2901 "Improve UI menu bar HTTP webhooks"
#### Summary
HTTP Webhooks bar looks messy.

#### Why do we need this ?
Improve readability

#### What is already there? What do you see now?

Screen 1 is ok:
![Screenshot 2020-07-14 at 13 38 14](https://user-images.githubusercontent.com/17290639/87421655-9b28bc00-c5d7-11ea-9d79-3d524b2dc31d.png)

Screen 2 is not ok:
![Screenshot 2020-07-14 at 13 41 09](https://user-images.githubusercontent.com/17

[2020-07-14 12:28] #259 closed

[2020-07-14 12:29] htdvisser commented on #385
@rvolosatovs fixed this in #2453.

[2020-07-14 12:29] #385 closed

[2020-07-14 12:32] #577 closed

[2020-07-14 12:33] htdvisser commented on #601
@rvolosatovs I guess you overlooked this when you implemented https://github.com/rvolosatovs/lorawan-codec. Would be nice if you could add this to our own CLI instead of having a separate tool for it.

[2020-07-14 12:36] htdvisser commented on #1230
@neoaggelos please see what's still TODO in here.

[2020-07-14 12:38] htdvisser commented on #1173
@neoaggelos please check what's still TODO here

[2020-07-14 12:39] htdvisser commented on #1359
@rvolosatovs please check what's still TODO and close this issue if everything is ready.

[2020-07-14 12:42] rvolosatovs commented on #601
I think it's out-of-scope of the CLI, but I will add it.

[2020-07-14 12:43] htdvisser commented on #1761
Closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/2875

[2020-07-14 12:43] #1761 closed

[2020-07-14 12:45] rvolosatovs commented on #1359
We don't have `.travis.yml` anymore, so this issue can be closed IMO.
We still have some unimplemented features from Travis though:
- #2797
- gcloud test in `pkg/blob` (should file an issue)

[2020-07-14 12:45] #1359 closed

[2020-07-14 12:56] rvolosatovs commented on #2545
(continued from https://github.com/TheThingsNetwork/lorawan-stack/pull/2756#issuecomment-658143007)

There's no reason why `< $file` syntax should not work just as well.

E.g.:
[code]

Also the DevEUI should not be a problem - users should be able to just e.g. pipe output of one CLI into another to create a device

[2020-07-14 13:32] rvolosatovs opened #2903 "Decode and test with google cloud data"
#### Summary

Github actions do not decode the google cloud login data and the test is skipped (https://github.com/TheThingsNetwork/lorawan-stack/blob/008bc54e7a9f5169f0ca235f4dbb77deaa92a76e/pkg/blob/bucket_test.go#L102)

#### Why do we need this?

To test correctness

#### What is already there? What do you see now?

Test is skipped

#### What is missing? What do you want to see?

Decode the cre

[2020-07-14 13:44] #2679 closed

[2020-07-14 13:50] kschiffer commented on #2230
Yes but this is not a v2/v3 feature app. You can open a separate issue for this so we can track this.

[2020-07-14 14:38] ama9910 commented on #2774
Low `mac-settings.class-c-timeout` causes excessive downlinks for us, as the device does not respond until it is ready to send an uplink. Given the NS is not passing the application downlink, I assume that the MAC commands aren't fitting in FOpts.

We can probably close this issue, as I think the solution has to come from the device side.

[2020-07-14 15:01] benolayinka opened #2905 "Create users in the Console"
#### Summary

Feature request to create users in the console.

#### Why do we need this?

It's a useful feature and not everyone wants to use the CLI.

#### What is already there? What do you see now?

No add user button

#### What is missing? What do you want to see?

Add user button

#### Can you do this yourself and submit a Pull Request?

Maybe. @kschiffer want me to try?

[2020-07-14 15:16] neoaggelos commented on #2545
Some further comments to clear out confusion here:

The `template.json` that was posted [here](https://github.com/TheThingsNetwork/lorawan-stack/pull/2756#issuecomment-657907782) is a Device Template file, which has a different format than a Device.

For reference:

<details><summary>Example device file</summary>

[code]
</details>

<details><summary>Example Device Template file</summary>

[code]

[2020-07-14 15:23] htdvisser commented on #1406
As discussed during the call today, we'll come up with separate APIs for bulk-offloading buffered uplinks. This means that we can now go back to the original issue, and implement a generic ratelimit package that lets us limit:

- gRPC calls
	- vary by Service+Method, RemoteIP, AuthType+ID
	- in streaming gRPC calls we limit both streams started, and message rate
- HTTP calls (for non-gRPC APIs)
	-

[2020-07-14 15:24] htdvisser commented on #1406
Moving this to Next Up until everything is clear, but please, @neoaggelos start working on this ASAP.

[2020-07-14 15:26] johanstokking commented on #2885
@loganmc10 indeed this is something that The Things Industries won't contribute to the open source product, but we might consider contributions from the community.

[2020-07-14 15:37] neoaggelos opened #2906 "Gracefully disconnect Gateways before shutting down Gateway Server"
#### Summary

Gracefully disconnect Gateways before shutting down Gateway Server

#### Why do we need this?

Properly clear any cached connection stats of connected gateways when the Gateway Server is updated or restarted. It is also good to avoid leaving hung connections.

#### What is already there? What do you see now?

The GS shuts down without taking any care of existing gateway connections

[2020-07-14 15:40] neoaggelos opened #2907 "Add auto-complete configuration on release packages (Snap, Brew, Deb, RPM)"
#### Summary

Brew and snap have built-in configuration for auto-completion. We should use that.

#### Why do we need this?

Users can simply download from snap or brew and get auto-completion out of the box, instead of having to configure auto-completion themselves.

#### What is already there? What do you see now?

Auto-complete support and documentation to enable it.

#### What is missing? What

[2020-07-14 15:43] laurensslats commented on #1890
@htdvisser yes, this sounds perfect.

Let's focus on devices, applications, gateways and organizations.
Admins can pose restrictions on users to create/modify/delete any of these.

By default, all users should have all the rights when creating an account.

[2020-07-14 20:09] linekermtl commented on #2545
@rvolosatovs @neoaggelos Thank you both for the comments. Perhaps it would be helpful to clarify the differences between a device file and device template file in the documentation, because both files can be exported from an existing device and can easily become confusing.

What's your recommended approach to bulk provisioning devices, using the device template file or device file?

[2020-07-14 20:33] rvolosatovs commented on #2907
FYI, the Brew part would go here: https://github.com/TheThingsNetwork/lorawan-stack/blob/008bc54e7a9f5169f0ca235f4dbb77deaa92a76e/.goreleaser.yml#L173-L174

[2020-07-14 20:39] rvolosatovs opened #2908 "Per-application uplink queue buffer size"
#### Summary

Use the configured buffer size as a max cutoff point, but trim Redis streams to only store non-processed uplinks.
Note, we have a stream per-application
Refs #2904

#### Why do we need this?

To minimize memory usage for things we don't need to store

#### What is already there? What do you see now?

Currently all applications use the same configurable constant uplink queue buffer si

[2020-07-14 20:48] rvolosatovs commented on #2774
@johanstokking NS will actually be sending only application payloads in class B/C in newer versions of LoRaWAN anyway, so I guess we can implement it already? That would fix this issue as well

[2020-07-14 20:52] rvolosatovs opened #2909 "Add `mac-settings.mac-commands-in-class-b-c`"
#### Summary

Add and respect `mac-settings.mac-commands-in-class-b-c`

#### Why do we need this?

To allow configuring whether NS would send MAC commands in class B/C downlinks or not

#### What is already there? What do you see now?

MAC requests only sent in class A downlink slots

#### What is missing? What do you want to see?

Introduce `mac-settings.mac-commands-in-class-b-c`, which is `fals

[2020-07-14 20:53] rvolosatovs commented on #2774
Filed https://github.com/TheThingsNetwork/lorawan-stack/issues/2909
@ama9910 please subscribe to that issue for updates

[2020-07-14 20:53] #2774 closed

[2020-07-14 21:03] johanstokking commented on #2774
Yes I agree

[2020-07-14 21:07] johanstokking commented on #2908
Indeed we need to optimize this and grow the buffer as needed.

Also, when we're under memory pressure, we might store to disk.

If that doesn't work, or maybe in general, NS may keep at least the latest join-accept(s) and downlink queue invalidation message(s) so that AS has a valid session to work with.

[2020-07-14 22:42] loganmc10 opened #2910 "Support ACME DNS-01 challenge"
#### Summary

Support DNS-01 challenge for ACME/Let's Encrypt certs

#### Why do we need this?

This will allow someone to run the server on a port other than 443, useful if there are other services running on the same server.

#### What is already there? What do you see now?

Only port 443 is supported (perhaps another port would work if port 80 was open to perform an HTTP-01 challenge? I haven't

[2020-07-14 23:33] loganmc10 commented on #2910
I realize after some investigation that this is a limitation of the underlying app (autocert) and probably doesn't fall into the scope of this project, closing

[2020-07-14 23:33] #2910 closed

[2020-07-15 09:39] pgalic96 commented on #2849
This should be closed now, possibly reopening it when other errors need better grouping as well.

[2020-07-15 09:39] #2849 closed

[2020-07-15 10:00] johanstokking opened #2912 "Synchronize Gateway Server clocks via uplink token if needed"
#### Summary

Synchronize Gateway Server clocks via uplink token if needed

#### Why do we need this?

To make sure that GS instances handling the downstream connection to gateways have time synchronization for scheduling downlink. The Gateway Server instance for upstream and downstream may be different if the UDP session stickiness of the load balancer doesn't work, either because propagation is

[2020-07-15 10:57] htdvisser opened #2913 "Pass configuration options to frontend"
#### Summary

We need to find a way to pass backend configuration to the frontend.

#### Why do we need this?

- So that the frontend can give users more information about the actions they perform.
- So that the frontend can disable functionality that isn't enabled on the backend.

#### What is already there? What do you see now?

- We have some configuration in the Identity Server related to user

[2020-07-15 11:01] KrishnaIyer commented on #2913
+1 for Option B.

[2020-07-15 11:12] htdvisser commented on #1890
- This would apply to Applications, Gateways, Organizations and OAuth clients. End Device rights are managed through application membership rights, so no need to build something custom for that.
- It would be configuration for the entire network, that applies to all non-admin users.
- The default value for the option would indeed be the same as the current behavior (allowed).

[2020-07-15 11:50] benolayinka opened #2914 "Document `mac-settings` and `mac-state` commands"
#### Summary

There is currently no CLI guide for updating device parameters using API commands from https://github.com/TheThingsNetwork/lorawan-stack/blob/develop/doc/content/reference/api/end_device.md

There is also confusion about the difference between `mac-state` and `mac-settings` endpoints.
https://github.com/TheThingsIndustries/lorawan-stack-support/issues/48

#### Why do we need this ?

[2020-07-15 13:11] rvolosatovs opened #2916 "Backport 3.8.7 release"
#### Overview

This is a checklist for backport releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a release/<version> branch off the backport/<minor> branch
[code]

- [x] Cherry pick the necessary commits.
[code]

- [x] Update the `CHANGELOG.md` file
  - [ ] Change the **Unreleased** section to the new version and add date obtained v

[2020-07-15 13:27] rvolosatovs commented on #2914
See https://github.com/TheThingsIndustries/lorawan-stack-support/issues/48#issuecomment-651779700

`mac-settings` are only effective on device creation or after MAC state reset (e.g. after OTAA join or ABP FCnt reset, or ResetInd MAC command)
`mac-state` changes are volatile and only apply to the active session - once the MAC state is reset, all modifications are lost

[2020-07-15 14:02] #2123 closed

[2020-07-15 15:13] benolayinka commented on #2914
Okay. The [MacState docs](https://thethingsstack.io/v3.8.6/reference/api/end_device/#message:MACState) say it is read-only. This isn't true? 

[2020-07-15 15:19] rvolosatovs commented on #2914
Not anymore indeed

[2020-07-16 03:01] loganmc10 opened #2921 "Ready only access to gateway doesn't work in console"
#### Summary

I am trying to grant someone read-only/view access to a gateway via the console, here are the collaborator rights:
![image](https://user-images.githubusercontent.com/848146/87621440-0d83c400-c6de-11ea-99cc-d6a93b17eef3.png)

However, when the user clicks on the gateway, they are just silently redirected to the "Overview" page, without any error message.

#### Steps to Reproduce

Crea

[2020-07-16 09:05] thevirtualdj opened #2923 "Constant password change on 'Create new user' afterlogin on v3.8.6 until page refresh."
Constant password change on 'Create new user' afterlogin on v3.4.6 until page refresh.

Implemented the stack on public server and on Create new user everything is fine but after we log in user has to change pass or logout.
On every option after change or logout, when we log in again it says change password again.
![loging_change_pass](https://user-images.githubusercontent.com/102127/87652287-4d85

[2020-07-16 09:08] nejraselimovic commented on #2901
@benolayinka @laurensslats how can I achieve the integration contents to be hidden here if that integration is not selected? For example if I'm positioned on **Datacake**, currently, I can see the **Datacake Setup** and **Creating a Webhook**, but I can also see **Azure Setup** and **Creating a Webhook** that's under **Microsoft Azure**. How do I hide the contents of **Microsoft Azure** in this ca

[2020-07-16 09:09] KrishnaIyer commented on #2923
Please upgrade your version to the latest. We've `3.8.7` released yesterday. We don't provide fixes to versions older than the previous minor (currently lesser than `3.7.x`)

[2020-07-16 09:10] KrishnaIyer commented on #2923
Oops. Wrong button

[2020-07-16 09:17] thevirtualdj commented on #2923
Sorry i made a typo 3.4.6 - 3.8.6. Will try and close the issue.
Ty.

[2020-07-16 09:29] thevirtualdj commented on #2923
![image](https://user-images.githubusercontent.com/102127/87654674-90953080-c757-11ea-86ab-f3cd30bec767.png)
Still having the same problem?
Did I missconfigured something or?

[2020-07-16 11:19] bafonins commented on #2921
Hey @loganmc10! Thanks for reporting this. I fixed the issue in https://github.com/TheThingsNetwork/lorawan-stack/pull/2922 and the fix will land in the next release.

[2020-07-16 11:19] #2921 closed

[2020-07-16 11:28] bafonins commented on #2923
Can confirm that the issue is present in the latest `master`. Basically, the problem here is when creating a new account first we lose the `next` url in the request, which results in always logging in the oauth app regardless if the user visited `host/console` or `host/oauth`. @kschiffer is this something to be implemented in https://github.com/TheThingsNetwork/lorawan-stack/issues/1422 ?

[2020-07-16 11:33] bafonins commented on #2913
Are we talking about these https://github.com/TheThingsNetwork/lorawan-stack/blob/develop/pkg/webui/template.go#L93-L101 ?

I guess option A is the easiest. However, option B seems to be more appropriate and reliable. It is also quite helpful for mocking stack configuration for e2e tests.

[2020-07-16 11:35] thevirtualdj opened #2924 "Problem with recreating deleted user with same email and username again"
Problem with recreating deleted user with same email and username again:
Previously I deleted this user and want to add it again.
Did I misconfigured again or ?

![image](https://user-images.githubusercontent.com/102127/87666462-f50cbb80-c768-11ea-9d6a-ca3c3e24706b.png)

[2020-07-16 12:31] thevirtualdj opened #2925 "SMTP Email client notification settings thru 465 ?"
Can I and how to set up smtp thru SSL conection port 465?
Here is my smtp config:
                                       --is.email.provider="smtp"
                                       --is.email.sender-address="noreply@test.com"
                                       --is.email.sender-name="test"
                                       --is.email.sendgrid.api-key=""

[2020-07-16 12:40] benolayinka commented on #2901
it's [here](https://github.com/TheThingsNetwork/lorawan-stack/blob/develop/doc/themes/the-things-stack/layouts/partials/section-sidebar.html), but this is actually pretty hard to do. @htdvisser designed it, maybe he can chime in.

Most documentation limits depth to one or two logical levels because it's difficult to create breadcrumbs after that. Do you show all the subsections of all the parent s

[2020-07-16 13:01] benolayinka commented on #2901
In this case, I still think Cloud Integrations should be a subsection of Integrations, not HTTP Webhooks.

1. If I'm looking for example integrations, I expect them to be in Integrations -> Examples, not Integrations -> Implementation Method -> Examples, since people might not know in advance that these use webhooks under the hood
2. It saves us one level of depth, which fixes this problem tempora

[2020-07-16 14:06] adriansmares opened #2926 "Configure LoRa Cloud DAS integration"
#### Summary

We need to support creating/editing/deleting application (default) package associations from the Console.

#### Why do we need this?

Such that people can setup the packages without using the CLI.

#### What is already there? What do you see now?

1. Application packages documentation + CLI support details:
https://github.com/TheThingsNetwork/lorawan-stack/blob/79d20616887b274b582d82

[2020-07-16 14:08] nejraselimovic commented on #2901
Yeah, this is the idea from the screens above

I can put these stuff under **Integrations** and just emphasize the implementation method. I don't really know if the idea is to process multiple integration methods for the same IoT platforms? If that's true, then in this case we would have a messy result eventually.

@laurensslats is the one to think again about this

[2020-07-16 14:32] benolayinka commented on #2914
Okay. One last question @rvolosatovs :)

For the `mac-settings`, what's the difference between setting
`--mac-settings.rx1-delay` and `--mac-settings.desired-rx1-delay`? the MAC settings is only applied on a join anyway, right?

And for `mac-state`, what does setting `mac-state.desired-parameters` do, if the state is lost after a reset? When does desired become current?

[2020-07-16 15:25] benolayinka opened #2927 "Enums.yml missing comments"
#### Summary

Enums with a description in https://github.com/TheThingsNetwork/lorawan-stack/blob/master/api/api.md do not have any description in https://github.com/TheThingsNetwork/lorawan-stack/blob/master/doc/data/api/ttn.lorawan.v3/enums.yml and so the descriptions are not available in the docs.

#### What is missing? What do you want to see?

Can we generate enums.yml and the other api yaml d

[2020-07-16 15:34] htdvisser commented on #2927
Those files are generated, but that needs to be done manually until @rvolosatovs has time for https://github.com/TheThingsIndustries/docker-protobuf/issues/33.

This is what I use myself:

[code]

---

Which enums exactly don't have the comment you'd expect?

[2020-07-16 15:40] benolayinka commented on #2927
`AggregatedDutyCycle` is missing the comment

[2020-07-16 15:58] htdvisser commented on #2927
Aha I see. Fixed that in the generator: https://github.com/htdvisser/exp/commit/f9ec2ecce670c47fca9dd11d7949d6eef61f34e2

[2020-07-16 16:18] neoaggelos commented on #2545
The device templates are mostly meant to be used by device vendors. For bulk provisioning (where devices are identical apart from DevEUI and AppKey) I would suggest the following:

- Create one device (via the CLI or the Console) and configure as needed (Frequency plan, MAC settings, LoRaWAN protocol version, etc)
- Export the device to JSON using the CLI `ttn-lw-cli end-devices get <application-i

[2020-07-16 17:04] johanstokking commented on #2926
@adriansmares how about creating a specific LoRa Cloud DAS integration page, that has the package name, port and input for token sort of hard coded? I think the flexibility of the packages in the backend is good, but in the frontend we should make this really as easy as possible. This way, we can also validate the token and we don't have to enumerate the package list.

[2020-07-16 18:41] adriansmares commented on #2926
Port is still user input, but otherwise this is also fine 👍

I think this is also to keep in mind for other integrations - maybe tables are practical but the UX is a lot better with 1 click setup.

[2020-07-17 11:28] rvolosatovs commented on #2914
For OTAA `--mac-settings.rx1-delay` probably does not make much sense, but it does for ABP, where there's no explicit join procedure, and, hence NS needs to know what the current Rx1Delay of the device is.

It triggers MAC commands being sent by NS, see https://github.com/TheThingsIndustries/lorawan-stack-support/issues/48#issuecomment-651779700

[2020-07-17 11:30] htdvisser opened #2932 "Revisit Caching in Rights fetcher"
#### Summary

We should reconsider the current implementation of the rights fetcher cache.

#### Why do we need this?

Because right now all fetches are cached for the same period, which is sometimes causing issues.

#### What is already there? What do you see now?

https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/component/rights.go#L35 sets the TTL of both successful and unsucce

[2020-07-17 11:54] johanstokking commented on #2926
Yes, see https://github.com/TheThingsIndustries/lorawan-stack/pull/2241#issuecomment-657323916

[2020-07-17 11:59] htdvisser opened #2933 "Build for darwin-arm64"
#### Summary

Maybe nice to start building for Darwin-ARM so that people with those fancy new Apple Silicon Macs can use our CLI.

#### What is already there? What do you see now?

We only build for darwin-amd64

#### What is missing? What do you want to see?

Also build for darwin-arm64

#### Environment

macOS with Apple Silicon

#### How do you propose to implement this?

I guess just add it to

[2020-07-17 12:12] htdvisser opened #2935 "Include completion files in Brew builds"
#### Summary

It would be nice to add completion files to Brew builds.

#### Why do we need this?

So that completion is pre-installed instead of asking users to generate it.

#### What is already there? What do you see now?

#2870 added support for writing completion files

#### What is missing? What do you want to see?

Completion included in our Brew packages

#### How do you propose to impleme

[2020-07-17 12:17] neoaggelos commented on #2935
There is an issue for this already https://github.com/TheThingsNetwork/lorawan-stack/issues/2907

And some preliminary work in https://github.com/TheThingsNetwork/lorawan-stack/tree/feature/snap-and-brew-autocomplete

[2020-07-17 12:19] htdvisser commented on #2935
Aha okay. This was still on my action list from the sync call, didn't notice the other issue.

[2020-07-17 12:19] #2935 closed

[2020-07-17 13:03] johanstokking commented on #2926
Setting high priority on this one due to partner request.

@kschiffer my idea would be to show "LoRa Cloud" as a first-class integration, not in pub/sub (it isn't pub/sub anyway), so on the same level as MQTT, webhooks and pub/sub. It would work with a fixed FPort.

We may later add an overview of package assignments per FPort, but I'd like to keep this issue small and scoped to configuring LoRa C

[2020-07-17 13:33] #2874 closed

[2020-07-17 13:34] johanstokking commented on #2140
Ping @laurensslats

[2020-07-17 13:37] johanstokking opened #2938 "Device import by manifest"
#### Summary

Device import format

#### Why do we need this?

For device makers to share a manifest with their customers, which contains all information for The Things Stack to provision the end devices. The manifest acts as a proof of ownership.

The manifest may contain root keys, but these should be wrapped in the (existing) key envelope.

#### What is already there? What do you see now?

Devi

[2020-07-17 13:39] #1783 closed

[2020-07-17 14:33] adriansmares commented on #2234
The API has been added in #2919

[2020-07-17 14:38] #2543 closed

[2020-07-17 14:38] laurensslats commented on #2896
@johanstokking so is this fixed now?

[2020-07-17 14:47] johanstokking commented on #2896
It is fixed but it depends on the infrastructure that you're looking at whether it's deployed. The Things Industries Cloud Hosted EU1, for example, will be updated Monday to make this effective.

[2020-07-17 15:08] laurensslats commented on #2140
Let's snooze this for now.

When we implement this, we also need to change the name, as it should only display `Europe EU863-870 MHz`

[2020-07-17 15:08] #2140 closed

[2020-07-17 15:42] neoaggelos commented on #2545
Closing, since issue is resolved.

[2020-07-17 15:42] #2545 closed

[2020-07-20 12:16] johanstokking opened #2940 "AppSKey not recovered via interop"
#### Summary

AppSKey is not recovered via interop

#### Steps to Reproduce

1. Setup stack the usual way
2. Register device on external Join Server
3. Unlink AS
4. Activate device
5. Link AS
6. Send uplink message

#### What do you see now?

AS doesn't recover the AppSKey from the JS via interop

[code]

#### What do you want to see instead?

AppSKey recovery via JS interop

#### Environment

3.8

[2020-07-20 12:19] kschiffer commented on #2913
Agreed. Option B.

[2020-07-20 12:41] kschiffer commented on #2923
Indeed, this is essentially a duplicate of TheThingsIndustries/lorawan-stack#1968 (this should be an open source issue...)  and is something that really really needs to be fixed ASAP.

@thevirtualdj we are aware of this issue and looking into possible fixes.

[2020-07-20 12:45] kschiffer commented on #2923
As far as retaining the `next` query parameter goes, yes, I will make sure to add this.

[2020-07-20 14:18] johanstokking commented on #2940
Closed by #2941

[2020-07-20 14:18] #2940 closed

[2020-07-20 14:19] #2927 closed

[2020-07-20 14:40] htdvisser commented on #1890
Closed by #2918

[2020-07-20 14:40] #1890 closed

[2020-07-20 20:32] johanstokking commented on #2912
Bumping to medium as UDP downlink support in multi-instance Gateway Server deployments is currently a lottery

[2020-07-21 02:55] kschiffer commented on #2826
I assume this to be resolved via #2883, otherwise will reopen.

[2020-07-21 02:55] #2826 closed

[2020-07-21 04:37] virtualguy commented on #604
@htdvisser this would be great to have for re-provisioning devices.

Is there any work around to reuse a dev_eui other than manual manipulation of redis+DB?

[2020-07-21 04:44] virtualguy commented on #1703
@htdvisser I'll upvote this one in favor of #604 as this would be perfect for my use case

[2020-07-21 07:45] htdvisser commented on #604
This particular issue is more about applications and gateways. Sometimes users want to start over and decide to delete their application/gateway, not knowing that the ID will not be released.

Right now the solution is to re-register with a different ID, but sometimes users really like their IDs...

Note that for gateways, the EUIs are released on delete (since https://github.com/TheThingsNetwork/

[2020-07-21 08:42] virtualguy commented on #604
Gotcha, makes sense. Sounds like we have a different issue as the NS was complaining of device already existing during create from the CLI tool. I'll try reproduce and open a separate ticket

[2020-07-21 11:06] johanstokking commented on #2912
Closed by #2943

[2020-07-21 11:06] #2912 closed

[2020-07-21 12:07] adriansmares opened #2946 "Make the webhook templates repository part of the default configuration"
#### Summary

We should make the [webhook templates repository](https://github.com/TheThingsNetwork/lorawan-webhook-templates/) part of the default configuration of the stack.

#### Why do we need this?

In order to allow stack installations to use the newly created webhook templates.

#### What is already there? What do you see now?

The `TemplatesConfig` which contains the configuration for the

[2020-07-21 13:16] johanstokking commented on #2926
I simplified the original comment here.

@kschiffer for the UX, I think it would be nice to have in the section:

- a logo
- a short description
- a link to documentation
- a link to Semtech's resources
- input fields for token

[2020-07-21 14:18] htdvisser opened #2950 "Events Streams Blocking Console When Start Events Not Sent"
#### Summary

Since https://github.com/TheThingsNetwork/lorawan-stack/pull/2565 the events streams in the console block after clicking around in the console.

#### Steps to Reproduce

1. Go to https://tti.staging1.cloud.thethings.industries/console/gateways
2. In a single tab, open a gateway and use the breadcrumbs to go back
3. Repeat for each gateway

#### What do you see now?

At some point the

[2020-07-21 14:49] bafonins opened #2951 "CSRF token invalid error when changing password"
#### Summary

It is not possible to change pasword via the OAuth app on the staging environment.

#### Steps to Reproduce

1. Go to https://tti.staging1.cloud.thethings.industries/oauth/update-password or build the production version of the lorawan-stack yourself and visit the `/oauth/update-password` route.
2. Fill in the fields
3. Submit the form and see the error

<img width="484" alt="Screensh

[2020-07-21 17:26] neoaggelos commented on #2906
I much prefer going with clearing the connection stats for connected gateways for this one. Waiting for thousand of gateways to disconnect could become slow and error-prone (also, what if a gateway re-connects during that time?).

[2020-07-22 01:55] rvolosatovs commented on #2950
On Firefox console is loading forever if there are 6 open tabs - if e.g. one of the working tabs is refreshed - one of the loading tabs unblocks, but that seems to fail sometimes.

In any case, I tried sending the start/end messages, but that did not change anything - it still hangs after there are 6 tabs.

Note: all tabs are at data view of a gateway (2 different ones)

[2020-07-22 06:32] htdvisser commented on #2950
@kschiffer any ideas?

[2020-07-22 06:58] kschiffer commented on #2950
That is expected and [a limitation of not using HTTP/2](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events):

I have trouble reproducing the original issue since I only have access to two connected gateways on the staging environment.

[2020-07-22 07:01] kschiffer commented on #2950
Correction: can reproduce now and am investigating.

[2020-07-22 08:05] johanstokking opened #2953 "Validation of pub/sub form doesn't work"
#### Summary

Validation of pub/sub form doesn't work

#### Steps to Reproduce

1. Configure new pub/sub
2. Select MQTT
3. Enter invalid client ID, i.e. with spaces

#### What do you see now?

<img width="785" alt="Screenshot 2020-07-22 at 10 02 02" src="https://user-images.githubusercontent.com/13334001/88151086-8618e200-cc02-11ea-85a4-cb088269c58c.png">

#### What do you want to see instead?

Va

[2020-07-22 08:11] kschiffer commented on #2950
So the issue happens when event streams do not send any data. The event stream connection will only resolve after the first message has been received, otherwise, it will hang in the `pending` state. Once 6 of those connections are opened all other connections will hang as well, since the maximum amount of concurrent TCP connections has been reached. So it appears like the XHR expects some kind of

[2020-07-22 08:43] rvolosatovs commented on #2950
In my experience sending "initial message" does not help with this issue. Please try yourself with the following diff:

[code]

[2020-07-22 08:53] bafonins commented on #2953
Cannot reproduce. Validation works fine on the latest master.

We previously had issues with the pub-sub form, but I fixed this in https://github.com/TheThingsNetwork/lorawan-stack/pull/2860

[2020-07-22 09:08] rvolosatovs commented on #2950
In my experience sending "initial message" does not help with this issue. Please try yourself with the following diff:

[code]

Here's a video:
https://youtu.be/0Ir0lakV-Mc

[2020-07-22 09:14] bafonins commented on #2953
However one thing is broken. The error message is not really helpful:
<img width="767" alt="Screenshot 2020-07-22 at 12 12 50" src="https://user-images.githubusercontent.com/16374166/88158505-cda86980-cc14-11ea-94ad-26aadfcab0e1.png">

The following diff should fix the validation error message:
[code]
<img width="767" alt="Screenshot 2020-07-22 at 12 13 18" src="https://user-images.githubuserconte

[2020-07-22 09:23] htdvisser commented on #2950
I do see a difference.

On `master` WITHOUT the diff:

[code]

On `master` WITH the diff.

[code]

[2020-07-22 09:26] kschiffer commented on #2950
We have to differentiate this issue:

1.  Whenever there are six TCP connections concurrently open per domain and browser, any subsequent request will hang. This is a browser limitation and IMO ways to deal with this should be discussed in another issue. This is the issue I see in your video @rvolosatovs 
2.  When a stream endpoint does not send a response header immediately, the request will stal

[2020-07-22 09:33] rvolosatovs commented on #2950
@kschiffer can you give steps to reproduce the issue in 2. ?
I'm constantly refreshing a single gateway data tab and experience no hangs with latest `master` (without patch)

[2020-07-22 09:35] kschiffer commented on #2950
The easiest way is to create a completely fresh and unconnected gateway since it will not send any messages. Then navigating to its overview page and back to the gateway list six times.

[2020-07-22 10:07] johanstokking commented on #2953
Should we always `passValues()` or when do we do this?

[2020-07-22 11:10] LasaleFamine commented on #2822
I think I have some updates: I have tried the Mikrotik gateway also with thethingsnetwork.org and I have actually the same problem, I can see the "Activation" uplink and other retries, but seems like that the Mikrotik is not able to schedule the join-accept for the device.

I have tried with a TheThingsUno with a super basic sketch "SendOTAA" from thethingsnetwork Arduino Lib, I'm starting to thin

[2020-07-22 11:54] nejraselimovic commented on #2901
@laurensslats just a reminder to give me more instructions on this after considering Ben's suggestions

[2020-07-22 11:55] #2946 closed

[2020-07-22 12:03] KrishnaIyer commented on #2822
Hmm it could be due to a wrong frequency plan configuration?

[2020-07-22 13:27] htdvisser commented on #1735
Closed by #2915

[2020-07-22 13:27] #1735 closed

[2020-07-22 15:53] LasaleFamine commented on #2822
I don't have much configurations on the gateway panel itself so I really don't know what to try. I'm waiting a response from my reseller (which official for Mikrotik) so maybe I can try another gateway.

Do you have some hint on what configuration I should check by the way?

[2020-07-22 16:44] #2546 closed

[2020-07-22 20:12] neoaggelos opened #2962 "Document setting up TTS on localhost for evaluation/testing purposes"
#### Summary

Document how users can start the stack on localhost for testing purposes and for getting a quick taste of The Things Stack.

#### Why do we need this ?

Currently, the Getting Started guide has instructions for setting up TTS on a public instance under `thethings.example.com`. There are also a few kinda sparse notes for local deployments.

Users may want to quickly get a TTS instance

[2020-07-23 06:53] KrishnaIyer commented on #2962
just replacing `thethings.example.com` to `localhost:<port>` is sufficient. Why do we need a separate guide for that?

[2020-07-23 09:38] bafonins commented on #2953
Usually, we use `Yup.passvalues` to include values into the validation message. For example, when we enforce that a certain field must be at least 2 characters long we use the `.min(2)` rule and define a single validation message `{field} must have at least {min} characters` such that validation value is placed instead of `{min}`.

The problem with `string().matches()` is that its signature is dif

[2020-07-23 09:38] bafonins commented on #2953
@johanstokking Can we close this issue?

[2020-07-23 09:40] neoaggelos commented on #510
Picking this one up

[2020-07-23 09:49] #2659 closed

[2020-07-23 10:02] adriansmares opened #2964 "Pub/Sub integration providers are not retrieved in the Console"
#### Summary

Pub/Sub integration information page (so the Pub/Sub form when you first enter a Pub/Sub for editing) does not retrieve the provider fields (MQTT/NATS).

References https://github.com/TheThingsIndustries/lorawan-stack-support/issues/89

#### Steps to Reproduce

1. Create a Pub/Sub integration
2. Fill in the provider information (use MQTT for example).
3. Leave the page, go to the Pub

[2020-07-23 13:46] ZeroSum24 opened #2965 "CLI Auth Error - Following Change to TLS Redirection in Config"
#### Summary

Using ttn-lw-cli v3.8.7 I'm unable to run console commands against a self-managed TTN v3.8.7 deployment. This was working previously and has since stopped following the addition of the http.redirect-to-tls flag in the deployment configuration.

The console is still accessible and working as expected. I am not sure if this is a bug or a system configuration issue. Either way your help

[2020-07-23 13:54] johanstokking commented on #2670
We also need to switch to https://github.com/dop251/goja as https://github.com/robertkrimen/otto is unmaintained.

[2020-07-23 14:23] adriansmares opened #2966 "Application Server panic while running the JavaScript message decoder"
#### Summary

The Application Server may panic while running the JavaScript message decoder. This is obviously not the intended behavior but tracking the bug has proven to be non-trivial.

References https://github.com/TheThingsIndustries/lorawan-stack/issues/2262

#### Steps to Reproduce

1. Run an uplink through the JavaScript message decoder.
2. Have a particularly bad day.
3. The AS panics and

[2020-07-23 14:38] neoaggelos commented on #2965
Hi @ZeroSum24 , thanks for reporting this issue. Indeed, I was able to reproduce the problem. This has been around since `3.8.0` apparently.

[2020-07-23 14:49] ZeroSum24 commented on #2965
@neoaggelos thanks very much for your help and the quick response! I've applied that workaround on our end which has resolved the issue for the moment.

[2020-07-23 14:50] adriansmares opened #2967 "Update base Docker image"
#### Summary

We should upgrade the Docker base image of our stack to `alpine:3.12` (or whatever the latest version is at the time of fixing).

#### Why do we need this?

`v3.10` is currently receiving only security bug fixes until `2021-05-01`. While definitely not a high priority given the large time span, I'd still wish to rule out any bugs related to the base image.

#### What is already there

[2020-07-23 15:00] adriansmares opened #2969 "Ubuntu based Docker images"
#### Summary

We should provide Docker images deriving from `ubuntu` as opposed to only `alpine`.

#### Why do we need this?

In order to have this variant available for testing / prototyping.

I've read a couple of reports (https://github.com/grafana/grafana/issues/20153, for example)  that `alpine` based images have some weird DNS resolver issues, especially when combined with Go (which sometime

[2020-07-23 15:17] htdvisser commented on #2969
I don't think this is the way to go. Having Ubuntu or even Alpine around a static binary is unnecessary. To be honest, I would rather switch to images `FROM scratch`.

If we want predictable DNS behavior we can build our binaries with the `netgo` tag, so that we always use Go's native DNS implementation.

[2020-07-23 15:20] htdvisser commented on #2969
Found my WIP on the `FROM scratch` idea:

[code]

[2020-07-23 15:21] adriansmares commented on #2969
I'm ok with this variant as well. Shall we split then this into two issues ?
- Move to `FROM scratch`
- Use the `netgo` tag as part of `goreleaser`

[2020-07-23 15:29] htdvisser commented on #2969
I don't think we'll make the community very happy if we go `FROM scratch`. Doing that makes debugging a lot harder.

Additional disadvantage is that we'd have to reimplement the health check (because scratch doesn't have `curl`).

[2020-07-23 17:05] johanstokking commented on #2953
Yes, thanks for the explanation

[2020-07-23 17:05] #2953 closed

[2020-07-23 17:31] johanstokking commented on #2966
References #2670; this problem might disappear when we switch from `otto` to `goja`

[2020-07-24 01:17] kschiffer opened #2970 "Improve layout of sidebar"
#### Summary

The layout of the sidebar is still quite stiff, there are numerous improvements that will make the sidebar more accessible.

References #2893 

#### Why do we need this?

*   Fix technical debt
*   Improve overall layout structure
*   Improve UX of views with side navigation

#### What is already there? What do you see now?

*   Side navigation
*   Responsive styles

#### What is mis

[2020-07-24 10:26] #2166 closed

[2020-07-24 13:25] htdvisser opened #2973 "Contact Info in the Web UI"
#### Summary

We should add functionality to the Console (and/or account app) to list and edit contact info, and to (re-)request validation of that contact info.

#### What is already there? What do you see now?

The top-level entities in The Things Stack can have contact info (typically email addresses, in the future maybe also phone/twitter/...) attached to them (although in practice this is onl

[2020-07-24 13:30] htdvisser opened #2974 "Add histogram metrics to Network Server"
#### Summary

It would be nice if we could add two histogram metrics to the Network Server:

- For DevAddr matches per uplink
- For the number of MIC checks per uplink

#### Why do we need this?

- DevAddr matches: So that we can monitor how well DevAddrs are spread, and see if we need to assign more blocks to a deployment.
- MIC checks: So that we can monitor how optimal our pre-sorting is.

####

[2020-07-24 13:35] htdvisser opened #2975 "Replace otto with goja"
#### Summary

We should replace the unmaintained [otto](https://github.com/robertkrimen/otto) library with [goja](https://github.com/dop251/goja).

Refs #2670 and #2966

#### Why do we need this?

Because we should avoid unmaintained libraries, especially ones that we use to run arbitrary code.

[2020-07-24 13:42] htdvisser commented on #2975
And while at it, it would be nice to add a Prometheus histogram to get some insight in how long those scripts take

[2020-07-25 08:13] #2655 closed

[2020-07-25 17:59] rvolosatovs commented on #2974
MIC check metrics are already part of #2837

[2020-07-27 02:06] #2970 closed, assigned to kschiffer

[2020-07-27 02:56] kschiffer commented on #1327
Closing this since it has since been resolved. Table columns won't jam anymore since tables have a min-width in smaller screensizes and enable scrolling. More improvements will come for event views via #2893

[2020-07-27 02:56] #1327 closed

[2020-07-27 03:22] kschiffer opened #2980 "Show all event info in expanded event details"
#### Summary
The expanded details section of the console currently only shows the `data` prop of the event. However, there is other relevant data in the root of the event object that should be shown too.

#### Why do we need this?
The user should be able to inspect all available data of an event if he/she wishes to

#### What is already there? What do you see now?
Only the `data` prop of the event

[2020-07-27 07:36] kschiffer commented on #2950
Unassigning me since this is not an issue originating from the Console.

[2020-07-27 08:37] #2833 closed

[2020-07-27 08:56] benolayinka commented on #2962
The [getting started guide](https://thethingsstack.io/v3.8.7/getting-started/installation/) is a lot more work than the couple steps in DEVELOPMENT.md. It's also [easy to mess up](https://thethingsstack.io/v3.8.7/getting-started/installation/configuration/) the yaml config. And it's not clear what certificates you need if you're running on localhost.

@neoaggelos maybe it's enough to link to DEVEL

[2020-07-27 09:03] KrishnaIyer commented on #2962
You don't use TLS on localhost. It's actually meaningless to do that even though we can generate certs. TLS is for when something is exposed on the public internet.

[2020-07-27 09:27] johanstokking commented on #2670
Let's do this in one go with #2975

[2020-07-27 09:27] johanstokking commented on #2975
Let's do this in one go with #2670

[2020-07-27 09:30] benolayinka commented on #2962
Exactly, but the first time I followed the getting started guide, I tried to use ACME to generate certs because there's nothing about localhost

[2020-07-27 11:47] neoaggelos commented on #2962
I believe that the source of confusion here is that even though on localhost you will not be using TLS for interacting with the stack, the stack itself still requires a certificate to be setup, and will refuse to start without one.

This might not be clear enough to a newcomer that wants to try out the stack. Also, they might not be familiar enough with generating a self-signed certificate.

That

[2020-07-27 14:29] ZeroSum24 opened #2985 "PubSub/MQTT - "Provider `<nil>` is not implemented""
#### Summary

We've been working to have the TTN applications subscribe to an external MQTT server. This is because we require different QoS levels than the internal TTN MQTT component allows.

There has been an issue when setting the PubSub field for TTN Applications, with the same error resulting from use of either the HTTP API or the CLI. This error is presented on the console after the pubsub

[2020-07-27 14:33] #2893 closed

[2020-07-27 14:37] KrishnaIyer commented on #2882
Closed via #2948

[2020-07-27 14:37] #2882 closed

[2020-07-27 14:39] KrishnaIyer commented on #2822
Ok I'm not sure of that actually. Since this seems to be related to the gateway and not the stack, I'll close this for now. Please feel free to re-open if you have issues connecting to the stack.

For more help on the gateway itself, I recommend checking the Slack/Forum

[2020-07-27 14:39] #2822 closed

[2020-07-27 14:49] johanstokking commented on #2980
Not that I'm aware of. More information is always better. What do you have in mind to show?

[2020-07-27 15:01] KrishnaIyer commented on #1436
Basic Station is now covered via #2948, updated description to match that.

[2020-07-28 06:54] kschiffer commented on #2980
We can just show the whole event object instead of just `event.data`. Then we can also make all regular events expandable instead of just the ones that have a `data` prop.

[2020-07-28 08:34] #2907 closed

[2020-07-28 10:36] johanstokking commented on #2964
I cannot reproduce.

Please explain.

<img width="1792" alt="Screenshot 2020-07-28 at 12 36 00" src="https://user-images.githubusercontent.com/13334001/88655348-ea3e1900-d0ce-11ea-8f3f-a2718558c23f.png">

This contains provider information right?

[2020-07-28 12:11] benolayinka commented on #2614
Closed by #2750

[2020-07-28 12:11] #2614 closed

[2020-07-28 13:07] #2916 closed

[2020-07-28 14:31] KrishnaIyer commented on #2581
Hey @beitler, I tried to reproduce this but I couldn't. I'm using a TTIG with `2.0.4` firmware.

Here are my observations;

##### Uplink/Downlink 1 (t=0)

[code]

##### Uplink/Downlink 2 (t+2 mins)

[code]

##### Uplink/Downlink 3 (t+31 mins)

[code]

##### Uplink/Downlink 4 (t+57 mins)

[code]

##### Uplink/Downlink 5 (t+72 mins, uint32 Rollover)

[code]

##### Uplink/Downlink 6 (t+75 mins)

[cod

[2020-07-28 22:00] neoaggelos commented on #2859
Removed `bump/major`, both integer and string values are working properly after all.

[2020-07-29 06:48] htdvisser commented on #2950
Closed by #2989

[2020-07-29 07:36] wienke opened #2994 "When clicking All (Admin) on the gateway section I get an unexpected error"
<img width="743" alt="Schermafbeelding 2020-07-28 om 16 07 33" src="https://user-images.githubusercontent.com/3216553/88770979-dc47d100-d17e-11ea-9466-03acad09e9b4.png">

[2020-07-29 09:11] htdvisser commented on #2925
If you set `is.email.smtp.address` to `"mail.your-server.de:465"`, SSL is automatically enabled.

[2020-07-29 09:12] htdvisser commented on #2925
Adding documentation label because we could document this better in the configuration reference.

[2020-07-29 09:42] htdvisser commented on #2994
Also refs #2993

[2020-07-29 09:43] johanstokking commented on #2581
I think this is easiest to observe using a test case of `RolloverClock`. I can do that.

[2020-07-29 10:31] adriansmares commented on #2985
Hello, thank you for your report.

This error occurs when the pub/sub provider (MQTT/NATS) settings are not saved correctly. It means that the provider settings are non-existing basically.

If you look at `—-mqtt` you will see that the first dash is actually `—` and not `-`. If you use two dashes, `--`, you get:
[code]
Using the cursed dash, I do reproduce your issue (no `mqtt` reference):
[code]

[2020-07-29 11:58] laurensslats opened #2996 "Add Frequency Plan IDs to documentation page"
#### Summary
Let's add the IDs of the frequency plan to the [Frequency Plan docs page](https://enterprise.thethingsstack.io/v3.8.7/reference/frequency-plans/).

#### Why do we need this ?
People need the IDs for setting a frequency plan via the CLI, or when creating an file for important a batch of devices (used when migrating to TTES).

#### What is already there? What do you see now?
See: https:

[2020-07-29 14:00] laurensslats opened #3002 "Use "Import end devices" for migrating devices to TTS"
#### Summary
More customers are migration their devices to TT(E)S, from TTN/TTI V2 or a 3rd party NS.

Migrating devices can now only by using the [CLI](https://enterprise.thethingsstack.io/v3.8.7/getting-started/migrating-from-v2/). Not everyone is a big fan of using the the CLI, so we need to provide an option to add devices using the console.

#### Why do we need this?
Make it easy to migrate f

[2020-07-29 15:04] #2964 closed

[2020-07-29 15:04] adriansmares commented on #2964
For reference, this issue was not reproducible in `v3.9`, so we consider it to be fixed for now.

[2020-07-29 15:22] johanstokking commented on #3002
I think this is a duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/2938. Can you check? Or should we clarify that issue better?

[2020-07-29 23:07] kurtmc commented on #2789
@rvolosatovs Sorry it took me so long to respond. We were unable to resolve this issue and ended up dropping the database and redis cache, upgrading to the latest version and recreating all our devices using the API.

[2020-07-30 08:24] rvolosatovs commented on #2950
A temporary solution was introduced in https://github.com/TheThingsNetwork/lorawan-stack/pull/2989 - a more robust solution is yet to be found.

[2020-07-30 08:30] rvolosatovs commented on #2789
Great to hear you managed to resolve this!

[2020-07-30 08:30] #2789 closed

[2020-07-30 08:31] johanstokking commented on #2926
What is the status here?

[2020-07-30 08:36] laurensslats commented on #3002
That issue might need clarification. For this issues, encrypted manifest files are not required I believe. I want to reduce the scope of this issue to 1 specified template, which aligns with the TTN V2 export .json file.

@neoaggelos are you able to take up this issue?

[2020-07-30 09:27] neoaggelos commented on #3002
So, the issue here is that the device fields are stored separately (in AS/NS/IS and possibly JS). This requires some work in the Console. We would have to either replicate most of the work in the CLI for this (which handles splitting the device and storing the appropriate fields where they belong), or create a new endpoint (in IS?) that handles the device creation in AS/NS/JS, and have the console

[2020-07-30 11:38] bafonins commented on #3002
This is already implemented in the JS SDK.

We can add a format for TTN V2 export .json file and reuse the current device import view.

[2020-07-30 13:49] johanstokking commented on #3002
@neoaggelos I think what is needed is just a DTC formatter that returns the device as-is, but then as template, with relevant fields set (the known fields for V2).

[2020-07-30 13:49] johanstokking commented on #3002
@laurensslats users still have to export devices from V2 with CLI.

[2020-07-30 14:10] neoaggelos opened #3006 "Generate protos for use in other languages"
#### Summary

Generate for use in other languages, e.g. C/C++/Python

#### Why do we need this?

So developers can marshal/unmarshal protocol buffers, create SDKs,

#### What is already there? What do you see now?

Protocol buffers generated for Go in `pkg/ttnpb`

#### What is missing? What do you want to see?

Protocol buffers for other languages

#### Environment

3.8.7

#### How do you propose

[2020-07-30 14:10] #2743 closed

[2020-07-30 14:18] #1386 closed

[2020-07-30 14:19] neoaggelos commented on #2859
Closed with #2584

[2020-07-30 14:19] #2859 closed

[2020-07-30 15:17] rvolosatovs commented on #3006
Well, the most important point here is that, apparently, compiling our current protocol buffers is not a straight-forward process for users. It is not realistic to attempt to provide compiled protocol buffers for *all* languages supported (officially or otherwise) by protoc, so we need to make the compilation process as simple as possible - hence, the suggestion is to generate clean, minimal *prot

[2020-07-31 03:25] ghost opened #3007 "Is there a way to cross compile lorawan-stack.？"
Hi，
   I want to run on the embedded device of the arm platform, cross-compiled ttn-lw-cli, ttn-lw-stack, but the front-end js page is not compiled into ttn-lw-stack, I looked in tools/mage/js.go The code of the shell environment variable specifies the node.js on the host ubuntu, which cannot be directly cross-compiled. Is there a way to cross compile lorawan-stack.

[2020-07-31 10:11] johanstokking commented on #3006
Are you proposing a) to have all protos that are used by `lorawan-stack` in `internal/api`, and generate clean protos (of external API) to `api` or b) that all external API is in `api` and only internal API is in `internal/api`, i.e. that `lorawan-stack` uses protos generated from `api` too? I think option (b) is pretty problematic.

In any case, having clean, vanilla protos with no dependencies o

[2020-07-31 10:56] rvolosatovs commented on #3006
a.)
In v4 we could try b.)

This is also why I suggest to have a tool, which would let us selectively
choose entities to "export", we could also just separate these by filename,
of course, or maybe write yet another protoc plugin, which would let us
export not only specific structures/services, but also specific
fields/methods, while keeping other ones hidden.

On Fri, Jul 31, 2020, 13:11 Johan St

[2020-08-03 07:24] laurensslats commented on #2926
@kschiffer do you already have an initial design implementation? I can send you the required info (logo, description etc) if needed.

@adriansmares do you have some pointers so we can create a documentation on https://thethingsstack.io/. I can help out with writing docs and testing the integration.

[2020-08-03 07:40] kschiffer commented on #2926
No initial impementation yet, but I have all questions clarified now so that I should be able to implement this swiftly. Getting logo, description and resources from you would be nice.

[2020-08-03 08:21] kschiffer opened #3010 "Source out custom icons into own icon font"
#### Summary
We currently use a modified version of the material icon font to include a necessary icon as sort order indicator. This introduces some maintainability issues when updating the font. Instead we should use our own icon font for all custom icons that we use.

#### Why do we need this?
- Improve maintainability of our web fonts
- Avoid accidental overrides of icon fonts resulting in loss

[2020-08-03 10:53] #2905 closed

[2020-08-03 10:57] bafonins commented on #2994
Closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/2993

[2020-08-03 10:57] #2994 closed, assigned to bafonins

[2020-08-03 11:51] laurensslats commented on #2926
a logo
They don't have an officiel logo. You can use this (this is the only visual I got), or leave it out completely.
<img width="339" alt="LoRa-Cloud" src="https://user-images.githubusercontent.com/17290639/89179696-8618ca80-d590-11ea-8d0c-94e0a88c48e7.png">

a short description:

**LoRa Cloud™ Device & Application Services**

With the LoRa Cloud Device & Application Services protocol, you can m

[2020-08-04 06:59] KrishnaIyer opened #3014 "RTT value used in downlink delta calculation is wrong in in the GS"
#### Summary

RTT value used in downlink delta calculation is wrong in in the GS. Refs https://github.com/TheThingsIndustries/lorawan-stack-support/issues/99

#### Steps to Reproduce

1. There were complaints that some downlinks are failing due to the following error
[code]
2. On checking logs, the median RTT is `3.79s` but the delta is `2.49s` which is odd ( both values rounded to 2 decimal place

[2020-08-04 15:16] htdvisser commented on #2847
+1 in https://github.com/TheThingsNetwork/lorawan-stack/runs/945383962

[2020-08-04 16:23] #2951 closed

[2020-08-04 17:20] #2847 closed

[2020-08-05 08:04] #3014 closed, assigned to KrishnaIyer

[2020-08-05 09:10] #2714 closed

[2020-08-05 12:06] bafonins opened #3026 "Improve `lorawan_phy_version` validation in NS"
#### Summary

Allow setting `lorawan_phy_version` only with matching `lorawan_version`. See https://github.com/TheThingsNetwork/lorawan-stack/issues/2784#issuecomment-648735723.

#### Why do we need this?

See https://github.com/TheThingsNetwork/lorawan-stack/pull/3017#issuecomment-669071434

#### What is already there? What do you see now?

No validation. The users can use any combination of `lor

[2020-08-05 12:08] htdvisser opened #3027 "Release v3.9.0-rc1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-08-05 12:29] #3027 closed, assigned to htdvisser

[2020-08-05 20:09] johanstokking commented on #2581
Tested with a test case that;

- Uses the input values from the log
- Synchronizes the gateway concentrator timestamp on the first uplink, so that the initial "roll-over" is in sync
- Synchronizes the timestamp per entry, accounting for roll-overs (not happening here)
- Passing a timestamp 4 seconds after the uplink message (with RX1 of 1 second we get join delay 1 of 5 seconds), expecting that th

[2020-08-06 10:31] johanstokking commented on #2581
Found the cause. I can reproduce with a test case (in `pkg/gatewayserver/scheduling`):

[code]

Output:

[code]

This is basically issue https://github.com/TheThingsNetwork/lorawan-stack/issues/1707. We should allow for small jumps back that are not considered roll overs.

[2020-08-06 12:58] #2581 closed

[2020-08-06 14:06] htdvisser opened #3039 "Release v3.9.0"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-08-06 14:34] htdvisser commented on #3039
Still need to finish the **Post Release** steps

[2020-08-06 23:23] neoaggelos opened #3042 "Add Swagger UI"
#### Summary

Add SwaggerUI for the v3 HTTP API.

#### Why do we need this?

Make it easier for users to explore and test the available HTTP APIs.

#### What is already there? What do you see now?

We generate `api.swagger.json`, which contains HTTP definitions for all services that are defined as protos (some GCS endpoints are not present there).

#### What is missing? What do you want to see?

S

[2020-08-07 07:00] #3039 closed, assigned to htdvisser

[2020-08-07 08:43] benolayinka opened #3043 "LNS requires API key"
#### Summary

Update docs to indicate LNS requires gateway API key

[2020-08-07 12:05] rvolosatovs commented on #2798
Validation plugin we're using dropped support for GoGo
https://github.com/envoyproxy/protoc-gen-validate/pull/340

[2020-08-07 14:19] adriansmares opened #3046 "Automatically switch LoRaCloud DAS port on uplink"
#### Summary

After an uplink has been sent to DAS and a response has been returned, we could check if the `modem` FPort has been modified and update the one stored in our store.

#### Why do we need this?

In order to automatically configure DAS on TTS side and avoid configuration desyncs.

#### What is already there? What do you see now?

Port is static, only updated on `Set` but otherwise untou

[2020-08-07 18:44] #2784 closed

[2020-08-08 17:44] veghead opened #3053 "nil pointer dereference in 3.9.0 applicationserver"
#### Summary

TTN stack 3.9.0 is currently crash-looping with a nil pointer dereference.

#### Steps to Reproduce

1. Start the Stack.

#### What do you see now?

[code]
#### What do you want to see instead?

No crash

#### Environment

Version 3.9.0 running in Kubernetes
a handful of Laird gateways connecting via basicstation and 3 end devices (xdot based). It suddenly started happening after I u

[2020-08-09 16:18] johanstokking commented on #3042
I don't think we should be self-hosting this from The Things Stack. If we host this, it would be in a managed distribution (like TTI Cloud Hosted), and then there are better ways with [a container](https://hub.docker.com/r/swaggerapi/swagger-ui/dockerfile) and configuring the proxy. So I don't think this really belongs here.

[2020-08-10 00:58] ghost commented on #3007
I have done.

[2020-08-10 00:58] #3007 closed, assigned to nobody

[2020-08-10 04:29] ymgupta opened #3054 "Build stand-alone C/C++ SDK for TTES APIs"
#### Summary
A stand-alone C/C++ SDK for TTES APIs, to integrate with existing C/C++ application
#### Why do we need this?
Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs
#### What is already there? What do you see now?
Only JS SDK is present as of now
#### What is missing? What do you want to see?
C/C++ SDK along with SDK integration do

[2020-08-10 04:38] ymgupta opened #3055 "Build stand-alone Java SDK for TTES APIs"
#### Summary
A stand-alone Java SDK for TTES APIs, to integrate with existing Java application
#### Why do we need this?
Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs
#### What is already there? What do you see now?
Only JS SDK is present as of now
#### What is missing? What do you want to see?
Java SDK along with SDK integration docum

[2020-08-10 04:40] ymgupta opened #3056 "Build stand-alone Go SDK for TTES APIs"
#### Summary
A stand-alone Go SDK for TTES APIs, to integrate with existing Go application
#### Why do we need this?
Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs
#### What is already there? What do you see now?
Only JS SDK is present as of now
#### What is missing? What do you want to see?
Go SDK along with SDK integration documentati

[2020-08-10 04:41] ymgupta opened #3057 "Build stand-alone Python SDK for TTES APIs"
#### Summary
A stand-alone Python SDK for TTES APIs, to integrate with an existing Python application
#### Why do we need this?
Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs
#### What is already there? What do you see now?
Only JS SDK is present as of now
#### What is missing? What do you want to see?
Python SDK along with SDK integrat

[2020-08-10 04:42] ymgupta opened #3058 "Build stand-alone node.js SDK for TTES APIs"
#### Summary

A stand-alone node.js SDK for TTES APIs, to integrate with existing node.js application

#### Why do we need this?

Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs

#### What is already there? What do you see now?

Only JS SDK is present as of now

#### What is missing? What do you want to see?

node.js SDK along with SDK i

[2020-08-10 04:44] ymgupta opened #3059 "Build stand-alone Rust SDK for TTES APIs"
#### Summary
A stand-alone Rust SDK for TTES APIs, to integrate with existing Rust application
#### Why do we need this?
Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs
#### What is already there? What do you see now?
Only JS SDK is present as of now
#### What is missing? What do you want to see?
Rust SDK along with SDK integration docum

[2020-08-10 04:45] ymgupta opened #3060 "Build stand-alone C# SDK for TTES APIs"
#### Summary
A stand-alone C# SDK for TTES APIs, to integrate with an existing C# application
#### Why do we need this?
Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs
#### What is already there? What do you see now?
Only JS SDK is present as of now
#### What is missing? What do you want to see?
C# SDK along with SDK integration document

[2020-08-10 09:24] johanstokking commented on #3002
Conclusion here is that we need to have a DTC converter (that is always enabled) that basically takes the `EndDeviceTemplate` as-is, and returns the `EndDeviceTemplate`. That way, we can leverage the existing JS SDK and Console, functionality, and we can create additional model shaping in the future.

[2020-08-10 12:13] laurensslats opened #3063 "Documentation issue - migration from V2 to V3"
#### Summary

The below command should result in data not being processed in the V2 NS, but only in V3. However, it still ends up in our V2 network, and not in V3.

To reproduce:
1. Use the command as shown in documentation: `$ ttnctl devices convert-to-abp "device-id" --save-to-attribute "original-app-key"`
 ![Screenshot 2020-08-10 at 14 10 35](https://user-images.githubusercontent.com/17290639/8

[2020-08-10 12:28] htdvisser commented on #2913
With the API done, I'm handing this over to @kschiffer and/or @bafonins.

[2020-08-10 12:58] rvolosatovs commented on #3059
Updated #2800 with some details from here and closing this as duplicate

[2020-08-10 12:58] #3059 closed, assigned to nobody

[2020-08-10 13:04] adriansmares commented on #3053
Thank you for your report !

This is indeed a real bug caused by the fact that in 99.9% of the cases, `Get*()` functions from our generated `protobuf` definitons work even if the object is `nil`. In fact, it should even now:
https://github.com/TheThingsNetwork/lorawan-stack/blob/f8a801a1e6d5cee53492bc4677542e3f7aaf292b/pkg/ttnpb/keys.pb.go#L238-L243

So why doesn't this happen then ? Because the s

[2020-08-10 13:15] neoaggelos commented on #3063
When migrating a device, the docs mention removing the `AppKey` of the device from v2. This means that the device can no longer join on the previous server. However, the active session of the device (session keys, frame counters) is not affected. This means that the device can obviously still receive send traffic to the v2.

I am not sure if v2 has a "disable" feature for devices. If not, then a s

[2020-08-10 13:24] bafonins commented on #3002
@johanstokking, @neoaggelos  Since there is no console/js sdk related work to be done could you assign the responsible person and adjust the labels?

[2020-08-10 13:44] #3053 closed, assigned to adriansmares

[2020-08-10 13:56] johanstokking commented on #3053
Thanks @veghead for reporting!

[2020-08-10 14:02] johanstokking commented on #3002
@bafonins I did that already; @neoaggelos will pick this up.

[2020-08-10 14:19] Oliv4945 opened #3067 "ISM 2400 RX2 frequency should be 2.423 Ghz"
#### Summary

Current ISM2400 RX2 frequency is `2422000000` ([here](https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.9/pkg/band/ism_2400.go#L129)) , as written in last regional parameter draft ([v4](https://members.lora-alliance.org/communities/community-home/digestviewer/viewthread?GroupId=127&MessageKey=a8df33ba-803a-4298-a30e-2e2ab8e0f7ec&CommunityKey=6114003d-ea3c-4b44-bf19-3b0e56817c

[2020-08-10 17:24] neoaggelos commented on #1173
The only thing that still remains here is the `User-Agent` field. After a bit of testing, this is the behaviour of the two relevant headers:

- `grpcgateway-user-agent`: Set to the HTTP/gRPC client that is sending the request (e.g. `curl/7.68.0`, ` Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36`, `ttn-lw-cli go/1.14.6 ttn/3.9.0 (f2316b5, 2

[2020-08-10 21:24] rvolosatovs opened #3073 "Build stand-alone Julia SDK for TTES APIs"
#### Summary
A stand-alone Julia SDK for TTES APIs, to integrate with existing Julia applications
#### Why do we need this?
Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs
#### What is already there? What do you see now?
Only JS SDK is present as of now
#### What is missing? What do you want to see?
Julia SDK along with SDK integration d

[2020-08-10 21:25] rvolosatovs commented on #3060
@ymgupta please always set milestone

[2020-08-11 09:04] benolayinka commented on #2070
@KrishnaIyer can I bump the priority on this? I'm updating our Multitech guides and this would make configuration of some gateways simpler

[2020-08-11 09:37] KrishnaIyer commented on #2070
This is actually blocked on https://github.com/TheThingsIndustries/lorawan-stack/issues/2018

[2020-08-11 10:02] kschiffer commented on #1216
Profile settings would be a part of the account app. #1422

For API Keys, I could for now see a simple menu entry in the profile dropdown, pointing to a view with a table of all configured API keys by the user, with an option to add new user scoped API key.

[2020-08-11 10:37] kschiffer opened #3075 "Hide regional parameters select input if it has only one option"
#### Summary
With #3017 we now filter the selection of regional parameters during end device creation. This results in select inputs with only one option, which is an anti-pattern. Instead of showing such inputs, the input should be hidden altogether and only display when it has more than one option and the user is actually required to make an input.

References #2813

#### Why do we need this?
-

[2020-08-11 12:53] #2996 closed, assigned to benolayinka

[2020-08-11 14:50] neoaggelos opened #3080 "Device Template Converter stops after a single error"
#### Summary

When importing multiple devices via `Import End Devices` from the Console, the import process stops if any template conversion fails.

This came up during development and testing in #3078

#### Steps to Reproduce

1. Select `Import New Devices`
2. Try to import N devices, with one of them containing errors

#### What do you see now?

The Import process fails, ignoring the rest of the

[2020-08-11 15:43] beitler commented on #2581
Thanks Johan. You're correct. There is no guarantee that xtime is monotonically increasing between updf messages.
In Basic Station we allow backward jumps of 100ms:
https://github.com/lorabasics/basicstation/blob/bd17e53ab1137de6abb5ae48d6f3d52f6c268299/src/timesync.c#L59

[2020-08-11 16:27] #2926 closed

[2020-08-12 06:53] thevirtualdj commented on #2925
Thank you that did solved the problem.

[2020-08-12 06:53] #2925 closed

[2020-08-12 07:11] thevirtualdj commented on #2923
Still present in 3.9.0

[2020-08-12 09:12] kschiffer opened #3081 "Better communicate event streams as a live feed in the Console"
#### Summary
The wordings in the console regarding the event streams (widget and data view) are a bit misleading currently in a way that suggests that historical data would be shown as well. Instead, we need to make it clear that event streams are a live feed.

Current communication:
![image](https://user-images.githubusercontent.com/5710611/89997669-b8ab7d00-dc8c-11ea-8cc9-0e7e51977521.png)

####

[2020-08-12 11:58] Nihad32 opened #3083 "TTN returns HTTP status 400 (bad request) when trying to add new application or device"
#### Summary
I'm trying to add application/device to The Things Stack from my  .Net Core 3 web app using HTTP post but I get 400 status code.
`ContentType = "application/json";`
Bearer token is used for authorization with all current and future rights.
`Method = "POST";`
`URL = "https://ex.example.com/api/v3/users/admin/applications"` as instructed per [THIS](https://thethingsstack.io/reference/ap

[2020-08-13 09:56] laurensslats opened #3085 "Create generic docs on UDP packet forwarder"
#### Summary
Create generic documentation for UDP packet forwarder.

#### Why do we need this ?
In case people use a gateway we don't have documentation for, we need a generic piece of documentation which among others elaborates on how to get the globalconf.json file.

#### What is already there? What do you see now?
Only specific gateway documentation, and generic documentation on Basics Station.

[2020-08-13 14:53] #2501 closed

[2020-08-14 09:29] #3043 closed, assigned to benolayinka

[2020-08-14 10:51] #1173 closed

[2020-08-14 13:22] laurensslats commented on #3063
Let's keep in mind that customer are very scared to delete the session data of their devices (what if something goes wrong and 10k devices are bricked). Also considering that Packet Broker might not work in all cases, we need to add a clear step on Gateway Migration as a next steps after importing the `devices.json` in TTS.

**Gateway migration steps** (focussed on UDP packet forwarder)

- Point t

[2020-08-14 16:33] #3081 closed, assigned to kschiffer

[2020-08-17 07:29] htdvisser commented on #3063
The configuration that you can download from The Things Stack is in most cases the same as the configuration that was previously in use on the gateway, so in most cases changing the address should be sufficient.

Of course, if gateway owners already need to spend time logging in to the gateway, it may be smart to recommend them to install something that let's them update the firmware/configuration

[2020-08-17 07:53] neoaggelos commented on #3083
Hi @Nihad32

The JSON you are posting is not correct. See a curl example:

[code]

Also note: The `application_id` cannot contain underscores or capital letters.

[2020-08-17 08:02] neoaggelos opened #3088 "Gateway Server can forward the gateway location even if it is not public."
#### Summary

As per the docs, the `RxMetadata[*].Location` should be set by the Gateway Server. MQTT and gRPC frontends receive protocol buffers where the `Location` field may be already set, and that value will always be forwarded, even if the location of the gateway is not public.

#### What do you see now?

Relevant code is in https://github.com/TheThingsNetwork/lorawan-stack/blob/647a37a32b9e

[2020-08-17 09:37] johanstokking commented on #3080
Please elaborate, not breaking the (JSON) API. We should probably use warnings for this.

---

I don't think we should do this. That you ran into this during development and testing is understandable, but this shouldn't happen in production, unless there's something really wrong with the source file, which is a bad request that the client should fix.

[2020-08-17 10:07] kschiffer commented on #2887
So after working on this for a bit, I think the solution here is threefold:

1.  Refactor the overall event component structure, which is currently nested in a way that makes it really hard to maintain and optimize performance (we use element cloning and render props, which makes it impossible to use memoization of the list elements)
2.  Use a virtualization-module like [`react-window`](https://gi

[2020-08-17 10:50] johanstokking opened #3089 "Unset uplink token if downlink is impossible"
#### Summary

Unset uplink token if downlink is impossible

#### Why do we need this?

- Preparation for https://github.com/TheThingsNetwork/lorawan-stack/issues/2708, specifically that upstream handling doesn't trigger downlink tasks
- Support Basic Station upstream messages with `xtime` of `0`: do handle (data uplink) messages, but don't trigger downlink tasks as timing is wrong

#### What is al

[2020-08-17 13:59] htdvisser opened #3091 "Update Go to 1.15"
#### Summary

This issue tracks the things we need to do before we can update Go to 1.15.

#### What is already there? What do you see now?

I started the `feature/go-1.15` branch. I already saw some failing tests locally, at least one of which related to Go 1.15:

[code]

This one is for @johanstokking (you can push fixes to `feature/go-1.15` directly).

---

For this one, I don't know what's goi

[2020-08-18 09:26] htdvisser commented on #2798
I think the best way forward is to follow the ecosystem and migrate away from gogo/protobuf. With more and more of our other dependencies moving away from gogo, I think it will become increasingly difficult to keep using it. Of course it's going to be a lot of work to migrate, so if we do it, we need to come up with a good plan.

@rvolosatovs probably knows more about the custom options that are s

[2020-08-18 14:20] rvolosatovs commented on #2798
I think the best way forward would be to first try out https://github.com/alta/protopatch. Depending on the result:
- If all our needs are covered -> migrate and forget about this(should be just search-and-replace in `api` directory)
- If only some of our needs are covered and there are custom options not covered by the plugin ->  we should evaluate on per-option basis and either remove these cust

[2020-08-18 14:43] bafonins commented on #2635
wont implement

[2020-08-18 14:43] #2635 closed

[2020-08-18 14:58] rvolosatovs commented on #3089
NS only adds downlink tasks when there is an available downlink path, so if there's no uplink tokens in metadata, there's not going to be a class A downlink attempt and no class B/C either, unless downlink paths are set on the downlinks themselves.

[2020-08-18 16:21] kschiffer opened #3098 "Event list does not account for multiple events with same name and timestamp"
#### Summary
The event list component is prone to same key warnings, happening when occasionally multiple events with the same name and timestamps are generated.

#### Steps to Reproduce
1. Go to gateway events (it's likelier to happen here but this can happen also for applicaiton/end device events)
2. Wait for some events to arrive
3. Eventually, see a duplicate key warning in the logs

#### What

[2020-08-18 16:51] rvolosatovs commented on #2708
So if a "buffered" uplink is received by NS:
1. match to the device
2. if `process_buffered_messages`
	- then directly forward to AS without anyhow mutating the device proto or downlink tasks
	- else drop uplink

The (1.) part is a bit problematic, since once #2837 is merged, NS will not attempt to match to devices, for which a higher FCnt is expected, but that can be made configurable, even thoug

[2020-08-18 17:05] rvolosatovs commented on #2707
Regarding JS: https://github.com/WebAssembly/design/issues/219

[2020-08-18 22:07] #3083 closed, assigned to neoaggelos

[2020-08-18 22:13] neoaggelos commented on #3063
@laurensslats This is `prio/high`, but targetting Next Up.

What else is needed from me for this issue? Are there any actionable items? Please ask and assign accordingly.

[2020-08-19 09:23] #2632 closed

[2020-08-19 09:40] #2723 closed

[2020-08-19 10:03] #1147 closed

[2020-08-19 10:29] johanstokking commented on #3067
@Oliv4945 we can't easily change the RX2 frequency as this will break existing devices; the RX2 frequency is not part of join-accept.

So we need:

1. To fix the frequency as 2.423 GHz is wrong and 2.422 GHz is right (i.e. this is a bug that we can patch)
2. Use a PHY version for this. This is not easy because this draft spec is not part of a RP001 or RP002 release
3. Introduce a new band for this

[2020-08-19 11:56] johanstokking commented on #2708
Don't we need this anyway for devices allowing frame counter resets? Wouldn't `process_buffered_messages` be implicitly allowing frame counter resets (without persisting the reset value)?

Days, worst case. In practice, hours.

[2020-08-19 12:04] rvolosatovs commented on #2708
Indeed, NS can just handle this like the FCnt reset in registry

Ok, I think we can then make cache TTL 2 hours for devices handling buffered traffic, that means that if a duplicate buffered message is received within 2 hours of receiving the original, NS will not traverse the whole DevAddr space, but immediately know the device that matches.

[2020-08-19 12:21] htdvisser opened #3100 "v3.9.1 Release"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-08-19 12:31] johanstokking commented on #2708
Fine.

Beyond a certain window, I'm also fine with at-least-once delivery.

Note that a cache of 2 hours of all uplink messages is already a few million entries with current TTN traffic.

[2020-08-19 13:47] #3100 closed, assigned to htdvisser

[2020-08-19 13:57] rvolosatovs commented on #3067
Given our offline discussion, I guess we agree on 4. here ?

[2020-08-20 06:19] laurensslats opened #3104 "Incorrect frequency plan when exporting devices in TTN Stack V2"
## Summary
When exporting EU devices in V2, the frequency plan `EU_863_870` is set, not `EU_863_870_TTN`. As a result, SF12 for RX2 is used instead of SF9.

#### Steps to Reproduce
1. Export any EU device in TTN Stack V2, look at the frequency plan used

_Note: Haven't tested this for non-EU devices._

#### What do you see now?
Use the right Frequency plan ID.

#### What do you want to see instead

[2020-08-20 06:40] htdvisser commented on #3104
The RX2 data rate in v2 networks is determined by server configuration. All TTN deployments use SF9, but I know of some private deployments that use SF12. Note that this RX2 data rate difference is only an issue for ABP devices, OTAA devices will receive new settings on the next join.

[2020-08-20 07:38] Nihad32 opened #3105 "Registering device on network server returns error: Invalid value of field "ids.dev_addr""
I'm trying to add device over HTTP POST, Adding on **identity server** over http seems to work.
Documentation says that after adding device to the identity server it needs to be added also on **network server** and **application server**. However when trying to add device to **network server** I get error: **Invalid value of field "ids.dev_addr"**

I'm posting to _/api/v3/ns/applications/**applica

[2020-08-20 08:52] laurensslats opened #3106 "Integrations with MQTT Client"
#### Summary
Document commonly used MQTT clients

#### Why do we need this ?
Make TTS easy to integrate with any platform.

#### What is already there? What do you see now?
Generic MQTT info: https://enterprise.thethingsstack.io/integrations/mqtt/

#### What is missing? What do you want to see?
Documentation on:
- [x] HiveMQ (see [YouTube video](https://www.youtube.com/watch?v=Zra18wuSGwY) for ref

[2020-08-20 09:09] adriansmares commented on #3106
I use [MQTT.fx](https://mqttfx.jensd.de/) but it's quite niche so low priority.

[2020-08-20 10:28] neoaggelos commented on #3088
Closed with #2998

[2020-08-20 10:28] #3088 closed, assigned to neoaggelos

[2020-08-20 10:38] neoaggelos commented on #3104
The frequency plan ID is not determined by `ttnctl`, but rather passed by the user. [Quoting the docs on this](https://thethingsstack.io/getting-started/migrating-from-v2/export-v2-devices/#exporting-devices):

So, in order to use `EU_863_870_TTN`, one should simply do this instead:

[code]

[2020-08-20 11:37] #3002 closed, assigned to neoaggelos

[2020-08-20 12:43] KrishnaIyer commented on #558
With #2948, we enforce Auth by default. When we support Client TLS, this will remain the case. This issue is no longer relevant.

[2020-08-20 12:43] #558 closed

[2020-08-20 12:57] rvolosatovs commented on #2909
Updated issue according to the changes in https://github.com/TheThingsNetwork/lorawan-stack/pull/3103

[2020-08-20 13:04] rvolosatovs commented on #3105
There are multiple things wrong with the request and error you're seeing is just one of the issues.
You are creating an ABP device, however:
- `session.dev_addr` is missing (it must be equal to `ids.dev_addr`)
- Session keys are missing
- `end_device_application_ids` should just be `application_ids`
- Only paths specified in `field_mask` are set, so you're actually only setting 4 fields out of the

[2020-08-20 13:13] rvolosatovs opened #3109 "Check EditorConfig compliance in CI"
#### Summary

Check EditorConfig compliance in CI
Refs #2723

#### Why do we need this?

To please the church of clean code

#### What is already there? What do you see now?

No EditorConfig compliance check

#### What is missing? What do you want to see?

EditorConfig compliance checked in CI

#### Environment

CI

#### How do you propose to implement this?

Run https://github.com/jedmao/eclint o

[2020-08-20 13:40] johanstokking commented on #2975
I've spent a half day on this, and the conclusion so far is:

### https://github.com/dop251/goja

- maintained and they merge community PRs
- no Go module support (or any dep management whatsoever, PR filed: ~https://github.com/dop251/goja/pull/189~ https://github.com/dop251/goja/pull/107)
- no protection against stack overflows when exporting nested objects with circular reference (PR filed: http

[2020-08-20 14:17] nejraselimovic opened #3112 "Improving the documentation sidebar appearance"
#### Summary
While navigating through the documentation site, subsections of the non-selected parent section should be hidden, while the subsections of the selected parent should be visible.

#### Why do we need this ?
As documentation grows, the sidebar navigation gets messier and this could help improving it.

#### What is already there? What do you see now?
We have this:
![sidebar](https://user

[2020-08-20 15:00] johanstokking commented on #2665
What is the status here?

[2020-08-20 15:11] rvolosatovs commented on #2665
I expect this to be ready for merge by the end of next week.
The implementation is done for weeks, working on refactoring and then adapting tests ever since

[2020-08-20 16:24] bafonins opened #3115 "Packetbroker agent flaky test"
#### Summary

`TestForwarder` test seems to be flaky.

#### Steps to Reproduce

bad luck I guess 🤷‍♂️

#### What do you see now?

[code]

#### What do you want to see instead?

The test should not accidentally fail and then pass with no changes.

#### Environment

v3.9.1

#### Can you do this yourself and submit a Pull Request?

nope

[2020-08-20 16:33] neoaggelos opened #3116 "Document importing end devices from the console"
#### Summary

With #3078 we can import end devices from the console instead of having to rely on the CLI. We should add appropriate docs for this.

#### Why do we need this ?

Users may prefer to use the Console instead of the CLI for this.

#### What is already there? What do you see now?

Documentation for importing devices using the CLI only.

#### What is missing? What do you want to see?

Doc

[2020-08-20 16:50] neoaggelos opened #3118 "`--http.redirect-to-tls` option always redirects to port 443"
#### Summary

Using stack with `--http.redirect-to-tls` always redirects traffic to port 443.

#### Steps to Reproduce

1. `ttn-lw-stack start --http.redirect-to-tls`
2. `curl https://localhost:8885`

Several parts come into play here:

1. https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.9/pkg/web/web.go#L198
2. https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.9/pkg/webmiddleware

[2020-08-20 16:51] neoaggelos commented on #3118
cc @htdvisser

[2020-08-21 06:05] neoaggelos commented on #1332
Last comment is very old, closing. Re-open as needed.

[2020-08-21 06:05] #1332 closed

[2020-08-21 07:10] Nihad32 commented on #3105
Thank you for your guidance, Error was misleading me.

I will try adding all fields that I'm missing and also add them to a field_mask.

[2020-08-21 07:30] htdvisser commented on #3118
Sounds good to me, but let's call it `http.redirect-to-port` (without the `tls` in the middle)

[2020-08-21 10:19] pierrephz commented on #3112
I think this sidebar is messy also because of the display and **we could improve it by doing two things** (in addition to Nejra comment above):

<img width="2032" alt="Screenshot 2020-08-21 at 12 05 03" src="https://user-images.githubusercontent.com/26456318/90880187-59461f00-e3a8-11ea-883a-a581eefea79b.png">

- **Make it as a fixed side div that we can scroll** (red notes on the screenshot above)

[2020-08-22 08:26] jpmeijers opened #3122 "ttnctl snap does not open browser to log in"
#### Summary

I installed ttnctl on linux using the snap commands.

When trying to log in using ttnctl, an error and a warning is printed. The system default browser does not open to allow me to log in.

#### Steps to Reproduce

Clean Ubuntu 20.04 install. Then run the following commands in a terminal.
[code]

#### What do you see now?

[code]

#### What do you want to see instead?

The system def

[2020-08-24 05:47] neoaggelos commented on #3122
Hi @jpmeijers

This is an issue with snap permissions. The `ttn-lw-stack` snap is installed in strict confinement, which means that it cannot call any external executable (including `xdg-open`, which would open the default browser).

You can still open the link on any browser to login.

NOTE 1: If you are running `ttn-lw-cli` on a remote VM (and not your local machine), you might need `ttn-lw-cli

[2020-08-24 05:49] neoaggelos commented on #3080
Closing, let's reopen if this is something we want to revisit in the future.

[2020-08-24 05:49] #3080 closed, assigned to htdvisser, neoaggelos, laurensslats

[2020-08-24 09:36] #1629 closed

[2020-08-24 09:36] kschiffer commented on #3058
We already have a node.js / JavaScript SDK that we use for API calls in the Console (`sdk/js`). It is pretty extensive already but still lacks documentation. We need to look into how to organize the task of documenting it so that it becomes properly accessible to everyone.

[2020-08-24 09:46] #3105 closed, assigned to rvolosatovs

[2020-08-24 11:01] htdvisser commented on #1641
Immutable middleware is gone now.

[2020-08-24 11:01] #1641 closed

[2020-08-24 11:02] htdvisser commented on #2300
No activity since April, so closing this.

[2020-08-24 11:02] #2300 closed

[2020-08-24 11:13] htdvisser commented on #1121
Looks like I forgot to close this issue before. This is being tracked in #604.

[2020-08-24 11:13] #1121 closed

[2020-08-24 11:14] htdvisser commented on #2924
Invalid issue (does not respect issue template).

Duplicate of #604

[2020-08-24 11:14] #2924 closed

[2020-08-24 11:17] #3122 closed, assigned to nobody

[2020-08-24 11:21] htdvisser commented on #2671
Hi @walleyworld, sorry that this issue slipped through. If this is related to the configuration of a tenant on TTI Cloud Hosted, please contact support@thethingsindustries.com. That way you'll get a quick response instead of us only noticing your issue weeks later.

[2020-08-24 11:21] #2671 closed

[2020-08-24 11:47] htdvisser commented on #2950
So this is either something in our dependencies (grpc-gateway not properly flushing headers) or in our shared code (maybe some grpc or http middleware not flushing the headers).

Removing `bug` label because it's currently not something that impacts our users.

[2020-08-24 12:07] bafonins commented on #3098
References https://github.com/TheThingsNetwork/lorawan-stack/issues/580

[2020-08-24 12:11] rvolosatovs commented on #1500
Closed by #3103

[2020-08-24 12:11] #1500 closed

[2020-08-24 12:44] htdvisser commented on #2798
Refs also https://github.com/TheThingsNetwork/lorawan-stack/issues/342 (generated populators)

[2020-08-24 12:47] htdvisser commented on #536
Let's do this when we need it. We haven't even seen the first LoRaWAN 1.1 device yet.

[2020-08-24 12:56] htdvisser commented on #1199
Good enough to have CI fail on this.

[2020-08-24 12:56] #1199 closed

[2020-08-24 13:00] htdvisser commented on #1303
Let's keep in backlog until there is actual demand for this.

[2020-08-24 13:01] htdvisser commented on #1353
Let's keep this in Backlog until we have more demand (👍's)

[2020-08-24 13:05] johanstokking commented on #1407
Adding help wanted for new hire to pick this up

[2020-08-24 13:10] #1663 closed

[2020-08-24 13:11] htdvisser commented on #1663
This doesn't belong in an API endpoint, since it can be generated from the protos.

[2020-08-24 13:13] htdvisser commented on #1692
The frontend already has the regex for valid IDs, so it can add that on the field.

[2020-08-24 13:14] johanstokking commented on #1692
Consider other similar fields too

[2020-08-24 13:19] htdvisser commented on #1837
Moving to Backlog until we have more demand (👍's)

[2020-08-24 13:36] johanstokking commented on #1996
@adriansmares @rvolosatovs please consider adding `ApplicationJoinRequest` to the upstream messages from NS to AS and up.

[2020-08-24 13:39] johanstokking commented on #2040
I'm okay doing this, also for proprietary Console.

@kschiffer please put in the right milestone as-needed.

[2020-08-24 13:42] htdvisser commented on #2070
Back to Backlog until unblocked

[2020-08-24 13:44] laurensslats opened #3124 "Document usage of device location in Console"
#### Summary
It's possible to add a location to a device, but it's not clear how/when this location is used and if this location can be set via other ways than adding the lat and lon in the console.

<img width="691" alt="Screenshot 2020-08-24 at 15 40 38" src="https://user-images.githubusercontent.com/17290639/91051282-32921d80-e620-11ea-9104-92f24503ba7d.png">

#### Why do we need this ?
It's no

[2020-08-24 13:59] johanstokking commented on #2665
Please consider making the returned error more clear if the device can't be matched. See for example https://github.com/TheThingsNetwork/lorawan-stack/issues/2394.

We can't provide a whole lot of information, but `device_not_found` implies that the device can't be found, while it could be that the DevAddr is not found at all, that the MIC mismatches with found entries and/or that the FCnt reset w

[2020-08-24 14:04] htdvisser commented on #2440
Not important enough for next up. If someone from the community wants to pick this up, let us know!

[2020-08-24 14:04] johanstokking commented on #2441
Blocked by https://github.com/TheThingsIndustries/lorawan-stack/issues/2018

[2020-08-24 14:04] htdvisser commented on #2435
Moving to Backlog until we have translators who can maintain this.

[2020-08-24 14:14] johanstokking commented on #2529
Closing; looks like all issues are addressed individually. If not, please file the concerning issues. This umbrella issue is just a list of issues which makes it hard to plan and triage, so we close it.

[2020-08-24 14:14] #2529 closed

[2020-08-24 14:17] rvolosatovs commented on #2665
Good suggestion, but I think it's best to do it as a next step, because it will be a huge PR to review with a lot of relatively complex functionality

[2020-08-24 14:21] johanstokking commented on #2556
Blocked by #263

[2020-08-24 14:22] kschiffer commented on #2040
We actually already added this via #2558 for both OS and proprietary frontend.

[2020-08-24 14:22] neoaggelos commented on #1230
For this, I think we should just go with the `common-deployment` flag suggestion. The `quickstart` command sounds useful, but would not really work well with the rest of the Getting Started guide. Also, it might cause issues in the future with new configs.

Keeping this on Next Up, because I am currently busy with higher priority issues, namely #1406.

[2020-08-24 14:37] johanstokking commented on #2664
What is the status here?

[2020-08-24 14:39] johanstokking commented on #2672
@rvolosatovs is this still relevant since we don't send MAC commands in class B/C anymore?

[2020-08-24 14:39] htdvisser commented on #2672
Maybe already fixed by https://github.com/TheThingsNetwork/lorawan-stack/pull/3103 ?

[2020-08-24 14:41] kschiffer commented on #2542
So as decided in the meeting today, the way this should work is that the field as a whole should be in a loading state until the list of JoinEUI prefixes has been loaded. To visualize that, we can either use the `loading` prop of the input, or wrap the whole field around the `<Overview />` component. I think it's a bit of a try-out matter to see what works better as visual feedback without being t

[2020-08-24 14:42] htdvisser commented on #2684
Invalid issue, not enough information.

[2020-08-24 14:42] #2684 closed

[2020-08-24 14:44] kschiffer commented on #2664
This whole complex of form UX needs a bit of consolidation into actionable issues. It's still on my list to work on after current high priority issues.

[2020-08-24 14:52] johanstokking commented on #2769
Candidate issue for new hire

[2020-08-24 14:57] htdvisser commented on #2797
We'd prefer static checks here, maybe we can check for misaligned struct fields (for atomic) or unexpected overflows of `int`/`uint`.

[2020-08-24 15:01] htdvisser commented on #2825
Also related to https://github.com/TheThingsNetwork/lorawan-stack/issues/2681

[2020-08-24 15:01] htdvisser commented on #2828
Backlog until we have the device repository.

[2020-08-24 15:05] johanstokking commented on #2884
Is this related to https://github.com/TheThingsNetwork/lorawan-stack/issues/2825?

[2020-08-24 15:09] kschiffer commented on #2884
Sort of. If the console loses internet connection, it will eventually receive an `error` event from the stream (via JS SDK), which will cause the whole event view to crash, even though it would be enough to display a message that the event stream has disconnected. It should still be possible to inspect the events that have arrived until then.

It's still good to have this as a separate issue since

[2020-08-24 15:10] htdvisser commented on #2699
Duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/2914

[2020-08-24 15:13] #2901 closed

[2020-08-24 15:15] johanstokking commented on #2923
@thevirtualdj we're working on it, please bear with us.

[2020-08-24 15:19] johanstokking commented on #2962
For evaluating the stack, users will be able to use TTN.

Otherwise, people know how things work, can use the existing docs for a local deployment.

[2020-08-24 15:19] #2962 closed

[2020-08-24 15:24] #3063 closed, assigned to laurensslats

[2020-08-24 15:27] johanstokking commented on #3091
Blocked by #2975 as `otto` has issues with Go 1.15

[2020-08-24 15:28] #3104 closed, assigned to neoaggelos

[2020-08-24 15:29] johanstokking commented on #3112
Is this actionable enough? Who is picking this up?

[2020-08-24 15:33] johanstokking commented on #3124
Setting the location is mostly used for in the Console.

Please file an additional issue for an "device overview" map where you can see all devices on the map, not only in a list.

References #2630; when we have geolocation there will be other sources that get filled out automatically.

[2020-08-24 15:37] johanstokking commented on #3067
Closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/3074

[2020-08-24 15:37] #3067 closed, assigned to Oliv4945, rvolosatovs, johanstokking

[2020-08-24 16:08] johanstokking commented on #2897
Looped in @kschiffer for UX

[2020-08-24 16:29] johanstokking commented on #2798
I'm not in favor of a (smaller) alternative to gogo. It feels like pushing the can. Let's keep things as vanilla as possible, especially when we need to decide again what the best way forward is.

I do agree that we can consider using intermediary types in some places, instead of relying everywhere on the generated protos. It's basically separating data transfer objects (DTOs: protos, also for sto

[2020-08-24 22:45] singyiu opened #3132 "Gateway device MQTT integration for subscribing gateway status"
#### Summary

Enable gateway device MQTT integration, such that organization user can subscribe to the MQTT broker and get gateway status update of all the gateway devices that the organization owns.

#### Why do we need this?

To provide an easy way for monitoring hundreds of gateway devices in the field programmatically.

#### What is already there? What do you see now?

With existing implementa

[2020-08-25 02:05] ama9910 commented on #2672
If you implement #2909 then #2672 (this) is needed, but not required for #3103.

[2020-08-25 07:44] johanstokking commented on #2664
Great! Removing discussion state to make it more actionable. Please revert if necessary.

[2020-08-25 08:08] johanstokking commented on #2909
I highly doubt whether we want this. From LoRaWAN 1.0.4, MAC commands are always in class A. Adding discussion so that we don't forget to discuss this before planning it.

[2020-08-25 08:09] johanstokking commented on #2672
It's very unlikely we'll do #2909, so with #3103 merged, this issue is implicitly resolved, right?

[2020-08-25 08:29] ama9910 commented on #2672
Yeah, agreed.

[2020-08-25 09:54] rvolosatovs commented on #2909
Indeed, I also would prefer not doing this, the issue is there to account for this feature being available before https://github.com/TheThingsNetwork/lorawan-stack/pull/3103

[2020-08-25 09:54] rvolosatovs commented on #2672
Closed by #3103

[2020-08-25 09:54] #2672 closed

[2020-08-25 10:29] #2793 closed

[2020-08-25 10:31] neoaggelos opened #3138 "Gateway location update from status messages does not work when gateway is connected without authentication"
#### Summary

Upon receiving a location from a gateway status message, GS performs an `GatewayRegistry.Update` call to the IS. RPC metadata from the context are forwarded if available (i.e. if the gateway has connected with authentication -- this is MQTT, gRPC, or BasicStation), otherwise falls back to cluster auth.

However, `GatewayRegistry.Update` does not accept cluster auth as valid authentic

[2020-08-25 10:37] nejraselimovic commented on #3112
Did I assign the right people here?

[2020-08-25 11:20] johanstokking commented on #2909
OK, let's close it then.

[2020-08-25 11:20] #2909 closed

[2020-08-25 11:26] johanstokking commented on #3112
With three people assigned, who's responsible and who does what?

[2020-08-25 11:42] nejraselimovic commented on #3112
It's my mistake because I wasn't sure who can actually pull this off and ofc this discussion could be avoided if I asked who can do it before assigning them (will do in the future). I can help, but I don't know how to do this by myself. @kschiffer @pgalic96 can someone pick this one up please?

[2020-08-25 11:52] kschiffer commented on #3112
Not your mistake. It's ok to assign more people when in doubt and it's the assignee's responsibility to narrow things down. I would say that @benolayinka is best for implementing this. It should be a relatively simple CSS job.

@benolayinka can you confirm and reassign if necessary then?

[2020-08-25 12:11] #2985 closed, assigned to adriansmares

[2020-08-25 12:51] neoaggelos commented on #2965
Should be fixed with #3120

[2020-08-25 12:51] #2965 closed

[2020-08-25 12:53] rvolosatovs commented on #2280
https://github.com/TheThingsNetwork/lorawan-stack/issues/2903
https://github.com/TheThingsNetwork/lorawan-stack/issues/2797

Are still TODO, otherwise, this is done.

[2020-08-25 12:53] #2280 closed

[2020-08-25 13:06] rvolosatovs commented on #2699
Is there a reason not to close this if we have #2914 already?

[2020-08-25 13:32] rvolosatovs opened #3142 "Refactor Network Server test structure"
#### Summary

Make "unit"s bigger, test behaviors, not implementation specifics

#### Why do we need this?

To simplify development and testing.

#### What is already there? What do you see now?

Removal of quite some internal mocks in #3052

#### What is missing? What do you want to see?

Most of `grpc_gsns_test.go`, `grpc_asns_test.go` and `downlink_test.go` should be integrated into flow tests

[2020-08-25 14:00] #2699 closed

[2020-08-25 14:07] neoaggelos commented on #3118
For the record, my suggestion is to use this flag only when `http.redirect-to-tls` is enabled (again; to avoid breaking existing configs for no reason), which is why including `tls` there might be warranted.

[2020-08-25 14:09] htdvisser commented on #3118
Why would this break existing configs? The default is to not enable this, and it only needs to be enabled (added) to the example docker-compose.

[2020-08-25 14:28] bafonins commented on #2887
1. You can add memoization to the render function ~the top level event component~.
2. This wont work. I tried using virtualized lists when implementing the first version of the events component. Mainly because of dynamic heights.

[2020-08-25 14:51] neoaggelos opened #3144 "Simulate AS uplinks in the CLI"
#### Summary

With #2919 the AS supports simulating uplinks. Add support in the CLI.

#### Why do we need this?

- Allow users to easily test their payload formatters.
- Feature parity with v2
- Feature parity with the Console (after #2234)

#### What is already there? What do you see now?

HTTP API, usage as described in https://github.com/TheThingsNetwork/lorawan-stack/pull/2919#issue-449575569

[2020-08-25 14:59] benolayinka opened #3145 "Flaky test applicationserver linking_test"
#### Summary

https://github.com/TheThingsNetwork/lorawan-stack/pull/3139/checks?check_run_id=1026896468

[2020-08-25 15:01] johanstokking commented on #3145
Could be resolved with https://github.com/TheThingsNetwork/lorawan-stack/issues/2312

[2020-08-26 12:54] rvolosatovs opened #3150 "Add RP002 PHY versions"
#### Summary

Add RP002 PHY versions
Refs https://github.com/TheThingsNetwork/lorawan-stack/pull/3146#discussion_r477207656

#### Why do we need this?

To support recent versions of LoRaWAN specification

#### What is missing? What do you want to see?

RP002 PHY version support

#### How do you propose to implement this?

Probably just add new enums to protos, but we might need to deal with some s

[2020-08-26 15:21] htdvisser commented on #1920
CLI part was already merged in https://github.com/TheThingsNetwork/lorawan-stack/pull/2077, so what's left is the Console (or Account app) part.

[2020-08-26 18:39] johanstokking opened #3153 "Create API key button with preset rights"
#### Summary

Generate API key button in Console with preset rights

#### Why do we need this?

In places where the user needs an API key with specific rights, to create one in one click.

#### What is already there? What do you see now?

Instructions to go to the API key page, create a new key and select specific rights, copy the key and go back to where you need them.

#### What is missing? What

[2020-08-27 09:33] Nihad32 commented on #3153
Hi,

is that key same as **User API key** mentioned [here](https://thethingsstack.io/reference/api/authentication/) ? Can that key be used for http authentication ?

Sorry if this is the wrong place to ask, I'm struggling to figure out where to create one auth key that can to everything listed [here](https://thethingsstack.io/reference/api/)

[2020-08-27 09:59] #2670 closed

[2020-08-27 09:59] #2975 closed, assigned to johanstokking

[2020-08-27 11:31] laurensslats opened #3154 "Document bulk-import feature using device templates for v2 to v3 migration"
#### Summary
The exported json file can now be imported using the Bulk Import feature. Let's add this to our documentation

#### Why do we need this ?
Seamless migration process

#### What is already there? What do you see now?
[Migration documentation](https://enterprise.thethingsstack.io/getting-started/migrating-from-v2/)
Bulk import feature: https://github.com/TheThingsNetwork/lorawan-stack/pu

[2020-08-27 11:54] laurensslats opened #3155 "Gateway migration v2 to v3 in bulk"
#### Summary
In addition to migrating devices from V2 to V3, documentation needs to be provided on migrating gateways in bulk.

#### Why do we need this?
Some TTN users and TTI customers have >1000 gateways, manually entering the EUIs and gateway settings is not an option.

#### What is already there? What do you see now?
Documentation on connecting gateways 1 by 1
Documentation on migrating devic

[2020-08-27 14:11] johanstokking commented on #3155
We need to split this over several things;

1. Bulk create gateways, potentially from an import file (like we have for end devices). This requires extending DTC with gateway templates (which it is somewhat prepared for already). Since gateways support collaborators, we also have to configure ownership as part of the bulk import
2. Create an import file from V2 (like we have for end devices)
3. Aut

[2020-08-27 14:44] bafonins commented on #2605
We should also find a way to test page titles. Currently, `cy.title` causes flaky behavior. See https://github.com/TheThingsNetwork/lorawan-stack/pull/3157

[2020-08-28 08:48] #2649 closed

[2020-08-28 08:48] #2658 closed

[2020-08-28 11:38] htdvisser opened #3163 "Add (up-to-date) Root CA PEM file to Documentation"
#### Summary

We should add a PEM file to our documentation site containing the Root CAs for typical deployments.

#### Why do we need this ?

- Basic Station Gateways require a "trust" file instead of relying on the roots in the OS.
- Some MQTT clients require a "CA" file instead of relying on the roots in the OS.
- For many users it's too difficult to find out which CA(s) they need to include fo

[2020-08-28 11:55] htdvisser commented on #3155
I'm not sure this is such a great idea, since the ownership model of v2 was quite different from what we now have in v3. I'd strongly suggest to just create these gateways under an organization (identified with a CLI flag) instead of trying to assign a dozen collaborators based on usernames that may be different in v3.

I also don't think we should do this. Many gateways will have to be reconfigur

[2020-08-31 08:21] KrishnaIyer commented on #3132
1. MQTT is not designed as monitoring protocol and as such is not very useful for this action.
2. We are working on ways to make the events more easily accessible/scalable.

Since we already have internal issues for this, closing this now.

[2020-08-31 08:21] #3132 closed, assigned to nobody

[2020-08-31 08:54] htdvisser commented on #252
@benolayinka please see what's missing and assign "experts"/"component owners" to specific tasks.

[2020-08-31 09:05] benolayinka opened #3166 "Improve documentation for AS and GS services and methods"
#### Summary

Subtask of #252

From the umbrella issue:

- Improved documentation on methods (for example, explaining that As.SetLink does not return whether the actual linking is successful, perhaps explaining how many resources a method call consumes)
- Improved documentation on services (for example, being more clear about which components expose the services, which fields are accepted).

####

[2020-08-31 09:10] benolayinka opened #3167 "Improve documentation for configuration_services and end_device protos"
#### Summary

@rvolosatovs  , please look through these API protos and add descriptions where they are missing. It looks like many of the messages need an additional description.

`/api/configuration_services.proto`
`/api/end_device.proto`

Sub task of #252

See this PR for a gold standard API comments reference -> https://github.com/TheThingsNetwork/lorawan-stack/pull/3181/files#diff-aa11ad1a94ec

[2020-08-31 09:10] KrishnaIyer commented on #3163
Yeah I think this is easier that having some CLI option to fetch the CA.

[2020-08-31 14:17] bafonins commented on #2740
Blocked on https://github.com/TheThingsNetwork/lorawan-stack/issues/2333

[2020-09-01 08:36] benolayinka commented on #3163
@htdvisser you create the `.pem` i'll create the doc? 😄

[2020-09-01 12:20] htdvisser commented on #3163
After giving this some more thought I think we should link to both a full list of generally trusted root CAs and a minimal list for common installations of The Things Stack (basically the documented ones).

For the full list, I think we can link to the one from the cURL website (250 kB): https://curl.haxx.se/ca/cacert.pem

The minimal list containing the common deployments of The Things Stack woul

[2020-09-01 13:37] Oliv4945 commented on #3067
Hi,

I initially though that you can create a new frequency plan as the ISM2400 is currently named `LoRa 2.4 Ghz with 3 channels draft 2` but I now understand that it is not as easy so I agree with you that it is a working draft and it can be changed.

1. Do you have an other way than the changelog to warn current users of TTI instances ?
1. Frequency plan name `LoRa 2.4 Ghz with 3 channels draft

[2020-09-02 09:36] bafonins commented on #1336
This fix is actually required for https://github.com/TheThingsNetwork/lorawan-stack/issues/2605 to simulate behavior on byte inputs.

[2020-09-02 11:46] rvolosatovs commented on #3091
What's the status here? Is this still blocked?
I would like to use `t.Deadline()` from go 1.15 in #3052

[2020-09-02 15:01] #1336 closed

[2020-09-02 15:24] johanstokking commented on #2605
Cool. So what is the status here? What do we have and what else do we want? How important is spending more time on this now?

[2020-09-02 15:36] johanstokking commented on #3091
Not blocked anymore by `otto`

[2020-09-02 16:36] johanstokking commented on #3155
Right, this is indeed not what we need to do. I meant that as part of the _import_, there has to be an owner dropdown, just like for create. So there's one collaborator: an org or the user.

The problem here is that if you import 1000 gateways, it's quite hard to return 1000 API keys. Telling the customer to go to their 1000 gateways is quite a bad news conversation.

Should we put the V2 API key

[2020-09-02 16:39] johanstokking commented on #3166
OK, so this is specifically AS and proto documentation?

[2020-09-03 07:08] htdvisser commented on #3091
@johanstokking please re-assign if there's anything left after you fix the testing certificates.

[2020-09-03 08:17] KrishnaIyer commented on #3155
Agreed but this has to be done for Basic Station. In v2, we don't use auth for those gateways.

So practically, this is only for MQTT since we don't support v2 gRPC. Indeed we need to add support to those `ttn-account-v2.<keys>` .

Auth is one thing, with the special case of GPS gateways, we need to append the "Update Gateway Info" rights to update the location.

How about we set a sunset period f

[2020-09-03 09:03] johanstokking commented on #3155
We can't do this. We need to use GS cluster auth for this, or don't support updating the gateway's location. But I believe that this is already supported with cluster auth.

We all know how this goes. I'm afraid we need a permanent solution for V3 and sunset this with V4.

[2020-09-03 10:18] johanstokking opened #3177 "Authenticate gateways with V2 access key"
#### Summary

Authenticate gateways with V2 access key

#### Why do we need this?

To authenticate gateways that are currently connected to V2 but are being migrated to V3, without changing their gateway access key to a V3 API key.

#### What is already there? What do you see now?

Gateway Server optionally supports unauthenticated gateways, or authenticates via V3 API key.

#### What is missing?

[2020-09-03 10:19] johanstokking commented on #3177
@KrishnaIyer please post diff with API and DB model for the secret before implementation

[2020-09-03 10:20] johanstokking commented on #3155
Extracted authentication to https://github.com/TheThingsNetwork/lorawan-stack/issues/3177. Let's focus only on the migration itself here.

[2020-09-04 07:09] #3091 closed, assigned to johanstokking

[2020-09-04 07:55] garylee008 opened #3184 "Support a master MQTT account that can subscribe all topics"
#### Summary

request to setup a master MQTT account that can subscribe all topics in an on-perm installation
...

#### Why do we need this?

To enable an application with admin rights to read all MQTT topics
...

#### What is already there? What do you see now?

can subscribe to topics on a per application basis only
...

#### What is missing? What do you want to see?

Allow user with admin right

[2020-09-04 08:59] KrishnaIyer commented on #3145
Saw this again today
https://github.com/TheThingsNetwork/lorawan-stack/pull/3185/checks?check_run_id=1071013805

[2020-09-04 13:30] #3166 closed, assigned to johanstokking

[2020-09-04 20:03] cnoork opened #3189 "Add application_name in the payload from mqtt"
#### Summary
With v3 I miss the application name. In v2 I could get it from the topic but now there is only a id. We use the name to do some identivication from the sensors.

...

#### Why do we need this?
We use the name for identify the sensor type

...

#### What is already there? What do you see now?
I see now only the id in msg.payload.end_device_ids.application_id

...

#### What is missing?

[2020-09-04 23:00] adriansmares commented on #2312
I've pushed my current progress in https://github.com/TheThingsNetwork/lorawan-stack/pull/3190 . I think I covered most (if not all) of the AS implementation, but I have some questions regarding the API:

- What do we do with the `GetLinkStats` call ? Does it return an error ? Does it return an empty response ? @johanstokking

[2020-09-05 10:49] adriansmares opened #3191 "Improve event backends resilience"
#### Summary

Event backends (pub/subs) need to be more resilient in case of failures. Additionally, we need more logging presence, in order to be able to debug failures.

#### Why do we need this?

In order to automatically reconnect on connection failures, and in order to allow better debugging capabilities.

#### What is already there? What do you see now?

https://github.com/TheThingsNetwork/l

[2020-09-07 08:42] KrishnaIyer commented on #3177
I'm looking at this now and this might be a dumb question; if someone needs to manually change the endpoint on the gateway for migration, they might as well change the API Key right?

[2020-09-07 16:35] bafonins commented on #2663
Removing priority label since https://github.com/TheThingsNetwork/lorawan-stack/pull/3162 partially resolves this.

[2020-09-07 18:04] rvolosatovs commented on #3191
I agree with everything above.
In terms of Redis implementation, is there a reason to use Pub/Sub, when we could easily achieve fail-safety and exactly-once delivery semantics with streams?
It is already used in Event Server.
Consumer part:
https://github.com/TheThingsIndustries/lorawan-stack/blob/b795deb83158c7732a0fbd3e9b6dc6d941a844ff/pkg/eventserver/eventserver.tti.go#L34-L55
Publisher part:
h

[2020-09-07 18:44] adriansmares commented on #3191
The Redis events PubSub was developed before Redis 5 was a thing - there were no streams in early 2018.

I'll pick up the task-based approach for subscribe in the fix PR, similar to how ES does it.

While I do see your point regarding storage (compared to normal Redis Pub/Sub), I think in the current format of the `pkg/events` `PubSub` interface, subscription groups are useless, since `Subscribe`

[2020-09-08 09:10] bafonins commented on #2605
@johanstokking We already have cypress inplace. However, there is still some work required to make sure all our inputs can be used in e2e tests (i.e. https://github.com/TheThingsNetwork/lorawan-stack/pull/3173, https://github.com/TheThingsNetwork/lorawan-stack/pull/3174). Also, we are still missing tests for most of the entities in the console (for devices work is being done https://github.com/The

[2020-09-08 09:12] #2392 closed

[2020-09-08 09:12] #2220 closed

[2020-09-08 13:26] johanstokking commented on #2733
Blocked on #3176

[2020-09-08 13:29] johanstokking commented on #1422
@kschiffer please let us know how we can unblock the progress here.

[2020-09-08 13:34] kschiffer commented on #1422
I wrote a summary here: https://github.com/TheThingsNetwork/lorawan-stack/pull/2850#issuecomment-657497193

[2020-09-08 13:41] kschiffer commented on #2605
https://github.com/TheThingsNetwork/lorawan-stack/issues/2605#issuecomment-635980332

So how to scope this issue? Is someone following up with a backend end-to-end issue or should we track this here as well?

[2020-09-08 15:33] bafonins opened #3198 "Invalid validation for class B devices in NS"
#### Summary

NS requires `mac_settings` to be present in request when creating class b device.

<details>
<summary>Details</summary>

Request without empty `mac_settings`:
[code]

Response:
[code]

Request with empty `mac_settings`:
[code]

Response:
[code]

</details>

#### Steps to Reproduce

1. See details with curl setups

#### What do you see now?

An error when no `mac_settings` sent with t

[2020-09-08 15:59] adriansmares commented on #2908
We can also `XDEL` after `XACK`, albeit we lose some debugging capacity. Note that this is not entirely kosher and assumes that the NS is the only subscription group (not a shaky assumption).

References https://github.com/redis/redis/issues/6403
References https://github.com/redis/redis/issues/6640

[2020-09-08 16:56] johanstokking commented on #2312
- Return `Unimplemented`
- Deprecate usage in CLI
- Remove usage from Console

[2020-09-08 17:01] johanstokking commented on #3177
This is for in-place upgrades, from V2 Bridge to V3 Gateway Server, i.e. for forwarding purposes. For example, V2 private network clusters that get upgraded to V3, either to fully fledged V3 clusters, or V3 GS + PBA.

[2020-09-09 08:52] johanstokking commented on #1422
OK, let's continue that conversation here.

Yes

We can't break configuration in V3, but we can introduce new configuration, deprecate the old configuration, use the old configuration as fallback, and file a TODO issue labeled `bump/major` to remove the old config.

So my suggestion would be to introduce new configuration that would be a complete replacement and enables the new account app. For ba

[2020-09-09 08:57] johanstokking opened #3202 "Automated end-to-end testing"
#### Summary

Automated end-to-end testing.

#### Why do we need this?

Regression testing in CI.

#### What is already there? What do you see now?

- Automated frontend testing: https://github.com/TheThingsNetwork/lorawan-stack/issues/2605
- CLI for simulating join-requests and uplink messages

#### What is missing? What do you want to see?

Scripting common use cases, i.e. creating a gateway, ap

[2020-09-09 08:57] johanstokking commented on #2605
Sounds good!

https://github.com/TheThingsNetwork/lorawan-stack/issues/3202

[2020-09-09 12:17] benolayinka commented on #2914
closed by #2928

[2020-09-09 12:17] #2914 closed

[2020-09-09 12:20] benolayinka opened #3204 "Add windows commands to documentation"
#### Summary

We provide windows binaries, so we should also provide windows friendly instructions where it's relevant

#### What is already there? What do you see now?

Just unix

#### Can you do this yourself and submit a Pull Request?

Yes

[2020-09-09 12:38] bafonins commented on #3145
Same here

[code]

[2020-09-09 13:17] benolayinka opened #3207 "Add headless note to installation guide"
#### Summary

A user was unable to login on an ssh box because the installation instructions don't contain any information about `login --callback=false`

Temporarily blocked on #3206

#### Why do we need this ?

To make it easier to install

#### Can you do this yourself and submit a Pull Request?

Yes

[2020-09-09 13:43] #3198 closed, assigned to rvolosatovs

[2020-09-09 16:28] #3191 closed, assigned to adriansmares

[2020-09-10 06:47] #1069 closed

[2020-09-10 08:52] kschiffer opened #3209 "Gateway server issues duplicate events"
#### Summary

The gateway server occasionally issues the exact same `gs.up.drop` and `gs.status.forward` event two times, even with the same timestamp. This should not happen.

References #3098, #580

#### Steps to Reproduce

1.  Subscribe to a gateway stream with sufficient traffic
2.  Wait
3.  See identical `gs.up.drop` events appearing

Example event arriving two times:

[code]

#### What do yo

[2020-09-10 09:17] kschiffer commented on #580
As far as I can see, events with the exact same timestamp should not happen, meaning that

*   we can use the timestamp as event key
*   the occasional events with duplicate timestamps need to be addressed in the backend (#3209)
*   we can use logic in the console to check for events with duplicate timestamps and discard those (#3098)
*   we might want to close this issue

cc @johanstokking

[2020-09-10 09:54] #2552 closed

[2020-09-10 10:54] rvolosatovs commented on #2908
Yes, that's what I meant by

However, it's not the intended use case for `XDEL`, hence why I suggest using `XTRIM` instead

[2020-09-10 10:57] johanstokking commented on #580
My proposal would be:

- Add a new field to `Event` proto
- Fill that when creating the event: https://github.com/TheThingsNetwork/lorawan-stack/blob/3c1ab3a4e8a443e8e28883bc05df27369e110c4a/pkg/events/builder.go#L45-L50
- With an ID that's like correlation ID: `ulid.MustNew(ulid.Now(), rand.Reader).String()`

[2020-09-10 10:59] johanstokking commented on #3209
This is two goroutines for multiple upstreams that are handling the message concurrently. Two options: #580 (clean option) or add a correlation ID for the upstream (work-around for these particular event pairs).

[2020-09-10 14:11] kschiffer commented on #2605
One additional thing to consider is whether we might want to look into testing individual components by running cypress on storybook. I feel like this could be a good and more straightforward replacement for our component unit tests. I could see us using this for more complex or critical components like the sidebar, header or event component.

@bafonins what do you think?

[2020-09-10 14:14] #580 closed

[2020-09-10 14:36] rvolosatovs commented on #2908
Raising priority to `high`, since this is causing major troubles in production. (in particular, this https://github.com/TheThingsIndustries/lorawan-stack-aws/issues/189#issuecomment-658414583 happened)

[2020-09-11 08:13] #2908 closed

[2020-09-11 10:21] rvolosatovs opened #3216 "Release 3.9.2"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-09-11 11:43] #3216 closed, assigned to rvolosatovs

[2020-09-11 17:10] johanstokking opened #3220 "Limit application downlink queue size"
#### Summary

Limit application downlink queue size

#### Why do we need this?

To avoid that there are too many downlink messages queued in the registry

#### What is already there? What do you see now?

- No limit on number of stored application downlink messages in the queue
- No limit on the number of downlink messages that you can enqueue

#### What is missing? What do you want to see?

- Lim

[2020-09-11 18:14] adriansmares opened #3221 "Make events pub/sub format configurable"
#### Summary

The event backends should have a configurable format.

#### Why do we need this?

In order to lower runtime costs on encoding/decoding JSON, and to lower the amount of network traffic generated by our events.

#### What is already there? What do you see now?

Marshal/unmarshal using `encoding/json`. `go-cloud` offers internally `protobuf` usage, but this is not available over setting

[2020-09-14 09:20] htdvisser commented on #3221
When we initially built the events system back in 2018, we implemented the "internal" and "redis" backends as a reference only. The idea was that we'd migrate to a different backend such as RabbitMQ, Cloud Pub/Sub or NSQ/NATS for more "serious" deployments.

The "cloud" backend already uses protobuf as a default (and has support for json as well).

And to be honest, I don't think the biggest scala

[2020-09-14 09:30] adriansmares commented on #3221
That's most likely correct - but keep in mind that we had some interesting performance gains by simply changing the JSON library in some cases - I'd really like to see if `protobuf` would be better, at least initially.

But indeed - the real problem is the routing is way too trivial at the moment, so refactoring the events backend is inevitable - especially since the Event Server will need `exactl

[2020-09-14 11:04] benolayinka opened #3223 "Add CUPS address and LNS address to gateway overview"
#### Summary

Add CUPS address and LNS address to gateway overview

#### Why do we need this?

Hugely simplify finding this information. Currently, LNS is by default `wss://server_address:8887` and CUPS is `https://server_address:443` which there is no way to figure out without reading BOTH the gateway overview and the LBS docs

#### What is already there? What do you see now?

<img width="580" al

[2020-09-14 11:09] KrishnaIyer commented on #3223
Please hold this on https://github.com/TheThingsIndustries/lorawan-stack/issues/2088

[2020-09-14 13:53] #3163 closed, assigned to benolayinka

[2020-09-14 14:09] htdvisser commented on #3221
If we make the encoding configurable, we'd need to somehow detect the encoding when receiving events from Redis (not all components in a cluster may be deployed with the same configuration). Unlike the `cloud` backend, the Redis backend doesn't already have headers, so we'd have to come up with a different way to do this. Checking if the first bytes are `{"` might work, but it's probably better to

[2020-09-14 14:33] adriansmares commented on #3221
If all of the components share the same broker settings, is it completely unlikely that they will share the same format settings ? I'm ok with the prefixes too, but I'm a bit confused on why this content type problem arises in the first place.

[2020-09-14 14:51] htdvisser commented on #3221
Different instances in a cluster are not guaranteed to run with the same configuration. This shouldn't cause errors on other instances in the same cluster.

[2020-09-14 16:48] johanstokking commented on #2777
Raising priority as the concept of Global Join Server remains challenging cc @benolayinka

[2020-09-14 17:25] rvolosatovs opened #3230 "Console uses incorrect uplink FCnt"
#### Summary

Console uses incorrect uplink FCnt

#### Steps to Reproduce

1. Make device FCnt exceed 16 bits
2. Observe FCnt jumps

#### What do you see now?

https://github.com/TheThingsIndustries/lorawan-stack-support/issues/127
FCnt jumps

#### What do you want to see instead?

No FCnt jumps, correct FCnt displayed

#### Environment

3.9.1

#### How do you propose to implement this?

Console s

[2020-09-15 11:15] #3230 closed, assigned to kschiffer, bafonins

[2020-09-15 13:16] rvolosatovs commented on #3220
closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/3236

[2020-09-15 13:16] #3220 closed, assigned to rvolosatovs

[2020-09-15 13:36] rvolosatovs opened #3237 "Release 3.9.3"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-09-15 14:32] #3237 closed, assigned to nobody

[2020-09-15 15:20] rvolosatovs commented on #2192
This must be fixed before we make the next release, such that we can enable Sentry

[2020-09-16 11:03] #2515 closed

[2020-09-16 11:17] kschiffer opened #3242 "Feature toggle redirects are broken in the Console"
#### Summary
The automatic redirects for restricted routes are currently broken, they will compose a new URL containing `undefined` instead of the entity ID.

#### Steps to Reproduce

1. Create an application and add a non admin user as collaborator with restricted rights (e.g. no right to view/edit API keys)
2. Log in as the user and navigate to the entity overview
3. Try accessing a sub-page tha

[2020-09-16 15:33] kschiffer commented on #2170
After trying to reproduce for a while I could not succeed. Adding `missing details` for the time being. If anyone witnesses this, please try to drill down the reproduction steps.

[2020-09-16 15:51] kschiffer commented on #2230
I'll move this to the Backlog milestone since the individual issues are already prioritized correctly and this issue is more to keep track overall.

[2020-09-16 15:58] kschiffer commented on #1559
This has been partially implemented via #2793 and #2356. Missing is now only some details like variable naming or specific preferences like functions style. As such I will move this back to Next up, since I believe there are more urgent concerns for the immediate short term.

[2020-09-17 08:18] htdvisser opened #3250 "Migrate from GORM to Bun"
#### Summary

We should replace GORM v1 with something else.

#### Why do we need this?

GORM v1 is no longer maintained.

#### What is already there? What do you see now?

We're using GORM v1

#### What is missing? What do you want to see?

Stop using GORM v1

#### How do you propose to implement this?

We discussed two options:

1. Upgrade to GORM v2. There are some significant changes, so upgra

[2020-09-17 08:31] johanstokking commented on #3209
Closed with #580

[2020-09-17 08:31] #3209 closed, assigned to johanstokking

[2020-09-17 08:37] johanstokking commented on #2170
Anyone please reopen this issue when it occurs and paste details.

@kschiffer what details do you need? Browser console log?

[2020-09-17 08:37] #2170 closed

[2020-09-17 08:44] kschiffer commented on #2170
This likely happens with collaborators that have fewer rights or when certain stack components are disabled, so that info would be good to know.

[2020-09-17 09:11] htdvisser opened #3251 "Add state_description field to entities with a state field"
#### Summary

It would be nice if we could add a `state_description` or `state_note` field to entities that have a `state` field.

#### Why do we need this?

So that we can inform users and OAuth clients why they are flagged/suspended/rejected.

#### What is already there? What do you see now?

Some entities with a `state` field.

#### What is missing? What do you want to see?

An additional `stat

[2020-09-18 11:22] #3242 closed, assigned to kschiffer

[2020-09-18 11:56] bafonins commented on #2605
This is a good idea. However, I would prefer covering with just e2e tests most parts of the Console/OAuth apps first.

[2020-09-18 18:56] rvolosatovs opened #3254 "Avoid matching pending session and FCnt reset when uplink ACK is set in storage backend"
#### Summary

Do not fetch devices, which cannot match due to ACK bit set.

#### Why do we need this?

To improve performance

#### What is already there? What do you see now?

In #2837 huge changes were made related to matching.
Currently NS checks the ACK bit directly when ranging over the returned devices from Redis.

#### What is missing? What do you want to see?

Redis script can handle it it

[2020-09-21 09:42] #1085 closed

[2020-09-21 09:45] #1383 closed

[2020-09-21 10:02] bafonins commented on #1924
Looks like the issue is fixed

[2020-09-21 10:02] #1924 closed

[2020-09-21 12:17] rvolosatovs opened #3259 "Downlink pushing broken by #3190"
#### Summary

Downlink pushing broken by #3190

#### Steps to Reproduce

[code]

#### What do you see now?

[code]

#### What do you want to see instead?

[code]

#### How do you propose to implement this?

For now we could just revert #3190?

#### How do you propose to test this?

See above

#### Can you do this yourself and submit a Pull Request?

I prefer not to

[2020-09-21 12:18] rvolosatovs commented on #3259
Setting `prio/medium`, because being able to schedule application downlinks is a core feature of our stack

[2020-09-21 12:39] adriansmares commented on #3259
I shouldn't have merged this until NS was done. Opening the a revert PR and creating a PR for #3190

[2020-09-21 12:52] rvolosatovs commented on #3259
How is the NS related here?
If NS should just check different set of rights on push, I can open a quickfix PR for that maybe?

[2020-09-21 13:07] adriansmares commented on #3259
Since there is no more linking, `Push` and `Replace` use cluster authentication instead of the the link API key.

I see two options:
- Revert #3190 completely - can be done by https://github.com/TheThingsNetwork/lorawan-stack/pull/3260
- Update the rights check in the NS - not hard, but since the NS doesn't use the new service at the moment, uplinks won't work.

Solution 1 basically reverts `v3.10

[2020-09-21 14:42] adriansmares commented on #3259
Closed by #3260

[2020-09-21 14:42] #3259 closed, assigned to adriansmares

[2020-09-21 15:09] kschiffer opened #3261 "Provide a static error HTML template for non-react handled routes"
#### Summary
Following up from https://github.com/TheThingsNetwork/lorawan-stack/issues/233 we still need a Go HTML template that will render a generic and static error page for all errors that are not in Console or OAuth app context. See also: https://github.com/TheThingsIndustries/lorawan-stack/issues/1315#issuecomment-440656553

#### Why do we need this?
To display proper error pages for backen

[2020-09-21 15:10] kschiffer commented on #233
So from a technical perspective, this is already implemented as defined in the OP. Our outermost error boundary will catch errors and render the error view. I will close this issue and open a new one about static HTML/CSS templates for backend error responses on routes that are not handled by our frontend react apps.

https://github.com/TheThingsNetwork/lorawan-stack/issues/3261

[2020-09-21 15:10] #233 closed

[2020-09-22 10:32] adriansmares commented on #2698
FTR v8 has been released https://github.com/go-redis/redis/releases/tag/v8.0.0 (and the moment this comment was written `8.1.3` is already out).

[2020-09-22 10:58] rvolosatovs commented on #2698
I'll address this after #2837 is merged

[2020-09-22 12:10] rvolosatovs commented on #3026
NS part is done in #3146

[2020-09-22 12:12] rvolosatovs commented on #2333
Closed by #3248

[2020-09-22 12:12] #2333 closed

[2020-09-22 12:50] #3106 closed, assigned to nejraselimovic

[2020-09-22 12:51] bafonins commented on #2832
Moving this to `Next up` as there are more important issues to work on. Also, for such refactoring having some e2e tests in place (https://github.com/TheThingsNetwork/lorawan-stack/pull/3065) is required.

[2020-09-22 12:55] bafonins commented on #2663
Moving this to October since https://github.com/TheThingsNetwork/lorawan-stack/pull/3162 must approved and merged first.

[2020-09-22 13:25] benolayinka commented on #3207
Blocked on #3206

[2020-09-22 13:32] benolayinka commented on #3145
@adriansmares where's the PR?

[2020-09-22 13:34] adriansmares commented on #3145
https://github.com/TheThingsNetwork/lorawan-stack/pull/3263

[2020-09-22 17:25] #2980 closed, assigned to kschiffer

[2020-09-23 08:46] htdvisser opened #3270 "v3.9.4 Patch Release"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [ ] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m-%d` (e.g. `## [3.2.1] - 2019-10

[2020-09-23 10:45] htdvisser opened #3272 "Ask for password before deleting user account"
#### Summary

Update the user account deletion implemention to ask for a password to confirm the action.

#### Why do we need this?

User experience. This would prevent users from accidentally deleting their account.

#### What is already there? What do you see now?

Users can accidentally delete their account.

#### What is missing? What do you want to see?

It's common to ask for confirmation wi

[2020-09-23 11:22] TheIronNinja opened #3273 "Document the troubleshooting guide for 'Token exchange refused' and other common OAuth problems"
#### Summary
Missing Authentication reference in the Troubleshooting section of the documentation. https://thethingsstack.io/getting-started/troubleshooting/

...

#### Why do we need this ?
The text is there but it links to the same page so it's supposed to exist already.

...

#### What is already there? What do you see now?
Same as above

...

#### What is missing? What do you want to see?
I've

[2020-09-23 11:55] benolayinka commented on #3207
There's already a note in getting-started/cli/login/ about this

[2020-09-23 11:55] #3207 closed, assigned to benolayinka

[2020-09-23 12:00] benolayinka commented on #2415
Closed by https://github.com/TheThingsIndustries/lorawan-stack-docs/pull/2

[2020-09-23 12:00] #2415 closed

[2020-09-23 12:16] #3270 closed, assigned to htdvisser

[2020-09-24 08:40] pgalic96 commented on #2438
@kschiffer @bafonins Should this setting be part of the add end device wizard, or should we keep it in the general settings to keep the wizard simple (I assume the default value is `false` then).

[2020-09-24 09:45] KrishnaIyer commented on #2130
blocked on https://github.com/TheThingsIndustries/lorawan-stack/issues/2018 unless this is critical enough that we want to hardcode these fields.

[2020-09-24 11:07] ecities opened #3278 "Getting started with Raspberry Pi 4 documentation"
#### Summary

**...Hi, for a few days we are trying to install and run TTN stack on RPI-4 buster without success.
We tried docker installation - unsucessfully.
We found .deb installation files and tried to install it.
Is there any other method or documentation "from scratch" how to run TTN Stack on RPI-4 buster.**
How to move forward - is there some tricky way to do it - or it doesn't work at all?

[2020-09-24 13:57] kschiffer opened #3280 "Make GCS API available via gRPC"
#### Summary
The Gateway Configuration Server currently does not use gRPC so it's API is plain HTML. In the JS SDK we somewhat rely on functionality being available as RPC so adding GCS functionality requires us to break out of our usual implementation.

#### Why do we need this?
- Retain implementation consistency in the JS SDK
- Avoid harcoded API routes and arbitrary implementations

#### What

[2020-09-25 10:42] #2234 closed

[2020-09-25 13:56] kschiffer commented on #2887
Unfortunately, this issue persists. Albeit, the event views can handle more load now but there's still a certain threshold of event count and frequency that will cause lag and freezes.

I will reintroduce a maximum amount of events as a quick remedy until we can fine-tune this further.

[2020-09-25 15:55] #3098 closed, assigned to kschiffer

[2020-09-25 17:25] neoaggelos commented on #3138
I prefer this option. We could have it support updating multiple gateways in a single RPC, improving performance, also eliminating the need for one extra goroutine per gateway.

We can limit it to clusterauth at first, so that it is used by GS only, and not as an API.

[2020-09-25 18:18] neoaggelos commented on #2669
The issue here is that device location is stored in IS, and is not readily available for the AS when adding device metadata to upstream messages. How should we proceed with this?

[2020-09-25 18:30] adriansmares commented on #2669
In order to avoid a separate API key, we could enable cluster auth to read the device location in the IS - still we should cache it locally, otherwise we will hit the IS on the hot path.

[2020-09-26 18:23] neoaggelos commented on #2669
I agree that we should be caching this, and retrieving the location with an RPC with cluster auth. However, I think this will not scale well for a large number of devices. e.g. for 10K active devices, even with updating the cache once every 1 hour, we would need 10K calls to the IS every hour.

Instead, I would suggest the alternative of having a single RPC on the IS that the AS can use to retriev

[2020-09-26 19:59] adriansmares commented on #2669
The calls to the IS are not really the issue, 10k calls is nothing, it just matters that we hold a small `gcache` for the locations on the AS side. We've done this for other entities (such as tenants) and didn't have any issues.

I also don't see why there must be a different RPC - how would it differ from a normal `Get` which has only the location as part of field mask ?

What does 'device it is

[2020-09-28 10:10] ymgupta opened #3287 "Network server fails to schedule downlink on MP Packet forwarder (MQTT) based gateway"
#### Summary
Join accept is not being scheduled by the network server in the case of MQTT Gateway.
Ref: [#137](https://github.com/TheThingsIndustries/lorawan-stack-support/issues/137)
#### Steps to Reproduce
1. Register and connect an MP packet-forwarder enabled gateway to The Things Stack
2. Register a device
3. Activate via OTAA
#### What do you see now?
The following events are not triggered:

[2020-09-28 17:20] neoaggelos commented on #2669
OK, we can start with a simple gcache and work from there in case we encounter performance issues.

While tackling the implementation for this, I found that it does not make much sense to have a `deviceLocationCache` (storing `map[string]*ttnpb.Location`). IMO, it is cleaner to have a `deviceCache` (storing `*ttnpb.EndDevice` protos). For now, we can only store the `locations` field inside the cac

[2020-09-28 17:27] bafonins opened #3290 "Navigate to failed step in end device wizard"
#### Summary

We should navigate the user to wizard step that failed.

#### Why do we need this?

We make api requests only when submitting the last form in the end device wizard. Since the whole device creation flow is quite complicated and frontend validation might be not up to date to the actual validation rules defined on the backend, any request can fail. Currently, we display errors without

[2020-09-28 17:28] bafonins opened #3291 "Navigate to failed step in end device wizard"
#### Summary

We should navigate the user to wizard step that failed.

#### Why do we need this?

We make api requests only when submitting the last form in the end device wizard. Since the whole device creation flow is quite complicated and frontend validation might be not up to date to the actual validation rules defined on the backend, any request can fail. Currently, we display errors without

[2020-09-28 17:29] #3290 closed, assigned to nobody

[2020-09-28 17:29] bafonins commented on #3290
Replaced by https://github.com/TheThingsNetwork/lorawan-stack/issues/3291

[2020-09-28 17:34] #3026 closed, assigned to bafonins

[2020-09-28 17:38] adriansmares commented on #2669
I think it is fine to store the whole `*ttnpb.EndDevice`. On slight note: the payload formatters are part of `ttnpb.ApplicationLink`, not `ttnpb.EndDevice`, but the `attributes` example holds.

One thing to take care if you store the whole device in your cache is that you'll introduce complexity due to different field mask paths that you may be requested to serve - if you feel it becomes too much

[2020-09-28 18:04] #2665 closed

[2020-09-28 19:20] #2884 closed

[2020-09-29 08:44] bafonins opened #3295 "Remove `api` usage in UI components"
#### Summary

We should remove usage of the api module in UI components.

#### Why do we need this?

Separate UI and api usage.

#### What is already there? What do you see now?

api used via redux middleware (preferred)
api passed via redux `connect` function
api used directly in UI compoennts

#### What is missing? What do you want to see?

`api` is still used in react components:

* [Applicatio

[2020-09-29 08:57] htdvisser commented on #143
- This is no longer blocking #138 (we went for DNS there)
- This is no longer a priority for UX (we went for a configurable cluster picker instead of a dynamic one)

[2020-09-29 11:07] htdvisser opened #3296 "Account Recovery using only Email Address"
#### Summary

Building a process for recovering forgotten user accounts by entering your email address.

#### Why do we need this?

For the current processes, we need users to still remember their username, but that may not always be the case.

#### What is already there? What do you see now?

The password reset feature asks for a username.

#### What is missing? What do you want to see?

We shoul

[2020-09-30 07:35] KrishnaIyer commented on #3287
This issue heading/summary is quite misleading. So far **only** MP Packet forwarder fails. TTKG (which also works on MQTT) has no issues from my tests.
This is something to fix regardless.

[2020-09-30 08:23] bafonins commented on #2770
So, I guess documentation+support links are applicable for ttes.
Shall we add documentation link to tts? @laurensslats

[2020-09-30 08:51] neoaggelos commented on #35
I opened #3298 for calculating consumed airtime of uplink messages.

For downlinks this is not straightforward (because the transmission settings are ultimately decided by the GS, so we need #76 and #56 first.

[2020-09-30 11:11] pgalic96 commented on #2438
@rvolosatovs looping you in on the question regarding `supports_32_bit_f_cnt` in the add device wizard. I see that in the v2 console it is not part of the add device form, only settings. Should we keep it in general settings only in v3 console as well?

[2020-09-30 11:16] kschiffer commented on #2438
This should be part of the network layer settings in the wizard and the general settings form.

[2020-10-01 09:56] adriansmares commented on #2500
Is this issue still present in the last release ?

[2020-10-01 12:08] htdvisser opened #3304 "Optimize rights lookup in list requests"
#### Summary

We should optimize the rights lookup in list requests to reduce the number of DB roundtrips.

See also https://github.com/TheThingsIndustries/lorawan-stack/issues/1393#issuecomment-683651932

#### What is already there? What do you see now?

The current implementation checks the rights of the caller for each result in a list request, to make sure we don't return fields the caller doe

[2020-10-01 12:12] rvolosatovs opened #3305 "Reload interop connection assets at runtime"
#### Summary

Reload interop connection assets at runtime

#### Why do we need this?

To allow updating credentials without restart

#### What is already there? What do you see now?

Config, which is only active on restart

#### What is missing? What do you want to see?

Reload config at runtime change

#### How do you propose to implement this?

perhaps use inotify to watch for changes, not sure

[2020-10-01 13:09] rvolosatovs opened #3308 "Redis device matching breaks/undefined when duplicate count exceeds address space size"
#### Summary

Redis device matching breaks/undefined when duplicate count exceeds address space size

#### Steps to Reproduce

1. Have `n_a` devices matching to DevAddr X
2. Have `2*n_a+1` duplicate uplinks for DevAddr X arrive simultaneously
3. Expect the unexpected

#### What do you see now?

Undefined behavior, most probably no breakage, but very inefficient procedure

#### What do you want to

[2020-10-01 14:03] nejraselimovic commented on #3204
@benolayinka Since I encountered no issues in executing commands from [getting-started](https://thethingsstack.io/getting-started/installation/), I guess you can close this issue? Btw, I used PowerShell all the way, not cmd

[2020-10-01 16:38] kschiffer opened #3311 "Show advanced and interactive event details in the Console"
#### Summary
The Console currently only shows the raw event JSON in the event details panel (sidebar). We could provide a better experience here by facilitating common actions related to the event payload.

#### Why do we need this?
To further improve the UX around event and activity monitoring, facilitate troubleshooting and diagnosing of issues

#### What is already there? What do you see now?
-

[2020-10-01 17:15] kschiffer opened #3312 "Visualize related events using correlation ids in the Console"
#### Summary
The Console does currently not make any use of the `correlation_ids` that are provided by events. These can be used to visually group related events.

#### Why do we need this?
To further improve the UX around inspecting events in the Console by indicating related events

#### What is already there? What do you see now?
Event details and event data previews.

#### What is missing? Wha

[2020-10-01 17:45] adriansmares commented on #3312
I generally think in tables and buttons so my opinions on UX are to be taken with a gram of salt, but maybe we could have some check boxes for correlation types (that basically select the correlation ID prefixes the user is interested in ?). We could add this as a dropdown menu next to `Pause` and `Clear` and users would be able to select which correlation types/prefixes they are interested in.

A

[2020-10-01 18:40] rvolosatovs commented on #2192
Setting `prio/high`, since this affects customers

[2020-10-02 07:42] #2542 closed

[2020-10-02 08:57] johanstokking commented on #2500
Please reopen if still applicable.

[2020-10-02 08:57] #2500 closed

[2020-10-02 09:00] bafonins commented on #2410
Here are the events dispatched when a device join the network:
[code]

The list is much longer that what we currently have. Do we really want to keep this in the documentation? Especially taking into account that this flow will change in the future (by removing/adding events). Do we really want to keep this synced with the docs?

@benolayinka @laurensslats