[2021-05-11 09:01] #4119 closed, assigned to johanstokking

[2021-05-11 12:25] johanstokking commented on #4095
Yes, that's probably the simplest solution.

Also note that in LoRaWAN, retransmissions are a feature. The same (un)confirmed uplink message can be sent multiple times, with the same FCnt, i.e. the same PHYPayload. Frequency hopping does apply though. Also, RX2 applies: the end device has to wait at least 2 seconds for the next frame.

So, if you want to work with a simple duplication detector on

[2021-05-11 13:08] johanstokking commented on #4095
Another related issue is that some gateways are sending duplicate messages of the same uplink frame:

1. Same PHYPayload
2. Different frequency
3. Different RSSI; e.g. -44 vs -100. The right one is the message with the highest RSSI
4. Out-of-order arrival of the messages; sometimes the one with the highest RSSI comes first, sometimes last
5. The frames are sent typically in the same `GatewayUp` me

[2021-05-11 14:55] johanstokking commented on #4076
@htdvisser @adriansmares any thoughts on this?

[2021-05-11 16:49] neoaggelos opened #4161 "Support re-using profiles from other vendors in Device Repository"
#### Summary

Support re-using profiles from other vendors in Device Repository.

References https://github.com/TheThingsNetwork/lorawan-devices/issues/130 https://github.com/TheThingsNetwork/lorawan-devices/pull/162

#### Why do we need this?

See https://github.com/TheThingsNetwork/lorawan-devices/issues/130.

#### What is already there? What do you see now?

No support for `vendorID` in profile

[2021-05-11 18:06] adriansmares commented on #4076
I see the usage and I agree with it.

At some point in the future I really think we should consider webhook field masks. I know the discussion itself is out of scope but I feel that the more fields we add, the more we waste CPU on our side  marshalling, outgoing bandwidth sending these large JSON messages, and then exactly the same operations occur on the integrators side. I feel that we'll no lon

[2021-05-12 01:46] virtualguy commented on #3642
Any chance this is going to squeeze into an upcoming 3.12.x release? I somehow completely missed the difference in behaviour from v2 to v3 and having to replace and rebuild the entire queue when a DownlinkNack happens is a huge pain. The intention was to use a confirmed downlink to ensure message ordering

[2021-05-12 08:36] johanstokking commented on #4161
You have too many issues assigned to 3.13.0; taking this over

[2021-05-12 09:52] virtualguy commented on #4095
I have seen similar duplicate messages from a multitech conduit but we have a 16 channel card configured in diversity mode, i.e. two SX1301 chips both listening on the same 8 channels. Is that a potential cause for the problem or is that unrelated?

[2021-05-12 10:05] htdvisser opened #4165 "Render event data of type "google.protobuf.Value""
#### Summary

It would be nice if the Console would automatically render event data with `"@type":"type.googleapis.com/google.protobuf.Value"` to the event list view as JSON.

#### What is already there? What do you see now?

In some places we add "simple" data to events, typically (lists of) strings or numbers. Such simple information is now missing from the event list, and can only be seen in th

[2021-05-12 11:32] #4161 closed, assigned to johanstokking

[2021-05-12 11:39] johanstokking commented on #4095
I don't think that is a potential cause, unless there's a race in the packet forwarder that mixes up PHYPayloads and the channel when reading the registers. If the issue is indeed with the SX1301, two of those increase the chance that it happens by a factor of two.

[2021-05-12 12:13] kschiffer commented on #4165
This is a simple matter of adding a preview for this data type in: [https://github.com/TheThingsNetwork/lorawan-stack/tree/v3.13/pkg/webui/console/components/events/previews](https://github.com/TheThingsNetwork/lorawan-stack/tree/v3.13/pkg/webui/console/components/events/previews)

and to add this new preview to the definitons in https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.13/pkg/web

[2021-05-12 18:32] nejraselimovic commented on #4145
@neoaggelos can you please provide some input here?

[2021-05-12 18:37] nejraselimovic commented on #230
@johanstokking I remember you were mentioning something about LoRaWAN roaming recently, so what is the status with that? Is that something we are aiming for in the following months?

[2021-05-12 19:44] johanstokking commented on #230
Thanks for raising this. We went for option 3:

Packet Broker now support LoRaWAN stateless passive roaming. We're doing some operations and interoperability testing work still.

References https://github.com/packetbroker/router/pull/62
References https://github.com/packetbroker/infrastructure/issues/32
References https://github.com/TheThingsNetwork/lorawan-stack/pull/4151

So we can close this.

[2021-05-12 19:44] #230 closed

[2021-05-13 10:51] virtualguy commented on #4112
Sounds good and I agree let's just focus on the original intent of the ticket, improving the migration performance

[2021-05-13 11:53] i3mSuperMan commented on #4085
Hi @KrishnaIyer,

We have tested with Tektelic Kona Micro, TTIG and Multitech Gateways using LBS on TTSC v3.12.2.

**Tektelic Kona Micro with LBS:**

- For the successful downlinks, we are seeing `gs.down.send` & `gs.down.tx.success` in the Gateway live data.
- From the Gateway packet forwarder logs, we see that the `dnmsg` and `dntxed` in the Gateway. Refer below.
[code]
**The Things Indoor Gatew

[2021-05-14 07:09] KrishnaIyer commented on #4085
Thanks @i3mSuperMan. I'll need some time to look into this so I'm moving it to the next milestone.

[2021-05-16 15:23] johanstokking opened #4176 "Publish location solved event based on decoded payload"
#### Summary

Publish location solved event based on decoded payload.

#### Why do we need this?

To channel location solving on a single channel; the location solved application upstream message type.

This is helpful for upstream subscribers to have one source to subscribe to.

Also, this decouples application payload from location data, which is better for privacy. Currently, users have to conf

[2021-05-17 05:08] neoaggelos commented on #4145
Hi @adrianimboden,

Thank you for filing this issue. First, some background info: This stems from the fact that the data model of The Things Stack is vastly different from the The Things Network Stack V2.

The `AppKey` (as well as the `NwkKey` for LoRaWAN 1.1 devices) is only stored in the Network Server, and can even be encrypted at rest. The Identity Server does not (and _should_ not) know what

[2021-05-17 05:40] neoaggelos opened #4177 "Remove device payload formatter from the console works but does not update view without refresh"
#### Summary

Setting payload formatter to None in the console does not update the device model without refresh.

#### Steps to Reproduce

1. Set payload formatter for device (e.g. to Repository) and save
2. Set payload formatter to None
3. Switch to another pane and back to Payload Formatters
4. The old payload formatter is displayed.

![set-payload-formatters-bug](https://user-images.githubuserc

[2021-05-17 05:49] neoaggelos opened #4178 "Running out of memory when importing many end devices from the console."
#### Summary

When importing a JSON file with lots of devices (> 200) via the Console, there is a huge increase in memory usage, which leads to page crashes and the import process to fail.

#### Steps to Reproduce

1. Create a large export file
2. Import End Devices > Choose File > Import

#### What do you see now?

Delay and lag while the file is being parsed, import process fails after adding a

[2021-05-17 06:34] adrianimboden commented on #4145
Thank you very much for the detailed explanation. Under these circumstances, my proposed changes makes no sense :+1:

[2021-05-17 06:34] #4145 closed, assigned to neoaggelos

[2021-05-17 09:28] jpmeijers commented on #4176
Yes this is indeed an issue I faced recently. But currently my `location_solved` api is just a stub, and TTN Mapper only relies on `uplink_message`.

We will have to add the RX metadata to the `location_solved` object for this to work. But if that is done I am happy with this suggestion.

Yes we can do this. TTN Mapper has a long list of keys it currently checks. There are also hdop and satellite

[2021-05-17 14:06] rvolosatovs commented on #4112
I will see what can be done about this issue, but please do keep in mind that NS migrations are designed to be able to run at runtime, so you should be able to run `ns-db migrate` *after* the stack has already been started. That is why the implementation only considers one key at a time and everything is wrapped in transactions - to minimize the load on the database and ensure correctness even if

[2021-05-17 14:19] #4177 closed, assigned to bafonins

[2021-05-17 15:57] johanstokking commented on #4176
Thanks @jpmeijers for your reply. That's very helpful. I can imagine we follow a similar way to get location information from a decoded uplink message, especially for the time being. Using a common go module just for this could be useful.

We'll be adding RX metadata to `location_solved`; it won't always be available but when location solving is triggered by an uplink message (like most of the tim

[2021-05-18 06:42] htdvisser commented on #4165
Closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/4173

[2021-05-18 06:42] #4165 closed, assigned to htdvisser

[2021-05-18 09:10] neoaggelos commented on #4098
The behaviour with the payload formatters is as follows:

- Applications can have a default payload formatter
- End devices can have a payload formatter overriding the one set in the application level.

Just tested with latest version:

| Application Formatter | Device Formatter | Result |
| --- | --- | ---- |
| Repository | Repository | The codecs from the device repository are used (if any) |
|

[2021-05-18 09:11] #4053 closed, assigned to neoaggelos

[2021-05-18 09:36] #4098 closed, assigned to neoaggelos

[2021-05-18 12:54] johanstokking commented on #2436
@kschiffer to which extent does #4132 (partly) close this issue?

[2021-05-18 13:03] kschiffer commented on #2436
Yes I think this is practically solved by #4132, since we cannot really properly determine any "device status" and the best we can do is forwarding this consideration to the user by providing them with the "Last seen".

I'll set #4132 to close this issue.

[2021-05-18 13:35] HohwielerTo opened #4183 "Able to create devices with invalid names through HTTP-API"
Initially the http Api bugged out on me yesterday and I wasnt able to delete a device that didnt properly got registered in the first place. One day later, there is no trace left of any problems. I'm not sure anymore if there was a problem and if, then where was it supposed to be.

I'd appreciated if any admin could delete this. Sorry.

[2021-05-19 06:56] HohwielerTo commented on #4183
Turns out I was able to delete the device "000" now.
As far as I understand it, I shouldn't have been able to misname the device in the first place.
The console does

[2021-05-19 06:56] #4183 closed, assigned to nobody

[2021-05-19 07:18] neoaggelos opened #4184 "Fix end to end test failures"
#### Summary

End to end tests are currently relying on the long deprecated `cockroach dump` command, which is removed in latest versions of CockroachDB.

This breaks the end to end tests workflow.

#### Why do we need this?

Fix end to end tests workflow.

#### What is already there? What do you see now?

End to end test failures due to failure to initialize

#### What is missing? What do you wan

[2021-05-19 12:58] KrishnaIyer opened #4191 "Support user defined Antenna Gain in LBS router config"
#### Summary

Support user defined Antenna Gain in LBS router config

#### Why do we need this?

To allow users to tweak the antenna gain for specific gateways.

#### What is already there? What do you see now?

LBS router config does not handle Antenna Gain.

#### What is missing? What do you want to see?

The LBS spec moves the `antenna_gain` field to the RFCONF object.
https://doc.sm.tc/station

[2021-05-19 12:59] KrishnaIyer commented on #4191
Refs: https://github.com/TheThingsNetwork/lorawan-stack/issues/2006

[2021-05-19 14:39] #4090 closed, assigned to neoaggelos

[2021-05-19 16:13] rvolosatovs commented on #4092
I really wish I could write down a step-by-step "how to do this right", but I honestly have no idea.
Consider consulting @htdvisser regarding this.

What I would try to do first, I guess, would be adding a conditional somewhere here https://github.com/TheThingsNetwork/lorawan-stack/blob/bc960f0a39e0b0934b96e6e0cb0ceb69572ab0f9/pkg/networkserver/mac/adr.go#L224-L240 before `safetyMargin` is added a

[2021-05-19 18:20] rvolosatovs commented on #3806
[Proposed implementation approach](https://github.com/TheThingsNetwork/lorawan-stack/pull/4193)

[2021-05-19 18:34] rvolosatovs commented on #4041
Brilliant, thanks!

[2021-05-20 09:06] #2130 closed

[2021-05-20 10:03] adriansmares commented on #3513
This is currently in progress in https://github.com/TheThingsNetwork/lorawan-stack/tree/feature/3515-rp2-api . The idea is to extend a bit the scope of the issue into fixing, at API level, the naming problems that arise from our `PHYVersion` naming scheme. Both the binary, and the JSON API, are meant to be unaffected by the changes, but I still need to iron out the details (as the changes are inva

[2021-05-20 11:02] rvolosatovs commented on #3513
Refs https://github.com/TheThingsNetwork/lorawan-stack/issues/3806 https://github.com/TheThingsNetwork/lorawan-stack/pull/4193

[2021-05-20 12:43] KrishnaIyer opened #4194 "Release v3.13.0"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-05-20 12:43] KrishnaIyer commented on #4194
Doc issue; https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/359

[2021-05-20 13:40] KrishnaIyer commented on #4066
Ok so I tried to reproduce this but I can't do this locally but I see it in deployed clusters.

Also the issue is only on the `Save Changes` .

I guess this has something to do with `dev` v/s `prod` environments? @kschiffer any ideas?

[2021-05-20 14:07] #4178 closed, assigned to bafonins

[2021-05-20 14:17] kschiffer opened #4195 "Replace `react-ace` editor with leaner code editor component"
#### Summary
We should replace `react-ace` or at least provide a secondary code editor component that is more lightweight and which we can use for simpler use cases that don't need the overhead of a full-fledged code editor.

#### Why do we need this?
1. `react-ace` is huge and one of the main contributors to the size of our webui bundles. See https://github.com/TheThingsNetwork/lorawan-stack/issu

[2021-05-20 14:17] #2436 closed

[2021-05-20 14:17] #3832 closed, assigned to kschiffer, rvolosatovs

[2021-05-20 14:54] rvolosatovs opened #4196 "Frequency plan data rate index mapping across different PHY versions"
#### Summary

Frequency plans use data rate indexes from arbitrary LoRaWAN version, which is always assumed to be the latest. Data rate indexes used by corresponding bands may map to different actual data rates depending on the version.

#### Why do we need this?

To use correct data rate indexes in NS regardless of PHY version - this is relevant for e.g. AU915

Consider respective band data rate

[2021-05-20 15:40] rvolosatovs commented on #4006
May be caused by: #4041 (one of the potential causes)

[2021-05-20 18:25] KrishnaIyer commented on #4194
@johanstokking: Please check the post release steps and close this if satisfactory.

[2021-05-20 23:13] matthijskooijman commented on #3874
Hm, I also ran into this. @johanstokking you closed this, which suggests you're saying this works as intended, but your comment partly suggests that you're planning to fix it. If this is indeed considered a bug, wouldn't it be better to keep this issue open?

Regarding omitting default values, I believe that that is indeed something specified by the protobuf protocol that I guess is used internall

[2021-05-21 04:46] moramos13 opened #4198 "Add "last X minutes" parameter to Storage Integration API"
#### Summary

On V2 Storage Integration API it was possible to add a "last X minutes" parameter on the API call.
...

#### Why do we need this?

This will be a good feature because currently the LNS sends all the stored uplinks to application, where are processed and the redundant data is erased. Also, to send all the messages stored on the Storage Integration to the application on every API call

[2021-05-21 06:57] KrishnaIyer commented on #1303
The basic changes are already covered in #4190 . This should already be working with v2 ref gateways. I'll keep this issue open until we can confirm with testing.

[2021-05-21 09:07] johanstokking commented on #4194
1. `ghcr.io/thethingsnetwork/lorawan-stack:latest` is still 3.12.3
2. The documentation site isn't updated; I guess that is pending the TTSE release?

[2021-05-21 09:16] descartes commented on #4198
Whilst I can calculate the 'after' date, many of my more simplistic original scripts pull the data on a regular basis and just use a bit of overlap - so this would be useful. It also facilitiates a "I just want to see the last couple of hours uplinks for debugging purposes" type utility.

If this gets scheduled for a much later release, in the meanwhile I'll probably end up with some sample code t

[2021-05-21 09:21] descartes commented on #4143
I too found this out the hard way - but I've not seen the fake data using the famous 42 format (kudos) missing. I'll look at my code in progress as I think there are some fields missing that you normally do get in a real uplink.

But regarding the situation of missing fields, it is totally reasonable for people to expect to program defensively - particularly as the protocol buffers can't cope with

[2021-05-21 13:32] jpmeijers commented on #4176
That's a concern. How do we (and LoRaCloud for that matter) know if a device moved or not? I guess we'll see it from the location accuracy in meters that should be a higher number.

Taking the average of multiple decibel values is tricky. So rather stay far away from that. I would rather opt for too much metadata that too little. The end service can then decide how to process it.

I'm not sure how

[2021-05-21 19:37] kschiffer commented on #4130
The official name is `The Things Stack`. Please avoid using `TTN v3` or any of its derivatives, as it only generates confusion.

If you want to refer to the deployment of `The Things Stack` that is running for The Things Network, you can refer to `The Things Stack Community Edition`. 

The namings of the other (commercial) offerings of TTS can be found here: https://www.thethingsindustries.com/dep

[2021-05-21 20:50] nejraselimovic commented on #4198
@johanstokking what do you think about this?

[2021-05-21 21:06] nejraselimovic commented on #4130
@kschiffer thanks for getting back to this. @descartes You can see what Kevin described [here](https://www.thethingsindustries.com/docs/download/) too (though this page contains a small lapsus, it should be "The Things Stack Community Edition" instead of "The Things Network" for the free, community deployment, but the fix is about to be merged). I will close the issue as our official branding is c

[2021-05-21 21:06] #4130 closed, assigned to nejraselimovic

[2021-05-25 01:25] moramos13 opened #4207 "Refresh frame counters button"
#### Summary

On V2 there was the possibility to refresh the frame counters of a given device and it was very useful when programming the end-device. Currently, I can't find this option on the application interface, so everytime a chance must be done on the end-device program, a new device should be created on the LNS.

#### Why do we need this?

For debbuging purposes.

#### What is already there

[2021-05-25 03:02] viethoa14 commented on #3921
dear @johanstokking
I try to update cflist by command on two server, but it is not ok:

ttn-lw-cli end-devices set app1  test-412  --pending-mac-state.pending-join-request.cf-list.freq 921800000
error:pkg/networkserver:field_value (invalid value of field `pending_mac_state.lorawan_version`)
    field=pending_mac_state.lorawan_version
    correlation_id=76efa11709874ccba8a51ce8816fb906

ttn-lw-cli

[2021-05-25 06:01] nejraselimovic commented on #3750
@pgalic96 I'm closing this as I see #4175 should've closed it. Please reopen and move to next milestone if this is not the case.

[2021-05-25 07:52] kschiffer commented on #2639
I was able to reintroduce the last seen information for applications by making use of the historical event data that we now provide. If any past heartbeat events have been recorded we can use the event time as the "last seen" information.
https://github.com/TheThingsNetwork/lorawan-stack/pull/4205

From what I can see then, the only thing left is total uplink/downlink count for applications but fr

[2021-05-25 08:59] KrishnaIyer commented on #4194
Ok this wasn't part of the list. Can you check my access for the registry?
[code]

The PR is open and is being worked on; https://github.com/TheThingsIndustries/lorawan-stack-docs/pull/360

[2021-05-25 09:28] adriansmares commented on #4092
cc @htdvisser @johanstokking for thoughts about this (as @htdvisser specified that he would rather avoid this in order to keep the negative feedback loop)

[2021-05-25 12:04] johanstokking commented on #4198
I can imagine that this is very useful indeed.

@neoaggelos please triage.

[2021-05-25 12:09] johanstokking commented on #3921
Can you clarify what you mean with this exactly?

The end devices joins again, or does it not join again? If it joins again, why does it save the NetID and NwkSKey?

---

Do you know why the end devices rejects the `NewChannelReq` commands?

[2021-05-25 13:26] viethoa14 commented on #3921
When device can not connect to NS, after some uplink or limit time we seen device maybe restart but it still save Dev addr, netid (i see on its log debug)
When device can connect to NS, it still works properly with NS, but only work with default frequency, and at SF12.
When device send first uplink after it connected to NS again, NS send to ADR requested (nb_trans>=2), device only ack with Tx inde

[2021-05-25 14:16] johanstokking commented on #4194
You're admin on the repo so I don't know why this wouldn't work. Are you logged in correctly?

[2021-05-25 14:39] KrishnaIyer commented on #4194
Yes I'm using a Personal Access Token with the `write:registry` access.
![Screenshot 2021-05-25 at 16 35 34](https://user-images.githubusercontent.com/13186113/119516680-3ef60300-bd77-11eb-939a-2434fbd39a91.png)

I can push to my personal repos with this token.

Could be this; https://github.community/t/cannot-push-image-to-ghcr-via-workflow-but-cli-works/141055/4.

I'll dig into this tomorrow.

[2021-05-25 14:42] johanstokking commented on #4092
In [Nicolas Sornin's original ADR algorithm proposal (2016)](https://www.thethingsnetwork.org/forum/uploads/default/original/2X/7/7480e044aa93a54a910dab8ef0adfb5f515d14a1.pdf) as well as [Semtech's article on ADR](https://lora-developers.semtech.com/library/tech-papers-and-guides/understanding-adr/), `LinkADRReq` only contains higher data rates and lower TX powers.

It is assumed that end devices

[2021-05-25 16:13] johanstokking commented on #3921
This seems to be normal behavior, driven by the ADR algorithm in the end device. It increases the TX power, decreases the data rate, and finally reverts to factory default channels.

If the device were joining, the MAC state would be reset and the DevAddr would change. So the device isn't joining.

Do you know why?

On other provider'NS that we are using, after device answer ADR request, NS send N

[2021-05-25 16:31] rvolosatovs commented on #3073
Some ideas I had/used for NS testing:

[code]

[code]

[2021-05-25 19:50] pgalic96 commented on #3750
@nejraselimovic that was a wrongly open PR, #4180 is the correct one, and there you can see Johan's comment:

https://github.com/TheThingsNetwork/lorawan-stack/pull/4180#issuecomment-844952662

[2021-05-26 01:15] viethoa14 commented on #3921
device reject channel mask maybe device only work on default frequency, but NS request "ff" for channel mask.
And NS continue to send ADR request again, device continue reject..again... (with other provider we seen, NS send only one "ADR request" in this situation, after then it send request update cf_list)
We are using AS923, and version 1.0.2 for devices.

[2021-05-26 08:44] johanstokking commented on #3921
@viethoa14 I need to know the frequency plan, not just the band. Also the regional parameters version. Please retrieve this information in the Console under Network Layer settings.

[2021-05-26 08:50] viethoa14 commented on #3921
Sorry for lack of information,
![Network_layer](https://user-images.githubusercontent.com/58810284/119631426-171ba380-be3a-11eb-9e12-2aa202cbfe52.JPG)

[2021-05-26 13:33] kschiffer commented on #3934
Dependabot has been set up as well, so closing this.

[2021-05-26 13:33] #3934 closed, assigned to kschiffer

[2021-05-26 15:57] johanstokking commented on #3921
Thanks.

Are you getting a `CFList` in the join-accept? If so, what does it look like?

The frequency plan you're using is https://github.com/TheThingsNetwork/lorawan-frequency-plans/blob/master/AS_920_923.yml. Are you sure this end device can use these frequencies?

The `ChMask` of `0x00FF` means that it enables all first eight channels. That is OK.

I don't know why the end device rejects that i

[2021-05-27 07:20] viethoa14 commented on #3921
I'sure, my device works with that frequency plan, we have tested (view log on both device and NS) for along time.
log boot on TTN console
![TTN_boot_console](https://user-images.githubusercontent.com/58810284/119777816-e64a7580-bef0-11eb-86f3-825afec13a74.PNG)

![TTN_boot_accepct_channel](https://user-images.githubusercontent.com/58810284/119777828-ea769300-bef0-11eb-8e0e-a3fabce653ad.PNG)

I can

[2021-05-27 08:23] johanstokking commented on #3921
Thanks.

What are the contents of CFList? The join-accept in `rxdata` is encrypted so can't see that here.

The problem here is the `ChMask` of `0x03FC`, those are channels `0b0000001111111100`, i.e. 8 channels above the 2 default join channels. That assumes that there are 10 channels in the end device, which is probably not the case. That may be the reason why the end device rejects the channel m

[2021-05-27 09:44] viethoa14 commented on #3921
dear
- CFlist contain: netid, rx2_dr, cflist (5 channels)... my mean my device boot successfully
- With chMask, my device reject ADR request enqueue both provider (Things Stack and That we is using for service). Please see section other provider, in downlink 1. my NS also reject, though ADR_REQ ChMask = ff. On Things Stack NS, because default frequency is not same with my device, so ChMask is 0x03

[2021-05-27 09:49] htdvisser opened #4212 "Add Content-Security-Policy header to HTML pages"
#### Summary

I think we should add a `Content-Security-Policy` header to the HTML pages of the Account app and the Console.

#### How do you propose to implement this?

- `default-src 'self' assets.cloud.thethings.industries [...];` (constructed from `AssetsBaseURL` and `BrandingBaseURL`)
- `connect-src 'self' eu1.cloud.thethings.industries [...] *.ingest.sentry.io;` (constructed from the API `Ba

[2021-05-27 11:48] johanstokking commented on #3921
Yeah so this is a bit weird, indeed I see 10 channels in de `desired_parameters.channels`.

How did you create the device exactly?

Can you reproduce this step by step with a (new) device, or by recreating this device?

[2021-05-27 15:48] viethoa14 commented on #3921
Dear
I think it is not issue. I am changing configuration to channel=8. I still think, problem is ADR request enqueue. I see both TTN and my provider system, they reject ADR request, after than my provider continue send cflist.
I will send log when i finish changing paramater

Thanks for your support

[2021-05-28 06:41] viethoa14 commented on #3921
we have recreated device, chmask=8, but that issue still exists. Please see log file.

- rx receive on device at boot time:

tmr-20002b20
====rx1 window=: rxdr=2
freqoffset=0,physical=921400000
snr=7, RssiValue=-88
rxdatalen=33,rxdata= 20 19 a8 22 4d c1 7f 83 cd 0d 82 36 92 c9 5b 71 3a d8 a9 06                                                                                         ba d4 66 fa d2 b

[2021-05-28 07:42] johanstokking commented on #3921
We need more details here. What do you mean with "changing configuration to channel=8"?

This is in fact the correct channel mask.

So, both The Things Stack and "the other provider" send the same `LinkADRReq`. The end device rejects that. Then TTS behaves differently on the rejection than your provider, right?

From what I understand, The Things Stack is trying to create the individual channels w

[2021-05-28 08:28] viethoa14 commented on #3921
I add more channel factory on web console

I Think so, My provider NS only one send ADR request enqueue, though it is reject but NS continue to send cflist request.

I do not see on log. NS send ADR request enqueue  and don't stop

Maybe now it work on default frequency, i will check again

I will check it later

I am doing it and send to you later

[2021-05-28 08:47] viethoa14 commented on #3921
picture for create NE

![device_1](https://user-images.githubusercontent.com/58810284/120137302-2dd94600-c1fe-11eb-8aae-291abc2f04d7.PNG)
![device_2](https://user-images.githubusercontent.com/58810284/120137304-2f0a7300-c1fe-11eb-8f0f-e9550da5cc1d.PNG)
![device_3](https://user-images.githubusercontent.com/58810284/120137305-2fa30980-c1fe-11eb-9cea-d19c7264514b.PNG)
![device_4](https://user-images.

[2021-05-28 10:10] nejraselimovic commented on #4207
@johanstokking resetting frame counters on The Things Stack is only available for ABP devices and not for OTAA, correct? Could you comment on this proposal?

[2021-05-28 11:34] willhelmx opened #4215 "Deletion of multiple end devices in Console"
_Summary:_
Possibility to delete several end devices in a row under 1 application in Console

_Why do we need this?_
For easy handling of multiple end devices under 1 application

What is already there? What do you see now?
Today we cannot delete an entire apllication without deleting the devices, the devices on the other hand, can only be deleted one by one..

#### What is missing? What do you wa

[2021-05-28 15:25] meten-natuurlijk opened #4218 "TTNv3 : Add gateway location to the metadata of uplink messages"
#### Summary
In TTNv2 an MQTT JSON uplink message contains the location of gateways in the metadata.
This metadata seems to be missing in the TTNv3 MQTT JSON metadata.

#### Why do we need this?
We receive financial donations from our local municipality to place gateways and create TTN coverage in our area.
We justify these investments by reporting the location, availability and coverage of gatewa

[2021-05-28 16:15] adriansmares commented on #4092
I'm more in favor of option two (don't decreate data rate via ADR). I think that the margin approach basically is self-defeating: when the margin is big enough to avoid oscillation, it probably will be too big to be useful (citation needed).

[2021-05-28 21:15] kersing opened #4219 "Console uplink data: show data rate in stead of bandwidth"
#### Summary
Please show the data rate in the live data summary of uplinks in the console. The data rate implies the bandwidth (because it is defined in the regional parameters) and additionally indicates the spreading factor.

#### Why do we need this?
Currently the only way to view the data rate and/or spreading factor is to open an uplink packet and search it in the huge amount of data shown. R

[2021-05-29 05:42] meten-natuurlijk commented on #3864
I fully understand the need/urge to label/sticker nodes based on their behaviour.
I also think it greatly would help if users could see in the TTN console if their nodes behave nicely within the mentioned boundaries. (airtime, etc)
I believe these node-labels could be categorized like "info", "notice", "warning" or "error" to help developers/user change the behaviour of their nodes.

[2021-05-29 05:45] meten-natuurlijk commented on #3864
I believe we should not auto-exclude nodes from the network.
My personal use-case:
I spend a lot of time mapping the coverage of gateways using TTN-Mapper with a node that has a push-button.
It would take a lot more time to map the coverage of a gateway if I could only send an uplink every 5 minutes.

[2021-05-29 17:26] tomascharad commented on #1121
This is happening to me, but for a gateway.

https://nam1.cloud.thethings.network/console/gateways/add

![image](https://user-images.githubusercontent.com/1534092/120079374-7ae3dd80-c081-11eb-988f-5260153deae4.png)

[2021-05-31 07:13] htdvisser commented on #3827
Closed by #4164.

[2021-05-31 07:13] #3827 closed, assigned to htdvisser

[2021-05-31 08:32] htdvisser commented on #1121
This is an expected error if a regular user removed a gateway and then a user tries to register a gateway with the same ID.

When deleting a gateway, the EUI is released, but the ID remains reserved. See also https://www.thethingsindustries.com/docs/reference/id-eui-constraints/#deleted-entities

Only when an admin user "purges" the gateway, the ID is released.

[2021-05-31 09:21] htdvisser commented on #4092
I still think that it's important to keep the negative feedback loop. I would much rather risk losing connection with a couple of devices because we don't send them to a lower data rate than risk sending too many devices to lower data rates, which could have serious consequences for the network overall.

We currently optimize using a target margin of 15dB above the demodulation floor. I think that

[2021-06-01 08:36] htdvisser commented on #4076
I don't have anything to add here.

ACK

ACK

I don't really have an opinion on this.

[2021-06-01 09:32] htdvisser opened #4225 "Unexpected Field Mask on Gateway Update"
#### Summary

I'm getting an unexpected field mask when updating my gateway in the Console.

#### Steps to Reproduce

1. Go to any gateway in the Console
2. Change the "Status Public" checkbox and Save
3. Observe the field mask in the update event

#### What do you see now?

[code]

#### What do you want to see instead?

This field mask should only contain `status_public`.

The double identifiers

[2021-06-01 10:44] matthijskooijman commented on #3874
I just realized that this applies more broadly, i.e. a packet with an SNR of 0 would also have the SNR field omitted, which makes it really ambiguous whether no SNR is known somehow, or the value is actually 0...

[2021-06-01 11:52] htdvisser commented on #4194
Fixed the push permissions, and pushed the latest tag.

[2021-06-01 11:52] #4194 closed, assigned to KrishnaIyer

[2021-06-01 12:45] kschiffer commented on #4207
Duplicate of #2434

[2021-06-01 12:45] #4207 closed, assigned to nobody

[2021-06-01 12:51] kschiffer commented on #3223
@benolayinka please consider adding this yourself if possible and please set an appropriate milestone in case. Otherwise reassign me.

[2021-06-01 12:54] kschiffer commented on #3410
@bafonins can you add this to the respective tooltip in #4157

[2021-06-01 12:56] kschiffer commented on #3410
Will be fixed by #4157. Closing this already.

[2021-06-01 12:56] #3410 closed, assigned to kschiffer

[2021-06-01 13:02] kschiffer commented on #3517
I think we can close this since the creation date is not shown anymore in the device list (via #3832) . Also we haven't been able to reproduce the issue.

[2021-06-01 13:02] #3517 closed, assigned to kschiffer, bafonins

[2021-06-01 13:03] ogimenez-smtc opened #4228 "Basics Station - Wrong uri returned by /router-info when using unencrypted traffic"
#### Summary
The Things Stacks returns an secured websocket address instead of unsecured when using an unencrypted traffic with Basics Station

#### Steps to Reproduce

1. Set `tc.uri` to an unsecured endpoint, ex: `ws://eu1.cloud.thethings.network:1887`
2. Do not set `tc.trust` file
3. Set correct API key in `tc.key`
3. Start Basics Station

#### What do you see now?

Basics Station log:
[code]

[2021-06-01 13:08] kschiffer commented on #3713
Related: #3817

[2021-06-01 13:16] KrishnaIyer commented on #4228
Technically we shouldn't allow the plaintext port. I'll check with ops to disable this.

[2021-06-01 13:19] #741 closed

[2021-06-01 13:22] kschiffer commented on #710
This has been added via #3832

[2021-06-01 13:22] #710 closed

[2021-06-01 13:25] kschiffer commented on #1216
Profile settings and User API Keys can now be managed in the Console or Account App. As such I think this can be closed. @htdvisser please reopen if you think otherwise.

[2021-06-01 13:27] ogimenez-smtc commented on #4228
Thanks, I am not sure to understand if you want to disable it for TTN/TTI hosted instances or in the code itself.

I think that it should be disabled in the code because this issue also applies to self hosted instances

[2021-06-01 13:30] KrishnaIyer commented on #4228
This is for hosted instances.

For self hosted, this can be disabled using the `gs.basic-station.use-traffic-tls-address` option.

[2021-06-01 13:43] ogimenez-smtc commented on #4228
Ok, I had to dig in the code to understand that you set this option in hosted instances making [this test](https://github.com/TheThingsNetwork/lorawan-stack/blob/c0e437afc7fccb9d506e05f73b4a2d2c3db54d13/pkg/gatewayserver/io/ws/ws.go#L120) `True`, so it forces wss scheme in the returned URI, thanks.

In such case I would expect the returned URI port to be `8887` instead of `1887` as we cannot estab

[2021-06-01 13:51] KrishnaIyer commented on #4228
When deployed behind a proxy, TTS cannot know what the port or if it's plain text or TLS. That's why this setting exists.

[2021-06-01 14:09] htdvisser commented on #1216
I think it's okay for now, but eventually we'll probably have to extend the functionality of user management that's available to admins. What's currently still missing is:

- Attributes (but that's also still missing from Organizations)
- Contact Info (but I think that's also still missing from all other entities)
- Generating/Setting a temporary password
- Setting the state description (for examp

[2021-06-01 14:18] ogimenez-smtc commented on #4228
ok, thank you

[2021-06-01 14:58] #3809 closed, assigned to benolayinka, asmulko

[2021-06-02 07:11] nejraselimovic commented on #3983
@kschiffer @asmulko what is the status here? Does this issue still exist?

[2021-06-02 07:26] nejraselimovic commented on #4219
@kersing this does seem useful! @kschiffer could we do this?

[2021-06-02 07:48] nejraselimovic commented on #4218
@johanstokking @KrishnaIyer @htdvisser We discussed this issue [before](https://discuss.thethingsindustries.com/t/can-we-learn-something-from-community/483/5). Any thoughts? Can we decide on the approach to solving this issue, so we can schedule it for implementation?

[2021-06-02 08:04] nejraselimovic commented on #4215
@htdvisser I see that IS refuses to delete an application if it still contains some registered devices, but this suggestion looks useful.  Is there any argument against doing this?

[2021-06-02 08:08] htdvisser commented on #4215
I like the idea of having checkboxes to select multiple devices that need to be deleted.

This could of course get a bit tricky in applications that have devices registered in different clusters, because each cluster Console is only supposed to manage devices in its own cluster (at least, until we have a global Console). So if we let users delete multiple devices using checkboxes, the Console shou

[2021-06-02 10:02] htdvisser commented on #4218
@neoaggelos wasn't this metadata already supposed to be there? As far as I remember, if gateways have their location set to public, the locations should also be included in uplinks, right?

[2021-06-02 11:37] #4118 closed, assigned to htdvisser

[2021-06-02 13:05] htdvisser commented on #4176
Pushing this to v3.13.2. I don't think @johanstokking is going to be working on this on his day off, so this definitely won't make it to today's deadline for v3.13.1.

[2021-06-02 13:06] htdvisser commented on #3585
Pushing this to v3.13.2. I don't think @bafonins is going to be working on this on his day off, so this definitely won't make it to today's deadline for v3.13.1.

[2021-06-02 13:43] #3994 closed, assigned to htdvisser

[2021-06-03 07:08] KrishnaIyer commented on #1303
No response for our request to test yet. Moving this to the next milestone.

[2021-06-03 11:12] cz-lucas opened #4232 "id.thethingsnetwork.org returns always 500 Internal server error"
#### Summary
I can't login to ttn, because id.thethingsnetwork.org always returns 500 Internal server error.

#### Steps to Reproduce

1. Go to [console.thethingsnetwork.org](https://console.thethingsnetwork.org)
2. Select eu1
3. Click in "Login with The Things ID"

#### What do you see now?
`{
  "statusCode": 500,
  "message": "Internal server error"
}`

#### What do you want to see instead?
The

[2021-06-03 11:17] #4232 closed, assigned to nobody

[2021-06-03 11:18] cz-lucas commented on #4232
I found the problem. The clock from my computer had the false time. Sorry for that issue.

[2021-06-03 11:51] bafonins commented on #4066
@KrishnaIyer
This does not seem to be Console related:

[code]

Can this be related to `grpc-gateway` or stack configuration?

[2021-06-03 11:58] KrishnaIyer commented on #4066
Ahhh of course.  I get it now. The value returned is the encrypted value and is hence garbage.

[2021-06-03 12:16] KrishnaIyer commented on #4066
This is related to https://github.com/TheThingsIndustries/lorawan-stack-support/issues/405.

@bafonins and I discussed offline and decided that it's better to find a proper fix for both issues instead of a patch. I'll sync with @kschiffer for the UX and update the issue.

[2021-06-03 14:07] neoaggelos commented on #4218
This metadata is indeed included already. The important note is that the **Publish Location** box must be ticked in the **Location** settings pane. Make sure to restart the gateway for the changes to take effect.

![image](https://user-images.githubusercontent.com/1888650/120658352-07313e80-c48e-11eb-851a-fa3088c3c8fd.png)

The linked PR (https://github.com/TheThingsIndustries/lorawan-stack-docs/p

[2021-06-03 14:54] matthijskooijman commented on #4218
Indeed, seems this data was added since I checked when converting some of my scripts to v3 a few weeks ago. I can confirm I'm seeing gateway locations as expected in the MQTT stream now, thanks!

[2021-06-04 06:53] htdvisser opened #4234 "Release V3.13.1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-06-04 09:47] #4218 closed, assigned to neoaggelos

[2021-06-04 15:40] kschiffer commented on #3480
I was able to bring the end-to-end tests execution time down to between <5mins (best case) and <10mins (worst case) by activating parallelization (to 4 machines) and by adding more caching to the workflow runs. An example run can be seen in my fork here:
https://github.com/kschiffer/lorawan-stack/actions/runs/906365351

In order to use parallelization in cypress, we need a [paid account](https://w

[2021-06-07 10:46] jpmeijers commented on #2708
With V2 becoming read-only very soon, I am forced to use V3 for my Lacuna test devices. But V3 does not allow for receiving out-of order frames yet, which results in all my satellite traffic from being dropped.

Can we perhaps prioritise this, or maybe have a workaround like V2's "disable frame counter checks"?

[2021-06-07 11:56] jpmeijers commented on #2708
Using Lacuna it's about 12 hours on average.

![Screenshot from 2021-06-07 13-55-14](https://user-images.githubusercontent.com/948278/121012458-05ba8b80-c798-11eb-94b9-8fd6428cf310.png)

[2021-06-07 13:19] kschiffer commented on #3750
@pgalic96 So are you planning to pick up the Console part of this?

[2021-06-07 14:33] pgalic96 commented on #3750
@kschiffer We should probably discuss first how this would look like in the console. We already discussed it a bit, so there are a few ways we can implement this functionality:

1. Add a button `Request DevEUI address` that would populate the DevEUI field. This doesn't guarantee this DevEUI will be used once it is requested but currently this behavior is possible via CLI. This would also allow use

[2021-06-07 15:58] johanstokking opened #4242 "Send OAuth client approval mail to admins"
#### Summary

Send notification to administrators when a new OAuth client is created that needs approval.

#### Why do we need this?

To expedite the process for OAuth client developers to get a verdict on their OAuth client request.

#### What is already there? What do you see now?

CLI to create a new OAuth client. The state management is working as well.

For user registrations, there are notif

[2021-06-07 19:31] nejraselimovic commented on #4112
@neoaggelos please reassign to someone else if you cannot pick this one up

[2021-06-07 19:48] nejraselimovic commented on #3658
@htdvisser I guess this is still relevant, but needs input from others too. Can you pick it up?

[2021-06-07 19:55] nejraselimovic commented on #3618
@htdvisser we're no longer waiting for Go 1.16.x, so I guess this can be implemented now?

[2021-06-07 20:56] nejraselimovic commented on #3592
@adriansmares you can take this one, right? I see Redis 6.2.0 is released, so I guess this is no longer blocked. I'll schedule it for Q3 as I think it's not too important (apparently we have some "hacks" that do the work), but let me know if you have any thoughts about this.

[2021-06-07 21:05] nejraselimovic commented on #3579
@KrishnaIyer you can pick this one up, right? This would be beneficial for the release process that we're trying to improve, so I'll schedule this for Q3.

[2021-06-07 21:14] nejraselimovic commented on #3360
@adriansmares #76 is merged, so I guess this is not blocked anymore. Can you tell me how is this issue different from #3642? Is it because this one is not for confirmed downlinks only?

[2021-06-07 21:32] nejraselimovic commented on #2974
@htdvisser this seems useful for monitoring. Can you be the one to do this? I don't see it as a priority, but seems like it would be nice to have, so I'll schedule for Q3.

[2021-06-07 21:49] nejraselimovic commented on #2600
@johanstokking is this issue still relevant? If yes, who can pick this up?

[2021-06-07 21:54] nejraselimovic commented on #2475
@htdvisser should this be a part of #3142 ?

[2021-06-07 22:15] nejraselimovic commented on #1503
@adriansmares this seems like it references #3642 and #3360, also #44. I'm not sure that some of these aren't referring to the same thing. If that's truly the case, let's drop what's redundant.

[2021-06-07 22:26] nejraselimovic commented on #1432
@johanstokking can you pick this up? Is it important enough to schedule it for a timely milestone?

[2021-06-07 22:39] nejraselimovic commented on #918
@htdvisser #960 looks the same to me, so can we close this issue? If that's not the case, can you explain what's the difference here?

[2021-06-07 22:48] nejraselimovic commented on #342
@htdvisser is this important enough to leave it scheduled for Q2?

[2021-06-07 22:50] nejraselimovic commented on #181
@johanstokking should we close this or not?

[2021-06-07 23:01] nejraselimovic commented on #22
@htdvisser can you please explain in simple words what is left to do here and why it is (not) important to schedule for a timely implementation?

[2021-06-08 06:38] nejraselimovic commented on #4234
@htdvisser the documentation site is updated now

[2021-06-08 06:46] nejraselimovic commented on #2892
@bafonins V2 had this feature, right? For which kind of users is this needed?

[2021-06-08 06:56] htdvisser commented on #4234
Thanks!

[2021-06-08 06:56] #4234 closed, assigned to htdvisser

[2021-06-08 07:05] htdvisser commented on #22
I don't think we really need this. I don't remember spending a lot of time pointing out guideline "violations" in reviews recently. Definitely not enough to justify the time we'd spend on implementing linters.

So I think we can just close this. If anyone disagrees, feel free to re-open.

[2021-06-08 07:05] #22 closed

[2021-06-08 07:08] htdvisser commented on #342
We're slowly starting the big refactoring of `pkg/ttnpb`. The end goal is to migrate away from `gogo/protobuf` completely, and removing the message populators (that are generated by `gogo/protobuf`) is one part of that.

I don't really enjoy doing these kind of chores, so I'd rather just get it over with than keep pushing it forward.

[2021-06-08 07:10] htdvisser commented on #918
Yeah, that's pretty much the umbrella issue for this one. I don't think this one adds a lot of value over #960, so we can close this one and track progress there.

[2021-06-08 07:10] #918 closed

[2021-06-08 07:11] htdvisser commented on #2475
Maybe @adriansmares can better answer that

[2021-06-08 07:14] htdvisser commented on #3579
Or maybe @kschiffer can pull this into the work he's already doing on our CI workflows?

[2021-06-08 08:14] viethoa14 commented on #3921
I try sending mac command to device for update channel list (ex: 03531F0001070540bf8c50070610c78c500707e0ce8c50), i try finding from ttn-lw-cli, but i don't see any command suitably, on web console only use for application specific (fport = 1 to 223). Can you show me, how do i update manually cflist?

[2021-06-08 08:17] KrishnaIyer commented on #4228
So I did some checking and this is actually intended. Since we enforce auth check for the `/traffic` endpoint, this should return a WSS link. So this works as intended imo.

[2021-06-08 08:17] #4228 closed, assigned to KrishnaIyer

[2021-06-08 08:26] KrishnaIyer commented on #17
This is tracked here so closing this; https://github.com/TheThingsIndustries/lorawan-stack/issues/1973

[2021-06-08 08:26] #17 closed

[2021-06-08 09:04] ogimenez-smtc commented on #4228
Ok thanks

[2021-06-08 09:28] htdvisser commented on #31
I think this is already there (in `pkg/ttnpb/ttnpb_encoding_test.go`).

[2021-06-08 09:28] #31 closed

[2021-06-08 09:29] #1310 closed

[2021-06-08 09:33] #1656 closed

[2021-06-08 09:39] #2761 closed

[2021-06-08 09:44] #3305 closed, assigned to nobody

[2021-06-08 09:46] #3570 closed, assigned to nobody

[2021-06-08 10:02] nejraselimovic opened #4243 "Build stand-alone Python SDK for TTSE APIs"
#### Summary
A stand-alone Python SDK for TTSE APIs, to integrate with existing Python application

#### Why do we need this?
Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs

#### What is already there? What do you see now?
Only JavaScript SDK is present as of now

#### What is missing? What do you want to see?
Python SDK along with SDK

[2021-06-08 10:04] nejraselimovic opened #4244 "Build stand-alone Node SDK for TTSE APIs"
#### Summary
A stand-alone Node SDK for TTSE APIs, to integrate with existing Node application

#### Why do we need this?
Having SDK in a programming language helps the developer to integrate quickly than integrating the REST APIs

#### What is already there? What do you see now?
Only JavaScript SDK is present as of now

#### What is missing? What do you want to see?
Node SDK along with SDK integr

[2021-06-08 11:29] htdvisser commented on #3658
Requested input from @michalborkowski96 @i3mSuperMan @ymgupta.

[2021-06-08 12:42] KrishnaIyer commented on #4066
I had a discussion with @kschiffer and the easiest thing to be done here is to return the plaintext value of the LBS LNS Secret on the result of the `UpdateGateway` request. I can do this on the backend.

[2021-06-08 14:34] michalborkowski96 commented on #3658
I'll copy-paste what I wrote on Slack:

When something breaks, there are typically two scenarios:
1. Component completely dead
2. Component mostly working, broken for a small number of users

When case 1 happens usually in the logs you see a few messages repeated endlessly. In this case the more messages the merrier, because it gives you more information about the actual problem. From my perspecti

[2021-06-09 15:41] PeterH61 opened #4248 "Proposed Url (link) to Storage Integration for Devices is incorrect (Console)"
**Summary**
The displayed url (link) for the access to the Storage Integration data concerning devices is incorrect on the console.

**Why do we need this**
Avoiding wrong access scripts, unnecessary user requests and forum entries.

**What is already there? What do you see now?**
„api/v3/as“ is generated twice, see marked area in the Storage Integration Console screenshot:

![Storage Integration]

[2021-06-09 17:37] neoaggelos commented on #3749
API has been implemented in https://github.com/TheThingsNetwork/lorawan-stack/pull/3772, removing my assignment and the `needs/api` tag.

[2021-06-09 17:45] neoaggelos commented on #1981
This issue was created when the GS tests were slow and contained lots of flakes. The situation is already much better and we haven't had problems in a long time.

Closing this, we can return to it if ever GS tests become slow/flaky again.

[2021-06-09 17:45] #1981 closed

[2021-06-09 18:59] johanstokking commented on #4092
I think we should lower the data rate. RF conditions may vary significantly; it may drastically improve when peering gets enabled, for example. It is also implemented by other LNS so users and customers have some expectations here.

Indeed, I agree it should be configurable with sane defaults. Pushing this to 3.14.0.

[2021-06-09 19:17] johanstokking commented on #4076
OK thanks. Let's schedule this for 3.14.0 then.

@neoaggelos can you come up with a simple solution?

[2021-06-09 19:28] johanstokking commented on #3480
The paid account has now been setup.

[2021-06-09 19:30] johanstokking commented on #2708
Lacuna Space should use Packet Broker.

[2021-06-10 06:31] johanstokking commented on #181
Let's leave open for future reference.

[2021-06-10 06:36] johanstokking commented on #3921
@viethoa14 thanks for providing the information. The key here is that you enter the factory preset frequencies manually. You should not do that. These frequencies are implied by the AS923 band, and additional frequencies come through the frequency plan: https://github.com/TheThingsNetwork/lorawan-frequency-plans/blob/f77e7cc095ca01d173bdae0b2f5d2277e69c7d53/AS_920_923.yml

I see you also contribut

[2021-06-10 06:38] tftelkamp commented on #2708
We are working right now to switch the productions servers to Packet Broker. Is traffic out-of-order traffic then accepted, or is there anything we or the device needs to set?

[2021-06-10 06:41] johanstokking commented on #2600
This is still relevant when we see increased use of LoRaWAN 1.1 indeed.

[2021-06-10 07:52] jpmeijers commented on #2708
@johanstokking I am also unsure how "use Packet Broker" will solve "packets out of order being discarded". Does the Packet Broker do something special that will allow this?

[2021-06-10 08:27] #4248 closed, assigned to neoaggelos

[2021-06-10 08:27] viethoa14 commented on #3921
Thanks for your support, we have tested TTN system about four month, and now we have some problems, so we can not move it to production. TTN has many advantages, we hope that problems will been fixed soon.

[2021-06-10 08:29] neoaggelos commented on #4248
Thank you for filing this issue, the fix is merged and will be part of the 3.13.2 release.

[2021-06-10 08:37] johanstokking opened #4252 "Optionally remove hops from Packet Broker metadata"
#### Summary

Remove hops from Packet Broker metadata based on PBA configuration.

#### Why do we need this?

To reduce (uplink) message size.

#### What is already there? What do you see now?

All Packet Broker metadata is included in the uplink message. This includes hops which aren't really useful when not debugging routes and analyzing performance.

#### What is missing? What do you want to se

[2021-06-10 12:28] johanstokking commented on #2708
The first problem is that when using an UDP bridge, our rate limiters kick in before the Gateway Server even decodes the frame. These rate limiters are based on origin (IP + remote port) and (later in the pipeline) the source gateway ID within the tenant. That won't happen with Packet Broker, at least not so soon.

The other issue, that the Network Server accepts lower FCnt as valid uplink, but do

[2021-06-10 12:30] johanstokking commented on #3921
OK. So let's track this through https://github.com/TheThingsNetwork/lorawan-frequency-plans/pull/30 and #3150.

[2021-06-10 12:30] #3921 closed, assigned to johanstokking

[2021-06-10 13:17] jpmeijers commented on #2708
yes...

Is there any workaround available that I can use to make it work now? Or do I have to stick to V2?

[2021-06-10 14:37] #1353 closed

[2021-06-10 15:15] johanstokking commented on #2708
V2 rejects lower FCnt as much as V3 does. Or do I misunderstand the issue here?

[2021-06-11 07:17] jpmeijers commented on #2708
V2 has a "Disable Frame Counter Checks" settings that we used to make it work. V3 does not have this feature. I tried the "Frame Counter Resets" option, but this doesn't work the same.

[2021-06-11 15:25] i3mSuperMan commented on #3658
Hi @htdvisser,

Currently, we have `INFO` and `DEBUG` level logs. For example: during a join, in `INFO` level logs, we see `HandleJoin` logs and in `DEBUG` level logs, we see additional info such as `Join-request accepted by cluster-local Join Server` and Database Operations (which doesn't seem to be helpful when we have thousands of logs).

Few suggestions:
1. Introduce additional log levels such

[2021-06-12 21:16] mattrude opened #4265 "CUPS provides a 500 error when acme certs are used"
#### Summary
When using the `acme` TLS module, the CUPS service is giving a 500 error:

[code]

With the configuration as:
[code]

But if you change `tls.source` to `file` CUPS seems to work fine, ie:

[code]

also see: [this forum post](https://www.thethingsnetwork.org/forum/t/48717)

#### Steps to Reproduce

Enable the acme module and try to connect with a CUPS gateway, then switch to the file m

[2021-06-14 11:44] johanstokking opened #4267 "LoRa Cloud user experience and minor functional issues"
#### Summary

LoRa Cloud user experience and minor functional issues

Documentation improvements are already tracked in https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/266

#### Steps to Reproduce

This spans LoRa Cloud Device and Application Services (DAS) and Geolocation integration. Setup is standard, see for instance https://www.thethingsindustries.com/docs/integrations/cloud-

[2021-06-14 14:25] johanstokking commented on #2708
Yes, `mac-settings.resets-f-cnt` works the same way in V3. Or at least, it should. If it doesn't, there's probably a different issue.

[2021-06-14 14:32] tftelkamp commented on #2708
"Frame Counter Resets" might be the same in V2 and V3, but it is something different from the "Disable Frame Counter Checks" in V2, and that is what we need. Preferably something better/more secure.

[2021-06-14 16:51] jpmeijers opened #4268 "Selecting text from Live Data Event Details unclear highlighting"
#### Summary

When highlighting text to select and copy from the event details tab under the live data feed, it is unclear which characters are selected.

Example:
![image](https://user-images.githubusercontent.com/948278/121928721-be587000-cd40-11eb-886a-55c540d47b91.png)

The above selected highlighting starts in the middle of the first `"` and ends in the middle of the last `"`. It is unclear i

[2021-06-15 05:55] i3mSuperMan opened #4269 "Show GPS location details of a LBS gateway in uplink metadata."
#### Summary
Unable to see the GPS location details of a LoRa Basics Station Gateways in the `rx_metadata` of the uplink message (`gs.up.receive`)
#### Why do we need this?
To track the location of the gateways.
#### What is already there? What do you see now?
The GPS Gateways that are configured in UDP packet forwarder shows GPS location details in the `rx_metadata` of the uplink messages (i.e.,

[2021-06-15 06:13] KrishnaIyer commented on #4269
This is blocked until the LBS spec supports this.

[2021-06-15 09:10] neoaggelos opened #4270 "Handle rate limiting errors in JSSDK (Console) and CLI"
#### Summary

When receiving an error of type `ResourceExhausted` from a gRPC call, the CLI fails with an error message.

#### Steps to Reproduce

1. Configure TTS Rate limiting
2. Repeat an action and exceed the configured rate limit.

#### What do you see now?

The CLI fails with an error message. TTS returns `x-rate-limit-*` headers

#### What do you want to see instead?

The CLI should be able

[2021-06-15 09:29] kschiffer commented on #4268
Related to #4195

I can confirm this issue and it seems to happen only for some lines in the Code Editor. We will hopefully fix this by replacing the component which has a number of other issues as well.

[2021-06-15 09:39] neoaggelos commented on #56
When Network Server forwards the ApplicationDownlinkSent message back to AS, the AS will have to decode the payload, for which the session key ID is required.

The NS does not include the session key ID in the scheduled downlink attempt. I have some work in https://github.com/TheThingsNetwork/lorawan-stack/blob/feature/ns-send-application-downlink-sent/pkg/networkserver/grpc_gsns.go#L1295-L1298 wh

[2021-06-15 09:55] V999TEC opened #4271 "Increasing the resolution of the time display in the event view"
#### Summary
This is a very minor issue but I noticed the timestamps are up to a second out due to truncation.
By using rounding it need only be out by up 0.5 sec.
...

#### Steps to Reproduce

1. Select  any gateway/name/Live Data to show a list of Time/Type/Data preview
2. The Time shown is typically local time HH:MM:SS
3. Now select any event detail such as "gs.status.receive" and look at the p

[2021-06-15 09:58] johanstokking commented on #4270
You probably also want to round up the `x-rate-limit-retry` value while you're at it. A value of `0.8` gets truncated to `0` which results in another 429.

[2021-06-15 11:30] kschiffer commented on #3750
Your first solution is the way to go as far as I'm concerned, for the reasons that you mention. There should be a button next to the field saying `Generate`. I know that that caption is not 100% specific, but I think it's best to avoid different terminology to not confuse users with the exact technicalities. The tooltip of the field needs to be updated then to give some information about the `Gene

[2021-06-16 08:24] johanstokking commented on #56
The approach of loading the latest session key ID isn't good enough I'm afraid.

It will break because the AS will use a different AppSKey to decrypt the message. There's no protection against that.

---

I think there are two options:

1. Add `session_key_id` to `DownlinkMessage` (as it belongs to `raw_payload`) or `TxRequest` (as that is the NS relevant representation of the downlink message). T

[2021-06-16 08:33] i3mSuperMan opened #4275 "Incorrect redirect URL for user profile settings in TTSC"
#### Summary
For TTS Cloud hosted deployments, if we click on `Profile settings` in the user dropdown, we will be redirected to a Cluster picker page. And, after entering the required details, we are seeing an error page with `The page you requested cannot be found` error message.

#### Steps to Reproduce
1. Under the User dropdown menu, select `Profile settings`
2. In the cluster picker page, ent

[2021-06-16 08:45] kschiffer commented on #4275
This will be fixed via: TheThingsIndustries/lorawan-stack#2778 likely in the next release.

Closing this as such.

[2021-06-16 08:45] #4275 closed, assigned to nobody

[2021-06-16 09:04] johanstokking commented on #3750
I also think that option 1 is the best solution. I do have two additions:

1. Make it really clear that when the user clicks **Generate**, it counts towards their maximum of DevEUIs per application. Should the user confirm? Or can we make this clear in the UI?
2. Once a DevEUI has been generated, disable the possibility to generate another one in the same screen. This avoids users clicking the but

[2021-06-16 09:10] kschiffer commented on #3750
Is it possible to retrieve or calculate the amount of DevEUIs left? Otherwise we can display an orange warning icon next to the button that triggers a tooltip explaining this.

Yeah, we can just gray out the button once it was clicked.

[2021-06-16 09:30] pgalic96 commented on #3750
Yes, this information is part of the application db model (`application.dev_eui_counter`).

[2021-06-16 10:30] kschiffer commented on #3750
Okay then let's just display `(1/100 available DevEUIs used)` next to the button.

[2021-06-16 11:04] #4225 closed, assigned to bafonins

[2021-06-16 12:58] neoaggelos opened #4277 "Application Server unit test failure"
#### Summary

Segmentation fault in Application Server unit tests https://github.com/TheThingsNetwork/lorawan-stack/runs/2828044779#step:15:41

#### Steps to Reproduce

1. Be unlucky

#### What do you see now?

[code]

#### What do you want to see instead?

No segfaults.

#### Environment

3.13.1 dev

#### How do you propose to implement this?

Check if this is a flaky test or if this is actually

[2021-06-16 13:25] nejraselimovic commented on #4271
@kschiffer can you please explain why do we have such behavior (rather than the one proposed)?

[2021-06-16 13:34] nejraselimovic commented on #4277
@neoaggelos please assign someone who can pick this up and add appropriate labels

[2021-06-16 13:46] V999TEC commented on #4271
By using truncation of the precise timestamp it could be up to a second in error.
If you round the decimal places of the seconds down if <0.5 and up if >= 0.5 then the error is reduced by half.

But this is only a personal preference: the current behaviour is not wrong it's just more common to see rounding done in this sort of scenario.

Say I have a couple of messages, one at 42.1 seconds and ano

[2021-06-16 14:02] neoaggelos commented on #56
I believe extending the `DownlinkMessage` is probably the cleanest thing to do (since the session key ID is part of `ApplicationDownlink` and `ApplicationUplink` already).

To me, it feels like correlation IDs are best used to help with tracing events and logs, and not carry "state" across components.

[2021-06-16 15:07] laurensslats opened #4278 "Available payload formatter size is too small"
#### Summary
Available Payload formatter size is too small for some commonly used devices.

#### Why do we need this?
The default payload formatter's size of Elsys devices is too big for The Things Stack. Same for KLAX, Milesight and NKE devices.

The size of Elsys' payload decoder is ±1000 bytes, The Things Stack allows up to 4 kbytes.
Reference: https://www.elsys.se/en/elsys-payload/

This was n

[2021-06-17 09:34] Jaime-Trinidad commented on #4278
We have different payload decoders that the console don't support because the size is over 4kb, in this cases we have Comtac, nke-watteco, IMST, digital-matter (5kb file size), Elsys. Also the console throws some errors in switch-case with variables.

IMST has two 50kb size file,  and nke-watteco all their files are between 20-30 kb. Other cases are less than 16kb.

Comtac 12kb file
![Comtac](http

[2021-06-17 09:37] Jaime-Trinidad commented on #4278
we should consider size for devices that are not yet on device repository, for the moment all these including elsys are now on DR so payload formatter is already there.

[2021-06-17 10:45] KrishnaIyer opened #4279 "Release v3.13.2"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-06-17 11:17] kschiffer commented on #4271
I guess we could also round the time values (even though I would find it a bit weird and don't think it is quite common) but I think a better solution is increasing the resolution of the time display in the event view to milliseconds. I can look into that as part of #3817.

[2021-06-17 21:04] nejraselimovic opened #4284 "LoRa Cloud DAS integration info getting blanked out after Geolocation section gets expanded"
#### Summary
LoRa Cloud integration info gets blanked out when clicking Expand

#### Steps to Reproduce
1. Navigate to the LoRa Cloud integration and click Expand for Device and Application Services
2. Set Device and Application Services integration info (token) and hit Save
3. Now click Expand for Geolocation integration
4. Result -> info under Device and Application Services blanked out

#### Wh

[2021-06-18 07:59] KrishnaIyer commented on #4279
@johanstokking: Please check and close this issue.

[2021-06-18 11:58] rish-c opened #4285 "Add note/tooltip in the console when adding payload formatters"
#### Summary
With the new size limit for payload formatters, users are not able to create new applications using existing formatters. They should be prompted to use the Device Repository instead.

#### Why do we need this ?
It is not clear what to do when they exceed the limit

#### What is missing? What do you want to see?
A small note or a tool-tip when adding payload formatters to use the DR.

[2021-06-18 14:01] johanstokking commented on #4278
Here's a histogram of the number of scripts per kilobyte:

<img width="647" alt="Screenshot 2021-06-17 at 16 03 45" src="https://user-images.githubusercontent.com/13334001/122571513-18ad4580-d04d-11eb-906e-5528bc7d359b.png">

Reasons why scripts are too large:

1. A vendor maintains one script for all their devices. As they keep adding devices with new sensors, data types, status codes, commands e

[2021-06-19 14:12] #4279 closed, assigned to KrishnaIyer

[2021-06-20 08:51] nejraselimovic commented on #4284
This issue is already mentioned in #4267

[2021-06-21 10:06] #3480 closed, assigned to kschiffer

[2021-06-21 10:18] descartes commented on #4278
Regardless of providing some more space and deduplication, some effort should be expected by the vendors to tame their formatters - huge monolithic blocks of JS does nothing to help the end user with optimisation & alterations.

As an interim measure, perhaps increasing the limit on the console so that perhaps a code library could be included. In the meanwhile, I'm in the process of filing a round

[2021-06-21 10:21] descartes commented on #4285
Some forum users have suggested that having a simple UI to access the repository data would be useful to help them adjust their migrated devices and have access to the payload formatter as copying it over from v2 isn't feasible (apparently).

I've rescripted some of my CLI migration helpers to pick up the device repository links, so one possiblility is an migration tool command line option to inje

[2021-06-21 10:33] descartes opened #4288 "Payload Formatter JavaScript rounding"
#### Summary
The update to 3.13.2 has introduced some rounding issues in the payload formatter processing

#### Steps to Reproduce

Payload: 00270611321932135a18830e1918a80ff31925

var b = input.bytes; var d = {};
d.Flags = b[0];
d.MCUTemp = ((b[1] << 8) + b[2]) / 100;
var l = (b.length - 3) / 4;
for (var c = 0; c < l; c++) {
	d["Moisture" + (c+1)] = (((b[c*4+3] << 8) + b[c*4+4]) / 100) - 10;
	d["

[2021-06-21 10:58] descartes opened #4289 "Console & CLI flush pending confirmed downlink from MAC state"
#### Summary
If firmware has a remote "reboot" command and the operator sends this as a confirmed downlink, both the device & stack end up in a perpetual loop as the downlink doesn't get ack'd so the stack resends the downlink, repeat ...

#### Why do we need this?
So when an operator fails to follow instructions, we can get them out of the mess

#### What is already there? What do you see now?
I

[2021-06-21 11:22] johanstokking opened #4290 "Change some default values in the Console"
#### Summary

Change some default values in the Console

#### Why do we need this?

To make sure that we have saner defaults when people don't change the values.

#### What is already there? What do you see now?

1. RX1 delay defaults to 1 second when not entered. This happens at least when creating ABP devices
2. Gateway status is not public by default. There is no explanation what this means
3.

[2021-06-21 14:11] neoaggelos commented on #4076
Network Server configuration already contains a `NetID` field: https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.13/pkg/networkserver/config.go#L121

I suppose we could extend this config with a `ClusterID string`, which would identify the TTS instance. The Network Server then adds the NetID and ClusterID as metadata on uplink messages that are forwarded to the Application Server. For mult

[2021-06-21 19:45] neoaggelos commented on #4289
Hi @descartes,

Can you check if the following command does the trick:

[code]

[2021-06-21 19:48] neoaggelos commented on #4243
Possibly duplicate of #3057 ?

[2021-06-21 20:01] neoaggelos commented on #4016
My suggestion for this would be to add two new commands (instead of trying hackish overloads of the existing `use` command):

[code]

We can have helpful warning/error messages if people enter something wrong (e.g. have a warning when an unknown cluster name is given, or a tenant id is invalid).

We can then update the documentation with 3 separate tabs: one for TTSCE (showing `use-community`), on

[2021-06-22 05:32] justinbyerss opened #4294 "Error while starting the things stack "Cannot connect to idenity server""
#### Summary

Error connecting to identity server database

I previously had the TTS up and running, I reinstalled my OS on my PC and have used the same method I used before with no luck.

[ttn-lw-stack-docker.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/6691269/ttn-lw-stack-docker.txt)
![tts error](https://user-images.githubusercontent.com/83960583/122868940-e4989400-d36e-11eb-997

[2021-06-22 06:25] nejraselimovic commented on #4243
Yes, thanks @neoaggelos!

[2021-06-22 06:25] #4243 closed, assigned to nobody

[2021-06-22 09:00] johanstokking commented on #4076
Sounds good.

Yes indeed. And this is a good point. We need to make sure that the cluster ID that NS uses is the same as what PBA uses to authenticate. Please take this into account when adding the configuration in https://github.com/TheThingsIndustries/lorawan-stack-aws (maybe one parameter?)

Yes empty.

[2021-06-22 09:27] htdvisser commented on #4219
I think what's most useful for users is to combine the `bandwidth` and `spreading_factor` to a single string such as `SF7BW125`.

[2021-06-22 09:41] johanstokking commented on #4288
Yes, that might be. And you don't want to hear this, but we have no control over how this interpreter is handling floating point. Not to mention that rounding is a known problem with floating point. Let alone in JavaScript.

You might want to subtract the offset before dividing by 100, so `((...) - 5000) / 100`.

What is `c4`?

[code]

[2021-06-22 09:41] adriansmares commented on #4278
The original reason for which we actually limited the formatted size was not about storage problems on our side, but rather SLA:
parsing huge scripts slows down the uplink pipeline and leads to formatters not being run - users do not understand this, and to be honest they shouldn't - this is mostly an implementation detail.

In my opinion, we should do the following:
- Increase API limit to 40 KB

[2021-06-22 09:45] johanstokking commented on #4278
Let's do this for 3.13.3.

I'd prefer caching the ASTs (by hash) as part of https://github.com/TheThingsIndustries/lorawan-stack/issues/2264.

[2021-06-22 09:55] neoaggelos commented on #4294
Hi @justinbyerss

This looks like an issue with the database container. Can you see if the database is running?

What's the output of the following commands?

[code]

It might help if you also run

[code]

before running any other commands, so that Redis and CockroachDB have time to properly start and become ready to accept connections.

[2021-06-22 11:59] justinbyerss commented on #4294
Thanks for your assistance.  I did a clean install on my PC in hope to resolve the issue.  I have managed to get past that issue but now I cannot get past this.

I have followed the online procedure step by step.
![Capture](https://user-images.githubusercontent.com/83960583/122920736-0ca2ea00-d3a5-11eb-8f29-335bdc360b95.JPG)

[2021-06-22 12:25] neoaggelos commented on #4294
How are you trying to connect to the Console (`http` or `https`)? Also, which Docker tag are you using for the `thethingsnetwork/lorawan-stack` image?

[2021-06-22 12:53] justinbyerss commented on #4294
I am using the latest tag for all three containers.  I just tried using https and it worked.  It didn't seem to like Http.

[2021-06-23 07:13] johanstokking commented on #2006
This issue is specific to automatically updating the antenna locations based on status messages or uplink metadata. I don't think we really need this.

[2021-06-23 11:01] johanstokking opened #4299 "Antenna gain is often not considered and gets cleared"
#### Summary

Antenna gain is not considered for unauthenticated gateways: all UDP, and depending on config, other gateways too.

In addition, when the gateway status message contains the gateway location, the antenna gain gets cleared.

#### Steps to Reproduce

Part A:

1. Create gateway with one antenna, configure a gain value, and configure that the gateway should update its location from statu

[2021-06-23 11:14] htdvisser opened #4300 "OAuth Client management in the Console"
#### Summary

The Console is currently lacking support for managing OAuth clients, this should be added.

#### Why do we need this?

Not everyone is able to use the CLI.

#### What is already there? What do you see now?

Full CLI support, but nothing for the Console yet.

#### How do you propose to implement this?

Basic CRUD views, like we have for other entities.

- List/search your OAuth client

[2021-06-23 11:28] johanstokking commented on #2006
As this is easy to fix, let's do fix it.

[2021-06-23 12:51] htdvisser commented on #1784
Blocked on OAuth client management in the Console: #4300

[2021-06-23 14:54] johanstokking opened #4302 "Update gateways in Packet Broker"
#### Summary

Update gateways in Packet Broker

#### Why do we need this?

Primarily to map gateways with Packet Broker Mapper

#### What is already there? What do you see now?

There's the Packet Broker upstream handler.

Also we're updating the gateway in the entity registry already, including its location.

#### What is missing? What do you want to see?

Updating the gateway through Packet Brok

[2021-06-23 15:58] adriansmares commented on #4267
There is a small text below it that explains what setting it to 0 does, but I can agree that a checkbox would help - I just wasn't able to implement this nicely - maybe @kschiffer or @bafonins could pick this one up.

The message itself is very big as is, so I'm not really happy to add this. In my opinion it only helps debugging.
I would instead like to see a debug level message with the body inst

[2021-06-23 21:57] lnlp opened #4306 "Add winget (Windows package manager) support for installing lorawan-stack-cli"
#### Summary
Please add support for Microsoft's official Windows CLI package manager **winget** for installing `lorawan-stack-cli` (`ttn-lw-cli`).

#### Why do we need this?

So Windows 10 users can simply install the TTN CLI tools with: `winget install ttn-lw-cli`

Similar to how macOS and Linux users can currently install it via their package managers.

The macOS and Linux package managers are a

[2021-06-24 08:38] #4242 closed, assigned to htdvisser

[2021-06-24 11:08] Bwooce opened #4307 "DevNonce compared against MaxUint32 when it's a 16 bit field"
I'm not sure why the DevNonce gets uplifted to a 32bit int, but it surely shouldn't be compared to maxUint32 when it was originally a 16 bit field?

This'll fail safe on wrap around (if the device does that) anyway since it'll be < the last recorded DevNonce, but the error will be incorrect.

https://github.com/TheThingsNetwork/lorawan-stack/blob/c10045bac4b699b3e89a175a2e3391555d2f6fc4/pkg/joinse

[2021-06-24 12:40] johanstokking commented on #4267
Can't it be here? https://github.com/TheThingsNetwork/lorawan-stack/blob/e28b20e36be1ae222ef9853d77f7b8fd815ef537/pkg/applicationserver/applicationserver.go#L685

[2021-06-24 13:02] johanstokking commented on #3771
Closed by #4281

[2021-06-24 13:02] #3771 closed, assigned to kschiffer

[2021-06-24 13:02] htdvisser commented on #3585
Re-opening this, since I don't think the permanent delete should be the default for admins. Security/privacy guarantees go out of the window when releasing entity IDs. If someone else registers a deleted ID, they may suddenly have access to stored data of the old entity. This is not something we can fix without breaking V3 compatibility, so we should try not to release IDs until V4 at least.

I pr

[2021-06-24 13:03] htdvisser commented on #3585
@bafonins please put this in an appropriate milestone, depending on your availability.

[2021-06-24 13:46] bafonins commented on #3585
@kschiffer What should be changed in the UI?

[2021-06-24 13:59] htdvisser commented on #4290
(2) and (3) are done with #4296

[2021-06-24 14:05] kschiffer commented on #3585
Let's have two buttons then for admins next to each other in the general settings panel then `Soft delete {entity}` and `Hard delete {entity}`.

[2021-06-24 14:53] johanstokking commented on #4290
Great! Are assignment, labels and milestone up to date here?

[2021-06-24 14:57] htdvisser commented on #4290
Yeah, I'll see if I can still do (1) before the v3.13.3 deadline, otherwise I'll reschedule or re-assign.

[2021-06-24 20:35] #56 closed

[2021-06-24 20:35] neoaggelos commented on #3741
Closed with https://github.com/TheThingsNetwork/lorawan-stack/pull/4282.

[2021-06-24 22:05] #3741 closed, assigned to neoaggelos, adriansmares

[2021-06-24 22:44] neoaggelos commented on #4294
This should be fixed with https://github.com/TheThingsNetwork/lorawan-stack/pull/4303.

Closing the issue, please re-open if the issue persists with the new version.

[2021-06-24 22:44] #4294 closed, assigned to neoaggelos

[2021-06-25 07:45] #2006 closed

[2021-06-25 07:45] #4299 closed, assigned to johanstokking

[2021-06-25 08:51] #4176 closed, assigned to johanstokking

[2021-06-25 12:47] #4252 closed, assigned to johanstokking

[2021-06-25 12:47] #4302 closed, assigned to johanstokking

[2021-06-25 12:51] johanstokking commented on #4307
You're right, thanks for reporting. The DevNonce is indeed 16 bits.

We're scaling it to `uint32` as that is how they're declared in our data structures; protocol buffers don't support 16 bits integers.

Now, that check is ineffective and can be removed. There's never a too high DevNonce.

[2021-06-25 13:01] i3mSuperMan opened #4319 "User with read-only access in The Things Stack"
#### Summary

Currently, there is no possibility to restrict the rights of a specific user to create entities in their account. But there is a possibility of restricting all the non-admin users and if we want to allow specific users then adding them to an organization with entity creation rights.
Ref: https://github.com/TheThingsIndustries/lorawan-stack-support/issues/474

#### Why do we need this

[2021-06-25 14:24] johanstokking opened #4324 "Edit gateway antenna placement"
#### Summary

Edit gateway antenna placement

#### Why do we need this?

To specify whether the gateway antenna is indoor or outdoor (or unknown)

#### What is already there? What do you see now?

Editing the gateway location and gain

#### What is missing? What do you want to see?

Editing the antenna placement. This is new since #4323

#### How do you propose to implement this?

Dropdown where y

[2021-06-25 14:29] #4307 closed, assigned to johanstokking

[2021-06-28 03:44] aparcar opened #4326 "Location setting doesn't allow longitude of selected position"
#### Summary

I setup a node on Oahu, Hawaii and tried to add it's location via the web interface. Clicking at the destination results in a Longitude of ~200 something, while it's real location is on Longitude 157.x. The web interface doesn't support the input (must be within +/-180).

#### Steps to Reproduce

Try to use the map to set the location somewhere on the Hawaiian Islands.

#### What do

[2021-06-28 07:27] htdvisser commented on #4290
@johanstokking I don't think we should change that RX1 delay from 1 to 5 seconds just like that.

Instead, I would like to propose that we create a toggle between "Device starts with LoRaWAN default settings" and "Device starts with frequency plan settings", and then fill those into the following fields:

- RX1 Delay
- RX1 DR Offset
- RX2 DR Index
- RX2 Frequency
- Factory Preset Frequencies

What

[2021-06-28 08:11] johanstokking commented on #4290
RX1 delay isn't part of the frequency plan.

The default and desired RX1 delay is determined as follows:

https://github.com/TheThingsNetwork/lorawan-stack/blob/4466080950116b2cc50cecdaef57f9ce0da3a9d3/pkg/networkserver/mac/utils.go#L261-L270

https://github.com/TheThingsNetwork/lorawan-stack/blob/4466080950116b2cc50cecdaef57f9ce0da3a9d3/pkg/networkserver/mac/utils.go#L250-L259

For ABP, this is w

[2021-06-28 08:16] johanstokking commented on #4306
Thanks @lnlp !

[2021-06-28 08:25] johanstokking commented on #3202
What is the status here?

[2021-06-28 09:37] descartes commented on #4289
Will do - will need to setup a test device so will be a couple of days

[2021-06-28 09:44] descartes commented on #4278
My understanding was that it filled up Redis as well as impacting on server resources

Why shouldn't they - otherwise they'll just eat all the resources you put in to it - cars have resource limits. so this isn't an alien concept.

If you keep the original formatter compressed in slower storage for when they are going to be edited, why not minify all of them for the Redis store?

I've looked at ho

[2021-06-28 09:53] descartes commented on #4288
Yeah, got several T Shirts on that - just a bit odd that it changed and as above, adding in code means we increase the formatter size. No worries, bit safer being explicit with the toFixed().

All that said, I only use PF's for testing / development - deployments decode on client servers.

A typo, should have been c*4, no idea how that occured.

Happy for this to be closed if the JS interpreter is

[2021-06-28 10:33] adriansmares commented on #4278
The limit should exist, it's just that it shouldn't be trivial to hit it, especially with already existing scripts. That's what I wanted to say in my message (but worded it poorly).

My caching proposal refers to this, but instead of keeping the minified script in Redis, we keep the parsed script in the memory of the Application Server. Deduplication then handles the actual storage space minimizat

[2021-06-28 13:24] johanstokking commented on #4288
Node actually has the same output:

[code]

[2021-06-28 13:26] johanstokking commented on #4288
Note that `toFixed(2)` returns a string, which is really good for display but probably not what you want as the output of codecs.

---

My previous suggestion works BTW;

[code]

Yields:

[code]

You got the t-shirts so I guess you know why 😉

[2021-06-29 09:36] #4278 closed, assigned to neoaggelos

[2021-06-29 09:53] nejraselimovic commented on #4326
@bafonins please check if there is a quick fix for this and if it can by any case be done by the v3.13.3 deadline

[2021-06-29 09:57] nejraselimovic commented on #4288
@johanstokking why was this reopened? Is there something that needs to be done here?

[2021-06-29 14:07] #4326 closed, assigned to kschiffer, bafonins

[2021-06-29 14:09] bafonins commented on #4326
Hey @aparcar! This issue will be fixed in the next release.

[2021-06-29 14:49] johanstokking commented on #4288
I accidentally closed it and reopened it, but I believe it can be closed now. This can be "fixed" in the script. We can't promise anything about floating points digits I'm afraid.

[2021-06-29 14:49] #4288 closed, assigned to johanstokking

[2021-06-29 17:03] aparcar commented on #4326
Nice rtt, thanks

[2021-06-30 09:46] htdvisser opened #4331 "Add error details to FullViewError"
#### Summary

I would like to see error details in the `FullViewError`.

#### Why do we need this?

Because often the error message alone isn't enough, and we need the details to understand what's really going on.

Refs https://github.com/TheThingsIndustries/lorawan-stack-support/issues/478

#### What is already there? What do you see now?

<img width="1280" alt="Screen Shot 2021-06-30 at 11 42 50

[2021-07-01 04:10] virtualguy opened #4334 "Gateway positions not updating from status messages"
#### Summary

The gateway location information doesnt update even though the gps positions are  available in the gateway status and the uplinks topic under antenna location

#### Steps to Reproduce

1. Create gateway
2. Connect gateway and send gateway status
3. Gateway position doesnt update in the console or from ttn-lw-cli

#### What do you see now?

[code]

![image](https://user-images.githubu

[2021-07-01 06:38] nejraselimovic commented on #4334
@virtualguy thank you for filing the issue! What type of gateway are you using? If it is a UDP gateway, check [this](https://github.com/TheThingsNetwork/lorawan-stack/pull/3326) and [this](https://github.com/TheThingsNetwork/lorawan-stack/issues/3138)

[2021-07-01 07:23] virtualguy commented on #4334
Yes indeed this is for a UDP packet forwarder. Are there any work arounds or is this just not supported

[2021-07-01 07:28] nejraselimovic commented on #4334
@neoaggelos could better answer that question

[2021-07-01 08:03] #4198 closed, assigned to neoaggelos

[2021-07-01 09:28] descartes commented on #4288
Indeed, but it calmed the client down who was screaming in my ear whilst I was doing it! And I use too many languages, too many T Shirts, today's is for something called Symantec Café, one of the early Java IDE's, so at least 28 years old ...

[2021-07-01 09:54] bertrik opened #4335 "Gateway console field 'LoRa Basics Station LNS Authentication Key' is empty after recovering from "An unknown error occurred""
#### Summary

In the gateway console, the field 'LoRa Basics Station LNS Authentication Key' is empty after recovering from "An unknown error occurred".

#### Steps to Reproduce

1. Open the TTN v3 gateway console and select a gateway (in my case a freshly migrated TTIG)
2. Wait a bit (how long is not very clear yet, about 2 minutes seems to trigger it)
3. Click on "General Settings" -> Message "A

[2021-07-01 10:20] i3mSuperMan opened #4336 "Improvise debug details of the gs.down.tx.fail event"
#### Summary
The “value” in the data object of the `gs.down.tx.fail` event currently doesn’t provide useful information to know/identify the cause of the failure.
Ref: https://github.com/TheThingsIndustries/lorawan-stack-support/issues/457

#### Steps to Reproduce
....

#### What do you see now?
The value in the data object of the `gs.down.tx.fail` event corresponds to the “Result” enum: https://g

[2021-07-01 13:16] postman976 opened #4337 "RSSI / SNR Sorted gateways"
#### Summary
I would be a advantage to have the gateway signals rssi / snr sorted from weakest to strongest in the end device metadata / JSON format.
...

#### Why do we need this?
This is useful when the data is forwarded with a web hook to a 3rd party data server. In this way you can easy see what the signals are and deletes the need for signal interpretation.

...

#### What is already there? W

[2021-07-02 06:56] htdvisser opened #4343 "Release v3.13.3"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-07-02 08:02] nejraselimovic commented on #4334
I'm closing this issue since this behavior is intended. @neoaggelos please let us know if there is a workaround

[2021-07-02 08:02] #4334 closed, assigned to nobody

[2021-07-02 08:12] nejraselimovic commented on #4336
@KrishnaIyer can you please triage this?

[2021-07-02 08:21] htdvisser commented on #3750
This did not make it for the v3.13.3 deadline, so pushing to v3.14.0

[2021-07-02 08:21] htdvisser commented on #4016
This did not make it for the v3.13.3 deadline, so pushing to v3.14.0

[2021-07-02 08:21] htdvisser commented on #4095
This did not make it for the v3.13.3 deadline, so pushing to v3.14.0

[2021-07-02 09:03] johanstokking opened #4345 "Update Snapcraft login"
#### Summary

Update Snapcraft login

#### Why do we need this?

The current one expires end of January 2022.

#### What is already there? What do you see now?

Current login file:

[code]

#### What is missing? What do you want to see?

Bump another year to expire end of January 2023 or another convenience moment.

#### How do you propose to implement this?

[code]

#### How do you propose to tes

[2021-07-02 10:49] adriansmares opened #4346 "Refactor to band package to maintain individual band versions"
#### Summary

`pkg/band` should be refactored such that the current `downgrade` system is removed. We should have a version of each band per regional parameters version, instead of downgrading the latest version

#### Why do we need this?

The linear relation between versions no longer exist after RP0002 has been released. It has also become increasingly hard to maintain (and validate) the downgra

[2021-07-02 11:05] #4343 closed, assigned to htdvisser

[2021-07-02 12:28] adriansmares opened #4347 "Add regional parameters version to TxRequest"
#### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/issues/4196

We should add a `PHYVersion` to `TxRequest`

#### Why do we need this?

As signaled in https://github.com/TheThingsNetwork/lorawan-stack/issues/4196 , data rate indices may map to different SF/BW across different regional parameters version. As such, we need the version in order to allow the Gateway Server to t

[2021-07-02 12:35] adriansmares opened #4348 "LR-FHSS Gateway entity support"
#### Summary

The `Gateway` entity should have a field that signals that it supports LR-FHSS

#### Why do we need this?

In order to mark gateways that support features such as LR-FHSS. This allows us to avoid introducing separate frequency plans for each capability combination.

#### What is already there? What do you see now?

No API for this.

#### What is missing? What do you want to see?

A n

[2021-07-02 14:46] johanstokking commented on #4347
Cool, @KrishnaIyer please start with API soon, don't close this issue but re-assign once API is there:

- @KrishnaIyer to implement in GS
- @adriansmares to implement in NS
- @johanstokking to implement in PBA (needs https://github.com/packetbroker/api/issues/31)

[2021-07-02 15:04] adriansmares commented on #4267
The functional issues with WiFi / GNSS should be fixed now, leaving the Console fixups to @kschiffer (please reassign if needed).

[2021-07-02 15:59] #4277 closed, assigned to adriansmares

[2021-07-04 18:39] srbpavel opened #4352 "after gateway delete the new one is not connected"
dear, because of my mistake (wrong id field), i have deleted my v3 gateway via web console.

but after new gw added (with same details), it does not receive any data even my gw is still working and nothnig was changed.

gw eui E45F01FFFE26CE56

thank you, pavel

ps: also when some gw is deleted, one cannot use the same 'id' for new gw creation

[2021-07-04 18:49] #4352 closed, assigned to nobody

[2021-07-04 18:49] srbpavel commented on #4352
found info in
https://www.thethingsindustries.com/docs/gateways/troubleshooting/

[2021-07-04 23:23] kurtmc commented on #4334
So the intended behaviour is for the API to return `null` for `antenna_locations` when "Update from status messages" is checked?

[2021-07-05 05:42] KrishnaIyer commented on #4347
Isn't API already here: https://github.com/TheThingsNetwork/lorawan-stack/pull/4349?

[2021-07-06 09:30] adriansmares opened #4360 "Introduce NS-AS communication fast path"
#### Summary

The NS should skip queueing messages to the AS if the associated peer is available.

Currently, uplinks that should be submitted to the AS are always queued in a Redis stream, which is then asynchronously drained. This introduces quite some latency even though the peer is available and the stream could have been skipped.

The 'quite some latency' mentioned above is based on the metri

[2021-07-06 09:38] adriansmares opened #4361 "Spawn multiple tasks in the Network Server"
#### Summary

We currently spawn only one task per NS instance in order to schedule downlinks and to drain uplinks.

#### Why do we need this?

These are more or less IO-bound operations, so we should spawn more in order to improve latency.
This is also safe, as the tasks are designed to be run in parallel (from any NS Instance).

#### What is already there? What do you see now?

https://github.co

[2021-07-06 09:41] adriansmares commented on #4360
References https://github.com/TheThingsNetwork/lorawan-stack/issues/4361 - currently there is only one drain per Network Server instance that submits uplinks to an Application Server, which also hurts latency.

[2021-07-06 11:50] adriansmares commented on #4361
This is not `size/small` on a second look into how the queues work.

Currently the consumer ID is global per Network Server instance, meaning that calling 2 `Pop`s in parallel will return the same records twice.

In order for this to work cleanly, we need to force the caller to provide the consumer ID. This requires the following changes:

- Queues (`ttnredis.TaskQueue`, `nsredis.ApplicationUplink

[2021-07-06 12:21] kschiffer opened #4370 "End device import UX improvements"
#### Summary
The current implementation of the device import has some UX shortcomings that should be fixed in order to make device migration smoother.

#### Why do we need this?
Improve utility and usability of the end device import feature.

#### What is already there? What do you see now?
Possibility to import devices using a template provided by the stack.

#### What is missing? What do you wan

[2021-07-06 12:22] kschiffer commented on #4370
See also: TheThingsIndustries/lorawan-stack-support#490

[2021-07-06 12:42] kschiffer commented on #4335
@KrishnaIyer is this fixed by #4355 ?

[2021-07-06 12:44] KrishnaIyer commented on #4335
I think it could more be related to https://github.com/TheThingsNetwork/lorawan-stack/pull/4359. Let's get that and https://github.com/TheThingsNetwork/lorawan-stack/pull/4355 deployed and revisit this issue if it's still relevant.

[2021-07-06 17:45] johanstokking opened #4373 "Custom validation of gateway IDs in `GsPba`"
#### Summary

Custom validation of gateway IDs in `GsPba`.

#### Why do we need this?

To allow non-TTS validated gateway identifiers between the internal API of GS and PBA. This is needed when the GS uses a non-IS entity registry, i.e. in case of TTN V2 offloading.

More specifically, we need to allow underscores in the gateway identifiers.

#### What is already there? What do you see now?

Curre

[2021-07-07 05:53] johanstokking commented on #4360
Sounds good!

[2021-07-07 07:18] #4373 closed, assigned to johanstokking

[2021-07-07 08:47] romach opened #4375 "Can’t exchange authorization code for an OAuth access token"
#### Summary

If OAuth client has `GRANT_AUTHORIZATION_CODE` and `GRANT_REFRESH_TOKEN` grants, it is not possible to exchange authorization code for an OAuth access token

#### Steps to Reproduce

1. Create OAuth client with `GRANT_AUTHORIZATION_CODE` and `GRANT_REFRESH_TOKEN` grants
[code]
2. Get authorization code opening page
[code]
3. Try to exchange authorization code for an OAuth access toke

[2021-07-07 10:20] nejraselimovic commented on #4375
@neoaggelos I'm not sure if you're the one who can help with this, please reassign if not

[2021-07-07 10:26] nejraselimovic commented on #4337
@johanstokking what do you think of this proposal?

[2021-07-07 11:00] neoaggelos commented on #4289
Closing the issue, please re-open if https://github.com/TheThingsNetwork/lorawan-stack/issues/4289#issuecomment-865297441 does not solve your issue.

[2021-07-07 11:42] neoaggelos commented on #4375
Hi @romach, thank you for filing the issue.

OAuth clients on need to be approved by an admin first before they can be used. Can you share the output of the following command? (the state in particular)

[code]

[2021-07-07 13:12] romach commented on #4375
@neoaggelos

Here is a response of the command

[code]

[code]

[2021-07-07 13:16] neoaggelos commented on #4375
Great, thank you, then indeed it could be a bug.

Assigning @htdvisser who is well familiar with the internals of the oauth server.

[2021-07-07 14:06] neoaggelos commented on #4306
Currently, winget requires an installer, which we do not have for Windows builds. There is an ongoing discussion to support installing from `.zip` natively with winget in [this issue](https://github.com/microsoft/winget-cli/issues/140), along with recent activity.

Alternatively:

- there was also some discussion in this [goreleaser issue](https://github.com/goreleaser/goreleaser/issues/1295), but

[2021-07-07 14:16] benolayinka opened #4378 "Generate markdown docs and JSON tree"
#### Summary

Generate markdown docs for cobra commands, and a json tree structure, like https://github.com/packetbroker/pb/pull/11

It looks like GenMDDoc already exists, but it probably needs a prepender and link handler to add front matter and turn links in to hugo refs
old ->  https://github.com/TheThingsNetwork/lorawan-stack/blob/2e5e9dfab39b7adb909f09a7a7e366c57dee6395/cmd/internal/commands/

[2021-07-07 14:34] neoaggelos commented on #4112
The discussion here has moved towards two separate directions:

- Skip running the ns-db migrations if they have already run, by recording the current schema version. This looks simple on paper as long the Network Server only uses Redis to persist data. This should be simple enough to do without any changes to `ttn-lw-stack`.

- Improve performance of the migrations themselves. I think this should

[2021-07-08 08:11] johanstokking commented on #4337
This sounds to me like presentation logic. This doesn't really belong in the API. It's also tricky to sort both by RSSI and by SNR.

[2021-07-08 08:11] #4337 closed, assigned to nobody

[2021-07-08 09:10] KrishnaIyer opened #4379 "Improve clarity and styling of "Last seen" values for entities"
#### Summary

Rename Last seen to Last activity in the console

#### Why do we need this?

The latter is less ambiguous and avoids questions like what exactly is meany by "seen".

#### What is already there? What do you see now?

`Last seen X minutes ago` for gateways and devices.

#### What is missing? What do you want to see?

`Last activity X minutes ago` for gateways and devices.

#### Environ

[2021-07-08 09:14] bafonins commented on #3513
@adriansmares what is the status here?

[2021-07-08 09:15] htdvisser commented on #4375
Looking at the server logs I see the following related requests:

[code]

From this we can see that the authorization code was issued at `2021-07-06T14:26:10`. Authorization codes are valid for 5 minutes, so when a token exchange is attempted at `2021-07-06T14:38:30`, the code already expired.

Therefore this is not a bug, and the returned error message is correct.

[2021-07-08 09:15] #4375 closed, assigned to htdvisser

[2021-07-08 09:51] romach commented on #4375
@htdvisser how do you think, if it will be useful to add information about the Authorization code expiration time to the documentation https://www.thethingsindustries.com/docs/reference/api/authentication/#oauth-access-tokens ?

[2021-07-08 11:25] htdvisser commented on #4375
Considering that it would have been useful to you, I'm sure it would be useful to others. I'll add it.

[2021-07-08 12:35] kschiffer commented on #4290
It would indeed be best if the Console would be aware of the various default settings of the NS, so we can already display them inside the fields. This is also outlined in the wireframes of #3522.

If we decide to do that, please unassign @bafonins and me until the necessary backend changes were made.

[2021-07-08 12:45] johanstokking commented on #4290
@neoaggelos please start with exposing the default NS settings through API per band and PHY version. That's not just exposing `defaults`, but the evaluated result of `DeviceDesiredRx1Delay(nil, phy, defaults)` and the likes.

Please don't close this issue but reassign frontend devs when that's done.

As follow up, @bafonins @kschiffer, you can let the user toggle between desired and default settin

[2021-07-08 12:58] kschiffer opened #4382 "Allow connecting existing devices to a device repository template"
#### Summary
It is currently not possible to connect existing devices to a template in the device repository, e.g. to use their payload formatters, or apply their settings. This forces users to delete and re-register such devices.

#### Why do we need this?
To provide other ways to connect device templates to a device.

#### What is already there? What do you see now?
Device onboarding using the D

[2021-07-08 13:06] #4270 closed, assigned to neoaggelos, kschiffer

[2021-07-09 08:20] i3mSuperMan opened #4386 "Improvise the response for connection stats of a disconnected gateway"
#### Summary
The connection stats of a gateway shows an error message for the `disconnect` gateways. A gateway not being connected is not technically an error state. It is a valid and allowed state.
Ref: https://github.com/TheThingsIndustries/lorawan-stack-support/issues/473

#### Steps to Reproduce
1. Register a gateway in The Things Stack(TTS) console.
2. Execute the connection stats for the gat

[2021-07-09 16:49] romach opened #4387 "Can’t exchange OAuth refresh token for an OAuth access token"
#### Summary

Error occurs when trying to exchange OAuth refresh token for an OAuth access token according documentation https://www.thethingsindustries.com/docs/reference/api/authentication/#oauth-access-tokens

#### Steps to Reproduce

1. Create OAuth client with `GRANT_AUTHORIZATION_CODE` and `GRANT_REFRESH_TOKEN` grants
[code]
2. Get authorization code opening page
[code]
3. Exchange authoriza

[2021-07-10 12:19] johanstokking opened #4388 "List effective routing policies of non-listed networks"
#### Summary

List effective routing policies of non-listed networks

#### Why do we need this?

To see all routing policies that apply

#### What is already there? What do you see now?

Currently, the Console fetches first all the (listed) networks, for instance:

`https://tti.eu1.cloud.thethings.industries/api/v3/pba/networks?page=1&limit=20&name_contains=&tenant_id_contains=&with_routing_policy

[2021-07-10 18:19] descartes commented on #4289
@neoaggelos, forum poster speeded me up, tested, all good, thanks.

[2021-07-12 09:15] #2092 closed

[2021-07-12 14:23] #4219 closed, assigned to kschiffer

[2021-07-12 14:50] benolayinka commented on #3223
Giving this one back to you @kschiffer

[2021-07-12 14:52] benolayinka commented on #3223
Gateway server address, LNS server address, and CUPS server address are used mutually exclusively, so this could also be done as a tab next to the gateway box to switch between those addresses

[2021-07-12 15:09] #4348 closed, assigned to adriansmares

[2021-07-13 07:16] adriansmares commented on #3513
The API support has been added in order to allow development to continue in `v3.14`.

I'm going to first do https://github.com/TheThingsNetwork/lorawan-stack/issues/4346 and while working on it add the new RPs.

Blocked by https://github.com/TheThingsNetwork/lorawan-stack/issues/4346.

[2021-07-13 07:33] #4066 closed, assigned to KrishnaIyer

[2021-07-13 09:17] nejraselimovic commented on #4092
@adriansmares are we still doing this?

[2021-07-13 09:18] #4284 closed, assigned to kschiffer

[2021-07-13 09:26] kschiffer commented on #4285
I'll close this since:

- I don't think such tooltip is the proper solution. Users with custom (big) payload formatters will not be helped by using the PF of the DR
- The size limit for PFs has been updated recently via #4133
- I'll open another issue about showing the DR PF script in the console

Also related: https://github.com/TheThingsNetwork/lorawan-stack/issues/4382

[2021-07-13 09:26] #4285 closed, assigned to kschiffer

[2021-07-13 09:40] johanstokking commented on #4112
I think this is quick and pretty safe to do. Do we just use a new Redis key with the TTS version of the last migration per component, that only gets set after a successful migration?

[2021-07-13 09:45] #4085 closed, assigned to KrishnaIyer

[2021-07-13 09:46] kschiffer commented on #4077
Closing this since the Console now renders a warning that should make users aware of this danger:

![](https://user-images.githubusercontent.com/5710611/125430631-b2ffe30d-ccc1-4157-88b1-f03b0fe1f3a0.png)

[2021-07-13 09:46] #4077 closed, assigned to kschiffer, adriansmares

[2021-07-13 10:53] adriansmares commented on #4112
I concur on this. No need for a set, map or anything like this, versioning will suffice.

[2021-07-13 10:56] adriansmares commented on #4092
Yes. I've familiarized myself with the algorithm and I think we can do this safely, albeit not by default: it would be something that customers opt in, in order to avoid stranding devices. We change the default MAC settings later to make it a default setting, once it has matured.

What I plan to do is to add the API in `3.14`, and behavior in a subsequent patch. I think this is also wise as `3.14`

[2021-07-13 11:25] KrishnaIyer commented on #4347
This is blocked on https://github.com/TheThingsNetwork/lorawan-stack/issues/4346.

With #4349, we have the `lorawan_phy_version` but the GS can't really use it until https://github.com/TheThingsNetwork/lorawan-stack/issues/4346.

[2021-07-13 11:54] johanstokking commented on #3712
Closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/4296

[2021-07-13 11:54] #3712 closed, assigned to kschiffer

[2021-07-13 11:58] johanstokking commented on #10
References https://github.com/TheThingsIndustries/lorawan-stack/pull/2759

[2021-07-13 11:59] johanstokking commented on #10
Release notes are now in the documentation.

Version check comes, first and foremost in logs. We may want to show new version availability in the Console as well, but that isn't too important. Removing milestone.

[2021-07-13 12:02] johanstokking commented on #4271
Times should be truncated; it should not be rounded up because that is incorrect. The event happened in the second it is displayed, not in the second after. I added a small note in #3817 to add some fraction. Closing this issue. Thanks for reporting and sharing your opinion though!

[2021-07-13 12:02] #4271 closed, assigned to kschiffer

[2021-07-13 12:03] johanstokking commented on #4268
Let's track this in #4195 and reopen or open a new issue if the problem persists.

[2021-07-13 12:03] #4268 closed, assigned to kschiffer

[2021-07-13 12:09] johanstokking commented on #3947
Let's start with this indeed.

Do you need a list of fields that are advanced, with their default values? That would eliminate already some fields that are always shown now.

[2021-07-13 12:13] johanstokking commented on #3838
This looks pretty stale, let's triage

[2021-07-13 12:14] johanstokking commented on #3823
We'll make this part of #3947 and subsequent work, including adding gateways to the device repository.

[2021-07-13 12:14] #3823 closed, assigned to kschiffer

[2021-07-13 12:17] johanstokking commented on #3713
Planning gets tracked in #3817

[2021-07-13 12:20] johanstokking commented on #4324
This is a candidate to reassign

[2021-07-13 12:23] johanstokking commented on #3947
Other things in scope:

- Ability to set antenna placement (indoor or outdoor) (refs https://github.com/TheThingsNetwork/lorawan-stack/issues/4324)
- Filter frequency plans (refs https://github.com/TheThingsNetwork/lorawan-stack/issues/3823, probably needs gateways in device repository)

[2021-07-13 12:26] johanstokking commented on #2435
Removing this from the planning for now.

[2021-07-13 12:28] johanstokking commented on #3611
@KrishnaIyer can you book a few days to get this going?

[2021-07-13 13:32] johanstokking commented on #4347
The band can already be versioned. #4346 is about maintaining the frequency plans in a versioned way, but that won't really change the way GS uses it.

[2021-07-13 13:56] i3mSuperMan opened #4397 "Select Packet Forwarder while registering a Gateway on Console"
#### Summary
Could we add a parameter `Packet-Forwarder` with a drop down of the packet-forwarders list (UDP, LBS) that are supported by The Things Stack to the gateway registration?
#### Why do we need this?
V2 - V3 similarities
#### What is already there? What do you see now?

- In V2, there is an option to select the legacy packet forwarder from the Console (refer to image).
![image](https://us

[2021-07-13 14:02] KrishnaIyer commented on #4397
why is this needed?

`station.conf` is hardware specific and should be provided by the gateway manufacturer.

[2021-07-13 20:53] #4076 closed, assigned to neoaggelos

[2021-07-14 06:52] htdvisser commented on #4386
This is working as intended. That API call is for fetching the statistics of the gateway connection. If there is no connection, it correctly returns a "connection not found" error.

[2021-07-14 06:52] #4386 closed, assigned to nobody

[2021-07-14 08:17] neoaggelos commented on #4290
API has been merged, example request/response:

[code]

[2021-07-14 10:12] #4095 closed, assigned to neoaggelos

[2021-07-14 14:17] johanstokking opened #4409 "Configure gateway visibility in Packet Broker (Console)"
#### Summary

Configure gateway visibility.

#### Why do we need this?

For administrators to configure the visibility of gateways in Packet Broker.

#### What is already there? What do you see now?

Configuration of routing policies.

Since #4667, there is CLI support to manage default gateway visibility. See API here: https://github.com/TheThingsNetwork/lorawan-stack/blob/feature/4409-pba-gatewa

[2021-07-15 09:26] johanstokking opened #4411 "Disconnect gateway when gateway settings change"
#### Summary

Disconnect the gateway when relevant gateway settings change in Identity Server.

References https://github.com/TheThingsNetwork/lorawan-stack/pull/4357
References https://github.com/TheThingsNetwork/lorawan-stack/pull/4396

#### Why do we need this?

To make changes effective while the gateway is connected. These are changes to frequency plan, public status and location, whether loc

[2021-07-15 09:55] rcmcronny opened #4412 "Saving changes to gateway's LoRaWAN options in Console fails"
#### Summary
I want to change the gateway frequency plan. So i go to the gateway, choose general settings and expand the LoraWanOptions.
Then i change the frequency plan and hit save. I get a "An unknown error occurred. Please try again later.”
This seems to happen for all elements in this section, i can not change anything. I don't know, if that is caused bei the TTIG Gateway.
Forumspost: https:/

[2021-07-15 10:08] johanstokking commented on #4412
Refs #4411

cc @kschiffer @bafonins

[2021-07-15 10:39] bafonins commented on #4412
Hey @rcmcronny! Can you try updating you gateway LoRaWAN settings from the incognito tab of your browser or just using another browser? The error you provided seems to be related to extensions installed on your browser.

Just tested this functionality in the Console and I cannot reproduce this issue.

[2021-07-15 10:45] rcmcronny commented on #4412
I have tried with incognito and with an additional system. On both the issue persists. I will try in the evenning at home again with some devices and report. Its not critical for me, so all good.

[2021-07-15 12:15] kschiffer commented on #3585
@htdvisser so as far as I understand, we can provide this option for admin users when deleting an entity, but do not make it a default. Basically it would mean adding a checkbox to the deletion modal that would change the operation to purge, together with a tooltip explaining the implications for security:

[code]

Please confirm.

[2021-07-15 12:40] htdvisser commented on #3585
Originally the idea was that "purge" would only be available for deleted entities (in the Console: from the "list deleted" views), and only after a some cooldown period, but that idea got lost along the way.

I think we need to be even more clear about what the "purge" checkbox does so that users understand what is (and isn't) going to happen.

Purging an (entity)...

- will **permanently** delete

[2021-07-15 12:52] KrishnaIyer commented on #3806
We have a PR so this is unblocked.

[2021-07-15 13:13] kschiffer commented on #3585
Ok so let's do the following:

*   Add the purge checkbox for admins as discussed above
    *   We need to make sure that the checkbox is recognized correctly (and not mistaken for a confirmation checkbox)
    *   Please use a title for this checkbox: `Entity purge (admin only)`
    *   Use `Also release entity IDs (purge)` as checkbox label
    *   When checking the checkbox, display a warning no

[2021-07-16 09:03] kschiffer commented on #4267
I'm not able to reproduce. Has this been fixed in the meantime?

I need some more info on this. I see that there is already a checkbox for enabling Multiframe. What else would be needed here?

[2021-07-16 09:31] adriansmares commented on #4267
I didn't touch it, but I haven't been able to reproduce it either.

The checkbox is about the window size - the idea is that a window size of 0 means that the AS decides the window size automatically.
In order for a user to understand that this happens, he needs to read the description of the window size. This is a big if.
It would be a bit more intuitive for him to have a checkbox under multifram

[2021-07-16 10:31] KrishnaIyer commented on #4347
GS done via #4406. I guess only PBA remains. @johanstokking please close the issue if that's already done.

[2021-07-16 10:40] johanstokking commented on #4347
PBA still needs to happen

[2021-07-18 08:03] rcmcronny commented on #4412
Sorry for delay, tried it today at home
firefox normal -> same error
Microsoft Edge (Version 91.0.864.70 (Offizielles Build) (64-Bit) -> same error

**I took some screenshots of microsoft edge, as this is default with no addons or whatever (firefox have some)**
![Screenshot_1](https://user-images.githubusercontent.com/5807210/126060199-1a678967-c98f-40b9-9926-4bda2865fcdb.png)

![Screenshot_2](htt

[2021-07-19 12:23] DvdGiessen opened #4418 "Make failed OTAA join event available via integrations"
### Summary

Failures with OTAA joins are currently only visible in the Console, when "verbose" data is toggled on. This feature request is about making a OTAA failure event available through integrations, to automatically detect such failures and then being able to do something to resolve them.

### Why do we need this?

Two use cases to do with having to set the correct frequency plan for a devi

[2021-07-19 14:07] i3mSuperMan opened #4421 "Console support for sending the test messages to Packet Broker"
#### Summary
Extending the request for [PB API support of test message](https://github.com/packetbroker/api/issues/36).

The Things stack supports access to Packet Broker through CLI and console to easily register/de-register tenants and set routing policies between the networks.

But, for self-hosted deployments, if there is any mistake in the configuration of PBA, they wouldn’t be able to receiv

[2021-07-20 08:23] #3931 closed, assigned to neoaggelos

[2021-07-20 08:39] #4112 closed, assigned to neoaggelos

[2021-07-20 09:29] johanstokking commented on #4397
Can you elaborate why this is needed? We had a reason to have this in V2, because of identifiers, but this does not apply anymore.

[2021-07-20 09:37] johanstokking commented on #4215
We need thumbs ups on this issue before we pick this up. I see the need for it, but we need a bit more demand for this before we plan this.

[2021-07-20 09:41] johanstokking commented on #3891
We see that this can be relevant for some specific scenarios, but we need thumbs up to schedule this to a version milestone.

[2021-07-20 09:43] johanstokking commented on #3838
Please reopen if this issue still exists. There are more error details available in newer versions. Please paste the new error details as well.

[2021-07-20 09:43] #3838 closed, assigned to nobody

[2021-07-20 09:45] willhelmx commented on #4215
Hi all... i beleive that the demand for this functions will grow along with the business growth within the system so eventually it needs to be implemented.
If we focus on just small and private enterprises there is perhaps no need for it, but if you focus on setting up 100´s of end nodes in a row it will be a total nightmare if something goes wrong.

[2021-07-20 09:57] johanstokking commented on #3750
@pgalic96 are we gonna make this in v3.14.0?

[2021-07-20 10:05] pgalic96 commented on #3750
I don't think so, I added the functionality but there are a few things like error handling missing. Also I am waiting for https://github.com/TheThingsNetwork/lorawan-stack/pull/4291 to be rebased and merged to add it to the manual device creation form as well. Will discuss with @kschiffer if it can be squeezed in.

[2021-07-20 11:42] #4411 closed, assigned to johanstokking

[2021-07-20 12:09] johanstokking commented on #4418
It seems like there are two feature requests here:

1. Receiving failed device activations through Application Server integrations (webhooks, MQTT)
2. Support custom automatic detection of frequency plans

Feature (1) would help with feature (2).

I'm afraid we can do neither of these:

1. The event you mentioned is a Network Server (NS) event (starting with `ns.`). Network Server is not informing

[2021-07-20 12:10] #4418 closed, assigned to nobody

[2021-07-20 12:13] johanstokking commented on #4215
@willhelmx I understand, we'll monitor the thumbs up on this comment.

Large scale deployments can already use the API and scripts using the CLI.

[2021-07-20 12:25] #4347 closed, assigned to johanstokking

[2021-07-20 12:26] i3mSuperMan commented on #4397
Hi @KrishnaIyer & @johanstokking.

Our thought was about **having customized Gateway registration flow based on the selected packet forwarder**. However, we are not sure if it can fit across multiple distributions.

For example,  `Require authenticated connection` option might not be relevant for UDP gateways and few other fields while registering a gateway would be relevant for LBS only.

Also, i

[2021-07-20 12:31] johanstokking commented on #4397
I see. Storing which packet forwarder is used will be implemented as part of supporting gateways in the device repository.

Then, we know what packet forwarder the gateway supports. When we know that, we can generate or show per-gateway relevant configuration and put a documentation link to the relevant page in the docs.

Internal ref https://github.com/TheThingsIndustries/lorawan-stack/issues/201

[2021-07-20 12:31] #4397 closed, assigned to nobody

[2021-07-20 13:10] KrishnaIyer commented on #3806
GS part is done via #4413

[2021-07-20 15:56] #4099 closed, assigned to kschiffer, bafonins

[2021-07-20 15:56] #4267 closed, assigned to kschiffer

[2021-07-21 08:27] kschiffer opened #4431 "Disable "Factory preset frequencies" field for US-like bands (Console)"
#### Summary
The device creation form in the Console should not offer to set factory preset frequencies when the user has selected `AU_915_928`, `CN_470_510`, `US_902_928`.

#### Why do we need this?
See the discussions here:
https://github.com/TheThingsNetwork/lorawan-stack/pull/4291#issuecomment-882259971

and here:
https://github.com/TheThingsNetwork/lorawan-stack/issues/2269#issuecomment-81007

[2021-07-21 08:29] kschiffer commented on #3945
Note that wrt to tooltips, this also means that since tooltips are usually displayed next to the field title, that we need to add a way for tooltips to be displayed next to the checkbox label instead.

[2021-07-21 09:02] htdvisser commented on #4387
Hi @romach. Your request message seems to be incorrect:

[code]

When using `"grant_type": "refresh_token"` you should send the refresh token in the `refresh_token` field, not in `code`.

See https://datatracker.ietf.org/doc/html/rfc6749#section-6 for details.

[2021-07-21 09:02] #4387 closed, assigned to htdvisser

[2021-07-21 09:22] bafonins commented on #4412
I can reproduce this on `3.13.3` deployment of TTN on all browsers. However, the issue seems to be fixed on staging. Will come back to this once the newest release is deployed and apply changes if necessary.

[2021-07-21 09:43] #3697 closed, assigned to neoaggelos

[2021-07-21 09:46] #3591 closed, assigned to neoaggelos

[2021-07-21 09:46] #4016 closed, assigned to neoaggelos

[2021-07-21 21:22] gruijter opened #4435 "Request approach to uplink message metadata from integrator platforms"
#### Summary

I would like to add information like SNR and RSSI to the payload formatter. But this type of info is not available in the formatter. See more background in this forum thread:

https://www.thethingsnetwork.org/forum/t/payload-formatter-v3-how-to-return-rssi-and-snr-to-a-thingspeak-channel/49946/

...

#### Why do we need this?

I would like to use webhook integration to other systems

[2021-07-22 07:22] #3750 closed, assigned to pgalic96

[2021-07-22 14:38] neoaggelos commented on #2821
@johanstokking With https://github.com/TheThingsNetwork/lorawan-stack/pull/4425 merged, I think this is not relevant anymore, right?

[2021-07-22 21:03] johanstokking commented on #2821
Yes indeed, I wasn't aware of this issue, thanks for notifying.

Indeed applying the settings while the gateway is connected isn't feasible.

[2021-07-22 21:03] #2821 closed

[2021-07-23 06:54] htdvisser opened #4439 "Release v3.14.0"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-07-23 07:59] bafonins commented on #2681
This could be combined with https://github.com/TheThingsNetwork/lorawan-stack/issues/3975

[2021-07-23 09:03] bafonins commented on #4143
As far as I can see, the Console pushes some test metadata together with uplink messages:
[code]

@adriansmares Can you give more details on what we should include in the payload to resolve the issue?

[2021-07-26 08:00] johanstokking commented on #4439
What is the status here? Is there a reviewer required?

[2021-07-26 08:19] johanstokking opened #4447 "Configure listed explicitly on Packet Broker registration"
#### Summary

Configure whether a network is listed in Packet Broker explicitly in the Console and CLI.

#### Why do we need this?

Networks can only discover one another for peering configuration if their network is publicly listed in Packet Broker.

The reason why listed exists is to avoid that private networks get exposed automatically, leading to potential privacy issues.

So, this is a manual

[2021-07-26 09:16] htdvisser commented on #4439
This is waiting for the documentation site to be updated.

[2021-07-26 13:40] htdvisser commented on #342
Pull request #4450 removed all unused populators, so now it's time to remove all usage of the remaining ones, and remove those too. From what I can see, we still use populators in these places:

- `pkg/applicationserver/io/pubsub` - @adriansmares
- ~`pkg/encoding/lorawan` -- @johanstokking~ – #4452
- ~`pkg/gatewayserver/io/udp` -- @KrishnaIyer~ #4623
- ~`pkg/identityserver/store` -- @htdvisser~ -

[2021-07-27 07:16] bafonins commented on #4412
Tested on the `eu1` cluster on `v3.14.0` release. The issue seems to be resolved. @rcmcronny Please reopen if you still experience this issue

[2021-07-27 07:16] #4412 closed, assigned to bafonins

[2021-07-27 07:18] rcmcronny commented on #4412
@bafonins works for me now, many Thanks !

[2021-07-27 08:01] johanstokking commented on #342
@KrishnaIyer for removing populators from `pkg/gatewayserver/io/udp`; just remove `generatePushData()` and instantiate uplink messages as needed.

@adriansmares the stuff in `pkg/networkservers` seems really easy to clean up; the populators are just there to have a valid state, not to do anything with it.

[2021-07-27 08:33] bafonins commented on #4143
As mentioned in my previous comment, the stack includes some default `rx_metadata` values when dispatching an uplink message. Please reopen this issue if any other fields should be added.

[2021-07-27 08:33] #4143 closed, assigned to bafonins

[2021-07-27 09:19] kschiffer commented on #2435
Currently working on a slimmed-down preliminary solution for this that will enable us to add the Japanese locale already.

[2021-07-27 10:43] johanstokking commented on #2435
Nice! 🙏

[2021-07-27 10:46] johanstokking commented on #18
Missing details are actual reliable metrics on how many TX failures are reported by gateways as compared to successful transmissions. Also we need to understand what the TX failure is, and if we can mitigate them already in Gateway Server.

In The Things Stack, the gateway is under control by the Gateway Server. We do not expect gateways to do any scheduling, conflict mitigation or resolution, dut

[2021-07-27 15:35] kschiffer commented on #4290
So in the registration form, we will deal only with fields that **need** to be set during registration. This means that we will only deal with non-`desired_*` fields during registration. So necessary changes are

*   Use fetched band values as default value for fields
*   Whenever there is a desired value that differs from the default, display this value next to the respective field
    *   Also,

[2021-07-27 19:52] johanstokking commented on #4290
Tooltips

- **Class B timeout**: Time after sending a class B confirmed downlink message in a ping slot to wait for an uplink message with acknowledgment that the confirmed downlink message was received. The Network Server waits for the uplink message with acknowledgment to arrive or for this class B timeout to expire before scheduling other downlink messages. The Things Stack does not schedule MA

[2021-07-28 08:01] lnlp opened #4457 "Documentation for "Adding Devices" is too simple and lacks essential information and details"
#### Summary

Documentation for "[Adding Devices](https://www.thethingsindustries.com/docs/devices/adding-devices/)" is too simple and lacks essential information and details.

#### Why do we need this ?

The documentation is where we should be able to find all needed information,
however essential information and details are missing.

#### What is already there? What do you see now?

Instructions

[2021-07-28 08:43] kschiffer opened #4458 "Hint to gateway claiming for gateways with certain EUIs"
#### Summary

A lot of users currently use gateway registration instead of claiming when using The Things Indoor Gateway, since they do not know about the difference. We should avoid confusion by checking the Gateway EUI in the registration form and show a note leading to claiming if necessary.

#### Why do we need this?
To assist TTIG users that want to use their gateway with TTS.

#### What is a

[2021-07-28 08:45] kschiffer commented on #4458
Wrong repository.
Moved to: https://github.com/TheThingsIndustries/lorawan-stack/issues/2853

[2021-07-28 08:45] #4458 closed, assigned to kschiffer

[2021-07-28 08:54] johanstokking commented on #4290
ABP current vs desired settings tooltip on registration:

This text should appear in a tooltip icon next to the _desired_ value that is rendered next to the field.

---

ABP required fields on registration: (* = needs to be added)

- Class B enabled
	- Class B timeout
	- Ping slot data rate index *
	- Ping slot frequency *
	- Beacon frequency *
- Class C enabled
	- Class C timeout
- RX1 delay
- RX

[2021-07-28 09:19] #4439 closed, assigned to htdvisser

[2021-07-28 10:09] #1432 closed

[2021-07-28 12:18] bafonins commented on #3585
Reopening this issue to keep track of the deleted entity tables as mentioned in https://github.com/TheThingsNetwork/lorawan-stack/issues/3585#issuecomment-880683737

[2021-07-29 08:23] #4431 closed, assigned to bafonins

[2021-07-29 21:24] johanstokking opened #4466 "Put coding rate in band's data rate"
#### Summary

Declare coding rate in band's data rates

#### Why do we need this?

Unlike with LoRa, with LR-FHSS, the data rate is partly defined by the coding rate.

I think that this is needed for https://github.com/TheThingsNetwork/lorawan-stack/issues/3806

#### What is already there? What do you see now?

Gateway independently sets the PHY's LoRa coding rate on downlink.

With LR-FHSS this i

[2021-07-30 09:56] kschiffer commented on #2435
With #4465 merged, we will have a starting point for i18n that also includes the Japanese locale.

Here's how I think we should proceed from there, we should:

*   change the JSON marshaling within the `i18n` package to accept (and write) locale files per language in the same simple key->value format that we use for the frontend
*   Change message loading logic in a way that regions can be accepte

[2021-07-30 11:00] kschiffer commented on #4388
For such unlisted networks, it would not be possible to list the network name (if exists) and dev address blocks, since it is not part of the policy responses. Is there a way we can still get those, or can we include them in the policy responses? Or alternatively, couldn't the network response list unlisted networks as well, in case they have a policy set up towards the own network? I feel like ot

[2021-07-30 12:53] KrishnaIyer commented on #4379
Ok this isn't as simple as renaming the message. There are many `LastSeen` variables in the JS code and this might be confusing if I just replace the display text. I'm handing this back to the console guys.

This is not high prio but could be a nice task for a newbie.

[2021-07-30 13:11] KrishnaIyer commented on #4335
I think I found the issue. This check returns false and the `lbs_lns_secret` is not added to the list of request fields to the backend;
https://github.com/TheThingsNetwork/lorawan-stack/blob/6d72ec73797051985a65dac80bb8e55590e6d313/pkg/webui/console/views/gateway/index.js#L76

@bafonins do you know why this is? My JS isn't good enough to trace this.

I guess the rights check here doesn't work? htt

[2021-07-30 14:32] kschiffer commented on #4457
Thanks for filing this issue @lnlp! The documentation around end device registration has to be updated and extended indeed. Also since we now have a new manual registration form in the Console since 3.14.0.

@benolayinka do you think you can work on this? I can assist you with regards to the new Console form.

[2021-08-01 23:31] neoaggelos commented on #601
Quite a lot of initial work for LoRaWAN decoding in https://github.com/TheThingsNetwork/lorawan-stack/tree/cli-decode-lorawan

[2021-08-02 10:39] johanstokking commented on #4388
I'll look into this and get back.

[2021-08-02 13:36] KrishnaIyer commented on #4265
This is fixed with https://github.com/TheThingsNetwork/lorawan-stack/pull/4426.

Please update your stack to `v3.14.0` and check again. Feel free to comment here if it doesn't work.

[2021-08-02 13:36] #4265 closed, assigned to KrishnaIyer

[2021-08-02 14:26] johanstokking opened #4478 "Remove data rate indices from `TxSettings` and `TxRequest`"
#### Summary

Remove data rate indices from `TxSettings` and `TxRequest`.

#### Why do we need this?

Because intermediate components, like Gateway Server, gateways, other Network Servers in peering scenarios etc, do not need the data rate index.

Instead, the data rate index is part of the contract between the end device and the serving Network Server only.

Deleting these fields will lead to qui

[2021-08-02 16:48] LasaleFamine opened #4481 "Importing device with active session with device.json errored on session_key_id missing key"
#### Summary
I'm trying to import a device into an application using the UI.

#### Steps to Reproduce
This is the `device.json` (with masked values):

[code]

Try to load this (with clear values of course) from "Import device" on the "End device" page of the console.

#### What do you see now?
When I try to upload that json I get this:

![Screenshot 2021-08-02 at 18 43 04](https://user-images.gith

[2021-08-02 17:00] LasaleFamine commented on #4481
Just checked my JSON again and I've found the problem: I've misplaced the `session_key_id` on the previous tries. This is the working JSON:

[code]

By the way, it is worth noting that the `session_key_id` is not mentioned on the documentation of the JOSN file reference.

[2021-08-02 17:00] #4481 closed, assigned to nobody

[2021-08-02 19:14] kschiffer commented on #3983
Issue is not present anymore.

[2021-08-02 19:14] #3983 closed, assigned to kschiffer

[2021-08-02 19:19] kschiffer commented on #2825
Closed via #4400

[2021-08-02 19:19] #2825 closed

[2021-08-02 19:31] kschiffer commented on #3810
Resolved via #4433

[2021-08-02 19:31] #3810 closed, assigned to bafonins

[2021-08-02 19:34] kschiffer commented on #2639
@htdvisser @johanstokking  please signal if this issue can be closed. See my last comment.

[2021-08-02 19:40] kschiffer commented on #1622
This has been fully implemented since https://github.com/TheThingsNetwork/lorawan-stack/pull/3900

[2021-08-02 19:40] #1622 closed

[2021-08-02 19:40] kschiffer commented on #1564
I don't deem this necessary anymore.

[2021-08-02 19:40] #1564 closed

[2021-08-02 20:54] benolayinka commented on #4457
Moved to https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/492

[2021-08-02 20:54] #4457 closed, assigned to kschiffer, benolayinka

[2021-08-03 08:49] htdvisser commented on #2639
I think this is good enough for now, so I'm fine with closing this.

[2021-08-03 10:50] kschiffer commented on #2681
Should also be addressed by #4480

[2021-08-03 11:23] htdvisser commented on #3817
Roadmap update: Q4 2021 - Conference 2022

[2021-08-03 15:36] johanstokking commented on #2639
Yep, we'll file new issues based on progressive insight and technical availabilities.

[2021-08-03 15:36] #2639 closed

[2021-08-03 17:27] #4360 closed, assigned to adriansmares

[2021-08-04 09:14] #4331 closed, assigned to kschiffer

[2021-08-04 09:14] #2681 closed

[2021-08-04 09:19] #4335 closed, assigned to bafonins

[2021-08-04 10:05] #4324 closed, assigned to bafonins

[2021-08-04 11:50] htdvisser commented on #3694
Since @neoaggelos isn't going to finish this before the v3.14.1 deadline, I'll move it to v3.14.2.

[2021-08-04 11:51] htdvisser commented on #4361
Since @neoaggelos isn't going to finish this before the v3.14.1 deadline, I'll move it to v3.14.2.

[2021-08-04 11:51] htdvisser commented on #601
Since @neoaggelos isn't going to finish this before the v3.14.1 deadline, I'll move it to v3.14.2.

[2021-08-04 11:51] johanstokking commented on #4388
@kschiffer's proposal is sound; I'll cram this in for 3.14.1.

[2021-08-04 14:37] #3888 closed, assigned to kschiffer

[2021-08-05 08:01] dhtek opened #4490 "Error missing_tenant_id"
#### Summary
This message appears when trying to execute a command after a success login on the CLI.

#### Steps to Reproduce
1. Download the version 3.14 CLI for Windows amd64
2. Execute `ttn-lw-cli.exe use eu1.cloud.thethings.network`
3. Execute `ttn-lw-cli.exe login`
4. Execute `ttn-lw-cli.exe end-devices list my_application_id`
5. Got the error "error:pkg/tenant/middleware:missing_tenant_id (m

[2021-08-05 09:28] elsalahy commented on #3770
It would be great if we can prioritize this issue so that we can claim the 500 batch of generic nodes on the community cluster.
We have a production deadline on the 15th of August.
We need to test this before placing the QR codes on the back of the devices.
cc: @azerimaker @johanstokking @NicolasMrad

[2021-08-05 11:56] gruijter commented on #4435
Bump. So what is going to happen with this request?

[2021-08-05 15:57] ilcato opened #4496 "Internal error server when max user limit is reached in create user API"
#### Summary

Calling create user API after reaching max number of users for the tenant results in a generic _Internal Server Error_ instead of a managed error.

#### Steps to Reproduce

1. Create a new _The Things Stack Discovery - FREE TIER_ instance
2. Create 3 users (the maximum) using the console
3. Try to create the fourth user via the REST API

#### What do you see now?

The response body i

[2021-08-05 22:42] benolayinka commented on #4378
Moved to https://github.com/TheThingsNetwork/lorawan-devices/issues/276

[2021-08-05 22:55] benolayinka commented on #3585
How is hard delete done in the console now? I'd like to add a screenshot to https://www.thethingsindustries.com/docs/reference/purge/

[2021-08-06 08:45] johanstokking commented on #4447
Wrong issue referenced

[2021-08-06 08:45] johanstokking commented on #4388
Closed by #4489

[2021-08-06 08:45] #4388 closed, assigned to johanstokking

[2021-08-06 10:05] htdvisser opened #4497 "Release v3.14.1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-08-06 11:48] htdvisser commented on #1406
@neoaggelos can you please post a status update here? What's done and what's still TODO?

We recently had quite some issues with MQTT on V2, so I'm also interested in hearing about MQTT connection limits. Can we already limit the number of active MQTT connections (per username, per IP)?

[2021-08-06 19:47] johanstokking opened #4499 "Remove deprecated TLS authentication"
#### Summary

Remove deprecated TLS authentication

#### Why do we need this?

Packet Broker doesn't support it anymore.

It was deprecated since 3.10.6.

#### What is already there? What do you see now?

TLS authentication in Packet Broker Agent.

#### What is missing? What do you want to see?

Have it removed entirely.

#### How do you propose to implement this?

- Remove from config
- Remove in

[2021-08-07 19:18] christianwicke opened #4500 "confusing error message if dev-eui is too short"
#### Summary

There is no check on the length of the dev-eui.
Instead a technical error is shown:

`error:pkg/types:invalid_length (invalid slice length)`

This error doesn't show which parameter is wrong.

#### Steps to Reproduce

run
`ttn-lw-cli end-devices create a b --net-id 000013 --join-eui 0000000000000000 --dev-eui 123456789012`

#### What do you see now?

`error:pkg/types:invalid_length (

[2021-08-08 07:54] jpmeijers opened #4502 "ABP frame counter reset behaviour"
#### Summary

It's a little confusing how ABP frame counter resets behave when "Frame Counter Resets" is enabled. It seems like a device can go from fcnt 0, to 1, back to 0. But a device can not go from fcnt 0 directly back to fcnt 0, as the packet is then seen as a duplicate.

It would be nice to allow duplicate fcnt values if the fcnt==0, and "Resets Frame Counts" is enabled.

#### Why do we nee

[2021-08-08 17:59] jchonig opened #4503 "lora-basic-station and TTS disagree on the interpretation of EUI 80:fd46"
#### Summary
Using mLinux 5.0.3d with lora-basic-station 2.0.5 with an EUI of 008000000000FD46 fails to connect with

[code]

lora-basic-station is parsing the EUI a *008000000000FD46* and as you can see above, passing it to TTS as *80::fd46* where it is being interpreted as *000000800000FD46*.

If I change the EUI to on the console to *000000800000FD46* as a workaround, lora-basic-station will co

[2021-08-08 21:34] jchonig commented on #4503
If I don't provide a *routerid* in station.conf, lora-basic-station will use the MAC address of *eth0*:

[code]

However TTS does not seem to interpret this the same way as lora-basic-station:

[code]

It will only connect if I configure the EUI in the TTS GUI to match what TTS interprets.

Thanks.

Jeff

[2021-08-09 12:38] nejraselimovic commented on #4435
@gruijter this doesn't really have much to do with payload formatters, since RSSI and SNR data are part of the uplink message metadata, but are not present as part of the `frm_payload` (which is a payload that you decode using payload formatters to get the `decoded_payload`).

As the matter of fact, the whole uplink message (including SNR and RSSI metadata that are of your interest) is forwarded t

[2021-08-09 20:23] johanstokking commented on #4502
Hmm, I understand this can be useful for quick testing. It makes message handling less LoRaWAN compliant than it already is though, because duplicate detection and retransmissions would be skipped for `FCnt=0`. We'll discuss internally and triage here. Thanks for reporting.

[2021-08-09 20:47] johanstokking commented on #4503
@jchonig Thanks for reporting.

@KrishnaIyer I do see test failure with the ID:

[code]

However, I do see two distinct problems here.

First, `80::fd46` has three groups, while four are expected. The way we interpret this, is by filling in right-to-left, meaning that the fourth is the leftmost, which is empty, resulting in `0000 0080 0000 FD46`.

Second, `0:8:4a:2b2c` has four groups, and here yo

[2021-08-09 22:13] jchonig commented on #4503
@johanstokking

Re: `80::fd46`

Basic Station ID6 addresses are an 64-bit form of an IPv6 address.   That is briefly mentioned in the [Basic Station documentation](https://doc.sm.tc/station/glossary.html) .

According the the IPv6 rules, this should be `0080 0000 0000 FD46`.

An ellipsis (::) is *not* just one group of zero.   An ellipsis needs to be replaced with one or more groups of zeros until

[2021-08-09 22:13] jchonig commented on #4503
Re: `0:8:4a:2b2c`

The MAC address that the Basic Station is trying to represent as `0:8:4a:2b2c` is `00:08:00:4a:2b:2c`.   That would be a test of:

[code]
The log of it trying to connect shows:

[code]

Even though I updated the EUI in the GUI, the CLI still returns the EUI below.  Which means that this is a different bug, updating the EUI in the GUI claims success but does not update the databa

[2021-08-09 23:39] jchonig commented on #4503
Here is the [code](https://github.com/lorabasics/basicstation/blob/master/src/uj.c#L874-L896) that encodes the ID6 on the Basic Station side.

[2021-08-10 00:24] reissjason commented on #4503
I agree with @jchonig on the parsing of double colons according to the Basic Station example.
https://github.com/TheThingsNetwork/lorawan-stack/issues/4503#issuecomment-895586247

The first test case @johanstokking posted should pass and the second should fail.
https://github.com/TheThingsNetwork/lorawan-stack/issues/4503#issuecomment-895532091

https://github.com/TheThingsNetwork/lorawan-stack/bl

[2021-08-10 01:33] jchonig commented on #4503
@ reissjason

Your regexp works, except for the `::X` cases and `::X:Y` cases, with or without the `name-` prefix.

[2021-08-10 01:43] jchonig commented on #4503
@reissjason

Your regex doesn't match `::X`, `::X:Y`, with our w/o the `name-` prefix.

[2021-08-10 02:43] reissjason commented on #4503
Looks like I had a mistake in the first hex match where I changed the 0,4 to 1,4.

[ '::1:2',
  undefined,
  '',
  undefined,
  '1',
  '2',
  index: 0,
  input: '::1:2' ]

[ 'router-::1:2',
  'router',
  '',
  undefined,
  '1',
  '2',
  index: 0,
  input: 'router-::1:2' ]

[ 'router-1::',
  'router',
  '1',
  undefined,
  undefined,
  '',
  index: 0,
  input: 'router-1::' ]

It does not rule out s

[2021-08-10 09:22] johanstokking commented on #4502
@jpmeijers we just discussed this. This is still a sliding edge. The next request may be that FCnt 1 gets the same behavior because some firmwares start with 1.

Also we already have behavior in place for handling frames with the same FCnt (deduplication, cooldown window, gathering additional RX metadata for downlink paths, handling retransmissions, etc). Our current position is that we don't want

[2021-08-10 09:36] KrishnaIyer commented on #4490
I just closed this via https://github.com/TheThingsNetwork/lorawan-stack/pull/4507

[2021-08-10 09:36] #4490 closed, assigned to KrishnaIyer

[2021-08-10 09:38] jpmeijers commented on #4502
Interesting. I was about to ask about that in a different issue. Use case: balloon flights. Some frames are delayed and seen as duplicates, but still contains very valuable metadata.

[2021-08-10 10:52] bafonins commented on #3585
@benolayinka Currently, entity deletion works as follows:

<img width="700" alt="Screenshot 2021-08-10 at 13 53 08" src="https://user-images.githubusercontent.com/16374166/128854499-70bc89c0-7d07-4729-b053-36b8197bfddf.png">
<img width="700" alt="Screenshot 2021-08-10 at 13 53 00" src="https://user-images.githubusercontent.com/16374166/128854503-8e2dd9ac-74d4-46cb-bace-ed1d911a69d2.png">

1. If th

[2021-08-10 13:49] johanstokking commented on #4502
The way it is implemented today is that the Network Server uses a deduplication window (default 200 ms), in which it waits for duplicates to arrive from various sources (different gateways and peering). After the deduplication window closes, there's a cooldown window of 1 second, in which all duplicate frames are being discarded. During that time, the NS can gracefully process the deduplicated upl

[2021-08-10 14:13] #4503 closed, assigned to johanstokking

[2021-08-11 06:58] romach opened #4516 "Can't use /oauth/logout request for federated logout"
#### Summary

I'm trying to use `https://eu1.cloud.thethings.network/oauth/logout?access_token_id=<ACCESS_TOKEN>` request to logout from all sessions. But, instead, I'm logged out only from the current session.

#### Steps to Reproduce

1. Login to console using https://eu1.cloud.thethings.network/oauth/login url
2. Get access token using Oauth flow (https://www.thethingsindustries.com/docs/refere

[2021-08-11 08:52] kschiffer opened #4518 "Expose `band` pkg via API to enable sourcing FP constraints"
#### Summary
We need to come up with a way to expose the restrictions of frequency plans with regards to MAC/PHY versions.

#### Why do we need this?
E.g. the Australian FPs do not support MAC/PHY 1.0.0. However, the Console still allows setting this combination because the frontend is unaware of such restrictions. This leads to frustration when users fill out the end device registration form and

[2021-08-11 09:07] johanstokking commented on #18
Small update here: since https://github.com/TheThingsNetwork/lorawan-stack/pull/4506, NS will not try downlink to the same cluster through Packet Broker after Gateway Server failed to schedule. Currently, there's a relatively high amount of downlink errors in PB because of this.

So when we have 3.14.2 deployed on TTN and TTSC, we can start looking at PB downlink errors that are being reported.

-

[2021-08-11 09:16] #4447 closed, assigned to johanstokking

[2021-08-11 09:16] #4499 closed, assigned to johanstokking

[2021-08-11 09:37] kschiffer opened #4519 "Apply band constraints to end device registration form"
#### Summary
The end device registration forms in the Console should avoid offering frequency plan and MAC/PHY version selections that are mutually exclusive.

#### Why do we need this?
To avoid submit errors when it is avoidable.

#### What is already there? What do you see now?
- Select elements for FP, MAC, and PHY version
- Filtering of PHY versions based on the MAC version

#### What is missi

[2021-08-11 09:37] kschiffer commented on #4518
Currently blocking #4519

[2021-08-11 10:26] adriansmares opened #4520 "Improve observability of application server integrations"
#### Summary

We probably should improve the observability of application server integrations.

#### Why do we need this?

In order to provide feedback on how integrations behave.

#### What is already there? What do you see now?

Application packages based integrations have events that trigger on failure.

#### What is missing? What do you want to see?

1. For packages that don't emit service dat

[2021-08-11 12:58] kschiffer commented on #4516
Hi @romach !

It is true that the endpoint you describe only deletes the access token and terminates the exact session that it was associated with. We cannot terminate all sessions by default because that could affect access to other clients on other machines as well, which is not desired. If you want to have more control over sessions and access tokens, you can use these endpoints:

`GET /api/v3/

[2021-08-12 06:32] htdvisser commented on #4497
Still waiting on the documentation site to be updated, but I'm going to close this issue and the milestone.

[2021-08-12 06:32] #4497 closed, assigned to htdvisser

[2021-08-12 06:33] htdvisser commented on #4496
This should be fixed by https://github.com/TheThingsNetwork/lorawan-stack/pull/4511 and https://github.com/TheThingsIndustries/lorawan-stack/pull/2872

[2021-08-12 06:33] #4496 closed, assigned to htdvisser

[2021-08-12 08:43] #4516 closed, assigned to nobody

[2021-08-12 08:43] htdvisser opened #4522 "Console calls disabled APIs in JS-only deployments"
#### Summary

The Console tries to call disabled APIs in JS-only deployments.

#### Steps to Reproduce

1. Go to https://sandbox.join.cloud.thethings.industries
2. Create an application
3. Try to create an end device

#### What do you see now?

- The Console tries to `GET /as/configuration` on an AS that does not exist.
- The Console tries to `GET /configuration/frequency-plans` on an NS that does

[2021-08-12 08:52] johanstokking commented on #4520
To whom?

If the audience are application owners, it would just be activity that it does work. If things don't work, we should already have error events. Webhooks that don't return a HTTP status code that is successful, should result in error events. Webhooks that timeout should result in error events.

If the audience are operators, they don't have access to these events, however, behavior and pe

[2021-08-12 09:00] adriansmares commented on #4520
That's indeed a good one. The target audience, from the original issue (https://github.com/TheThingsIndustries/lorawan-stack-support/issues/525) indeed seems to be application owners - we probably should focus on that.

Network operators already have quite some metrics, both regarding flow and errors.

[2021-08-12 12:12] johanstokking commented on #4520
OK, I see. So, in the case of webhooks, we would be publishing a success event that includes the compiled URL, status code and time?

In the case of application packages, there would be a specific success event for the concerning package?

I would be okay with this. It will add quite some events though, but these seem to me more relevant than some events that we currently have (most notably in NS)

[2021-08-12 12:18] adriansmares commented on #4520
:+1:

:+1:

I would also add that probably the success events should not be visible in the Console unless verbose logging has been enabled.

[2021-08-12 13:09] #3618 closed, assigned to htdvisser

[2021-08-13 07:12] htdvisser opened #4526 "Disable webhook configuration after too many failures"
#### Summary

I think we should build functionality into the AS Webhooks that disables webhook configurations after too many failures.

#### What is already there? What do you see now?

The AS is wasting a lot of time attempting webhooks that never succeed.

#### What is missing? What do you want to see?

Disable webhook configurations after a (configurable) number of failures.

#### How do you pr

[2021-08-13 07:15] htdvisser opened #4527 "Require successful webhook transmission before enabling the configuration"
#### Summary

When setting up a webhook configuration, we should verify that we can send webhooks to it before enabling the configuration.

#### What is already there? What do you see now?

Right now we have obviously incorrect webhook configurations.

#### What is missing? What do you want to see?

When creating a webhook, the AS should attempt to send a test payload, and only enable the webhook

[2021-08-13 07:55] #4500 closed, assigned to htdvisser

[2021-08-13 12:53] gruijter commented on #4435
I also asked ThingSpeak (Matlab). See this link:
https://www.mathworks.com/matlabcentral/answers/883319-things-stack-ttn-v3-howto-write-lorawan-message-information-to-thingspeak-stream

[2021-08-13 18:13] nejraselimovic opened #4530 "Random CLI config options allowed"
#### Summary
When I add a random config option (`z-random-config-option` and `tenant-admin-key` in the screenshot below) to `tti-lw-cli.yml` file and list the configuration with `tti-lw-cli config`, everything seems normal and no error is reported. This leads to a confusion that this random config option is legit, but you soon realize this config option doesn't work.

Thanks to this I wasn't aware

[2021-08-14 09:36] christianwicke commented on #4500
Thank you very much. You fixed this very fast. I wasn't expecting this.

[2021-08-16 11:02] neoaggelos commented on #4530
Some more context, this is coming from `(*viper.Viper).AllKeys() []string` (in https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.14/pkg/config/config.go#L78), which returns all keys read from config files.

Possible solutions would be to:

- Stop using `AllKeys()` for iterating over config options, or use reflection on the config struct to check if a set key is actually valid config. This

[2021-08-16 13:36] kschiffer commented on #3522
Closing this, since most functionality is now implemented. Tracking JS functionality in #3770

[2021-08-16 13:36] #3522 closed, assigned to bafonins

[2021-08-16 13:39] kschiffer commented on #3413
cc @johanstokking we are lacking some details on this. Can you help us out seeing whether this is still necessary?

[2021-08-16 13:41] kschiffer commented on #3278
@htdvisser since you made the webinar about it. Is there anything we can/should add from that?

[2021-08-16 13:45] kschiffer commented on #2694
See also #3947

[2021-08-16 13:49] htdvisser commented on #4530
I would rather not touch the config package too much right now; it's way too easy to break something, and since config is covered by our compatibility commitment we should really avoid that. On the other hand, I'm generally not too happy with the quality of the config package, and I think that it should probably be re-implemented at some point in the future. But I don't think now is the time for t

[2021-08-16 13:50] kschiffer commented on #1748
@KrishnaIyer can you give an update on this?

[2021-08-16 13:53] kschiffer commented on #189
Reminder for myself to include this in form updates.

[2021-08-16 13:54] htdvisser commented on #3278
Not really. Our documentation doesn't need to cover setting up the Raspberry Pi itself, and the part where I install The Things Stack just follows the Docker instructions that we already have in the docs.

If anyone needs step-by-step instructions for the RPi specifically, they can watch [my conference talk](https://www.youtube.com/watch?v=7UlqLtl8GcU) or read [the transcript](https://www.thething

[2021-08-16 13:54] #3278 closed, assigned to htdvisser

[2021-08-16 13:56] htdvisser commented on #4500
You're welcome!

Do keep in mind that this will land in the next release, so if you'd make the same mistake now, you'd still get the old error.

[2021-08-16 13:56] kschiffer commented on #2
@johanstokking does this need to be reprioritized?

[2021-08-16 14:10] KrishnaIyer commented on #1748
I'm not sure if this is a priority at the moment. If yes, please let me know and I can consider looking into it and commenting on the next steps.

[2021-08-17 08:35] zgldh opened #4536 "Outdated documentation on official website"
#### Summary

No need the flag ` --logout-redirect-uri` when creating the OAuth client for console.
...

#### Why do we need this ?

Please check this page https://www.thethingsindustries.com/docs/getting-started/installation/running-the-stack/
The command of this paragraph: Afterwards, the same needs to be done for the Console.
...

#### What is already there? What do you see now?

The flag `  --

[2021-08-17 08:45] johanstokking commented on #3413
That's what you get when one doesn't take some time to write issues 🤷‍♂️

This one is about Console support for the application activation settings (AAS). They are used by the Join Server when activating a device. It's about the following settings:

1. Key encryption key and label. This is used to wrap the AppSKey before it is sent to the Network Server. This way, the Network Server cannot see the

[2021-08-17 08:50] johanstokking commented on #2
I prioritized https://github.com/TheThingsIndustries/the-things-id/issues/63 instead.

This issue is only relevant for The Things Stack Open Source really; Enterprise supports OpenID Connect providers. We may want to bring that to Open Source so people can also use The Things ID here.

@NicolasMrad what do you think?

[2021-08-17 09:23] htdvisser commented on #4536
The documentation is correct, when registering the Console client, we do need the `--logout-redirect-uri` flag. @michalborkowski96 can you try and reproduce this `unknown flag: --logout-redirect-uri` error?

[2021-08-17 09:27] NicolasMrad commented on #4526
https://github.com/TheThingsIndustries/lorawan-stack/issues/2440

[2021-08-17 09:45] NicolasMrad commented on #14
https://discuss.thethingsindustries.com/t/design-document-for-application-data-garbage-control/613

[2021-08-17 10:35] zgldh commented on #4536
![深度截图_选择区域_20210817183447](https://user-images.githubusercontent.com/312404/129711355-da48594a-b72c-4ca0-a9af-fdeac704b03c.png)

[2021-08-17 12:56] NicolasMrad opened #4538 "Modify the Delete Account warning message"
#### Summary

make the account deletion warning message more clear, in order to decrease the number of accidental account deletions without adding contributors to applications and gateways.

#### Why do we need this?

so users will not delete their account without adding contributors to their applications/gateways first

#### What is already there? What do you see now?

![image](https://user-image

[2021-08-17 14:57] kschiffer opened #4539 "Prevent users from submitting zero or empty security keys"
#### Summary
It is currently possible to submit the general settings form for ABP devices with empty security keys. This causes an [avoidable error](https://sentry.io/organizations/the-things-industries/issues/2298261705) when submitting the form.

#### Steps to Reproduce

1. Create an ABP device with MAC Version `1.1.0`
2. Go to the general settings form of the new device
3. Expand the network la

[2021-08-17 16:52] #4530 closed, assigned to neoaggelos

[2021-08-17 20:26] neoaggelos commented on #601
LoRaWAN encoding is already implemented and present in the `ttn-lw-cli simulate join-request --dry-run` family of commands (also for uplink and downlink messages), so focusing on decoding only.

[2021-08-17 21:53] #3694 closed, assigned to neoaggelos

[2021-08-18 08:38] bafonins commented on #2694
Blocked on https://github.com/TheThingsNetwork/lorawan-stack/issues/3947

[2021-08-18 08:41] bafonins commented on #1748
@johanstokking should we prioritize this?

[2021-08-18 10:29] #3424 closed, assigned to bafonins

[2021-08-18 14:39] neoaggelos commented on #3155
Is this still relevant, what do we need to do for this one? @KrishnaIyer

[2021-08-18 14:43] neoaggelos commented on #2938
Is this related to/duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/3769?

[2021-08-18 14:53] neoaggelos commented on #536
Removing milestone, no point in doing this before Rejoins are actually supported. https://github.com/TheThingsNetwork/lorawan-stack/issues/8

[2021-08-18 14:55] neoaggelos commented on #1382
Is this important to keep around? @htdvisser I suppose we can just close this.

[2021-08-18 15:06] KrishnaIyer commented on #3155
I'm not entirely sure since the scope of this issue and the linked issues have changed quite a bit since this was created.

[2021-08-18 15:13] NicolasMrad commented on #2
I think we can prioritise https://github.com/TheThingsIndustries/the-things-id/issues/63 and keep OpenID Connect for enterprise users only at the moment as an added value.

[2021-08-18 15:32] nejraselimovic opened #4546 "Google Cloud integration"
#### Summary
I got a question from The Things Summer Academy student whether a Google Cloud integration is possible? I have no idea how that works for IoT or LoRaWAN, @adriansmares perhaps you can share your thoughts?

#### Why do we need this?
...

#### What is already there? What do you see now?
...

#### What is missing? What do you want to see?
...

#### Environment
...

#### How do you propos

[2021-08-18 17:35] neoaggelos commented on #3333
For future reference, when adding new MAC settings (or generally new fields to the `EndDevice` message, the following changes are needed for the Network Server:

- Update `FieldIsZero()` check for the new field, e.g. https://github.com/TheThingsNetwork/lorawan-stack/pull/4547/files#diff-9085d0dbbf2898df8f7f8b12759aaef850f4e3e9cc88b970815cdced1d4219acR192-R193. Make sure to update all parent messag

[2021-08-19 07:34] htdvisser commented on #1382
This will eventually be resolved when we're done migrating away from gogo proto (https://github.com/TheThingsNetwork/lorawan-stack/issues/2798), so I don't think we need to keep this open.

[2021-08-19 07:34] #1382 closed

[2021-08-19 08:01] johanstokking commented on #2
For background, 2FA isn't easy because:

1. We need users to get those codes. We could render a QR that they can scan with their favorite authenticator app and/or we could send text messages.
2. We need to validate the codes. This, and the previous point, are probably the easiest things.
3. We need a recovery process in case users lost their phone, changed their number or whatever. High level, we

[2021-08-19 08:03] johanstokking commented on #1748
Not for now.

This is also pending the chosen standard gateway to Network Server protocol by the LoRa Alliance. Beacons are really gateway driven and require some config from the NS only.

[2021-08-19 14:37] johanstokking commented on #2938
Not really; that's more about proof of ownership in files. I'm closing this because we can work with our JSON format, which is well documented.

[2021-08-19 14:37] #2938 closed

[2021-08-19 14:38] johanstokking commented on #3769
I'm closing this because device makers can already use transport security to provision root keys. For transferring ownership, we have claiming.

[2021-08-19 14:38] #3769 closed, assigned to neoaggelos

[2021-08-19 14:39] johanstokking commented on #3155
I don't think we should do this.

[2021-08-19 14:39] #3155 closed, assigned to neoaggelos

[2021-08-20 13:44] romach opened #4551 "Unable to register a device with "duplicate_identifiers" error"
#### Summary

When I try to register a device, i got `duplicate_identifiers` error

#### Steps to Reproduce

1. Go to the application in the Things Network console
2. Click on "Add end device"
3. Select "Manually" tab
4. Fill device information
5. Click on "Register end device" button

#### What do you see now?

See error: Duplicate identifiers
[code]
#### What do you want to see instead?

List of

[2021-08-20 14:57] #601 closed

[2021-08-20 16:40] neoaggelos commented on #1406
For Community and Cloud, we do limit rate of new connections. Limiting the maximum number of concurrent connections is basically coming with https://github.com/TheThingsIndustries/lorawan-stack/pull/2879

This has been implemented in [https://github.com/TheThingsNetwork/lorawan-stack/tree/feature/rate-limiting-config-subnets], along with unit tests to verify the behaviour. If implementation seems

[2021-08-22 15:58] bafonins commented on #4290
@neoaggelos based on your comment https://github.com/TheThingsNetwork/lorawan-stack/issues/4290#issuecomment-879693986 NS returns `0` for `beacon_frequency` entry as the default value which is invalid for NS. When submitting this to NS the following error is returned:
[code]

Request payload:
[code]

Is this expected?

[2021-08-24 09:15] neoaggelos commented on #4290
This is because we always set the `BeaconFrequency` (which is a `ttnpb.FrequencyValue`) even if `mac.DeviceDefaultBeaconFrequency()` returns 0.

An easy workaround for `BeaconFrequency` (and `DesiredBeaconFrequency`) is https://github.com/TheThingsNetwork/lorawan-stack/commit/293ee1a744ed5944232df75eb8c711a90f531d7b. cc @adriansmares

[2021-08-24 09:26] #4370 closed, assigned to kschiffer

[2021-08-24 09:37] NicolasMrad commented on #4551
To be able to troubleshoot this issue correctly, we need more background information from your side.
Did you register this device previously and deleted it? If so, did you receive any errors upon trying to delete the device?
And can you please inform us about the environment that you're using?

[2021-08-24 09:40] NicolasMrad commented on #4546
at the moment Google Cloud integration is not possible. Will keep this issue opened for community votes and future reference.

[2021-08-24 13:13] #4539 closed, assigned to bafonins

[2021-08-24 13:30] michalborkowski96 commented on #4536
@zgldh I cannot reproduce this. Is it possible that you're using an old image? As in, you fetched the `latest` image long ago, before `logout-redirect-uri` was introduced [in this commit](https://github.com/TheThingsNetwork/lorawan-stack/commit/bcbb79bf5783db87117935004e4c97680cecd1bb)? Try:

1. Cleaning cache so that Docker fetches the `latest` image again.
2. Specifying `3.14.1` image, so that y

[2021-08-24 16:04] #3585 closed, assigned to bafonins

[2021-08-24 16:33] #4361 closed, assigned to neoaggelos

[2021-08-25 06:32] #3784 closed, assigned to bafonins

[2021-08-25 08:24] zgldh commented on #4536
I think I got the old version: 3.7.0
![深度截图_选择区域_20210825162140](https://user-images.githubusercontent.com/312404/130755273-c98736a5-5110-4dfa-b8ff-7719d65ccefb.png)

I will do the updating.
Thank you very much!

[2021-08-25 08:24] #4536 closed, assigned to michalborkowski96

[2021-08-25 11:14] kschiffer opened #4558 "Automatically expand form toggle sections when a validation within fails"
#### Summary
Our forms should automatically expand sections that contain fields that had validation errors when submitting a form.

#### Steps to Reproduce
1. Within an application, register a new device and use the manual registration mode
2. Fill out all required fields
3. Expand the `Show advanced activation, LoRaWAN class and cluster settings` section
4. Uncheck `Use network's default MAC sett

[2021-08-25 12:37] KrishnaIyer commented on #4518
Moving this due to time constraints. Will pick it up early next milestone.

[2021-08-26 10:17] romach commented on #4551
Yes, I have added this device using HTTP API ([https://www.thethingsindustries.com/docs/reference/api/end_device/](https://www.thethingsindustries.com/docs/reference/api/end_device/)).
But, by mistake, I have used the wrong device id in requests
    - `PUT /api/v3/js/applications/{end_device.ids.application_ids.application_id}/devices/{end_device.ids.device_id}`
    - `PUT /api/v3/ns/applications/

[2021-08-26 11:39] #3333 closed, assigned to neoaggelos

[2021-08-27 10:52] KrishnaIyer opened #4561 "Release v3.14.2"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-08-27 15:39] Elfe commented on #4502
So an ABP device always needs to transmit 2 messages with increasing frame counters before it can reset the frame counter?

On the v2 network I have/had ABP devices that have no state and send a message when a certain condition is met.
Now I would need to send multiple messages or switch to OTA activation (which results in even more messages)?

The devices transmit a timestamp (from GPS) which is

[2021-08-30 20:13] benolayinka commented on #4378
@johanstokking @htdvisser could one of you do this without too much trouble? it will also unblock https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/271#issuecomment-872087857

[2021-08-31 13:18] nejraselimovic opened #4564 "Cancelling The Things ID login leads to "Forbidden" error"
#### Summary
Cancelling login via The Things ID leads to "Forbidden" error

#### What do you see now?
![1](https://user-images.githubusercontent.com/65215579/131509248-20d6eae5-588b-497a-ac3b-159b0b2c25b9.png)

If you click **Cancel**, you get:
![2](https://user-images.githubusercontent.com/65215579/131509261-605659d0-e254-4c81-a611-8d4e2c0bfe9b.png)

#### What do you want to see instead?
Instead

[2021-09-02 16:45] olicooper commented on #4539
This has introduced a bug for me where I receive a message `Invalid value of field session.keys.nwk_s_enc_key.key` when saving Network Layer changes despite not changing anything and the `NwkSKey` field being correctly populated (I was only trying to edit the `Ping Slot Frequency` field at the time).

### Error details
[code]

### PUT request
_Note: `f_nwk_s_int_key` and `session_key_id` modified

[2021-09-06 09:54] htdvisser commented on #4378
I don't understand what exactly you need. We already generate structured data for all CLI commands and you can already render them with a shortcode.

[code]

[2021-09-06 11:24] benolayinka commented on #4378
Because I prefer to just use the cobra markdown docs, to create the same cli doc structure we have for packetbroker -> https://packetbroker.net/commands/

But to generate proper markdown docs, cobra needs a prepender (for front matter) and a link substituter (for related cmds), which @johanstokking added here -> https://github.com/packetbroker/pb/blob/baafadf27bad8ec1ec779c53dafaacbb516fa037/cmd/i

[2021-09-06 12:20] Oliv4945 opened #4579 "Unable to register a device with external JS in the console"
#### Summary

Since a recent release, I do not find how to manually register a device using an external join server.

#### Steps to Reproduce

1. Go to the `Register end device` page
2. Select `Manually`
3. In `Cluster settings`, I checked `Use external LoRaWAN backend servers`; not sure if it is required
4. Then set the JS address in `Join Server Address`; not sure if it is required as `JoinEUI`

[2021-09-07 09:44] #1406 closed

[2021-09-07 12:32] benolayinka commented on #4378
I've added this feature here -> https://github.com/TheThingsNetwork/lorawan-stack/pull/4594

@htdvisser @johanstokking can you make a guess why `GenMDDoc` generates all docs except for the `ttn-lw-cli end-devices templates` command? It's not specific to my branch, this file is also missing when I run `go run ./cmd/ttn-lw-cli gen-md-doc` from v3.14.

[2021-09-07 13:46] #4538 closed, assigned to bafonins

[2021-09-07 14:51] KrishnaIyer commented on #4561
This is completed now

[2021-09-07 14:51] #4561 closed, assigned to KrishnaIyer

[2021-09-08 10:08] KrishnaIyer opened #4597 "LBS rollover issue for very low traffic edge case"
#### Summary

LBS clock rollover not accounted for in rare cases where the current timestamp is close to a rollover and the next uplink is received one hour later.

#### Steps to Reproduce

1. Send an uplink close to the rollover; ex: with xTime `0xBF0004D7E908E4`
2. Wait for one hour
3. Send the next uplink, ex: with xTime `0xBF0005AEDFEAFC`
4. The gateway clock in the above xtime is `0xxxxxx5xxx

[2021-09-08 12:42] KrishnaIyer commented on #4518
This is actually related to https://github.com/TheThingsNetwork/lorawan-stack/pull/4591/files. We can add an RPC to the cluster package to fetch supported bands.

[2021-09-08 13:10] adriansmares commented on #4518
You can already build this using `band.All` - the usage won't change _too much_ after #4591 is done, so don't consider it blocking.

[2021-09-08 14:12] #4597 closed, assigned to KrishnaIyer

[2021-09-09 11:35] #3997 closed, assigned to htdvisser

[2021-09-09 11:36] htdvisser commented on #3997
We don't need a separate issue for this specific option; we can indeed remove nullable=false as part of the GoGo issue.

[2021-09-09 11:38] htdvisser commented on #2485
We haven't really had a lot of discussion lately, so I think we can keep pointing new contributors to external style guides, and not spend time writing our own.

[2021-09-09 11:38] #2485 closed

[2021-09-09 11:39] KrishnaIyer commented on #3202
Replaced by https://github.com/TheThingsIndustries/lorawan-stack/issues/2742

[2021-09-09 11:39] #3202 closed, assigned to htdvisser, kschiffer, KrishnaIyer, johanstokking

[2021-09-09 13:36] adriansmares opened #4606 "Optimize Application Server worker pools"
#### Summary

_A worker pool is just a pool of goroutines for the purpose of this issue._

The Application Server has multiple worker pools:
- The worker pool used by the webhooks frontend
- The worker pool used by the application packages frontend - each package has a pool

These pools are _static_, the number of workers is always the same.

#### Why do we need this?

As the load on the applicati

[2021-09-10 08:41] htdvisser commented on #2798
I think it's time for the entire team to start working this, because I really can't (and don't want to) do this alone. It's very time consuming work, and often frustrating, but it needs to be done.

Before my vacation I've spent a lot of time on generating JSON (un)marshalers, which should let us remove the `gogoproto.customtype`s and hand-written JSON (un)marshalers.

Unfortunately, we still have

[2021-09-10 10:38] #4606 closed, assigned to adriansmares

[2021-09-10 23:50] lanmarc77 opened #4610 "behaviour of ADR"
#### Summary
There might be multiple issues here.
I deactivated ADR in MCCI LMIC 4.0, still the current public community stack sends an ADR frame down.
Additionally that ADR frame sets SF12, even for good rssi snr values. LMIC is not yet protected against ADR frames from a LoRaWAN Server if it does not expect those, so it simply accepts them.
I implemented a patch to not accept ADR frames in LMIC

[2021-09-13 07:22] KrishnaIyer commented on #4610
I'll try to reproduce this and get back.

[2021-09-13 08:24] lanmarc77 commented on #4610
I could get a working version somehow by playing with the cli during the weekend. If I set the following values for the patched mcci lorawan stack which rejects adr frames:
[code]
then the nodes seem to behave like in ttn v2. I waited a night and it seems no additional packets are sent down. Nodes with the non patched version and the same cli settings seem to get additional packets. I can see the

[2021-09-13 12:11] lanmarc77 commented on #4610
I was able to capture on of the downlinks that is being send even if the above settings are made but for a node, that has not actively denied the ADR request. Maybe it helps.
![grafik](https://user-images.githubusercontent.com/3054734/133081159-48a8641b-547c-4c55-9f49-d2b8a7e493ac.png)

[2021-09-13 14:16] #4518 closed, assigned to KrishnaIyer

[2021-09-14 09:27] adriansmares commented on #4551
I've been unable to reproduce this, as I cannot find the original registration.

The `duplicate_identifiers` error occurs when the `(device EUI: join EUI)` pair is already registered in a routing cluster (and this applies on a per component basis - the originally reported error was in the Network Server).

I cannot find any reservation for the `647fda0000007fe0` EUI in any routing cluster on TTN (

[2021-09-14 09:49] kschiffer commented on #3153
This is already implemented. Both in MQTT integration and AWS IoT core, it is possible to click the "Generate API Key" button to generate the key right away. @johanstokking please reopen if anything else is necessary.

[2021-09-14 09:49] #3153 closed, assigned to kschiffer, pgalic96

[2021-09-15 07:17] KrishnaIyer commented on #3611
I'm handling this already with https://github.com/TheThingsIndustries/lorawan-stack/issues/2742

[2021-09-15 07:17] #3611 closed, assigned to KrishnaIyer

[2021-09-15 09:47] KrishnaIyer commented on #1303
We have no response for the corresponding gateway vendor. We have no chance to test so closing this.

[2021-09-15 09:47] #1303 closed

[2021-09-15 13:02] #4579 closed, assigned to bafonins

[2021-09-15 13:26] romach commented on #4551
@adriansmares
I can reproduce this bug using the following steps:
- register device manually with settings:
  - LoRaWAN version - MAC V1.0.3
  - Regional Parameters version - filled automatically/leave unchanged - PHY V1.0.3 REV A
  - Frequency plan - Europe 863-870 MHz (SF9 for RX2 - recommended)
  - DevEUI - 647FDA0000007FE0
  - AppEUI - 647FDA8010000100
  - AppKey - 92F7DEEA31F9A8D331362127B4B4

[2021-09-15 14:06] adriansmares commented on #4551
Ok so I finally found out what happened. The devices where registered in the IS/JS/AS using device ID `253486cc-a6db-43a2-a8c1-58dd0a2fceb3`.

The Console (the frontend) assumes that the same device ID is used everywhere, and issued the `DELETE` requests under this assumption. But in your scenario, the IS device ID was `eui-647fda0000007fe0` while in the routing components the device ID was `25348

[2021-09-15 15:18] romach commented on #4551
@adriansmares I can reuse EUI now - device is added successfully

[2021-09-15 15:21] #4551 closed, assigned to adriansmares

[2021-09-15 15:46] kschiffer commented on #4564
So I've spent some time looking into other services that use OpenID Connect (our auth flow in TTID) and from what I can see, Google, Facebook, and Apple do not even provide a cancel option when using their services to login. This makes me wonder if we even need such functionality when the user can just as well use the browser's back button.

Technically, the only difference I would see is that the

[2021-09-15 16:28] benolayinka opened #4630 "Pick up LoRa Cloud GNSS data from payload formatter field"
#### Summary

We should ask device makers to break out Semtech GNSS data for the LR1110 in a payload formatter, and then pick it up in the LoRa Cloud integration by looking for that key

#### Why do we need this?

- The GNSS data does not come in uplinks in a standardized form. On the yabby edge, for example, it is contained in variable length wifi/gnss uplinks as the last 8 bytes. This needs to b

[2021-09-15 17:19] kschiffer opened #4631 "Remove irrelevant fields in JS-only deployments in the Console"
#### Summary
In JS-only deployments, when registering new devices or gateways, the forms will ask to select a frequency plan, when such information is not relevant when registering the on the IS and JS only.

#### Steps to Reproduce
1. Go to the Console of a JS-only deployment of the Stack, e.g. https://sandbox.join.cloud.thethings.industries/console
2. Create a new end device or gateway
3. See th

[2021-09-15 17:21] kschiffer commented on #4522
Superseded by #4631

Note that the Console does not actually make the requests, but gets errors thrown back from the SDK because it tries to retrieve data originating from disabled components. Either way, this has to be fixed.

[2021-09-15 17:21] #4522 closed, assigned to kschiffer

[2021-09-16 08:14] #4006 closed, assigned to adriansmares

[2021-09-16 08:17] adriansmares commented on #3940
I can confirm this bug - I'll take a look.

@johanstokking what should we do in these cases where the frame is too big - drop the downlink or stall the queue ? (we need to send the ACK always, but just as a general question)

[2021-09-16 08:33] #2394 closed

[2021-09-16 08:33] #594 closed

[2021-09-16 11:29] #4336 closed, assigned to KrishnaIyer

[2021-09-16 14:19] NicolasMrad commented on #3945
this has to be done individually while updating the forms. it cannot be generalised that easy, as mentioned by @kschiffer

[2021-09-16 14:19] #3945 closed, assigned to kschiffer, bafonins

[2021-09-16 14:25] NicolasMrad commented on #3261
@kschiffer can you please advise on how this error page will look like?

[2021-09-16 14:34] #27 closed

[2021-09-16 14:46] #2694 closed

[2021-09-16 14:50] NicolasMrad commented on #2832
outdated issue. otherwise please re-open it.

[2021-09-16 14:50] #2832 closed

[2021-09-16 15:08] kschiffer commented on #3261
Yes, so we should essentially use the same design that we currently use for the react handled errors (`<FullViewError />`):

![image](https://user-images.githubusercontent.com/5710611/133310583-38ee119c-bd53-48e1-8d5b-0fe93e33a380.png)

We can use a simplified footer without the buttons on the right. Also, support buttons cannot be rendered in these cases, since the config is only available in the

[2021-09-16 15:09] kschiffer commented on #27
Closed this since the remaining issue #4300 should be sufficient now.

[2021-09-16 15:12] kschiffer commented on #4564
I'd like to open this up for discussion. @htdvisser @bafonins @NicolasMrad

[2021-09-17 07:28] htdvisser opened #4636 "Release v3.15.0"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).
- [x] Run `tools/bin/prepare_release minor` or `tools/bin/prepare_release patch`, depen

[2021-09-17 07:29] NicolasMrad commented on #4564
I just visited random websites to check the log-in process and none of them have a cancel button, so in my opinion users presses or going back is sufficient without having a cancel button.

[2021-09-17 07:35] htdvisser commented on #4564
I don't think a cancel button makes sense when a user _actively_ tries to login. However, if a user gets automatically redirected to TTID, I think the UI should show them that they have a choice between continuing and cancelling. Especially if pressing "back" simply redirects them to the login page again, I think it's better to explicitly tell the OAuth client "no".

[2021-09-20 07:22] htdvisser commented on #2798
I plan to remove some `gogoproto.embed` and `gogoproto.nullable` options from `user.proto` today.

[2021-09-20 07:26] KrishnaIyer commented on #2798
I'll take up `gogoproto.embed` from `deviceclaimingserver.proto` today.

[2021-09-20 10:44] kschiffer commented on #4564
What should happen then, upon clicking cancel?

[2021-09-20 12:27] kschiffer commented on #4564
See also https://discuss.thethingsindustries.com/t/ttsce-and-ttid-login-ux/655

[2021-09-20 13:05] jpmeijers opened #4641 "Console - device/gateway - open in new tab"
#### Summary

Currently one can't right click or middle click on a device/gateway in the end device and gateway lists, and then choose to open it in a new tab. On the V2 console this is possible.

When debugging devices (normally multiple at the same time), it is useful to have them open in different tabs and keeping it open for a long period to see live data. On the V2 console my workflow was to

[2021-09-20 13:07] jpmeijers commented on #4630
This sounds like the type of logic that could be offloaded to the application payload parser:
https://github.com/TheThingsNetwork/lorawan-application-payload

[2021-09-20 13:26] jpmeijers commented on #4527
This would be a useful feature, but remote servers might not like these test POSTs.

Another option to help users configure a webhook correctly is to show the last response from the remote server. The Sigfox backend does this, along with the full json body and headers. This allows one to replay the same post using a tool like Postman, at a user determined time, while running your server code in a

[2021-09-21 09:16] kschiffer commented on #4641
Thanks for reporting this @jpmeijers. This is indeed a bug and needs to be fixed.

@bafonins can you take a look? We'd have to extend the `<Table />` component to render plain `<a />` within the table row instead of using a click handler. We'll probably want to retain both modes of interaction though (either/or), as I could imagine there are situations where the click handler is still necessary, b

[2021-09-21 12:15] KrishnaIyer commented on #2798
In the next pass, I'll take up `gateway_services.proto` and `gateway.proto`; the latter being pure drudgery.

[2021-09-21 12:33] ymgupta opened #4648 "Warnings in the End Devices & Gateways live data of the TTS console"
#### Summary
After the [scheduled maintenance](https://status.thethings.industries/incidents/5y0s5vkb2rr3) today, we are seeing a warning, i.e., `There was an error and the event cannot be displayed. The raw event can be viewed by clicking this row.` in the end-device and gateway live data of the TTSC Console.

#### Steps to Reproduce
1. Register an `End Device` and `Gateway` in TTSC Console.
2. I

[2021-09-21 14:29] romach opened #4650 "Allow fetching profile information using OAuth token"
#### Summary

Now we can get profile information on https://eu1.cloud.thethings.network/oauth/profile-settings page.

But we can get it only using browser.

It will be useful to be able to fetch this information using OAuth 2.0 flow.

#### Why do we need this?

In many API calls we need **user id** but now we can get it from https://eu1.cloud.thethings.network/oauth/profile-settings page. It will

[2021-09-21 14:37] adriansmares opened #4652 "Remove obsolete last invalidation keys"
#### Summary

https://github.com/TheThingsNetwork/lorawan-stack/pull/4651 removes the `ttn:v3:ns:application-uplinks:uid:<uid here>:last-invalidation` keys from the application uplink queue. These keys are now unused, and may be deleted.

#### Why do we need this?

In order to avoid storing unused keys.

#### What is already there? What do you see now?

Keys of the form `ttn:v3:ns:application-upli

[2021-09-22 08:59] htdvisser commented on #2798
I plan to remove some `gogoproto.embed` and `gogoproto.nullable` options from `organization.proto` today.

[2021-09-22 09:49] pgalic96 opened #4654 "Cleanup expired entities"
#### Summary

We should periodically clean entities that are deleted and their restoration period has expired, therefore they can't be used anymore.

#### Why do we need this?

Because there is no automated process right now for garbage collection of unrestorable entities, and the only option for cleanup is admin purge method.

#### What is already there? What do you see now?

Single application p

[2021-09-22 11:51] htdvisser commented on #2798
Will do the same for `client.proto`.

[2021-09-22 14:07] johanstokking commented on #4502
Yes. That ABP device is not LoRaWAN compliant, so that's all we can do.

How else should we differentiate retransmissions from frame counter resets? An arbitrarily long time in between them? That will make it feel random for most users.

You may not need it but LoRaWAN does.

In this case, can you derive the FCnt from the timestamp, so that it is at least incrementing? I'm quite certain you don't

[2021-09-22 14:07] #4502 closed, assigned to nobody

[2021-09-23 06:37] #4636 closed, assigned to htdvisser

[2021-09-23 06:56] htdvisser commented on #1784
Still blocked on #4300, which was pushed to the **2022 Conference** milestone, so this will also have to wait a little longer.

[2021-09-23 07:30] #2966 closed

[2021-09-23 08:07] htdvisser commented on #2798
And today for `application.proto`.

[2021-09-23 08:09] johanstokking commented on #3940
Then fail that downlink message.

[2021-09-23 08:32] adriansmares opened #4659 "Migrate individual worker pools to pkg/workerpool"
#### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/issues/4606
References https://github.com/TheThingsNetwork/lorawan-stack/pull/4658

We should migrate the remaining worker pools to `pkg/workerpool`.

#### Why do we need this?

This migration allows us to observe better the status of workers, as `pkg/workerpool` comes with batteries included when it comes to metrics (numbe

[2021-09-23 09:22] htdvisser opened #4661 "De-duplicate mockIS structs"
#### Summary

There are currently 8 (+2 in Enterprise) mock implementations of the Identity Server. I think it would be good to de-duplicate those.

#### How do you propose to implement this?

Create a new `pkg/identityserver/mock` package and merge the different mock implementations into one.

#### Can you do this yourself and submit a Pull Request?

I can

[2021-09-23 09:27] htdvisser commented on #2798
@KrishnaIyer I'll do the `GatewayIdentifiers` in `gateway.proto`, because I've been doing the same for other identifiers in the last couple of days.

[2021-09-23 10:00] benolayinka commented on #4630
What is it? Docs dont say

[2021-09-23 10:26] kschiffer commented on #4650
If you already obtained an access token via the OAuth2 flow, you can use the `auth-info` endpoint of the API to get information about the authenticated user:

`GET /api/v3/auth_info` made with the Bearer token (your access token) in the Authorization header would yield:

[code]

[2021-09-23 12:11] kschiffer commented on #3890
Reopening this since with [progressive insight](https://github.com/TheThingsIndustries/lorawan-stack-support/issues/187) and the meeting held today we determine that there should be a way to move end devices between applications without using the claiming flow.

[2021-09-23 12:39] htdvisser commented on #3221
I don't think we need to do this anymore. The default format is already protobuf, so I don't think we need to make the format configurable anymore.

[2021-09-23 12:39] #3221 closed, assigned to adriansmares

[2021-09-23 12:41] htdvisser commented on #2231
As discussed with @kschiffer, we'll add support for filtering events by name on the backend.

I'll pick up the API and backend implementation after which @kschiffer will update the Console.

[2021-09-23 13:08] Oliv4945 opened #4664 "Issue in the join server field when registering a new device"
#### Summary

Hi,

Following #4579 we can now use an external JS but there are still UI issues when entering the join server: it is mandatory to input a join server address while it should not, as TTS is able to route the `joinRequest` thanks to the `JoinEui`. Furthermore the value we enter during device provisioning is not used.

#### Steps to Reproduce

1. Create a device, select `Manually` tab

[2021-09-23 14:24] #4631 closed, assigned to bafonins

[2021-09-23 17:07] kschiffer commented on #4648
Thanks for reporting, will be fixed by #4665

[2021-09-24 08:46] johanstokking commented on #3890
@NicolasMrad can you write a quick summary of what we discussed offline?

[2021-09-24 10:37] NicolasMrad commented on #3890
After discussing the use cases internally and with CyberEye, and after discussing the technical feasibility of the solution:

**Use Cases**
1. Migration of devices from TTS Community Edition to TTS Cloud tenant with active sessions
2. Migration of devices from one tenant to the other with active sessions (in the same network)
3. Migration of devices from one application to the other with/without a

[2021-09-24 14:46] johanstokking commented on #4409
Updated the original comment and re-assigning to @kschiffer as Console is left for closing the first phase.

Also adding `needs/triage` so we can plan the exact milestone.

[2021-09-25 09:30] jpmeijers opened #4668 "fPort 0 data confuses naive payload formatters"
#### Summary

Example provided on forum: https://www.thethingsnetwork.org/forum/t/payload-decoder-check-the-port-number/51817

Naive payload formatters do not check the fPort value. This causes these formatters to decode mac commands as if they are valid application payloads, causing invalid data.

This was not a problem on TTN V2.

#### Steps to Reproduce

1. Set up a device to constantly send da

[2021-09-27 09:08] johanstokking commented on #4668
This is what should happen indeed.

@adriansmares please see if this fits in 3.15.1 or if we postpone this to 3.15.2. It doesn't feel urgent as we've always had this behavior in V3, but it's a small fix and it may lead to corrupt data going upstream.

[2021-09-27 10:37] #4668 closed, assigned to adriansmares

[2021-09-27 13:43] htdvisser commented on #2231
@kschiffer I just pushed the backend work to [feature/2231-event-filter](https://github.com/TheThingsNetwork/lorawan-stack/compare/feature/2231-event-filter).

I can imagine that for the frontend it can be useful to know the full list of event names. In `pkg/events/grpc/grpc.go` you'll see how the EventsServer builds that list. We could write a little tool to extract the names into a JS/JSON file

[2021-09-28 09:55] #3979 closed, assigned to KrishnaIyer

[2021-09-28 09:57] #4346 closed, assigned to adriansmares

[2021-09-28 11:13] htdvisser commented on #4564
Conclusion after discussion: we just need to catch the error, show a nicer message and a button to the solution (go to login page)

[2021-09-28 11:29] htdvisser commented on #2798
So for @adriansmares @bafonins @johanstokking @kschiffer @pgalic96:

- In this round we are removing `gogoproto.embed` and `gogoproto.nullable`
- We leave fields with `gogoproto.customtype` alone
- Search in the repository to see which `.proto` files still have these options
- Claim the file by posting a comment here
- Remove the options, fix the rest of the code and submit a PR (see also https://

[2021-09-28 11:34] KrishnaIyer commented on #2798
In the next pass, I'll pick up `joinserver.proto` and `metadata.proto`.

[2021-09-28 13:16] bafonins commented on #3321
Closing this. Will keep track of the issue in https://github.com/TheThingsNetwork/lorawan-stack/issues/4641

[2021-09-28 13:16] #3321 closed, assigned to bafonins

[2021-09-29 09:35] #4664 closed, assigned to bafonins

[2021-09-29 11:52] johanstokking opened #4677 "Enable interop HTTP based authentication and resolve technical debt"
#### Summary

Enable HTTP-based authentication for interop. Whenever we touch this, we should also resolve technical debt.

References https://github.com/TheThingsNetwork/lorawan-stack/issues/717
References https://github.com/TheThingsNetwork/lorawan-stack/issues/2627

#### Why do we need this?

To support Backend Interfaces clients that do not use TLS client authentication, but that we allow auth