[2022-03-24 14:08] htdvisser commented on #4930
Still TODO:

- [x] Make `administrative_contact` and `technical_contact` fields public -- @htdvisser
- [ ] Support `administrative_contact` and `technical_contact` in the Console. -- @kschiffer /  @ryaplots
- [ ] Make PBA use `administrative_contact` and `technical_contact` instead of old `contact_info` -- @johanstokking
- [x] Make Identity Server send security notifications to `administrative_con

[2022-03-25 09:20] LasseRegin opened #5340 "ttn-lw-cli end-devices create doesn't set AppEUI (JoinEUI) correctly"
#### Summary

When creating an end device using the `ttn-lw-cli end-devices create` command and providing arguments using a json file, the AppEUI is not correctly set even though it is defined in the json file.

#### Steps to Reproduce

1. Export device from existing application using
[code]
2. Create device in another application using
[code]

#### What do you see now?

Device shows 0000000000000

[2022-03-25 09:21] LasseRegin commented on #5340
**NOTE**: By manually adding the joinEUI flag in the create command the ID is correctly set:
[code]
however I still believe the original command should work.

[2022-03-25 10:16] #5198 closed, assigned to kschiffer

[2022-03-27 16:27] janakj opened #5343 "No downlinks scheduled in LoRaWAN 1.1"
#### Summary
I have been trying to activate an OTAA device in LoRaWAN 1.1 mode. Join completes successfully. The device sends a confirmed uplink message right after. The uplink contains a rekey indication and I see the TTN network server scheduling a rekey confirmation. However, the network server never schedules any downlink message to the device. Thus, the rekey confirmation never arrives at the

[2022-03-28 10:19] ryaplots commented on #4697
@michalborkowski96 Here you have the open issue: [#623](https://github.com/TheThingsIndustries/lorawan-stack-aws/issues/623)

[2022-03-28 12:18] htdvisser commented on #1784
It looks like @ryaplots didn't manage to address #4300 yet, so since this issue is blocked on that one, we also push it to 2022 Q2.

[2022-03-28 12:19] htdvisser commented on #3250
Slow progress, so not going to finish this in Q1. Pushing to Q2.

[2022-03-28 12:20] htdvisser commented on #3658
Nothing changed since my last comment. Still hoping that at some point we can just drop the logging and use distributed tracing instead. Pushing to Q3.

[2022-03-28 12:23] htdvisser commented on #717
Bumping this back to triage. Do we still want to do this? And how much priority does it have? I don't remember hearing about any concrete demand for this recently.

cc: @NicolasMrad

[2022-03-29 08:33] johanstokking commented on #4990
Indeed, to see what's really going on here we need the clock synchronization logs as well, all of them that lead to the downlink scheduling itself. That is, these logs:

- `Synchronized server and gateway absolute time`
- `Synchronized server absolute time only`

(so the ones that are promoted `Info` by the patch from @adriansmares above, the first one isn't triggered by UDP gateways)

I also susp

[2022-03-29 11:48] johanstokking commented on #717
At some point we'll need this for connecting gateways using mutual TLS. The gateway to LNS protocol that the LoRa Alliance is working on is most likely using mutual TLS as its primary mechanism for authentication.

We would be trusting CAs from gateway vendors by default, but also custom CAs based on the TTS level (and tenant level). We might just combine the known gateway vendor CAs with the CA p

[2022-03-29 13:32] adriansmares commented on #5343
Thanks a lot for the detailed report. I've been able to reproduce the issue and can confirm that it is on our side.

I think that setting the following command which updates the desired ADR ACK delay exponent and limit exponent should allow your device to receive downlinks post join:
[code]

The downlinks are scheduled after explicitly providing these parameters, in my tests.

Currently these desi

[2022-03-29 20:23] NicolasMrad commented on #1920
@kschiffer is this still relevant?

[2022-03-29 20:31] nicholaspcr commented on #5340
I did some testing and confirmed that this indeed happens in the `v3.18.1` binaries that are available [here](https://github.com/TheThingsNetwork/lorawan-stack/releases/tag/v3.18.1).

Although it doesn't happen with the `v3.18.2` binaries. I'm looking into what commit changed this behaviour, once I find it it we will do a re-release of the version `v3.18.1`.

@LasseRegin It shouldn't take much tim

[2022-03-29 21:01] onizmx commented on #4990
@adriansmares @johanstokking Thanks for the help. We've prepared 3.18.2 with the `INFO` changes. Not sure when this version will be deployed but I will keep you guys posted.

[2022-03-29 21:33] NicolasMrad commented on #3972
is this still relevant?

[2022-03-29 21:43] NicolasMrad commented on #4435
what's the progress here or can we close this issue?

[2022-03-30 08:07] nejraselimovic commented on #4435
This is still in progress, but going slowly, so we can just move the milestone to Q2.

[2022-03-30 08:11] #1407 closed

[2022-03-30 09:15] #4842 closed, assigned to KrishnaIyer

[2022-03-30 15:45] janakj commented on #5343
Thanks for the workaround! I can confirm that it works.

[2022-03-30 18:41] nicholaspcr commented on #5340
@KrishnaIyer @adriansmares

It seems that in the `v3.18.0` the end-device command changed in a way that if the flag values are not set, the valued obtained from the json object will be discarded and the default value will always be used. It was later fixed on the `v3.18.2` but currently in both the `v3.18.1` and `v3.18.0` releases there is a bug where the JoinEui obtained from the json file will n

[2022-03-30 18:55] adriansmares commented on #5340
So apparently the bug that resets the JoinEUI in `3.18.0`/`3.18.1` got added in https://github.com/TheThingsNetwork/lorawan-stack/pull/5202, then it got reverted in https://github.com/TheThingsNetwork/lorawan-stack/pull/5324. I'm now curious if `3.18.2` suffers from https://github.com/TheThingsNetwork/lorawan-stack/issues/5140 again.

Since we have a working binary (`3.18.2`) we don't need to pull

[2022-03-30 19:22] nicholaspcr commented on #5340
The bug in #5140 indeed has returned, will do a quick fix for it then.

I assumed that even with the working binary of `3.18.2` we would re-release the other binaries but makes sense to leave as is for minor releases. I can create a PR to fix the bug of the logger displaying that the default value was used but the question now is if we should do a re-release of this minor fix or if it's ok to leav

[2022-03-31 08:21] adriansmares opened #5355 "Add cluster address template"
#### Summary

We should add next to the cluster ID configuration a template for the FQDN of the cluster.

#### Why do we need this?

We have multiple places where we need this value:
- The Packet Broker Agent uses it while communicating with Packet Broker (https://github.com/TheThingsIndustries/lorawan-stack/pull/3125)
- The Network Server uses it in order to filter loopback metadata from Packet B

[2022-03-31 14:23] adriansmares commented on #3972
The issue exists but I would drop the priority for now. Removing the milestone.

[2022-03-31 21:11] onsolutionjames commented on #3909
Just wondering if there are any updates on this? Is this feature likely to be implemented in TTS at all?

[2022-04-01 00:32] janakj opened #5360 "Add support for the FOpts, FCntDwn erratum to LoRaWAN 1.1.0"
#### Summary
I have been trying to connect a LoRaWAN 1.1.0 device to TTN. The device is based on LoRaMac-node v4.6.0 which implements LoRaWAN 1.1.0 together with the [FOpts,FCntDwn erratum](https://resources.lora-alliance.org/technical-specifications/fopts-encryption-usage-of-fcntdwn-errata-on-the-lorawan-l2-1-1-specification). The erratum fixes a security vulnerability in LoRaWAN 1.1.0. In order

[2022-04-01 09:43] johanstokking commented on #5360
This seems legit, looks like we've overlooked the errata and nobody really tried LoRaWAN 1.1 end devices before or at least not with a proper LoRaWAN end device stack.

If we can do this in 3.19.0 then great, but otherwise let's get this in 3.19.1.

[2022-04-01 10:39] nejraselimovic opened #5362 "Installing TTS OS on localhost with PostgreSQL fails with `database "ttn_lorawan" doesn't exist` error"
#### Summary
Not sure anymore what the issue here is, but installing TTS OS is failing with the above mentioned error when using a default `docker-compose.yml` file.

#### Steps to Reproduce
When I follow the installation documentation and try to run TTS OS using docker-compose, I get an error when I run `docker-compose run --rm stack is-db init` command with the following logs:

I thought this wa

[2022-04-01 13:57] nejraselimovic commented on #5362
I see a similar discussion here https://github.com/TheThingsIndustries/lorawan-stack-support/issues/759, but appears to be for using CockroachDB instead of Postgres

[2022-04-01 14:33] ezamp opened #5363 "No Application downlinks scheduled"
#### Summary
Application downlinks are not scheduled. The join accept or ADR response downlinks are scheduled correctly. This behavior occurs with all devices, regardless the class or the gateway used.

#### Steps to Reproduce
I don't think it's easily reproducible on other TTN instances.
To replicate the problem on my instance:
1. Go to end-device page
2. Open tab "Messaging"
3. Open "Downlink" a

[2022-04-01 14:49] KrishnaIyer commented on #5363
The issue heading and the expected behaviour don't match. Are no downlinks sent or are Class C downlinks not sent "immediately"?

It's seems like it's not the former because I see a downlink being scheduled in your log
[code]

What do you mean by immediate? The server should account for transmission delays and scheduling conflicts so no downlink would really be immediate.

It seems like you're not

[2022-04-01 15:11] ezamp commented on #5363
The downlink was pushed at 15:46:13 but the downlink was at 16:15:32, 30 minutes later when the device sent an uplink.
If I send a downlink message from the platform how can I set the absolute time?

[2022-04-01 15:20] KrishnaIyer commented on #5363
I guess by platform you mean the UI (Console). We don't support that yet. You can use the CLI and that's documented in the link I shared above. I'll add it here as well; https://www.thethingsindustries.com/docs/devices/class-c/

[2022-04-01 15:51] ezamp commented on #5363
Actually we have a second instance of TTN (v3.18.2) and If I try to send a payload via UI, the downlink is scheduled after some seconds.
![Screen Shot 2022-04-01 at 17 50 05 PM](https://user-images.githubusercontent.com/388509/161298336-10a26498-dc4b-4d18-9b79-28f0854eec52.png)

[2022-04-03 14:01] onizmx commented on #4990
We've found the issue on our gateway side. We had a process reading GPS positions via serial port and this was somehow messing with the GPS epoch. Last week, another issue popped up where multicast started breaking by gateway transmitting 40 seconds off from the given absoute time. This happened right after changing the script, so we've fully discarded the process. So far no multicast issues for 5

[2022-04-03 14:02] #4990 closed, assigned to adriansmares

[2022-04-04 05:45] janakj commented on #3686
I just came across what I believe to might be the same or similar issue. I am in US915 and when I enable class B for my device and configure beacon and ping slot frequency to 923.3 MHz manually, I get the following error:

![Screen Shot 2022-04-04 at 01 42 13](https://user-images.githubusercontent.com/574979/161481025-33042ac3-0a8b-4925-8b4f-9eaba41c4ced.png)

Is there any way to enable class B in

[2022-04-04 08:18] KrishnaIyer commented on #5363
Ok but is both using Class C and the same type of device+gateway?

[2022-04-04 09:47] ezamp commented on #5363
Yes, they both use class C devices and the same gateway model.

On the instance where the downlinks for class C work as expected, in the event detail "Schedule data downlink for transmission on Gateway Server" (on UI) appears "class": "CLASS_C" inside the "request" key:
[code]

"class": "CLASS_C" is not present in the event generated by the instance where the downlinks are sent after the next upli

[2022-04-04 13:27] nicholaspcr commented on #5340
Since the bug was confirmed to not exist in the latest minor version I'm closing this issue.

@LasseRegin please use the `3.18.2` version to avoid having the error that you mentioned.

[2022-04-04 13:27] #5340 closed, assigned to nicholaspcr

[2022-04-05 07:30] acutetech opened #5370 "Network Server should be aware of maximum downlink payload sizes and split MAC messages if appropriate"
#### Summary
A device using AS923 region rules and DwellTime = 1 can receive only 11 bytes at DR2. I observe the TTN server sending 14 bytes of Frame Options. This packet is rejected by my device as violating the packet length rule, and consequently the device fails to operate.
Although later device software can fix the problem, it would be better if the server could split MAC messages so as not t

[2022-04-05 15:03] bodhibrata commented on #4435
If this feature (storing RSSI and SNR value in ThingSpeak) is made available it will be of great help.

[2022-04-06 08:04] KrishnaIyer commented on #5363
Ok but what is then the difference between these instances? Are they running the same version of TTS with the same configuration?
Are you using the same device in both cases? If yes, how are the MAC settings configured?

[2022-04-08 08:38] #5362 closed, assigned to KrishnaIyer

[2022-04-11 08:52] jayjupdhig opened #5376 "connect ETIMEDOUT 63.34.215.128:8333 in "MQTT Explorer""
MQTT Explorer (http://mqtt-explorer.com/ , https://github.com/thomasnordquist/MQTT-Explorer ) screenshot HERE:

![image](https://user-images.githubusercontent.com/42765391/162700887-d9a53e57-2f4f-4bcc-b150-570f10030f05.png)

**Questions:**

Get that message when i try to log in: "connect ETIMEDOUT 63.34.215.128:8333"

1.) Why? Is the TCP daemon at endpoint 63.34.215.128:8333 not available?

2.) Do

[2022-04-11 08:54] jayjupdhig commented on #5376
Or is the encrypted connection currently not supported...?

[2022-04-11 08:55] KrishnaIyer commented on #5376
The TLS port is `8883`

[2022-04-11 08:55] #5376 closed, assigned to nobody

[2022-04-11 09:08] adriansmares commented on #5370
Hello, this functionality is already available. What LoRaWAN version and Regional Parameters version did you test this with ?

As mentioned in https://www.thethingsnetwork.org/forum/forum/t/frame-option-bytes-sent-by-server-are-too-long-and-are-rejected-work-around-please/56170/4 , you can use the CLI in order to setup the boot time dwell time configuration of the end device, specifically `--mac-s

[2022-04-11 09:25] kosuodhmwa commented on #5376
OH s**t, mea culpa - thank you very much!! :-)

"Validate Certificate" is also possible - because of that it's i.m.o. better to enable. :-)

With best regards,
Jan

[2022-04-11 15:24] #4697 closed, assigned to ryaplots

[2022-04-12 12:32] #5355 closed, assigned to johanstokking

[2022-04-12 13:44] htdvisser opened #5378 "Identity Server Database Migration Broken"
#### Summary

The Identity Server Database migration seems to have been broken in v3.18-v3.19.

#### Steps to Reproduce

1. Initialize the IS database on v3.18
2. Check out v3.19 branch
3. Migrate the IS database

#### What do you see now?

[code]

#### What do you want to see instead?

No error

#### Environment

- Local dev deployment, v3.18 - v3.19
- PostgreSQL
- MacOS

[2022-04-12 15:50] #3830 closed, assigned to htdvisser, ryaplots

[2022-04-12 16:09] #3820 closed, assigned to adriansmares

[2022-04-12 16:09] #5092 closed, assigned to adriansmares

[2022-04-13 06:35] #5378 closed, assigned to htdvisser

[2022-04-13 08:15] #4886 closed, assigned to ryaplots

[2022-04-13 08:40] #5343 closed, assigned to adriansmares

[2022-04-13 09:30] #3885 closed, assigned to ryaplots

[2022-04-13 16:04] #4937 closed, assigned to pgalic96

[2022-04-13 16:11] pgalic96 opened #5387 "Add support for device last seen timestamp in the console"
#### Summary

With https://github.com/TheThingsNetwork/lorawan-stack/pull/5290 the devices now have a `last_seen_at` timestamp in the IS db. We need to show this in the console.

#### Why do we need this?

To inform users of the last time their device was observed in AS. This can be used as additional debug data.

#### What is already there? What do you see now?

`last_seen_at` timestamp field in

[2022-04-19 08:29] jbiveroni opened #5393 "AS923: NewChannelReq rejection, ChMask discrepancy, LinkADRReq rejection / repetition"
#### Summary

After joining, the device is setup to use channels 0...6 (ChMask 0x7F). The LNS sends a NewChannelReq (channel 7). The device rejects DrRange, and therefore does not enable the new channel (ChMask 0x7F). However, in subsequent LinkADRReqs, the LNS uses ChMask 0xFF. The devices therefore rejects these LinkADRReqs. The LNS repeats LinkADRReq commands "forever", although they are always

[2022-04-19 08:46] htdvisser opened #5394 "Cache result of version check"
#### Summary

`ttn-lw-cli` should cache the result of the version check on disk, so that it doesn't have to do version check requests on _every_ call.

#### Why do we need this?

I'm working on a script that makes a batch of 100 devices claimable and generates QR codes for them. If the version check is enabled (which it is by default), I'm making 200 calls to the version check API, which is excess

[2022-04-19 08:47] htdvisser commented on #5394
CC @NicolasMrad for triage: this needs a milestone.

[2022-04-20 08:54] flapotre opened #5397 "zsh autocompletion ttn-lw-stack.ttn-lw-cli"
#### Summary

After following the documentation to install ttn-lw-stack on ubuntu 20.04 using snap to use the cli, I was expecting to have auto-completion on ZSH console as [documentation](https://www.thethingsindustries.com/docs/getting-started/cli/installing-cli/) sugest it. Unfortunately, only bash completion work.

I did follow [this documentation](https://www.thethingsindustries.com/docs/ttn-

[2022-04-20 11:40] adriansmares opened #5398 "Add gateway stats retrieval batch RPC"
#### Summary

We should have a batch retrieval operation for the gateway connection stats.

#### Why do we need this?

Clients which need to retrieve multiple gateway stats at the same time (i.e the Console in the gateway list view) currently retrieve the status of each individual gateway over multiple roundtrips. While the roundtrips themselves are done in parallel, they are rather inefficient in

[2022-04-20 11:47] adriansmares opened #5399 "Improve Network Server end device state validation"
#### Summary

References https://sentry.io/organizations/the-things-industries/issues/3103305258
References https://sentry.io/organizations/the-things-industries/issues/3107052796

This issue tracks missing validation rules from the NS device registry `Set` operations.

#### Why do we need this?

In order to avoid runtime errors caused by the fact that invalid end device settings were provided via

[2022-04-20 14:54] jpmeijers opened #5400 "Console Live Data different between Application level and Device level"
#### Summary

Per-device Live Data has uplinks and join at correct times:
![Screenshot from 2022-04-20 16-41-33](https://user-images.githubusercontent.com/948278/164256984-7f1f567a-9d2d-44ad-a6cf-a8f1d11add77.png)

Per-application Live Data has joins from yesterday, but join from today and uplinks from today are missing:
![Screenshot from 2022-04-20 16-41-45](https://user-images.githubusercontent.

[2022-04-21 05:26] michalborkowski96 commented on #5394
Why can't you just pass the `--skip-version-check` option?

[2022-04-21 07:17] htdvisser commented on #5394
Of course I can update my config to disable the version check, but I _do_ want to be notified about new versions. I just think the CLI shouldn't run the check 200 times in 10 seconds.

[2022-04-21 07:53] michalborkowski96 commented on #5394
Yeah, you're right. I'll start working on this once I get through more important issues

[2022-04-22 10:14] adriansmares opened #5403 "Expose band definitions via API"
#### Summary

We should expose band definitions via a gRPC API such that clients (mainly the Console) can provide a better UX.

#### Why do we need this?

Currently MAC settings in the Console are very low level - users input data rate _indices_ , data rate offsets and raw frequencies. While this is fine, it is very error prone, as indices have different meanings between bands, even within the sam

[2022-04-22 13:44] KrishnaIyer opened #5404 "Configure NS address while claiming in DCS config"
#### Summary

Configure NS address while claiming in DCS config

#### Why do we need this?

There is no real need for users to provide this field during claiming. The DCS will already deployed to each Cluster and hence knows to which NS to set for the device in TTJS.

#### What is already there? What do you see now?

`networkserveraddress` is part of the claiming API.

#### What is missing? What d

[2022-04-22 13:55] kschiffer commented on #4847
So following our meeting just now, we figured out that it is not actually possible to determine the device model, versions and region from the QR code scan since it will only give us the device profile info and brand ID, which can be valid for multiple combinations.

So there are two things to do here:

1.  Look into extending the information that can be obtained from the QR code to include some k

[2022-04-22 13:56] kschiffer commented on #5404
Reminder for me: this is to avoid specifying the NS address in the frontend request during device claiming.

[2022-04-25 12:35] htdvisser opened #5407 "Simplify JS Dependency Caching in CI"
#### Summary

The `actions/setup-node@v3` supports persistent caching of NPM/Yarn dependencies. Maybe we should use that instead of rolling our own logic.

#### How do you propose to implement this?

I guess with something like this:

[code]

[2022-04-25 14:47] vigalent commented on #113
I think some users may want to install the stack on their gateway in order to create a on premise / private service and pass data to other services.

[2022-04-25 15:44] meckiemac commented on #113
Yes right and I have an example: What I currently do is copy manually the temporary keys (NwkSkey & AppSKey) out of TTN and put them into the ABP encryption to use the data also locally forwarded to an MQTT Server. Would be nice to automate this locally on the gateway.

[2022-04-26 09:40] #5260 closed, assigned to johanstokking

[2022-04-26 09:41] kschiffer commented on #5400
The reason for this mismatch is a difference in event retention per entity type. This means that in some cases the number of historical events retained is different for the application stream and the end device stream.
For data coming in live, the messages should match as expected. However, we also recently changed which event types [are coming through for applications](https://github.com/TheThing

[2022-04-26 09:45] christoph-nils opened #5413 "Ability to use multicast devices in the AWS IoT Integration"
#### Summary

Add multicast devices creation & multicast downlink scheduling to the AWS IoT Integration.

#### Why do we need this?

This will provide the capability to use the AWS IoT Integration for FUOTA.

#### What is already there? What do you see now?

At the moment it is possible to create simple devices with parameters as thing attributes.
The thing name is the LoRaWAN DevEUI.
Multicast de

[2022-04-26 10:32] johanstokking commented on #4847
For background: currently, the QR code contains vendor ID and profile ID, and there's gonna be a codec ID. That might be useful, but that does not provide the version identifiers which is useful for stats and display.

So ideally, the QR code tells us not only the vendor ID, but the model ID, hardware and firmware version and band. We could still use a single identifier for that, but not "profile

[2022-04-26 12:43] #4845 closed, assigned to KrishnaIyer

[2022-04-26 14:00] kschiffer commented on #4847
Alright then. I've finalized the wireframes so that we can now plan implementation.

[See the clickdummy/wireframe](https://github.com/TheThingsNetwork/lorawan-stack/files/8563870/220426_integrated_console_onboarding_01.pdf)

Please have a look and confirm.

I this still blocked on anything else? Otherwise we can remove the `blocked` label as well.

[2022-04-27 07:06] darkoj416 commented on #4435
+1

[2022-04-29 08:00] johanstokking opened #5416 "Support Redis 7"
#### Summary

Support Redis 7

This issue is _not_ about using Redis 7.0.0 features, but making sure The Things Stack works as intended with Redis 7.0.0.

#### Why do we need this?

To make sure that users do not need to downgrade Redis to work with The Things Stack.

#### What is already there? What do you see now?

We currently have support for Redis 6.2.x.

As of now, the only known issue is a

[2022-04-29 13:56] johanstokking commented on #4847
This look complete to me.

[2022-05-02 07:04] KrishnaIyer commented on #4847
ACK. Looks good to me as well. This isn't blocked so I'll remove that label.

[2022-05-02 14:14] adriansmares opened #5428 "Cannot update end device net ID via CLI"
#### Summary

The end device `net-id`, and possibly other flags, can no longer be updated via CLI.

#### Steps to Reproduce

1. Attempt to use `end-devices set` with the `--net-id` flag

#### What do you see now?

[code]

#### What do you want to see instead?

[code]

#### Environment

`5506c3d0ffe40a47f7b5ac2b9c9b1a513e149d1b`

#### How do you propose to implement this?

I couldn't trace where th

[2022-05-02 16:43] pablojimpas opened #5429 "Support for `normalized_payload` field"
#### Summary

The new field `normalized_payload` will allow integrations to rely on a standardized data model for all devices in the device repository that support this new normalization step, regardless of the manufacturer, the units, and the wording they use, etc.

#### Why do we need this?

This feature request has already been largely discussed in https://github.com/TheThingsNetwork/lorawan-de

[2022-05-03 14:18] johanstokking commented on #5429
Thanks for filing the issue.

@adriansmares do you want to pick this up or should we assign @nicholaspcr?

For implementation, high level, there are two approaches:
1. Add a flow next to `DecodeUplink` in `PayloadEncoderDecoder` (`PayloadEncoderDecoderNormalizer`?), related services, API (`AppAs`), implementations of `PayloadEnocderDecoder` (whether or not they support it) and Console
2. Only supp

[2022-05-03 14:57] adriansmares commented on #5429
Another question that we should raise here is 'do we enforce that the formatter exists only at application level, or should it exist also at end device level ?'. The use case here being of course heterogeneous applications (i.e. with different end devices in them).

I think that it makes sense to speak of regularization only for 'uncontrollable' payload formatters such as the device repository or

[2022-05-03 16:47] pablojimpas commented on #5429
I think there is a lot of value in supporting this at the device level, don't know how much complexity adds to the implementation, but it's definitely desirable since most real-world applications will have more than one type of device, having a different application for each device type seems weird.

I agree that the extra normalization step is not needed in a custom decoder, if you (as an integra

[2022-05-03 17:31] johanstokking commented on #5429
You mean, it wouldn't make much sense to have an application-layer normalizer if there are various device-level decoders that produce different results? That wouldn't work indeed; they come in pairs (decoder + normalizer, where device overrides application level).

Or do you mean that application integrations either expect normalized payload or they don't?

True, but I would add `normalized_payloa

[2022-05-04 09:23] adriansmares commented on #5429
I'm thinking from an implementation perspective that we have a lot of overrides in our hierarchy (between applications and end devices). Having end-device level overrides brings flexibility but also some (small) complexity in the implementation.

Keep in mind the whole `skip_payload_crypto` (or even payload formatters) hierarchy that took a very long time to explain to users (what does a `null` va

[2022-05-04 13:02] KrishnaIyer opened #5436 "Store End Device Claim Authentication Code in the IS"
#### Summary

Store End Device Claim Authentication Code in the IS

#### Why do we need this?

References a discussion on Slack; https://thethingsindustries.slack.com/archives/C8SCJ2GG1/p1649926239060559
 We currently store the End Device CAC only on the JS and this flow isn't available with external JSes.
We need to store this somewhere so that it can be used to generate QR Codes. The most logica

[2022-05-04 13:10] utya opened #5437 "Esp32 Single channel"
Good afternoon. I need to deploy my network to study lorawan work at the university, since I use cheap modules based on esp32, I would like to use https://github.com/things4u/ESP-1ch-Gateway/ as a gateway.

So I want to know Can Iconnect these devices to this project?

[2022-05-04 13:21] KrishnaIyer commented on #5437
Please use [The Things Network Forum](https://www.thethingsnetwork.org/forum/) for questions.

[2022-05-04 13:21] #5437 closed, assigned to nobody

[2022-05-04 18:19] johanstokking commented on #5429
Yeah. But let's first consider automatically detecting the output of a custom per-device (and per-application) codec against the normalized schema. Because if we do that, we magically set `normalized_payload` and there's no per-device or per-application normalizer codec necessary.

Regarding validation cost: it's not something we can fully eliminate, but on the other hand it's not much more than d

[2022-05-04 19:01] adriansmares commented on #5429
TLDR: Yes.

Keep in mind that internally in the Application Server you have an in-memory representation 'in the pipes' anyway, as we carry around `ApplicationUp` everywhere, not the serialized binary. So you need an in-memory representation anyway, and I argue that a well defined proto definition has the advantage of having serialization and validation embedded in it, and we can reference it direc

[2022-05-05 19:21] johanstokking opened #5438 "Lock claim in TTJS when invalidating the claim authentication code"
#### Summary

The Things Join Server supports claim protection (https://github.com/TheThingsIndustries/lorawan-join-server/pull/28). The TTJS client in TTS should use this when the invalidate claim authentication code flag is set.

#### Why do we need this?

To avoid that another DCS/AS can take over the claim if it knows the claim authentication token.

#### What is already there? What do you see

[2022-05-06 08:21] johanstokking commented on #5413
Would you like to be able to create multicast devices via the integration, or only be able to schedule downlink messages to an already created multicast group?

Are you using the Remote Multicast Setup protocol with end devices? If so, what if The Things Stack takes care of that, assigns a (temporary) DevEUI for the multicast group and allows you to send downlink that way?

[2022-05-06 08:41] johanstokking commented on #4930
1. Can I already implement the PBA part if the fields aren't public yet? It looks like all preparatory work can be done, that is, use the new fields if they are set and add TODOs for removing usage of the old field
2. Bit out of scope here but still: tenant is missing the new fields. PBA uses that for the registration (see https://github.com/TheThingsIndustries/lorawan-stack/blob/v3.19/pkg/packetb

[2022-05-06 09:23] christoph-nils commented on #5413
The remote multicast setup protocol should be used. If it is possible to create the multicast group with a (temporary) DevEUI, that should be fine.

I thought it would be easier for you to give raw access to the multicast devices.
Also, the raw access could be used in more ways than just for the virtual multicast session device.

[2022-05-06 11:53] johanstokking commented on #5413
There are indeed three issues here:

1. Syncing multicast devices from The Things Stack to the AWS IoT Integration. Currently, the sync only happens on uplink, and since multicast groups are downlink only, these devices are never created in the AWS IoT Integration as things
2. Sending downlink with class B/C parameters
3. Supporting Remote Multicast Setup in the Application Server

I think the bes

[2022-05-06 20:15] nicholaspcr opened #5442 "CLI flag overwrites other values with the same flag name prefix"
#### Summary

When trying to create an application via a JSON, the CLI informs that the `ids` are invalid.
This happen because while processing the flags [here](https://github.com/TheThingsNetwork/lorawan-stack/blob/5d78fd2a078f1dad95a3c78939fe63f12eb487a8/cmd/ttn-lw-cli/commands/applications.go#L173), flags that were not passed are overwriting what was provided by the file.

#### Steps to Reprodu

[2022-05-09 13:17] htdvisser commented on #5407
Done in https://github.com/TheThingsNetwork/lorawan-stack/pull/5440

[2022-05-09 13:17] #5407 closed, assigned to htdvisser

[2022-05-09 14:31] #5370 closed, assigned to adriansmares

[2022-05-09 16:01] kschiffer opened #5447 "Use more specific client rights to make it consistent with other entities"
#### Summary
We should use specific client rights and not just rely on a single `RIGHT_CLIENT_ALL`, which looks like a pseudo-right but is actually an explicit right.

#### Why do we need this?
To correctly assign all client rights to admins. Currently all rights with the suffix `_ALL` will not be granted to admins, since they are considered to be pseudo-rights. This causes admins to not be allowe

[2022-05-10 07:37] KrishnaIyer commented on #5428
This is fixed via https://github.com/TheThingsNetwork/lorawan-stack/pull/5441

[2022-05-10 07:37] #5428 closed, assigned to nicholaspcr

[2022-05-10 07:52] htdvisser commented on #4938
@pgalic96 isn't going to work on this, so re-assigning and bumping this back to triage.

[2022-05-10 11:16] htdvisser commented on #2798
Here's an overview of the files that still need `gogoproto.customtype` removed:

- [x] `api/deviceclaimingserver.proto`

[code]

- [x] `api/end_device.proto`

[code]

- [x] `api/gateway.proto`

[code]

- [ ] `api/identifiers.proto`

[code]

- [ ] `api/keys.proto`

[code]

- [ ] `api/lorawan.proto`

[code]

- [x] `api/messages.proto`

[code]

- [x] `api/metadata.proto`

[code]

- [x] `api/networkse

[2022-05-10 11:19] KrishnaIyer commented on #2798
I'm picking up `api/tti/*` today.

[2022-05-10 11:22] htdvisser commented on #2798
And the other task I mentioned is https://github.com/TheThingsIndustries/lorawan-stack/issues/3187, so please also take a look there.

[2022-05-11 11:05] #5336 closed, assigned to ryaplots

[2022-05-11 11:23] #5305 closed, assigned to ryaplots

[2022-05-11 12:59] kschiffer opened #5448 "Avoid rendering children in `withRequest` when an error occurred"
#### Summary
An issue in the `withRequest`-HOC causes the passed chidren to be rendered before the passed error is thrown. This caused us to use an unnecessary workaround when passing the fetching prop to the HOC.

#### Why do we need this?
- Remove unnecessary and fragile workarounds for determining fetched status
- Clean up code and ensure consistency when using `withRequest`-HOC

#### What is a

[2022-05-11 13:38] #5387 closed, assigned to ryaplots

[2022-05-11 19:59] nicholaspcr commented on #5442
Upon investigating a bit more I found that this is happening not only for the `applications` flags but for other entities such as `gateways`, `clients` and any entity which the Ids have a cli prefix of `ids`.

This happens is due to the way the flags generator handles the validation of the ids. For a easier explanation refer to the example below:

By running the command:
`$ ttn-lw-cli app create <

[2022-05-12 09:50] KrishnaIyer commented on #2798
Picking `deviceclaimingserver.proto`and `gateway.proto`.

[2022-05-12 09:59] KrishnaIyer commented on #2798
Note:
- Based on a Slack discussion, Let's leave out repeated fields this round and get back to that.

[2022-05-12 16:28] pablojimpas commented on #5429
What's exactly blocking the implementation? I thought we agree on https://github.com/TheThingsNetwork/lorawan-devices/issues/395 that the schema definition of the normalized format is decoupled from implementing this feature in The Things Stack.

[2022-05-13 07:20] pe1mew opened #5453 "Missing field in MQTT json or"
#### Summary
frm_payload is missing in MQTT json struct
...

#### Steps to Reproduce
Monitor MQTT data with NodeRed.

#### What do you see now?
In the json struct that is published over MQTT,  the field ```msg.payload.uplink_message.frm_payload``` is missing.
It seems to be replaced with ```msg.payload.uplink_message.session_key_id``` the content is not a HEX number but seems base64 data: ```AYBH/

[2022-05-13 07:56] johanstokking commented on #5429
Yes it is, but we need at least one field with one definition so we can start doing things back-to-back, including validation and testing.

[2022-05-13 11:29] nicholaspcr commented on #5442
I forgot that a valid alternative would be to just add a custom prefix for each command, nevertheless I believe the question of generating duplicates being intentional or not on part of the `protoc-gen-go-flags` is a valid one.

[2022-05-13 12:46] johanstokking commented on #717
Let's triage this again as it is getting relevant:

1. Azure Sphere will issue certificates to gateways, that they use to authenticate with external services (like LNS). The CA is per Azure customer account. This means that we need some contextual configuration of the CA pool
2. LoRa Alliance GW-NS interface is heading towards mTLS support as well, where gateway vendors could preprovision gateways

[2022-05-13 16:27] #5442 closed, assigned to nicholaspcr

[2022-05-14 09:46] ymgupta opened #5456 "Support additional fields for importing end devices from CSV file format."
#### Summary
The Things Stack currently supports importing end devices from CSV (comma-separated values) files with limited device fields. Users are seeking support for additional columns (e.g., device class and Rx2 Data Rate, etc).
#### Why do we need this?
Adding the ability to import devices via CSV with additional fields, similarly to the JSON format for end devices, will eliminate the need fo

[2022-05-16 08:20] htdvisser commented on #4935
With https://github.com/TheThingsNetwork/lorawan-stack/pull/5375 / https://github.com/TheThingsIndustries/lorawan-stack/pull/3157, https://github.com/TheThingsNetwork/lorawan-stack/pull/5406 / https://github.com/TheThingsIndustries/lorawan-stack/pull/3193 and https://github.com/TheThingsIndustries/lorawan-stack-aws/pull/644, the backend is now ready to send notifications from any component in a ne

[2022-05-16 08:20] #4935 closed, assigned to htdvisser

[2022-05-16 08:24] htdvisser opened #5457 "Add support for reading notifications in the CLI"
#### Summary

As a follow-up of https://github.com/TheThingsNetwork/lorawan-stack/issues/4935 we should add CLI support for reading notifications and marking them as seen.

#### Why do we need this?

Although I expect that most people will use the Console to work with notifications (TODO: issue reference), it should also be possible to manage notifications with the CLI.

#### What is already there

[2022-05-16 08:25] #5394 closed, assigned to michalborkowski96

[2022-05-16 08:35] htdvisser opened #5458 "Add support for reading notifications in the Console"
#### Summary

As a follow-up of https://github.com/TheThingsNetwork/lorawan-stack/issues/4935 we should add Console support for reading notifications and marking them as seen.

#### Why do we need this?

So that users can also see and manage notifications for which The Things Stack doesn't send emails.

#### What is already there? What do you see now?

API: `GET /users/{user_id}/notifications` to

[2022-05-16 08:59] htdvisser commented on #4930
A little update here:

- Making `administrative_contact` and `technical_contact` fields public was already done as part of https://github.com/TheThingsNetwork/lorawan-stack/pull/5135
- I tried adding `administrative_contact` and `technical_contact` in the Console as part of my initial work, but that didn't make it through review and is now too outdated to revive.
- For PBA I think @johanstokking c

[2022-05-16 09:39] #5404 closed, assigned to KrishnaIyer

[2022-05-16 09:49] htdvisser commented on #5447
In the absence of a **How do you propose to implement this?** in the original issue:

- Define additional rights in `api/rights.proto` (start with copy-paste from other entity) and re-generate protos:
	- `RIGHT_CLIENT_INFO`
	- `RIGHT_CLIENT_SETTINGS_BASIC`
	- `RIGHT_CLIENT_SETTINGS_COLLABORATORS`
	- `RIGHT_CLIENT_DELETE`
- Define descriptions for the new rights in `pkg/ttnpb/i18n.go` (start with c

[2022-05-16 09:59] htdvisser commented on #717
If we're bumping this back to triage, let's also see who else can pick this up. I don't think I'll have time to look into this any time soon.

[2022-05-16 10:02] KrishnaIyer commented on #717
🤚

[2022-05-17 07:36] #5333 closed, assigned to htdvisser

[2022-05-17 09:51] KrishnaIyer commented on #4953
This is closed by https://github.com/TheThingsNetwork/lorawan-stack/commit/84933ec479f70fd0ed333a43f5aaba64860a8b55

[2022-05-17 09:51] #4953 closed, assigned to KrishnaIyer

[2022-05-17 12:49] johanstokking commented on #5456
What if we load the device profile from the device repository?

What is the scenario for allowing all fields, and not using JSON for import?

[2022-05-17 13:25] johanstokking commented on #5453
If the `frm_payload` is empty, the field is omitted in JSON messages. This is likely an empty uplink message on FPort 8.

We're currently undergoing a major refactor on the data structures side. When that is done, we have some room to start optimizing things, including making sure that some fields are always present in JSON messages even if they are empty. References #2798

[2022-05-17 13:25] #5453 closed, assigned to nobody

[2022-05-17 14:28] pe1mew commented on #5453
I'm afraid I have to disagree with the assumption that this is an empty uplink message on FPort 8.
Although it was not shown in the JSON struct, the payload was decoded correctly and populated with the information sent by the device.

I suggest investigating the issue further.

[2022-05-18 06:38] johanstokking commented on #5453
Hmm, please paste the anonymized full JSON uplink message so we can investigate, and reopen the issue, thanks.

[2022-05-18 10:21] KrishnaIyer commented on #2798
Picking up `end_device.proto`, `networkserver.proto` and `packetbrokeragent.proto`

[2022-05-18 10:27] adriansmares opened #5465 "Show end device status information as part of the end device overview"
#### Summary

We should show device status information as part of the end device overview in the Console.

#### Why do we need this?

The background here is that we have a mechanism that exists at network layer (so between the Network Server and the end device) to find out a bit of information about the state of the end device. This information is periodically retrieved by the Network Server and s

[2022-05-18 10:54] ymgupta commented on #5456
In general, users are preferring the CSV import as they get the device details from the manufacturers as CSV files. So, they want to make a few additions to the CSV file and import it to avoid any further updates with API/CLI (`supports_class_c`/`supports_join` & Session Keys for ABP devices, etc).

Therefore, it would be good to add support for the most frequently used fields (for example, fields

[2022-05-18 11:39] kschiffer commented on #3947
I have finalized the new UX for gateway registration:
[220517_integrated_gateway_onboarding_01.pdf](https://github.com/TheThingsNetwork/lorawan-stack/files/8715860/220517_integrated_gateway_onboarding_01.pdf)

I've taken care to include only fields that make sense to set during onboarding and let everything else to be set in the general settings of the gateway.

The new onboarding experience combi

[2022-05-18 11:46] kschiffer commented on #5465
Great idea. I'll wireframe something and schedule this.

[2022-05-18 12:04] #5360 closed, assigned to adriansmares

[2022-05-18 13:38] htdvisser commented on #3250
For v3.20.0 I plan to replace our old DB initialization/migration tooling with a new `pkg/identityserver/migrations` that uses [Bun migrations](https://bun.uptrace.dev/guide/migrations.html). We will require existing deployments to upgrade their databases to v3.19 (the last version that uses the old GORM auto-migrations) before upgrading to v3.20 (the first version that will use the new Bun migrat

[2022-05-18 15:39] johanstokking commented on #5456
OK, I see.

[2022-05-18 15:47] johanstokking commented on #5456
@nicholaspcr can you pick this up? Should be fairly small. Basically make sure that the [JSON](https://www.thethingsindustries.com/docs/getting-started/migrating/device-json/#json-end-device-format) fields are also settable in [CSV](https://www.thethingsindustries.com/docs/getting-started/migrating/device-csv/).

[2022-05-19 08:05] kschiffer commented on #5400
So I have reviewed the problem again and it became apparent that there are indeed gaps between the application and end device layer events that should not be there. The issue originates from the backend and we are currently verifying [a fix](https://github.com/TheThingsNetwork/lorawan-stack/pull/5466).

Thanks for your help in identifying this.

[2022-05-19 08:05] #5400 closed, assigned to kschiffer

[2022-05-19 16:19] janakj commented on #5360
Thanks a lot, @adriansmares ! I will give it a try once it is deployed.

[2022-05-20 06:23] johanstokking commented on #4930
The part that I think I still miss, or at least don't know how to do is:

I understand that I can get as far as administrative contact `admin`, but I need their email address. Or, like suggested, we need to do something else in PB.

[2022-05-20 09:24] michalborkowski96 opened #5470 "Remove `deepcopy`"
#### Summary
https://github.com/TheThingsIndustries/lorawan-stack/pull/3206 introduced `deepcopy` usage

#### Steps to Reproduce
N/A

#### What do you see now?
`deepcopy`

#### What do you want to see instead?
Something else

#### Environment
N/A

#### How do you propose to implement this?
I don't know, will know when we switch proto library

#### How do you propose to test this?
Current automatic

[2022-05-20 16:07] johanstokking commented on #3947
Should we triage this then? @NicolasMrad

[2022-05-24 13:33] ryaplots commented on #4685
Still can't reproduce this

[2022-05-26 14:19] furtiman opened #5491 "Report gateway IP address in gs.gateway.connect event"
#### Summary

Add gateway IP address to `gs.gateway.connect` event.
Can be reliably determined for UDP, Basic Station and gRPC gateways but not for MQTT gateways.

#### Why do we need this?

To be able to use / display IP of the gateway to users.

#### What is already there? What do you see now?

`evtGatewayConnect` not containing IP address

#### What is missing? What do you want to see?

IP addr

[2022-05-26 14:26] furtiman opened #5492 "Report duty cycle in gateway connection stats"
#### Summary

Publish duty cycle information as a (or a part of existing) event from gateway server.

#### Why do we need this?

To be able to use / display duty cycle to users.

#### What is already there? What do you see now?

`evtGatewayConnectionStats` event, duty cycle not published in events. The DC information itself is readily available as indicated by @johanstokking .

#### What is missin

[2022-05-27 06:21] htdvisser commented on #5491
I think we can try adding the gateway IP address to the `GatewayConnectionStats` message.

The only question is if/how this is going to work when The Things Stack is behind a load balancer / proxy. Then we can't reliably determine the original IP address (unless we add PROXY protocol support).

[2022-05-28 12:19] adriansmares opened #5493 "Add gateway connection IP traffic statistics"
#### Summary

I think that it would be interesting if we would track the number of bytes sent towards, and from, a gateway.

#### Why do we need this?

The use case here is basically estimating how much traffic is actually spent by the gateway on LoRaWAN related operations - this is relevant for cellular back-hauls.

#### What is already there? What do you see now?

We store the LoRaWAN related tr

[2022-05-30 07:16] KrishnaIyer commented on #5491
Indeed and additionally, if gateways are using a VPN then this won't work either. This is also one of the reasons we decided not to use IP addresses for location data.

I believe that this should be a sub-component of the broader gateway management issue; https://github.com/TheThingsIndustries/lorawan-stack/issues/2694

[2022-05-30 10:27] #5438 closed, assigned to KrishnaIyer

[2022-05-30 16:41] philippdzm opened #5501 "Allow multi-domain usage for the console"
#### Summary

Allow multi-domain configuration for TheThingsStack console.

#### Why do we need this?

For deployments in intranets it may be relevant to access the console via an intranet domain and a domain which works via VPN. Other use cases may exist as well.

#### What is already there? What do you see now?

N/A

#### What is missing? What do you want to see?

Being able to open and use the

[2022-05-31 09:28] adriansmares commented on #5492
I don't fully see what is missing here. In the connection stats event I do see the sub band utilization:
[code]

I also see it in the stats RPC:
[code]

In which cases are these utilization limits not available ?

[2022-05-31 10:45] NicolasMrad commented on #5501
thank you for submitting this feature request.
at the moment this feature is not in our pipeline but we will add it to our backlog and schedule it in the future

[2022-05-31 11:45] #4300 closed, assigned to ryaplots

[2022-06-01 08:31] kschiffer commented on #2020
I see this as a separate tab "Invitations" in the admin's user management view.

The table would show `email`, `send at`, `status`, and a delete button to delete pending invitations. New invitations can then be issued with a `Invite user` button that leads to a form that asks for the email address. Iirc, invitations can also be disabled altogether via stack configuration (cc @htdvisser). In that c

[2022-06-01 09:42] ryaplots opened #5504 ""autocomplete / autosuggest" public API"
#### Summary

A separate "account ID autocomplete / autosuggest" public API.
References #5027

#### Why do we need this?

In order to enable selecting users via auto-suggest (#5027), we need a public API with user names.

#### What is already there? What do you see now?

A search RPC restricted to admins only.

#### What is missing? What do you want to see?

An "account ID autocomplete / autosugge

[2022-06-01 10:06] kschiffer commented on #4847
### Planning

Here's a rough planning summary of how we are going to implement this. I will keep this post updated with progressive insight.

#### Structure

Ok, so as discussed in our meeting last Wednesday we will split implementation up using the following scaffold

[code]

Here's the scaffold applied to the wireframe:
<img width="799" alt="image" src="https://user-images.githubusercontent.com/

[2022-06-01 11:37] kschiffer commented on #3947
@mjamescompton

Here's the scaffold I would suggest for this:

<img width="1091" alt="image" src="https://user-images.githubusercontent.com/5710611/171395579-f51692fa-fb52-4bae-a9bd-8caebbac4df4.png">

Let me know if you have any questions. You can also refer to [my comment on end device onboarding](https://github.com/TheThingsNetwork/lorawan-stack/issues/4847#issuecomment-1143399424). Many notes

[2022-06-01 14:45] janakj commented on #5360
I can confirm that LoRaMac-node (v4.6.0) now works with TTN in LoRaWAN 1.1 mode.

[2022-06-02 08:10] #5457 closed, assigned to htdvisser

[2022-06-02 14:07] kschiffer opened #5512 "Load device profile from DR when using CSV import"
#### Summary
When importing end devices in bulk using the end device import feature, the device profile should be applied as provided from the DR.

#### Why do we need this?

- Facilitate device import, allow importing devices from keys only, without the need of providing settings manually
- Make better use of data we have in the DR

#### What is already there? What do you see now?

- Device profi

[2022-06-02 14:07] kschiffer commented on #5456
+1 on this -> #5512

[2022-06-02 15:57] nicholaspcr commented on #5456
@kschiffer Looks like a good idea to me, I can take a look into doing that on the backend.
Like you said on #5512, if it's on the backend it would also be applicable to the CLI. So it's probably best.

[2022-06-03 11:03] jpmeijers opened #5513 "Console Last Activity not updating when Live data tab shows data"
#### Summary

When looking at the Live data tab for an end device, the Last Seen/Activity indicator does not update, even though new data is shown in the Live feed.

![Screenshot from 2022-06-03 13-00-22](https://user-images.githubusercontent.com/948278/171841805-748e006e-a84b-482b-84b2-416b5bc35607.png)

#### Steps to Reproduce

1. Create new device
2. Go to live data tab
3. Power on device

####

[2022-06-04 17:36] johanstokking commented on #5491
Yes, for it to be requested from GS, for the Console. We don't have to put the IP address in every stats update (to store or events to NOC); only on connect. We could add a initial `GatewayConnectionStats` message as event payload to `gs.gateway.connect` (currently there's no payload), and include the IP address there.

It becomes a bit deployment specific, but in case of UDP we already have the s

[2022-06-04 17:53] johanstokking commented on #5492
Yep, I didn't realize this when telling @furtiman that we need new event data.

[2022-06-04 17:53] #5492 closed, assigned to johanstokking

[2022-06-04 17:55] johanstokking commented on #3947
References also https://github.com/TheThingsNetwork/lorawan-devices/issues/124.

If there's anything needed that is generic for a particular gateway and model, we might want to load that from the device repository too.

[2022-06-05 12:40] johanstokking commented on #5456
Yes I'm a big fan of #5512. We should do that anyway.

Still, we should support this too. It's not too big of a deal to add additional fields support in the CSV import, and I'm sure this can come in handy.

[2022-06-07 07:06] htdvisser commented on #5491
Indeed, in our AWS ECS deployments we should be able to determine the source IP address, also for MQTT, which uses pretty much the same AWS NLB settings as UDP. For Basic Station, Envoy should also get the correct source IP from AWS NLB, and add an X-Forwarded-For header that we can read in The Things Stack.

The problem is mostly with other (unknown) proxy configurations, but I suppose we can jus

[2022-06-07 10:09] #5448 closed, assigned to ryaplots

[2022-06-07 11:08] NicolasMrad commented on #5413
https://github.com/TheThingsIndustries/lorawan-stack/issues/3244

[2022-06-07 12:22] johanstokking commented on #5491
Yep. Including not using a load balancer, which isn't really needed with TTSOS anyway.

So we the origin IP already for UDP, Basic Station, GRPC and MQTT. The only thing is that the frontends need to provide the IP address nicely, probably with a new context key.

[2022-06-07 12:23] johanstokking commented on #5491
@KrishnaIyer please assign a version milestone or we discuss in next weekly call.

[2022-06-08 03:55] KrishnaIyer commented on #5491
I've added `v3.20.2` taking holidays into account.

[2022-06-08 13:11] johanstokking commented on #5491
Cool. Implementation proposal:

1. Define new context value or just `net.Addr`
2. Let the I/O frontends set the value on the context before calling `Connect()` (just like rights are set in certain frontends)
3. The frontends use various ways to get the IP address:
   - UDP: let `connect()` (of `pkg/gatewayserver/io/udp.(*srv)`) take the `*net.UDPAddr` so it can put that in a derived context before

[2022-06-08 13:20] christoph-nils commented on #5413
This repository is not publicly viewable so I can't see it.
Will it be introduced first in TheThingsIndustries/lorawan-stack?

[2022-06-08 13:25] johanstokking commented on #5413
@christoph-nils sorry about that. The integration is proprietary so we track that in proprietary repos, but it's not very helpful indeed.

What we decided on is that we first implement Remote Multicast Setup in the Application Server. That gives a proper API towards upstream integrations (including the AWS IoT Integration) for multicast.

The thing is that IoT things are created solely based on up

[2022-06-08 15:07] ymgupta opened #5522 "Status count periodicity field displaying incorrectly in TTS Console when set to 0"
#### Summary
The TTS console is displaying the **Status count periodicity** field as `200` when it is updated as `0`.

#### Steps to Reproduce
1. Update the **Status count periodicity** of a device to `0` in TTS Console.
2. Refresh the page and observe the value in the field in TTS Console.

#### What do you see now?
- **Status count periodicity** of a device is displayed as `200` in TTS Console w

[2022-06-08 20:32] #5183 closed, assigned to adriansmares

[2022-06-09 04:41] KrishnaIyer commented on #2798
Picking up `metadata.proto` and `messages.proto`

[2022-06-09 10:49] kschiffer opened #5526 "Random failures when logging in programmatically in the CI"
#### Summary
There are random CI failures caused by the cypress end-to-end tests that are due to occasional failures of the programmatic login procedure that we use to log in within tests.

<img width="512" alt="image" src="https://user-images.githubusercontent.com/5710611/172829287-7386548a-25d1-4720-9c44-93db2a625777.png">

#### Steps to Reproduce
Unfortunately, it is not yet possible to reprodu

[2022-06-10 10:08] robshep opened #5529 "Event Stream not in strict "text/event-stream" format"
#### Summary
Event Stream does not output any field key names per line I.e. "^data: "

According to: https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events

Here are some relevant excerpts:

and importantly:

With regard to the above statement looking at the current output format (without any field name prefix) an SSE client that is expecting strict formatting

[2022-06-10 11:52] htdvisser opened #5530 "Post-V3 API Style Guide"
#### Summary

I think it would be good if for our future API, assuming we'll still use protobuf, we start following a style guide based on the ones from [Google](https://developers.google.com/protocol-buffers/docs/style) and [Buf](https://docs.buf.build/best-practices/style-guide).

#### Why do we need this?

In order to write a clean API that follows best practices (or at least: good practices th

[2022-06-10 13:15] johanstokking commented on #717
@NicolasMrad what is this blocked on? Please write here what's been discussed.

References https://github.com/TheThingsIndustries/lorawan-stack-aws/issues/240

[2022-06-12 16:56] V999TEC opened #5534 "Ttn-lw-cli applications subscribe HANG"
#### Summary
When I execute **ttn-lw-cli events --gateway_id [_whatever_]**
the cli will (as expected) run until the access token expires and returns to the caller.

When I’m not authenicated I can just do **ttn-lw-cli login** to get a new access token.
That all works fine :smiley:

However, when I execute **ttn-lw-cli applications subscribe --application-id [_whatever_]**
the cli (unexpectedly) w

[2022-06-13 08:57] #5522 closed, assigned to ryaplots

[2022-06-13 13:34] #5513 closed, assigned to kschiffer

[2022-06-14 05:14] KrishnaIyer commented on #4874
Moving this to `v3.20.2` when I can have an end device to run tests.

[2022-06-15 10:10] Achichig opened #5538 "Uplinks of 255 bytes are discarded in EU868 and IN865 frequency plan"
#### Summary

Device configured on LoRaWan v1.0.4 - RP2 1.0.1 on EU868 and IN865 frequency plan and ADR configured for using DR5.
Uplink of 255 bytes (Phy_payload) are discarded when it shouldn't.

#### Steps to Reproduce

1. Configure device to DR5
2. Send an uplink with max payload size

#### What do you see now?

On stack logs I see:
`stack_1      | DEBUG    Uplink length exceeds maximum   {"ac

[2022-06-16 06:44] ymgupta opened #5541 "Unable to sort the API Key tables based on the `Granted Rights` in TTS Console"
#### Summary
From `TTS v3.20.0` release, we see that Collaborator and API Key tables can now be sorted in the Console. Ref: [Status Page](https://status.thethings.industries/incidents/fbp0hcjy95qk)

While the API Key are sorted based on the `Granted Rights`, we see the below error.
[code]

#### Steps to Reproduce

1. Login to TTS Console
2. Navigate to Applications
3. Select an Application. Make s

[2022-06-16 09:18] kschiffer opened #5542 "Field masks for event streams and event data passed to integrations"
#### Summary
We should provide a way to pass field masks to the event streams and event data that is passed to integrations so that any unwanted data is stripped and bandwidth is saved.

#### Why do we need this?
- Make it easier to retrieve relevant information / remove noise from event streams and integrations
- Decrease bandwidth for streams and integrations
- To configure a default set of fiel

[2022-06-16 10:01] #5526 closed, assigned to kschiffer, ryaplots

[2022-06-16 18:06] nicholaspcr commented on #5397
Hi @flapotre, my apologies for the delayed response on this issue.

At first I had the same problem when trying to replicate the steps and marked this as bug, after paying more attention I realized that the command given by the documentation `ttn-lw-cli completion zsh` in fact generates a bash autocomplete script due to the lack of the `--shell` flag before `zsh`.

After adding the flag I couldn't

[2022-06-17 08:08] johanstokking commented on #5542
Right, since there are different event types with each having their own event data types, we would need a map of event type to field mask as part of the subscription.

Did I come up with this? The only real benefit I see indeed is to reduce bandwidth and to harmonize this with getting entities (where the server also applies the field mask). Otherwise, I think that selecting which fields are releva

[2022-06-17 08:22] kschiffer commented on #5542
Actually, I think we should broaden the scope of this a bit. This is not only relevant for the event streams, but also for the event data passed to integrations such as webhooks, where users will be mostly interested in only some props but currently get a huge data object for each event. They can of course disregard unused data but it's still a lot of wasted bandwidth.

As far as the event streams

[2022-06-20 21:11] nicholaspcr commented on #5397
Considering that the documentation PR has been added to correct the lack of the `--shell` flag in the example, I'll be closing this PR.

@flapotre If you still have any problems with the autocomplete feel free to write about it here.

[2022-06-20 21:11] #5397 closed, assigned to nicholaspcr

[2022-06-21 09:57] adriansmares commented on #5538
This is a valid bug report, caused by the way our stack handles payload limits.

Right now the payload limit for the IN865 band is based on the repeater-compatible scenario:
![image](https://user-images.githubusercontent.com/36161392/174768958-8bcef492-fcb9-42ab-9ce6-c2418e2ca397.png)
https://github.com/TheThingsNetwork/lorawan-stack/blob/ad93aca6244217d356231af47cb871fb43b9fa9f/pkg/band/in_865_86

[2022-06-21 13:32] johanstokking commented on #5538
I think we can assume that repeaters aren't being used for now.

When device-to-device specifications land in LoRaWAN or in a companion specification, we can revisit this.

[2022-06-21 15:13] kschiffer commented on #5541
Thanks for reporting this. Sorting on the associated rights should not actually be possible, so this is indeed a Console bug. I'll create a PR to remove the sort button on the rights column.

[2022-06-21 22:35] cprovidenti opened #5551 "CFList inconsistent with United States 902-928 MHz, FSB 2"
#### Summary
The CFList in the Join-Accept received by the end-device is inconsistent with the frequency plan [United States 902-928 MHz, FSB 2](https://github.com/TheThingsNetwork/lorawan-frequency-plans/blob/master/US_902_928_FSB_2.yml). This frequency plan specifies that uplinks can be received on US915 channels 8-15 and 65, but the ChMask received from The Things Stack enables channels 8-15 on

[2022-06-22 08:25] #5541 closed, assigned to kschiffer

[2022-06-22 13:00] lulf opened #5553 "Potential regression in UpdateEndDeviceRequest"
#### Summary

We have a component that is reconciling the internal state of our device database with TTN API, and it recently started failing with the following error:

[code]

I am not sure if this is an expected change on your end or not, but it seems like a regression unless I'm mistaken about it used to work before. It could also be that it just didn't throw the error before and ignored the fi

[2022-06-22 13:07] lulf commented on #5553
Sorry for the spam. I accidentally hit create so I had to update the issue a few times with a more accurate description

[2022-06-23 08:01] #4196 closed, assigned to adriansmares

[2022-06-23 10:40] #2020 closed

[2022-06-23 13:03] NicolasMrad commented on #4610
fixed by #5353

[2022-06-23 13:03] #4610 closed, assigned to adriansmares

[2022-06-24 16:58] vkrasnhak opened #5559 "auto_update flag is not working in CLI"
#### Summary

Using auto_update flag is not working in CLI

#### Steps to Reproduce

1. Try to create a gateway with `gateways create`
2. Use the **auto_update** flag with value **false**

#### What do you see now?

error:cmd/ttn-lw-cli/commands:invalid_gateway_eui (invalid gateway EUI)
    correlation_id=744dc286a9374cf7b5b728592090d9f9
--- error:pkg/types:invalid_eui (invalid EUI)
    correlatio

[2022-06-27 21:18] NicolasMrad commented on #2887
is this still relevant?

[2022-06-27 21:22] NicolasMrad commented on #2813
@kschiffer I think this issue needs to be updated.

[2022-06-27 21:24] NicolasMrad commented on #2435
@kschiffer can this be closed?

[2022-06-28 13:17] wmcelderry opened #5560 "SIGSEGV on `ttn-lw-cli device delete` 3.20.0"
#### Summary

Deleting an end-device using `ttn-lw-cli` can throw a SIGSEGV.

#### Steps to Reproduce

Not 100% sure what the trigger is (have deleted a device with this code before).

What I did in this case:
1. create the test device using `ttn-lw-cli`
2. deleted the test device in the console
3. created the test device in the console (same name, but in ABP mode)
4. attempt to run a script that

[2022-06-29 08:03] htdvisser commented on #960
The coverage table in this issue is quite outdated. And with the Coveralls integration gone, we can't regenerate it. I think we should just close the issue and generate a new overview at some point in the future.

[2022-06-29 08:03] #960 closed

[2022-06-29 08:21] kschiffer commented on #2231
Let's schedule this and aim for completion in Q3.

[2022-06-29 08:27] kschiffer commented on #2887
Yes, though the issue is not as immediate as it used to be due to our default event filtering and event count limit. Applications with a lot of chatty devices will still push the Console over a breaking point though.
Can you add a note to discuss this in the next stack meeting?

[2022-06-29 08:29] kschiffer commented on #2813
This can be closed since most of it is implemented or will be refactored soon with the new guidelines in place.

[2022-06-29 08:33] kschiffer commented on #2435
Likely, but let's discuss this one as well in the stack meeting before.

[2022-06-29 08:35] nejraselimovic commented on #5553
@lulf Ulf, thank you for creating this issue. The `ids.dev_eui` field is indeed a part of the allowed field mask for the `Set` method, because you have to use it when registering the end device. However, when the end device is already created, this field can no longer be changed, i.e. you cannot update the DevEUI. This goes for app ID, device ID, join/app EUI, device EUI and API key ID. You can al

[2022-06-29 08:42] htdvisser commented on #2637
It actually looks like iOS automatically uploads photos as JPEG, so this is not necessary.

[2022-06-29 08:42] #2637 closed

[2022-06-29 08:44] lulf commented on #5553
@nejraselimovic Thanks for clarifying this! We'll update our usage of the API accordingly.

[2022-06-29 08:44] htdvisser commented on #1632
Since AWS SES also has an SMTP interface, I don't think we need to do this.

[2022-06-29 08:44] #1632 closed

[2022-06-29 09:30] htdvisser commented on #3549
In the meantime this has become a bit easier to do on Docker Hub.

First, we have to install `hub-tool`:

[code]

Then we can clean up old open source development images:

[code]

And the same for enterprise development images (excluding AWS and RC images):

[code]

[2022-06-29 10:05] adriansmares opened #5561 "Re-enable Goreleaser parallelism during release"
#### Summary

References https://github.com/canonical/craft-cli/issues/84

#### Why do we need this?

The Goreleaser parallelism has been disabled since `snapcraft` does not support it due to the above mentioned issue. Once that issue is solved, we should re-enable parallelism.

#### What is already there? What do you see now?

The `goreleaser` step using the `release-tag.yml` action uses `--paral

[2022-06-30 08:41] adriansmares opened #5565 "Upgrade bun"
### Summary

References https://github.com/uptrace/bun/pull/548
References https://github.com/TheThingsIndustries/lorawan-stack-aws/pull/653

We should upgrade bun once a release is available that includes https://github.com/uptrace/bun/pull/548 .

### Current Situation

We are currently running bun 1.1.5.

### Why do we need this? Who uses it, and when?

We should upgrade to bun v1.1.6 or higher.

[2022-07-01 05:56] #5553 closed, assigned to nejraselimovic

[2022-07-01 09:08] #5538 closed, assigned to adriansmares

[2022-07-01 12:41] htdvisser commented on #2435
For the record, last year I worked on the backend side of message translations (https://github.com/TheThingsNetwork/lorawan-stack/tree/feature/2435-backend-i18n).

![image](https://user-images.githubusercontent.com/181308/176896340-52be90b7-5521-4422-aad4-1a05cab1b0b1.png)

However, that branch was never finished, because there wasn't really any demand for this, so if we decide to close this issue

[2022-07-02 12:05] bc547 opened #5576 "End device last seen not persistent"
### Summary

When opening or reloading the end devices list of an application in the console, the 'last activity' of all devices is always shown as 'never'. If the page is kept open, the 'last activity' field is updated after new uplinks, but after refreshing the page the page, it shows again 'never' for all devices.

There also appear related database errors in the logs every 10 seconds.

### Ste

[2022-07-04 06:53] zouOrange opened #5577 "Downlink transmission failed with result Too EARLY"
### Summary

Hello, please ask a question, in Class C mode, TTN(NS) sends data too early(NS displays an error message: Failed to transmit downlink Downlink transmission failed with result Too EARLY), resulting in packet loss problems. Why? Thank you!

### Current Situation

Frame counter width
●32 bit
Desired Rx1 delay②
5  sec
Desired Rx1 data rate offset
0
Desired Rx2 data rate index
8
Desired Rx

[2022-07-04 08:05] KrishnaIyer commented on #5577
@zouOrange: Please add proper debugging information that includes device, gateway settings and event logs.

[2022-07-04 09:16] zouOrange commented on #5577
You mean I set the device information with an error?

[2022-07-04 09:17] NicolasMrad commented on #5559
Thank you for submitting the issue @vkrasnhak , but can you please provide more information regarding this issue?
Either provide more logs or screenshots of the steps taken to reproduce this issue

[2022-07-04 09:39] KrishnaIyer commented on #5577
No, I mean please provide us detailed information on your setup and the event logs from The Things Stack Console or CLI.

[2022-07-04 10:02] zouOrange commented on #5577
![1](https://user-images.githubusercontent.com/108652935/177132050-575a14bd-d751-45cd-9697-6fcb3ba1a914.PNG)
![2](https://user-images.githubusercontent.com/108652935/177132060-8e7896f9-30d4-49cd-af47-c641f7e5f335.PNG)
![3](https://user-images.githubusercontent.com/108652935/177132065-9d51d122-b649-469c-aa12-e3c54d90e48c.PNG)
![4](https://user-images.githubusercontent.com/108652935/177132067-fc83c1

[2022-07-04 10:11] zouOrange commented on #5577
This is where I went wrong
![5png](https://user-images.githubusercontent.com/108652935/177133837-10b0190e-fce8-404b-be0d-586ad0ee573d.png)

[2022-07-04 11:46] andreusoler8 opened #5578 "Loss of inventory in upgrade from 3.6 to 3.20"
### Summary

I am following the official upgrade documentation (https://www.thethingsindustries.com/docs/getting-started/upgrading/) to upgrade from my current version of TTS 3.6.0 to the latest version available. Following the steps, I manage to update the version but neither the registered users, nor the gateways, nor the applications with their devices are maintained.
What should I do to be abl

[2022-07-04 13:07] adriansmares opened #5580 "Console deleted users management support"
### Summary

The Console should support the management of the deleted users (i.e. restoration / purging), in a similar fashion to how applications and gateways may be restored or purged.

### Current Situation

Administrators can soft-delete users, but they cannot manage deleted users at all.

### Why do we need this? Who uses it, and when?

Administrators that would like to hard delete (purge) us

[2022-07-05 06:38] KrishnaIyer commented on #5491
Proposal looks good to me. However, I think that adding the new struct (or `net.Addr`) as an argument to `Connect` seems better to me instead of passing it in the context.

[2022-07-05 09:09] adriansmares commented on #5551
The issue at hand is that the [LoRa Standard Channel](https://github.com/TheThingsNetwork/lorawan-frequency-plans/blob/6d17f9495e61b3fad956c402d19245f3d021406d/US_902_928_FSB_2.yml#L35-L38), and [FSK Channel](https://github.com/TheThingsNetwork/lorawan-frequency-plans/blob/6d17f9495e61b3fad956c402d19245f3d021406d/EU_863_870.yml#L64-L67) operate on data rates that run at [500 KHz](https://github.co

[2022-07-05 09:45] NicolasMrad commented on #2887
currently the data is robust, will re-open if anything comes up in the future

[2022-07-05 09:45] #2887 closed

[2022-07-05 09:46] NicolasMrad commented on #2435
let's keep the branch, but closing the issue for now

[2022-07-05 09:46] #2435 closed

[2022-07-05 09:52] NicolasMrad commented on #5578
Thank you for submitting the issue @andreusoler8 , can you please provide logs for the upgrade process because it is not possible not upgrade to v3.30 directly from v3.6, you have to upgrade to 3.19 first.

[2022-07-05 11:50] andreusoler8 commented on #5578
Hi @NicolasMrad, these are the logs (with the command 'docker compose logs') created during the upgrade process to version 3.19 with the same problem of loss of inventory:

thethingsstack-redis-1     | 1:M 05 Jul 2022 11:07:03.143 # User requested shutdown...
thethingsstack-redis-1     | 1:M 05 Jul 2022 11:07:03.143 * Calling fsync() on the AOF file.
thethingsstack-redis-1     | 1:M 05 Jul 2022 11

[2022-07-06 05:39] KrishnaIyer commented on #5577
Are you using Class-C absolute scheduling? What is the scheduling request?

The Things Stack can buffer messages to be sent to gateways if the gateway rejects downlinks sent in advance.

So, on the console, you could select the "Enable server-side buffer of downlink messages" option and try again.

Also, gateway Packet Forwarder logs would be really helpful.

[2022-07-06 09:33] matthijskooijman commented on #4502
I also ran into this yesterday, being confused for a while why no packets came in after a reset, until I realized what was going on (and then someone pointed me to this issue).

I can see that implementing the proposed change (processing retransmissions for FCnt=0) is not ideal indeed.

However, to reduce user surprise, I wonder if it would be possible for dropped retransmissions to be displayed i

[2022-07-07 09:01] #52 closed

[2022-07-07 09:03] htdvisser commented on #49
With #5414 landing in The Things Stack we can expect an increase in requests for OAuth client approvals. Since many of those clients will initially only be used for development (and not for use by the larger community) I think we should re-prioritize this issue so that we can make it easier for users to get started with developing OAuth clients without having to wait for admin approval.

cc: @Nico

[2022-07-07 09:04] htdvisser commented on #136
Removing assignment here. If this is something users want, please react with a 👍 vote on the issue.

[2022-07-07 09:06] htdvisser commented on #1694
Removing my assignment. If there are more users that would like to see this functionality, please react with a 👍 vote on the issue, so that we can track demand from the community.

[2022-07-07 09:08] htdvisser commented on #1760
Re-assigning to @KrishnaIyer because he's been working on TLS/mTLS recently. This issue has multiple 👍 votes from users, so there is clearly demand for it.

[2022-07-07 09:14] htdvisser commented on #3272
Refs https://github.com/TheThingsIndustries/lorawan-stack/issues/1674#issuecomment-1177289826

cc: @NicolasMrad

[2022-07-07 09:24] htdvisser commented on #5233
Removing my assignment and bumping this back to triage for prioritization. We can also still decide to just leave TTKG firmware on Azure, but then we need to keep in mind that the Root certificate Azure uses (and is hard-coded into the firmware of TTKG) expires on Mon, 12 May 2025. We expect Microsoft to change roots before then, so if we want to avoid that all TTKGs go down within 24 hours of tha

[2022-07-07 09:29] htdvisser commented on #3658
Refs https://github.com/TheThingsIndustries/company/issues/98#issuecomment-1177278973

cc: @NicolasMrad

[2022-07-08 07:25] johanstokking commented on #4502
I think we should be able to publish events for dropped retransmissions (and frames received after the deduplication window closes), providing that we _can_ do the device matching first.

That would also be helpful with understanding which gateways or peering routes were too slow to be considered in deduplication.

@adriansmares what do you think?

[2022-07-08 08:29] adriansmares commented on #4502
The frames received during the cooldown period will be silently dropped before they are even matched for performance reasons. In general caching the matching result in a way that is consistent is tricky - we want to avoid writes as much as possible, and 'waiting' for a matching result is prone to race conditions.

Retransmissions arriving outside of the cooldown period will be matched, and there w

[2022-07-08 12:42] johanstokking commented on #4502
I think we all understand the downsides of this. Indeed it would be about an event of rejected retransmissions, so after matching. I think it's very much acceptable not to see messages discarded during the cooldown window.

[2022-07-08 13:58] adriansmares opened #5585 "Clarify the semantics of the uplink message timestamps"
### Summary

The timestamps found in the `UplinkMessage` message should have their semantics clarified.

### Current Situation

We currently have multiple timestamps available:

1. The timestamp at which the Gateway Server / Network Server received the frame:
https://github.com/TheThingsNetwork/lorawan-stack/blob/70d88dd86a9b17bf8faf1bbea6961d6c5d3f2ae7/api/messages.proto#L83-L85

2. The timestamp

[2022-07-08 14:20] adriansmares opened #5586 "DeviceTimeAns timestamp is not corresponding to the specification"
### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/issues/2471
References https://github.com/TheThingsNetwork/lorawan-stack/pull/2478
References https://github.com/TheThingsNetwork/lorawan-stack/issues/5585

The Network Server should not use the Network Server receive time as a response to `DeviceTimeReq`, but instead the timestamp of the end of the transmission.

### Curren

[2022-07-08 19:38] #5456 closed, assigned to nicholaspcr

[2022-07-09 09:26] descartes commented on #4502
Of the many complications of storing state, for ABP it is pretty much just holding the f_cnt and almost all devices have some EEPROM that is not cleared by a firmware update that the f_cnt could be kept in and restored from and updated - not ideal on the EEPROM if it's actually flash - but then this is for testing ...

@matthijskooijman, High Altitude Balloons can be heard by gateways many 100km's

[2022-07-11 12:04] htdvisser opened #5587 "Refactor Identity Server Store interfaces"
### Summary

It would be good to make some changes to some Identity Server Store interfaces to make methods more "single-purpose".

### Current Situation

- The `SetMember` method of the `MembershipStore` interface deletes a collaborator when passing zero rights.
- The `UpdateAPIKey` method of the `APIKeyStore` interface deletes an API key when passing zero rights.
- The `Validate` method of the `

[2022-07-11 12:05] htdvisser commented on #5587
Blocked on #3250, so for triage let's just assign someone, and maybe schedule it for Q4 or so.

cc: @NicolasMrad

[2022-07-11 15:33] johanstokking commented on #5586
Yes it's confusing but not incorrectly written. Network is everything that is not the end device. And it receives the time indeed from the Network Server, like all frames. But indeed, the wall time is determined at the end of the uplink transmission.

I would suggest:

1. `time` from RX metadata. There is no GPS time in `settings` (= TX settings), and if so, it would be the _transmission_ GPS time

[2022-07-11 15:45] adriansmares commented on #5586
You're going in the right direction with respect to GPS time - I think we should clarify https://github.com/TheThingsNetwork/lorawan-stack/issues/5585 first before looking at this issue. Mixing GPS and non GPS timestamps is causing problems down the line, and I do think that we should not fall back to approximations if we really have the GPS time available.

Keep in mind that the same frame may be

[2022-07-11 15:52] adriansmares commented on #5585
Another thing pointed out by https://github.com/TheThingsNetwork/lorawan-stack/issues/5586#issuecomment-1180573745 is that perhaps we should have next to the `gps_time` also the `received_at` (representing the time at which the Gateway Server has received the message), and a duration called `mean_round_trip_time`.

The reasoning for the extra `received_at` is that the Network Server will erase the

[2022-07-11 17:12] nicholaspcr commented on #5512
When working on this I had an error when making a request to the Device Repository in which it states that `rights` are needed for the request.
[code]
After having a talk with @adriansmares the request of application rights on the DR seems to be a bit strange, when the device repository was specified by https://github.com/TheThingsNetwork/lorawan-stack/issues/3433, one of the comments were `The AP

[2022-07-12 09:09] #5491 closed, assigned to KrishnaIyer

[2022-07-12 12:52] onizmx opened #5591 "Unnecessary 19th leap second when calculating GPS transmission time"
### Summary

Gateway receives tmms with 1 second added on top of expected aboslute time for multicast transmission.
End devices failing to receive some messages since 2022-07-06T04:59:42.000Z due to the misalignment in timing.
https://github.com/TheThingsNetwork/lorawan-stack/blob/e8306614a93bef1271ae772ef815a2f836f1f30a/pkg/gpstime/gpstime.go#L44

### Steps to Reproduce

Schedule multicast messag

[2022-07-12 15:11] johanstokking commented on #5585
Do we even know how the gateway acquired absolute time? In which protocols is it obvious what the time source is; GPS, NTP or server-RTT based? I think we shouldn't put any gateway provided absolute time in `gps_time`. I think that the RX metadata's `time` is the best we can do, and it's up to the gateway and the protocol to provide the most accurate wall time in there.

---

What are we trying to

[2022-07-12 15:18] johanstokking commented on #5586
What to do with multiple `gps_time`s?

---

We just need the GPS time at the end of the transmission, right? So gateways can determine this with NTP or GPS. If they can't, GS does it for them but then we can subtract half of the known RTT. If we don't know the RTT, fine, we use GS clock.

---

This is the updated text from the yet unreleased LoRaWAN Backend Interfaces 1.2:

Information Element | G

[2022-07-12 15:24] adriansmares commented on #5585
For both UDP ([`tmms`](https://github.com/Lora-net/packet_forwarder/blob/d0226eae6e7b6bbaec6117d0d2372bf17819c438/PROTOCOL.TXT#L355)) and BasicStation ([`gpstime`](https://lora-developers.semtech.com/build/software/lora-basics/lora-basics-for-gateways/?url=tcproto.html)) we know for sure which timestamp is GPS based. The MQTT v2 format does not have this semantically specified, and MQTT v3 / Proto

[2022-07-12 15:35] johanstokking commented on #5512
We want some form of authentication for rate limiting user tokens or API keys. Also external services would be able to use TTSC as a public API for querying the device repository. So we must keep authentication. You can document the reasons for this so our future selves know why we do this. I very much understand the question.

@KrishnaIyer didn't you need a simple "is authenticated" check too? Di

[2022-07-12 15:37] johanstokking commented on #5585
Okay indeed if we know that the absolute time is GPS based, we can put it in `gps_time`.

But what do we do with `time` then? What is the added value of that?

[2022-07-12 15:44] adriansmares commented on #5585
In the wild, we have many gateways that are not GPS enabled, but will provide a [`tmst`](https://github.com/Lora-net/packet_forwarder/blob/d0226eae6e7b6bbaec6117d0d2372bf17819c438/PROTOCOL.TXT#L354) (in UDP) or a [`rxtime`](https://github.com/lorabasics/basicstation/blob/ba4f85d80a438a5c2b659e568cd2d0f0de08e5a7/src/s2e.c#L186) (in BasicStation). I think there is value in still allowing that to be

[2022-07-12 15:55] adriansmares commented on #5586
The expectation here is that they are all equivalent with millisecond precision.

But the NS has to somehow know which timestamp to pick. If we put this fallback mechanism at GS level, and just say 'use `time`', we're not solving the issue - if we have 2 `time`s, which one do you put in `DeviceTimeAns` ?

Take the following two gateways that share the same room - any uplink sent is going to be vis

[2022-07-13 06:14] KrishnaIyer commented on #5512
[rpcmetadata.WithForwardedAuth](https://github.com/TheThingsNetwork/lorawan-stack/blob/a108016b36b5253c05673a75c6e2f03c038bc0f0/pkg/rpcmetadata/request.go#L39-L47) already does this. It checks the incoming context for "any" auth which includes ClusterAuth.

The reason to check for Application ID rights was that the call to `GetTemplate` is designed to be used in the device onboarding flow where th

[2022-07-13 08:20] #5591 closed, assigned to adriansmares

[2022-07-13 08:28] johanstokking commented on #5585
OK for `rxtime`, but `tmst` is the concentrator time.

We can still fill `time` with a best effort absolute time, yeah? That is, NTP or GPS or server-RTT based. But `gps_time` will only be GPS time.

[2022-07-13 08:34] adriansmares commented on #5585
Correct - I meant to say [`time`](https://github.com/Lora-net/packet_forwarder/blob/d0226eae6e7b6bbaec6117d0d2372bf17819c438/PROTOCOL.TXT#L133).

Exactly what I propose indeed.

[2022-07-13 08:34] johanstokking commented on #5586
The one where we know is GPS. If we don't know for sure it's GPS time in the MQTT V2 protocol, then we don't consider that GPS time. Otherwise it's GS observed `received_at`.

---

Yep, `RecvTime` needs to get the fraction too.

---

Why?

`RecvTime` should just be what it is: the GPS time at the end of transmission. If it can be observed by the gateway, use the gateway GPS time, otherwise the ser

[2022-07-13 08:39] johanstokking commented on #5512
Yes, but that is not a idiomatic `rights.RequireXXX()` check.

All the other rpcs need auth too, and that is not for application context, but because we don't want to allow anonymous access to this API.

[2022-07-13 09:41] #3886 closed, assigned to ryaplots

[2022-07-13 10:12] adriansmares commented on #5585
Ok so we settled the details for the implementation offline. Tasks to do here:
- [ ] Add a `gps_time` timestamp field to the `RxMetadata` message.
   - It is meant to always be sourced from a GPS time source. It is null (empty) when we don't have a GPS timestamp available. It will be filled by the Gateway Server.
   - For UDP this means adding changes [here](https://github.com/TheThingsNetwork/lor

[2022-07-13 10:21] adriansmares commented on #5586
Settled offline - we will interpret the specification requirement of `+-100 ms error` as being present only if a GPS-enabled gateway is available. Otherwise it is technically impossible to have a bound on the time error, and the server time will suffice.

---

Tasks to do here:
- [ ] In [`HandleDeviceTimeReq`](https://github.com/TheThingsNetwork/lorawan-stack/blob/70d88dd86a9b17bf8faf1bbea6961d6c5

[2022-07-13 13:22] KrishnaIyer commented on #5512
Ok so we'd need a `rigths.RequireAny()` or something that wraps [rpcmetadata.WithForwardedAuth](https://github.com/TheThingsNetwork/lorawan-stack/blob/a108016b36b5253c05673a75c6e2f03c038bc0f0/pkg/rpcmetadata/request.go#L39-L47) then?

[2022-07-13 14:04] johanstokking commented on #5512
Why wrap getting a call option?

We just need:

[code]

[2022-07-13 14:08] adriansmares commented on #5512
What is the point of requiring that values exist if they may be `foo` and `bar` ? Just for logging and tracing ?

For rate limitting concerns if the auth value is randomized, and not validated, the rate limitting is basically neutralized.

[2022-07-14 08:10] kschiffer opened #5597 "Enable field masks for webhook messages"
### Summary

We should provide a way to pass field masks to the event streams and event data that is passed to integrations so that any unwanted data is stripped and bandwidth is saved.

### Current Situation

Webhook data is always passed in full. There is no way to control what (relevant) data is being passed. This increases the required bandwidth as well as noise.

### Why do we need this? Who

[2022-07-14 08:11] kschiffer commented on #5542
Replaced by https://github.com/TheThingsNetwork/lorawan-stack/issues/5597

[2022-07-14 08:11] #5542 closed, assigned to johanstokking

[2022-07-14 10:51] johanstokking commented on #5512
Right, so we need to actually get the auth info.

[2022-07-16 06:36] ymgupta opened #5607 "Console returning Not found error while accessing a User with the numeric User ID"
### Summary

When the User ID contains only numbers, the TTS console is throwing `Not found` error while accessing the user in the Collaborator tab (to change rights) or User Management tab in TTS Console.

### Steps to Reproduce

1. Create a new user with the User ID as `01`.
2. Access the user in the User Management tab from the Admin account.
3. Add the user as a collaborator to an entity from

[2022-07-18 08:14] Achichig opened #5608 "The network server does not respond to DeviceTimeRequest if the command is accompanied by a TXParamSetupAns"
### Summary

In the case where a modem has to send a TxParamSetupAnswer and a DeviceTimeRequest, the NS sees the commands but does not answer the DeviceTimeRequest.

### Steps to Reproduce

I saw this bug using AS923 GRP4 frequency plan, Lorawan spec 1.0.4, RP2 v1.0.3.

1. Send payload (frm_payload) 0x09 0D to NS (0x09 for TxParamSetupAns and 0x0D for DeviceTimeRequest) on port 0 (without fopts)

[2022-07-18 11:50] adriansmares commented on #5608
Can you please provide an event stream in JSON format with verbose logging enabled ? You may share those via email (`adrian.mares@thethingsindustries.com`) if you consider that they contain sensitive data.

Note that you should never rely on having a Network Server response in the subsequent downlink - that's only the happy case. A non exhaustive list of things that can go wrong:
- The uplink cont

[2022-07-18 12:04] Achichig commented on #5608
Hello adriansmares,

Thanks for your answer, I will send you the verbose logs by email right now

[2022-07-18 12:58] #5127 closed, assigned to adriansmares

[2022-07-18 14:11] adriansmares commented on #5608
Thanks for the logs - I have found the issue here. It is interesting.

---

In TTS we have the concept of pending requests - MAC command requests which are awaiting for a response from the end device. The flow is particularly easy:
1. An end device sends an uplink.
2. We walk through the MAC commands from the end device and check if the responses handle any old pending requests. These are removed

[2022-07-18 15:25] #5398 closed, assigned to KrishnaIyer

[2022-07-18 20:35] nicholaspcr commented on #5512
I meant to write here earlier but opted to work on the PR draft to get a better idea of the whole flow and see if I can get the entire picture. In short, there is the validation to see if the authentication exists and its there to impede other people from using or spam the API.

While this is true for the DTC as well, considering that console/api would have access to both information, I'm not sure

[2022-07-18 20:56] #5559 closed, assigned to nobody

[2022-07-19 07:25] adriansmares commented on #5578
Hey @andreusoler8,

Could you please provide the logs for the actual migration operations ? (`is-db migrate`, `ns-db migrate` etc.)

We cannot really tell what caused your inventory to be lost only from the Redis logs - they do not show any data loss themselves. Also be sure to change the image for Redis from `redis:latest` to `redis:6.2`.

[2022-07-19 07:48] johanstokking commented on #5608
Yes indeed. These are sticky answers.

What do you propose will happen if there's an invalid answer? Drop the remaining MAC commands still? What does this mean for the end device state going forward?

[2022-07-19 08:34] kschiffer commented on #5512
It would be a convenient thing but not strictly required. I could envision that some users only have a plain list with only the provisioning data. If they know the device type of the fleet, they could simply add it in the UI instead of having to manually add it to the CSV.
We already have such fallbacks for the JSON import and they are all applied on the frontend before the template converter is c

[2022-07-19 08:42] adriansmares commented on #5608
I can think of at least 3 error types:
- Invalid because the contents of the MAC buffer do not make sense (i.e. we have an unmarshaling error)
  - Then we probably should drop the whole MAC buffer - we have no reasons to believe that its contents are really valid anymore
  - This should be an end device event instead of a stack warning
- Invalid because the request did not exist
  - We probably sh

[2022-07-19 08:48] NicolasMrad opened #5611 "Telemetry Collection"
### Summary

We need to implement  a well documented telemetry collection on OS. The data to be collected is usage related and not personal.

### Current Situation

No telemetry exists

### Why do we need this? Who uses it, and when?

To gain some insight on the usage of the stack by OS users.

### Proposed Implementation

Components need to be able to provide their own telemetry separately (so GS

[2022-07-19 09:27] #3272 closed, assigned to nobody

[2022-07-19 09:50] KrishnaIyer commented on #2798
Based on offline discussion
- [x]  `api/identifiers.proto`; Will be covered when https://github.com/TheThingsIndustries/lorawan-stack/pull/3265 is upgraded from a draft
- [x] `api/keys.proto`: @johanstokking
- [x] `api/lorawan.proto`: @adriansmares
- [x] `api/tti/*` (repeated fields): Done [here](https://github.com/TheThingsIndustries/lorawan-stack/pull/3299)

[2022-07-19 11:50] htdvisser opened #5613 "Update database schema with more NOT NULL columns"
### Summary

A number of columns in our database schema allow `NULL` values when in fact `NULL`s shoud not be possible. We should fix that.

### Current Situation

Many columns (at least the ones marked as `nullzero` in `pkg/identityserver/bunstore`, but there are more) allow `NULL` values that are equivalent to empty values in The Things Stack.

### Desired Situation

We should not allow `NULL`s

[2022-07-19 11:55] htdvisser opened #5614 "Support (or remove) GatewayAntenna attributes"
### Summary

The GatewayStore in the Identity Server should support attributes on GatewayAntennas.

Or, if we decide not to do that, we should remove the `attributes` field from the API.

### Current Situation

The GatewayStore implementations in the Identity Server do not handle the attributes field of gateway antennas.

### Why do we need this? Who uses it, and when?

It's in the API, so it's co

[2022-07-19 11:59] htdvisser opened #5615 "Update gateway EUI database constraint to allow re-use after delete"
### Summary

We should recreate the constraint we have on the `eui` field in the `gateways` table so that it excludes deleted gateways, similar to what we did for users (https://github.com/TheThingsNetwork/lorawan-stack/pull/5570).

### Current Situation

The database only allows a single gateway with the same EUI in the database. In order to allow EUI re-use after deleting a gateway, we unset the

[2022-07-19 12:05] htdvisser opened #5616 "Support ordering in List*Collaborator requests"
### Summary

It would be nice if we could support custom ordering in `List*Collaborator` requests.

### Current Situation

We support pagination, but ordering is always by account ID (I think)

### Why do we need this? Who uses it, and when?

I remember @kschiffer mentioned that this would be nice to have because of consistency with other listings in the Console. Can't find the issue though.

###

[2022-07-19 12:16] nicholaspcr commented on #5611
@adriansmares @johanstokking @KrishnaIyer @htdvisser

I'm thinking that this would either involve the usage of something like [OpenTelemetry](https://opentelemetry.io/) or the usage of the existent metrics pkg which generates Prometheus data. I wanted to get everyone's opinion on what data should be handled.

I imagine the main metrics would be something related to:
- Request time
- Memory used
-

[2022-07-19 12:54] kschiffer commented on #5616
It would indeed be more consistent with other entities. I added a lot of sorting functionality via https://github.com/TheThingsNetwork/lorawan-stack/pull/5497 but had to implement a workaround for sorting collaborators in the frontend because the backend doesn't allow it.

[2022-07-19 13:34] htdvisser commented on #5611
This is not true _at all_. There is already _a lot_ of telemetry in The Things Stack. See https://www.thethingsindustries.com/docs/reference/telemetry/ for details.

From what I understand, what's asked here is to push _some_ of that telemetry to some global service that aggregates this information across _all_ deployments of The Things Stack (depending on opt-in / opt-out of course).

Before we s

[2022-07-19 13:50] nicholaspcr commented on #5611
I might have misunderstood the initial issue to be discussed and indeed the question that you pointed out makes more sense.

[2022-07-19 20:17] johanstokking commented on #5512
Fully agreed.

Yes, we should get the auth info with `rights.AuthInfo()`. It returns a non-nil struct (and nil error) if there's authentication. If the request is unauthenticated, it returns a nil struct. If there's invalid auth, it returns an error. See https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.21/pkg/auth/rights/auth_info.go#L41-L48.

I think it's a common use case to onboard a b

[2022-07-19 20:19] johanstokking commented on #5608
Yes, fully agreed. Also I think indeed for reasons 1 and 2 we'll want an event.

[2022-07-19 20:25] johanstokking commented on #2798
@KrishnaIyer is it just about removing [this field](https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.21/api/keys.proto#L32)?

@htdvisser can you list the things that need to be done to totally get rid of gogoproto?

[2022-07-19 20:34] johanstokking commented on #5611
Okay I wasn't entirely clear when I asked @NicolasMrad to file an issue.

What I meant is telemetry about how The Things Stack is used as self-managed deployment. That gives us, the maintainers, insight in how the product is used. We might want to make this opt-out on two levels: collecting telemetry (for us) and being part of public aggregated telemetry (for everyone).

Examples say more than a t

[2022-07-20 05:32] KrishnaIyer commented on #2798
Yes it's only one field in `keys.proto` but it's usage is broad and would require modifications to adapt it.

[2022-07-20 09:04] htdvisser commented on #4730
Re-assigning to @johanstokking and @adriansmares because they're also assigned on https://github.com/TheThingsIndustries/lorawan-stack/issues/1804

[2022-07-20 09:04] htdvisser commented on #4936
Re-assigning to @johanstokking and @adriansmares because they're also assigned on https://github.com/TheThingsIndustries/lorawan-stack/issues/1804

[2022-07-20 09:38] htdvisser commented on #2798
I don't have a complete list of everything that needs to be done to totally get rid of gogoproto, but here are the next steps that I've determined so far in the [`issue/go-proto-v2` branch](https://github.com/TheThingsIndustries/lorawan-stack/tree/issue/go-proto-v2):

1. Removing `customtype` options (see also @KrishnaIyer's comment)
2. https://github.com/TheThingsIndustries/lorawan-stack/issues/3

[2022-07-20 09:57] htdvisser commented on #5611
For some more inspiration, [Syncthing](https://syncthing.net/) has some really nice public aggregated telemetry: https://data.syncthing.net/

Some things that I would be interested in:

- How many deployments are on each version?
- How many deployments use a certain OS / architecture? This will for example help us decide if we need to keep supporting architectures such as ARMv6, or if we should pr

[2022-07-20 12:36] #2298 closed

[2022-07-20 12:54] adriansmares opened #5628 "Use new ADR API for ADR settings in the Console"
### Summary

The Console should use the new ADR settings API (`mac_settings.adr`) instead of the legacy `mac_settings.use_adr` and `mac_settings.adr_margin` fields.

### Current Situation

The Console provides the `mac_settings.use_adr` and `mac_settings.adr_margin` settings to users.

The problem with the `use_adr` field is that it is inherently flawed. https://github.com/TheThingsNetwork/lorawan

[2022-07-20 13:06] htdvisser commented on #2297
Removing my assignment and bumping back to triage for re-assignment (cc: @NicolasMrad).

Maybe this should be merged into a new "SDK" umbrella issue?

[2022-07-20 13:07] htdvisser commented on #143
Removing my assignment and bumping back to triage for re-assignment and prioritization (cc: @NicolasMrad).

[2022-07-20 13:08] htdvisser commented on #3006
Removing assignments and bumping back to triage for re-assignment and prioritization.

Maybe this should be merged into a new "SDK" umbrella issue?

cc: @NicolasMrad

[2022-07-20 13:10] htdvisser commented on #1982
Removing assignment and bumping back to triage for re-assignment and prioritization.

cc: @NicolasMrad

[2022-07-20 13:28] kschiffer commented on #5628
Cool! Here's how I see this implemented as part of the network layer settings in the end device settings:
<img width="759" alt="image" src="https://user-images.githubusercontent.com/5710611/179993911-cda5a8a3-505a-46de-b400-2e676887a0f1.png">

@ryaplots can you take a look? I'll assign you.

[2022-07-20 13:36] johanstokking commented on #5611
Right, these suggestions also clearly demonstrate the value that this sort of telemetry brings to the maintainers.

Just to be clear and for future reference: we are not going to collect any personal identifiable information, or any user data in general, and the purpose will never be to reach out with commercial offers. If we do the latter, it would be opt-in when "registering" the TTS deployment

[2022-07-20 14:26] nicholaspcr commented on #5611
Implementation wise I think is indeed what makes the most sense. I'll look a bit more into creating the prometheus exporter this week and try to think if there is anything that could cause a problem but nothing comes to mind at the moment.

I also like quite a bit the idea of monitoring feature usage that @htdvisser gave. In regards to other metrics that might generate this sort of insight, I'm st

[2022-07-20 16:34] KrishnaIyer opened #5631 "Remove Claim Authentication Code from Join Server Registry"
### Summary

With https://github.com/TheThingsNetwork/lorawan-stack/pull/5514, the Claim Authentication Code of the End Device gets moved to the IS.
Due to compatibility reasons, we can stop clients from writing to the JS. However, the CLI/Console will use the IS.
This issue stops the usage of this field in the JS when we bump major.

### Current Situation

After  https://github.com/TheThingsNetwo

[2022-07-21 08:34] htdvisser commented on #5611
I don't know if piggybacking on Prometheus is the best approach. Prometheus counters are raw data, and I think the type of telemetry we want to have should already be aggregated to some extent. I also don't think we want to end up in a situation where we can't change our operational metrics (from Prometheus to OpenTelemetry) without breaking the aggregated telemetry.

So let's indeed take a look a

[2022-07-21 11:16] eggfriedrice opened #5632 "Device importer seems to need semicolons, not commas"
### Summary

Hey

Weird one, I tried to import a CSV of devices, based on the Excel template provided (but trimming down to the required fields). I saved this file using LibreOffice and then munged it in VS Code.

The importer failed with my file, giving "Import process cancelled due to error."

Checking the [examples](https://www.thethingsindustries.com/docs/getting-started/migrating/device-csv/#

[2022-07-21 14:24] chamele0nla opened #5633 "Add collaborators to all gateways current and future through console"
### Summary

Would like a way to give collaborators access to any and all current and future gateways through the console. Currently you can add collaborators to applications thereby giving them access to end nodes, but giving access to collaborators to gateways using the console requires adding collaborators one by one to each gateway.

### Current Situation

Currently this can be done through cl

[2022-07-21 15:50] eggfriedrice commented on #5633
Hi
You can add all your support agents to an organisation, and then simply add the one organisation to each gateway as a collaborator.

If you add everyone in your company to the organisation then they'll be able to see everything. The bonus here is that if someone joins or leaves you can add or remove them from the org once, rather than having to go through each gateway and change the collaborato

[2022-07-22 09:49] #5565 closed, assigned to adriansmares

[2022-07-22 14:52] KrishnaIyer opened #5635 "Use Gateway Stats Batch API in the Console"
### Summary

Use Gateway Stats Batch API in the Console.

### Current Situation

Clients (including the console) today use the `GetGatewayConnectionStats` (and it's HTTP end point) to fetch stats for a single gateway.

With https://github.com/TheThingsNetwork/lorawan-stack/pull/5536 we now support a new `BatchGetGatewayConnectionStats` end point that can retrieve the connection stats for a batch o

[2022-07-22 14:52] KrishnaIyer commented on #5635
Assigning @kschiffer for triaging.

[2022-07-22 15:39] #5585 closed, assigned to happyRip

[2022-07-23 05:43] ymgupta opened #5637 "Conditional dropdown missing in end device registration form for LoRaWAN Version 1.0.4 & 1.1.0"
### Summary

The end device registration forms in the Console have a conditional dropdown for frequency plan and MAC/PHY version selections based on band constraints. But, the conditional dropdown seems to be missing for the `LoRaWAN Version 1.0.4` & `LoRaWAN Version 1.1.0`.

### Current Situation

The drop-down for the `Regional Parameter version` field contains all the PHY versions when the `LoR

[2022-07-24 19:09] pablojimpas commented on #5429
Any updates on this?
If no one has planned to work on this in the short term, I could spend a bunch of time during August implementing this. However, I'll have to be pointed in the right direction or get some mentoring.

[2022-07-25 11:17] htdvisser commented on #4930
I don't know what's the best way to turn `OrganizationOrUserIdentifiers` into a single email address. For users we'd have to introduce some setting that allows them to make their email address public, for organizations we'd have to introduce that setting as well as an email address field in the first place.

The "something else in PB" was the ability to use an URL as contact info instead of an ema

[2022-07-25 11:20] furtiman opened #5638 "SIGSEGV ttn-lw-cli on device template create with field masks"
### Summary

CLI client segfaults then creating device template from a device with explicit field masks.
When performing the same sequence without field masks - works as expected.

### Steps to Reproduce

1. ttn-lw-cli end-devices get <app-id> <dev-id> --lorawan-version --lorawan-phy-version --mac-settings | ttn-lw-cli end-devices templates create

### Current Result

SIGSEGV

### Expected Result

[2022-07-25 11:39] nicholaspcr commented on #5429
Hi mate, I'm the one assigned to implement this. My apologies for the delay, there was a bit more of focus on other internal issues on my end. While I don't think this should take a long time to do, I can't promise it will be on `v3.21.0` that will be released on the third of August. I'm pretty confident that it should be done by the `v3.21.1` release, hopefully this being added a bit later on doe

[2022-07-25 12:47] TomlDev commented on #1760
Would be great to have this!

[2022-07-25 12:55] pablojimpas commented on #5429
Absolutely not, don't worry, I was just letting it be known that I'd be available to do the job if there was no one else. I'm happy that you've picked this up, feel free to discuss with me anything related to this as you make progress.

[2022-07-26 00:53] nicholaspcr commented on #5632
With the current implementation of the TTS-CSV importer, the delimiter is hard-coded as a semicolon. Considering that LibreOffice exports csv files using comma as the default delimiter this is something that should be added to the TTS-CSV.

I can work on this, probably best to leave the default delimiter as a comma considering that this is what is used in LibreOffice and Microsoft Excel. While cha

[2022-07-26 06:14] #5586 closed, assigned to happyRip

[2022-07-26 10:37] johanstokking commented on #4930
Right. I'll get rid of the email address setting from TTSC to Packet Broker. We can think of a contact form with captcha in the future.

[2022-07-26 11:09] #5607 closed, assigned to kschiffer

[2022-07-26 11:09] johanstokking commented on #5632
@eggfriedrice can you confirm that LibreOffice exports CSV file with default settings with delimiter `,` and not `;`?

Microsoft Excel and Apple Numbers export CSV with `;` as separator, so we used that.

[2022-07-26 12:19] nicholaspcr commented on #5632
I didn't write on my previous comment but I checked on Linux using LibreOffice and the default delimiter is indeed a comma.

[2022-07-26 12:24] nicholaspcr commented on #5614
Updating the information on issue in regards to what was decided in the stack meeting on 26.07.22.
The decision was to drop the gateway antenna attributes.

[2022-07-26 14:25] htdvisser opened #5643 "Promote bunstore and remove gormstore"
### Summary

https://github.com/TheThingsNetwork/lorawan-stack/pull/5642 added a new implementation of the Identity Server storage layer (`pkg/identityserver/bunstore`) behind a feature flag (`is.bunstore`). Once we're satisfied with the new implementation, we should...

1. Enable the feature flag by default, still allowing it to be disabled in case of unexpected behavior.
2. Remove the feature fl

[2022-07-26 14:26] htdvisser commented on #5046
This is fixed in the `bunstore` implementation. Un-commenting the test cases and removing the TODOs is tracked in https://github.com/TheThingsNetwork/lorawan-stack/issues/5643.

[2022-07-26 14:26] #5046 closed, assigned to htdvisser

[2022-07-26 14:27] htdvisser commented on #3250
The new Bun store implementation was merged in https://github.com/TheThingsNetwork/lorawan-stack/pull/5642, but behind a feature flag. https://github.com/TheThingsNetwork/lorawan-stack/issues/5643 now tracks promoting the new implementation to "stable" and removing the old GORM store implementation.

[2022-07-26 14:27] #3250 closed, assigned to htdvisser

[2022-07-27 10:17] johanstokking commented on #5429
@adriansmares summarizing:

- We do not declare normalized payload in protobuf because we cannot guarantee that the JSON marshaled output (used in MQTT, webhooks etc) matches exactly the JSON returned from payload normalizers. Therefore, we carry around a protobuf struct, just like decoded payload. Example issue is field name casing (lower camel case in DR vs snake case in proto JSON) and nullable

[2022-07-27 11:10] #5560 closed, assigned to nicholaspcr

[2022-07-27 11:19] adriansmares commented on #5429
That happens only if you use `encoding/json`. Using `jsonpb` will render normally (`null` or actual value, no wrapping).

I would rather not normalize this one at all then. If the semantics are not consistent, we reduce the usefulness of having semantics in the first place. Imagine the documentation:
'The location of the sensor can be trusted, except if the payload was originally encoded using Cay

[2022-07-27 13:55] johanstokking commented on #5429
I'll benchmark this.

But who will see that message?

[2022-07-27 14:19] adriansmares commented on #5429
Good. It may indeed be the case that I'm exaggerating.

I meant to add it to the GitHub action that runs the validation. I see now that things aren't as well developed as I wished.
I knew we had [codec quickstart](https://github.com/TheThingsNetwork/lorawan-devices/blob/master/vendor/the-things-products/the-things-uno-codec-quickstart.yaml) files, so I hoped these get validated as well as part of

[2022-07-27 14:26] johanstokking commented on #5429
It is the case, see https://github.com/TheThingsNetwork/lorawan-devices/blob/master/bin/validate.js#L99. Or do you mean something else? We use the Go script so we have the same runtime as TTS.

Another reason to be reluctant with changing the function signature or argument or return objects is that I managed to standardize what we have today in the Payload Codec spec that will be published by the

[2022-07-27 14:32] adriansmares commented on #5429
I didn't see that part, my bad.

Then I hope that benchmarks show that I'm paranoid.

ACK for implementation as described in your proposal comment.

[2022-07-28 10:32] #5608 closed, assigned to adriansmares

[2022-07-28 10:57] htdvisser commented on #3549
This may be a nice one for @happyRip to pick up, perhaps with help from @KrishnaIyer or @adriansmares.

[2022-07-28 11:44] johanstokking commented on #2798
Currently working on `keys.proto` and trying to manage the errors explosion ... turns out we use session keys and root keys quite a lot

[2022-07-28 12:16] htdvisser commented on #933
This is now covered by the NOC.

[2022-07-28 12:16] #933 closed

[2022-07-28 12:19] htdvisser commented on #1969
This can be closed. As of Go 1.18 the SystemCertPool is available on Windows.

[2022-07-28 12:19] #1969 closed

[2022-07-28 12:21] htdvisser commented on #2973
In the meantime we've started replacing ContactInfo. See https://github.com/TheThingsNetwork/lorawan-stack/issues/4930 for details.

[2022-07-28 13:01] #5576 closed, assigned to nicholaspcr

[2022-07-28 18:20] happyRip commented on #3549
The workflow seems pretty simple. You see this as a `shell` or `go` tool?

[2022-07-29 14:52] nicholaspcr commented on #5512
I updated the PRs related to this issue.

The deprecation of the ApplicationID on the Device Repository is handled #5659 and the actual loading of the end device template is handled by #5610.

Like I wrote in #5610 I ended up separating the changes into different PRs, from the discussion we had the changes related to this functionality were:
- The functionality itself (loading end device template)

[2022-07-31 14:37] johanstokking commented on #5512
I think we should use `rpcmetadata.WithForwardedAuth` for forwarding auth when there are call being made from an already authenticated context (so in a service implementation calling other services).

The rights require check should be, like the others, in `pkg/rights`. This should forward the auth to get the `AuthInfo`, and check there response or error code.

[2022-07-31 22:52] nicholaspcr commented on #5512
I agree, these responsibilities for each package makes sense.

I was trying to mention that the `auth/rights` pkg uses the `rpcmetadata` to validate if there is auth information before requesting the rights to the IS's `ApplicationAccessServer`. If we are changing the `rpcmetadata.WithForwardedAuth` to validate if the request has any rights, trying to call the `rights.AuthInfo` in the method would

[2022-08-02 09:19] #5633 closed, assigned to adriansmares

[2022-08-02 12:00] htdvisser opened #5670 "Analyze IS query performance and create indexes to improve"
### Summary

We should take a look at the performance of our IS queries and see where we can create indexes to improve performance.

### Current Situation

1. We have database indexes on some ID and EUI fields. I think that in some of our production deployments we have some additional indexes that are not present in the schemas in the repository.
2. We recently merged a new implementation of the I

[2022-08-02 12:31] chamele0nla commented on #5633
How do I “simply add” an organization to over 1000 gateways?

Sent from my iPhone

[2022-08-02 12:35] adriansmares commented on #5633
The organization is meant to be added as a collaborator either via Console, CLI or directly using the API during the gateway enrollment, or later on for existing gateways. Since it is not possible to register a gateway without a collaborator, for newer gateways this is basically a no-op (since you would provide the organization as the initial collaborator, instead of a specific user).

Any subsequ

[2022-08-02 12:41] chamele0nla commented on #5633
Yea, so now that I have say 1000 gateways already registered, how do I “simply add” the organization to all of them? Also; how would my technicians register a gateway to our account?

Sent from my iPhone

[2022-08-02 12:46] adriansmares commented on #5633
Using the CLI it is possible to manually [delete the existing user](https://www.thethingsindustries.com/docs/ttn-lw-cli/ttn-lw-cli_gateways_collaborators_delete/) and [set the organization as a collaborator](https://www.thethingsindustries.com/docs/ttn-lw-cli/ttn-lw-cli_gateways_collaborators_set/). Note that this is a one time operation - any further add / remove operations from the organization

[2022-08-02 12:53] chamele0nla commented on #5633
I think you are oversimplifying what needs to be done and not considering how a business with multiple agents would use your product. I don’t see a workable solution here. Your solution seems to keep my agents as the “owner” of new gateways in their account and adding my company/organization simply as a collaborator. Unless I’m missing something.

And again, your solution for managing existing gat

[2022-08-02 13:06] adriansmares commented on #5633
There is no ownership concept in The Things Stack - applications and gateways have collaborators, which may be users or organizations. Registering a gateway with the organization as the initial collaborator (or adding the organization as a collaborator later on) has the effect of allowing the members of the organization to interact with the gateway retroactively.

If the users themselves have to l

[2022-08-02 13:22] chamele0nla commented on #5633
Right, but what if user2 needs to a new gateway.. is user2 going to have
the organization example-org in his/her account? And if user2 adds the
gateway via their account what happens to the gateway when they
delete their account?

Also you say there's no "ownership concept" but there's literally a column
named "Owned Gateways"

[image: image.png]

On Tue, Aug 2, 2022 at 9:06 AM Adrian-Stefan Mares

[2022-08-02 13:35] adriansmares commented on #5633
The organization is a standalone entity - it does not have an owner. It is created by a user that will be the initial collaborator, and users enter (or leave) the organization. The initial user is not some kind of owner - it is simply the initial collaborator which has full rights over the organization and may add other users as collaborators. It is possible to remove the initial user as a collabo

[2022-08-02 13:49] chamele0nla commented on #5633
Ok I just did a quick test. I added a collaborator to the organization and then using that collaborator account added a gateway. It did add the organization and I can indeed see the gateway from the main account. However when I removed the collaborator accounts access they still have access to the gateway they registered. The only way I see to remove their access to the gateway is to remove them a

[2022-08-02 13:53] adriansmares commented on #5633
Did you add the collaborator during registration, or did you add the organization as a collaborator after you registered the gateway ?

Please do note that during gateway registration you have the option to select the organization as an 'owner':
<img width="552" alt="image" src="https://user-images.githubusercontent.com/36161392/182391564-769431fc-d18f-45ef-84bc-de05d12c7e5e.png">

If you do this

[2022-08-02 14:12] chamele0nla commented on #5633
Ok that worked. Thank you. Still don’t have an easy way to add the organization to all the existing gateways.

Sent from my iPhone

[2022-08-03 08:51] htdvisser opened #5673 "Enable pgdriver connection check"
### Summary

#5674 adds connection checking to the Identity Server database connection pool (for the `pgx` database driver). Once https://github.com/uptrace/bun/pull/635 lands in a release, we should also enable that for the `pgdriver` database driver.

### Current Situation

#5674 adds connection checks to the database connection pool, but only for the `pgx` driver, and leaves a TODO for the `pgd

[2022-08-03 09:35] htdvisser commented on #1784
Since this is now implemented in the Console, here are some starting points for the documentation:

1. OAuth clients can be managed by going to `/oauth/oauth-clients` on the IS cluster (TTS CE: https://eu1.cloud.thethings.network/oauth/oauth-clients)
2. When you register an OAuth client, you should keep in mind that it will have to be approved by an admin. The scope and duration of the review proc

[2022-08-03 09:35] htdvisser commented on #1784
Bumping back to triage for re-assignment and planning.

cc: @NicolasMrad

[2022-08-03 13:09] #5436 closed, assigned to KrishnaIyer

[2022-08-03 13:41] adriansmares commented on #2798
Step 1 and 2 from the comment above are done (🎉).

I've started looking into updating `protoc-gen-validate` based on the comment above and some details have changed since the last update:
- Returning multiple validation errors has been [rolled back](https://github.com/envoyproxy/protoc-gen-validate/releases/tag/v0.6.1) in `v0.6.1`
- `protoc-gen-validate` is now unmaintained (https://github.com/env

[2022-08-09 13:21] #5504 closed, assigned to htdvisser

[2022-08-09 22:18] cprovidenti opened #5690 "Join-Accept not transmitted to AS923-1 end-device when dwell time restrictions enabled"
### Summary

When dwell time restrictions are enabled for a LoRaWAN 1.0.4 [AS923-1](https://github.com/TheThingsNetwork/lorawan-frequency-plans/blob/master/AS_923.yml) end-device, the network server will not transmit a Join-Accept to that end-device. (To be precise: the network server does not forward the Join-Accept downlink to the corresponding gateway.)
By contrast, it will do so for the same e

[2022-08-10 08:32] htdvisser opened #5691 "Add OpenTelemetry Tracing"
### Summary

In https://github.com/TheThingsNetwork/lorawan-stack/pull/5642 I started adding OpenTelemetry trace regions to `pkg/identityserver/bunstore`. We should instrument more code in other packages, and set up exporters and such.

### Current Situation

We have some OpenTelemetry instrumentation in `pkg/identityserver/bunstore`, but the rest of the OpenTelemetry SDK has not been set up.

###

[2022-08-10 08:46] htdvisser opened #5692 "Consider switching metrics library from Prometheus to OpenTelemetry"
### Summary

Once the OpenTelemetry Go libraries have stable support for metrics (see https://github.com/open-telemetry/opentelemetry-go/milestones) we should consider switching from using the Prometheus library to the OpenTelemetry library.

### Current Situation

We're using the Prometheus library (and a little bit of OpenCensus) for our metrics. The OpenTelemetry library looks promising, but is

[2022-08-10 10:18] KrishnaIyer commented on #5299
I found the problem. It's an issue with our AWS configuration. This will be fixed as part of https://github.com/TheThingsIndustries/lorawan-stack-aws/issues/672

[2022-08-11 13:36] adriansmares commented on #4244
Duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/3058.

[2022-08-11 13:36] #4244 closed, assigned to nobody

[2022-08-11 16:14] ymgupta opened #5702 "`version_ids.serial_number` field is ignored in the device creation API call"
### Summary

While creating the device using APIs, we see that the `version_ids.serial_number` field is ignored. We have included the `version_ids` values (`brand_id`, `model_id`, `serial_number`) in the request body of Identity Server API call and field mask. But, we see that only `brand_id`, and `model_id` are stored for the device. The API response doesn't contain the `serial_number` field. How

[2022-08-16 08:34] johanstokking commented on #5512
We're not changing this. That method is perfectly fine; it's really about forwarding auth from an incoming context to an outgoing context and that's all that's relevant for the package.

Right. The thing is that if the client passes any token on the `authorization` header, the service has to check whether the client is _authenticated_ still. The service needs to check the validity of the token. Th

[2022-08-16 08:57] #5638 closed, assigned to nicholaspcr

[2022-08-16 09:40] adriansmares commented on #5458
I've moved this to `3.22.0`. While the implementation itself does not have to land in that release, please consider designing the UX for that release.

[2022-08-16 12:07] adriansmares commented on #5702
Implementation wise this is not complex. On the NS/AS/IS side we just need to add it to the allowed field mask, and on the IS side we need to add another column to the `{gorm|bun}store`.

The question is - do we want to implement this ? My understanding is that `serial_number` ended up in `EndDeviceVersionIdentifiers` because it is part of the QR code specification, but it does not necessarily hav

[2022-08-16 12:59] #5597 closed, assigned to happyRip

[2022-08-17 11:39] kschiffer opened #5710 "Filtering entities using labels"
### Summary

As a means of logically grouping entities and assigning different treatments or performing batch actions based on such groups, we should introduce entity tags.

### Current Situation

There is no way of grouping entities other than maybe assigning IDs with a prefix, which is only an implicit way of grouping.

### Why do we need this? Who uses it, and when?

As stated above, tags are a

[2022-08-17 13:50] #5690 closed, assigned to adriansmares

[2022-08-17 14:27] johanstokking commented on #5710
As discussed offline, this would work very much like GitHub labels. This would indeed not just be for end devices, but for other entities as well, most notably gateways and applications.

This is different from attributes in the sense that this is a list of independent values, and we should efficiently filter on the presence of a value. Since TTS would have first class support for this, it wouldn'

[2022-08-17 21:03] adriansmares opened #5712 "Gateway location cannot be updated via unauthenticated connections"
### Summary

Unauthenticated connections (i.e. UDP) cannot update their own antennas. This breaks the 'update location from status messages' functionality.

### Steps to Reproduce

Have a gateway which reports its location via status messages.

### Current Result

The location is not updated from the status messages.

### Expected Result

The update should be allowed.

### Relevant Logs

`{"level"

[2022-08-17 21:26] adriansmares commented on #5712
This is by design: https://github.com/TheThingsNetwork/lorawan-stack/pull/3326 .

[2022-08-17 21:26] #5712 closed, assigned to adriansmares

[2022-08-18 01:04] nicholaspcr commented on #5399
While working on #5708 I encountered a panic on the network server when trying to import a CSV file.

The file used can be found in this [issue](https://github.com/TheThingsIndustries/lorawan-stack-support/issues/824).

The steps to reproduce the error are:
- Start TTS
- Create application
- Import CSV using the CLI ([doc reference](https://www.thethingsindustries.com/docs/getting-started/migratin

[2022-08-18 08:47] #5470 closed, assigned to adriansmares

[2022-08-18 08:48] #5285 closed, assigned to adriansmares

[2022-08-18 08:48] #5122 closed, assigned to adriansmares

[2022-08-18 09:18] johanstokking commented on #5702
Honestly I think that we made a mistake by introducing https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.21/api/identifiers.proto#L163-L167 to `EndDeviceVersionIdentifiers`. As you say, these aren't version identifiers.

The serial number is metadata of the end device. It should be a toplevel field of `EndDevice`, stored in IS. And shouldn't go in upstream messages.

The Vendor and Profile

[2022-08-18 09:34] #3727 closed, assigned to GreenPenguino

[2022-08-18 09:44] adriansmares commented on #4466
Implementation details:

1. Remove `LoRaCodingRate` from the `band.Band`, and from the instances themselves. You may already drop it from https://github.com/TheThingsNetwork/lorawan-stack/pull/5701 .
https://github.com/TheThingsNetwork/lorawan-stack/blob/0b3d7b60d80abf0ffa799cbac68a14311616c363/pkg/band/band.go#L82-L83
2. Add the coding rate to the LoRa data rate, in the same way LR-FHSS does this

[2022-08-18 09:48] adriansmares commented on #5056
For the record https://github.com/TheThingsNetwork/lorawan-stack/pull/5536 probably handles most of this. It still requires a list of gateway identifiers, but it does allow batch retrieval in order to lower the number of parallel requests.

[2022-08-18 10:58] ysmilda commented on #4466
Would it be beneficial to remove the `LoRaCodingRate` from PR #5701 and cross contaminating these two issues? Or would it be better to wait for #5701 to be merged and then tackle this part of the issue?

[2022-08-18 11:02] adriansmares commented on #4466
You may already remove it indeed. I (tried to) hint at this in point (1).

[2022-08-18 11:39] adriansmares commented on #5071
The NetID is not a better separator than the cluster ID in the context of the comment above - keep in mind that both The Things Stack Cloud and The Things Stack Community Edition share the same NetID. To make matters worse, you may see non TTSC/TTSCE deployments that use that NetID.

We added at some point in the past (https://github.com/TheThingsNetwork/lorawan-stack/pull/5408) extra cluster iden

[2022-08-18 12:53] GreenPenguino commented on #3727
Nice, finally

[2022-08-18 13:03] ysmilda commented on #4466
This change causes the `TxSettings` message as defined here:
https://github.com/TheThingsNetwork/lorawan-stack/blob/0b3d7b60d80abf0ffa799cbac68a14311616c363/api/lorawan.proto#L432-L449
To have a double declaration of the `coding-rate` as it is bundled in the `DataRate` as well. What would the prefered sollution be here?

[2022-08-18 13:23] adriansmares commented on #4466
`TxSettings` is a message that we try to keep in line with the Backend Interfaces specification. With that being said, I don't see the coding rate itself being part of the specification, and Packet Broker from what I see expects the coding rate to be in the LoRa Data Rate, so removal should be fine.

There is a note to be had here however - in some places (that do not reference this issue) the cod

[2022-08-18 14:57] adriansmares commented on #3940
I've ran the tests again and this has been fixed in the meantime. Test procedure on AS923 device:
- Erase `mac-settings.use-adr` and `mac-settings.adr-margin`.
- Set `mac-settings.adr.mode.static.data-rate-index` to 2 and `mac-settings.adr.mode.static.nb-trans` to 1.
- Wait for the device to switch to DR2 (SF10) and NbTrans 1.
- Schedule 100 bytes downlink (DR2 allows for maximum 11 bytes of appli

[2022-08-18 14:57] #3940 closed, assigned to adriansmares

[2022-08-18 17:18] KrishnaIyer commented on #5702
Ok I agree indeed, we can deprecate it and add it to `EndDevice`. I'll add a quick PR

[2022-08-19 07:20] jpmeijers commented on #5056
I saw a mention to this in the changelog and thought it might solve this issue. When I get a chance I'll test and confirm.

[2022-08-19 10:09] jpmeijers commented on #4289
I've tried this again now, and it does not seem to clear the stuck confirmed downlink message.

1. Device sends uplink, downlink is queued.
2. I run the command in cli and see "Update end device ["network_server_address"]" in the console.
3. The device sends an uplink and the downlink is queued again.

![image](https://user-images.githubusercontent.com/948278/185597043-2e8e0cc9-5da6-478e-a7fb-2221

[2022-08-19 12:59] #5403 closed, assigned to ysmilda

[2022-08-21 12:46] jpmeijers commented on #5056
According to the [documentation](https://www.thethingsindustries.com/docs/reference/api/gateway_server/#message:BatchGetGatewayConnectionStatsRequest) I should be able to fetch up to 100 statuses per request. I'm however getting a timeout from the grpc gateway when I do this. Lowering the number of statuses to 50 works. At least that decreases the number of api calls from 200 to 4.

Edit: It seems

[2022-08-21 13:09] jpmeijers commented on #5071
Two issues I have with this:

1. The same tenant on multiple clusters is considered the same network. Ex `jpmeijers.eu1.cloud.thethings.industries` and `jpmeijers.au1.cloud.thethings.industries` is the same network. When one logs into the two consoles you see the same list of applications, devices and gateways. That's why it's the same network. I therefore have to identify a network based on the N

[2022-08-22 11:34] adriansmares opened #5724 "Expose Network Server NetID via API"
### Summary

The NetID and device address ranges of the Network Server should be exposed via API.

### Current Situation

The Join Server exposes the equivalent identifiers (default join EUI and join EUI prefixes) already:
https://github.com/TheThingsNetwork/lorawan-stack/blob/fb309758db5ed7f3dad700773d55fad83241636e/api/joinserver.proto#L426-L438

### Why do we need this? Who uses it, and when?

[2022-08-23 13:39] kschiffer commented on #3947
The new gateway onboarding foundation (as laid out here: https://github.com/TheThingsNetwork/lorawan-stack/issues/3947#issuecomment-1143492157) was just merged and is now available in OS and Enterprise.

I'm leaving this issue open since there are still some missing bits:

- https://github.com/TheThingsNetwork/lorawan-stack/issues/3823
- Extending the device repository to include gateways, and mak

[2022-08-25 08:36] nicholaspcr commented on #5512
With #5610 merged, there is now support for loading the end-device profile from the csv fields or through a fallback value given in the [API](https://github.com/TheThingsNetwork/lorawan-stack/blob/0b60aec8c674cecc9125bebf34c7176580b90146/api/end_device.proto#L905)

I believe  the only section missing is:

@kschiffer I'll leave this to you or to whoever you assign it to, if there is anything not cl

[2022-08-26 07:31] V999TEC opened #5735 "New patch version available 3.21.1"
### Summary

Running ttn-lw-cli version 3.21.1 for the commands tried I get

`INFO New patch version available {"current": "3.21.0", "docs_url": "https://www.thethingsindustries.com/docs/getting-started/upgrading/", "latest": "3.21.1"}`

### Steps to Reproduce

1. authenticate by logging in with ttn-lw-cli
2. check the version of ttn-lw-cli
3. execute a command and note output gives an INFO about

[2022-08-26 17:15] kersing opened #5736 "Gateway registration required EUI"
### Summary

When trying to register a new gateway the EUI field is required which makes no sense for the Kickstarter gateways or any other gateways using the ttn-gateway-connector protocol.

### Steps to Reproduce

1. Log into the console
2. Go to gateways
3. Click 'Add gateway'
4. Fill out all fields except EUI

### Current Result

Submit of the form fails with 'Gateway EUI is required'

### Exp

[2022-08-29 09:00] kschiffer commented on #5736
This has already been resolved in the code. We're currently working on updating the snapshots on TTSCE and TTSC and the fix should be available shortly.

[2022-08-29 09:00] #5736 closed, assigned to kschiffer, ryaplots

[2022-08-29 14:55] #5429 closed, assigned to johanstokking

[2022-08-31 08:34] #5724 closed, assigned to ysmilda

[2022-08-31 09:01] ysmilda opened #5743 "Expose Network Server NetID via CLI"
### Summary

In #5724 we introduced additional API endpoints to retrieve the `NetID` and `DevAddrPrefixes` from the Network Server. These should also be exposed in the CLI.

### Current Situation

The API has support for these endpoints, the CLI hasn't.

### Why do we need this? Who uses it, and when?

It can be used by users that would like to see which prefixes the Network Server will allocate t

[2022-08-31 10:21] #3686 closed, assigned to adriansmares

[2022-08-31 11:24] ysmilda opened #5747 "Expose band definitions via CLI"
### Summary

In #5403  we introduced additional API endpoints to retrieve the available band definitions. These should also be exposed in the CLI. Additionally it would be nice if the same was done for the Phy versions.

### Current Situation

These functions have been implemented in the API but are not yet available on the CLI.

### Why do we need this? Who uses it, and when?

It can be used by u

[2022-08-31 13:07] #5743 closed, assigned to ysmilda

[2022-08-31 13:27] #5614 closed, assigned to ysmilda

[2022-08-31 14:08] kschiffer opened #5751 "Abort redux request actions only when necessary"
### Summary

The webui currently aborts any pending request actions whenever a route change is performed. This can lead to situations where requests are aborted without replacement, if a route change does not trigger a rerender of the `withRequest()`-hoc or `<Request />` component. This happens when the route change only changes children of the nodes that do the necessary request.

### Steps to Re

[2022-09-01 08:30] adriansmares commented on #5561
@ysmilda please check if the latest release of `snapcraft` contains the upgraded [`craft-cli`](https://github.com/canonical/craft-cli/issues/84) such that we can remove this flag.

[2022-09-01 08:31] #5747 closed, assigned to ysmilda

[2022-09-01 08:59] ysmilda commented on #5561
The fixed CLI has been included in `snapcraft` since version `7.1.0` (currently on `7.1.3`). We should be able to remove the flag without problems.

[2022-09-01 10:28] happyRip commented on #5534
Are You able to consistently reproduce the encountered issue or does it only happens occasionally?

[2022-09-01 12:11] #5561 closed, assigned to ysmilda

[2022-09-01 13:43] johanstokking opened #5758 "Show normalized payload in the Console"
### Summary

Show normalized payload in the Console

References https://github.com/TheThingsNetwork/lorawan-stack/pull/5752#pullrequestreview-1093063800

### Current Situation

The new `normalized_payload` field in `ApplicationUplink` and `ApplicationNormalizedUplink` contain a known data schema: [JSON Schema](https://github.com/TheThingsNetwork/lorawan-devices/blob/master/lib/payload.json) and [d

[2022-09-01 14:51] johanstokking opened #5759 "Make end device version identifiers available to payload normalizer"
### Summary

Make end device version identifiers available to payload normalizer

### Current Situation

Currently the input to `normalizeUplink()` is just `{ data: {} }` where `data` is the output from the payload decoder.

### Why do we need this? Who uses it, and when?

We need this to add switches in the payload normalizer to make it aware of the end device hardware/firmware version and band.

[2022-09-01 15:18] V999TEC commented on #5534
I'll run a test again on 3.21.1 and get back to you

[2022-09-01 16:33] V999TEC commented on #5534
I can confim that this is still an issue.
At the expiry of the access token, the ttn-lw-cli does not return to the caller
[code]
In the example above after 5:22 pm the script that calls ttn-lw-cli will hang. Events related to the application will be lost.
Alternatively, if authentication via --api-key is passed to ttn-lw-cli login (instead of relying upon the browser OAUTH mechanism) then the acce

[2022-09-02 12:04] #4907 closed, assigned to ysmilda

[2022-09-03 20:17] adriansmares opened #5767 "Gateway onboarding API key creation does not save the API keys"
### Summary

The API keys created by the gateway onboarding process (LNS/CUPS) are not actually used - the calls are just awaited.

### Steps to Reproduce

1. Onboard gateway.
2. During onboarding, check 'Require authenticated connection'.
3. Check the API key boxes.

### Current Result

1. The API keys are created, but not returned anywhere:

https://github.com/TheThingsNetwork/lorawan-stack/blob

[2022-09-05 08:37] adriansmares commented on #2798
I've built two new releases of `protoc-gen-validate` and `protoc-gen-fieldmask` that are based on the V2 proto API.  They are based on the new release of `protoc-gen-star` that enables our generators to generate V2 API code.

I've updated the tooling in a separate branch to use the new `protoc` / `protoc-gen-go` tooling and *remove `gogo`*. You can see the diff [here](https://github.com/TheThingsI

[2022-09-05 16:03] #5673 closed, assigned to nicholaspcr

[2022-09-06 07:16] #5580 closed, assigned to ryaplots

[2022-09-06 12:18] johanstokking commented on #5759
We're not gonna do this!

[2022-09-06 12:18] #5759 closed, assigned to johanstokking

[2022-09-06 12:55] ezamp opened #5773 "Define downlink gateway for multicast device as device configuration"
### Summary

Add in the configuration of multicast devices the possibility to enter the list of gateway ids to be used for sending downlink messages.

### Current Situation

Currently, gateway ids must be added as a parameter in downlink submission requests. Whenever you want to send a downlink message to a multicast "device" you need to specify all the gateways.

### Why do we need this? Who uses

[2022-09-06 12:59] johanstokking commented on #5611
@NicolasMrad can you set up a meeting to discuss this further?

[2022-09-07 00:44] viethoa14 commented on #5393
I think, it is this framework's bug, i had same issues about 3 years ago, maybe it will not resolve.

[2022-09-07 07:40] #5628 closed, assigned to ryaplots

[2022-09-07 12:27] #5363 closed, assigned to nobody

[2022-09-08 13:05] ysmilda opened #5781 "Upgrade `protoc-go-gen-flags` to `v1.0.5`"
### Summary

Upgrade `protoc-go-gen-flags` to `v1.0.5`.

### Current Situation

_No response_

### Why do we need this? Who uses it, and when?

This allows for the use of the `semantic` flag on messages which in turn allows for generating CLI flags for messages which have meaning only by existing. For example: [`DynamicMode`](https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.21/api/end_dev

[2022-09-08 13:33] nicholaspcr commented on #5616
Writing here as I'm trying to keep the issues more updated instead writing everything on the Pull Requests, after making the initial necessary changes (can be found on [this branch](https://github.com/TheThingsNetwork/lorawan-stack/tree/issue/5616-ordering-collaborator)) I notice that the `FindMembers` method of the Membership interface returns a map and that implies that the sorted elements are r

[2022-09-08 13:37] #5767 closed, assigned to kschiffer

[2022-09-08 15:04] #4466 closed, assigned to ysmilda

[2022-09-08 15:05] #5781 closed, assigned to ysmilda

[2022-09-08 15:33] nicholaspcr commented on #5611
Updating the issue with what was discussed in the meeting at 8/09/2022

Regarding the data to be collected in the open source, the objective is to be somewhat concise with what is being collected.

# TTS

#### Unique ID made by the hash of the config URLs

- binary version /  stack version
- os architecture
- Number of gateways registered:
- 	- grouped by frequency plan ID
- Number of end devices

[2022-09-13 12:06] nicholaspcr commented on #5643
Writing here that it was agreed on 13/09/22 meeting that on the v3.22.0, the bunstore should be set as the default store and there should be an option to enable the gormstore. Basically invert the current situation where bunstore is only used if explicitly set through the experimental flags.

After a certain amount of time drop the gormstore implementation. Using this issue

[2022-09-13 14:46] #4847 closed, assigned to kschiffer, mjamescompton, ryaplots

[2022-09-13 15:18] kschiffer commented on #4195
There are also errors logged on sentry related to react ace: https://sentry.io/organizations/the-things-industries/issues/2678712029

[2022-09-14 11:03] adriansmares opened #5803 "Allow disabling RPC logs for explicit errors"
### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/pull/2863
References https://github.com/TheThingsNetwork/lorawan-stack/pull/5721

We need a mechanism to disable RPC logs even when the RPC call has returned an error.

### Current Situation

Currently we can disable RPC logs for individual RPCs, as long as no error has occurred (see the first referenced PR). The problem is

[2022-09-14 17:07] Oliv4945 opened #5805 "AppKey should not be required when using external Join Server"
### Summary

I am trying to register a device using Semtech join server but the AppKey is mandatory:
![image](https://user-images.githubusercontent.com/6248122/190216234-72a4ec4f-c71f-40e7-bf6c-bf2e95c16b1c.png)

We can avoid the mandatory input of the AppKey by manually setting the join server to be used, but it defeat the purpose of the JoinEUI
![image](https://user-images.githubusercontent.com/

[2022-09-15 11:06] #5447 closed, assigned to nicholaspcr

[2022-09-19 12:01] vkrasnhak opened #5812 "Bug: device search using CLI"
### Summary

Device search using CLI is ignoring --dev-eui-constains flag

### Steps to Reproduce

1. Try to search a device using --dev-eui-constains flag in CLI. For example, run `ttn-lw-cli.exe end-devices search application-id-x --dev-eui-contains AAAAAAAAAAAAAAAA`

### Current Result

[{
  "ids": {
    "device_id": "000001",
    "application_ids": {
      "application_id": "application-id-x"

[2022-09-19 14:53] adriansmares commented on #5393
As part of https://github.com/TheThingsNetwork/lorawan-stack/pull/5811 I have implemented some of the fixes proposed here. The `TxParamSetupReq` will be sent as early as possible, and the `LinkADRReq` mask will now correctly take into account the fact that the channels are still pending accept/reject. This should cause the NS to no longer schedule perpetual `LinkADRReq`.

The only problem that is

[2022-09-20 08:11] #4041 closed, assigned to adriansmares

[2022-09-20 17:00] nicholaspcr opened #5816 "Bunstore delete user/organization does not delete related rows on `account` table"
### Summary

References the bug found at the [support issue](https://github.com/TheThingsIndustries/lorawan-stack-support/issues/858)

When using the bunstore, by creating and deleting an user or organization the account entry on the database is neither soft deleted or purged.

### Steps to Reproduce

1. Starts DB (`tools/bin/mage dev:dbStart dev:initStack`
2. Create user
3. Delete user
4. Access

[2022-09-21 09:09] RasmusGodske opened #5817 "Allow mounting /api/v3 in subpath"
### Summary

Allow to mount the /api/v3 endpoint in a subpath, which currently does not seem to be possible(Correct me if I'm wrong).

### Current Situation

Currently it is possible to configure the mount path of:
- console component by configuring `console.mount`
- application server by configuring `as.mount`

I'm not entirely sure sure which stack component, serves the /api endpoints, however c

[2022-09-22 14:15] RasmusGodske opened #5818 "Wrong LNS uri returned"
### Summary

**Background/Setup:**
I'm running lorawan-stack behind a reverse proxy in a kubernetes environment. The reverse proxy handles TLS, and receives traffic on the port 443, and unencrypts the requests and passes them to the non-tls ports(The ones starting with 18). So in short the stack, does not handle TLS at all.

**Problem:**
However when querying the LNS connection endpoint `wss://exa

[2022-09-23 09:59] KrishnaIyer commented on #5818
We have a config option for this. Please set `gs.basic-station.use-traffic-tls-address: true`. That will tell the Gateway Server to use TLS scheme in the traffic URL.

[2022-09-23 09:59] #5818 closed, assigned to nobody

[2022-09-24 14:08] ymgupta opened #5819 "Add a tooltip to the `Skip payload encryption and decryption` option in Application General Settings in the Console"
### Summary

Enabling the Skip payload encryption and decryption option will cause the Application Server to forward messages to integrations without any processing. And also, it will neglect [payload formatters](https://www.thethingsindustries.com/docs/integrations/payload-formatters/) because the integrations will be responsible for decrypting uplink messages.

As per the insights [here](https:/

[2022-09-26 08:33] NicolasMrad opened #5820 "AppKey does not paste fully"
### Summary

When trying to paste the AppKey, it does not fully paste.

### Steps to Reproduce

[This Recording](https://drive.google.com/file/d/1RZLHSjrZWTGsnZcPtFzrCZ6Y3-PNDpxY/view?usp=sharing)

### Current Result

According to the video, the first time the key was fully pasted but when trying another time it was partially pasted.

### Expected Result

The AppKey should be fully pasted.

### Re

[2022-09-27 09:31] #5805 closed, assigned to nobody

[2022-09-27 09:39] KrishnaIyer commented on #5817
The design of the standard hosting models for the The Things Stack assumes that the API routes (and LoRa Basics Station routes that do not use `/api/v3`) are found at the root.
So we will break a lot of assumptions in our deployment models by adding a configurable prefix.
To achieve what you intend, you can use a subdomain for your admin/node-red paths.

[2022-09-27 09:39] #5817 closed, assigned to nobody

[2022-09-28 11:48] #5637 closed, assigned to mjamescompton

[2022-09-29 07:51] #5820 closed, assigned to kschiffer

[2022-09-29 08:15] RasmusGodske commented on #5817
I'm sad to hear that, would have loved this feature, it would have made deployment easier in some cases, but I understand.

Yes I am aware of that I could create subdomains for some of the services, however the purpose of that was to completely avoid going down the subdomain route.

Maybe document this limitation could be useful for others in the future, just so they do not have to go down the sam

[2022-09-29 08:42] #5816 closed, assigned to nicholaspcr

[2022-09-29 08:44] nicholaspcr commented on #5616
Changes the assignees due to the backend section of this being done.
Tagged @kschiffer in hopes that he can best assign the issue to the appropriate person.

[2022-09-29 12:42] mjamescompton opened #5836 "Add device un-claim to delete device in the console"
### Summary

The new version of claiming requires the an end device to be un-claimed before being deleted. The should be done on behalf of the user in the console as it already is in the cli.

### Current Situation

End device is deleted but may still be claimed.

### Why do we need this? Who uses it, and when?

This is not critical but should be done soon as it leaves end devices un-claimable aft

[2022-09-30 11:33] nicholaspcr commented on #5812
Hello @vkrasnhak, I tried replicating the issue and I wasn't able to do so. I'm hoping that you could share a bit more of the details in order to facilitate me reproducing this.

For more details on how I went about testing this:
- Ran TTS on the `v3.21.2` as mentioned.
- Executed the following commands on the `v3.17.1` CLI:
[code]
In the `.env/tests/devs.json` is pretty much three mock devices. R

[2022-09-30 12:37] vkrasnhak commented on #5812
Hi @nicholaspcr, I am using The Things Stack Cloud with tenant-id furukawa and region eu1.

I tried the commands and the result was the same. I wasn't able to filter the devices using the --dev-eui-constains flag.

### CLI version
$ ttn-lw-cli.exe version
[code]

### Create test application (test-app)
$ ttn-lw-cli.exe app create --application-id test-app --user-id xxxxxx
[code]
### Create three de

[2022-10-03 10:55] adriansmares opened #5844 "BasicStation duty cycle computation mismatch"
### Summary

References https://github.com/lorabasics/basicstation/issues/164

BasicStation computes the sub band utilization in a different way compared to our sub band scheduler. This means that downlinks that we consider to be legal (i.e. within the duty cycle usage requirement), can be silently rejected by BasicStation.

[Production builds of BasicStation cannot be instructed to disable duty c

[2022-10-03 10:56] adriansmares commented on #5844
Pinging @johanstokking and @KrishnaIyer for thoughts on this, or if you see alternatives for the implementation. Otherwise thumbs up this message and we'll implement it as proposed.

[2022-10-03 13:00] adriansmares opened #5845 "Network Server scheduling attempt events should be merged"
### Summary

Network Server scheduling attempts (`ns.down.data.schedule.fail`, `ns.down.data.schedule.success` and `ns.down.data.schedule.attempt`) should be merged into singular events instead of one event per scheduling attempt.

### Current Situation

The Network Server will generate an `attempt`/`fail`/`success` event per scheduling attempt. In the worst case, this means that if we have to try

[2022-10-04 09:28] #4874 closed, assigned to happyRip

[2022-10-05 07:00] EveUbees opened #5849 "Register End Device not working on web interface"
### Summary

Cannot add a new device via the web interface "Add end device" feature.
Every step is normal, but the "Register end device" button at the end has no effect.

### Steps to Reproduce

1. Create a new device in a TTN app with "+ Add end Device" in the web interface
2. Set up a manual device
3. Click the "Register end device" button
<img width="340" alt="Capture d’écran 2022-10-05 à 08

[2022-10-05 14:02] allfree35 opened #5855 "Error « outdated_data » on retrieving messages"
### Summary

I use a LoRaWAN gateway from Kerlink which has the internal database backup functionality for Lora messages received when the wired Ethernet network is cut.
When reconnecting the gateway to the network, I only retrieve a small number of messages on my application while the gateway returns all the stored messages.
Most messages are "DROP" "Oudated_data" without knowing why some message

[2022-10-05 14:45] kschiffer commented on #5849
This issue has since been resolved. Please reopen if you still experience this.

[2022-10-05 14:45] #5849 closed, assigned to nobody

[2022-10-06 08:58] beitler commented on #5844
Hi @adriansmares , do you see major advantages of the windowed approach compared to the greedy approach implemented in LBS?

[2022-10-06 09:56] #5819 closed, assigned to ryaplots

[2022-10-06 10:35] #5812 closed, assigned to nicholaspcr

[2022-10-06 10:55] adriansmares commented on #5844
The greedy approach is not ideal for periodic steady states - i.e. saw tooth patterns. The greedy approach is more in line with straight lines associated with de-correlated request-response patterns.

In reality we see lots of devices that do not decouple data collection from the data transmission and end up with periodic steady states. Of course that we don't send downlinks to each of those, but

[2022-10-06 10:59] beitler commented on #5844
Are your windows aligned with absolute time or the gateway-local xtick?

[2022-10-06 11:10] adriansmares commented on #5844
They are XTick based indeed. Given an emission at XTick `t`,  and a time on air `toa`, we check the utilization in the `[t + toa - window, t + toa]` and `[t, t + window]` intervals.

[2022-10-06 14:31] nicholaspcr commented on #5643
Keeping this updated for interested parties.
This is being tested on TTN and making it the default store was postponed due to the following bugs: #5843, #5830.

[2022-10-07 11:34] #5803 closed, assigned to cvetkovski98

[2022-10-10 10:27] ysmilda opened #5859 "Register end device page focuses on `End device brand` input"
### Summary

The `Register end device` page auto focusses on the `End device brand` input field. When on mobile this prompts the browser to open keyboard. This obfuscates the view of the `Scan end device QR code` button as the browser will scoll to the field in focus.

![Screenshot_20221010-105733](https://user-images.githubusercontent.com/19775528/194845576-3f141b4c-e4bc-46cc-aac4-ef3b1e5597ee.jp

[2022-10-10 10:47] ysmilda opened #5860 "Pasting in `Register end device` fields"
### Summary

When pasting in the fields on the `Register end device` page it concatenates the pasted values behind the existing values. While the behaviour I would expect is that it starts pasting/overwriting from the cursors position.

With the current behaviour you'll have to clear the field first before pasting in another value.

### Steps to Reproduce

1. Fill a field on the `Register end devi

[2022-10-10 10:59] ysmilda commented on #5860
Additionally it is possible to paste in more than the maximum allowed characters which causes the character limit check to go off.

<img width="398" alt="image" src="https://user-images.githubusercontent.com/19775528/194851351-176ed562-441c-4520-b192-23b0e5e5bcd1.png">

[2022-10-10 14:27] NicolasMrad commented on #1784
@nejraselimovic can you handle this?

[2022-10-10 15:20] ysmilda opened #5861 "Add configuration snippets for popular editors"
### Summary

To make life easier on starting developers it would be nice to share the editor settings that we have accumulated over time. This will ensure that others have access to the same checks as we do. This can either be done in the `DEVELOPMENT.md` or as complete configuration files.

### Current Situation

N/A

### Why do we need this? Who uses it, and when?

This would be a great help for

[2022-10-11 10:03] KrishnaIyer commented on #5855
LoRaWAN uplink messages (and Join Requests with the Join Nonce) have Frame counters to prevent older messages from being processed, this is defined in the spec along with the reasons why.

So if you have a message that has a lower uplink frame counter than the currently highest seen value, that lower frame count message is outdated by definition and will be dropped.

So how is your gateway flushin

[2022-10-11 12:29] allfree35 commented on #5855
Hi Krishna and thank you for your explanation. I better understand now the process and the imprtance of the frame counter.

The problem is that the gateway receive uplink messages in order as you can see :
Gateway Live Data
![image](https://user-images.githubusercontent.com/40423353/195087114-82588ec8-7021-4467-8303-29d84a18440d.png)

But the uplink messages are not treated in TTS application in t

[2022-10-11 13:54] KrishnaIyer commented on #5855
I believe this is because the GS-NS communication is not synchronous and we use routines to handle traffic so we can't guarantee which routine completes first.

Can you share the Gateway Server log lines?

[2022-10-11 16:20] allfree35 commented on #5855
Yes I could give you my Gateway Server log lines, but I don't know where to have it.
I use self-hosted docker TTS open source. Usually I use this command to see logs:
 ~$ docker-compose logs -t -f  stack
Could you give me the right way to the Gateway Server log ?

Allan

[2022-10-12 12:47] KrishnaIyer commented on #5855
You can look for the namespace `"pkg/gatewayserver"` in the logs.

[2022-10-12 13:55] allfree35 commented on #5855
Hi,
there is nothing in the log except the disconnection of the gateway.
I added this section:
 "log.level: ' debug'
in the stack global options in my docker-compose.xml but logs looks like the same that before.

[2022-10-12 15:16] allfree35 commented on #5855
Ok, I've found where to enable full DEBUG mode.
I do a new test and send you the logs

[2022-10-12 15:31] #5844 closed, assigned to KrishnaIyer, johanstokking, adriansmares

[2022-10-12 15:39] allfree35 commented on #5855
Debug is on
Nothing more:
$ grep "pkg/gatewayserver" error-outdated

^[[36mstack_1            |^[[0m 2022-10-12T13:35:28.600192280Z WARN     Task failed     {"error": "error:pkg/gatewayserver/io/udp:connection_expired (connection expired)", "gateway_eui": "7076FF0056070AD9", "gateway_ip_address": "100.100.165.103", "gateway_uid": "ren-1036-loragw3", "invocation": 6, "namespace": "gatewayserver/io/

[2022-10-13 09:54] mczakk opened #5872 "No live data showing in application"
### Summary

No 'live data' showing for gateways or application end devices
![ttncs](https://user-images.githubusercontent.com/6179722/195565115-2702f0f7-4bce-425f-9e54-f297ae1152d1.jpg)
![ttnss](https://user-images.githubusercontent.com/6179722/195565123-8e5fd825-18a9-41e0-b0b6-f03e5efe9bd1.jpg)
![ttnnw](https://user-images.githubusercontent.com/6179722/195565125-22fc3db8-b016-4b6e-8e9c-a2a120430

[2022-10-13 11:16] #5735 closed, assigned to happyRip

[2022-10-14 07:13] descartes commented on #5872
Others have no issues with Linux. I have no issues with macOS Safari / Chrome / Firefox. Suspect Windows + yet to be identified antivirus is the target.

[2022-10-14 08:11] mczakk commented on #5872
As stated on the TTN forum, Windows + Sophos endpoint agent seems to be a common theme linking those of us with an issue

[2022-10-14 08:15] descartes commented on #5872
As stated on the TTN forum, links help speed things up: https://www.thethingsnetwork.org/forum/t/no-live-data-showing-in-console/59347?u=descartes

[2022-10-14 08:45] johanstokking commented on #5611
I don't think we should limit telemetry collection to IS. I think we should have component registerers (like we have for services) that can produce arbitrary key/value telemetry in their component namespace. For example, a key metric is number of gateways connected which isn't observable by IS.

This shouldn't be platform specific. I don't understand why it would be more maintainable if we have de

[2022-10-14 10:06] EveUbees opened #5874 "Location update from status message not working"
### Summary

The "Update from status message" option in gateway "location" configuration is not working.
In the gateway messages, I can see a GPS coordinate.
<img width="1264" alt="Capture d’écran 2022-10-14 à 11 56 42" src="https://user-images.githubusercontent.com/115065058/195820235-61f825b1-17f3-4504-9080-e83d9878334e.png">
The gateway here is a TTOG, but I encounter a similar problem with T

[2022-10-14 12:11] KrishnaIyer commented on #5855
Ok can you look for `"protocol": "ws"` if you're using a LoRa Basics Station gateway or `"protocol": "udp"` if you're using a UDP gateway?

[2022-10-14 13:15] allfree35 commented on #5855
I use UDP gateway.

This is the log of my last test in same condition. Only four/Ten messages DROP this time.

stack_1            | 2022-10-12T15:40:32.975764544Z DEBUG       Synchronized server and gateway absolute time   {"concentrator_time": 3365595700000, "gateway_eui": "7076FF0056070AD9", "gateway_ip_address": "127.127.165.103", "gateway_time": 1665589232.8979998, "gateway_uid": "ren-1036-lor

[2022-10-14 13:29] johanstokking commented on #4936
We'll revisit this later as needed. Many things have changed in the meantime.

I think that triggering alerts for gateway disconnection, for example, should be handled by the NOC.

[2022-10-14 13:29] #4936 closed, assigned to johanstokking, adriansmares

[2022-10-14 13:35] KrishnaIyer commented on #5855
So this indeed is the place where we throttle the GS - NS connections. This buffer handles 16 parallel messages per gateway and we don't offer an option to configure this since in LoRaWAN, gateways are not supposed to be sending that much traffic.

You can update this [here](https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.22/pkg/gatewayserver/io/io.go#L39) in your local stack. Maybe set

[2022-10-14 14:05] allfree35 commented on #5855
I thank you for your proposal and i would like to test it but I don't know where I can modify this in my configuration.
Self-Hosted docker-compose TTS.
Do I have to modify in the source and build from sources the docker container?

[2022-10-14 14:56] KrishnaIyer commented on #5855
Yes indeed that's the method.

[2022-10-16 08:32] nejraselimovic commented on #1784
Not sure if I understand these concepts completely, but if it's not urgent you can assign it to me and I'll do a bit research and look into it.

[2022-10-16 15:18] mitya12342 opened #5875 "Unable to log into console"
### Summary

I am trying to set up opensource edition of self-hosted things stack. I am using self-signed certificate with own CA and public IP address (no domain name). After following the [tutorial](https://www.thethingsindustries.com/docs/getting-started/installation/), I am able to log into admin account and /oauth interface, but not into the console, I am getting `Login failed` message.

###

[2022-10-17 09:25] jpmeijers opened #5879 "Device attributes in webhook json"
### Summary

I would like to see the device attributes which are set on TTS console to appear in the json I receive via the webhook. This would allow me to have a stateless lambda function process the webhook. Depending on the attributes the lambda can do different things with the data.

### Current Situation

Device attributes are not included in the webhook json data. One needs to do an api call

[2022-10-18 09:37] KrishnaIyer commented on #5875
@mitya12342: Have you registered the console as an oauth client in the database?

Ref: https://www.thethingsindustries.com/docs/getting-started/installation/running-the-stack/#initialization

[2022-10-18 11:12] mitya12342 commented on #5875
@KrishnaIyer Sure
Just to clarify
I did run
[code]
where x.x.x.x is my server ip
and xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx is random but the same as i put into `console.oauth.client-secret` of `ttn-lw-stack-docker.yml`
I also tried keeping it `console`
then after running
[code]
I got
[code]
Do I need to set given secret `aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

[2022-10-18 14:26] descartes commented on #5879
This has been raised before, I believe the challenge is about how much is held in Redis for timely access. Plus there are petitions to reduce the size of the JSON ...

[2022-10-18 22:15] nicholaspcr commented on #5611
Agree. This is probably me not being able to convey properly what was talked on the meeting, since I remember that the idea of these topics are to be a base, a start point of some sort, for the implementation of the telemetry in the OS. These metrics should be somewhat easy to collect, that's why the initial focus on the IS related metrics.

The implementation in this case would be of the data rec

[2022-10-19 07:39] jpmeijers commented on #5879
The workaround I'm currently pursuing is:

1. Create ApiKey for webhook, giving permissions to list application devices.
2. Uplink happens and Lambda receives uplink json, as well as ApiKey.
3. Inside the Lambda do a call to `/api/v3/applications/{end_device_ids.application_ids.application_id}/devices/{end_device_ids.device_id}?field_mask=name,attributes` using the ApiKey.
4. Now I obtained the At

[2022-10-19 09:04] adriansmares commented on #5874
This is intentional. Since the UDP protocol is inherently unauthenticated/unauthorized, anyone could change the location of a gateway by simulating a status message.

[2022-10-19 09:04] #5874 closed, assigned to adriansmares

[2022-10-19 10:44] descartes commented on #5879
I have some alpha PHP code to replicate / mirror the standing data of the device so it is locally available. If you are using the AWS Lambda service this db would need to be on another service. It periodically checks timestamps for any changes or additions. This is faster & less load on TTN which is the target audience as some aspire to use TTN as some form of online database.

[2022-10-19 10:46] descartes commented on #5879
I also have beta PHP code to take a payload formatted uplink and get it in to a database - again for the same reasons above.  It sorts out any additions & changes in PF field names.

[2022-10-19 11:05] descartes opened #5880 "Device "Reset session and MAC state" on web console to clear DevNonce"
### Summary

The "Reset session and MAC state" button clears the session but not the DevNonce so a device that has been factory reset or a developer device needs jump-starting - either on the device or via the CLI.

It would be useful to have the web console clear the DevNonce as well

### Current Situation

_No response_

### Why do we need this? Who uses it, and when?

Not all users are CLI capa

[2022-10-19 14:28] KrishnaIyer commented on #5875
and xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx is random but the same as i put into console.oauth.client-secret of ttn-lw-stack-docker.yml

The client secret that you register for the console (` --secret "${CONSOLE_SECRET}" `) should be the same as the value used in the `--console.oauth.client-secret`.

Have you done that?

[2022-10-19 15:19] NicolasMrad commented on #5872
Can you please provide us with the browser being used and it's version, and the OS will help as well

[2022-10-19 15:40] HeadBoffin commented on #5872
The thread pretty much tells you everything - that Sophos blocks browsers on Windows - both people reporting it are using corporate machines so probably aren't in a position to give you specific versions.

[2022-10-19 16:01] kschiffer commented on #5872
Thanks for filing this issue @mczakk.

Unfortunately, we don't usually fix issues that are caused by the interception of connections or tampering with frontend code from third-party applications. If the Console is being obstructed by a security application, it is a matter of fine-tuning the configuration or overall shutdown of such application to resolve this issue. It is not feasible for us to ta

[2022-10-19 16:01] #5872 closed, assigned to kschiffer

[2022-10-19 16:09] kschiffer commented on #5860
@ysmilda Please try again. This should have been resolved via #5825. Otherwise please reopen.

[2022-10-19 16:10] descartes commented on #5872
I didn't report this and neither did my alter ego, it was someone else who was told to open the issue by TTI staff in a rather clumsy interaction on the forum, so I was looking to join up the dots so we could arrive at a conclusion.

I wouldn't expect you to fix this issue either.

[2022-10-19 16:12] descartes commented on #5170
This strikes me as a win for all parties - I don't toast my workstations with lots of console tabs left open, you don't have the servers toasted serving console data to no one watching.

[2022-10-19 16:12] kschiffer commented on #5872
Oh yeah, I realize I had a wrong mention in my earlier post. Mea culpa.

[2022-10-19 16:13] adriansmares commented on #5872
Hi,

I am not aware of any backend changes related to this, but it's indeed probably Sophos.

The event streams are achieved using server side events over HTTP, and Sophos seems to not like that:
https://community.sophos.com/on-premise-endpoint/f/sophos-endpoint-software/74878/server-sent-events-blocked-by-download-scanner
https://community.sophos.com/free-tools/f/discussions/5750/sophos-av-blocks

[2022-10-19 16:19] kschiffer commented on #5170
I agree that some solution is needed here. My initial idea was to automatically pause live data tabs that are not active but that might be a bit too aggressive. Probably, a timeout for unfocused tabs will be good. l don't know if we need any restrictions for focused live-data tabs. If a user wants to actively watch the live data for hours on end, they should be good to do so.

As far as memory usa

[2022-10-19 16:22] descartes commented on #5170
Unfocused tabs after a period of time are the real issue - as I walk away from my monitors I can see what's running live data which I usually only leave open to capture info. But as I have Safari & Chrome on my iMac and Chrome on my iWin (an iMac running Windows 10) and usually have ~10 windows with ~20 tabs on each, losing track of random tabs that are receiving events is oh so easy.

It's not a

[2022-10-19 20:05] SylvainMontagny opened #5882 ""Mac Payload" term shouldn't be used to indicate a "Frame Payload""
### Summary

In TTNv3, in the End Device Live data,  the term "MAC Payload" is used for the “user payload” whereas it should be written "Frame Payload" in accordance to the specification.

The TTN documentation also says so (obviously) :
https://www.thethingsnetwork.org/docs/lorawan/message-types/#:~:text=MAC%20payload%20of%20the%20data%20messages 11](https://www.thethingsnetwork.org/docs/lorawan/

[2022-10-20 01:14] mitya12342 commented on #5875
Got it working

There is a typo in https://www.thethingsindustries.com/docs/getting-started/installation/running-the-stack/#initialization
I haven't noticed it until i typed everything by hand without copying it with variables
It sets CLIENT_SECRET and then passes CONSOLE_SECRET

[2022-10-20 01:34] #5875 closed, assigned to KrishnaIyer

[2022-10-20 06:24] SylvainMontagny opened #5883 "APB Registration Device shouldn't ask for a JoinEUI"
### Summary

While it works to set the JoinEUI field to zero during an ABP device Registration, the JoinEUI shouldn't be ask. Neither JoinEUI or AppEUI is needed for ABP. It's only confusing.

### Current Situation

User is asked for a JoinEUI during ABP registration.
![ttnv3](https://user-images.githubusercontent.com/34216773/196871499-c48263c8-b7f3-4ddc-83ad-3e52a024b954.png)

### Desired Situat

[2022-10-20 10:46] kschiffer commented on #5170
Yeah it's a thin edge here. I believe once we have proper filtering in place that will also solve many issues here since users can choose to not ingest any irrelevant events.

[2022-10-20 10:59] descartes commented on #5170
I have that as a standalone client side page since Feb '21 - but because it needs an API key, even a read only one, people get in a tangle thinking I'm gaining access to their bank account I don't share it as support is a mess.

[2022-10-20 15:19] johanstokking commented on #5879
This is a sliding edge. On one hand, we don't want to put all end device data in each (uplink) event message to save bandwidth and keep everything fast (Application Server doesn't have all the data so queries Identity Server, potentially somewhere else in the world), and on the other hand we want to encourage users to go stateless. Indeed, we are aware that the workaround described above generates

[2022-10-20 17:33] adriansmares commented on #5879
The genie is out of the bottle for that one as well, right ? `locations`, `version_ids` and `network_ids` should've been top level fields of `ApplicationUp`, not of `ApplicationUplink`.

Some thoughts:
1. Add the `attributes` to `ApplicationUp`. This is on paper the most correct way, since it makes the attributes available for all of the upstream messages. It has the downside of being inconsistent

[2022-10-21 09:02] danijelk commented on #5578
@NicolasMrad

Is the 3.19 jump documented anywhere, just upgraded to 3.22.1 but had issues as I had to do 3.19 migrations first and then jump to 3.22, without your comment I would probably have never found out I feel.

[2022-10-21 11:41] KrishnaIyer commented on #717
This is being tracked in internal issues/PRs. Closing this one

[2022-10-21 11:41] #717 closed

[2022-10-21 13:34] jpmeijers commented on #5879
Testing my lambda I realised the `locations` fields are cached, so it does not update immediately in ApplicationUplink. When I fetch the device from the API I get the changes immediately. If I give my lambda to an end user, their expectation would be that things change immediately after they change settings on TTS.

Yes, but I need a mutable identifier which an end user can change. Name would be g

[2022-10-21 14:21] adriansmares opened #5886 "Skipping registration the cluster join server still requires the AppKey"
### Summary

While registering an end device, we allow the user to skip the registration on the cluster local Join Server - but we still require that he inputs an `AppKey` - we should not need this (the key is not used anymore since we don't create the entity in our JS).

### Steps to Reproduce

1. Start the registration flow.
2. Under the advanced settings, tick `Skip registration on Join Server`

[2022-10-21 16:01] adriansmares commented on #5879
DynamoDB is serverless if you're looking to only pay for what you use.

The thing about the (current) eventual consistency behavior is that it is more of a implementation limitation than a hard stop requirement. I will drop some context at the end of this comment on this.

I think we would prefer that people depend on this metadata being in the uplink, because in the future we can make the consist

[2022-10-21 16:40] descartes commented on #5879
I believe that was what Johan meant with his phrase "changes in Identity Server are eventually consisent"!

Using the device name as a modifiable field for linking to own pre-existing databases has cropped up several times - mostly due to the creation of device ids that weren't consistent or typos - this is somewhat resolved now that it is easier to delete & re-register a device with its session i

[2022-10-21 23:24] adriansmares commented on #5882
Which event types are rendered like this ? Can you share a picture of the places where this is mislabeled ?

[2022-10-24 18:07] SylvainMontagny commented on #5882
oh, sorry. I should have updated my TTS version before.
![image](https://user-images.githubusercontent.com/34216773/197594201-411c81ae-bb8f-45b6-bd5d-c1fc182950ab.png)

Last version has corrected it :
![image](https://user-images.githubusercontent.com/34216773/197595072-4689297f-346b-4c0a-b340-f27c2f86732b.png)

You can close this issue.

Thanks for the nice work you are doing on this open-source

[2022-10-24 18:55] ysmilda commented on #5860
@kschiffer issues still exist in `v3.22.1`

[2022-10-25 07:51] kschiffer commented on #5860
Can confirm. Pasting within existing values does not work as expected. Resolved via #5888. The issue with pasting over the valid length has since been resolved though.

[2022-10-25 07:52] kschiffer commented on #5860
Note that bugs always go into the next version milestone.

[2022-10-25 09:17] #5882 closed, assigned to nobody

[2022-10-26 07:19] johanstokking commented on #5880
@descartes indeed, this button is in the Network Server section as it affects the current session only. This is also only relevant for ABP devices. What you are asking for is a DevNonce reset, which is only relevant for OTAA devices, and this would be part of the Join Server settings.

We already support this indeed via API and CLI, by setting `resets_join_nonces` (flag `--resets-join-nonces`).

W

[2022-10-26 11:55] descartes commented on #5880
Ah, yes, OK, this is why you get a seat on the committee table - a nuance to remember.

Although if the OTAA session is cleared which forces a join - should the button for OTAA be in the Join section and a clear counters button for ABP be in Network Server?

I already use --resets-join-nonces as Microchips MLS is rabid. @adriansmares tells me that a total reset option is coming soon to the CLI. Bu

[2022-10-26 12:05] adriansmares commented on #5880
We actually do, but it is visible only for LoRaWAN 1.1 devices for some reason. We could relax that.
https://github.com/TheThingsNetwork/lorawan-stack/blob/8ca5f15158393ef984c999f5d847866244281352/pkg/webui/console/views/device-general-settings/join-server-form/index.js#L166-L174

Regarding the CLI changes: `end-device reset` will also manually reset the `DevNonce` since https://github.com/TheThin

[2022-10-26 12:30] descartes commented on #5880
Agreed, bit pointless having security if people fall in to bypassing it all the time. And if you are developing the CLI shouldn't be a stretch. FWIW, this came up with the Lacuna LS300 which has a serial interface and NVM and in testing someone got in to a muddle after resetting region & DevNonce count without realising the consequences.

[2022-10-26 15:47] kschiffer opened #5893 "End device settings when using multicast/abp"
### Summary

Also `0` should be a valid ping slot and beacon frequency in the device advanced settings (meaning automatic).

### Steps to Reproduce

Use US915 FSB2, Multicast, class B and see the end device settings panel.

### Current Result

Many irrelevant fields when using multicast.

### Expected Result

Only relevant fields should be editable.

### Relevant Logs

_No response_

### URL

_No

[2022-10-27 15:10] johanstokking commented on #5879
I think (3) is the best solution too. Please triage this issue or add the triage label.

As for cache updates, indeed that is tracked in https://github.com/TheThingsIndustries/lorawan-stack/issues/3001. The idea is that IS notifies AS whenever certain fields change, so AS can update its cache.

[2022-10-27 15:31] johanstokking commented on #5880
Yep agreed, please triage this issue or we'll do next time in the meeting.

[2022-10-31 10:11] #5883 closed, assigned to kschiffer

[2022-11-01 08:54] adriansmares opened #5896 "Webhook health status does not take into consideration backend configuration"
### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/issues/5150
References https://github.com/TheThingsIndustries/lorawan-stack-support/issues/876

### Steps to Reproduce

1. Set the backend configuration to to monitoring:
[code]
2. Fail a webhook.

### Current Result

Observe that the webhook health status warning is immediately visible:
![image](https://user-images.githubus

[2022-11-01 10:33] johanstokking commented on #5880
So we have two things here:

1. Showing the `resets_join_nonces` field for all LoRaWAN versions
2. Add a button to reset `used_dev_nonces` to an empty array. I think we **should not** reset `next_join_nonce`, because the end device may remember (some) server side nonces (AppNonce/JoinNonce)

[2022-11-01 10:39] #5886 closed, assigned to kschiffer

[2022-11-02 05:12] ymgupta opened #5906 "Option to download/export the device's data in an application from the console"
### Summary

A few The Things Stack users requested an option for downloading/exporting the device's data in the application in `.csv` format.

### Current Situation

Using The Things Stack CLI, we can get all the device's data in an application with the fields containing `id`, `created_at`, and `updated_at`. In addition to the default fields, other required fields can be fetced by providing the C

[2022-11-02 14:38] jpmeijers commented on #3122
Trying the snap package again today, and running into a similar issue:
[code]

Edit:
I've deleted my `.ttn-lw-cli` from my home directory and ran the login command again:
[code]
ttn-lw-cli still tries to access the config file in a location that it doesn't have permissions for.

[2022-11-02 14:39] jpmeijers commented on #3122
Duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/1670
Related to https://github.com/TheThingsNetwork/lorawan-stack/issues/523

[2022-11-03 07:09] jpmeijers opened #5909 "ttn-lw-cli end-devices list not including flags"
### Summary

As mentioned in https://github.com/TheThingsNetwork/lorawan-stack/issues/5906 one should be able to run the command `ttn-lw-cli end-devices list [application-id] [flags]` to get an export of all devices in an application. I have tried this with the recommended set of flags from https://www.thethingsindustries.com/docs/getting-started/migrating/migrating-from-ce-to-ch/establish-new-ses

[2022-11-03 07:11] jpmeijers commented on #5909
This issue is related to https://github.com/TheThingsNetwork/lorawan-stack-migrate/issues/52

These two issues both prevent me from batch migrating an application from TTS-CE to a TTS Cloud instance.

[2022-11-03 08:03] jpmeijers commented on #5906
I'm actually currently running into a use for this. We are deploying >100 devices on site. To know which devices are working and being received by the gateway, we monitor the last seen time on the console. For >100 devices its impractical to scan through the pages of devices on the end device page. If one could download a csv of all devices in an application, along with their last see time, one ca

[2022-11-03 09:14] #5859 closed, assigned to kschiffer

[2022-11-03 13:10] adriansmares commented on #5909
`list` and `get` have different semantics due to the way the end device data is stored. There are no `List` / efficient projection for the NS/AS/JS entities, only IS entities, so a client `list` implementation like the CLI would have to manually do a `Get` to these stores. The migration guide uses only `get` for this exact reason, and without having `List` on the remaining stores, I am inclined no

[2022-11-03 14:48] johanstokking opened #5911 "Remove `ttjsv1` claimer"
### Summary

Remove `ttjsv1` claimer in the device claiming server.

### Current Situation

We have `ttjsv1` and `ttjsv2`. The former is deprecated and is no longer supported.

### Why do we need this? Who uses it, and when?

`ttjsv1` is still used by The Things Industries and a handful of device makers. As soon as they upgrade to V2, we can remove support from The Things Stack.

### Proposed Impl

[2022-11-04 09:54] nicholaspcr commented on #5643
Updating this issue.

The bunstore was set as the default implementation on #5897 but there is still the need to remove the `gormstore` implementation from the codebase.

[2022-11-04 16:11] #5896 closed, assigned to ryaplots

[2022-11-07 14:11] ysmilda opened #5915 "Switch to versioned go tooling in mage"
### Summary

Currently the `go` commands in the `mage` tool make use of the `@latest` tag of the targeted tools. This makes the behaviour unpredictable as new version may break stuff.

The proposal is to switch to a specific version just like the `proto` commands have.

### Current Situation

_No response_

### Why do we need this? Who uses it, and when?

This makes the `mage` tool, and in return

[2022-11-07 16:37] #5915 closed, assigned to ysmilda

[2022-11-08 09:23] ysmilda opened #5918 "Update to version `1.0.6` of `protoc-gen-go-flags`"
### Summary

Update the mage tool and the package dependency to the latest version.

### Current Situation

_No response_

### Why do we need this? Who uses it, and when?

This version offers stable sorting of help flags which in turn makes our docs more stable.

### Proposed Implementation

_No response_

### Contributing

- [X] I can help by doing more research.
- [X] I can help by implementing

[2022-11-08 10:27] #5860 closed, assigned to kschiffer

[2022-11-08 10:40] #5233 closed, assigned to happyRip

[2022-11-08 15:48] ysmilda opened #5923 "Remove reflection based flag generation"
### Summary

Remove the last pieces of reflection based flag generation which are left after switching to `protoc-gen-go-flags`.

### Current Situation

Currently the reflection based flag generation is still in use by the `simulate` command in the `cli`.

### Why do we need this? Who uses it, and when?

Clean up our technical debt there.

### Proposed Implementation

Generate flag definitions for

[2022-11-09 07:55] jpmeijers opened #5926 ""store error" when importing devices"
### Summary

I did an export on TTS-CE of all devices in an application. I then created a new application on a TTS Cloud instance, and imported the json file. 5 of the 22 devices did not import with a "store error".

[code]

@adriansmares is aware of this, and I provided him with the json to reproduce.

### Steps to Reproduce

1. Use `ttn-lw-migrate` to export all devices in an application.
2. Imp

[2022-11-09 10:45] jpmeijers commented on #5926
To test I removed `pending_mac_state` from the failing device's json. Now I'm getting a different error:
`Invalid value of field pending_mac_state`

Update:
By removing all fields from the json, except the ones documented at https://www.thethingsindustries.com/docs/getting-started/migrating/device-json/ the device was imported successfully without a session. This however does not solve my problem,

[2022-11-09 13:31] nicholaspcr commented on #5861
A few things that come to mind would be:
- A `editorconfig` file with all the style rules regarding all the languages that we use.
- A brewfile with most, if not all, dependencies that we use for the day to day work.

We can have some sort of repository dedicated for both and refer to that in the `Development.md`

[2022-11-10 02:53] #5911 closed, assigned to johanstokking

[2022-11-10 13:47] #5615 closed, assigned to nicholaspcr

[2022-11-10 16:04] echarlus opened #5932 "Cannot paste Downlink Payload in console V3.22.2"
### Summary

When using the web console, on the end device messaging / Downlink page it's not possible to paste ascii-encoded hexadecimal in the Payload Field.
This used to work fine with previous versions ...

### Steps to Reproduce

In the webconsole select a provisionned and activated End device in an application
Go the Messaging and select Downlink
Select Push to Downlink queue
Enter a port va

[2022-11-10 16:23] KrishnaIyer commented on #5299
The required change is merged to our infrastructure templates. This change will be deployed in `v3.23.0`

[2022-11-10 16:23] #5299 closed, assigned to KrishnaIyer

[2022-11-11 15:30] aniston commented on #1760
I'm still struggling with TTS v3.22.2 stack in docker that has a Traefik Proxy 2.x on the front end. I got past getting the web "console" working with letsencrypt and https but sadly a configured gateway that tries the Basics Station LNS approach with AUTH + Token cannot get past traefik (i presume logically, but cannot technically confirm)

I have a hinch it's to do with gRPC connections not gett

[2022-11-11 15:56] adriansmares commented on #5932
This should've been fixed and deployed yesterday based on https://github.com/TheThingsNetwork/lorawan-stack/pull/5928 . Could you please confirm / deny this ?

[2022-11-11 15:58] echarlus commented on #5932
@adriansmares thanks, I've just checked and I can confirm it's now working as expected !

[2022-11-11 16:00] #5932 closed, assigned to nobody

[2022-11-11 16:26] aniston commented on #717
from the outside ;) any update on this ?

it does interest me from the traefik point of view, as of TTS v3.22.2 with traefik v2.x on docker, a Gateway trying to join with Basics Station + LNS method (Auth+Token) still cannot join. If there is a solution via traefik , can you please share it.

[2022-11-14 08:44] KrishnaIyer commented on #717
We have TLS support recently merged but not yet deployed. This feature will not be available for the open source deployments.

Authentication via an auth token does not depend on the external proxy settings. So your error is else where. Please ask on the forum.

[2022-11-14 08:46] KrishnaIyer commented on #1760
Basic Station does not use gRPC. It uses Web Sockets (which work over an HTTP connection). Please post your issue on the forum with details.

[2022-11-14 09:19] jpmeijers opened #5937 "End devices sort by Last Activity"
### Summary

The end devices list for an application can be sorted by ID and Name. It would be useful to sort by Last Activity. This will allow offline devices to be found quickly.

### Current Situation

Sort by Name or ID

### Why do we need this? Who uses it, and when?

Find offline devices

### Proposed Implementation

Sort by Last activity column

### Contributing

- [ ] I can help by doing m

[2022-11-14 12:34] #5926 closed, assigned to adriansmares

[2022-11-14 21:44] mcenderdragon opened #5939 "more CoyenneLPP Types"
### Summary

Many CayenneLPP libs (like the [Arduino lib](https://github.com/ElectronicCats/CayenneLPP)) support lots of different types, like timestamp. The TTN Console does only support very few, and the error messages are VERY bad (invalid data, when it could said unknown type 133).

### Current Situation

only very few types are supported and types like time, pressure, lux arent.

### Why do w

[2022-11-15 08:58] KrishnaIyer commented on #137
This is covered by an enterprise PR internally.

[2022-11-15 08:58] #137 closed

[2022-11-15 16:03] johanstokking commented on #5939
@mcenderdragon we follow the [official documentation](https://docs.mydevices.com/docs/lorawan/cayenne-lpp#data-types). There's a [warning](https://github.com/ElectronicCats/CayenneLPP#-warning-) on the repository of the library you are using.

I would advise working with myDevices to extend the data types of CayenneLPP so that we support them.

I would like to avoid getting on the sliding edge of

[2022-11-15 16:03] #5939 closed, assigned to johanstokking

[2022-11-16 15:59] adriansmares opened #5941 "Fix configuration defaults of custom type fields"
### Summary

It seems that some of our newly added configuration options make use of types that were not previously supported by the configuration logic. As such, the default values are not working properly.

### Steps to Reproduce

Run the following command:
`ttn-lw-stack config --yml | head -n 2`

### Current Result

[code]

### Expected Result

The values should not be skipped. The message is g

[2022-11-17 11:38] ysmilda opened #5942 "Update actions"
### Summary

The current actions make use of deprecated features and should be updated.
This relates to the use of:
 - [Node.js 12](https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/)
 - [`set-output`](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/)
 - [`save-state`](https://gi

[2022-11-17 13:04] #5942 closed, assigned to ysmilda

[2022-11-20 15:07] anthonybudd commented on #304
If anyone else is having this issue on Mac, I discovered that when you follow the [instructions](https://www.thethingsindustries.com/docs/getting-started/installation/certificates/), the `key.pem` file cannot be opened without `sudo`.

This will produce this error message in docker:
[code]

Simply running `sudo chown 886:886 ./cert.pem ./key.pem` will not fix this.

I know there's probably a bette

[2022-11-22 13:59] fabik111 opened #5948 "TTN Open Source: api call to localhost is blocked by csp during end-device registration"
### Summary

I've hosted on my developement PC the _TTN Open Source stack_ and I configured it according to the  [Use the IP address of your computer on your local network](https://www.thethingsindustries.com/docs/getting-started/installation/configuration/#running-the-things-stack-as-localhost) guide.

Everything works well, I'm able to: log in, add gateway, create an application, receive packets

[2022-11-22 17:24] happyRip commented on #5534
Issue closed automatically despite being referenced only #5887

[2022-11-23 13:10] ysmilda opened #5951 "Add SQL formatter"
### Summary

Add a formatter for SQL files so they follow a opinionated standard.

### Current Situation

_No response_

### Why do we need this? Who uses it, and when?

We have formatters defined for most off our codebase, except for the SQL files. Adding this will make our queries more consistent.

### Proposed Implementation
The formatter that we choose has to work with `postgres`/`timescaledb`

[2022-11-27 10:15] johanstokking opened #5953 "Support simple EUI-only QR codes"
### Summary

Support a simple DevEUI and JoinEUI QR codes

### Current Situation

We only support TR005, but we do have a fallback mechanism prepared for other formats.

### Why do we need this? Who uses it, and when?

Dragino simply puts the `DevEUI` in the QR code as hex string
Tektelic uses `<DevEUI>:<AppEUI>`, also hex formatted EUIs

### Proposed Implementation

- Add two QR code `Format` imp

[2022-11-29 11:08] V999TEC opened #5956 "message_format for error messages with "name" : "unknown_field""
### Summary

The message_format of an error message is parameterised so that a template message containing {attributeName} can be substituted with corresponding attribute values. A good example is:
`"name": "field_length_equal",    "message_format": "`{lorawan_field}` length `{value}` should be equal to `{expected}`",    "attributes": {      "expected": 23,      "lorawan_field": "JoinRequestPHYPay

[2022-11-29 13:28] adriansmares commented on #5691
@happyRip you may start looking into this. I think we shouldn't do everything in one big PR but rather you can consider adding these to small packages initially (`pkg/crypto` for example) and then continue with components (`pkg/applicationserver`, `pkg/gatewayserver` and so forth).

As an initial step I recommend looking into how we can setup the SDK, then we can look at the instrumentation of `pk

[2022-11-30 09:13] fabik111 commented on #5948
@NicolasMrad Hi, I followed the [issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/946)  where you mentioned this issue and I added the configuration below to my configuration file `ttn-lw-stack-docker.yml` inside the `console.ui`
[code]
and I solved the problem. Now evertything is working good!
Feel free to close my issue if you want
Thanks a lot

[2022-11-30 09:13] nicocarv commented on #4289
Hello,

We had the same issue, the following command doesn't do the job:
`$ ttn-lw-cli dev set $application $device --unset mac-state.pending-application-downlink`

<img width="1136" alt="Capture d’écran 2022-11-30 à 10 00 04" src="https://user-images.githubusercontent.com/4521319/204755247-ca19cb86-e7a1-4480-a6ca-04144787414a.png">
<img width="689" alt="Capture d’écran 2022-11-30 à 10 01 58"

[2022-11-30 09:31] adriansmares commented on #4289
The commend that you have quoted and the command which you have ran are different - are you sure you ran the one you quoted ?

[2022-11-30 14:54] ezamp opened #5959 "Disable frame counters validation for OTAA devices"
### Summary

Add checkbox to disable frame counter checking for OTAA devices.

### Current Situation

It is not possible to disable the frame counters validation for OTAA devices.

### Why do we need this? Who uses it, and when?

During development and for some tests it is necessary to disable the frame counters validation to speed up operations.

### Proposed Implementation

Like "Resets Frame Co