[2019-09-20 11:40] htdvisser commented on #761
@johanstokking how about the scheduler in the GS? That seems to depend on the frequency plan and band.

@KrishnaIyer how about Basic Station gateways? For those we may need to register additional data rate configurations, since the downlink DRs for AU915 and AS923 are different.

[2019-09-20 14:32] KrishnaIyer commented on #761
Basic Station gateways accept n SX1301 objects as part of the the spec. So we can send an AU915 and an AS923 sub-band on the same message under two different objects.

[2019-09-20 14:52] htdvisser commented on #761
I meant `DRs` in the `router_config` message.

[2019-09-20 15:00] #890 closed

[2019-09-23 09:18] johanstokking commented on #1340
Why is this not closed by #1341 ?

[2019-09-23 09:20] #1340 closed

[2019-09-23 09:57] johanstokking commented on #761
Yes, we may need to get this from NS as part of `TxRequest` indeed.

@ama9910 can you provide the debug log of the failed GS scheduling attempts?

[2019-09-23 10:05] KrishnaIyer commented on #761
IIRC The `DR` objects are not actually used and only the `SX1301_conf` objects are needed but I'll confirm this.

[2019-09-23 10:45] johanstokking commented on #761
They should be used for translating the uplink and downlink data rates to what has been communicated to the gateway through the router config. So if the gateway is set to AU915/6, the DRs follow that of the AU915 band (and they vary by version). On uplink, we only get DR (not SF and BW), so regardless of the end device's frequency plan, we need to figure out the SF and BW from the gateway's freque

[2019-09-23 13:22] htdvisser opened #1375 "Goroutine leak in GS scheduling"
#### Summary

There seems to be a goroutine leak in GS scheduling.

#### Steps to Reproduce

1. Start The Things Stack and let it run for a while
2. Run a pprof on goroutines

#### What do you see now?

<img width="656" alt="Screenshot 2019-09-23 at 15 20 54" src="https://user-images.githubusercontent.com/181308/65429038-c1495980-de15-11e9-9578-0e4f1168c0db.png">

<img width="825" alt="Screenshot

[2019-09-23 13:52] johanstokking commented on #1375
The problem is that the cancelable context is initiated in `io.NewConnection()`, while it has before been passed to `NewScheduler()`. So, on disconnect, the context that the scheduler used is not canceled.

Change the initialization order a bit. It's not just moving code because `NewConnection()` takes the scheduler. We may have `NewConnection()` instantiate the scheduler with the cancelable conte

[2019-09-23 14:21] KrishnaIyer commented on #1375
@johanstokking : This is already fixed in `master` via my latest PR ([dc71f54](https://github.com/TheThingsNetwork/lorawan-stack/commit/dc71f540b328f9cb0e6ae5eba3c0586a3b8d51f8)).

[2019-09-23 14:21] KrishnaIyer commented on #1375
This can be closed once tested on the demo env.

[2019-09-24 02:02] ktsolakas commented on #761
@ama9910 can you provide the debug log of the failed GS scheduling attempts?

Attaching
[debug_log_failed_GS.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/3644878/debug_log_failed_GS.txt)

[2019-09-24 07:13] htdvisser commented on #1375
This indeed seems to be resolved in 67cc2b31b

[2019-09-24 07:13] #1375 closed

[2019-09-24 08:25] htdvisser opened #1378 "Creating End Devices with non-default factory settings"
#### Summary

We need to improve the console support and documentation for creating end devices that have non-standard factory settings.

#### Why do we need this?

The Arduino library for The Things Uno pre-configures it with some settings for TTN when using ABP. However, the v3 NS requires extra settings to make such devices work.

#### What is already there? What do you see now?

The CLI allows

[2019-09-24 08:32] htdvisser commented on #1378
Background: I tried connecting The Things Uno using ABP, but ran into some problems:

1. NS didn't accept uplink on "extra" channels (fixed with `--mac-settings.factory-preset-frequencies`, but shouldn't this just work for pre-1.1 devices?)
2. Downlinks were not received
3. NS wouldn't accept uplink retransmissions (no downlink, so no acks)
    `DEBUG Skip handling MAC commands for uplink retransm

[2019-09-24 09:16] rvolosatovs commented on #1378
What version LoRaWAN MAC version does The Things Uno use?
Which parameters diverge from the LoRaWAN PHY spec?

[2019-09-24 09:18] htdvisser commented on #1378
1. Not sure, I think it's "mostly 1.0.2", but that also depends on the RN module. We've had a few different versions.
2. https://github.com/TheThingsNetwork/arduino-device-lib/blob/master/src/TheThingsNetwork.cpp#L628-L818

[2019-09-24 11:48] johanstokking commented on #761
Thanks. This is a bit more complicated than I thought.

The logs indicate that GS can't find the data rate index in the gateway's band. This is because of the mismatch between end device and gateway band. That's normal.

The reason why my suggestion to let NS pass the frequency plan as part of the transmission request does not work, is that the GS scheduler enforces duty-cycle by (sub-)band. The b

[2019-09-24 12:39] KrishnaIyer commented on #1370
Closed via #1371

[2019-09-24 12:39] #1370 closed

[2019-09-24 13:49] kschiffer commented on #881
Closing this for #1200, please refer to this issue.

[2019-09-24 14:03] htdvisser commented on #1378
Blocked on #579

[2019-09-24 14:06] kschiffer commented on #30
Closing due to the SDK development being continuous. We should follow up with actionable issues derived from the OP rather.

[2019-09-24 14:06] #30 closed

[2019-09-24 14:07] htdvisser commented on #1378
@johanstokking @htdvisser for discussion

[2019-09-24 14:18] kschiffer commented on #875
Closing in favor of actionable issues (see OP).

[2019-09-24 14:18] #875 closed

[2019-09-24 14:23] mjamescompton opened #1380 "Set Devices and Gateway location with map"
#### Summary

The location form for devices and gateways should include a map, allowing auto filling of location by clicking on map.

#### Why do we need this?

Simplify User Experience

#### What is already there? What do you see now?

A form with text inputs.

#### What is missing? What do you want to see?

#### Environment

Browser

#### Can you do this yourself and submit a Pull Request?

Yes

[2019-09-24 14:27] #1149 closed

[2019-09-24 14:27] htdvisser commented on #1134
Blocked by #579

[2019-09-24 14:28] rvolosatovs commented on #1149
Closing due to lack of input

[2019-09-24 14:41] kschiffer commented on #1199
After the discussion today, about the issues with local go linting, I would propose to add linting pre-push hooks only for the webui `js:lint`, `styl:lint`, which usually run through quickly.

[2019-09-24 20:52] johanstokking commented on #1378
The Things Uno is not special here. Also it's not about the hardware; it's the TTN Arduino library for the Microchip RN2xx3 module. This is just an example ABP device case.

ABP entails more than `DevAddr` and session keys. It's everything that would otherwise have been part of the join-accept; frequencies, RX1 delay and RX2 DR.

I think we all agree that it's always best to create a device right

[2019-09-24 21:08] rvolosatovs commented on #1378
I looked into the issue. I used The Things Node, flashed with TheThingsNode.basic modified for ABP in EU868.
I discovered that the LoRaWAN MAC/PHY version is 1.0.1.

The create command I used:
[code]

Unfortunately, the device only receives at most 1 downlink with default NS config
That is due to `RxTimingSetupReq` being processed by the device, but NS not being acknowledged about it.
The are 2 is

[2019-09-24 21:41] johanstokking commented on #1378
Hmm, how so? If it's what the RN module reports as its version number, then that's about the RN firmware, not the LoRaWAN version. I'm quite sure the RN module is certified for 1.0.2.

[2019-09-25 00:12] rvolosatovs commented on #1378
Okay, I will retry with `1.0.2`, but the behavior is still clearly incorrect.
Regarding https://github.com/TheThingsNetwork/lorawan-stack/issues/1378#issuecomment-534743043:
I think the simplest and best solution here is to just allow setting (some of) `mac_state.current_parameters` fields on the device.
I don't think resetting MAC state when one of the MAC settings change is a good option. You ca

[2019-09-25 08:05] htdvisser commented on #1378
I'd prefer this to be explicit (perhaps with a dedicated RPC). Otherwise I think it's also fine to just expect the device to reset (if resets are allowed).

---

I think this could also be very useful for testing and recovering from other failure scenarios.

[2019-09-25 08:08] johanstokking commented on #1378
@rvolosatovs that's fine with me. But this should be clearly documented.

---

What does it do if you only send that MAC command, i.e. not the new channels?

Also, why are you sending the new channels at all? The idea is that these should be in sync because of the factory reset frequencies that it already has.

What does this mean?

[2019-09-25 08:48] #1363 closed

[2019-09-25 10:24] rvolosatovs commented on #1378
The `NewChannelReq` is sent to configure the data rate limits. `factory_preset_frequencies` only specifies the frequencies, not the data rates device is allowed to use.

`6 255 7 7` means `DevStatusAns` followed by a bogus `NewChannelAns`
The device is supposed to answer with 10 MAC commands, but only sends 1 valid one and 1 invalid one.

[2019-09-25 11:55] johanstokking commented on #1234
@bafonins everything in #1374 works, but I have one minor request;

If your go from external JS to cluster JS, you need to fill out the JS address yourself. You can leave it empty, but then nothing happens. Can we prefill this with the JS address?

[2019-09-25 13:46] rvolosatovs opened #1382 "Fieldmasks are not respected by CLI `get` commands"
#### Summary

Some fieldmasks are not respected by CLI

#### Steps to Reproduce

1. `ttn-lw-cli device get test-app test-dev --mac-state.device-class`

#### What do you see now?

[code]

#### What do you want to see instead?

[code]

#### How do you propose to implement this?

@htdvisser is responsible for CLI, so he should know better

#### Can you do this yourself and submit a Pull Request?

no

[2019-09-25 13:47] bafonins opened #1383 "Fix required field styling"
#### Summary

<img width="130" alt="Screenshot 2019-09-25 at 16 43 41" src="https://user-images.githubusercontent.com/16374166/65606630-ed024600-dfb3-11e9-879c-05fde9339b90.png">

Related commit: https://github.com/TheThingsNetwork/lorawan-stack/commit/182bd49159dcff229f6bd22dbc9b6ddf597dfe73

#### Steps to Reproduce

1. Open any form with required fields
2. See the required indicator being misali

[2019-09-25 13:50] bafonins commented on #1234
The js address of the current cluster?

[2019-09-25 13:53] htdvisser commented on #1382
Is your device class A by any chance? In that case, it makes sense.

From https://developers.google.com/protocol-buffers/docs/proto3:

[2019-09-25 14:04] rvolosatovs commented on #1382
Yes, it is class A indeed - that's not the biggest issue IMO. What's up with
[code]
part?

[2019-09-25 14:50] johanstokking commented on #1234
Yes!

[2019-09-25 15:06] htdvisser commented on #1382
The CLI just renders protos using jsonpb, so this is something in our proto definitions or gogo options. I suspect this has something to do with the `nullable = false` options on `current_parameters` and `desired_parameters`.

[2019-09-25 22:54] #1342 closed

[2019-09-25 22:54] #1343 closed

[2019-09-25 22:58] rvolosatovs opened #1386 "Several NS configuration settings not settable through CLI"
#### Summary

NS configuration settings not settable through CLI
Refs https://github.com/TheThingsNetwork/lorawan-stack/pull/1329#issuecomment-534576954

#### Steps to Reproduce

1. `ttn-lw-stack --help`

#### What do you see now?

[code]

#### What do you want to see instead?

`ns.default-mac-settings.desired-adr-ack-{limit,delay}-exponent` etc.
There may be more cases like this.

#### How do you

[2019-09-25 23:05] rvolosatovs commented on #1382
This is confusing to the user and has to be fixed.
This should also be very trivial to fix - just decode the JSON into a `map[string]interface{}` and loop over the fieldmasks to only include the specified ones.

[2019-09-26 05:33] #1326 closed

[2019-09-26 06:02] rvolosatovs commented on #1378
I was unable to debug the MAC operation via Arduino library, it seems that all MAC logic is handled by the RN module, such that library does not have access to it.

[2019-09-26 08:02] johanstokking commented on #1378
Indeed, but can you send the MAC commands individually, or at least per type, to see what happens?

[2019-09-26 09:32] htdvisser commented on #1382
Sounds good, go ahead.

[2019-09-26 13:29] adriansmares opened #1389 "De-duplicate component mocks"
#### Summary

We need to reduce the duplication of mock testing utilities, since we have multiple copy pasted mock servers and common usage functions.

#### Why do we need this?

In order to standardize component mocks (outside of just the `ttnpb` interfaces). This allows us to avoid refactoring tests extensively when things like context fillers are changed, and reduces the overall code duplicatio

[2019-09-26 21:25] johanstokking commented on #138
There's some groundwork in #1392 to at least fallback to the default ports if the target doesn't contain any.

The middleware introduced in `pkg/rpcmiddleware/discover` is intended to contain the implementation for this issue.

The proposal here contains SRV records per component, which means that `discover.WithTransportCredentials()` and `discover.WithInsecure()` should take a `ttnpb.ClusterRole`

[2019-09-27 05:34] ama9910 opened #1394 "Support multiple band-plans on a single concentrator"
#### Summary

We would like to see support for multiple channel plans on the same gateway concentrator.

As @htdvisser has suggested in [https://github.com/TheThingsNetwork/lorawan-stack/issues/761#issuecomment-530304855](https://github.com/TheThingsNetwork/lorawan-stack/issues/761#issuecomment-530304855), the channel frequencies are the same for AS923-925 and AU915 FSB6. A single 8-channel gatewa

[2019-09-27 10:19] johanstokking commented on #1394
Note to self; I think we should not support this if any of the band is duty-cycle limited, because then we'd need to take the lowest common denominator of sub-bands (which probably don't align either) and keep track of that separately.

So;
- GS scheduler to support multiple frequency plans. If any is duty-cycle limited, return config error
- Extend `TxRequest` with `frequency_plan_id`
- GS to fig

[2019-09-29 09:53] ama9910 commented on #1394
That would exclude Australia since our 915-928 MHz ISM band is duty cycle limited, regardless of band plan. Wouldn't it be valid to use the lowest duty cycle limit from both band plans and track the airtime per gateway regardless of band plan, since the duty cycle limit is a function of the ISM band, not the LoRaWAN band plan?

[2019-09-29 10:18] #789 closed

[2019-09-30 08:20] #1234 closed

[2019-09-30 08:32] #1281 closed

[2019-09-30 10:29] pgalic96 opened #1396 "Console Logout not working sometimes"
#### Summary

Sometimes when auth cookie is not present in client the console logout doesn't work and returns `401 unauthorized`

#### Steps to Reproduce

1. Log in the console
2. Delete console auth cookie in the developer console
3. Click logout button

#### What do you see now?

`401 unauthorized` when clicking logout

#### What do you want to see instead?

Proper logout, redirect to login page

[2019-09-30 14:09] johanstokking commented on #1209
Blocked by https://github.com/TheThingsIndustries/lorawan-stack/issues/1747

[2019-10-01 09:30] johanstokking opened #1401 "Join Server fails when Crypto Server does not expose root keys"
#### Summary

Join Server fails when Crypto Server does not expose root keys

#### Steps to Reproduce

1. Build CS implementation that returns an error when root keys are not exposed (TTI CS currently returns `PERMISSION_DENIED`)
2. Wire JS to that CS
3. Get device from JS, passing `root_keys` in field mask

#### What do you see now?

JS passes the permission denied error back to the caller (i.e.

[2019-10-01 10:36] #970 closed

[2019-10-01 10:59] #1401 closed

[2019-10-01 11:59] johanstokking opened #1404 "Device templates from data and bulk create"
#### Summary

Device templates from data and bulk create

#### Why do we need this?

To import devices from a file, i.e. migration or claiming by manifests.

#### What is already there? What do you see now?

In Console, individual device creation.

In CLI we have device template conversion support, template execution (to turn a template into an end device) which can be piped to device create.

###

[2019-10-01 12:45] johanstokking commented on #1404
@kschiffer there's a test converter in https://github.com/TheThingsNetwork/lorawan-stack/tree/feature/1404-console-bulk-create

Here's the sample file, i.e. in `~/tmp/euis.csv`:

[code]

Then;

0. Start stack

[code]

1. List formats

[code]

2. Convert file

[code]

This `ui.json` is something you have as local state in the browser, and may show as a table in the future.

<details>
<summary>Show

[2019-10-01 12:55] johanstokking opened #1405 "Manage claim authentication code"
#### Summary

Manage claim authentication code in Console

#### Why do we need this?

To allow users to edit the value and set to/from dates

#### What is already there? What do you see now?

Only CLI support

#### What is missing? What do you want to see?

Console support

References https://github.com/TheThingsNetwork/lorawan-stack/issues/579

#### How do you propose to implement this?

In the J

[2019-10-01 13:01] htdvisser opened #1406 "Rate Limiting"
#### Summary

We have to add rate limiting to our API endpoints.

Transferred from https://github.com/TheThingsIndustries/lorawan-stack/issues/546

#### Why do we need this?

- Security: Prevent abuse of endpoints (such as login)
- Performance: Prevent one entity from taking all resources

#### What is already there? What do you see now?

We currently don't have any rate limits.

#### What is miss

[2019-10-01 13:04] htdvisser commented on #1406
In https://github.com/TheThingsIndustries/lorawan-stack/issues/546 @johanstokking suggested the following classes:

- Tier 1: user ops; login, password reset, search, etc.
- Tier 2: heavy user/automated ops; listing, pagination, any access management changes **, etc.
- Tier 3: light user/automated ops; entity CRUD, downlink queue ops

** including collaborator changes, API key changes, etc, which

[2019-10-01 13:08] johanstokking opened #1407 "Show end device QR code"
#### Summary

Show end device QR code in Console

#### Why do we need this?

For testing, validation and saving to file

#### What is already there? What do you see now?

CLI support in progress, see #1392;

[code]

#### What is missing? What do you want to see?

Be able to see and save QR codes in the Console

There are multiple types of QR codes that the user needs to be able to choose.

#### Ho

[2019-10-01 13:20] htdvisser commented on #1407
I do see value in an approach where the backend generates QR codes. That way we can also make them available through our APIs, maybe even rendered into svg/png/pdf. We wouldn't have to re-implement QR rendering in every client (in case we'd ever want iOS/Android/... clients) and can just use the rendered images directly.

[2019-10-01 13:25] johanstokking commented on #1407
Sure, but in V3 there's no "the backend", especially when concerning fields are spread across multiple components.

We could:

- add a gRPC service that lists QR code formats and their required field mask
- let callers obtain the fields through the normal way (i.e. contact device registries)
- let caller provide the `EndDevice` (future also `Gateway`) with the requested field mask
- let gRPC servi

[2019-10-02 09:05] johanstokking commented on #1240
Insight from #1408;

- With `--local` (default), put the dotfile in the working dir (`os.Getwd()`)
- With `--user`, put the dotfile in the user config dir (`os.UserConfigDir()`)
- Extend `pkg/rpcmiddleware/discover` to return the endpoints based on the user provided hostname. Probably introduce a new struct there with the discovery result. If #138 isn't closed yet, return sane defaults (i.e. all c

[2019-10-02 09:49] johanstokking opened #1410 "QR code generation service"
#### Summary

QR code generation service

#### Why do we need this?

To generate QR codes in one place instead of moving the responsibility to the clients.

See https://github.com/TheThingsNetwork/lorawan-stack/issues/1407#issuecomment-537034928

#### What is already there? What do you see now?

#1392 is introducing an offline QR code generation in CLI. This is offline, but imports QR code formats

[2019-10-02 09:49] johanstokking commented on #1410
Blocking #1407

[2019-10-02 09:49] johanstokking commented on #1410
Blocking #1392

[2019-10-02 09:50] johanstokking commented on #1410
Blocking #1209

[2019-10-02 15:15] #1396 closed

[2019-10-03 08:15] htdvisser commented on #1365
Unfortunately we can't actually do this without breaking API because the `Event` message has multiple identifiers. We should probably solve this differently (doing multiple publishes to cloud pubsub, and deduplicating on a unique ID that we already planned to add in #580).

[2019-10-03 08:15] #1365 closed

[2019-10-03 14:58] pgalic96 commented on #1319
@htdvisser I am trying to replicate this issue but it seems that these invalid ID's are always caught by the frontend field validation. How did you manage to get past the validation?

[2019-10-03 15:06] htdvisser commented on #1319
Maybe the validation has been fixed since this issue was created, but that doesn't change the fact that nested errors (which can come from different places) aren't displayed properly.

[2019-10-04 08:18] kschiffer commented on #1407
I'm fine with generating the QR code on the frontend as well but I agree with @htdvisser that a backend approach would be more versatile.

[2019-10-04 09:08] johanstokking commented on #1407
It's already in progress, see here; https://github.com/TheThingsNetwork/lorawan-stack/pull/1413/files#diff-9cb528d150f69af9e93f350e10df9c7fR86

[2019-10-04 10:54] kschiffer opened #1422 "Introduce new account app (to replace oauth app)"
#### Summary
We currently have a lot of issues revolving around our OAuth flow, account switching, token management, respective branding, etc. This is an attempt to make all of these more actionable under a new `account` app that will take care of all of these concerns.

#### Why do we need this?
- Missing account switching functionality ⟶ #488
- Missing branding and context for the user ⟶ #730
-

[2019-10-04 12:06] kschiffer commented on #730
Closing in favor of #1422

[2019-10-04 12:06] #730 closed

[2019-10-04 12:19] kschiffer commented on #1018
The second option seems superior to me, as it solves the problem once at the top level. Do you have any concerns to use it?

[2019-10-06 05:18] amprodes opened #1423 "issue: Database table `accounts` does not exist"
:rotating_light: :stop_sign: This issue tracker is not for questions :stop_sign: :rotating_light:

Hi, guys, can you help me? I'm new with this docker thing and am installing the stack and am getting this error on running docker yml file

stack_1     |   INFO Setting up Identity Server
stack_1     | error:cmd/internal/shared:initialize_identity_server (could not initialize Identity Server)
stack_1

[2019-10-07 07:09] htdvisser commented on #1423
As the template already indicates: This issue tracker is not for questions

Please raise your question on our community platforms:

- Forum: https://www.thethingsnetwork.org/forum/
- Slack: https://thethingsnetwork.slack.com (you can self join via https://account.thethingsnetwork.org)

[2019-10-07 07:09] #1423 closed

[2019-10-07 07:50] johanstokking commented on #1422
References https://github.com/TheThingsIndustries/lorawan-stack/issues/1659

[2019-10-07 12:43] #1410 closed

[2019-10-07 13:56] amalavegecko commented on #1423
I got this message "Access Denied" at the forum

[2019-10-07 18:04] adriansmares opened #1428 "Add pagination to Redis registries"
#### Summary

Add pagination (current page and the number of elements per page) to the `List*` RPCs of our Redis registries.

#### Why do we need this?

For scalability reasons - listing becomes rather troublesome if a high amount of entities has to be returned.

#### What is already there? What do you see now?

Currently the database-backed (from Postgres/Cockroach) queries from the Entity Store

[2019-10-08 09:13] kschiffer commented on #1319
Generally speaking, the errors returned from the backend are not really user-friendly and often require developer-knowledge (e.g. hinting towards a value not matching a certain regex pattern). Whenever possible, we should, therefore, try to "translate" backend errors to something that assists the user appropriately in resolving the problem.

I think it makes sense to extend our error notification

[2019-10-08 09:19] htdvisser commented on #1319
This may be a bit out of scope for this issue but yes. Typically this is the goal of the first (outermost) error in the chain. We need to improve those.

Then we could make the console recognize certain errors (like this `error:pkg/errors:validation`) error.

Sure, but also out of scope for this issue.

[2019-10-08 09:26] kschiffer commented on #1319
So, would you agree with adding "Error Details" to our error notifications, as an intermediate solution?

[2019-10-08 13:39] htdvisser commented on #265
Replaced by #1422.

[2019-10-08 13:39] #265 closed

[2019-10-08 15:17] johanstokking opened #1432 "Cache root CA"
#### Summary

Cache root CA

#### Why do we need this?

To avoid reading it every time building a TLS client configuration.

#### What is already there? What do you see now?

Reading `RootCA` file in `pkg/component.GetTLSClientConfig()` since #1431

#### What is missing? What do you want to see?

Cache the file read.

#### How do you propose to implement this?

We could wire in the file fetcher an

[2019-10-08 15:49] htdvisser commented on #1332
Looks related:

[code]

[2019-10-08 19:21] rvolosatovs commented on #1378
By some reason the Node does not answer `NewChannelReq`s, which are ineffective(it looks like it does not answer ineffective MAC commands in general).
The reason the `NewChannelReq`s are sent is due to NS not knowing the configured data rate ranges for channels.
The issue is mitigated by simply using saner defaults for data rate ranges. See https://github.com/TheThingsNetwork/lorawan-stack/pull/14

[2019-10-09 08:19] bafonins commented on #1018
@kschiffer the second solution overrides the url, not sure if it is a problem

[2019-10-09 08:21] johanstokking opened #1436 "Optionally require authenticated gateway connection"
#### Summary

Optionally require authenticated links from gateways.

#### Why do we need this?

To disallow unauthenticated connections, like UDP.

#### What is already there? What do you see now?

GS keeps track of UDP source addresses which detects and disallows spoofing gateway EUIs while the real UDP-linked gateway is still connected.

#### What is missing? What do you want to see?

We should

[2019-10-09 08:38] kschiffer commented on #1018
Ah right. I think we should avoid that as it would be unconventional.

This one would:
- Retain the URL
- Keep routing via `react-router` intact
- Use our error boundaries
- Use the full view error (not subview)

Right?

[2019-10-09 09:04] bafonins commented on #1018
Correct

[2019-10-09 12:28] htdvisser commented on #72
Reopening this, since there are still a bunch of TODOs left in the codebase referring to this issue:

https://github.com/TheThingsNetwork/lorawan-stack/blob/fe5b1d5bd568613ebe3549e841d2c8c7a39d00e3/pkg/identityserver/invitation_registry.go#L62

https://github.com/TheThingsNetwork/lorawan-stack/blob/71e4ef8ad894c21bb5069b9ec754b50640362390/pkg/identityserver/user_registry.go#L204

https://github.co

[2019-10-09 12:57] #1272 closed

[2019-10-09 14:56] johanstokking opened #1439 "Application upstream message `received_at` never set"
#### Summary

AS never sets `received_at` on the `ApplicationUp` message.

#### Steps to Reproduce

1. Subscribe to AS messages, i.e. MQTT or webhooks
2. See any upstream message, for example uplink

#### What do you see now?

No `received_at` set

#### What do you want to see instead?

For uplink-triggered messages (uplink, join-accept, downlink ack/nack), the `received_at` set to the `UplinkMess

[2019-10-09 15:35] johanstokking opened #1441 "Add TLS enable/disable flag in AS link"
#### Summary

Add checkbox for enabling/disabling TLS for the external NS link

#### Why do we need this?

To support TLS, optional since #1440

#### What is already there? What do you see now?

Only NS address for configuring external link.

#### What is missing? What do you want to see?

The `tls` field now indicates whether TLS is desired for the external link.

You may default to `true`.

####

[2019-10-10 07:51] johanstokking opened #1445 "AS flaky test"
#### Summary

AS flaky test

#### Steps to Reproduce

Happens sometimes in CI

#### What do you see now?

[code]

#### Environment

Travis

#### How do you propose to implement this?

This is a weird error; the error code is `Unknown` but the error message is correct. Is this a leftover from a previous test or do we not return errors correctly?

#### Can you do this yourself and submit a Pull Requ

[2019-10-10 07:54] #1337 closed

[2019-10-10 08:13] johanstokking commented on #138
Additional groundwork in #1442 is the `pkg/rpcmiddleware/discover.DialContext()` that is going to discover services on the target and dial the right address with the right dial options.

We may want to consider adding all default dial options there, instead of requiring it to be set by the callers. This makes it also easier to make them variable based on discovered result.

[2019-10-10 09:22] #1018 closed

[2019-10-10 15:49] johanstokking opened #1450 "Require configuration sources and providers"
#### Summary

Require configuration sources and providers.

#### Why do we need this?

To not determine them on set values which can become ambiguous

#### What is already there? What do you see now?

Fallback to set values

#### What is missing? What do you want to see?

Require them set in;
- Interop config file
- Frequency plans source
- Device repository source
- Key vault source
- TLS certifi

[2019-10-11 12:49] #1404 closed

[2019-10-11 14:31] loganmc10 opened #1455 "Docker image won't start with 3.2.1 (can't find cert.pem)"
[code]

This didn't happen in 3.2.0. I'm using acme/lets encrypt for the cert, not self-signed

[2019-10-11 14:36] KrishnaIyer commented on #1455
@loganmc10: Please fill out the issue template. While doing so, please dump your stack config.

[2019-10-11 14:37] #491 closed

[2019-10-11 14:48] htdvisser commented on #1455
@loganmc10 Can you try with `--tls.source acme` (or corresponding env / yml config)?

Suspect: https://github.com/TheThingsNetwork/lorawan-stack/pull/1451/files?file-filters%5B%5D=.go#diff-b05b21ce72e38c01aa5a7b5d0d038661R70-R79

cc: @johanstokking

[2019-10-11 15:04] htdvisser opened #1458 "Add checklist to Pull Request template"
#### Summary

I think we should add a checklist to our pull request template.

#### Why do we need this?

To formalize the process a bit, make sure that reviewers look at the things that need to be looked at and to make sure we're not skipping any steps, even when we're in a hurry.

#### What is missing? What do you want to see?

- We used to have a **Release Notes** section in the Pull Request te

[2019-10-11 15:04] htdvisser commented on #1455
We also forgot to update the documentation for these configs in #1451

- `docker-compose.yml`
- `doc/content/guides/getting-started/configuration.md`

and it looks like the release notes from the PR weren't included in the changelog either, opened #1456 and #1458 for that.

[2019-10-14 08:49] johanstokking opened #1459 "Bulk create does not respect field mask + minor issues"
#### Summary

Bulk create does not respect field mask. Other minor issues related to generating a claim authentication code and styling.

#### Steps to Reproduce

1. Start stack with IS + JS + DTC + Console
2. Import devices from ATECC608A-TNGLORA manifest

#### What do you see now?

Import works, good experience with progress bar etc.

There are a few issues though;

1. Base64 padding is not resp

[2019-10-14 08:52] kschiffer opened #1460 "Expand sidebar entry by default, if sub-item is active"
#### Summary
If a route is active whose link resides as a subentry of our sidebar component. The subentry should be expanded initially by default.

#### Why do we need this?
To improve contextual awareness for the user.

#### What is already there? What do you see now?
![image](https://user-images.githubusercontent.com/5710611/66739027-1e15be00-ee70-11e9-8f07-9f987b44cfad.png)
The entry is collaps

[2019-10-14 09:04] kschiffer opened #1464 "Improve accessibility of table rows"
#### Summary
Table rows should be "clickable" via keyboard selection.

#### Why do we need this?
Accessibility.

#### What is already there? What do you see now?
Rows are selectable via keyboard.

#### What is missing? What do you want to see?
Clicking via the keyboard is not possible.

#### Environment
Console in browser.

#### How do you propose to implement this?
Should be fixed by adding an `o

[2019-10-14 09:17] #1455 closed

[2019-10-14 09:21] johanstokking commented on #1209
Blocked by https://github.com/TheThingsNetwork/lorawan-stack/issues/1459

[2019-10-14 12:30] #250 closed

[2019-10-14 15:31] kschiffer commented on #1459
That is due to the template not setting `supports_join` when join server fields are set.

[2019-10-14 16:02] kschiffer opened #1471 "Extend webui stack config with EDTC (Console / JS SDK)"
#### Summary
The new End Device Template Converter needs to be added to the stack config object of the Console and the JS SDK.

#### Why do we need this?
To enable EDTC with arbitrary hosts (diverting from the IS host)

#### What is already there? What do you see now?
Stack config object in the JS SDK, as well as the `APP_CONFIG` env in the webui.

#### What is missing? What do you want to see?
-

[2019-10-15 04:58] johanstokking opened #1473 "Console crash when root keys are not exposed"
#### Summary

Console crash when root keys are not exposed

For devices with secure elements, the Join Server typically does not expose root keys. The Join Server does return `root_keys` to indicate that it has access, but `nwk_key` and `app_key` are `nil`. This is different from "external JS" where `root_keys` is `nil` and/or JS address mismatch.

#### Steps to Reproduce

1. Create device with `-

[2019-10-15 05:11] johanstokking commented on #1459
This is now addressed in #1472.

Added a sixth point; the JS address does not seem to be set. I'm testing with `supports_join` is true.

[2019-10-15 06:21] johanstokking commented on #1378
What is the status of this issue @rvolosatovs ? What should we discuss?

Reading the spec, `NewChannelAns` should be sent if the band supports it. The only case where it can be silently dropped is when the band doesn't support the MAC commands, like US and China.

[2019-10-15 06:45] johanstokking commented on #761
With multiple frequency plans with different bands described in #1394, this issue focuses on supporting multiple frequency plans for gateways. My proposal is;

1. API: introduce a `repeated string frequency_plan_ids` to `Gateway`. Falls in scope of this issue
2. ER: handle new field as described in https://github.com/TheThingsNetwork/lorawan-stack/issues/1353#issuecomment-531156037 (i.e. staying b

[2019-10-15 06:46] johanstokking commented on #761
@KrishnaIyer @htdvisser ack?

If so, let's remove `discussion` and plan work in a milestone

[2019-10-15 08:02] rvolosatovs commented on #1378
Yes, unfortunately that does not happen.
Since https://github.com/TheThingsNetwork/lorawan-stack/pull/1435 is merged I suppose the only thing left is adding the documentation on how to make the Node and Uno work on v3(see https://github.com/TheThingsNetwork/lorawan-stack/pull/1435) and then we can close the issue.

[2019-10-15 11:30] #1473 closed

[2019-10-15 12:19] htdvisser commented on #761
I quickly did 1 and 2 in https://github.com/TheThingsNetwork/lorawan-stack/compare/feature/761-multi-fplan-gtw.

[2019-10-16 08:54] #1459 closed

[2019-10-18 09:04] mcoracin commented on #1439
Hello,
When can we expect to have a fix for that ?
Thanks and regards,
Michael

[2019-10-18 09:15] htdvisser commented on #1439
Hi @mcoracin,

This issue is in the **Next Up** milestone, which means that we will likely plan it for next month's milestone. If by the end of this month we still have time left, we may still address it in October.

If this is very important to you, you're of course welcome to contribute a fix yourself.

[2019-10-19 15:22] kschiffer opened #1493 "Allow read-only field masks for update operations if the value does not change"
#### Summary
When querying the RPCs through the http bridge, using read-only field masks in write operations will error out, even when the value remains the same. It would be better to ignore these field masks then rather than returning a validation error.
The console would benefit from such behavior, as we sometimes want to *upsert* entities, using the same request. This is currently not possible

[2019-10-21 07:32] #1205 closed

[2019-10-21 08:01] bafonins commented on #1336
expected behavior of `react-text-mask`

[2019-10-21 08:02] #1284 closed

[2019-10-21 09:31] bafonins opened #1494 "API keys table missing loading indicator on list requests"
#### Summary

API keys table for Application/Gateway/Organization is missing loading indicator on requests.

#### Steps to Reproduce

1. Go to any page with an API keys table
2. See no loading indicator when a list of API keys is requested

#### What do you see now?

No loading indicator

#### What do you want to see instead?

Loading indicator being shown when requesting initial list/next page

#

[2019-10-21 10:15] bafonins opened #1496 "Collaborators table missing loading indicator on list requests"
#### Summary

Collaborators table for Application/Gateway/Organization is missing loading indicator on requests.

#### Steps to Reproduce

1. Go to any page with an Collaborators table
2. See no loading indicator when a list of collaborators is requested

#### What do you see now?

No loading indicator

#### What do you want to see instead?

Loading indicator being shown when requesting initial li

[2019-10-22 09:56] rvolosatovs opened #1499 "Network Server should disable channels using NewChannelReq"
#### Summary

`NewChannelReq` supports sending `Freq == 0` to disable a channel

#### Steps to Reproduce

1. Look at the implementation

#### What do you see now?

`NewChannelReq` implementation does not supports sending `Freq == 0` to disable a channel

#### What do you want to see instead?

Support sending `Freq == 0` to disable a channel

#### How do you propose to implement this?

If length of

[2019-10-22 10:04] rvolosatovs opened #1500 "PingSlotChannelReq should only be sent in RX1/RX2"
#### Summary

`PingSlotChannelReq` should only be sent in RX1/RX2

#### Steps to Reproduce

1. Look at the implementation

#### What do you see now?

`PingSlotChannelReq` whenever possible

#### What do you want to see instead?

`PingSlotChannelReq` only sent in RX1/RX2

#### How do you propose to implement this?

Check for `RxWindowsAvailable` in `needsPingSlotChannelReq`

#### Can you do this yo

[2019-10-22 10:06] KrishnaIyer commented on #761
@htdvisser: I already have a branch for this. I didn't have the time to write tests. I'll adapt your changes into it.

[2019-10-22 11:24] rvolosatovs commented on #1349
This happened again
[code]
https://travis-ci.com/TheThingsNetwork/lorawan-stack/jobs/248221608

[2019-10-22 12:35] johanstokking commented on #761
@KrishnaIyer great, please file additional issues with assignments as needed

[2019-10-22 12:40] rvolosatovs commented on #1493
We can do this, but IMO this should not be necessary.

1. The only use case for setting `ids.device_id` and `ids.application_ids` is creation of a new device. In all other cases neither should any of these field paths be set, nor any of the values set in the proto(the IDs are inferred from the URL)
2. Creation of a device should not be an upsert - it should error if entity already exists.

Given (

[2019-10-22 12:59] johanstokking commented on #1493
The thing is that the client doesn't always know whether it's create or update. That is also why we don't have `Create()` or `Update()` rpcs but `Set()`. Sure, if the device exists and we're changing read-only settings, we should error, but that is unrelated to this (because we're not changing identifiers).

It's not creation; it's setting a device. The client provides the fields it knows and does

[2019-10-22 13:02] rvolosatovs commented on #1493
This clears that up, thanks!
How high of a priority is it?

[2019-10-23 09:09] johanstokking opened #1501 "Change root key in Console fails"
#### Summary

Console errors when changing the device's root key.

#### Steps to Reproduce

1. Click **Add Device**
2. Fill out basic settings, not very import
3. Uncheck **External Join Server** and make sure keys get generated automatically
4. Go to created device's **General Settings**
5. Change a byte in the root key
6. Click Save

#### What do you see now?

The `POST` to the JS and NS device

[2019-10-23 09:15] johanstokking commented on #1501
Full error:

[code]

[2019-10-23 10:50] rvolosatovs opened #1503 "Network Server retry backoff"
#### Summary

In case downlink scheduling fails, NS should retry with a backoff

#### Why do we need this?

To not end up in an infinite loop

#### What is already there? What do you see now?

Retry every second

#### What is missing? What do you want to see?

Retry after second, then after 2 seconds, then after 4 etc.

#### How do you propose to implement this?

somehow record the *try* we're in.

[2019-10-23 11:08] #936 closed

[2019-10-23 12:39] bafonins commented on #1501
This issue is not only related to `root_keys`, but to all fields updated in the general settings page. Most probably caused by [this commit](https://github.com/TheThingsNetwork/lorawan-stack/commit/16033cb795bf991a1e49ef5ac888ff5fdef68373#diff-4fa7283b7d65ffba5f75fae2b1c0d93b)

[2019-10-23 13:26] mjamescompton opened #1506 "Add Device Image to Entity Registry"
#### Summary

Add an endpoint for uploading an image for a device and store in Entity Registry similar to the user profile picture.

#### Why do we need this?

Device claiming frontend requires an image to be uploaded after claiming.

#### What is already there? What do you see now?

Nothing

#### Can you do this yourself and submit a Pull Request?

no

[2019-10-23 14:10] #1493 closed

[2019-10-24 11:24] johanstokking opened #1509 "Saving devices on NS/AS when they don't exist there fails"
#### Summary

Saving devices on NS/AS when they don't exist there fails

#### Steps to Reproduce

1. Create device only in IS and JS: `$ ttn-lw-cli dev create test-issue test-dev --network-server-enabled=false --application-server-enabled=false --with-root-keys --join-eui 0102030405060708 --dev-eui 0102030405060708`
2. Open this device in Console with all components enabled
3. Go to General Settin

[2019-10-24 15:57] bafonins commented on #1509
So shall we check if `join_server_address` is present instead of relying on `supports_join` to check if a device is ABP?

[2019-10-24 20:20] #1250 closed

[2019-10-25 14:08] emilppeter opened #1514 "Getting error when executing instructions to run things stack on ubuntu"
Hi,
I was actually following the getting started instructions to run things stack on ubuntu 18.04 . When I tried executing the following instruction:
docker-compose run --rm stack is-db create-admin-user \
  --id admin \
  --email your@email.com
I got the following error:
error:cmd/ttn-lw-stack/commands:missing_flag (missing CLI flag `email`)
    flag=email
Any help would be appreciated.
Thanks in

[2019-10-25 17:00] rvolosatovs commented on #1514
It sounds like you forgot the `\` at the end of the line.
The command should look like this:
[code]

Alternatively you can just put everything on one line and that should work fine:
[code]

Please let me know if this helps!

[2019-10-25 17:09] emilppeter commented on #1514
Thanks @rvolosatovs ! It worked for me.

[2019-10-25 17:09] #1514 closed

[2019-10-28 10:41] #1494 closed

[2019-10-28 10:45] #935 closed

[2019-10-28 11:03] htdvisser commented on #761
@KrishnaIyer please delete the branch when you've incorporated my changes.

[2019-10-28 11:06] htdvisser commented on #1349
We may need to reconsider the value of `test.Delay`... again... 🤦‍♂

Or add `runtime.Gosched()` everywhere

[2019-10-28 11:14] #1496 closed

[2019-10-28 11:28] #1464 closed

[2019-10-30 13:19] johanstokking opened #1521 "Editing unexposed root keys"
#### Summary

Support editing the device on a Join Server while not exposing root keys.

#### Why do we need this?

To avoid having root keys generated while the root keys are actually not exposed by the Join Server.

#### What is already there? What do you see now?

When editing a device with its root keys not exposed (i.e. `root_keys != nil`, but `root_keys.nwk_key == nil` or `root_keys.app_key

[2019-10-30 13:19] johanstokking commented on #1521
Refs #1473

[2019-10-30 13:19] johanstokking commented on #1521
See also detecting whether keys are exposed or not in https://github.com/TheThingsNetwork/lorawan-stack/pull/1475

[2019-10-30 22:57] rvolosatovs opened #1523 "Allow multiple uplinks to be sent to AS in a link"
#### Summary

Allow multiple uplinks to be sent to AS in a link.

#### Why do we need this?

In many cases NS has multiple uplinks to send to AS, so it makes more sense to send a whole list of uplinks to AS and wait for them to be processed instead of sending them one by one and waiting after each one.
An example where this is important is, for example downlink queue invalidation(in LW<1.1):
1. As

[2019-10-31 09:54] #1509 closed

[2019-10-31 09:59] kschiffer opened #1526 "Device creation rollback logic can lead to deletion of existing device with same ID"
#### Summary
When trying to create a device with an ID that already exists, the device creation will (rightfully) fail, but also delete the existing one during the automatically performed rollback.

#### Steps to Reproduce
1. Create a device
2. Try creating another device with the same id
3. See the "ID already taken" error
4. Notice rollback deletion requests being made on the existing device

##

[2019-10-31 10:04] #1319 closed

[2019-10-31 13:31] htdvisser opened #1530 "NS and AS Device Registries do not check for _KEYS rights"
#### Summary

The device registry gRPC services in the Network Server and Application Server do not check for the `RIGHT_APPLICATION_DEVICES_READ_KEYS` and `RIGHT_APPLICATION_DEVICES_WRITE_KEYS` rights.

#### What do you see now?

Only the Join Server checks: https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/joinserver/grpc_deviceregistry.go#L55-L56

#### What do you want to see in

[2019-10-31 13:43] #1458 closed

[2019-10-31 14:56] johanstokking commented on #1523
@adriansmares what do you think?

[2019-10-31 15:12] kschiffer commented on #1471
Closed via #1518

[2019-10-31 17:29] #1441 closed

[2019-11-01 07:56] htdvisser opened #1534 "Embed documentation in releases"
#### Summary

We want to have embedded documentation in release builds.

#### Why do we need this?

This will make sure that the documentation for a release is always together with that release, which means that the console can start linking to documentation that is actually in sync.

#### What is already there? What do you see now?

Documentation published on thethingsstack.io

#### What is missi

[2019-11-01 11:19] #1526 closed

[2019-11-01 12:46] kschiffer commented on #1521
Would the following work:

- We add a generator button to the root key inputs
- We make the root key inputs required (if not external join server)
- In the update form, when root keys are not exposed:
  - root key inputs will be disabled
  - No root key will be generated automatically
  - No root key info will be sent to the registry
- Otherwise:
  - root keys can be changed (via the generator but

[2019-11-01 12:58] johanstokking commented on #1521
Sounds good to me!

Just out of curiosity; the create vs update behavior you describe is not related, right? The former improves the UX, the latter fixes this issue, right?

[2019-11-01 13:40] emilppeter opened #1538 "Unable to login using ttn-lw-cli login command"
Hi ,
I am trying to start up things network stack using the github repository on my ubuntu environment following the instructions on this link https://github.com/TheThingsNetwork/lorawan-stack/blob/master/DEVELOPMENT.md. So after building ttn-lw-cli, when I try to do a “go run ./cmd/ttn-lw-cli login” I get the following error:
ERROR Please login with the login command
INFO Opening your browser on

[2019-11-04 08:56] johanstokking commented on #1534
Closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/1537

Linking from Console is out of scope here

[2019-11-04 08:56] #1534 closed

[2019-11-04 09:18] #1521 closed

[2019-11-04 10:02] #1369 closed

[2019-11-04 11:02] bafonins opened #1541 "Allow creating entities with organization as initial owner"
#### Summary

We should add functionality to create applications and gateways with an organization as the initial owner.

#### Why do we need this?

Match functionality provided by the cli.

#### What is already there? What do you see now?

1. `Create` functions in `ApplicationRegistry` and `GatewayRegistry`.
2. application and gateway forms to create entities
3. `create` methods in applications a

[2019-11-04 11:26] rvolosatovs commented on #1538
Have you successfully built the frontend before trying to login?

[2019-11-04 21:11] #560 closed

[2019-11-05 01:37] emilppeter commented on #1538
Thanks for replying. Yes I have successfully rebuilt the frontend.

[2019-11-05 05:26] #1541 closed

[2019-11-05 07:53] johanstokking commented on #1538
Does it work now?

The order is `mage js:build`, then `go run ./cmd/ttn-lw-stack start`, then `go run ./cmd/ttn-lw-cli login` in a different terminal.

[2019-11-05 14:02] kschiffer opened #1548 "Remove owner field from gateway edit form"
#### Summary
The edit forms of gateways now also have the "Owner" field, which needs to be removed as the ownership cannot be altered. Also, it is not possible to set the correct initial value, which is why we also should not display it in disabled state in the update form.

#### Steps to Reproduce
1. Go to the application general settings
2. See the Owner field (required field)
3. Try submitting

[2019-11-05 15:57] #1548 closed

[2019-11-05 20:54] rvolosatovs opened #1552 "Compute nsScheduleWindow at runtime"
#### Summary

`nsScheduleWindow` can be computed at runtime

#### Why do we need this?

To allow more time for AS to update the queue on uplinks, for example, and generally improve performance and throughput.

#### What is already there? What do you see now?

`nsScheduleWindow` hard-coded to a particular value(since #1551 it will be equal to 100ms)

#### What is missing? What do you want to see?

[2019-11-06 11:13] johanstokking opened #1553 "Load trusted sender ID CAs from blob"
#### Summary

Load trusted sender ID CAs from blob

#### Why do we need this?

To manage configuration on the server side also via blobs, just like clients.

#### What is already there? What do you see now?

Currently, we have sender client CA config via;

https://github.com/TheThingsNetwork/lorawan-stack/blob/cf3c5115718f3df88a66f431171bd406bd6e94b0/pkg/config/shared.go#L112

#### What is missing

[2019-11-06 16:35] kschiffer opened #1559 "Introduce coding style guide for JavaScript code"
#### Summary
Our frontend code needs a properly documented coding style guide, which we can successively extend as we go. Once we have a starting point for that style guide, we should make sure to make the current code adhere to it.

#### Why do we need this ?
Rising inconsistencies in the frontend code.

#### What is already there? What do you see now?
Eslint and JsPrettier rules.

#### What is m

[2019-11-06 16:40] kschiffer opened #1560 "Show Key ID values with safe inspector in API key tables"
#### Summary
The key id cell in our api key tables should be shown in a `<SafeInspector />`

#### Why do we need this?
Better display quality, easy copy, etc.

#### What is already there? What do you see now?
Rendering of Key IDs as plain text.

#### What is missing? What do you want to see?
Wrapping of the value around the safe inspector.

#### Environment
Console.

#### How do you propose to imp

[2019-11-06 16:49] kschiffer opened #1561 "Detach footer from bottom of viewport"
#### Summary
The footer should be detached from the bottom of the viewport as it is an unnecessary consumption of horizontal screen space.

#### Why do we need this?
Extend usable screen space.

#### What is already there? What do you see now?
The footer component rendering attached to the bottom of the viewport.

#### What is missing? What do you want to see?
The footer rendering as a regular ele

[2019-11-06 16:56] kschiffer opened #1562 "Add tooltips to status component"
#### Summary
Our status component should show tooltips on hover.

#### Why do we need this?
We sometimes use the status dot without label. To improve the accessibility, we should make sure to provide a `title` prop with the written title of the status.

#### What is already there? What do you see now?
Status component.

#### What is missing? What do you want to see?
Title prop set for status compo

[2019-11-06 17:01] kschiffer opened #1563 "Add "(This is you)" hint to user entries in collaborator tables"
#### Summary
Tables that show user entries should append a `(This is you)` message next to the user id, to improve clarity.

#### Why do we need this?
Improve clarity for the user.

#### What is already there? What do you see now?
Plain display of the user id.

#### What is missing? What do you want to see?
A hint that an entry refers to the current user.

#### Environment
Browser.

#### How do yo

[2019-11-06 17:11] kschiffer opened #1564 "Combine multiple fetching processes during initial site setup into one"
#### Summary
Consecutive fetching processes in the console during initial load should be combined in a way that the user only sees one spinner for the entire loading sequence.

#### Why do we need this?
The experience on page load is currently quite disruptive. One can see multiple loading spinners appearing and disappearing until all page parts have been loaded. It would be better to display a si

[2019-11-06 17:17] kschiffer opened #1565 "Set location settings via map"
#### Summary
Location settings for devices and gateway antennas should be possible to be done via setting markers on the map.

#### Why do we need this?
Improved UX; the current approach via forms is not very pleasant.

#### What is already there? What do you see now?
Setting location settings via the location form.

#### What is missing? What do you want to see?
A way to set locations via the map

[2019-11-06 17:18] kschiffer commented on #1565
Duplicate of #1380

[2019-11-06 17:18] #1565 closed

[2019-11-06 17:23] kschiffer opened #1566 "Add info notification to the application payload formatters"
#### Summary
The views for application payload formatters should have an info notification telling the user about the implications of setting application level payload formatters.

#### Why do we need this?
Improve clarity.

#### What is already there? What do you see now?
Application level payload formatter views.

#### What is missing? What do you want to see?
A notification at the top telling t

[2019-11-06 17:44] #1111 closed

[2019-11-06 18:38] emilppeter commented on #1538
Thanks @johanstokking . It worked!!

[2019-11-06 20:14] emilppeter commented on #1538
I am sorry. After logging in and proceeding further, when I try to execute the following command as described in getting started document: go run ./cmd/ttn-lw-cli gateways list-frequency-plans,I get the following error:
WARN grpc: addrConn.createTransport failed to connect to {localhost:8884 0  <nil>}. Err :connection error: desc = "transport: authentication handshake failed: x509: certificate sig

[2019-11-07 08:14] bafonins commented on #1564
What pages in the console suffer from this?

[2019-11-07 08:27] kschiffer commented on #1564
About any page, but most noticeable on device subpages, e.g. device overview.
On that page, you can see three separate loading spinners appearing consecutively.

[2019-11-07 08:34] #1200 closed

[2019-11-07 08:41] kschiffer opened #1567 "Add more fine-grained feature toggles e.g. for JS only deployments"
#### Summary
We need more fine-grained feature toggles for JS only deployments to ensure proper UX for the console on such deployments.

#### Why do we need this?
On JS only deployments, there will be a lot of functionalities not working in the console, so these should be properly hidden or disabled.

#### What is already there? What do you see now?
Feature toggles via #1543

#### What is missing?

[2019-11-07 09:44] htdvisser commented on #1566
Let's add information messages to both places. In Application scope you can say that the payload formatters are executed on all devices in the application, unless the user overrides them for specific devices. In Device scope you can say that the payload formatters override the application payload formatters, if set.

[2019-11-07 10:50] htdvisser commented on #1560
API key IDs are not secret

[2019-11-07 16:38] #1263 closed

[2019-11-08 08:38] kschiffer commented on #1560
Right, we want to show them in the safe inspector unhidden.

[2019-11-08 09:18] #1561 closed

[2019-11-08 10:56] #1553 closed

[2019-11-08 17:22] kschiffer commented on #770
![image](https://user-images.githubusercontent.com/5710611/68497283-7e700380-0254-11ea-8c01-0907a8e4e909.png)
New screen design for entity title sections, can easily be adapted for gateways and organizations. End devices are a special case, since it uses the tabbed view, though it could then use the same typography.

[2019-11-11 09:54] htdvisser opened #1574 "Validation errors on copy-pasted location values"
#### Summary

When I copy-paste a location value into the Latitude/Longitude of the gateway location, the console gives me (client side) validation errors.

#### Steps to Reproduce

1. Go to your gateway
2. Go to **Location**
3. Copy latitude `52.39528339` and longitude `4.87489745`
4. **Save Changes**

#### What do you see now?

<img width="693" alt="Screenshot 2019-11-11 at 10 50 17" src="https:

[2019-11-11 10:00] htdvisser opened #1575 "Missing field mask when setting gateway location"
#### Summary

After manually typing in the latitude and longitude of #1574, when I save the changes, I get a backend validation error.

Also reported on Slack: https://thethingsnetwork.slack.com/archives/CFVF7R4AH/p1573318652041300

#### Steps to Reproduce

1. Follow steps of #1574
2. Edit fields manually
3. **Save Changes**

#### What do you see now?

<img width="698" alt="Screenshot 2019-11-11 a

[2019-11-11 11:56] bafonins commented on #1506
@htdvisser Could you provide more specific requirements about this feature?

[2019-11-11 13:42] #1445 closed

[2019-11-11 15:01] alexbn71 opened #1577 "Error creating a multicast group"
#### Summary
Can't create a multicat group using CLI with the command suggested on the online guide.

#### Steps to Reproduce
The command is:
$ ttn-lw-cli end-devices create app1 mc1 \
  --frequency-plan-id EU_863_870 \
  --lorawan-version 1.0.3 \
  --lorawan-phy-version 1.0.3-b \
  --session.dev-addr 00E4304D \
  --session.keys.app-s-key.key A0CAD5A30036DBE03096EB67CA975BAA \
  --session.keys.nwk

[2019-11-11 15:28] bafonins commented on #1506
@mjamescompton is there any reason you need a separate endpoint for this? can we just extend the update rpc for end devices to include the device picture?

[2019-11-11 15:38] htdvisser commented on #1506
Let's not add a separate RPC for this. Better to do it the same way as we do with user profile pictures.

[2019-11-11 16:35] htdvisser commented on #1577
So we have multiple things here:

1. There is no `1.0.3-b` PHY, so https://github.com/TheThingsNetwork/lorawan-stack/blob/master/doc/content/guides/class-c-multicast/_index.md needs to be fixed (2 occurrences)
2. The CLI should try not to complain about `nwk-s-key` vs `f-nwk-s-int-key` if we know that the user is working with a pre-1.1 end device
3. The commands in https://github.com/TheThingsNetw

[2019-11-11 20:22] alexbn71 commented on #1577
Unfortunately nothing to do...

ttn-lw-cli end-devices create app1 mc1 \
  --frequency-plan-id EU_863_870 \
  --lorawan-version 1.0.2 \
  --lorawan-phy-version 1.0.2-b \
  --session.dev-addr 00E4304D \
  --session.keys.app-s-key.key A0CAD5A30036DBE03096EB67CA975BAA \
  --session.keys.nwk-s-key.key B7F3E161BC9D4388E6C788A0C547F255 \
  --multicast \
  --supports-class-c

returned the same error:
ERR

[2019-11-12 09:28] htdvisser commented on #783
- [ ] Components / Network Server (@roman)
- [ ] Components / Application Server (@johan)
- [ ] Components / Join Server (@roman)
- [ ] Components / Console (@kschiffer) also need to fix the screenshot
- [ ] Components / Crypto Server (@johan)
- [ ] Components / Device Claiming Server (@johan)
- [ ] Components / Gateway Configuration Server (@KrishnaIyer)
- [ ] Reference / API (@htdvisser)
- [ ] R

[2019-11-12 10:04] johanstokking commented on #1407
@kschiffer see https://github.com/TheThingsNetwork/lorawan-stack/blob/master/api/qrcodegenerator.proto

[2019-11-12 10:08] johanstokking commented on #1405
@kschiffer @pgalic96 please coordinate who can pick this up

[2019-11-12 10:21] htdvisser commented on #1382
Let's wait for https://github.com/golang/protobuf APIv2, and then build it into a forked jsonpb

[2019-11-12 10:29] johanstokking commented on #1241
I have to see the real world deployment where the gateway antennas as so far out that we need to show them as different markers.

[2019-11-12 10:33] kschiffer commented on #1405
I'd like to do it. If it's not urgent, I would do it after my November issues.

[2019-11-12 10:33] johanstokking commented on #1086
How far are we with this?

[2019-11-12 10:37] johanstokking commented on #997
We don't consider this a problem

[2019-11-12 10:37] #997 closed

[2019-11-12 10:41] kschiffer commented on #1086
We're currently doing this "as we go" and we already refactored quite some of the components, but still a lot to go. It would be good to do try refactoring the rest at once, though it would be quite some refactoring work.

@pgalic96 are you up to picking this up? You can check with `node_modules/.bin/eslint ./pkg/webui/**/*.js`.

[2019-11-12 11:01] johanstokking commented on #19
@rvolosatovs can you make a plan for this?

[2019-11-12 15:57] rvolosatovs commented on #1577
@alexbn71 if you're able to run the stack from a specific commit, you can try https://github.com/rvolosatovs/lorawan-stack/commit/c75bdce17bef1616d56a908a9d238f1bea26cd2f - I rebased #1583 on top of `v3.2.4`(latest release) in that commit. If you do that, would be great if you could confirm that fixes your issue.
Otherwise you can wait until #1583 lands in a new release.

[2019-11-13 00:18] rvolosatovs commented on #19
Couple of things are required:
a. Possibly add fields to MAC state, which NS would use for timing
b. Possibly implement `BeaconTiming` MAC (deprecated in 1.0.3+)
c. Utilize the class B slot in `processDownlinkTask`
d. Account for class B slot in e.g. `nextDataDownlinkAt` (and so properly time downlink tasks)

Is time synchronized between gateways connected to the stack? Does GS have any control ov

[2019-11-13 07:40] johanstokking commented on #19
Class B was experimental in LoRaWAN <= 1.0.2. I think we should;
- implement it for 1.0.3 and 1.0.4
- see if 1.1 is like 1.0.3 or 1.0.4, and if not, reconsider if we should support Class B in 1.1
- implement it for 1.1.1 (when it comes out)

Gateways they are assumed to have absolute time synchronization via GPS. You can use `absolute_time` in `TxRequest` and GS will figure it out. Note that the c

[2019-11-13 09:23] rvolosatovs commented on #19
So gateways autonomously send the beacon then, we assume that all beaconing gateways are in sync and so NS just uses the absolute time

[2019-11-13 09:36] johanstokking commented on #19
Yes

[2019-11-13 10:47] johanstokking commented on #579
As discussed offline, here's the initial proposal;

### Create device

1. General settings
   - Fields
      - `ids`
      - Optional `description`
      - Optional `attributes`
      - Required activation mode: OTAA, ABP or Multicast
      - If NS in cluster
         - `lorawan_version`
         - `lorawan_phy_version`
   - This step creates the device only in IS. That way, we know that the ident

[2019-11-13 11:07] rvolosatovs commented on #579
I think https://github.com/TheThingsNetwork/lorawan-stack/issues/579#issuecomment-525719408 already contains everything necessary for NS. I think all `mac_settings` should be available to be set for all non-multicast devices.
For multicast devices only the following make sense:
- "mac_settings.factory_preset_frequencies"
- "mac_settings.ping_slot_data_rate_index.value"
- "mac_settings.ping_slot_fr

[2019-11-13 11:08] #1577 closed

[2019-11-13 11:15] htdvisser commented on #579
Maybe some things to clarify

Create:

1. General Settings
	a. When we create the device in the ER, we don't set the NS/AS/JS addresses. Do we update the ER registration when the device is set in those? What if we're using an external JS?
	b. Do we store the activation mode in the ER?
	c. Do we store the phy/mac versions in the ER?
2. LoRaWAN settings
	a. How about `supports_class_b`?
3. Applicati

[2019-11-13 11:24] rvolosatovs commented on #579
If we're talking about top-level fields:
https://github.com/TheThingsNetwork/lorawan-stack/blob/375c82cc068bbadb72b887e25631f8f2dc03a366/api/end_device.proto#L395-L418 this whole chunk belongs in NS(but not all of these are required)

[2019-11-13 11:47] johanstokking commented on #579
One of the problems with this issue is the amount of information buried in comments.

Can you please add _exactly_ the fields in the right places? I'm fine if you copy my whole list of bullet points so we incrementally work on that until we have a final version.

I think we should update the addresses when we set the devices in AS/NS/JS.

No, we don't have a field for that at the moment, we don't

[2019-11-13 11:55] rvolosatovs commented on #579
@bafonins do you still have the source for the graph?
Since a lot of work went into constructing that already, I think we should just update that to make it complete to have a clear representation?
We can also work on updating the NS part offline to not clutter the discussion here.

[2019-11-13 13:07] rvolosatovs commented on #579
[bogdan-graph.pdf](https://github.com/TheThingsNetwork/lorawan-stack/files/3841217/bogdan-graph.pdf)
I updated the graph with all possible NS fields
The fields in red are mandatory

[2019-11-13 16:24] kschiffer opened #1586 "Storing access tokens in localStorage can lead to them being accessed by other clients on the same domain"
#### Summary
We currently store our access token using `window.localStorage`, which provides a storage interface that works across browser sessions. However, if we have another client running from the same domain (but under a different subroute) which uses the same logic, it will also be able to retrieve the access token from the `localStorage`, although it should be scoped to the base route of th

[2019-11-13 17:37] #1562 closed

[2019-11-13 18:12] rvolosatovs commented on #19
I think I should be able to get a working prototype in a week or so.
Do we have a class B device available for testing?

[2019-11-13 20:43] pffreitas commented on #19
This would be great!  👍

[2019-11-13 20:45] carlosgarbiatti commented on #19
+1

[2019-11-13 21:35] kanocarra commented on #19
Would be extremely useful please

[2019-11-14 05:36] johanstokking commented on #579
@rvolosatovs we're aiming to define the flow and fields that we're presenting in the Console when creating and updating devices.

As such,

- We should not be allowing changing `mac_state.lorawan_version`
- We can do `mac_state.ping_slot_periodicity` through CLI for now
- Please think about how the user is going to set `supports_class_b`, `supports_class_c` and `mac_state.device_class`; which is p

[2019-11-14 06:51] htdvisser commented on #1567
With the latest additions in https://github.com/TheThingsNetwork/lorawan-stack/issues/579 I think this issue is now also covered.

[2019-11-14 12:09] rvolosatovs commented on #579
I answered this question - i.e. I presented all fields, that *can* be set and *should* be set on NS. Or at least that's how I understood your question.

Regarding what should be in the console, everything `mac_state` should probably only be settable through CLI, however we may require that for ABP/multicast devices and/or OTAA devices, which are being registered with an existing session, and, henc

[2019-11-14 12:22] rvolosatovs commented on #579
We do need to be able to set downlink frame counters for ABP and multicast - otherwise NS cannot send downlinks
For uplink frame counters are also very useful from security standpoint for ABP

[2019-11-14 12:52] kschiffer commented on #579
Let's use the accordion approach here, as presented in the first comment from @bafonins:
![image](https://user-images.githubusercontent.com/5710611/68858685-dd66ca00-06e5-11ea-88dd-b749615eadf1.png)

It will give us fewer issues with horizontal space, and allows to distinguish modes with `Edit` / `Create` buttons.

[2019-11-14 14:00] KrishnaIyer commented on #761
I've updated the description with the TODO. I've created a feature branch `feature/multi-fplan-gateway` where we can target the individual PRs from the items.

[2019-11-14 15:07] #1290 closed

[2019-11-14 16:56] pgalic96 commented on #1086
Yep, I can start revisiting all components

[2019-11-15 06:25] johanstokking commented on #579
OK, if this is simple, let's include that. Otherwise this is something for a later iteration.

[2019-11-15 09:34] #1530 closed

[2019-11-15 12:10] htdvisser opened #1596 "File Descriptor Leak"
#### Summary

There seems to be a file descriptor leak somewhere.

#### Steps to Reproduce

1. Just let ttn-lw-stack run for a while

#### What do you see now?

<img width="660" alt="Screenshot 2019-11-15 at 12 24 35" src="https://user-images.githubusercontent.com/181308/68942574-35b2d000-07a9-11ea-8e4e-0408d0945e50.png">

#### Environment

ttn-lw-stack v3.2.4

#### How do you propose to implement

[2019-11-15 13:04] pgalic96 opened #1597 "Display simple checkmark when clicking copy button in SafeInspector"
#### Summary

SafeInspector has an option to copy its content on button click. Right now there is a popup notification displayed when the action is executed, but in some cases it would be preferable to just temporarily display a checkmark instead.

#### Why do we need this?

We need this because the popup notification sometimes clashes with other components and causes issues, or it doesn't display

[2019-11-15 13:56] rvolosatovs opened #1598 "AS links capped at 10 per CPU"
#### Summary

#1524 introduced blocking `XREADGROUP` per each AS-NS link, but did not account for the fact that default limit of connections in Redis library we're using is capped at `10*runtime.NumCPU()`

#### Steps to Reproduce

1. Start stack
2. Link more than `10*runtime.NumCPU()` applications and not generate any uplinks

#### What do you see now?

`redis: connection pool timeout`

#### What

[2019-11-15 14:43] alexbn71 opened #1601 "Unable to update multicast device in console"
#### Summary
I have the stack on a public domain (not in localhost) but navigating the TTN Console there are some javascript errors visible in Developer Console of Chrome. The most common is: **http://localhost:1885/api/v3/edtc/formats net::ERR_CONNECTION_REFUSED** .... why localhost?

Another error in dev console is: **https://mydomain.com/api/v3/js/applications/app-lora-prodigy/devices/app-lora-

[2019-11-15 16:23] #1597 closed

[2019-11-17 14:02] alexbn71 opened #1602 "Downlink issues for Class C/Multicast groups"
#### Summary
Downlink submission for Class C/Multicast group devices it doesn't work even that the "absolute_time" attribute is abundantly in the future.

#### Steps to Reproduce
1. Create a multicast device using the example visible here: https://thethingsstack.io/v3.2.4/guides/class-c-multicast/ Don't forget to add the flag "--supports-class-c" in create command.
2. Submit a downlink using the e

[2019-11-17 14:20] #1602 closed

[2019-11-18 09:59] #770 closed

[2019-11-18 11:29] adriansmares opened #1603 "PubSub downlink queue operations settings"
#### Summary

Support setting the downlink queue operations (push/replace) topic settings.

#### Why do we need this?

In order to allow PubSub integrations to be fully configurable through the Console.

#### What is already there? What do you see now?

Message types for Uplink, JoinAccept, DownlinkAck etc.The available messages are the same as the ones in Webhooks, but for PubSub users can also c

[2019-11-18 13:22] #1598 closed

[2019-11-18 14:09] rvolosatovs commented on #1439
This is not what should happen IMO
`ApplicationUp.ReceivedAt` is the timestamp when application uplink is received by AS. Note, that `ApplicationUp` may be triggered by NS downlink as well, for example, in which case there's no `received_at` at the first place.
What should happen instead, if we need to know the time when uplink(i.e. data uplink or join-request) was received by the stack, we should

[2019-11-18 14:16] rvolosatovs commented on #1439
I suggest the following approach: https://github.com/TheThingsNetwork/lorawan-stack/compare/3d04ed8ec6e25bbb4c4b5a0f9385f7eb7e3967c6...rvolosatovs:feature/application-up-recv-at

[2019-11-18 19:18] alexbn71 commented on #1601
![image](https://user-images.githubusercontent.com/20998190/69082387-44ff7b00-0a40-11ea-8253-baef1daf9cc1.png)

here are visible the resources that are strangely retrieved by "localhost"

[2019-11-19 09:07] kschiffer commented on #1601
Hey alexbn71,
you forgot to add the console configs for the new Device Claiming Server (DCS) and QR Code Generator (QRG). They need to be set up like the other component servers., eg. via config flags:
`--console.ui.edtc.base-url=https://mydomain.com/api/v3` and `--console.ui.qrg.base-url=https://mydomain.com/api/v3`

Concerning the 404: the console will sometimes have to make calls to the device

[2019-11-19 09:41] alexbn71 commented on #1601
Thanks, addding those configurations has resolved the localhost issues.

About 404... if I understand correctly you mean that a multicast device does not have an entry in the JS so it's normal that the resource is unavailable, right?

I confirm that the multicast issue is still there and was unrelated with the above issues.

[2019-11-19 09:56] kschiffer commented on #1601
Yes. The SDK (which the console uses to make the API calls) is not yet optimized for multicast in the sense that it would avoid JS calls in these cases. I will work on optimizing that soon.

[2019-11-20 14:47] #1560 closed

[2019-11-20 16:15] htdvisser opened #1614 "Disabled APIs displayed incorrectly"
#### Summary

The console displays disabled servers incorrectly

#### Steps to Reproduce

1. Open any console on a JS-only deployment

#### What do you see now?

<img width="692" alt="Screenshot 2019-11-20 at 17 04 42" src="https://user-images.githubusercontent.com/181308/69255526-405dd280-0bb8-11ea-9f64-a6d123471ed7.png">

#### What do you want to see instead?

- Color of disabled servers shouldn

[2019-11-20 16:20] #847 closed

[2019-11-21 11:48] #1439 closed

[2019-11-21 12:43] wienke opened #1617 "Guide for device maker to pre-provision devices to their join server or global join server"
#### Summary
Guide for device maker to pre-provision devices to their join server or global join server

#### Why do we need this ?
Supporting device makers in the ease of use and the openness of The Things Network global join server.

#### What is already there? What do you see now?
Don't know

[2019-11-21 12:50] htdvisser commented on #1617
Good one. Things to cover here would be:

For the CLI:

- How to configure the CLI to only enable IS and JS
- What fields are necessary (including claim authentication code)
- How to generate a QR code for the device
- Maybe how this works in combination with end device templates?

For the Console:

- How to work with bulk import
- What fields are necessary (including claim authentication code)
-

[2019-11-21 13:59] htdvisser commented on #1617
@adriansmares please see what's already there and what we still need.

[2019-11-21 15:17] htdvisser opened #1622 "Make console more personal"
#### Summary

It would be really nice to make the console more personal for the user.

#### Why do we need this?

Because it's nice

#### What is already there? What do you see now?

Looks like you already make a request to `/api/v3/users/<user-id>`

#### What is missing? What do you want to see?

I'd like to see the current user's real name and profile picture.

#### Environment

v3.2.6

#### How

[2019-11-21 15:25] kschiffer commented on #1574
I'm having trouble reproducing. Which browser are you using?

@pgalic96 this is likely fixed by changing the input type from `number` to `text`. But it might need a different validation schema then.

[2019-11-21 15:33] kschiffer opened #1623 "Clear timer of safe inspector copy icon sequence when unmounting"
#### Summary
When copying a value from the `<SafeInspector />`, the state update may get called even when the component has already unmounted, resulting in an error.

#### Steps to Reproduce
1. Go to API key table
2. Click the copy button
3. Immediately after, enter the API key view
4. See an error being logged for a state update of unmounted component

#### What do you see now?
Error logged

####

[2019-11-21 16:15] htdvisser commented on #1574
This was on Firefox 70 I think, updated issue.

[2019-11-21 18:01] rvolosatovs opened #1626 "Support selecting gateways in CLI downlink push"
#### Summary

CLI does not support selecting gateways on `end-devices downlink push`.
cc @elsalahy

#### Steps to Reproduce

1. `cli device downlink push --help`

#### What do you see now?

[code]

#### What do you want to see instead?

[code]
See  https://github.com/TheThingsNetwork/lorawan-stack/blob/3a9223709571fad0cf6ef7bec1ebda06f75f5f9c/api/messages.proto#L204-L215

The flag has to map to ht

[2019-11-21 18:25] htdvisser commented on #1626
Definitely not going to have time for this in November.

[2019-11-22 09:03] rvolosatovs commented on #1626
This is quite important for @elsalahy and me for testing, setting priority

[2019-11-22 10:13] htdvisser commented on #1626
Ok then it's better if you do it yourself.

[2019-11-22 13:12] htdvisser opened #1629 "Add support for loading and rendering MessageDescriptors"
#### Summary

The `i18n` package should get support for loading and formatting MessageDescriptors.

#### Why do we need this?

So that it's not just one way.

#### What is already there? What do you see now?

We currently have `i18n.Define` that defines a translatable message (as a `MessageDescriptor` and we can read/write `messages.json`.

#### What is missing? What do you want to see?

- We don'

[2019-11-22 13:15] rvolosatovs commented on #579
@johanstokking

All MAC settings are optional by design.
The only case where these are "required" are class B multicast devices, that is due to the class B operation specifics.
Apart from that, `factory_preset_frequencies` is likely to be required for ABP for best results, but nothing prevents OTAA device to have that set.

[2019-11-22 13:54] rvolosatovs commented on #1626
How about `--class-b-c.gateways my-gateway:1,my-other-gateway` format?
So per gateway-antenna pair: `<gtw-id>[:index]`,
`gtw-id` is mandatory. `index` is optional.
Several pairs are separated by a `,`

[2019-11-22 14:30] rvolosatovs opened #1631 "Add Kerlink Wirnet connection guide"
#### Summary

Document connecting Kerlink Wirnet

#### Why do we need this?

To get people to use our network

#### What is already there? What do you see now?

Nothing

#### What is missing? What do you want to see?

A clear guide on how to connect Kerlink Wirnet to a specific v3 stack instance

#### How do you propose to implement this?

- Create a script, which would generate DOTA configured to

[2019-11-22 14:31] rvolosatovs commented on #1631
Blocked by https://github.com/TheThingsNetwork/lorawan-stack/pull/1619

Let's use the format there as an example

[2019-11-22 14:32] rvolosatovs commented on #1631
cc @johanstokking

[2019-11-22 14:51] htdvisser opened #1632 "Support AWS SES as email backend"
#### Summary

It would be nice if we could support AWS SES as an email backend.

#### Why do we need this?

It's good to have alternatives to Sendgrid

#### What is already there? What do you see now?

Sendgrid and SMTP support

#### What is missing? What do you want to see?

AWS SES and maybe others, but that's out of scope for this issue.

#### How do you propose to implement this?

https://docs

[2019-11-22 15:10] #1575 closed

[2019-11-22 15:26] kschiffer commented on #1601
@alexbn71
We're currently working on rebuilding the device creation and update UI in the console. This will also include proper handling of multicast devices. It will likely take a little more time to implement, but I wouldn't want to touch our current logic when it will be refactored anyway. As such, I will close this issue for now. You can track our progress of this here #579

Thanks for reporti

[2019-11-22 15:26] #1601 closed

[2019-11-22 15:35] #1623 closed

[2019-11-22 16:01] htdvisser commented on #1631
@rvolosatovs you're now maintainer on https://github.com/TheThingsNetwork/kerlink-station-firmware

I don't think we should provide Kerlink firmware or packages like the Kerlink Packet Forwarder or Semtech Packet Forwarder, but we can definitely improve the repo.

[2019-11-22 16:02] htdvisser commented on #1631
Assigning @johanstokking and myself for the discussion

[2019-11-22 16:04] htdvisser commented on #1626
We can already start with only supporting `gtw-id`, and then later extend it to also support antenna index.

[2019-11-22 16:11] rvolosatovs commented on #1626
Sure, but this way we may run into issues later once we decide to support the index as well. Approach described in https://github.com/TheThingsNetwork/lorawan-stack/issues/1626#issuecomment-557540425 would work, but if there's a better option, which may be incompatible with string slice later on, I think we should go for that.
Do you have any suggestions?

[2019-11-22 16:14] rvolosatovs commented on #1631
Why not? We already do that in https://github.com/TheThingsNetwork/kerlink-station-firmware, right?
All I propose is to update the versions and do it in a more systematic way.

[2019-11-22 22:52] neoaggelos opened #1635 "Add support for Redis Sentinel"
#### Summary

Allow The Things Stack to use Redis Sentinel as database.

#### Why do we need this?

Redis Sentinel provides high availability for Redis. The Things Stack greatly benefits from this, as it uses Redis as database for most of its storage needs.

#### What is already there? What do you see now?

The Things Stack can only connect to a single Redis instance.

#### What is missing? What d

[2019-11-22 23:56] johanstokking commented on #300
Pushing to Next Up to comply with US915 Hybrid Mode, refs https://github.com/TheThingsNetwork/lorawan-frequency-plans/issues/9

[2019-11-23 01:04] johanstokking opened #1637 "DevStatusReq is sent too often"
#### Summary

NS sends `DevStatusReq` too often, draining gateway downlink capacity.

cc @ama9910

#### Steps to Reproduce

1. Activate device
2. Observe gateway downlink traffic over time

#### What do you see now?

`DevStatusReq` every 20 frames or every hour

Introduced here: https://github.com/TheThingsNetwork/lorawan-stack/commit/d3e6c340fdcb679b94ba60ac85f76b77978237a5#diff-fa23c3c73eb9a1b75

[2019-11-23 01:05] johanstokking commented on #1538
@emilppeter this is a separate issue. Please open a new issue.

To fix this, please set `TTN_LW_CA=cert.pem` in env or pass `--ca cert.pem` (or at least what you have configured as self-signed cert)

[2019-11-23 01:05] #1538 closed

[2019-11-23 02:52] johanstokking commented on #579
OK

It's ineffective for OTAA; the default join frequencies are required by spec, and the channels come in via join-accept and MAC commands. There should not be out-of-band configuration of preset frequencies for OTAA devices.

[2019-11-23 02:54] johanstokking commented on #1631
I think we should have sane defaults, including binaries, and a script to build them and set host names. Also, it would be nice to have pre-built packages for common deployments (PCN regions, CH regions).

[2019-11-24 12:23] johanstokking commented on #1626
I think one flag with the gateway ID suffices, assuming index 0. Just keep it simple.

Being able to specify multiple gateways when using the CLI is advanced use that we can support later if there's popular demand. You can already do this by using MQTT or webhooks.

[2019-11-24 19:54] riska8899 opened #1638 "Set location settings via map #1565"
#### Summary

...

#### Why do we need this ?

...

#### What is already there? What do you see now?

...

#### What is missing? What do you want to see?

...

#### How do you propose to document this?

...

#### Can you do this yourself and submit a Pull Request?

...

[2019-11-25 09:23] #1506 closed

[2019-11-25 11:31] kschiffer commented on #1175
[code]

Let's agree on using 1. only for consistency, since we already refactored some components to do this.

[2019-11-25 12:55] kschiffer commented on #1638
Hey @riska8899,
please follow our issue template, or else we won't be able to help you.
I suppose you want to be able to set gateway antenna / device locations via the map in the console. We already have an issue for that, you can find it here: https://github.com/TheThingsNetwork/lorawan-stack/issues/1380

[2019-11-25 12:55] #1638 closed

[2019-11-25 16:07] htdvisser opened #1641 "Immutable middleware results in outdated documentation"
#### Summary

The Immutable middleware makes browsers believe that the embedded documentation won't get updated.

#### Steps to Reproduce

1. Check the headers on `/assets/docs`

#### What do you see now?

[code]

#### Environment

v3.3.0

#### How do you propose to implement this?

Remove the Immutable middleware: https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.3.0/pkg/web/web.go#L180

[2019-11-25 20:38] #1635 closed

[2019-11-26 12:53] rvolosatovs opened #1645 "Expired downlinks prevent new ones from being pushed"
#### Summary

If expired downlink is present in the NS queue, new dowlinks cannot be pushed

#### Steps to Reproduce

1. Schedule a class B/C downlink with absolute time
2. Wait until the time expires and attempt to schedule a new downlink

#### What do you see now?

[code]

#### What do you want to see instead?

Success

#### How do you propose to implement this?

Instead of validating the whole

[2019-11-26 16:22] #1273 closed

[2019-11-26 16:43] #1586 closed

[2019-11-27 09:27] kschiffer opened #1648 "Add user management for admins to the console"
#### Summary
Admin users should be able to manage other users via the console

#### Why do we need this?
To provide user management via a web interface (currently only possible via CLI)

#### What is already there? What do you see now?
Nothing of that sort.

#### What is missing? What do you want to see?
An admin area inside the console, where admins can configure users of the deployment. This inc

[2019-11-27 10:34] #1566 closed

[2019-11-27 10:52] johanstokking commented on #1134
Mostly blocked by https://github.com/TheThingsNetwork/lorawan-stack/pull/1616

[2019-11-27 10:52] johanstokking commented on #1134
Added home NetID and claim authentication code fields

[2019-11-27 17:23] htdvisser opened #1652 "Documentation for creating accounts with CLI/Console"
#### Summary

We should add documentation for creating accounts.

#### What is already there? What do you see now?

The Getting Started guides for the Console and CLI start with login.

#### What is missing? What do you want to see?

The Getting Started guides for the Console and CLI assume that there's already a user, but don't document how to create one.

[2019-11-27 19:39] #1626 closed

[2019-11-27 21:37] rvolosatovs opened #1653 "Support sequential application downlinks"
#### Summary

add a field to ApplicationDownlink which defines the fail behavior, i.e. FailWithPreviousin your door example, you set that on message 2. If message 1 fails, message 2 fails automatically

#### Why do we need this?

Assume a LoRaWAN device, which controls two doors - A and B.
Only one of the doors has to be opened at a time - i.e. either A is open and B is closed, or, vice versa, A i

[2019-11-27 21:51] vsbandaru opened #1654 "End Device Search"
#### Summary
Search functionality in Console by DevEUI, DevID or Name, more fields could be added.

#### Why do we need this?
Looking up device status to debug/monitor gets harder as the number of devices deployed reaches hundreds or thousands. Most organizations would follow a naming convention for the Device ID/Name and having the Search feature eases the management.

#### What is already there?

[2019-11-28 09:43] kschiffer commented on #1654
Related: https://github.com/TheThingsNetwork/lorawan-stack/issues/73

[2019-11-28 09:46] htdvisser commented on #1654
API definition for EndDeviceRegistrySearch: https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.3.1/api/search_services.proto#L84-L115

That API allows you to (substring) search by

- ID
- Friendly Name
- Description
- Attributes
- EUI
- DevAddr (*)

A simple version of this API can be implemented on the Identity Server. This implementation would be able to search by all above fields, except

[2019-11-28 10:07] htdvisser opened #1656 "Rename "TTN" references"
#### Summary

There are still quite a few references to TTN that need to be renamed.

#### Why do we need this?

Because this product is called "The Things Stack" (short TTS).

#### What is already there? What do you see now?

Usage of "TTN" in:

- `.mage`
- `cmd` (including `ttn-lw-stack` and env vars)
- `pkg/jsonpb`
- `pkg/version`
- `sdk/js`
- `pkg/log`
- `pkg/random`

#### What do you want to

[2019-11-28 12:07] johanstokking opened #1659 "AS flaky test"
#### Summary

AS flaky test

#### Steps to Reproduce

Run CI and flip a coin

#### What do you see now?

[code]

#### What do you want to see instead?

Test pass

#### Environment

Travis

#### How do you propose to implement this?

Increase time-out at that specific place

#### Can you do this yourself and submit a Pull Request?

Can review

[2019-11-28 12:44] kschiffer opened #1660 "Properly inform console users about unapproved accounts"
#### Summary
The console needs to properly react to unapproved users by showing them a notification.

#### Why do we need this?
Currently, the user will just be redirected to the login page after trying to log in.

#### What is already there? What do you see now?
Login page.

#### What is missing? What do you want to see?
A notification about the user account being unapproved (together with some i

[2019-11-28 13:12] htdvisser commented on #1660
Would it help if we change the error type to PermissionDenied instead of Unauthenticated? I think that would be a more appropriate type for these kind of errors.

[2019-11-28 13:27] htdvisser opened #1661 "Console does not show warnings"
#### Summary

The console doesn't show warnings sent by APIs

#### Steps to Reproduce

1. `make dev.databases.sql`
2. `UPDATE users SET primary_email_address_validated_at = NULL;`
3. `go run ./cmd/ttn-lw-stack start --is.user-registration.contact-info-validation.required`
4. Open the console

#### What do you see now?

![Screen Shot 2019-11-28 at 14 24 36](https://user-images.githubusercontent.com

[2019-11-28 18:28] wienke opened #1662 "Guide for device makers to add devices to the global join server"
#### Summary
Give device makers guidance in to add devices to the global join server on CH

[2019-11-28 20:04] rvolosatovs commented on #19
Some progress is made in https://github.com/TheThingsNetwork/lorawan-stack/pull/1611
Unfortunately, Kerlink Wirnet station gateway refuses to send class B beacons and until I get my hands on an actual beaconing gateway to test this I don't think I can continue.
For the very curious/brave with access to a beaconing gateway - you can try bdbf7a677 - any input would be very welcome and helpful at thi

[2019-11-28 20:16] rvolosatovs commented on #1631
Blocked until I manage to actually get class B to work

[2019-11-29 08:10] htdvisser commented on #1631
Why would we wait for that? If it can receive uplink and send downlink, we can already document how to make it work for most Class A and Class C use cases.

[2019-11-29 09:40] kschiffer opened #1663 "Add endpoint to retrieve available LoRaWAN versions"
#### Summary
The console needs to know the available LoRaWAN versions, to suggest them during end device creation.

#### Why do we need this?
We currently have this information hard coded into the console.

#### What is already there? What do you see now?

- Device creation/update view
- Fetch Select component to show options that were retrieved from the backend

#### What is missing? What do you

[2019-11-29 09:50] kschiffer opened #1664 "Make console navigation bar responsive"
#### Summary

As part of making the console responsive (#1172), we need to make the navigation bar responsive.

#### Why do we need this?

To provide proper experience on mobile devices.

#### What is already there? What do you see now?

Navigation bar

#### What is missing? What do you want to see?

The navigation bar collapsing properly on smaller screens. The navigation entries need to be acces

[2019-11-29 10:54] johanstokking opened #1666 "Component flaky test"
#### Summary

Component flaky test

#### Steps to Reproduce

1. Run CI
2. Flip a coin

#### What do you see now?

[code]

#### What do you want to see instead?

Test pass

#### Environment

Travis

#### How do you propose to implement this?

Not sure

#### Can you do this yourself and submit a Pull Request?

Can probably sanity-check review

[2019-11-29 14:04] htdvisser commented on #1663
This is something for the JS SDK.

Should come from https://github.com/TheThingsNetwork/lorawan-stack/blob/master/api/lorawan.proto#L65-L89

[2019-11-29 14:08] htdvisser commented on #1663
It's probably going to be sufficient to add these to [pkg/ttnpb/i18n.go](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/ttnpb/i18n.go), but the custom stringers for [MACVersion](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/api/lorawan.proto#L65-L89) and [PHYVersion](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/ttnpb/lorawan.go#L725-L744) mig

[2019-11-29 14:10] johanstokking commented on #1140
@MathieuMonneret I updated the original comment.

@adriansmares can you share how we build the GCS link based on cluster name and gateway ID?

[2019-11-29 14:12] johanstokking opened #1669 "Document MQTT and HTTP integrations with Console"
#### Summary

Document MQTT and HTTP integrations with Console

#### Why do we need this ?

This is easier than using the CLI.

#### What is already there? What do you see now?

Setup via CLI.

#### What is missing? What do you want to see?

Console guide with screenshots.

#### How do you propose to document this?

Console guide with screenshots.

#### Can you do this yourself and submit a Pull R

[2019-11-29 14:32] johanstokking commented on #945
Pushing this to December

[2019-11-29 14:41] #1662 closed

[2019-11-29 17:52] eggfriedrice opened #1670 "ttn-lw-cli snap can't read config file"
#### Summary
ttn-lw-cli installed on via snap can't open the config file in ~/.ttn-lw-cli.yml, it errors with
[code]
I've followed the installation guide here:
https://enterprise.thethingsstack.io/v3.3.1/guides/getting-started/installation/#command-line-interface-optional
and configuration here (modified for my instance)
https://enterprise.thethingsstack.io/v3.3.1/guides/getting-started/configurat

[2019-12-02 10:37] kschiffer commented on #1648
I'm looking into this now and I'm wondering whether this should be made part of the new Account App rather (#1422) since the management of users appears to me like a superordinate concern.

I believe it could be beneficial to group such overall admin concerns into the account app to also shape it as more of a stack/deployment configuration tool while keeping the console scoped to network-related m

[2019-12-02 10:48] johanstokking commented on #1648
My take is twofold; one is that we don't have time to wait for #1422 to get basic user management, and two is that I think that what the new account app is going to be once we defined it, is mostly about the user itself, and not about other users.

[2019-12-02 10:50] htdvisser commented on #1648
I agree with @johanstokking's comment. The account app will be for managing "your own user account", the console is for managing the network, and when you're an admin that includes the users of your network.

[2019-12-02 10:55] johanstokking commented on #1648
Pushing this to high to avoid a CLI-only user experience in the initial onboarding phase for deployments.

[2019-12-02 18:45] johanstokking commented on #1631
This should not be blocked by Class B indeed.

Please keep The Things Kickstarter Gateway structure as reference; prerequisites, registration, configuration, troubleshooting.

[2019-12-02 18:45] johanstokking commented on #1631
References #1140

[2019-12-03 08:26] alexbn71 opened #1679 "database upgrade issue, "picture_id" column is missing..."
#### Summary

After the last upgrade I can no longer create new devices since it's missing the column "picture_id"

#### Steps to Reproduce

Upgrade to 3.3.1 then create a new device

#### What do you see now?

ERROR error/home/travis/gopath/src/go.thethings.network/lorawan-stack/pkg/identityserver/store/store.go:70pq: column "picture_id" does not exist grpc_method=Create grpc_service=ttn.lorawan.

[2019-12-03 08:48] htdvisser commented on #1679
Your database requires migration. This was explained in the [release notes](https://github.com/TheThingsNetwork/lorawan-stack/releases) and the [CHANGELOG](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/CHANGELOG.md). We strongly recommend reading those when upgrading.

[2019-12-03 08:48] #1679 closed

[2019-12-03 10:28] rvolosatovs commented on #1631
The reason why I marked is as "blocked" on class B is because a possible cause for class B not working is a misconfiguration and we don't want our users to have misconfigured gateways

[2019-12-03 10:48] htdvisser commented on #1631
This is still a priority

[2019-12-03 11:17] rvolosatovs commented on #1631
Oh, I thought that was the "blocked" label I was removing, but looks like @johanstokking already removed it

[2019-12-03 11:29] johanstokking commented on #300
We also need this to solve a bug with frequency plans that are defined outside band's sub-bands which breaks downlink. For example frequency plan `AS_920_923` defines frequencies that are not defined in the `AS_923` band, so that GS fails to schedule:

[code]

[2019-12-03 12:52] #1660 closed

[2019-12-03 15:41] #1645 closed

[2019-12-03 16:30] johanstokking opened #1684 "Document major changes compared to V2"
#### Summary

Document major changes compared to V2

#### Why do we need this ?

For users to explain the differences when upgrading from V2 to V3; public and private networks.

#### What is already there? What do you see now?

V3 release notes

#### What is missing? What do you want to see?

Overview of what is new in V3 compared to V2

#### How do you propose to document this?

Few options;

1.

[2019-12-03 16:32] johanstokking opened #1685 "Document migrating devices from V2 to V3"
#### Summary

Document migrating devices from V2 to V3

Needs https://github.com/TheThingsNetwork/ttn/issues/764

#### Why do we need this ?

To get started quickly

#### What is already there? What do you see now?

- Export devices in V3 JSON format with V2 `ttnctl` (https://github.com/TheThingsNetwork/ttn/issues/764)
- CLI documentation and getting started

#### What is missing? What do you want

[2019-12-03 18:33] #300 closed

[2019-12-04 09:04] htdvisser commented on #1652
Console part is done with #1675. CLI refers to that. Think that's sufficient for now.

[2019-12-04 09:04] #1652 closed

[2019-12-04 10:49] johanstokking opened #1688 "Minor improvements in Getting Started"
#### Summary

Minor improvements in Getting Started

#### Why do we need this ?

To smoothen the first steps with The Things Stack

#### What is already there? What do you see now?

- Manual linking of AS to NS with creation of API key
- No separate guide for creating a device

#### What is missing? What do you want to see?

- Change Getting Started to use the automatic linking feature (enabled by

[2019-12-04 17:54] rish-c opened #1692 "Client side validation of user names"
#### Summary

When creating an invalid username, the console shows an error which could be improved with a simple message.

...

#### Steps to Reproduce

Usernames such as `abc_123` plus other similar invalid usernames that are not allowed

#### What do you see now?

Screenshot
![image (2)](https://user-images.githubusercontent.com/17057057/70166716-986efb80-16c5-11ea-8bdc-032ec2c7dd11.png)

####

[2019-12-05 10:26] kschiffer commented on #1692
Shouldn't the backend take care of providing more helpful error messages? We could add some mapping of error messages, but I think this should be a last resort only.
This one could already be improved greatly by a more expressive error message than `invalid identifiers`, e.g. `User ID contained invalid characters, please use {allowed characters} only`

[2019-12-05 10:33] kschiffer commented on #1648
I would like to add a small table of unapproved users to the user management view in the console. Otherwise, the user would have to enter the user id manually.
Is it worth extending the RPCs for this? Right now we cannot filter the list RPC. Likewise, it would improve the UX a lot if one would be able to search the list of users.

[2019-12-05 11:05] htdvisser opened #1694 "Subscribe to Multiple Applications in Single MQTT Connection"
#### Summary

It would be really cool if we could subscribe to multiple applications in a single MQTT connection.

#### Why do we need this?

Simplification

#### What is already there? What do you see now?

MQTT sessions are per-application

#### What is missing? What do you want to see?

It may not be necessary to have this restriction.

#### How do you propose to implement this?

- On `CONNECT`

[2019-12-05 11:42] #1603 closed

[2019-12-05 15:00] htdvisser commented on #1648
We have the search RPCs for that. We already planned on adding a `state` filter to those.

[2019-12-05 18:31] johanstokking commented on #1406
Network operators must have insight in why the server rejected requests because of rate limits.

[2019-12-06 11:27] johanstokking commented on #1382
The problem is not in jsonpb, it is a combination of 1) the CLI using the allowed bottom level fields and 2) the generated `SetFields()` filling in an empty struct for sub-fields, even if the source field is `nil`.

1) is necessary to merge sub-fields from various sources that would otherwise overwrite. For example, `session` comes from both NS and AS and their fields need to be merged, so we do t

[2019-12-06 12:24] adriansmares commented on #1669
Closed by #1696.

[2019-12-06 12:24] #1669 closed

[2019-12-06 12:24] adriansmares commented on #1688
First part is fixed by #1696.

[2019-12-06 16:33] adriansmares opened #1699 "Provide downlink queue operations in the webhook payload"
#### Summary

We should provide an API key as part of the webhook payload and the downlink queue push/replace URLs as request headers.

#### Why do we need this?

To simplify the downlink scheduling process for integrators.

#### What is already there? What do you see now?

Only the `ttnpb.ApplicationUp` payload.

#### What is missing? What do you want to see?

`ApplicationWebhook` should contain

[2019-12-09 06:02] ktsolakas opened #1700 "Stack start fails with `illegal wireType 6`"
#### Summary
We applied the V3.3.2 cloudformation template to a 3.2.6 TTI instance and failed to start
#### Steps to Reproduce

1. Apply the 3.3.2 template over a 3.2.6 instance
2. Log into the backend
3. View logs
4. Stack does not start

#### What do you see now?
Dec 09 03:42:04 ip-10-0-0-163.ap-southeast-2.compute.internal systemd[1]: lorawan-stack.service: main process exited, code=exited, sta

[2019-12-09 06:08] ktsolakas opened #1701 "Downlink timing issue"
#### Summary
After sending a downlink to a device the Gateway logs are showing errors delivering the downlink

#### Steps to Reproduce
1. Sent a downlink to the device
ttn-lw-cli applications downlink replace --application-id meshed-mcf88 --device-id lw130-f016 --frm-payload 0400FFFFFFFF00000000 --f-port 1

#### What do you see now?

Gateway Logs show:

[code]

#### What do you want to see instead

[2019-12-09 08:11] johanstokking commented on #1700
@ktsolakas can you provide debug logs?

Looks like garbage; wire type 6 doesn't exist (see https://developers.google.com/protocol-buffers/docs/encoding).

It would be very helpful to figure out with debug logs which message is being loaded.

[2019-12-09 08:32] ktsolakas commented on #1700
[issue1700.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/3938548/issue1700.txt)
@johanstokking I have attached verbose journactl output. Debug logs are enabled in config.yml

[2019-12-09 09:03] htdvisser opened #1702 "Redirect to OAuth Server Logout after Logout from Client"
#### Summary

It would be good to redirect to the logout page of the OAuth server after logging out from an OAuth client (console).

#### Why do we need this?

That way the user can also logout from the OAuth server, and later when we have #1422, also revoke access tokens of other logged in OAuth clients.

#### What is already there? What do you see now?

For example in the console: after you clic

[2019-12-09 09:11] htdvisser opened #1703 "RPCs for Purging Entities as Admin"
#### Summary

Since our soft-delete prevents entities from being recreated, it would be very useful to have (admin-only) RPCs that completely purge an entity and all associated DB models.

#### Why do we need this?

Automatic GC/purge (#604) isn't happening yet, and users still want to be able to recreate entities.

#### What is already there? What do you see now?

See #604

#### What is missing?

[2019-12-09 09:23] johanstokking commented on #1700
`journalctl` verbose is not needed and makes it harder to read. I don’t see debug logs in this file, that might be the display format, wrong config or indeed a really fast failure.

[2019-12-09 09:27] htdvisser opened #1704 "Use Manifest in Public Dir for Frontend Asset Hashes"
#### Summary

We should write the frontend manifest to a (JSON) file in the public dir, and make The Things Stack read that instead of compiling the manifest into the binary.

#### Why do we need this?

This would allow us to compile the backend and frontend in parallel.

#### What is already there? What do you see now?

The manifest is written to `pkg/webui/manifest.go` and compiled into the bina

[2019-12-09 09:47] htdvisser opened #1705 "Validate `user_id` in OAuth views"
#### Summary

We need to do better frontend validation of the user ID field in OAuth views.

#### Why do we need this?

We're seeing that users are making too many mistakes with user IDs in the OAuth views

#### What is already there? What do you see now?

First of all, the validations are inconsistent. We sometimes see

[code]

while in other places we also see a min/max length.

#### What is mis

[2019-12-09 11:49] rvolosatovs commented on #1701
Thanks for reporting the issue.
Which version are you running?

[2019-12-09 11:56] ktsolakas commented on #1701
V 3.2.2

[2019-12-09 12:27] beitler opened #1707 "Basic Station Integration: Clock misalignment after burst of uplinks"
#### Summary
lorawan-stack's gatewayserver truncates `xtime` to 32 bit and tracks the rollovers by detecting backward jumps:

https://github.com/TheThingsNetwork/lorawan-stack/blob/dc8fc5ab888f57c20657729b51760eca98452605/pkg/gatewayserver/scheduling/clock.go#L83

This function is called for each conversion between the internal 32 bit timestamp representation to `xtime`, i.e. of each uplink and do

[2019-12-09 12:29] beitler opened #1708 "Basic Station Integration: Clock misalignment after long periods of inactivity"
#### Summary
lorawan-stack's gatewayserver truncates `xtime` to 32 bit and tracks the rollovers by detecting backward jumps:

https://github.com/TheThingsNetwork/lorawan-stack/blob/dc8fc5ab888f57c20657729b51760eca98452605/pkg/gatewayserver/scheduling/clock.go#L83

This function is called only when there is activity (uplink messages) from a gateway. If the gateway has no activity for more than a ro

[2019-12-09 12:31] beitler opened #1709 "Basic Station Integration: Internal Timestamp rollover problems [Issue Collection]"
#### Summary

The Basic Station protocol provides a 64-bit `xtime` abstraction for the hardware-internal microsecond counter. The lower 48 bits of `xtime` are the monotonically increasing (rollover-compensated) microseconds as counted by the concentrator chip. The idea of the `xtime` field is that the LNS passes this value along with the uplink message up the stack. A class A downlink scheduled in

[2019-12-09 12:34] beitler commented on #1351
@KrishnaIyer, I looked at it in a bit more detail. The root cause if this phenomenon is that during message parsing the `xtime` field is already converted down to 32 bits:

https://github.com/TheThingsNetwork/lorawan-stack/blob/dc8fc5ab888f57c20657729b51760eca98452605/pkg/gatewayserver/io/basicstationlns/messages/upstream.go#L328

The rollover-tracking mechanism however, assumes the epoch to start

[2019-12-09 12:53] johanstokking commented on #1700
Closed offline; no resolution details applicable here

[2019-12-09 12:53] #1700 closed

[2019-12-09 13:20] johanstokking commented on #1708
Thanks, this helps a lot with reproducing.

This is what we should be doing indeed.

[2019-12-09 13:24] johanstokking commented on #1707
Thanks, this is a good suggestion.

Right. We're using the scheduler in the Gateway Server though. It is pretty easy to switch to the Basic Station scheduler – in fact we did that before. We use the GS scheduler because it allows us to keep track of duty-cycle (and priority budgeting) and automatic class C future scheduling considering time-off-air, dwell time and duty-cycle.

Basic Station also d

[2019-12-09 13:58] johanstokking commented on #1701
@ktsolakas can you provide a bit more reproduction steps? I.e. is this class C?

[2019-12-09 18:10] kschiffer commented on #1661
There's some related discussion in here as well:
https://github.com/TheThingsNetwork/lorawan-stack/pull/1151

I need to understand this a little better. In what other situations do we add a warning header to the API responses? From what I see now, I think it makes most sense to forward the warning to a toast notification in the console (small notification in the bottom right corner), but this woul

[2019-12-10 03:30] ama9910 opened #1714 "Webhook Headers not being sent"
#### Summary
Custom Webhook headers are not being sent, even though they can be added from the console

#### Steps to Reproduce
1. Add a Webhook Integration to an App
2. Select "Add header entry"
3. Add a key and value of your choice
4. Trigger an uplink from a device

#### What do you see now?
Example from TTI Webhook -> Node-RED HTTP In node:

{"host":"[redacted]","user-agent":"ttn-lw-applicatio

[2019-12-10 04:14] ktsolakas commented on #1701
@johanstokking Yes the device is Class C but i have seen the same issue with Class A downlinks as well. Also i have tried 2 Class C devices with the same result and tried 2 different gateways using different packet forwarders (legacy and mp). I will send logs via e-mail to you and @rvolosatovs

[2019-12-10 08:42] johanstokking commented on #1701
@ktsolakas thanks.

Timing is indeed off. Looks like the following situation;

1. connect gateway, potentially receive uplink message
2. restart packet forwarder (or entire gateway)
3. gateway is still connected according to GS (because our expiry is 5 minutes – way too long)
4. send downlink message

Can you try two things:

1. restart TTS after a packet forwarder or gateway restart. This resets

[2019-12-10 09:10] johanstokking commented on #1714
I can reproduce this. It works via CLI;

[code]

But in Console, setting webhook headers is ineffective. If you set headers in the Console, save the webhook and go back to the webhook, they're not actually saved. However, if you set them in CLI, they show up correctly in the Console.

In Developer Tools, the headers are not part of the `field_mask`. Also, it seems that only a newly added header is

[2019-12-10 09:16] ktsolakas commented on #1701
@johanstokking I followed the steps you indicated and sent a bunch of downlinks I only got 1 Packet REJECTED. Sending logs.

[2019-12-10 13:08] johanstokking commented on #1701
Thanks. Your latency is quite variable:

<img width="769" alt="Screenshot 2019-12-10 at 13 48 13" src="https://user-images.githubusercontent.com/13334001/70530725-d51e7500-1b53-11ea-9fb7-a0dad7631711.png">

Is this a cellular backhaul?

Also, looking at the scheduled times, this is all normal:

Start | Now | Delta
-- | -- | --
562494137732 | 562824132327 | 329994595
563519105361 | 568286188000 | 4

[2019-12-10 13:21] htdvisser commented on #1661
To see what warnings we currently have, search for `warning.Add(`.
I don't know what we might add in the future.

[2019-12-10 13:27] #1209 closed

[2019-12-10 13:59] #1714 closed

[2019-12-10 14:48] #73 closed

[2019-12-10 15:06] htdvisser commented on #1661
Let's start by logging them to the console.

[2019-12-10 15:36] johanstokking commented on #1661
Can't we have a scrolling warning console in the footer, much like what's shown in developer tools? With an incrementing counter? And on each entry a timestamp or something

[2019-12-10 16:04] johanstokking commented on #1134
This is not entirely in progress by #1616; claim authentication code is not part of that (yet)

[2019-12-10 20:27] rvolosatovs commented on #1382
#1713 brings only partial fix - the non-nullable fields still are rendered even though not requested(see OP)

[2019-12-11 08:30] ktsolakas commented on #1701
@johanstokking yes it is a cellular back-haul. I applied the timeouts and set the --schedule-downlink-late=false to the gateway and some initial test were successful. I will continue to monitor for any mistimed packets.

[2019-12-11 12:53] johanstokking commented on #1701
Two things need to be done to close this issue;

- [ ] Increase the `ScheduleTimeLong` to 500 ms
- [ ] Change the default UDP timing to:

[code]

[2019-12-11 13:14] johanstokking opened #1719 "Subscribe to multiple events sources in Console"
#### Summary

Subscribe to multiple event sources in the Console.

#### Steps to Reproduce

1. Deploy IS in cluster A, and Console and other components in cluster B
2. Console connects to cluster A for events, as only the events source of IS is used. Events from B are now subscribed to

#### What do you see now?

No events from components that are not in the IS cluster.

#### What do you want to s

[2019-12-11 13:15] johanstokking commented on #1382
I don't think this is import to fix, pushing that to Backlog

[2019-12-11 17:44] rish-c commented on #316
Sorting gateways would be good to add in the console. Possible fields could be
- Connected / Not connected
- Data added
- Owner
- labels (location, site, indoor, outdoor etc.)

cc @kschiffer

[2019-12-12 07:33] ecities opened #1723 "Problems with management remote VPS server + static IP (ttn-lw-cli + webgui)"
#### Summary

I'm trying to install most recent version of the stack onto **ovh.eu** VPS server (debian 9 stretch) in order to direct connection to our cloud system "on the same dev".

Following your getting started manual (it looks ok when we do **docker-compose up**).

We stuck on trying to initiate configuration (**ttn-lw-cli login** + WEB authorization in the internet browser).

The page alway

[2019-12-12 08:52] htdvisser commented on #316
It's relatively easy to implement sorting on:

- ID
- EUIs (Gateways, End Devices)
- Name
- Created At

It's more work to implement sorting on:

- Attributes

It's currently **not** possible to sort on:

- Owner: we don't have the concept of owner in v3. We have (multiple) members with (different) rights and we can't sort on those.
- Connected (Gateways): This is not known by the Entity Registry.

[2019-12-12 09:06] htdvisser commented on #1723
Have you seen https://thethingsstack.io/v3.3.2/guides/getting-started/cli/#login ?

Specifically the part that says

[2019-12-12 10:01] ecities commented on #1723
Hi, @htdvisser, Thanks for reply . I saw it .... but it seems I didn't process this information ;) .
I checked all parameters including **--callback false** (without **=** char) as other parameters are supplied.

Your solution,  move it a little forward - into certificates issue.
I have generated certificate with openssl.

[2019-12-12 10:06] kschiffer commented on #316
Frontend-wise it's more or less a matter of re-activating our logic for sorting in our list views, so this is mostly blocked on the backend side.

[2019-12-12 10:07] ecities commented on #1723
Can the certificate be generated to work remotelly (By public IP) or (localhost) for
ttn-lw-cli commands for adding gateways, devices, and so on.

[2019-12-12 10:20] #1648 closed

[2019-12-12 10:57] htdvisser commented on #1723
If you're setting up The Things Stack on a server with a public IP, you should just point a (sub)domain to it and use our builtin support for requesting and using certificates from Let's Encrypt.

I recommend you to spin up a fresh new server, point some subdomain to it and see if this works for you: https://gist.github.com/htdvisser/4503f30699308a7fd9e0aa3ebc2f3eb4

[2019-12-12 10:57] #1723 closed

[2019-12-12 12:33] pgalic96 commented on #1705
@htdvisser What should be the feedback to user if their username doesn't match the regular expression? I can just output the regex value, or show some short info (which is a bit hard to explain in one line).

[2019-12-12 13:11] htdvisser commented on #1705
Commented in PR

[2019-12-13 13:47] beitler opened #1729 "Basic Station Integration: Server-side connection termination causing unreliable downlink scheduling"
#### Summary

The Basic Station protocol server integration on the community network`*` terminates the TCP connection if 60 seconds of inactivity is detected. In an event of such a server-side disconnect, Basic Station continues running the radio and tries to re-connect with an exponential back-off. The whole re-connection procedure can potentially take multiple seconds, during which uplink messag

[2019-12-13 13:50] beitler opened #1730 "Basic Station Integration: Race condition in re-connection handling causes permanent failure of uplink forwarding"
#### Summary

The Basic Station protocol is based on TCP. Occasionally it may happen, that the client drops this connection without executing a clean TCP connection close sequence. This may occur if link/net layer connectivity suddenly disappears and causes the TCP layer to reset and retry (e.g. a gateway is switching from ethernet backhaul to 3G backhaul because ethernet went away; or gateway is

[2019-12-16 05:11] ktsolakas commented on #1701
@johanstokking I have applied the gs: udp settings and i am seeing:
src/jitqueue.c:252:jit_enqueue(): ERROR: Packet REJECTED, timestamp seems wrong, too much in advance
I will send you the relevant logs via e-mail!
Thnx

[2019-12-16 08:50] ecities opened #1731 "acme/autocert: missing certificate - remote installation public IP"
#### Summary

The stack (most current version) - returns missing certificate from acme.
**Does LetsEncrypt certification require some additional tasks beyond specified in 'certification' chapter of getting started manual?**.
Earlier on different machine I was testing certbot (https://subdomain.example.com) was opened succesfully in https on apache web server. The stack return the same errors.
...

[2019-12-16 09:01] KrishnaIyer commented on #1731
According to the error here: https://acme-v02.api.letsencrypt.org/acme/authz-v3/1757836769
It seems like it's trying a DNS validation.
Are you trying to fetch wildcard certificates for your sub-domains? Specifically, what's the value of `tls.acme.hosts` and `tls.acme.default-host`?

Also, is `http://your-domain:80` accessible?

[2019-12-16 10:49] ecities commented on #1731
Hi thanks for reply: I can send you whole logs and 'real' settings if you will send me your email to '**b i u r o** (at) _i_ _s_ _y_ _s_ . **p** **l**'
mysubdomain (**replaced** subdomain set in dns and targeted to public IP)
also domain, *.domain are targeted to the same public IP
**all keys are masquaraded**

http://subdomain/ - shows 'non configured debian page from apache'
https://subdomain/ -

[2019-12-16 11:04] ecities commented on #1731
I did some tests:
disable apache : service apache2 stop
enable ports (removing hash) 80,443 in docker compose file
docker-compose down
docker-compose pull
docker-compose up

and it seams that console starts to work on standard ports: http://subdomain/ https://subdomain/

However, I think it shouldn't colide with other subdomains, main-domain and apache and potentially other domains on the same hos

[2019-12-16 11:32] KrishnaIyer commented on #1731
Ok. So this still doesn't answer my questions.

a. If you are trying to retrieve a `wildcard` certificate, then that won't work since LetEncrypt only supports DNS validation for those. Please read further [here](https://community.letsencrypt.org/t/wildcard-domain-step-by-step/58250/3).
b. The stack ACME client requires that `http://yourdomain:80` be accessible via the internet. That's needed to ac

[2019-12-16 11:32] #1731 closed

[2019-12-16 11:48] beitler opened #1732 "Basic Station Integration: RX UTC time is scaled down by 1e-9"
#### Summary
In the community network, the uplink timestamp originating from Basic Station based gateways is scaled by the 1e-9.

#### Steps to Reproduce

1. Attach a Basic Station based gateway to the TTN community network.
2. Receive an uplink from a known device over that gateway.

#### What do you see now?
The received uplink is listed in the gateway traffic console with the correct timestamp:

[2019-12-16 16:19] htdvisser opened #1735 "Email Admins when new user needs to be approved"
#### Summary

We should send an email to admins when a new user registers that needs to be approved.

Refs #72

#### Why do we need this?

So that new users don't have to contact admins, and admins don't have to refresh the users page all the time.

#### What is missing? What do you want to see?

A function in the IS to send an email to all admins in the network.
This function would be called when

[2019-12-17 06:14] ktsolakas opened #1736 "Sending MQTT downlink not working"
#### Summary
I am able to send a downlink to a device through cli using the following command

ttn-lw-cli applications downlink replace --application-id meshed-nas --device-id nas-38dc6 --frm-payload 01FE00 --f-port 60

On the other hand when i try to send a downlink via mqtt client the server logs don't show any downlinks being generated

#### Steps to Reproduce
1. Create API key for mqtt_client

[2019-12-17 11:57] #1705 closed

[2019-12-17 14:14] johanstokking commented on #1736
@ktsolakas looks like you're missing the tenant ID in the topic, i.e. it has to be `meshed-nas@tti-enterprise` (depending on the tenant ID). Please see MQTT under Integrations in the Console; the user name is what the part should be in the topic.

[2019-12-17 15:27] reissjason opened #1737 "PubSub MQTT input field validation is too strict"
#### Summary
When configuring an MQTT PubSub Integration valid entries for client-id or username are blocked by UI validation. Using http://www.dioty.co/mqtt provides an email address for username. This was not allowed. client-id or username containing uppercase letters are also not allowed.

#### Steps to Reproduce

1. Select an Application
2. Add a new PubSub Integration
3. Select MQTT as type
4

[2019-12-17 17:13] reissjason opened #1740 "Unable to edit existing PubSub integration"
#### Summary
PubSub Integration screen displays an error. MQTT and NATS integrations both display the error.

...

#### Steps to Reproduce

1. Create a new PubSub integration with dummy values
2. Try to edit the created PubSub integration.
3. ...

#### What do you see now?

![image](https://user-images.githubusercontent.com/1387696/71018481-2da6c280-20be-11ea-8733-000270134188.png)

#### What do y

[2019-12-18 04:52] ktsolakas commented on #1736
@johanstokking thnx, that did the trick!

[2019-12-18 09:56] johanstokking commented on #1736
There are a few things we can improve in our documentation. Will do that.

[2019-12-18 09:56] #1736 closed

[2019-12-18 10:34] johanstokking commented on #1701
There are a few timing related issues here: https://github.com/TheThingsNetwork/lorawan-stack/issues/1709

We're currently working on fixing those. I think they're related to the problem you're seeing.

[2019-12-18 13:42] htdvisser commented on #1737
This seems to be a restriction imposed by the frontend, as the backend only has a maximum length defined.

[2019-12-18 13:43] htdvisser commented on #1737
Source: `pkg/webui/console/components/pubsub-form/validation-schema.js`

[2019-12-18 13:46] htdvisser commented on #1740
Error in Devtools: `ReferenceError: "PageTitle is not defined"`

[2019-12-18 13:50] htdvisser commented on #1257
@pgalic96 this is actually what I meant in #1705. Since @mjamescompton doesn't have much time, and this is pretty confusing for users, do you have time to look into this? If so, please reassign the issue to yourself.

[2019-12-18 15:06] htdvisser opened #1743 "Add Admin checkbox to User Edit Form"
#### Summary

We need to add an admin checkbox to the user edit form.

#### Why do we need this?

So that admins can make other users admin using the console.

#### What is already there? What do you see now?

User ID, Name, Description, Email Address and State

#### What is missing? What do you want to see?

Admin

#### Environment

current master

#### How do you propose to implement this?

Just

[2019-12-18 16:18] htdvisser opened #1746 "Document Basic User Management"
#### Summary

With #1706 and #1744 we can do basic user management (approving, making admin) with both the CLI and the Console. I think it's time we document it.

#### What is already there? What do you see now?

The features are (almost) ready, but they're not documented.

#### What is missing? What do you want to see?

Documentation on

- How to manage users with the CLI
- How to manage users wi

[2019-12-18 16:22] #1213 closed

[2019-12-18 20:56] rvolosatovs opened #1748 "Allow configuring class B on gateways"
#### Summary

Class B-related options should be available and configurable on gateways

References #19 https://github.com/TheThingsNetwork/lorawan-stack/pull/1747

#### Why do we need this?

To generate gateway configurations in GCS including class B configuration

#### What is already there? What do you see now?

No class B configuration on gateways

#### What is missing? What do you want to see?

[2019-12-18 22:18] virtualguy opened #1749 "Random dev_nonce is blocked for MAC_1_0_3"
#### Summary

Devices using MAC 1.0.3 should are getting denied join requests when using a randomised dev nonce
...

#### Steps to Reproduce

1. Create OTA device and configure using
      --lorawan-phy-version 1.0.3-a
      --lorawan-version 1.0.3

2. Join using dev nonce = 5
3. Attempt to re join using dev nonce = 4
4. Monitor stack logs for dev_nonce_too_small

#### What do you see now?

  INFO

[2019-12-18 22:26] virtualguy commented on #1749
See https://github.com/TheThingsNetwork/lorawan-stack/pull/1750 for suggested changes

[2019-12-19 06:06] ecities commented on #1731
Hi, I 've remove wildcard and it's not an issue.
It seams to be apache + ttn stack on the same machine issue.
Its very common situation, if somebody wants to put TTN stack and some DB/web app on the same device.

When apache is active (listening on 80, 443) port configuration - ttn stack do not allow to enable 80, 443 ports (80,443 must be # in docker-compose.yml - ports 1885, 8885 are used) . In

[2019-12-19 06:38] ecities opened #1752 "apache + ttn stack on the same machine + letsencrypt acme certificate get problem"
#### Summary

problem when apache is installed and enabled (listening 80/443) on the ttn machine.
TTN console blocked on 80/443 ports and working on 1885,8885 ports.

In this case ttn cant' get/update certifiate.
Its very common situation, if somebody wants to put TTN stack and some DB/web app on the same device.

https://github.com/TheThingsNetwork/lorawan-stack/issues/1731

**TTN shows error: mi

[2019-12-19 07:36] htdvisser commented on #1752
When you run The Things Stack behind a reverse proxy, you'll have to completely disable TLS in the configuration and make the proxy responsible for terminating all TLS connections (not only HTTP, but also gRPC, MQTT etc.). I suppose we could document how to disable all TLS listeners of The Things Stack, and what ports need to be mapped in the reverse proxy.

I think we can expect that people who w

[2019-12-19 08:24] htdvisser commented on #1749
We actually changed this because of the errata for LoRaWAN 1.0.3 that requires incementing DevNonces, see https://github.com/TheThingsNetwork/lorawan-stack/issues/743

[2019-12-19 08:25] htdvisser commented on #1749
@johanstokking already reached out to the Technical Committee. Let's block this issue until we get some clarification from them.

[2019-12-19 09:22] #1743 closed

[2019-12-19 09:45] neoaggelos commented on #1140
I added the [NASYS outdoor gateway](https://www.nasys.no/product/lorawan-gateway/) on the list, I could get that. Will create an issue and start working on the documentation later.

[2019-12-19 11:45] virtualguy opened #1757 "absolute_time field is not observed"
#### Summary

When publishing a downlink to a multicast group using the absolute_time field, the message is emitted nearly instantly by the gateway (approx 160ms latency).

#### Steps to Reproduce

1. Schedule a downlink using the absolute_time field via MQTT a few seconds in advance
2. Watch the gateway, node or SDR for logs that the message was sent earlier than scheduled

#### What do you see n

[2019-12-19 11:48] virtualguy commented on #1749
Ah I see, that would explain the code change. My understanding (from the 1.0.3 spec) is that 1.0.2 and 1.0.3 we completely interchangeable for Class A and Class C devices. As a work around we can just configure for 1.0.2.

Surely if it is an errata though the correct thing to do would be applied the changes to a new MAC version of 1.0.3-b

[2019-12-19 12:25] rvolosatovs commented on #1757
@virtualguy the absolute time in your example is in the past, which would explain the immediate scheduling, can you confirm that this happens also when the timestamp is in the future?

[2019-12-19 12:48] htdvisser opened #1759 "Make figure shortcode error on pictures that were not found"
#### Summary

We should make the `figure` shortcode in the documentation check if a file actually exists.

#### What is already there? What do you see now?

Right now the figure shortcode just puts the `src` into an `img` tag.

#### What is missing? What do you want to see?

The shortcode should check if the picture is available in the page resources, and otherwise error.

#### How do you propose

[2019-12-19 13:26] ecities commented on #1752
Hi @htdvisser , Thanks for response.

I tested on local computer with public/static IP address (lte based) - I don't know what the structure of network are.
I also tested on VPS (ovh.eu) directly on internet side - according to the provider it is without proxies and firewalls (only some DoS).

Both variants require the same (initializaton of certificate on standard 80/443 port for each client/ip s

[2019-12-19 13:46] htdvisser commented on #1752
The specifications for the HTTP-01 and TLS-ALPN-01 challenges of ACME require using port 80/443. You can not get or renew certificates using those challenges if you use different ports.

You can try requesting ACME certificates using the DNS-01 challenge with a tool like certbot (this is outside the scope of our documentation) or from a paid certificate authority (also outside the scope of our doc

[2019-12-19 13:49] htdvisser opened #1760 "Document configuration when running behind TLS-terminating Proxy"
#### Summary

When you run The Things Stack behind a reverse proxy, you'll have to completely disable TLS in the configuration and make the proxy responsible for terminating all TLS connections (not only HTTP, but also gRPC, MQTT etc.). We should document how to disable all TLS listeners of The Things Stack, and what ports need to be mapped in the reverse proxy.

I think we can expect that people

[2019-12-19 13:54] htdvisser opened #1761 "Improve documentation for using existing TLS certificates"
#### Summary

We should improve the documentation for using existing TLS certificates with The Things Stack

#### Why do we need this ?

Not all users will use the default configuration where The Things Stack requests automatic certificates from Let's Encrypt.

#### What is already there? What do you see now?

https://github.com/TheThingsNetwork/lorawan-stack/blob/master/doc/content/guides/getting

[2019-12-19 13:55] htdvisser commented on #1752
I created issue https://github.com/TheThingsNetwork/lorawan-stack/issues/1760 for documenting how to configure The Things Stack for running behind a TLS-terminating proxy.

I created issue https://github.com/TheThingsNetwork/lorawan-stack/issues/1761 for documenting how to configure externally requested certificates in The Things Stack.

[2019-12-19 13:55] #1752 closed

[2019-12-19 14:04] htdvisser commented on #1746
Closed by #1758

[2019-12-19 14:04] #1746 closed

[2019-12-19 15:09] rish-c opened #1762 "Add Multitech Gateway connection guide to V3"

[2019-12-19 15:10] rish-c opened #1763 "Connect The Things Uno/Node to V3"

[2019-12-19 15:11] #1762 closed

[2019-12-19 15:39] htdvisser commented on #1763
Please fill the issue template, @rish-c. We don't pick up empty issues.

[2019-12-19 15:39] #1763 closed

[2019-12-19 15:48] johanstokking commented on #1757
@virtualguy the problem is that `absolute_time` lives in the `class_b_c` object;

Here's a snippet of a working example using absolute time scheduling over class C:

https://github.com/TheThingsNetwork/lorawan-stack-example-clock/blob/master/controller/src/App.ts#L64-L73

[2019-12-19 20:56] ecities commented on #1752
thanks

[2019-12-19 22:32] rvolosatovs commented on #1757
@johanstokking why does this not cause an error? I remember @elsalahy had a very similar issue, where he made a typo and the behavior was not what expected.
This is very confusing to the user.
I guess the error handling is difficult with MQTT, so the AS just silently ignores malformed fields? In any case, IMO correct behavior would be to at least silently drop such malformed downlinks, but those r

[2019-12-20 01:59] neoaggelos commented on #1760
I had tried something similar a while back (for Nginx, not Apache, but it shouldn't actually matter). I think the documentation should discuss the following points:

- How to setup the stack URLs, given that the stack rewrites the request path (or at least that's what it used to do? I have not checked if that has changed recently)
- How to serve the stack under a URL prefix on the proxy server.
-

[2019-12-20 02:30] neoaggelos opened #1764 "Add NASYS Outdoor gateway connection guide"
#### Summary

Document setting up a NASYS LoRaWAN Gateway and connecting it to TTS.

#### Why do we need this ?

To get people to use our network.

#### What is already there? What do you see now?

Instructions for other gateways exist, but are not directly applicable on NASYS gateways.

#### What is missing? What do you want to see?

Easy to follow instructions for setting up a NASYS gateway and

[2019-12-20 08:35] htdvisser commented on #1760
Let's try to not broaden the scope of this issue too much. It's really easy to find more use cases that we want to cover, but then this issue will grow into something that takes a lot of time, while now it can be closed within a couple of hours (including review). Instead, we try to keep issues small, so that they can quickly be implemented and reviewed.

We can definitely create separate issues f

[2019-12-20 10:57] #1349 closed

[2019-12-20 10:57] #1666 closed

[2019-12-20 11:35] #206 closed

[2019-12-20 15:22] johanstokking commented on #1757
The input is valid JSON, so we can't fail. We don't validate JSON schema in incoming MQTT and webhook downlink messages. We can do that, but we have to bump major, see [compatibility commitment rule #1](https://github.com/thethingsnetwork/lorawan-stack/#commitments-and-releases).

So this gets interpreted as any JSON unmarshaling; it's an unknown field that gets discarded. In this case, `class_b_c

[2019-12-20 15:22] johanstokking commented on #1757
@virtualguy can you confirm that it works this way?

[2019-12-20 15:51] johanstokking commented on #1749
Yes, you are totally correct about the 1.0.3 spec and as such, our code is wrong. So I will be approving your pull request, and I wait for the LoRa Alliance to publish the errata and communicate how to deal with this breaking change.

The errata is there, it got accepted by the Technical Committee in February last year, but it never got published.

The errata is normative, saying that the DevNonce

[2019-12-20 17:17] rvolosatovs opened #1771 "Notify the users about ineffective fields in queued application downlink"
#### Summary

AS should notify the users about ineffective fields in queued application downlink

#### Why do we need this?

In order to avoid issues like https://github.com/TheThingsNetwork/lorawan-stack/issues/1757, where typos/mistakes in JSON cause unexpected behavior for users

#### What is already there? What do you see now?

Ineffective fields in application downlink JSON are silently ignor

[2019-12-20 17:17] rvolosatovs commented on #1757
@johanstokking see https://github.com/TheThingsNetwork/lorawan-stack/issues/1771

[2019-12-20 17:23] johanstokking commented on #1771
This should be in;

- [ ] MQTT
- [ ] Webhooks
- [ ] Pub/sub

[2019-12-21 14:44] johanstokking opened #1774 "Support ATECC608A-TNGLORA-C manifest"
#### Summary

Support ATECC608A-TNGLORA-C manifest format.

#### Why do we need this?

To be able to import devices by a manifest that is already issued by Microchip.

#### What is already there? What do you see now?

Support for TNGLORA-B.

#### What is missing? What do you want to see?

Support for TNGLORA-C.

#### How do you propose to implement this?

Leave the existing TNGLORA device template

[2019-12-23 09:32] #1774 closed

[2019-12-23 09:48] johanstokking commented on #1140
What is the status here @MathieuMonneret ?

[2019-12-23 12:07] MathieuMonneret commented on #1140
I actually have a doubt regarding the `GatewayEUI` I need to make sure once I am back at the office. Otherwise, the configuration is exactly the same as V2, just a link to ttn docs should be sufficient, same for registration. Also registration needs to happen after configuration, which doesn't really follow the generic template.

[2019-12-23 12:41] htdvisser commented on #1140
My comment https://github.com/TheThingsNetwork/lorawan-stack/pull/1765#discussion_r360807466 in the NASYS PR may also be relevant for other gateways, so reposting it here:

With v3 we can automatically configure gateways with not only server parameters, but also with its frequency plan:

[code]

@rvolosatovs wrote a nice script for Kerlink Wirnet gateways (in https://github.com/TheThingsNetwork/ke

[2019-12-23 13:34] johanstokking commented on #1394
@KrishnaIyer since https://github.com/TheThingsNetwork/lorawan-stack/pull/1682 we allow for defining the EIRP and duty-cycle per sub-band in the frequency plan. Also, we have added [AS923 variants for Australia with its EIRP](https://github.com/TheThingsNetwork/lorawan-frequency-plans/pull/11/files#diff-1eaeccb9459018646b35d244175c0162R5). This means that there should not be a difference anymore b

[2019-12-23 13:55] bafonins opened #1778 "Javascript SDK exposes sensitive device fields"
#### Summary

The JS SDK should not expose sensitive device fields to irrelevant components.

Related to https://github.com/TheThingsNetwork/lorawan-stack/issues/579

#### Steps to Reproduce

1. Create a new otaa device using the console
2. See `root_keys` sent to NS/AS, while this should be sent only to the JS

#### What do you see now?

Sensitive device information is exposed to irrelevant compo

[2019-12-23 14:51] kschiffer commented on #1740
This has been fixed already via #1603.

[2019-12-23 14:51] #1740 closed

[2019-12-23 15:23] johanstokking commented on #1140
I wonder if we should put effort in generalizing that script, because of the platform differences. Kerlink already has two configuration files, MultiTech has a different `clksource`, Tektelic is likely different as they don't use reference design. Then, these guys are all working on Basic Station support which hopefully ends the era of UDP configuration at all. I know I'm being very optimistic her

[2019-12-23 23:10] #1631 closed

[2019-12-23 23:51] adriansmares opened #1782 "Document webhook templates formatting and usage"
#### Summary

We need to document the webhook templates format and the process of creating such templates.

#### Why do we need this?

Such that integrators can create their own templates and contribute them to the Webhook Templates repository (or use them on their own).

#### What is already there? What do you see now?

[This](https://github.com/TheThingsNetwork/lorawan-stack/issues/945#issuecomm

[2019-12-23 23:55] adriansmares opened #1783 "Set up Webhook Templates repository"
#### Summary

We should create a Webhook Templates repository under TheThingsNetwork's GitHub organization.

#### Why do we need this?

The Webhook templates repository will contain descriptions and settings for webhook-based integrations which require both an HTTP endpoint and certain settings such as authorization tokens or which region to use, descriptions and names.

#### What is already there

[2019-12-24 09:18] htdvisser opened #1784 "Documentation for building OAuth clients"
#### Summary

It would be good to write some documentation for registering (and working with) OAuth clients.

#### Why do we need this ?

To help users integrate The Things Stack with their applications.

#### What is already there? What do you see now?

`ttn-lw-cli` commands to manage OAuth clients

#### What is missing? What do you want to see?

Documentation for how to register, what scopes to

[2019-12-24 13:49] #1614 closed

[2019-12-24 16:03] loganmc10 commented on #1140
I am trying to follow the instructions to join a TTN kickstarter gateway, the gateway won't join. The message in the logs say:

[code]

ttn-ks-gateway is the name of the gateway

Am I doing something wrong? The gateway seems to be trying to reach api/v2, but I think the server is only serving api/v3

[2019-12-24 16:07] KrishnaIyer commented on #1140
@loganmc10: This is not the right issue. Could you please create a separate issue for this mentioning the value of the `Account Server` that you used?

[2019-12-24 16:14] loganmc10 opened #1789 "Can't join Things Kickstarter Gateway to server"
#### Summary

I followed this guide: https://thethingsstack.io/v3.4.0/guides/connecting-gateways/thethingskickstartergateway/ to join my gateway to my TTN stack server. The gateway appears to be attempting to join, this is what shows up on the console of the server:
[code]

#### Steps to Reproduce

Attempt to join a kickstarter gateway to a TTN stack server

#### Environment

TTN stack 3.4.0, runn

[2019-12-24 16:15] KrishnaIyer commented on #1789
Thanks @loganmc10. Are you running the stack using `start`. The GCS is not started by default so you need to run the stack with `start all`.

[2019-12-24 16:16] loganmc10 commented on #1789
I run the stack using docker-compose, so I run ```docker-compose up```

[2019-12-24 16:17] loganmc10 commented on #1789
I see in my docker file:
[code]

You're saying I should change the command to ```start all```?

[2019-12-24 16:17] KrishnaIyer commented on #1789
Then please update your docker compose file to use `command: start all`

[2019-12-24 16:36] loganmc10 commented on #1789
Ok perfect I have it connected now, a couple questions around documentation:

where is the ```start all``` requirement documented? Every document I saw just lists "start"

Secondly, it appears like port 1881/8881 is used for MQTT? For instance I see:
[code]
In the example docker file, however 1881/8881 is not listed in the "ports" section. I had to add it to the ports section before the gateway wo

[2019-12-24 20:21] KrishnaIyer commented on #1789
Yeah you're right. This is not documented.

We'd be more than happy if you create a PR for this. I'd recommend creating a sub-section under `Running The Things Stack` in `guides/getting-started/running-the-stack/`.

This is not a functional change but serves as a reference documentation. Feel free to add this in the doc as well.  You can add `8886` to this list since we've not documented that as w

[2019-12-26 15:54] neoaggelos commented on #1140
@johanstokking NASys gateway also uses a fork of the semtech packet forwarder, with some vendor-specific configuration options . Perhaps having a generic script would be more trouble than it's worth? also see [my comment](https://github.com/TheThingsNetwork/lorawan-stack/pull/1765#discussion_r361480985) at #1765

[2019-12-26 18:32] KrishnaIyer commented on #1351
@beitler: Thanks for the info. The initial test that I did showed that the Upper 16 bit of the timestamp changed every time the connection was re-established. I see that this is not the case and will be fixed by #1787

[2019-12-26 18:36] KrishnaIyer commented on #1708
Indeed this is what I should've done for the SessionID. Instead of just using the session ID from the initial connect, the number of rollovers should've been added to it.

[2019-12-27 08:07] #316 closed

[2019-12-27 14:01] johanstokking commented on #1351
I think the upper most word of `xtime` is what we interpret as session ID (i.e. changes on (re)connect) and that the next word is already part of the timestamp. This is indeed effective in #1787.

[2019-12-28 17:15] anush0247 commented on #1140
@KrishnaIyer We added documentation for MultiTech Conduit AEP gateway

As we don't have `feature/gateway-documentation` we targeted #1793 to `master` branch.

[2019-12-30 11:25] #1351 closed

[2019-12-30 11:25] #1701 closed

[2019-12-30 11:25] #1707 closed

[2019-12-30 11:25] #1708 closed

[2019-12-30 11:25] #1709 closed

[2019-12-31 04:42] ktsolakas commented on #1701
@johanstokking  I have upgraded to 3.4.1 and still seeing timing issues. Attaching the lora-pkt-fwd log
[lora-pkt-fwd-31_12_2019.log](https://github.com/TheThingsNetwork/lorawan-stack/files/4011927/lora-pkt-fwd-31_12_2019.log)

[2019-12-31 08:46] johanstokking commented on #1701
Yes that's completely off. Can you send me the corresponding server logs via a private channel? We need to have both server and gateway logs of the same events to figure out what's going on.

[2020-01-01 22:14] GMouaad commented on #1784
This would be very helpful! Thank you in advance :)

[2020-01-02 02:15] ktsolakas commented on #1701
Sending now via mail

[2020-01-02 15:06] kschiffer opened #1798 "Add feature toggles to entity status bars"
#### Summary
The status bars displayed in the head portion of the entity overview pages do not use feature toggles to determine what information can be rendered. This leads to the loading spinner showing infinitely, unnecessary API calls being made and potentially crashes.

#### Steps to Reproduce
1. Create application (as non-admin user)
2. Revoke own rights for displaying e.g. api keys or collab

[2020-01-03 12:08] #1798 closed

[2020-01-03 12:41] #1661 closed

[2020-01-03 15:43] #852 closed

[2020-01-03 17:00] kschiffer opened #1802 "Add search functionality for entities in console"
#### Summary
The console should enable users to search for entities by id.

Comprises #1654

#### Why do we need this?
Better UX for users with large quantities of entities.

#### What is already there? What do you see now?
- Search endpoints in the entitiy registry
- Logic for search in our redux logics
- `searchable` flag in the `<FetchTable />`, enabling search (provided that the get action sup

[2020-01-05 13:36] johanstokking commented on #1120
@htdvisser even having https://github.com/TheThingsNetwork/lorawan-stack/issues/1703 (now in Next Up) is not entirely covering the common use case of being able to create a gateway with an EUI that has been used before. Looping in an administrator to purge an entity is not a nice user experience, plus purging an entity is more destructive than simply releasing the EUI.

Afaik we don't have securit

[2020-01-06 18:26] rvolosatovs commented on #1749
Closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/1780

[2020-01-06 18:26] #1749 closed

[2020-01-06 23:23] virtualguy opened #1807 "Fail to update the gateway eui via cli"
#### Summary
When trying to just set the gateway eui the field wont update. ~~A work around is to set an additional field (such as --name) at the same time and then the command takes affect.~~

#### Steps to Reproduce
1. ttn-lw-cli gateway create example_gateway
2. ttn-lw-cli gateway update example_gateway --gateway-eui 00800000a0999999
3. Observe that the gateway eui is not set

#### What do you

[2020-01-07 00:32] neoaggelos commented on #1807
Thanks @virtualguy for reporting this. This is indeed a bug with the cli. I have tracked the cause and currently working on a solution.

[2020-01-07 01:44] virtualguy commented on #1807
Thanks @neoaggelos to confuse matters if I specify an eui then it reponds back with the eui set but does not actually update the database. So the above mentioned workaround does not help

[2020-01-07 01:50] neoaggelos opened #1809 "Include gateway_ID on GatewayConfigurationServer response"
#### Summary

The configuration provided by GCS for the semtechudp packet forwarder does not include any gateway EUI information. Some versions of the packet forwarder (e.g. the one used in NASys gateways). As a result, even though the gateway may be able to connect to The Things Stack, the log messages show:

[code]

This, in turn, may cause errors later, because of possible EUI mismatch on diffe

[2020-01-07 09:52] johanstokking opened #1812 "Configure ScheduleTimeLong per gateway"
#### Summary

Configure `ScheduleTimeLong` per gateway

#### Why do we need this?

To be able to adjust the time that GS schedules class C messages in advance per gateway.

This is necessary as we should not be increasing `ScheduleTimeLong` to arbitrary high values (see i.e. https://github.com/TheThingsNetwork/lorawan-stack/pull/1811), because that adds delays to class C scheduling. Those delays a

[2020-01-07 11:01] kschiffer opened #1814 "Pagination does not work for search requests"
#### Summary
The `page` prop is not working properly for `SearchEndDevicesRequest`.

Blocking #1803

#### Steps to Reproduce
1. Create an app with the name `test-app`
2. Create two devices with the IDs `device-one` and `device-two`
3. Run `GET http://localhost:1885/api/v3/search/applications/test-app/devices?page=2&limit=1&id_contains=device`
4. Observe an empty response

Same holds true for all o

[2020-01-07 13:58] ecities opened #1815 "Update gateway location observed by Gateway Server"
#### Summary

Hi. I've got questions with comes up during development.

Kerlink Wirenet +with GPS and GSM sends its position (logs in spf) however it is not automatically updated in the console (map or position) v3.3.2.
Can it be automatically updated?
Can GPS position be added to the JSON status of the device (for integration)?

#### Why do we need this?

This is good way to test range the whole

[2020-01-07 19:41] zamashal opened #1818 "Support for installing servers on different locations"
#### Summary

It would be very helpful to be able to install TTN Network Server, Application Server, and Join Server separately. Currently in the guides, I only found instructions to install the ttn-lw-stack all-in-one, but no option to install each server separately if you want them to work together from different environments.
...

#### Why do we need this ?

This is a great feature to have that

[2020-01-08 12:32] #1807 closed

[2020-01-08 13:37] johanstokking commented on #1818
Thanks for the suggestion @zamashal

Indeed the Getting Started is currently for the single process approach, but as you might have seen, you can start the components individually. See;

[code]

It's not very difficult to spawn services per component when these services are part of the same cluster and subnet.

I'm scoping this issue for now to instructions on how to;
- Install a stand-alone Ident

[2020-01-08 13:46] #1809 closed

[2020-01-08 13:47] #1764 closed

[2020-01-08 13:52] KrishnaIyer opened #1820 "Support multiple concentrator v3 gRPC Clients/Gateways."
#### Summary

Support multiple concentrator v3 gRPC Clients/Gateways.

#### Why do we need this?

To allow v3 gRPC clients(gateways) with multiple concentrators to work with the stack.

#### What is already there? What do you see now?

With #761, we have multi frequency plan support in GS. The gRPC frontend uses only the first frequency plan.

#### What is missing? What do you want to see?

Suppor

[2020-01-08 14:53] kschiffer opened #1821 "Enable sorting for entity tables in console"
#### Summary
The entity tables in the console should have support for sorting by columns.

#### Why do we need this?
Basic functionality.

#### What is already there? What do you see now?
- Groundwork in the table / fetch-table components
- RPCs supporting sorting already

#### What is missing? What do you want to see?
- Essentially some wiring to enable sorting in the console

#### Environment
v3

[2020-01-08 15:05] kschiffer commented on #1654
Closing this, since it intersects with #1803. Please continue discussion there if need be.
The issue has a PR and should be resolved soon.

[2020-01-08 15:05] #1654 closed

[2020-01-08 15:13] KrishnaIyer opened #1824 "Support Multiple Frequency Plans in Scheduler"
#### Summary

Support Multiple Frequency Plans in Scheduler (refs #761)

#### Why do we need this?

Enable downlinks on multiple concentrators.

#### What is already there? What do you see now?

Branch `feature/761-multi-fplan-gtw` contains the rest of the items discussed in #761.

#### What is missing? What do you want to see?

Use the supported `FrequencyPlans` struct in the scheduler and use th

[2020-01-08 15:16] kschiffer opened #1825 "Advanced entity search (in console)"
#### Summary
Entity search in the console is currently limited to IDs only (#1803). We should enhance search capabilities for advanced use cases.

#### Why do we need this?
Users with a lot of entities might want to find specific entities based on properties other than the ID.

#### What is already there? What do you see now?
- Entity search by ID in the console
- Search RPCs of the entity registr

[2020-01-08 16:14] decentlab commented on #1670
Probably the strict confinement is restricting access to hidden (dot) files. Maybe [personal-files-interface](https://snapcraft.io/docs/personal-files-interface) is a way to go.

[2020-01-08 17:12] #1821 closed

[2020-01-08 17:39] adriansmares commented on #1783
Blocked by #1782, #1699.

[2020-01-08 17:40] adriansmares commented on #1782
Blocking #1783.

[2020-01-08 17:40] adriansmares commented on #1699
Blocking #1783.

[2020-01-08 17:48] adriansmares opened #1828 "Add events to the application packages frontend"
#### Summary

Add events and metrics to the application packages integrations frontend.

#### Why do we need this?

In order to be able to follow asynchronous actions that occur in the application packages frontend.

#### What is already there? What do you see now?

There are no events.

#### What is missing? What do you want to see?

Outside of the classical CRUD events, an event for failed proce

[2020-01-08 18:19] adriansmares opened #1829 "Stream downlink payload limits from NS to AS"
#### Summary

The AS should be able to determine the maximum payload size for a downlink without having to go through a trial-and-error approach with `errApplicationDownlinkTooLong`.

#### Why do we need this?

Application Server integration frontends need to know what could be the current maximum payload for a specific device in order to avoid rescheduling the same downlink multiple times.

####

[2020-01-08 18:19] adriansmares commented on #1328
Since #1399 added application packages support and #1751 adds support for the LoRa Cloud Device Management Service, I've extracted the remaining part of the issue into #1829 and I'm closing this one.

[2020-01-08 18:19] #1328 closed

[2020-01-09 02:48] virtualguy opened #1831 "Messages stop being sent to connected mqtt clients when re-linking application"
#### Summary
When a existing mqtt or grpc client is connected and the application link is updated (to the same value) the existing client stops receiving messages for all topics. The client does continue to stay connected and gets keep alive messages (pingresp). On restarting the mqtt client the traffic returns to normal

#### Steps to Reproduce
1. Create an application as per the getting started

[2020-01-09 09:22] htdvisser commented on #1120
Yes, we could update the Gateway EUI field to nil/NULL on delete. Should be as simple as adding a

[code]

in `pkg/identityserver/store/hooks.go`.

[2020-01-09 10:40] johanstokking commented on #1824
Can you see if you can pick this up? Would be great as a separate PR and not part of #1826.

[2020-01-09 10:41] johanstokking commented on #1120
@bafonins can you pick this up?

[2020-01-09 10:43] KrishnaIyer commented on #1824
Ok. I'll take this.

[2020-01-09 12:10] htdvisser commented on #1814
@kschiffer it would save a lot of time if you could add backend logs (with log level debug) so that we can see the queries that are executed.

[2020-01-09 13:00] kschiffer commented on #1814
Sorry.

Request:
[code]

Relevant backend logs:
[code]

[2020-01-09 14:45] htdvisser commented on #1814
This looks really strange. Are you sure the logs correspond to this exact request?

- The request has `page=2`, but the logs show a query with `OFFSET 0`
- The DB logs show `rows=1`, but your response is an empty `{}`

[2020-01-09 15:05] kschiffer opened #1832 "Revert display of API Key ID in safe inspector"
#### Summary
Displaying the API Key ID in the safe inspector inside table rows wrongfully suggests that the value is the whole API Key to be copied.

#### Why do we need this?
Prevent confusion about API Key IDs and whole API Keys

#### What is already there? What do you see now?
API Key ID in safe inspector component

#### What is missing? What do you want to see?
Displaying only the first few ch

[2020-01-09 17:45] kschiffer commented on #1814
Yeah, sorry. The log was not the one corresponding to the request. I've updated my comment.

[2020-01-09 20:25] johanstokking commented on #1815
Thanks, good suggestion.

The gateway status is observed by the Gateway Server, while the location is stored in Identity Server. To keep things simple, we might want to allow the Gateway Server to update the gateway's `location` with location source set to `SOURCE_GPS`. We would need to figure out what rights GS needs to do that. There's already an API key but intended only for linking the gateway

[2020-01-09 22:18] rvolosatovs opened #1835 "Downlink path recovery"
#### Summary

GS loses all downlink paths on restart, that should not happen

#### Why do we need this?

In case GS restarts it cannot handle any downlink path from previous session, causing all NS scheduling attempts to fail until an uplink is routed by the gateway or a status message.
This is especially bad for network-initiated downlinks, i.e. Class B and Class C. In case when device is mostly

[2020-01-10 10:07] htdvisser commented on #1815
This issue has two components:

1. The GS automatically updating a gateway (antenna) location in the IS:
  - I think we should only do this for mobile gateways (we don't want to update the locations of thousands of fixed gateways with an inaccurate GPS location every 30 seconds). We also have another issue (#545) that might benefit from a "mobile_gateway" flag in the registration.
  - I think it's

[2020-01-10 11:21] #1719 closed

[2020-01-10 13:19] MathieuMonneret opened #1837 "Support Generation of Gateway Configuration for 16/64 Channel UDP gateways"
#### Summary

Add support to return a UDP packet forwarder global_conf.json with multiple concentrator support.
see also #761

#### Why do we need this?

This is to support the configuration of 16 (or more) ch gateways with UDP Ex: Cisco Wireless gateway and Kerlink.
#### What is already there? What do you see now?

`pfconfig` supports only `SX1301_conf` object.

#### What is missing? What do you

[2020-01-10 15:48] neoaggelos opened #1838 "Mage cannot generate protos when folder name is not lorawan-stack"
#### Summary

Regenerating the proto files fails when the repository folder is not named `lorawan-stack`

#### Steps to Reproduce

1. `git clone git@github.com:TheThingsNetwork/lorawan-stack custom-lorawan-stack`
2. `cd custom-lorawan-stack`
3. `make mage`
4. `./mage proto:clean proto:all`

#### What do you see now?

[code]

#### What do you want to see instead?

The build to succeed

#### Environ

[2020-01-10 17:18] GMouaad commented on #1694
Is it possible in the future to enable the Stack Owner (the admin) to subscribe to all topics. Or is there anything that speaks against it? I can imagine that an argument would be the data ownership.

[2020-01-12 19:43] virtualguy commented on #1831
@htdvisser @johanstokking  thoughts?

[2020-01-12 21:36] #1838 closed

[2020-01-12 23:27] neoaggelos opened #1840 "Ability to configure gateway schedule delay via Console"
#### Summary

With #1834 gateways will have a new `schedule_anytime_delay` field. It is currently configurable using the API and the CLI:

[code]

We should be able to update this field using the Console as well

#### Why do we need this?

Completeness, more user-friendly than having to dig up a specific option in the cli.

#### What is already there? What do you see now?

[code]

#### What is mis

[2020-01-13 00:44] virtualguy opened #1841 "Create gateway fails unless run from a TTY"
## Summary
When automating the gateway creation process the 'ttn-lw-cli gateway create' command silently fails if not run from a TTY.

Note that this appears to be the case for gateway creation. Other cli commands (gateways list etc) seems to work correctly when run without a tty.

#### Steps to Reproduce
1. Run the following collection of scripts to simulate running the command without an attache

[2020-01-13 10:08] johanstokking commented on #1831
@adriansmares existing subscriptions on links (like MQTT) need to be restored somehow when the link disappears. I think this has to be initiated by the subscriber, i.e. MQTT frontend, to start watching the link become available while it has clients connected.

[2020-01-13 10:37] johanstokking opened #1842 "Document JSON application data format"
#### Summary

Document JSON application data format.

#### Why do we need this ?

For application developers to know what data and fields they can expect.

#### What is already there? What do you see now?

Documentation to set up MQTT, webhooks and pub/sub integrations.

#### What is missing? What do you want to see?

The format of the upstream and downstream messages.

#### How do you propose to

[2020-01-13 11:28] rvolosatovs opened #1844 "Logging out does not work"
#### Summary

Logging out does not work

#### Steps to Reproduce

1. Log in in the console
2. Log out in the console

#### What do you see now?

After clicking "log out" button I'm redirected to a page with single button "Login", after clicking "Login", I'm logged in again without asking for my username and/or password.

#### What do you want to see instead?

Show the login screen after "log out"

[2020-01-13 13:03] kschiffer commented on #1844
That is because you're only logging out from the console as OAuth client, not from the OAuth provider itself. Hence you can log back in without being asked for credentials as your still authenticated for the OAuth provider. To logout from the OAuth provider, you need to go to `/oauth`.
Technically, this is the correct behavior, but we're aware of the UX issue this creates. We will fix this issue a

[2020-01-13 13:30] bafonins commented on #1840
Blocked by https://github.com/TheThingsNetwork/lorawan-stack/pull/1834

Can we implement this similar to the `JoinEUIPrefixesInput`? Something like this:
<img width="713" alt="Screenshot 2020-01-13 at 15 27 41" src="https://user-images.githubusercontent.com/16374166/72259565-7b5d0f00-3619-11ea-9657-2965e26110a2.png">
where the second input is of type `number`

cc @kschiffer

[2020-01-13 13:35] kschiffer commented on #1840
Good idea, though I would swap the order: number first, then unit.

[2020-01-13 15:00] #1120 closed

[2020-01-13 15:11] kschiffer opened #1845 "Use compound approach for navigation components"
#### Summary
We're currently using unnecessarily complex and unflexible logic for rendering items inside our navigation components (e.g. header, side navigation). We can simplify this by using the compound approach and pass items as react children rather than object arrays.

#### Why do we need this?
Unnecessary complexity, and lacking rendering flexibility

#### What is already there? What do you

[2020-01-13 15:16] kschiffer opened #1846 "Remove context-based approach of sidebar navigation"
#### Summary
In order to render the sidebar navigation outside of own DOM tree, we use an approach based on React's context API. This can be done considerably simpler by using React portals.

#### Why do we need this?
Reduce complexity of the sidebar navigation component.

#### What is already there? What do you see now?
Sidebar navigation component with context logic

#### What is missing? What d

[2020-01-13 15:56] #1699 closed

[2020-01-13 17:14] bafonins commented on #1120
@adamsondelacruz please reopen if https://github.com/TheThingsNetwork/lorawan-stack/pull/1843 doesnt solve the issue.

[2020-01-13 19:49] johanstokking commented on #1840
Yes, both good ideas

[2020-01-13 22:30] rvolosatovs opened #1854 "Support switching to external JS from CLI"
#### Summary

Support switching to external JS from CLI

#### Why do we need this?

For cases when user has to switch to external JS

#### What is already there? What do you see now?

No such functionality

#### What is missing? What do you want to see?

A CLI flag/subcommand for accomplishing this

#### How do you propose to implement this?

Add a flag to `device update`

#### Can you do this you

[2020-01-14 08:18] htdvisser commented on #1320
@pgalic96 this can be closed, right?

[2020-01-14 08:18] #1320 closed

[2020-01-14 11:00] KrishnaIyer commented on #1824
To summarise our discussions here:
- For now the FPs have to be from the same band.

As for combining frequency plans in the scheduler
- The timeOffAir parameter should be the same (same value or unset) across the FPs?
- As for sub bands, it would be a **union** of the frequencies right? The sub-bands encapsulate the difference in duty cycling so creating sub-bands based on the union of the FPs sh

[2020-01-14 11:05] #1812 closed

[2020-01-14 11:15] johanstokking commented on #1824
Yes. If they don't match we can safely error.

That would be best. There are three scenarios then;

1. There are no FR sub-bands defined, which is great
2. The same sub-band for all FPs is configured, this is also good
3. The sub-bands of the given frequency plans do not overlap, this is also fine
4. The sub-bands of the given frequency plans are not the same and overlap. This is not good

[2020-01-14 11:35] johanstokking opened #1857 "End device settings form PUTs on cluster JS while JS is external"
#### Summary

#### Steps to Reproduce

1. Create a device with external JS, i.e. a JS address that doesn't match the Console's configured JS address
2. Change the LoRaWAN version of the device
3. Observe the requests

#### What do you see now?

There is a PUT to the cluster JS:

[code]

#### What do you want to see instead?

I don't want to see a PUT on the cluster JS when there's an external JS.

[2020-01-14 11:36] johanstokking commented on #1857
cc @tftelkamp

[2020-01-14 14:43] rvolosatovs commented on #1835
As a side effect this also slows down progress on #19 due to device having to rejoin and go through the whole beacon acquisition process again after each stack restart. This process takes ~10 minutes.

[2020-01-15 00:31] zamashal commented on #1818
@johanstokking Thank you very much for your response and adding the issue to the backlog. In the meantime, I wonder if you can help me with this. I started the join server alone with the following command:
``ttn-lw-stack start js --cluster.network-server "ns_ip_address" --cluster.application-server "as_ip_address"``

What I can't figure out is at which port the Join Server receive the Join_Req and

[2020-01-15 08:42] johanstokking commented on #1818
@zamashal in fact JS is the server and NS and AS are clients. So configure the JS cluster address in NS and AS. That makes them work in the same cluster, although they are individual components. Note that this uses cluster authentication, which is designed for components trusting each other in the same cluster. If you are deploying GS, NS and AS on the edge, and JS in the cloud, this is probably n

[2020-01-15 09:58] #1854 closed

[2020-01-15 11:37] #1845 closed

[2020-01-15 11:37] #1846 closed

[2020-01-15 14:04] rvolosatovs opened #1860 "`dev.stack.init` is insufficient"
#### Summary

`dev.stack.init` does not sufficiently initalize the environment.
Probably introduced by #1834
See https://github.com/TheThingsNetwork/lorawan-stack/issues/1860#issuecomment-574674903 for why this happens.

#### Steps to Reproduce

1. Run `make dev.stack.init`
2. Start the stack

#### What do you see now?

[code]

#### What do you want to see instead?

Successful stack execution

###

[2020-01-15 14:08] neoaggelos commented on #1860
This is because `dev.stack.init` uses the docker image. So, until a new version is out, `docker-compose run --rm stack` uses a stack version without the `schedule_anytime_delay` field.

Running `go run ./cmd/ttn-lw-stack is-db migrate` should be enough.

[2020-01-15 18:31] rvolosatovs commented on #1835
Hmm, I can't reproduce it with class C, I suppose that was caused by https://github.com/TheThingsNetwork/lorawan-stack/pull/1858/commits/ad5504a95565aa168923979a3f9d7a3e5dc2da0a
Closing for now.

[2020-01-15 18:31] #1835 closed

[2020-01-16 09:07] #1860 closed

[2020-01-16 10:37] #1857 closed

[2020-01-16 15:59] KrishnaIyer commented on #1824
closed via #1859

[2020-01-16 15:59] #1824 closed

[2020-01-16 23:00] zamashal commented on #1818
Thanks again @johanstokking ! I have been trying to get this setup working as you explained. There is one thing confusing me. At the link you provided, there is an example on how to set up **Interoperability with Semtech Join Server**. However, I am trying to use TTN Stack's Join Server itself, and not something external like Semtech's or others. Do I still need to put in the configuration for ``c

[2020-01-16 23:30] neoaggelos opened #1866 "Use mage instead of make"
#### Summary

Do not depend on `make` for setting up a development environment. @rvolosatovs Did some initial work with #1861, this is a follow-up.

#### Steps to Reproduce

#### What do you see now?

Mage targets instead, e.g.

[code]

and similar targets

#### Environment

all

#### How do you propose to implement this?

#### Can you do this yourself and submit a Pull Request?

Yes

[2020-01-17 01:38] neoaggelos opened #1868 "Gateway general settings missing in Console"
#### Summary

There are gateway fields that cannot be edited using the Console, e.g. `location_public`, `auto_update`

#### Why do we need this?

- Completeness
- With #1849 the `location_public` gateway field starts to have an important role. It should be easy for the user to view and edit.

#### What is already there? What do you see now?

I can edit other gateway settings

![image](https://user

[2020-01-17 08:52] johanstokking commented on #1818
@zamashal Here are roughly the things that need to be done;

## Join Server interop configuration

See flags:

[code]

Interop has its own dedicated listener that uses TLS client authentication. You can use the same public IP address as for gRPC and use a dedicated interop port (default 8886).

You need a private CA that issues client certificates. These are used on the edge by NS. You can configu

[2020-01-17 08:55] johanstokking commented on #1818
Also, if you make this work, feel free to file a pull request for documenting this. It would probably need a guide, but the [reference page](https://github.com/TheThingsNetwork/lorawan-stack/tree/master/doc/content/reference/interop-repository) needs some love as well.

[2020-01-17 15:07] zamashal commented on #1818
@johanstokking, I will be working on this and hopefully as soon as I get it figured out I will be sure to make a pull request to update the guide. Can't thank you enough for all your help!

[2020-01-17 19:00] GMouaad commented on #1226
Any Explanation how you resolved the issue please ?
I'm running the Stack on a VM, so i assumed it has smth to do with the redirects or csrf ??
I get the following error:
`{"code":16,"message":"error:pkg/errors/web:unknown (Unauthorized)","details":[{"@type":"type.googleapis.com/ttn.lorawan.v3.ErrorDetails","namespace":"pkg/errors/web","message_format":"Unauthorized","attributes":{"message":"No au

[2020-01-20 14:29] rvolosatovs opened #1880 "Allow empty JoinEUI"
#### Summary

Allow empty JoinEUI

#### Why do we need this?

To support devices with empty JoinEUI

#### What is already there? What do you see now?

Empty JoinEUI not supported

#### What is missing? What do you want to see?

Support for empty JoinEUI

#### How do you propose to implement this?

Remove the `IsZero` checks in AS,NS,JS and check that nothing breaks e.g. in Redis registries.

####

[2020-01-20 14:43] kschiffer commented on #1814
Unfortunately, this is still not resolved. The request above still yields the same result.
Appears like I did not test your PR thoroughly enough. Mea culpa 🙏

[2020-01-20 14:57] #1257 closed

[2020-01-20 22:36] #1868 closed

[2020-01-21 11:58] #1880 closed

[2020-01-22 14:02] htdvisser opened #1890 "Restrict create rights of users"
#### Summary

We should add an option to restrict the rights of users to create entities in their account.

#### Why do we need this?

A network operator may want to prevent users from creating entities in their own account, and only allow creating entities in organizations they have access to. This feature could also be used to prevent users from requesting OAuth clients.

#### What is already th

[2020-01-22 16:48] Oliv4945 opened #1891 "Console event log is broken ofr devices and gateways"
#### Summary
Event log in the console is no longer working. It displays
[code]

#### Steps to Reproduce

1. Use HEAD code from master or any Docker build since [this one](https://hub.docker.com/layers/thethingsnetwork/lorawan-stack-dev/50f59ad3e1b68a5d2f98264e28a271b87c8e2cf2/images/sha256-f0d7ad91799941518d122c73c37a19a9c2c43f17a0fb2238d1ea643f0fab9e61)

Older images are working. I do not know th

[2020-01-22 20:51] #1832 closed

[2020-01-23 01:37] #1866 closed

[2020-01-23 06:11] htdvisser commented on #1891
Referenced Docker image is from 50f59ad3e1b68a5d2f98264e28a271b87c8e2cf2.
PR #1870 by @bafonins.

[2020-01-23 06:12] htdvisser commented on #1891
If event streams are indeed broken, this needs to be fixed before the next release

[2020-01-23 06:24] htdvisser commented on #1789
PR #1894 and #1895 should close this issue.

[2020-01-23 11:19] #1891 closed

[2020-01-23 11:19] bafonins commented on #1891
@Oliv4945 please reopen if the issue is not resolved in https://github.com/TheThingsNetwork/lorawan-stack/pull/1896

[2020-01-23 14:25] htdvisser opened #1903 "Allow listing of and searching for soft-deleted entities"
#### Summary

It would be helpful if we could add a flag to the List and Search requests to include soft-deleted entities.

#### Why do we need this?

This would let a user (or admin) restore them or permanently delete them (#1121, #604, #1703)

#### What is already there? What do you see now?

- We do soft-delete, so deleted entities are just entities with a non-nil deleted_at field.
- Deleted en

[2020-01-23 14:48] Oliv4945 commented on #1891
@bafonins I confirm that the issue is solved. Thank you

[2020-01-23 14:58] #1814 closed

[2020-01-23 15:58] #761 closed

[2020-01-23 19:00] #1782 closed

[2020-01-23 19:33] #1831 closed

[2020-01-24 08:40] htdvisser opened #1907 "Remove bloat from releases"
#### Summary

Our release packages are growing with unnecessary bloat

#### Steps to Reproduce

Look at the recent releases.

#### What do you see now?

Packages have grown from 50MB to 100MB.

#### What do you want to see instead?

They should stay roughly the same size.

#### How do you propose to implement this?

Remove the documentation. We already have the documentation site, and the document

[2020-01-24 10:06] MathieuMonneret opened #1908 "Button to access the web claim app easily."
#### Summary

Add a button in the console to access the web claim app, would be great to have it for the conference.

#### Why do we need this?

So that we can easily claim devices without having to manually edit the link every time.

#### What is already there? What do you see now?

![tti eu1 cloud thethings industries_console_applications_test-py_devices(Laptop with HiDPI screen) (1)](https://us

[2020-01-24 10:24] kschiffer commented on #1908
Is this feasible @htdvisser, @johanstokking ?
The console does not know whether the claim app is set up and if yes, where it has been set up (`/claim` is just the standard route).
To achieve that, we'd need to make the console more aware of the overall deployment by passing more information from the backend to the frontend. As far as I'm concerned, I'd like to avoid these cross-application depende

[2020-01-24 10:42] adriansmares opened #1909 "Clarify the usage of the downlink operations"
#### Summary

The term `queue` should be removed from the naming of the documentation sections. We also should clarify that the FPort is a required field.

#### Why do we need this ?

For new users it is unclear if the said question is actually what they are looking for or not.

#### What is already there? What do you see now?

Sections named `downlink queue operations`, and the phrasing for FPort

[2020-01-24 12:06] #1802 closed

[2020-01-24 12:22] kschiffer opened #1910 "Extend store logic for search results"
#### Summary
We need to change the way we handle search results in our redux store. Currently, we treat search request just like regular list requests.

#### Why do we need this?
- The `totalCount` prop we're using will be affected by search requests, resulting in the UI showing wrong values for the total number of entities
- Search requests will trigger a `fetching` toggle for the `GET_*_LIST` ac

[2020-01-24 16:20] zamashal opened #1911 "open cert.pem: no such file or directory (self-signed certificate)"
#### Summary

After running docker-compose up, I am seeing the following error:
[code]
I made sure the ``cert.pem`` file exists in the same directory where I have ``docker-compose.yml`` and run the ``docker-compose up`` command from (**I am using a self-signed certificate**). I also made sure I have run ``chown 866:866 ./cert.pem ./key.pem``. Even when I changed it to an absolute file path in the

[2020-01-24 19:36] zamashal commented on #1911
When I run with ``ttn-lw-stack start`` instead of ``docker-compose up``, I see: ``open cert.pem: permission denied``

[2020-01-24 20:45] johanstokking commented on #1911
Hi @zamashal, great to see that you're setting The Things Stack up yourself.

Please see https://thethingsstack.io/v3.5.0/guides/getting-started/certificates/ for permissions for the certificates.

Also, see https://thethingsstack.io/v3.5.0/guides/getting-started/configuration/ for configuration of the Docker Compose file. Note that you need to have a volume mount for your certificates, so that th

[2020-01-25 21:22] #1789 closed

[2020-01-26 22:30] pgalic96 commented on #1910
- regarding the issue with updating entity count: let's just have a new variable that stores the total value of devices (would be computed when the view is mounted). that way it will not depend on the `totalCount` that is used for pagination.

- regarding the fetching issue, my suggestion is to create a new store `SEARCH_*` request that will not trigger the fetching when called.

[2020-01-27 13:31] bc547 opened #1920 "Resent email address verification mails?"
#### Summary
The lorawan-stack implements an email verification feature to make sure users have a valid email address. However, if this verification mail gets lost somehow, there is no possibility to send another one and manual intervention of an admin is required.

#### Why do we need this?
In a setup with a lot of users, it would be handy if the user itself could request a new verification mail

[2020-01-27 16:19] htdvisser commented on #1920
Related: https://github.com/TheThingsNetwork/lorawan-stack/tree/feature/contact-info-cli

[2020-01-27 16:42] bafonins commented on #1460
Not solved via https://github.com/TheThingsNetwork/lorawan-stack/pull/1519

1. Go to `/console/applications/<app-id>/integrations/webhooks/add`
2. Refresh the page
3. See the `Integrations` item not being expanded

[2020-01-27 16:54] bafonins opened #1924 "Multiple scrollbars in desktop view"
#### Summary

There are pages in the Console that have multiple scrollbars in the desktop view

#### Steps to Reproduce

1. Go to the pubsub create page
2. See 2 scrollbars that in certain cases make it problematic to scroll the page seamlessly

#### What do you see now?

2 scrollbars in the pubsub create page

#### What do you want to see instead?

just a single scrollbar

#### Environment

Googl

[2020-01-27 17:10] kschiffer commented on #1924
This is related to this change:
https://github.com/TheThingsNetwork/lorawan-stack/commit/f5e5a3d4b62bda89a3f0ccef6bb6086200c8f2ac

Do you recall the context?

[2020-01-27 18:49] #1460 closed

[2020-01-27 23:02] Oliv4945 opened #1928 "Bad payload decryption after a new join when using external JS"
#### Summary
When a device joins with external JS for the 2nd time or more the payload is not decrypted correctly, it seems that session keys used by the LNS are wrong

#### Steps to Reproduce
1. Create a device using[ Semtech's join server](https://www.loracloud.com)
2. Join network
3. Send a payload => In MQTT uplink, payload is ok
4. Reset the device
5. Join the netwok
6. Send a payload => In M

[2020-01-28 09:14] bafonins commented on #1910
Please take into account that sorting table entries also triggers the entity title section to reload. I think this shouldnt be the case

[2020-01-28 09:49] #1172 closed

[2020-01-28 10:00] johanstokking commented on #1911
Seeing the warm emoji, I think this resolved your issue, hence I'm closing this. Please reopen if this didn't resolve your issue.

[2020-01-28 10:00] #1911 closed

[2020-01-28 10:04] bafonins opened #1931 "Login screen broken on error details in mobile view"
#### Summary

The login screen breaks when errpr details expanded.

#### Steps to Reproduce

Set the browser viewport to mobile view

1. Go to the login screen
2. Simulate a backend error. Providing invalid credentials should work
3. Expand details of the error
4. See the login screen broken (not just the horizontal scrollbar, but also it is not possible see the full description of the error)

###

[2020-01-28 10:08] #1574 closed

[2020-01-28 10:24] johanstokking commented on #1928
@Oliv4945 can you confirm that this regression is since v3.5.0; or is v3.4.2 also not working correctly?

[2020-01-28 10:26] Oliv4945 commented on #1928
Issue is also in v3.4.2, I tested it yesterday on a clean install

[2020-01-28 11:23] #1931 closed

[2020-01-28 11:58] #1928 closed

[2020-01-28 14:08] Oliv4945 commented on #1928
I confirm the fix, thank you😃

[2020-01-28 15:08] bafonins opened #1934 "Fix empty coordinate handling in location form"
#### Summary

Number inputs in the location form do not handle empty value properly.

#### Steps to Reproduce

1. Go to the page with `<LocationForm />`
2. Fill in the field and clear it
3. See the error in the dev console

#### What do you see now?

<img width="687" alt="Screenshot 2020-01-28 at 13 41 27" src="https://user-images.githubusercontent.com/16374166/73275032-d6c8f880-41e6-11ea-82b8-544

[2020-01-28 15:08] bafonins opened #1935 "Handle zero coordinates in location form"
#### Summary

The `<LocationForm />` component does not handle zero values properly.

#### Steps to Reproduce

1. Go to a page with `<LocationForm />`
2. Fill in the fields with `0`'s and submit
3. See successfull submission and no location set

--

1. Go to a page with `<LocationForm />`
2. Fill any field with `0` and submit
3. See successfull submission and no value for that field present in the

[2020-01-29 20:47] zamashal opened #1942 "Internal Server Error after Login Attempt (status=401/403/500)"
#### Summary

Unable to log in to the console and getting redirected to a page with Internal Server Error instead.

#### Steps to Reproduce

1. Use the following [docker-compose.yml.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/4130643/docker-compose.yml.txt) file
2. Follow the instructions at [https://thethingsstack.io/v3.5.1/guides/getting-started/](https://thethingsstack.io/v3.5.

[2020-01-30 18:20] zamashal commented on #1942
After troubleshooting cookies and site permissions, I was able for once to get to this screen:
![blank after login](https://user-images.githubusercontent.com/40968683/73477939-26ccca00-4363-11ea-8131-99a0df7bfdcb.png)

Nothing further and errors I mentioned earlier came back.

[2020-02-02 12:39] pdubois22 opened #1943 "ChannelMask in LinkADRReq should be LSB"
#### Summary
per lorawan spec, the channel mask is LSB:
0xFF00 (LSB) = 0b00000000 11111111 (MSB) = ChMask = channels 1 thru 8

Unless I miss something, with the current code, channels 1-8 are encoded as 0x00FF (as channels
9-16)

LinkADRReq are therefore rejected with pld.ChannelMaskAck = false, and
all other ADR settings (DR for example) are discarded.

#### Steps to Reproduce
decode a link ADR m

[2020-02-03 20:50] LasaleFamine opened #1945 "Documentation - Configuration: ENV variables are defined with columns"
#### Summary
Configuration doc is reporting the variables within `.env` file with columns but the stack won't start with that env file.

#### Why do we need this ?
It's a bug of the doc or otherwise of the stack parsing the variables in a wrong way, must be fixed.

#### What is already there? What do you see now?
Reference: https://thethingsstack.io/v3.5.1/guides/getting-started/configuration/
As

[2020-02-04 16:01] mihirr93 commented on #1148
I am currently working on this issue. After changing from []byte to [][]byte for the *ttnpb.ApplicationUp function in the formatter.go file, I also changed it in the json.go and protobuf.go files. But now, it gives the following error:
![image](https://user-images.githubusercontent.com/29999010/73761816-a564a580-476f-11ea-8fb0-d63d99176b70.png)
Kindly provide some suggestion. Thank you.

[2020-02-04 16:49] adriansmares commented on #1148
@mihirr93 Since you are now modifying the call sites to return a slice of results (each result being a slice of bytes), you should wrap places where only one result is returned with `[][]byte{ slice-containing-result }`.

[2020-02-05 01:35] kschiffer commented on #1910
I'd suggest the following:
- Introduce new actions to retrieve the total number of entities per entity type (e.g. `GET_TOTAL_APPLICATION_COUNT`)
  - This will basically be a simple `List` call without filter parameters, from which we just extract the `X-Total-Count`-header
  - Store the result in a dedicated place in the store (I'd suggest e.g. `applications/totalCount`)
- Use these actions to fet

[2020-02-05 02:41] kschiffer opened #1947 "Remove required constrains of PubSub credential fields"
#### Summary
It should not be required to enter credentials for PubSubs, since it is not actually required by the backend to provide them when key authentication is used (via the `Secure` checkbox)

#### Steps to Reproduce
1. Go to Add PubSub view
2. Try to create a key authenticated PubSub without Username/Password
3. See the form validation preventing this

#### What do you see now?
Not being ab

[2020-02-05 12:16] KrishnaIyer opened #1948 "Support Downlinks via the Console"
#### Summary

Support Downlinks via the Console

#### Why do we need this?

To be on par with V2, also non-technical individuals can't be expected to setup the CLI (or use HTTP/MQTT hooks) only to send Downlinks.

#### What is already there? What do you see now?

Downlinks only via API (HTTP/MQTT) or CLI.

#### What is missing? What do you want to see?

Support Downlink operations via the Console

[2020-02-05 12:30] bafonins commented on #1948
What are the APIs to be used?
Any propositions on where is the right place for this?
How important is this feature?
Can we use the v2 console UI as a reference?
<img width="845" alt="Screenshot 2020-02-05 at 14 28 47" src="https://user-images.githubusercontent.com/16374166/73841775-fafa8a00-4823-11ea-9ed6-1df9f9fbe735.png">

cc @johanstokking

[2020-02-05 14:41] #1943 closed

[2020-02-05 15:15] bafonins commented on #359
Remark for later:

We can make use of [browserslist](https://github.com/browserslist/browserslist) that is used internally by babel. This can reduce the bundle by removing specific polyfills for browsers we do not support. Additionally, we can define separate instances for the development and production modes to speed up the webui build.

[2020-02-05 15:50] johanstokking opened #1954 "Store downlink queue per session"
#### Summary

Store downlink queue per session

#### Why do we need this?

To avoid hitting AS to recalculate the downlink queue when the end device confirms the session. Having a downlink queue of both the current session and the pending session in NS allows for downlink items to be available immediately.

#### What is already there? What do you see now?

Current flow is that on device activation

[2020-02-05 16:35] adriansmares commented on #1948
Regarding the API used for downlink queue operations - use [`AppAs`](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/api/api.md#service-appas) - The console already uses it partially in the integrations page for the `GetMQTTConnectionInfo` method.

[2020-02-06 09:01] kschiffer commented on #1422
Regarding the whole login/logout confusion issue between console and oauth provider, here's my plan:

Instead of having two separate login screens for console and account app, we should tie the experience closer together, meaning:
- We will remove the console login screen `/console/login`
- The console will automatically redirect to the account app login page `/account/login`, when it has no (vali

[2020-02-06 10:36] johanstokking commented on #1422
Sounds like a great plan. I agree we don't need explicit logout of Console and stay logged in via OAuth in the UX, although it will work that way underneath.

What do you need for cross-origin logout? Wouldn't it be a simple two-step approach; logout "page" to remove Console stored access token, then redirect to generic logout page where the Account app logs out? Or do you want this without redire

[2020-02-06 10:41] johanstokking commented on #1948
Let's indeed start with simple push and replace operations, with a single message that you can enter as hex. That feature matches with V2.

We can add listing the downlink queue later. That's a super nice feature too.

[2020-02-06 12:06] #583 closed

[2020-02-06 13:03] bafonins opened #1956 "Error updating mqtt pubsub configuration in the Console"
#### Summary

Cannot update fields from the configuration section of the pubsub form.

#### Steps to Reproduce

1. Create a new mqtt pubsub
2. Go to the edit page
3. Edit any field from the `MQTT Configuration` section except for the `Server URL` field
4. See failed update request

#### What do you see now?

Failed updated request:
[code]

#### What do you want to see instead?

Successful update o

[2020-02-06 13:16] DurgaPrasadWebDev opened #1957 "move the abp activated device one application to another application error"
details contail the old device details it also an ABP device
echo $details | ttn-lw-cli end-devices create --abp

Could not create end device, rolling back... error=error:pkg/networkserver:field_value (invalid value of field `ids.dev_addr`) field=ids.dev_addr

[2020-02-06 13:32] mihirr93 commented on #1148
Hello Mr. @adriansmares . I am bit confused regarding our approach. We are tying to slice the front-end message (raw payload) into multiple messages. But in this case, the point at which the message will be sliced depends on its encoding (Cayenne or any custom encoding) which is unknown to us. So, to do this we need to use the decoded payload. Once the user enters the decoder in the payload format

[2020-02-06 13:37] johanstokking commented on #1945
How exactly do you use the env file?

[2020-02-06 13:39] johanstokking commented on #1957
@DurgaPrasadWebDev please use the issue template.

For ABP, please see the docs: https://thethingsstack.io/v3.5.1/guides/getting-started/cli/ (see ABP)

[2020-02-06 13:39] #1957 closed

[2020-02-06 13:48] LasaleFamine commented on #1945
As specified here https://thethingsstack.io/v3.5.1/guides/getting-started/configuration/, I'm using the `env_file: '.env'` inside the `docker-compose`.

[2020-02-06 14:02] adriansmares commented on #1148
_Keep in mind that this repository contains the V3 version of our LoRaWAN stack, and the picture provided is from TTN, which runs the [V2](https://github.com/TheThingsNetwork/ttn/) version._

Please keep in mind that this issue deals only with the support for producing multiple payloads from one message, and the new format issue that you are probably interested in is https://github.com/TheThingsNe

[2020-02-06 14:37] adriansmares commented on #1956
This is not expected behavior.

The following patch should enable partial updates of the provider, but please also do a sanity check for the modified whitelisting logic (before the proposed change bellow, additional paths would be added).

[code]

[2020-02-06 16:08] bafonins opened #1959 "Add translation to entity title section in the Console"
#### Summary

There are hardcoded text elements in the `<EntityTitleSection />`, namely
[L33](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/webui/console/components/entity-title-section/index.js#L33)
[L40](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/webui/console/components/entity-title-section/index.js#L40)
[L77](https://github.com/TheThingsNetwork/lorawa

[2020-02-06 19:54] beitler commented on #1730
With the latest update the timeout apparently has been changed from 60 s to 600 s. But the underlying problem remains and can be reliably reproduced with the steps above.

[2020-02-07 12:23] #1757 closed

[2020-02-07 12:25] johanstokking commented on #945
@adriansmares can you point to the gRPC services and messages and provide info to populate a registry locally via file system? If that is not ready yet, please set blocked with reference and potentially push to Next Up

[2020-02-07 12:26] johanstokking commented on #873
We'll be adding support for ALCS and class B.

[2020-02-07 12:26] #873 closed

[2020-02-07 12:38] johanstokking opened #1962 "Show join-request, uplink and errors in Console traffic view"
#### Summary

Show raw and decoded payload in Console traffic view

#### Why do we need this?

- Insight in streaming data
- Feature match with V2 Console

#### What is already there? What do you see now?

The event payload in `as.up.forward` is available when opening the row in the Console.

#### What is missing? What do you want to see?

`as.up.data.forward` has fields `frm_payload` (bytes) and

[2020-02-07 12:41] johanstokking opened #1963 "Event error payloads are not shown"
#### Summary

Event error payloads are not shown

#### Steps to Reproduce

1. Subscribe to gateway or application events in the Console
2. Observe failure or packet drop events; they are not shown
3. Subscribe to the same events in CLI; they are shown

#### What do you see now?

Console doesn't show error payloads:

<img width="1096" alt="Screenshot 2020-02-07 at 13 32 10" src="https://user-images

[2020-02-07 14:23] industrialinternet commented on #1962
Thanks for adding this it's a "must have"
It was one of the first things we noticed when evaluating v3 on AWS market.
Sorry to ask, any idea when?

[2020-02-07 17:52] LasaleFamine commented on #1784
I was just searching something like this, I didn't know even that some CLI command exist yet for OAuth clients registration. I will try with the CLI but would be really helpful to know what's the best approach 👍

[2020-02-07 19:48] johanstokking commented on #1962
@industrialinternet thanks for showing your interest. It's set in the February milestone so our aim is to finish it this month. Please subscribe to this issue and watch this repository, at least for releases, by clicking Watch in the top, so you know when it lands in which release.

[2020-02-07 23:07] #1670 closed

[2020-02-08 13:10] KrishnaIyer commented on #1730
I'll try to simulate this and tweak the Proxy settings to see where the issue is. But it must be noted that this only seems to affect a percentage of the gateways.
In the following graph, the rising edge of the spike in status messages corresponds to the 600s idle window. Every time the gateway reconnects we log a single status message (which accounts for this spike). But if you see the traffic, t