[2021-02-12 13:56] johanstokking commented on #3785
Let's make sure we explain the "factory preset frequencies" too; and probably all the other ABP settings.

[2021-02-12 13:57] johanstokking commented on #3785
Rescheduling to March. Let's start with the low hanging fruit.

[2021-02-12 18:51] johanstokking commented on #3334
I spent half the day looking into this. There's at least one fix, although the chance is small that that is the root cause.

---

### Attempt 1

DevAddr: 260837AE
Class C downlink with no absolute time

Uplink token:

[code]

Network server time: 2020-10-08T20:10:06.684265770Z
Schedule delay: 0.999980090s
Timestamp: 3459479163
Time-on-air: 288768000

Starts: 162311926060000 - 3398136108000 + 34594

[2021-02-12 19:02] johanstokking commented on #3487
@kurtmc @virtualguy let me know how we can help this setting this up. If I need to send you a binary of Docker image, just let me know.

[2021-02-12 19:05] johanstokking commented on #3334
Looping in @adriansmares for another pair of eyes.

The problem is that there are two consecutive downlink messages scheduled that are clearly overlapping. The second attempt does not see the first attempt, and therefore creates a scheduling conflict.

There is a race condition which is fixed in #3794 but the chance that that happens is very small. It cannot be ruled out though.

Any other thought

[2021-02-13 11:19] neoaggelos commented on #3749
I am open to alternatives, but I think it's a simple solution: The `ttnpb.MessagePayloadFormatter` message is used by the `Get*Codec()` RPCs only. The AS can keep using it to retrieve the codecs and encode/decode payloads, and the Console can then use it to retrieve both the codec (if needed) and the codec examples.

[2021-02-13 12:38] jpmeijers commented on #3705
I was looking into this issue again today, and after reading https://github.com/TheThingsNetwork/lorawan-stack/pull/1011 I considered adding TenantID and ClusterID to `expandVariables()` in `webhooks.go`. Unfortunately I do not understand how to get the Tenant and Cluster IDs from the context.

https://github.com/TheThingsNetwork/lorawan-stack/pull/1011/files#diff-91a1940fc428bf2d3f8b28f3bde1e3dbf

[2021-02-13 12:49] jpmeijers opened #3795 "Tenant ID and Cluster ID in uplink message json"
#### Summary

A third party service might need to know which Network Server received and forwarded the uplink message. Currently the uplink json looks the same for different tenants on a cluster, as well as the same as uplink json data from other clusters.

The issue was also described in https://github.com/TheThingsNetwork/lorawan-stack/issues/3705.

A cluster is aware which tenant is forwarding

[2021-02-13 13:04] jpmeijers commented on #3705
Another workaround I am looking at is the downlink headers. I am not sure if we can use a webhook template to always include these headers, even when the api keys is not set. But it can work.

Example headers from TTNv3:
[code]

Example headers from cloud hosted:
[code]

Using the X-DOWNLINK-PUSH or the X-DOWNLINK-REPLACE headers, one can uniquely identify the LoRaWAN server instance that handled

[2021-02-14 20:39] mattrude opened #3798 "Change the footer link to thethingsindustries.com"
#### Summary

The footer of each page points to https://www.thethingsnetwork.org/,  this implies that you are connected to the The Things Network.

The confusion comes in since a vanilla install of The Things Stack dose not connect back to The Things Network.

I propose to change the link from https://www.thethingsnetwork.org to https://www.thethingsindustries.com/ to better reflect the actual pro

[2021-02-14 22:36] kurtmc commented on #3487
@johanstokking Updated logs: https://gist.github.com/kurtmc/041dd593d24fd9f01784e56ec1deb325

[2021-02-15 00:46] kurtmc opened #3799 "redis: connection pool timeout"
#### Summary

After some time running lorawan we will see that the network traffic to our redis instance drops off and a large number of errors being reported by the lorawan application. Restarting the lorawan application resolves the issue.

#### Steps to Reproduce

We can only reproduce this issue in our production environment, so I suspect you need to have a lot of traffic on lorawan to run int

[2021-02-15 08:10] KrishnaIyer commented on #3777
Indeed I responded to a similar query on the forum; https://www.thethingsnetwork.org/forum/t/v3-download-global-conf-json/43973/6

[2021-02-15 08:45] KrishnaIyer commented on #3334
Hmm that seems unlikely. A gateway can connect to only one GS instance (due to ID claiming). And one connection only creates one scheduler instance ( and hence one slice of emissions).

[2021-02-15 08:49] htdvisser commented on #3705
While you _can_ use those headers (right now), I don't think you _should_ (in the long term).

Much better would be if your users register the necessary parameters in your application, and then you give them some token (that identifies those parameters) and let them configure that in the webhook template, so that the token is included in every request.

[2021-02-15 08:57] johanstokking commented on #3487
Thanks @kurtmc. I don't see the "no absolute time" errors appearing here, only in the beginning but that is normal. So here, everything worked as expected, right?

@adriansmares the race for which synchronization is fixed with https://github.com/TheThingsNetwork/lorawan-stack/pull/3794 is actually happening here. So that is real, see:

[code]

Note that these statements are out-of-order because of

[2021-02-15 08:59] johanstokking commented on #3487
@kurtmc is there a chance we can get `DEBUG` level logs from The Things Stack as well? Set `log.level: debug` in the config YAML.

[2021-02-15 09:29] johanstokking commented on #3487
@virtualguy @kurtmc can you verify that this is resolved on latest `v3.11`?

Note the minor bump, you need to run DB migrations, see https://github.com/TheThingsNetwork/lorawan-stack/blob/e56f7f70e60dba8c1ad584411fb63a8c35659e7c/CHANGELOG.md#3110---2021-02-10

We'll be rolling a 3.11.1 release today.

[2021-02-15 09:29] johanstokking commented on #3487
Closed by #3794

[2021-02-15 09:29] #3487 closed, assigned to johanstokking

[2021-02-15 09:40] johanstokking opened #3800 "Release 3.10.10"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [ ] Update submodules
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m

[2021-02-15 09:47] johanstokking commented on #3749
Right, I was confused with `MessagePayloadFormatters` (plural). Sounds good to me.

[2021-02-15 09:52] KrishnaIyer commented on #3791
Well this maybe be ok for many deployments. The main reason we chose different ports for TTSC is the use of different Root CA for the CUPS/LNS end points and a more commonly trusted (ex: LE) for the console (web-browser).

[2021-02-15 09:52] #3523 closed, assigned to bafonins

[2021-02-15 10:06] virtualguy opened #3802 "last_status_received_at not available for basic station"
#### Summary
There appear to be missing stats for the gateways when running basic station on ttn-lw-cli. In particular something to indicate 'last seen' the same as in the web console

#### Steps to Reproduce

Compare the output of ttn-lw-cli for a udp and a basic station. Note that this is a Tektelic Macro

[code]

#### Environment

The Things Network Command-line Interface: ttn-lw-cli
Version:

[2021-02-15 10:07] johanstokking commented on #3800
Decided to do a backport instead.

[2021-02-15 10:07] johanstokking commented on #3799
I believe this is fixed with https://github.com/TheThingsNetwork/lorawan-stack/pull/3704 but it isn't part of a 3.10 release yet. We're releasing 3.10.10 today.

@rvolosatovs I triaged the issue but if you feel confident that this is resolved, please close.

[2021-02-15 10:09] johanstokking commented on #3802
@KrishnaIyer is Basic Station even sending status messages? If not, what do we do with this?

[2021-02-15 10:11] KrishnaIyer commented on #3802
This is expected behaviour IMO.

The LoRa Basics Station LNS protocol does not support periodic status messages.

There's an [open issue](https://github.com/lorabasics/basicstation/issues/46) on the LBS repo but there isn't much going on with that afaik.

We need to wait for the protocol to add support.

[2021-02-15 10:38] johanstokking commented on #3487
@virtualguy @kurtmc FYI we're backporting this to 3.10.10 so we can update our infrastructure sooner. Please keep an eye on #3800 and/or subscribe to release notifications here.

[2021-02-15 10:58] #3715 closed, assigned to asmulko

[2021-02-15 12:06] bafonins opened #3804 "Breadcrumb links are not accessible in the Console"
#### Summary

Currently, the top-most link in the side navigation blocks breadcrumb links:
<img width="509" alt="Screenshot 2021-02-15 at 14 01 29" src="https://user-images.githubusercontent.com/16374166/107944158-64b08680-6f96-11eb-94b2-2f30bd24f643.png">

#### Steps to Reproduce

1. Create application
2. Hide sidebar
3. Trigger `hover` on the top-most (`Overview`) link in the side navigation
4.

[2021-02-15 12:28] bafonins commented on #3786
We do want to assert that elements are in the right place with correct text displayed, right?

Can you provide an example of such false negatives?

We cannot enforce that. We actually had such issues when dealing with `jest` snapshots for unit tests.

I agree that defining `displays UI elements in place` tests is not the most convenient solution for ensuring that UI is rendered properly, especiall

[2021-02-15 12:44] #3800 closed, assigned to johanstokking

[2021-02-15 13:38] Oliv4945 opened #3806 "Add LR-FHSS support"
#### Summary

RP2-1.0.2 LoRaWAN® Regional Parameters added LR-FHSS datarates, it would be great to be able to use them with The Things Stack.

#### Can you do this yourself and submit a Pull Request?

No :(

[2021-02-15 14:22] lnlp opened #3807 "Console Device Overview lacks Array formatting for session keys"
#### Summary
`Console | <Application> | End devices | <ABP Device> | Overview` lacks array formatting for session keys NwkSKey, SNwkSIntKey, NwkSEncKey and AppSkey.

This is reported as bug because in V2 Console formatters for NwkSKey and AppSKey are available.

#### Steps to Reproduce
See `Console | <Application> | End devices | <ABP Device> | Overview`.
Select a device that uses ABP activation.

[2021-02-15 15:04] kschiffer commented on #3606
I'd prefer keeping and maintaining this overview here as well. We can update this issue with a lot more test cases and onboard more of the team to write end-to-end tests after [#3611](https://github.com/TheThingsNetwork/lorawan-stack/issues/3611) is done.

[2021-02-15 15:34] kschiffer commented on #3713
In the console meeting today, we concluded that we will want to solve the immediate issue by adding [event filters](https://github.com/TheThingsNetwork/lorawan-stack/issues/2231) first (which will be set by default, based on the number of entities in the event scope). Also we need to look into solving some performance issues of the event stream that might warrant some store and display logic refac

[2021-02-15 15:40] htdvisser opened #3808 "Go 1.16 "go vet" Issues"
#### Summary

...

#### Steps to Reproduce

[code]

#### What do you see now?

- [x] `# go.thethings.network/lorawan-stack/v3/pkg/webui` - #3904

[code]

- [x] `go.thethings.network/lorawan-stack/v3/pkg/applicationserver/io/grpc_test`
[code]

- [x] `go.thethings.network/lorawan-stack/v3/pkg/gatewayserver/io/grpc_test`
[code]

- [x] `go.thethings.network/lorawan-stack/v3/pkg/gatewayserver_test`
[co

[2021-02-15 15:51] neoaggelos commented on #3808
Assigning myself for

[code]

[2021-02-15 16:02] kschiffer commented on #2231
With regards to [https://github.com/TheThingsNetwork/lorawan-stack/issues/3713#issuecomment-779297814,](https://github.com/TheThingsNetwork/lorawan-stack/issues/3713#issuecomment-779297814,) we need to expand the functionality here a bit. There are scenarios where applications have hundreds or thousands of end-devices. This will crash the Console altogether when the event view is open. Hence, it i

[2021-02-15 16:08] kschiffer commented on #2887
Reopening this since the issue still remains when showing events for applications with ~50+ end devices (this depends on how frequent the end devices send or receive data). There are some ideas to solve this in [this comment](https://github.com/TheThingsNetwork/lorawan-stack/issues/2231#issuecomment-779315672) already.

Let's use this thread to discuss possible other ways to solve this issue. Plea

[2021-02-15 16:23] kschiffer commented on #3807
This has been fixed by #3752 already, or what do I miss here?

It will be in the next release.

[2021-02-15 16:47] kschiffer opened #3809 "Contextual help tooltips for form fields"
#### Summary
As a next step from https://github.com/TheThingsNetwork/lorawan-stack/issues/2663 and as defined in https://github.com/TheThingsNetwork/lorawan-stack/issues/3522 we will introduce contextual tooltips for many fields in our forms.

#### Why do we need this?
To assist and educate users when onboarding entities. See also #3785.

#### What is already there? What do you see now?
- Content

[2021-02-15 16:58] kschiffer commented on #3785
Superseded by #3809.

@lnlp please follow this issue to track our progress on this.

[2021-02-15 16:58] #3785 closed, assigned to kschiffer

[2021-02-15 17:07] bafonins commented on #3807
Indeed, its already implemented! Closing this.

[2021-02-15 17:07] #3807 closed, assigned to bafonins

[2021-02-15 17:18] kschiffer opened #3810 "Display action buttons for inputs next to the input with full text label"
#### Summary
Following #2813 and #3522, we will retire the current layout for action buttons of text/byte inputs. Instead we will display action buttons outside the input next to the input.

#### Why do we need this?
- Remove ambiguity for buttons that use icons only
- Unnecessary to restrict ourselves in terms of horizontal spacing, after #3529
- (Action buttons are a bit annoying to handle with

[2021-02-15 17:30] kschiffer commented on #3798
Thanks for filing this issue @mattrude!

You are right, this should be `thethingsindustries.com` rather. (cc @johanstokking please confirm)

[2021-02-15 17:35] johanstokking commented on #3798
For TTS open source, I think https://www.thethingsindustries.com/docs makes most sense

Thanks @mattrude for filing!

[2021-02-15 17:55] virtualguy commented on #3802
@KrishnaIyer Can you use the connection state of the websocket? In the console a gateway will show as blue and connected before uplinks come through. I'm not sure how quickly this times out to change back to disconnected but it does change state eventually.

Connected/Disconnected is enough for me, perhaps that's exposed somewhere else in ttn-lw-cli?

[2021-02-15 23:46] kurtmc commented on #3487
@johanstokking Just to let you know, we have upgraded our production environment to 3.10.10 and we are still seeing the absolute time error in the logs.

[2021-02-16 08:04] htdvisser commented on #2231
The number of registered end devices isn't necessarily an indication of the amount of traffic, so I don't think it would be a good idea to do different things depending on the number of registered end devices.

My suggestion would be to extend the API to allow filtering on event name. Every events view in the Console would then give the user some UI where they can check/uncheck events they're inte

[2021-02-16 08:29] KrishnaIyer commented on #3802
The way stats works in V3 is that we create a `GatewayConnectionStats` entry when the gateway connects and remove that entry when the gateway disconnects.
So if you check for connections stats (`ttn-lw-cli get-connnection-stats` I think) and you get a 404, that means the gateway has disconnected. Else the gateway is connected.

I guess we can improve the UX on the console? But there is no addition

[2021-02-16 08:50] johanstokking commented on #3487
@kurtmc it is expected in the following case:

1. The gateway does not provide GPS timestamps, so there is no absolute time on the gateway and it must be calculated on the gateway
2. The gateway has not transmitted more than 5 downlink messages
3. The gateway has not confirmed more than 5 downlink messages (via TX acknowledgment)

We use the latency between scheduling the downlink message and rece

[2021-02-16 08:53] johanstokking commented on #3802
That's it indeed.

[2021-02-16 09:03] virtualguy commented on #3802
Right, that works. Knowing the time since disconnect would be a nice to have but I'm happy with how it is. Feel free to close the ticket

[2021-02-16 09:07] lnlp commented on #3807
I have searched for a similar issue but could not find it.
Apparently #3752 has been fixed and closed 7 days ago already.

If issues are still present in the current product (production) then one is going to search in open issues if the issue is already reported, not in issues that have already been closed. This is why `is:issue is:open` is the default search filter.
From user perspective it will

[2021-02-16 09:23] lnlp commented on #3719
Yes I think so.

[2021-02-16 10:08] KrishnaIyer commented on #3802
That's not a bad suggestion. But this cannot be a part of the stats itself in our design. This could be done via gateway disconnection events but that's a different discussion tracked internally. Closing this for now.

Thanks for reporting @virtualguy.

[2021-02-16 11:37] kschiffer commented on #3807
Hi @lnlp, I understand your issue but we have to stay pragmatic on the development side. For us the issue is resolved as soon as the fix has been merged. Keeping them open until the release will lead to many issues being kept open well after a fix was released, since it would be require us to go over all the issues once more after the release and we'd likely forget doing so for some.

We are curre

[2021-02-16 12:16] lnlp commented on #3810
I assume that actionbuttons for LoRaWAN key fields like 'Toggle array formatting' will be visible but disabled when a key is invisible and will get enabled after key visibility is enabled with a 'Toggle visibility' button?

In order words, actionbuttons are displayed next to the input field and will always be visible but will only be enabled when relevant for the state of the field?

[2021-02-16 12:25] kschiffer commented on #3810
The component you are referring to are not inputs, but only to display values (we call them `SafeInspector`). These fields will not be changed, at least not with regards to this issue.

If you experience a usability issue with those then please open a separate issue.

[2021-02-16 12:36] lnlp opened #3812 "Improve visibility of events by using colors and better icons"
#### Summary
Icons that indicate the type of an event in Live data views are difficult to differentiate _at a glance_.
Sure the icons are different but they are not easy to differentiate at a glance.

It is probably possible to improve this by using a different (visually better) icon design.
Using different colors for different icons will already help and I would like to this being used anyway.

T

[2021-02-16 13:00] lnlp opened #3813 "Improve recognizability and ability to differentiate events and devices by using colors in Live data views"
#### Summary
Improve recognizability and ability to differentiate events and devices by using colors in Live data views.

It is important that one can recognize and differentiate different event types and which events belong to which devices at a glance. The current bulk of only grey and black text is not very helpful in that aspect.

Proper use of colors can improve this dramatically.
_(With prop

[2021-02-16 14:39] #3798 closed, assigned to asmulko

[2021-02-16 15:26] kschiffer commented on #3719
Note for ourselves: this should also include the possibility to close the event details using the escape key #3717

[2021-02-16 15:26] kschiffer commented on #3717
Merged into #3719

[2021-02-16 15:26] #3717 closed, assigned to kschiffer

[2021-02-16 15:36] kschiffer commented on #38
I don't think this will ever have enough importance to be tackled and it's really a cosmetic thing only. I'll close it and maybe reopen if I should deem this more relevant in the future.

[2021-02-16 15:36] #38 closed

[2021-02-16 15:43] kschiffer opened #3817 "Console event UX framework"
#### Summary
We need to review the current UX of event streams in the Console. This issue serves as an overview for me to track individual event related issues and requirements. The goal is to develop a couple of wireframes with a new UX framework under which we can resolve the individual issues below.

#### Why do we need this?
There are currently some UX, as well as technical issues in our event

[2021-02-16 15:46] kschiffer commented on #3718
Blocked on #3817

[2021-02-16 15:47] kschiffer commented on #3813
Blocked on #3817

[2021-02-16 15:48] kschiffer commented on #3312
Blocked on #3817

[2021-02-16 15:49] kschiffer commented on #2231
Blocked on #3817

[2021-02-16 15:50] kschiffer commented on #3311
Blocked on #3817

[2021-02-16 15:52] kschiffer commented on #3817
I've updated some of the issues above with the blocked label. Not every event related should be blocked on this issue but my rationale is to rather invest into a wider UX concept to solve many issues at once rather than patchworking individual UX issues.

[2021-02-16 16:04] kschiffer commented on #2688
I think it's too late to change this and it's also more of a cosmetic change that doesn't offset the effort.

[2021-02-16 16:04] #2688 closed

[2021-02-16 16:30] #3716 closed, assigned to asmulko

[2021-02-16 17:04] rvolosatovs commented on #3808
Don't see anything in NS and related - removing assignment.

[2021-02-16 19:37] johanstokking opened #3818 "Simulated uplink does not contain JoinEUI and DevEUI"
#### Summary

Simulated uplink does not contain a DevEUI

#### Steps to Reproduce

1. Add new device
2. Go to **Messaging** tab in Console
3. Send any uplink message

#### What do you see now?

Payload is as follows:

[code]

#### What do you want to see instead?

The `join_eui` and `dev_eui` fields in thhe `end_device_ids`.

#### Environment

Current 3.11 branch

#### How do you propose to implem

[2021-02-17 08:37] johanstokking commented on #3795
I believe we already provide the tenant ID via the context, but then base64 encoded.

For the originating cluster, how about a HTTP header?

I feel like this doesn't really belong in the payload itself.

[2021-02-17 09:27] htdvisser commented on #3795
We could indeed add some `X-TTS-DOMAIN: tenant.eu1.cloud.provider.domain` header, but as I already [commented in the other issue](https://github.com/TheThingsNetwork/lorawan-stack/issues/3705#issuecomment-779063521):

I don't think external applications should rely only on some header or payload field to determine which network sent a webhook. A malicious actor can then easily send fake webhooks.

[2021-02-17 10:27] jpmeijers commented on #3705
I'll close this issue, as the method discussed in https://github.com/TheThingsNetwork/lorawan-stack/issues/3795 is a better approach.

[2021-02-17 10:27] #3705 closed, assigned to adriansmares

[2021-02-17 10:41] jpmeijers commented on #3795
Thinking about the end goal here again, which is to know to which network a gateway, reported in the metadata, belongs. So from my perspective the tenant and cluster should go together with the gateway id.

But doing this:
`X-TTS-DOMAIN: tenant.eu1.cloud.provider.domain`
would be excellent, as that provides the unique identification one needs to know to which network the gateways are connected.

B

[2021-02-17 10:43] johanstokking commented on #3795
With MQTT you don't need it as you dial out to a specific address already.

I agree, security is not a concern. The header would be informative only. The receiving endpoint needs other means to verify authenticity and integrity anyway, regardless of whether we add this header or not.

[2021-02-17 10:44] i3mSuperMan opened #3820 "Option to set persistent LinkADR settings when using Custom ADR option"
#### Summary
The custom ADR option allows to set the ADR parameter values, and NS communicates them to the device via `LinkADRReq`. But these values are not persistent and lost on reset of MAC State during re-join, thus requiring re-configuration every time device joins the network.

#### Why do we need this?
To make the parameters' values persistent and communicate to the device in case of MAC St

[2021-02-17 12:53] htdvisser commented on #3795
As long as documentation is clear about it being informative I'm fine with it. Adding this shouldn't be too much work, because it's very similar to what we already do with `createDownlinkURL`.

[2021-02-17 12:58] htdvisser commented on #3795
I don't think there's much more to discuss, so let's work on this in March. The scope only includes adding an `x-tts-domain: tenant.eu1.cloud.provider.domain` header to "up" webhooks. Outgoing pub/sub integrations are out of scope for this issue.

This may need additional config, as I'm not sure we should use the `PublicAddress`/`PublicTLSAddress` in `DownlinksConfig` for this.

[2021-02-17 13:09] rvolosatovs commented on #3820
Good to note that this is mostly relevant for pre-1.1 devices in US915-like bands

[2021-02-17 14:54] htdvisser commented on #1903
This is implemented, and will land in `v3.12`.

[2021-02-17 14:54] #1903 closed

[2021-02-17 14:54] htdvisser commented on #1121
This is implemented, and will land in `v3.12`.

[2021-02-17 14:57] htdvisser commented on #604
Most of this is implemented, and will land in `v3.12`.

For _automatic_ garbage collection of deleted entities, see https://github.com/TheThingsNetwork/lorawan-stack/issues/2735

[2021-02-17 14:57] #604 closed

[2021-02-17 15:07] johanstokking commented on #3334
This turned out to be the case. This is now closed by #3794.

The chance wasn't small because multiple goroutines were waiting to acquire the read lock, while they were actually writing. As soon as something else released the write lock, those writing goroutines were exactly in sync, corrupting `emissions`.

[2021-02-17 15:07] #3334 closed, assigned to johanstokking

[2021-02-17 15:07] htdvisser commented on #2735
With https://github.com/TheThingsNetwork/lorawan-stack/pull/3739 merged, the API and initial implementation for the Identity Server is done. That will land in `v3.12`.

What's still TODO for this issue is:

- Using Cluster Auth or Admin Auth to list all deleted applications
 	- Perhaps we want a separate IS RPC for this
	- In any case we want to extend the IS API to take `deleted_after`/`deleted_b

[2021-02-17 17:06] virtualguy commented on #3709
Yes we are running as a monolith.

We have sent through a full set of logs from start to crash to TTI support (TTS-2378).

The rate of the leak increased substantially when we deployed additional gateways to the same site. I'm not sure if that's due to the increased duplicate uplink traffic or related to sending multicast (Class C) messages to clusters of gateways.

[2021-02-17 17:08] virtualguy commented on #3709
Fyi, the number of open file descriptors is still increasing on 3.10.10 at the same rate

[2021-02-18 01:00] leogaggl opened #3823 "Allow limit frequency plan selection for gateways"
#### Summary
When trying to set up a new gateway on the community clusters (AU1 in our case) a user is presented with a massive list of available frequency plans. Whilst this is useful as an Enterprise user or on a self-hosted system where the people setting things up have the necessary skills and knowledge, it will be highly problematic for the community clusters where there is a large number of

[2021-02-18 06:45] #3804 closed, assigned to asmulko

[2021-02-18 07:45] htdvisser opened #3824 "Release v3.11.1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[code]

- [x] Update submodules
[code]

- [x] Update the `CHANGELOG.md` file
  - [x] Change the **Unreleased** section to the new version and add date obtained via `date +%Y-%m

[2021-02-18 14:12] KrishnaIyer commented on #3709
Thanks for the logs @virtualguy: I've reassigned this.

[2021-02-18 14:33] johanstokking commented on #3823
Thanks @leogaggl for filing.

There are two levels of filtering that I propose:

1. Per country. Here we need to know the country of the gateway (based on the location), and then filter the frequency plans, as we list the supported countries in [the index](https://github.com/TheThingsNetwork/lorawan-frequency-plans/blob/7670e7e7c209cf7c16acc34ab10264e5306142c7/frequency-plans.yml)
2. Recommendatio

[2021-02-18 14:36] htdvisser commented on #3823
I don't think we should make it impossible for users to select "special" frequency plans, but we can indeed think about putting the suggested ones at the top of the list.

I also remember that we had the idea that the first step in the registration wizard would let you place the gateway or end device on a map. After that, we can quite easily filter frequency plans that can be used in the country.

[2021-02-18 14:42] htdvisser opened #3827 "Add `host` to `gs.up.forward` event data"
#### Summary

It would be nice if we could add the `host` to the `gs.up.forward` event data.

https://www.thethingsnetwork.org/forum/t/why-is-uplink-message-forwarded-twice-by-v3-gateway/44493

#### What is already there? What do you see now?

Right now users see two "forward" events, and don't see _where_ the message was forwarded to.

#### What is missing? What do you want to see?

The `host` fi

[2021-02-18 15:50] #3633 closed, assigned to KrishnaIyer

[2021-02-19 06:17] leogaggl commented on #3823
I agree @htdvisser in regards to not making other choices impossible. My thoughts are similar UX to Github where only the recommended option is shown for the country and clicking into an "advanced" section reveals non-recommended options. There could be a further "danger zone" section that reveals the other options that might not even be legal (such as US915 or EU868 for testing purposes). But per

[2021-02-19 08:02] htdvisser opened #3830 "Add cluster hints to Applications"
#### Summary

I think it would be helpful to add cluster hints to applications.

#### What is already there? What do you see now?

With explicit linking gone, Applications in v3 are no longer explicitly linked (between Application Server and Network Server) in a specific cluster. This means that Applications can now contain devices in different clusters. This unfortunately also makes it easier to

[2021-02-19 08:21] htdvisser opened #3831 "Add cluster hints to End Devices"
#### Summary

I think it would be helpful to add cluster hints to end device lists and pages.

Related to https://github.com/TheThingsNetwork/lorawan-stack/issues/3830

#### What is already there? What do you see now?

With explicit linking gone, Applications in v3 are no longer explicitly linked (between Application Server and Network Server) in a specific cluster. This means that Applications ca

[2021-02-19 08:50] #3824 closed, assigned to htdvisser

[2021-02-19 09:07] htdvisser opened #3832 "Show last seen in end device list"
#### Summary

There have been requests to show the "last seen" of an end device on the list page.

#### Why do we need this?

To get a quick overview of devices and when they were last active

#### What is already there? What do you see now?

The gateway list shows statuses, the device list shows created_at which is less useful.

#### What is missing? What do you want to see?

The device list to s

[2021-02-19 10:10] kschiffer commented on #3832
See also #2436

[2021-02-19 11:39] htdvisser opened #3833 "Add UsedAt field to ContactInfoValidation"
#### Summary

It would be helpful to add a `used_at` field to the `ContactInfoValidation` model so that we can tell the difference between "token not found" and "token already used".

#### What is already there? What do you see now?

Right now users are confused, because the Account app (?) tells them that "the validation token was not found" and that they should "contact an administrator".

Refs

[2021-02-19 12:47] bafonins commented on #1256
@kschiffer isnt this already implemented?

[2021-02-19 12:49] kschiffer commented on #1256
Yeah it actually is. Was just skimming this and though this is about adding a "password-strength-o-meter" sort of thing.

[2021-02-19 12:49] #1256 closed

[2021-02-19 12:50] bafonins commented on #3784
Reopening this since https://github.com/TheThingsNetwork/lorawan-stack/pull/3792 doesnt solve the issue for Safari:

<img width="345" alt="Screenshot 2021-02-19 at 14 45 37" src="https://user-images.githubusercontent.com/16374166/108506627-c425d380-72c1-11eb-94e7-b5001667c934.png">
<img width="345" alt="Screenshot 2021-02-19 at 14 45 41" src="https://user-images.githubusercontent.com/16374166/1085

[2021-02-19 14:51] rvolosatovs commented on #3820
Also, these fields should be mutually exclusive with `enable_adr`

[2021-02-20 21:38] beitler commented on #3802
I feel we need to distinguish two things:

**1) Status messages as aliveness indicator**

It looks like people are interpreting the `last_status_received_at` as an indicator of aliveness. Coming from the connectionless world of the UDP packet forwarder, this certainly makes sense. However, with Basic Station, aliveness can be measured on the connection level using the TCP connection state. Using `

[2021-02-21 08:14] jpmeijers opened #3838 "Token refresh refused when leaving console open for long time"
#### Summary

![Screenshot from 2021-02-21 10-08-02](https://user-images.githubusercontent.com/948278/108619391-3bc44180-742d-11eb-83f4-2d43f6eb0459.png)

#### Steps to Reproduce

1. Log into the console
2. Go to a device's details page
3. Leave this tab open for a couple of hours

#### What do you see now?

The screenshot above, after which I need to refresh the page to see something again.

####

[2021-02-21 19:08] virtualguy commented on #3802
From my point of view TTS is already determining connected vs disconnected and it would be great to expose this in a consistent way across both UDP and Basic Station. I.e. just replicate the blue connected indicator from the console. I appreciate that doesn't really belong in connection-stats.

That's also really interesting info about named pipes in Basic Station. Would be great for shipping arbi

[2021-02-22 12:38] htdvisser commented on #3802
(1.) Let's make sure that we properly document what the `last_status` and `last_status_received_at` fields mean in the API reference, and also clarify that a successful response on `GetGatewayConnectionStats` means that the gateway is connected and a `NotFound` error means not connected (to this cluster).

(2.) I think it would be a good idea to detect these `{"msgtype":"event", ...}` messages. Pe

[2021-02-22 15:25] neoaggelos opened #3839 "Improve logging for UDP packets exceeding the rate limit"
#### Summary

Gateway Server logs a message (with level WARN) for each packet that is filtered. This means that when a gateway is bombing the GS with packets, the stack logs a large number of messages.

#### Steps to Reproduce

1. Connect a UDP gateway
2. Flood the stack with messages.

#### What do you see now?

One log message for each filtered packet.

#### What do you want to see instead?

Les

[2021-02-22 15:41] htdvisser opened #3840 "Gateway Server failed to unclaim downlink path"
#### Summary

The Gateway Server fails to unclaim the downlink path of disconnected gateways

#### Steps to Reproduce

1. Connect a gateway
2. Disconnect it

#### What do you see now?

[code]

[code]

[code]

and more like these

#### What do you want to see instead?

Successful unclaiming of downlink path

#### How do you propose to implement this?

I suspect that this is because of the "done" co

[2021-02-22 19:52] virtualguy commented on #3799
We are still seeing this in 3.10.10

[2021-02-22 19:53] virtualguy commented on #3709
I'll close this in favour of #3799 as its a duplicate

[2021-02-22 19:53] #3709 closed, assigned to rvolosatovs

[2021-02-23 04:46] thinkOfaNumber opened #3842 "Cloud Formation stack lambda function errors"
Hi,

I think this is a bug, but please correct me if I'm wrong!

#### Summary

After installing and configuring the AWS IoT integration for The Things Stack in our AWS account with the cluster address `au1.cloud.thethings.network`, I created a thing in AWS IoT Core. The CreateThingFunction returned an error: `Failed to dial Identity Server at "ttn-v3-is:///ttn.au1.cloud.thethings.network": connect

[2021-02-23 07:50] jpmeijers opened #3845 "Need to reauthorized every time I log in"
#### Summary

Every couple of days I get logged out of the TTNv3 console. When I try to log in again, I have to re-authorize. Is this correct?

![image](https://user-images.githubusercontent.com/948278/108814891-42cd8a00-75bc-11eb-976c-ad003528e4c3.png)

#### Steps to Reproduce

1. Log into the console
2. Wait a couple of days
3. Try to go to the console and see you are logged out
4. Try to log in

[2021-02-23 09:27] johanstokking commented on #3842
Thanks @thinkOfaNumber, we have TTN V3 support for the AWS IoT Core Integration ready for deployment. We're currently waiting for our The Things Stack Cloud to be upgraded to 3.11.x so we can start the roll-out.

Internal reference https://github.com/TheThingsIndustries/lorawan-stack-aws-integration/pull/21

[2021-02-23 09:59] virtualguy commented on #3487
Definitely still seeing this issue in 3.10.10, looks like it happens on back to back transmissions (1000ms apart on the same device-id). I have sent through DEBUG logs via TTI support

[2021-02-23 10:06] benolayinka commented on #3723
Be sure the docs are updated before closing this: https://github.com/TheThingsIndustries/lorawan-stack-docs/pull/238

[2021-02-23 12:23] kschiffer commented on #3786
I'd say this is debatable. There should be a proportionality between the utility of the tests and the costs in terms of development time we get by tediously having to write and maintain those. A missing or faulty text does not render the app or a feature unusable altogether but is more of an annoyance. In this regard, snapshot tests help us because there is basically no setup and refactoring cost,

[2021-02-23 13:00] thinkOfaNumber commented on #3842
Thanks for the quick response, I didn't realise this wasn't ready now. Is there a roadmap somewhere I can refer to?

[2021-02-23 13:20] #3840 closed, assigned to adriansmares

[2021-02-23 14:31] kschiffer commented on #2232
@adriansmares do you have an ETA here?

[2021-02-23 14:49] adriansmares commented on #2232
This is in `Next Up`, so indefinite unless this gets scheduled.

[2021-02-23 14:58] kschiffer commented on #2232
@htdvisser @johanstokking please consider raising the priority of this since it has been requested various times. See TheThingsIndustries/lorawan-stack-support#252

[2021-02-23 15:51] kschiffer opened #3850 "Disable sending downlink messages for end devices without session"
#### Summary
It's currently possible to send downlinks to devices without a valid session. Doing so will yield an error notification. Instead of permitting this ill-fated request we should disable the downlink message function for end devices without session.

#### Why do we need this?
When allowing to submit downlink messages in the Console, we set wrong expectations.

#### What is already there?

[2021-02-23 15:59] kschiffer opened #3851 "Footer layout is broken in mobile screen sizes"
#### Summary
Recent updates and extensions to the Console/Account App footer introduced some styling issues in mobile screen sizes:
![image](https://user-images.githubusercontent.com/5710611/108869818-db353000-75f7-11eb-817e-46c2c25747a1.png)

#### Steps to Reproduce
1. Go to the Console
2. Enable mobile mode in dev tools
3. Scroll down to see the footer

#### What do you see now?
Jagged layout.

[2021-02-24 07:24] KrishnaIyer commented on #3802
Yeah thanks @beitler for the explanation. Yeah this is certainly doable.

[2021-02-24 09:16] htdvisser commented on #2798
More and more of our dependencies are upgrading to protobuf 1.4 and the V2 API, and the longer we keep this open, the more problems we'll have when trying to upgrade our dependencies.

We should really give this some more priority and make a decision on what we're going to do about all this.

[2021-02-24 09:54] bafonins commented on #3480
Consider using an admin API key to perform api calls. See https://github.com/TheThingsNetwork/lorawan-stack/pull/3746

[2021-02-24 10:12] johanstokking commented on #3653
New one:

[code]

[2021-02-24 10:14] rvolosatovs commented on #3653
yes, TTES is broken, but not TTS. This is going to be closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/3852

[2021-02-24 12:22] johanstokking commented on #3842
References also https://github.com/TheThingsIndustries/lorawan-stack-docs/pull/236

[2021-02-24 12:33] johanstokking commented on #3842
This is now released, please see https://www.thethingsindustries.com/docs/integrations/aws-iot/default/deployment-guide/ and be sure to select **Community** before clicking the CloudFormation deployment button.

[2021-02-24 12:33] #3842 closed, assigned to johanstokking

[2021-02-24 13:33] #3503 closed, assigned to rvolosatovs

[2021-02-24 13:33] #3167 closed, assigned to rvolosatovs

[2021-02-24 13:33] #3495 closed, assigned to adriansmares

[2021-02-24 14:08] benolayinka commented on #3602
@kschiffer this is keeping the rebranding umbrella issue open. Do you have a timeline for it?

[2021-02-24 16:50] kschiffer commented on #3602
Commented in the other issue. I don't think we should keep the umbrella issue open because of this, since this is quite tangential.

[2021-02-25 10:28] johanstokking commented on #2798
Please plan a call for next week so we can discuss offline.

I think we should go through this pain process and concentrate on solving this in a week or two. And to avoid that we do other things as this is going to cause lots of conflicts otherwise. Having as many hands as possible requires knowing exactly what we are going to do in which cases, dividing tasks as much as possible and keeping eyes

[2021-02-25 11:29] #3736 closed, assigned to htdvisser

[2021-02-25 12:32] htdvisser opened #3864 "Handling Non-Compliant End Devices"
#### Summary

We need to think about how we're going to handle non-compliant end devices.

#### What is already there? What do you see now?

With more users migrating to v3, we see an increasing number of non-compliant (or misconfigured) end devices. While most of these end devices are "hobby basement" devices that only impact the coverage area of the developers own gateway, we can expect some of

[2021-02-25 22:08] baranisrc commented on #3820
If NS sets the DataRate=0 respectful of  Desired ADR settings for each device when sending the USA linkADRreq "channel_mask", it will cause devices with an 11 byte or larger payload to exceed allowed payload size and some modems may reset, thus sending them into an endless reset and rejoin cycle, since the maximum application payload length in the absence of the OPTIONAL FOpt MAC control field (N)

[2021-02-26 08:54] kristokj commented on #2130
Hi @beitler and @KrishnaIyer,
Could you please comment on the progress for this matter?

We are working on deploying several MultiTech Conduit AEPs with basic station on TTNv3, but have so far not been able to get it running correctly due to this issue of override coming down from the LNS server.
See these forum posts for details:
https://www.thethingsnetwork.org/forum/t/any-way-to-edit-the-ttnv3-

[2021-02-26 13:50] adriansmares commented on #3649
I have upgraded the priority to `prio/high` as it is affecting `v3.11.1` deployments.

The changes should be the following:

- Add `SessionKeyID` to `DownlinkQueueInvalidation`. If the queue is empty, the AS cannot know at this moment which queue was invalidated.

The following `proto` addition (field `3`) should suffice.

[code]

- The AS should update the queue + FCnt of the correct session, ins

[2021-02-26 14:09] johanstokking commented on #3649
Sounds good to me!

[2021-02-27 08:05] jpmeijers commented on #3838
I'm not sure if this is realted, but I had both TTN v3 and a private V3 instance open in my browser since about the same time yesterday afternoon. This morning both showed the same error screen:

![Screenshot from 2021-02-27 09-59-44](https://user-images.githubusercontent.com/948278/109381349-97397800-78e2-11eb-9f73-031aa11769b3.png)

Developer console shows an error:
![image](https://user-images.

[2021-02-28 13:11] jpmeijers opened #3869 "Packets with empty payload not published to Webhook or MQTT"
#### Summary

If a device sends an uplink message (packet) with no payload data, the message is received by TTN and shown on the console

![image](https://user-images.githubusercontent.com/948278/109419494-6f2b4100-79d6-11eb-855a-9bd4f92e1021.png)
(Three messages shown here)

The same message is not being received on MQTT and also not on the Webhook integration. These packets have metadata that is

[2021-03-01 12:38] johanstokking commented on #3637
@adriansmares what is the status here?

[2021-03-01 12:40] adriansmares commented on #3637
To be fixed as part of https://github.com/TheThingsNetwork/lorawan-stack/issues/3649 .

[2021-03-01 13:01] johanstokking commented on #2694
@bafonins what is the status here?

[2021-03-01 13:02] johanstokking commented on #2630
@adriansmares what is the status here?

[2021-03-01 13:03] johanstokking commented on #1422
@kschiffer what is the status here?

[2021-03-01 13:04] adriansmares commented on #2630
I have a working design in a local branch. I'll polish it this month and publish for review.

[2021-03-01 13:04] johanstokking commented on #1406
@neoaggelos what is the status here?

[2021-03-01 13:05] htdvisser commented on #1303
This is blocked on receiving v2 gateways for testing. @rish-c and @ajovertoom are working on that as far as I know. Please update this issue when we have the gateways.

[2021-03-01 13:06] johanstokking commented on #3522
@bafonins what is the status here?

[2021-03-01 13:23] johanstokking commented on #2887
@kschiffer what's the status here?

[2021-03-01 13:25] johanstokking commented on #3770
@htdvisser @kschiffer @bafonins please provide thoughts so we can finalize the implementation plan and land it in 3.12.

[2021-03-01 13:34] htdvisser commented on #1436
I'll do the Identity Server part and then hand over to @KrishnaIyer / @adriansmares.

[2021-03-01 13:37] johanstokking commented on #3490
Since this relaxes the security of UDP gateways, and can lead to anyone connecting a gateway by EUI, we need #1436.

[2021-03-01 13:41] htdvisser commented on #3458
We've decided to drop this. See https://github.com/TheThingsNetwork/lorawan-stack/pull/3616

[2021-03-01 13:41] #3458 closed, assigned to pgalic96

[2021-03-01 14:19] johanstokking commented on #2732
Let's open more concrete issues on specific parts.

[2021-03-01 14:19] descartes opened #3874 "First f_cnt is empty/null"
#### Summary
The first f_cnt value after join, ie a value that could or should be 0, is blank. If it could be populated with 0 it will save on managing database integrity issues.

#### Steps to Reproduce
Add a new device, trigger an uplink, look at the Event details, it's not there for the first uplink.

Doesn't appear in Data Storage or in WebHook.

#### What do you see now?
[code]
#### What do y

[2021-03-01 14:20] #2732 closed

[2021-03-01 14:31] johanstokking commented on #3150
Duplicate of #3513

[2021-03-01 14:31] #3150 closed, assigned to rvolosatovs

[2021-03-01 14:31] #2923 closed

[2021-03-01 14:32] #2797 closed

[2021-03-01 14:36] johanstokking commented on #2950
Please open a new issue if there's still something that needs to be addressed.

[2021-03-01 14:36] #2950 closed

[2021-03-01 14:38] johanstokking commented on #2613
Please reopen in `lorawan-stack-docs` if this is still to be done.

[2021-03-01 14:38] #2613 closed

[2021-03-01 14:38] johanstokking commented on #488
@kschiffer please open a new issue with progressive insight with the account app.

[2021-03-01 14:38] #488 closed

[2021-03-01 16:31] rvolosatovs commented on #2797
@johanstokking why was this closed?

[2021-03-02 07:52] bafonins commented on #3424
This might not be needed after we change the manual creation form according to mocks from https://github.com/TheThingsNetwork/lorawan-stack/issues/3522

[2021-03-02 08:22] bafonins commented on #3522
@johanstokking

I implemented the main features from this issue regarding end device creation from the lorawan device repository. ATM, the users are able to register end devices based on device repository templates and current UI matches the one provided in [wireframes](https://github.com/TheThingsNetwork/lorawan-stack/files/5589482/201124_end_device_creation_update.pdf).
What is left:
1. Join ser

[2021-03-02 08:25] bafonins commented on #1407
I think we need some input from @kschiffer for UX as it seems that the server side is ready and can generate qr codes for end devices.

[2021-03-02 08:29] bafonins commented on #2694
@johanstokking See my [comment](https://github.com/TheThingsNetwork/lorawan-stack/issues/3522#issuecomment-788715945) regarding JS address handling in DR form

[2021-03-02 09:04] htdvisser commented on #3770
This looks like quite a big and complicated feature, and I doubt that we'll be able to finish the UX design and implementation for v3.12.0.

Perhaps you (@johanstokking) should first work with @kschiffer on the UX design, so that it's more clear what exactly we're building. After that I think we should tackle the different provisioning flows one-by-one.

Other than that, I don't have much to say a

[2021-03-02 09:39] johanstokking commented on #2630
OK. This is non-blocking for 3.11.3; I'm also OK with 3.12.

[2021-03-02 09:48] johanstokking commented on #3649
Anything I can do here? If so, please re-assign me and let me know what.

[2021-03-02 10:11] johanstokking commented on #2797
Because we're not going to support this anytime soon.

[2021-03-02 10:42] htdvisser commented on #2798
Next steps:

1. @rvolosatovs updates the tooling to be as close as possible to "vanilla":
  - Remove things like `unconvert`, `gofumpt` and whatever else we're doing on top of protoc
  - Switch from `protoc-gen-gogottn` to `protoc-gen-gofast` (or whatever is closests to vanilla)
  - Explicitly add `(gogoproto.*)` options in our proto files, so that they render the same as now
2. We need to refacto

[2021-03-02 10:43] htdvisser commented on #2798
@rvolosatovs let's try to make those first steps for v3.11.3. When that's done please re-add the other assignees, and let's discuss again.

[2021-03-02 10:44] adriansmares commented on #3649
I'm already working on this, with a huge emphasis on the following point:

The reason for this is that taking actions based on the events received from the NS, as part of the queue, is fundamentally not really enough:
- Messages may be old, but we want to do fixes to the queue _now_
- Messages may be lost - the queue in not infinite
- Messages may be reordered - they are pushed in asynchronously i

[2021-03-02 11:14] johanstokking commented on #3649
I think this is the best option.

[2021-03-02 15:23] #3653 closed, assigned to rvolosatovs

[2021-03-02 15:29] htdvisser commented on #3251
This was actually merged in https://github.com/TheThingsNetwork/lorawan-stack/pull/3805, but GitHub only closes issues for the main branch, whereas this one went to the v3.12 branch.

[2021-03-02 15:29] #3251 closed, assigned to htdvisser

[2021-03-02 15:50] htdvisser commented on #2298
Blocked on #2798. We're going to do some more refactoring to our protos and generated code.

[2021-03-02 16:25] arigon opened #3878 "MQTT application server disconnect after one hour"
#### Summary
When using the MQTT server of the new V3 Application Server (public) my MQTT client gets disconnected after one hour even there is data being pushed all the time.

#### Steps to Reproduce
1. Connect to the TTN MQTT Server
2. Wait one hour

#### What do you see now?
MQTT client is disconnected with error: EOF

#### What do you want to see instead?
MQTT client is still connected

#### E

[2021-03-02 20:52] cstratton commented on #3869
Unless I'm mistaken, that traffic is on port 0 which is reserved for network-level housekeeping; if such housekeeping should be reported to an application feed is an interesting design question, but I suspect that's what is at issue.

Application traffic must use a port in the range of 1..223 so you might try sending your empty packet with a legal fPort

Additionally the 4/5 coding typically makes

[2021-03-03 06:57] jpmeijers commented on #3869
Ahh ok, I see now that those packets are sent on port 0, incorrectly. It's a bug in the LoRaWAN library I use (https://github.com/GrumpyOldPizza/ArduinoCore-stm32l0/blob/master/libraries/LoRaWAN).

For interest sake on V2 MQTT I do receive these empty payload messages on port 0:
```jpm_crickets/devices/cricket_001/up {"app_id":"jpm_crickets","dev_id":"cricket_001","hardware_serial":"00E150E95369A0

[2021-03-03 08:43] ama9910 commented on #3823
I think this is a good approach for Australia.

[2021-03-03 09:26] htdvisser opened #3881 "Update Sentry SDK"
#### Summary

We should update our Sentry SDK dependency.

#### Why do we need this?

Because Sentry is complaining about an outdated SDK

#### What is already there? What do you see now?

We're on version 5.19.0, the latest version is 6.2.1.

#### How do you propose to implement this?

Update the dependency and refactor code that needs changes.

#### How do you propose to test this?

Locally with

[2021-03-03 10:32] rvolosatovs commented on #3799
@adriansmares do you have any input here based on your research of `go-redis` library bugs? Can this be related?

[2021-03-03 10:32] johanstokking commented on #3823
@kschiffer please coordinate who should implement this.

[2021-03-03 10:34] rvolosatovs commented on #3754
@adriansmares I guess this is going to be closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/3880 ?

[2021-03-03 12:12] adriansmares commented on #3754
Yes.

[2021-03-03 12:15] adriansmares commented on #3799
I've posted my findings [here](https://github.com/TheThingsNetwork/lorawan-stack/pull/3848#issuecomment-786852702).

TLDR: Could be, but I cannot tell. The connection reaper bug could be old, and cause this issue (the one we're in right now), or it could be new and introduced as part of the `v8.4.1` release, and then it's probably unrelated.

[2021-03-03 12:22] rvolosatovs commented on #3799
Possibly ref https://github.com/go-redis/redis/issues/1657

[2021-03-03 12:24] robsonos opened #3882 "v3 - AWS IoT integration Lambda function errors"
Hi,

I am not sure if this is actually a bug or if I am I missing something.

#### Summary
I have been trying to use the AWS IoT integration with v3 au community cluster. I am still not able to make the integration work fully at the moment.  The issue occurs when trying to create a device from AWS IoT.

#### Steps to Reproduce
1. I followed the [Deployment Guide](https://www.thethingsindustries.co

[2021-03-03 12:53] #3818 closed, assigned to neoaggelos

[2021-03-03 13:25] #3637 closed, assigned to adriansmares

[2021-03-03 13:25] #3649 closed, assigned to rvolosatovs, adriansmares

[2021-03-03 13:25] #3754 closed, assigned to adriansmares

[2021-03-03 13:40] adriansmares commented on #2606
We've been emitting events (for a while now) via:

https://github.com/TheThingsIndustries/lorawan-stack/blob/77acc1f835a0945f3565c6d7d443690e063fd835/pkg/applicationserver/io/packages/loradms/v1/package.go#L78-L82

This issue is stale and should have been closed.

[2021-03-03 13:40] #2606 closed

[2021-03-04 08:48] ajovertoom commented on #1303
@KrishnaIyer our spare Cisco IXM is coming to the office once Sharan has visited storage this week.

[2021-03-04 10:09] kschiffer commented on #1422
The Account App has been introduced in 3.11. Currently still missing are:

*   Account switching #488 
*   Session management 
*   Authorizations management (iirc this also includes adding API endpoints)

[2021-03-04 13:25] johanstokking commented on #1422
OK. https://github.com/TheThingsNetwork/lorawan-stack/issues/488 is already closed it seems.

This has been a big issue. Can you file one or two new issues for the above to replace this one, so it can be closed?

[2021-03-04 13:59] kschiffer opened #3885 "Add session management to Account App"
#### Summary
The Account App should allow to manage the currently active sessions of the user.

#### Why do we need this?
It is security relevant for users to review and delete active sessions and hence managing resource access.

#### What is already there? What do you see now?
- The Account App has been introduced with 3.11.0. As of now it still lacks session management functionality.
- Session m

[2021-03-04 14:10] kschiffer opened #3886 "Add authorization management to the Account App"
#### Summary
The Account App should have functionality that lets users manage their current OAuth authorizations. See also #1422

#### Why do we need this?
Users will want to review and revoke authorizations for security reasons.

#### What is already there? What do you see now?
- Account App was introduced with 3.11.0
- API for OAuth authorizations

#### What is missing? What do you want to see?

[2021-03-04 14:15] johanstokking commented on #3882
Thanks @robsonos for filing the issue. I have a report by somebody else, but I was unable to reproduce the issue myself. It looks like you have the means to help me figure out what's going on here.

Can you please do the following:

1. Copy/paste the **Environment Variables** section of the AWS Lambda function `CreateThingFunction`? You can find this in Lambda (make sure you're in the right region

[2021-03-04 14:35] kschiffer commented on #1217
Superseded by #3886

[2021-03-04 14:35] #1217 closed

[2021-03-04 14:35] #1422 closed

[2021-03-04 14:42] kschiffer opened #3887 "Add profile pictures to the Console"
#### Summary
#3701 added support for updating profile pictures in the Account App. We should use profile pictures in the Console as well.

#### Why do we need this?
Basic functionality.

#### What is already there? What do you see now?
- Profile picture management via Account App
- Profile pictures as part of the user registry
- Some utility functions, components and basic plumbing for profile pic

[2021-03-04 14:52] kschiffer commented on #3864
I immediately thought of a "Issues" tab on both the application and end device layer, where such issues are listed. The tab would have a small counter bubble that should make it easy to spot issues when on the device/app overview. 

I understand that we can categorize these issues into severities, meaning that some will issues warning only while other will have consequences as listed above.

[2021-03-04 15:15] johanstokking commented on #3882
Nevermind, we can reproduce.

[2021-03-04 15:40] kschiffer commented on #2435
I suggest the following to make this actionable:

*   Adjust the `mg js:clean` command to only delete `en.json` and `xx.json`
*   Extend the user registry with a `LanguagePreference` field
*   Revisit our build process around locales
    *   We should avoid making the default language preference influence the build process
*   Extend the profile settings in the Account App with a language chooser

[2021-03-04 15:42] kschiffer opened #3888 "Add Japanese language to TTS"
#### Summary
With the amazing help of Hidetoshi Yoshida and Koji Aoya of the Japanese TTN community, we have obtained a Japanese translation of TTS. We need to do some preparation to add this to the code.\

#### Why do we need this?
To improve the experience for Japanese speaking TTS users.

#### What is already there? What do you see now?
A set of translated messages.

#### What is missing? What

[2021-03-04 15:44] kschiffer commented on #3888
This is currently blocked on #2435. I've commented there with a set of concrete steps that need to be resolved for us to be able to add more languages.

[2021-03-04 16:52] johanstokking commented on #3882
@robsonos Please update your CloudFormation stack per https://www.thethingsindustries.com/docs/integrations/aws-iot/default/update/. Make sure that the version is 1.1.2.

[2021-03-04 17:06] kschiffer opened #3890 "Move end devices between applications"
#### Summary
We currently don't allow moving end devices between different applications in the Console. This functionality should be added.

#### Why do we need this?
There is a use case where end devices are first registered on a testing/QA application and after approval they can be transferred to a "production" application. Right now, it's necessary to manually delete the device and re-enter the

[2021-03-04 17:15] kschiffer opened #3891 "Add configurable expiry to authentication/session cookies"
#### Summary
We currently don't use any expiry for our session cookie in the IS, as well as for the auth cookie of the oauth clients. This should be fixed and the exact value should be configurable.

#### Why do we need this?
It's not always desirable to have session cookies without expiry. (See https://github.com/TheThingsIndustries/lorawan-stack-support/issues/328)

#### What is already there? W

[2021-03-04 23:28] robsonos commented on #3882
HI @johanstokking,

I updated the CloudFormation stack to version 1.1.2 and the create and delete thing functions appeared to work (they did create and removed devices from my application on ttn v3 console). However, the CloudWatch logs is still reporting some errors:

Create Thing Lambda function:
[code]

Delete Thing Lambda function:
[code]

I then deleted the CloudFormation and tried to created

[2021-03-05 08:05] htdvisser opened #3892 "Release v3.11.2"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-03-05 09:15] johanstokking commented on #3882
The default Lambda execution timeout set by the AWS CDK is 3 seconds. That is not enough to create things in four components, especially considering latency between regions.

The timeouts are now adjusted in version 1.1.3. Please test with that CloudFormation stack.

---

This I can't reproduce. Make sure you select the **Community** CloudFormation template.

[2021-03-05 09:22] johanstokking opened #3894 "Disable UDP remote address check by default"
#### Summary

Disable the UDP remote address check by default.

#### Why do we need this?

Because the number of gateways that are changing remote addresses seems to be increasing rapidly, sometimes even for the upstream and downstream session, which leads to an unusable gateway.

#### What is already there? What do you see now?

The `gs.udp.addr-change-block` is 1 minute

#### What is missing? Wh

[2021-03-05 10:25] neoaggelos commented on #76
Closed with #3773

[2021-03-05 10:25] #76 closed

[2021-03-05 12:15] Anjali-NEC opened #3895 "How to send value without real device"
Hi Team,

I want to test iotagent LoRaWAN with my dummy device data. I have followed the steps described in the below document.
https://fiware-lorawan.readthedocs.io/en/latest/users_manual/index.html
https://github.com/FIWARE-GEs/iotagent-lorawan/blob/master/docs/tutorialStm32TTN.md

Install iotagent-LoRaWAN using docker
Provisioning a device with attribute: temperature,
Now I want to check the fl

[2021-03-05 12:20] adriansmares opened #3896 "Scalability of application packages traffic processing"
#### Summary

The current application packages traffic processing pipeline is strictly speaking serial and this can lead to lost traffic on stalls.

#### Why do we need this?

In order to avoid losing traffic when certain packages stall the traffic.

#### What is already there? What do you see now?

The current pipeline works as follows:
- The uplink arrives via the `applicationpackages` local sub

[2021-03-05 15:07] #3892 closed, assigned to htdvisser

[2021-03-05 15:22] kschiffer opened #3898 "Personal API Keys menu entry is visible for unapproved accounts"
#### Summary
Logged in users with an unapproved account will still see the `Personal API Keys` menu entry in the profile dropdown.

![image](https://user-images.githubusercontent.com/5710611/110135044-59e75580-7dce-11eb-9bb1-82854786af26.png)

#### Steps to Reproduce
1. Create a new account with `--is.user-registration.admin-approval.required=true`
2. Login using the new (unapproved) account
3. Af

[2021-03-06 07:53] #3851 closed, assigned to asmulko

[2021-03-06 08:21] #3850 closed, assigned to asmulko

[2021-03-06 15:46] frbehrens opened #3901 "ADR does not change data rate"
#### Summary
After a (manually) change of data rate and using ADR the network calculates
new settings and changes TX power, but not the data rate.

That behaviour is different to the TTN v2 stack and *I believe* it is
caused by a missing transfer of last received data rate to the internal
MAC state.

#### Steps to Reproduce

1. The device joins and sends a confirmed uplink.
2. The device receives

[2021-03-07 13:52] frbehrens opened #3902 "Missing ACKs for confirmed uplinks when different RX1Delay is used"
#### Summary

When the RX1Delay parameter is decreased (even with minor difference to 4s)
the device does not receive acknowledge downlinks for all confirmed
uplink messages. Furthermore, the downlinks are not even seen as scheduled
in the console.

#### Steps to Reproduce

1. Set the RX1Delay for the device to 4 seconds.
   `ttn-lw-cli dev set ... --mac-settings.desired-rx1-delay RX_DELAY_4`
2. T

[2021-03-08 00:03] robsonos commented on #3882
Hi @johanstokking ,

Please disregard the error with the CloudFormation creation. I just created a new one with 1.1.3 but the errors persist (no devices were created on the console this time).

Create Thing Lambda function:
[code]

Is this an error on eu1 and nam1 community as well?

Cheers

[2021-03-08 07:54] johanstokking commented on #3896
Then there should be parallelization in the package too, right? Otherwise one application performing long DMS calls can still stall other applications using DMS too.

If the fanout is a channel send? Is that waited upon with a timeout, and then also parallel and are all channel sends awaited upon to avoid a goroutine blow up?

[2021-03-08 09:18] KrishnaIyer commented on #3894
Refs; https://github.com/TheThingsIndustries/lorawan-stack-aws/pull/376

[2021-03-08 09:26] johanstokking commented on #3882
@robsonos I cannot reproduce this.

Please attach a screenshot of the attributes as you configure them, before creating the thing.

See also https://www.thethingsindustries.com/docs/integrations/aws-iot/default/things/#creating-things

[2021-03-08 09:29] johanstokking commented on #3894
OK good for ops, but we need a default in the codebase too.

[2021-03-08 09:55] kschiffer commented on #3522
The firmware and hardware version hints have been added via https://github.com/lorawan-schema/draft-devices/commit/4028c0a44da3a0276850f41275558c77275cf9c7 (see also https://github.com/TheThingsNetwork/lorawan-devices/issues/74). So the hints can now be displayed in the Console as defined in the wireframes.

[2021-03-08 11:52] KrishnaIyer commented on #3894
Yes
https://github.com/TheThingsNetwork/lorawan-stack/pull/3906

[2021-03-08 12:37] htdvisser commented on #3833
Identity Server changes are in https://github.com/TheThingsNetwork/lorawan-stack/compare/v3.12...feature/3833-validation-token-used. Handing over Console part to @kschiffer.

[2021-03-08 12:40] robsonos commented on #3882
Hi @johanstokking

I got some progress here. Apparently the device I was trying to create already exits somewhere within the servers ( I have been using the same devEUI, appEUI and appKey for the tests). That could possibly explain the logs from my previous comment. However, as this device is not listed anywhere in the console I cannot delete it and thus I cannot recreate it.
I realised this when

[2021-03-08 12:45] #3894 closed, assigned to KrishnaIyer

[2021-03-08 12:49] johanstokking commented on #3882
OK, that all looks good.

Hmm, that's a tricky one as we currently don't automatically purge orphan devices (that is, devices that are deleted from the Identity Server but that are still in Application Server) for example. References #2735

I'll contact you on TTN Slack to resolve this.

[2021-03-08 12:49] #3882 closed, assigned to johanstokking

[2021-03-08 13:02] robsonos commented on #3882
Thanks, Johan.

I keep an eye on that thread. I did notice that I couldn't reuse the same application ID after deleting it. It is good to know that there is a thread about that too.

Cheers

[2021-03-08 15:55] #3881 closed, assigned to htdvisser

[2021-03-08 16:13] kschiffer opened #3907 "Add checkbox to validate email address when creating a new user"
#### Summary
When creating new users as an admin in the Console, it is currently not possible to also validate the primary email address, so users will always additionally have to verify their contact info.

See also: https://github.com/TheThingsIndustries/lorawan-stack-support/issues/340#event-4421991952

#### Steps to Reproduce
1. As a new admin, create a new user
2. In the resulting record, see

[2021-03-09 05:50] i3mSuperMan opened #3909 "Possibility to configure NetIDs for Basic Station filtering"
#### Summary
Basic Station/LNS protocol defines a `router_config` message, and it contains a field called `NetID`. This field allows filtering the device addresses the gateway will forward to the stack. Hence, we are seeking support on the possibility to configure these `NetIDs` in the stack, which will be forwarded to the Basic Station gateways in the `router_config` message

A stack-wide setting

[2021-03-09 10:02] htdvisser commented on #3891
See also https://github.com/TheThingsIndustries/lorawan-stack/issues/1411

[2021-03-09 15:14] adriansmares commented on #3896
We can do that indeed. The reason why I didn't mention it was because packages can modify the state of the device / application and it would mean they race by default. Nonetheless, we don't have any that do this, so it should be fine.

We can also make the distribution stable (i.e. having a subscription per worker, and always hashing the same end device UID to the same task).

`PublishUp` for `io.

[2021-03-09 19:21] rvolosatovs commented on #3901
Thank you for reporting. This is actually a great idea to use the uplink data rate index and will solve quite some issues with LinkADR in US-like bands.

[2021-03-09 19:26] rvolosatovs commented on #3820
This should be fixed by https://github.com/TheThingsNetwork/lorawan-stack/issues/3901 - NS will probably send the uplink data rate index in the first LinkADRReq.

[2021-03-10 07:38] johanstokking opened #3913 "Disable uplink simulation and downlink message sending when skipping payload crypto"
#### Summary

Disable uplink simulation and downlink message sending when skipping payload crypto

#### Why do we need this?

When simulating uplink, the simulated payload would still be encrypted. I don't think it's of great added value to support uplink simulation with encrypted FRMPayload.

When sending downlink, AS doesn't have a FCntDown so it always fails. Also, the same problem applies: it

[2021-03-10 08:26] frbehrens commented on #3901
Thank you for handling the problem.
But I don't see this as an idea, isn't that the way ADR works and that it has been implemented in the TTN v2 stack for a long time? How should the network calculate a new rate if it does not use the current uplink data rate as a basis?

[2021-03-10 11:54] htdvisser opened #3914 "Add Telemetry to Application Server I/O Packages"
#### Summary

We want some more telemetry in the `pkg/applicationserver/io/...` packages.

#### Why do we need this?

We're receiving community reports of webhooks that don't get delivered, but we currently have no way to quickly verify these reports with telemetry.

#### What is missing? What do you want to see?

Metrics that indicate:

- Number of successful webhooks
- Number of unsuccessful web

[2021-03-10 13:54] htdvisser commented on #3914
Just submitted a quick PR for the webhooks package (https://github.com/TheThingsNetwork/lorawan-stack/pull/3915). Handing over to @adriansmares for other packages. Feel free to move this to a different if you won't have time to do this in v3.11.3.

[2021-03-10 15:43] rvolosatovs commented on #3901
![2021-03-10-16:25:14-screenshot](https://user-images.githubusercontent.com/12877905/110653064-3b61cf80-81bd-11eb-9027-e7c54cd76bf0.png)
This is what the 1.0.4 spec has to say about it.

So, data rate index 0 is expected to be used initially as per the spec, unless device is physically incapable of using it (in which case that should be communicated out-of-band). Additionally, once ADR procedure i

[2021-03-10 16:02] rvolosatovs commented on #2269
In current implementation, channels are simply replaced by the values of this field, but that breaks downlinks in US-like bands or, really, any band when uplink and downlink frequencies are not symmetric.
Rescheduling this and will fix along with OTAA

[2021-03-10 16:18] johanstokking commented on #3513
We would also like to see LoRa FHSS support. This means four new data rates for EU868:

![image](https://user-images.githubusercontent.com/13334001/110661083-7ddada80-81c4-11eb-80a4-facb4fe0bbf9.png)

And two in US915. Other regions are coming.

[2021-03-11 11:54] kschiffer commented on #3707
Resolved via https://github.com/TheThingsNetwork/lorawan-stack/pull/3801

[2021-03-11 11:54] #3707 closed, assigned to kschiffer

[2021-03-11 11:59] kschiffer commented on #3513
Also note that we really should adopt the naming of the official specification document `RP002-1.0.0`, `RP002-1.0.1`, `RP002-1.0.2`, as opposed to arbitrary `MAC 1.0.0` `PHY 1.0.0` etc.

[2021-03-11 12:16] johanstokking commented on #3513
Yes, I agree

[2021-03-12 06:05] viethoa14 opened #3921 "Device rejoin and can not update CFlist"
#### Summary

Device disconnect to NS about several days, device maybe rejoin (still devaddr, netid). After device connect again NS, device only work at default frequencies. NS send ADR request, device ack with datarate, tx power index, reject channel mask. NS continue send ADR request, no send CFlist. But with other provider service, NS continue send CFlist, ADR, ...

#### Steps to Reproduce

1.

[2021-03-12 09:06] HeadBoffin commented on #3874
We run the risk of technical debt in thousands of code fragments across the world if this isn't resolved - or at least acknowledgement that that is where we are heading. Please.

[2021-03-12 19:25] johanstokking commented on #3771
@kschiffer please start thinking about the UX in the form of wireframes.

The API is designed. See https://github.com/TheThingsNetwork/lorawan-stack/pull/3912/files#diff-4371dadc483aa14e23af85a7baf0e1d57b6d0c67fcf203b94412e13b224cc541 and then especially those `rpc`s.

My idea is as follows:

- Administrators can manage peering for their network. In The Things Stack, this is per deployment. In The

[2021-03-14 10:18] johanstokking commented on #3771
This needs major API extensions so this is moved to 3.12.

[2021-03-15 13:10] #3887 closed, assigned to asmulko

[2021-03-15 13:11] #3907 closed, assigned to asmulko

[2021-03-15 14:11] #3540 closed, assigned to kschiffer, bafonins, pgalic96, mjamescompton, asmulko

[2021-03-15 21:39] kurtmc opened #3923 "Application overview webpage constantly refreshes and flashes"
#### Summary

When I navigate to the application overview pager for our lorawan-stack deployment, the page is refreshing constantly and flashing on the screen, it happens at a really high frequency.

#### Steps to Reproduce

1. Run v3.11.2
2. navigate to application overview page

#### What do you see now?

![ttn-flashing-cropped](https://user-images.githubusercontent.com/2661907/111224723-b7d4328

[2021-03-15 22:40] descartes commented on #3895
Resolved on the forum - recommend closure as not an issue.

[2021-03-15 22:46] neoaggelos commented on #56
This requires the API change of #76 which is going in 3.12, updated the milestone for this issue accordingly.

[2021-03-16 08:26] #3895 closed, assigned to nobody

[2021-03-16 08:27] johanstokking commented on #3923
That doesn't look good indeed.

Do you see errors or log messages in the console of the browser (via Developer Tools)?

Which browser are you using exactly?

[2021-03-16 08:31] johanstokking commented on #3890
This is what claiming is for, and that already works perfectly per device.

What I think we need instead is:

- Single end device claiming support in the Console (https://github.com/TheThingsNetwork/lorawan-stack/issues/3770)
- Assign claim authentication codes in bulk
- Export end devices with claim authentication code in bulk
- Bulk claiming

[2021-03-16 08:48] KrishnaIyer commented on #3890
I can pick up the `dcs` part. There have been similar requests for gateways as well.

[2021-03-16 09:25] kurtmc commented on #3923
Just tested this again on Firefox and Google Chrome, both have the exact same issue. Errors in the javascript console, firefox:
[code]
chrome:
[code]

I possibly have something configured incorrectly, maybe I have set the hostname of something to `localhost` instead of its real hostname.

Edit: looking at my config, I have not explicitly set anything as `localhost`.

[2021-03-16 09:41] kurtmc commented on #3923
I guess I need to set `TTN_LW_CONSOLE_UI_EDTC_BASE_URL`

[2021-03-16 09:54] bafonins commented on #3923
@kurtmc This seems to be a configuration issue. Please try setting the `TTN_LW_CONSOLE_UI_EDTC_BASE_URL` variable.

However, this indeed the webui issue. The Console should handle such cases and render the error view instead of getting stuck in a refresh loop.

[2021-03-16 09:56] kurtmc commented on #3923
I have now set `TTN_LW_CONSOLE_UI_EDTC_BASE_URL` and it resolves the issue I was having. In my config I currently have a bunch of base urls set, looking something like this:
[code]

Am I doing something wrong? Can this be set with a single flag instead of 6? This would prevent this kind of issue in the future if a new service is added in a new lorawan version and I don't know about it.

[2021-03-16 10:32] bafonins commented on #3923
As far as I can see this should be set by default https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.11/cmd/internal/shared/console/config.go#L47-L56.

cc @htdvisser

[2021-03-16 11:20] KrishnaIyer opened #3929 "Add option to fill LNS Secret of a Gateway via the Console"
#### Summary

Add option to fill LNS Secret of a Gateway via the Console.

#### Why do we need this?

Currently, we fill LNS secrets via the CLI which requires quite a number of steps. To make this feature more usable, it's better to add it to the console.

#### What is already there? What do you see now?

Here's the current process for setting the LNS Secret of a gateway is as follows;
1. Create

[2021-03-16 12:21] johanstokking commented on #3890
I think I need to mark this as a duplicate of https://github.com/TheThingsIndustries/lorawan-stack/issues/2345 as we will (only) transfer of devices via claiming.

[2021-03-16 12:23] kschiffer commented on #3890
Is this really the way to go for moving devices between two applications of the same owner? Without doing a lot of research on the technicalities, it seems like quite an overhead in terms of UX, simply to be able to transfer devices within the same ownership domain.

[2021-03-16 12:26] johanstokking commented on #1407
Let's pick this up in a next version.

References:
- https://github.com/TheThingsIndustries/lorawan-stack-support/issues/334
- https://github.com/TheThingsIndustries/lorawan-stack/issues/2345

---

With the current API support, it should be really straightforward. The image is generated in PNG format in the desired size and only needs to be shown somewhere.

@kschiffer for ideas on where to put th

[2021-03-16 12:34] kschiffer opened #3930 "Reference profile settings in the Console"
#### Summary
We have added profile settings to the Account App via #3701 and also profile pictures are now visible in the Console via  #3900. However, this feature is still more or less invisible for Console users. We should hence link the profile settings in the user dropdown in the Console.

#### Why do we need this?
To make sure users will know where and how to change their profile settings.

#

[2021-03-16 12:38] johanstokking commented on #3890
I don't think it should matter whether it is the same owner or not. I agree that transferring devices from one app to another is a simple use case, but let's not build a specific process for that if device claiming can do the same and much more.

Technically, devices are being deleted from IS, JS, NS and AS, and then created again. That is a vulnerable process that needs lots of security checking,

[2021-03-16 13:35] kschiffer commented on #2887
This one is tricky. Solving this properly is blocked on #3817. An intermediate fix is described here [https://github.com/TheThingsNetwork/lorawan-stack/issues/2231#issuecomment-779659836.](https://github.com/TheThingsNetwork/lorawan-stack/issues/2231#issuecomment-779659836.) 

To add this, we need to be able to filter event streams on event types, which is one of the things that will be added by t

[2021-03-16 13:38] johanstokking commented on #3874
All fields that have the default value aren't included. So in this case it's in an integer and the value is `0`, so it's omitted.

An underlying library is doing the JSON encoding, from which we are moving away. That's a big refactor that we've been planning for a long time, see #2798.

[2021-03-16 13:38] #3874 closed, assigned to nobody

[2021-03-16 14:19] johanstokking opened #3931 "Gateway opt out for Packet Broker peering"
#### Summary

Opt out specific gateways for peering through Packet Broker

#### Why do we need this?

Some users in The Things Network might not want to open their gateways for peering with commercial networks.

Also, some commercial networks may not want some gateways to peer with other networks.

#### What is already there? What do you see now?

With #3771, routing policies can be configured for

[2021-03-16 14:22] kschiffer commented on #2887
So this needs to be removed from the current milestone, since it's not actionable right now as we need a decision on this first.

[2021-03-16 15:07] kschiffer opened #3934 "Update node modules as far as possible"
#### Summary
Many of our node modules have not been updated in a long time. We should try to keep packages up to date as much as possible.

#### Why do we need this?
- Security
- Getting packages to a recent state, so we can add a dependabot config to

#### What is already there? What do you see now?
I have a branch ready which does most of the work already: https://github.com/TheThingsNetwork/lor

[2021-03-16 15:35] neoaggelos commented on #3931
One of the main issues with polling the Entity Registry is that it does not play well with unauthenticated gateways (UDP).

References #2821

[2021-03-16 15:56] htdvisser commented on #3931
Getting stuff from IS with cluster auth is already possible. On the GS side, this issue simply adds an extra field to that "getting stuff", and handling that field.

Anything else is out of scope.

- The "polling for updates from ER" discussion is, as @neoaggelos already commented, in https://github.com/TheThingsNetwork/lorawan-stack/issues/2821
- The "writing stuff to ER from unauthenticated gate

[2021-03-16 18:59] kurtmc commented on #3923
@bafonins It looks like that is hardcoded to localhost: https://github.com/TheThingsNetwork/lorawan-stack/blob/32ad18b2bac1359d9c8e7669d1466362a7ade154/cmd/internal/shared/config.go#L137-L140

Also, looking at your link, should I also be setting base URLs for `QRG` and `GCS`?

[2021-03-17 03:44] viethoa14 commented on #3921
thanks for your update milestones. Can you tell me the current status this issue?

1.  You have not yet enough time for test now?
2.  You have found problem but have not enough time for fix?
3.  You have test but don't seen problem...?

[2021-03-17 03:57] jamesl-dm opened #3938 "Incorrect maximum downlink sizes in AU915"
#### Summary
The downlink sizes in https://github.com/TheThingsNetwork/lorawan-stack/blob/d4791aeafa01f8f85eb258c534a5706a1d0c4a74/pkg/band/au_915_928.go#L95 are based on older versions of the regional parameters, which appear to have a clerical error in the repeater-compatible size list. Repeater compatibility requires ensuring that the packets can be encapsulated in a large (242 byte payload / 2

[2021-03-17 04:02] jamesl-dm opened #3939 "Incorrect maximum downlink payload sizes"
#### Summary
The maximum payload sizes the V3 stack will send appear to be 5 bytes too small.

#### Steps to Reproduce
Try to send a maximal size user payload at SF7.

#### What do you see now?
The largest payload I can get the network to deliver is 217 bytes.

#### What do you want to see instead?
The correct maximum size is 222 bytes for repeater compatibility.

#### Environment
AU915 subband 2,

[2021-03-17 04:12] jamesl-dm opened #3940 "Confirmed uplinks aren't acknowledged while the downlink queue is blocked"
#### Summary
When there is a large downlink in the downlink queue, which cannot be sent at the current data rate, it stays in the queue until the end node increases data rate, and the downlink becomes deliverable. During this time:

- MAC commands addressed to the end node, like LinkADRReq's to increase its data rate, work as expected
- However, if the device sends a confirmed uplink, the network

[2021-03-17 10:32] johanstokking commented on #3931
OK, I scheduled #2821 also for Q2. Let's scope this issue only to:

- Adding `disable_packetbroker_forwarding` to `Gateway`
- Getting the field in GS, just like other settings are retrieved (currently only on connect, with #2821 also during a connection)
- Skip the Packet Broker upstream handler in `handleUpstream()`. Still consider not starting the PB upstream when forwarding is disabled for the

[2021-03-17 11:32] #3914 closed, assigned to adriansmares

[2021-03-17 12:05] #3839 closed, assigned to neoaggelos

[2021-03-17 12:24] #2630 closed

[2021-03-17 15:31] adriansmares opened #3942 "Improve Application Server end device fetcher network partition resilience"
#### Summary

The end device fetcher used by the Application Server in order to retrieve the locations needs to be more robust when the IS peer is not available.

#### Why do we need this?

Since the location 'injection' is on the hotpath, we need to ensure that we don't freeze the AS when the IS is not available.

#### What is already there? What do you see now?

The cached end device fetcher cac

[2021-03-17 15:54] adriansmares commented on #2232
The API and backend support has been merged as part of #3937. Here are some example payloads:

# Downlink encode
[code]

Outputs:

[code]

# Downlink decode
[code]

Outputs:

[code]

# Uplink decode

[code]
Output:
[code]

I don't really like that we need the `rx_metadata`/`settings` either, but the validation middleware expects it to be filled to a certain extent. It's fine to use fake that data,

[2021-03-17 18:35] V999TEC opened #3943 "V3 console Live Data event details - 404 url - please see our Data Formats"
#### Summary
If I use the v3 console to look at the Event Details within Live Data
there is a handy link to Data Formats following the text
"For more information on event message types, please see our Data_Formats"

Unfortunately the link is not so handy because it points to...

https://thethingsindustries.com/docs/docs/reference/data-formats/
This gives 404 :-(

The link should be...
https://www.

[2021-03-18 01:56] trlafleur opened #3944 "Timestamp in linux format..."
#### Summary

Rx timestamps appear to come for the gateway, some gateway appears to use a non standard format
Would be nice to have a timestamp from the Application Server or other component that has a stable time format.

If you see below, time appears to be always correct, but the timestamp format from the gateway concentrator is NOT reliable...
[code]

#### Why do we need this?

...

#### What

[2021-03-18 08:11] #3898 closed, assigned to bafonins

[2021-03-18 10:16] johanstokking commented on #3944
@trlafleur the timestamp there is in fact the concentrator timestamp; the time in microseconds since the gateway concentrator started. It's a 32-bit unsigned int and so it rolls over roughly every 71 minutes. It's not really meaningful on the application layer.

`time` is only present if the gateway has an absolute time, i.e. if there's GPS or NTP.

What's always there and what's pretty reliable i

[2021-03-18 10:16] #3944 closed, assigned to nobody

[2021-03-18 10:18] johanstokking commented on #3943
@V999TEC thanks for reporting. If you want to make yourself immortal as a The Things Stack contributor, please submit a pull request. The concerning file is `pkg/webui/console/components/events/details/index.js`

[2021-03-18 10:21] johanstokking commented on #3939
@jamesl-dm thanks for reporting. This seems like a valid issue to me.

[2021-03-18 10:22] johanstokking commented on #3938
Isn't this a duplicate of #3939, or more of a clarification?

[2021-03-18 10:35] kschiffer opened #3945 "Remove titles for checkbox inputs"
#### Summary
We moved to a vertical form layout via #3529. With this, it's no longer necessary to use titles for checkboxes but to only use the label.
#### Why do we need this?
This will reduce the cognitive load of forms and also shrink them in size.

#### What is already there? What do you see now?
Checkboxes like these:
![image](https://user-images.githubusercontent.com/5710611/111611224-817deb

[2021-03-18 10:40] kschiffer commented on #3945
While at it, please also check the descriptions of checkbox inputs. They are sometimes misleading, e.g. 

![](https://user-images.githubusercontent.com/5710611/111613091-72983800-87de-11eb-9835-2e3658710959.png)

This could be misunderstood in a way that this is already activated. This should rather be `Controls whether the status of this gateway may be publicly displayed`. I think there are more

[2021-03-18 18:16] kschiffer opened #3947 "New gateway registration flow (Console)"
#### Summary
Congruently to #3522, we also want to revisit the gateway registration flow, which is currently too verbose and has many options that are usually not relevant during registration. Additionally, we can use templates of the device repository once we add support for gateways.

#### Why do we need this?
Gateway onboarding is currently not smooth.

#### What is already there? What do you s

[2021-03-19 02:16] jamesl-dm commented on #3938
No, 3939 applies to all regions. This issue is a typo in the regional parameters for AU915 only.

[2021-03-19 07:58] htdvisser opened #3948 "Release v3.11.3"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-03-20 00:20] trlafleur commented on #3944
"received_at" is an Ascii Text string, this is very difficult to import into Grafana/inFlux.. or many other databases.

would be nice to see this as a "numerical value" in Linux or another format...

is there a way to import "received_at" into the application decoder where one could do the conversion???

Thanks

Tom Lafleur

On Thu, Mar 18, 2021 at 3:16 AM Johan Stokking ***@***.***>
wrote:

[2021-03-20 11:33] HeadBoffin opened #3963 "Data Storage integration setup fails in 3.11.3"
#### Summary
When installing the community edition of the stack, the Data Storage setup fails

#### Steps to Reproduce
Setup configuration as per docs

Run `docker-compose run --rm stack storage-db init`

Observe:
[code]

#### What do you want to see instead?
Success

[2021-03-22 05:45] benolayinka commented on #3963
Have another report of this as well @neoaggelos

[2021-03-22 09:41] neoaggelos commented on #3963
The implementation of the Storage Integration is not open-source. As per the [documentation](https://www.thethingsindustries.com/docs/integrations/storage/), the Storage Integration is (presently) not available for self-hosted The Things Stack deployments.

Note that the storage integration is also available in [The Things Network V3](https://eu1.cloud.thethings.network/)

[2021-03-22 10:02] neoaggelos opened #3964 "Discover cluster peers with ttn-lw-cli use command"
#### Summary

Update `ttn-lw-cli use <deployment>` command to use the correct server address for all cluster roles (mainly Identity Server).

#### Why do we need this?

PCN v3 has a single Identity Server (eu1.cloud.thethings.network) and multiple routing clusters (au1, nam1).

#### What is already there? What do you see now?

When we do `ttn-lw-cli use au1.cloud.thethings.network`, the CLI sets `

[2021-03-22 10:05] neoaggelos commented on #3964
This requires that SRV records are correctly set for PCN and cloud deployments.

[2021-03-22 11:20] johanstokking commented on #3944
I understand, but it's not just an ASCII text string, it's strictly following [RFC 3339](https://tools.ietf.org/html/rfc3339) which is the de facto standard for timestamps on the internet. Influx supports RFC 3339 natively; use precision `rfc3339`.

[2021-03-22 11:27] soportekenai opened #3965 "ERROR Could not start gRPC server ---AND--- open /run/secrets/key.pem: permission denied"
#### Summary
ERROR Could not start gRPC server
open /run/secrets/key.pem: permission denied
...

#### Steps to Reproduce

1. I create a VM on Google Cloud (Ubuntu 20.04 LTS)
2. I followed "Installing The Things Stack on Localhost" on Youtube
3. When i run the command docker-compose up, i am getting the following error

the-things-stack_cockroach_1 is up-to-date
the-things-stack_redis_1 is up-to-da

[2021-03-22 13:27] #2533 closed

[2021-03-22 13:37] #3943 closed, assigned to asmulko

[2021-03-22 15:20] nejraselimovic commented on #3965
@soportekenai did you try with this:

`$ sudo chown 886:886 ./cert.pem ./key.pem`

[2021-03-22 15:34] asmulko commented on #3833
Looks like console handles this error correctly @htdvisser

![image](https://user-images.githubusercontent.com/72162194/112015782-cc796480-8b34-11eb-920d-76763e532b0b.png)

[2021-03-22 18:17] nejraselimovic commented on #3963
I'm closing this as it is apparently working as intended.

[2021-03-22 18:17] #3963 closed, assigned to neoaggelos

[2021-03-22 21:26] kurtmc commented on #3799
Looks like this is resolved in v3.11.2, we have been running for about 6 days and have not run into this redis issue.

[2021-03-22 21:26] #3799 closed, assigned to rvolosatovs

[2021-03-22 21:56] rvolosatovs commented on #3939
You are absolutely right, @jamesl-dm, thanks - opened a fix PR at #3966!

[2021-03-23 08:35] soportekenai commented on #3965
Hello, I no longer have the problem, but now this happens to me

![imagen](https://user-images.githubusercontent.com/75428432/112116940-19078300-8bbb-11eb-9632-29bf0acf6f78.png)

soportekenai@instance-2:~$ cd the-things-stack
soportekenai@instance-2:~/the-things-stack$ ls
acme  ca-key.pem  ca.json  cert.csr   cert.pem  docker-compose.yml
blob  ca.csr      ca.pem   cert.json  config    key.pem
sopo

[2021-03-23 08:52] nejraselimovic commented on #3965
Good, I'm closing this issue then.

Try following [these steps](https://github.com/TheThingsNetwork/lorawan-stack/issues/3273#issuecomment-704266828), as it is already known as a working setup for localhost. Also (if you haven't already) check out the [Running The Things Stack as localhost](https://www.thethingsindustries.com/docs/getting-started/installation/configuration/) section in our documen

[2021-03-23 08:52] #3965 closed, assigned to nobody

[2021-03-23 09:16] #3923 closed, assigned to bafonins

[2021-03-23 10:25] #2969 closed

[2021-03-23 10:28] jpmeijers commented on #3869
I've just tested on v3.11.3 (TTN).

The empty payload uplinks are now forwarded on MQTT, even though the port is 0.

This solves my original issue.

[2021-03-23 10:28] #3869 closed, assigned to adriansmares

[2021-03-23 10:29] htdvisser commented on #3964
@neoaggelos please assign who you need in this discussion, and what exactly you want to discuss.

[2021-03-23 11:05] johanstokking commented on #3864
I think that we should develop this as event consumers for the Event Server (https://github.com/TheThingsIndustries/lorawan-stack/issues/1804). Aim for implementing this by observing events, and not include this complexity and state to an already complex Network Server. Should we emit additional event payload or new events, then that's of course fine.

As with other use case for observing events (

[2021-03-23 11:43] soportekenai commented on #3965
Is there some tutorial for the installation in virtual machine of google?

[2021-03-23 11:47] soportekenai commented on #3965
Now the following message appears:
Forbidden
Client is not authorized to request a token using this method

[2021-03-23 12:37] #3938 closed, assigned to rvolosatovs

[2021-03-23 12:39] #3939 closed, assigned to rvolosatovs

[2021-03-23 12:41] nejraselimovic commented on #3965
Not that I know of.

Please file a separate issue for this error.

[2021-03-23 15:06] i3mSuperMan opened #3970 "Option to configure the cipher suites"
#### Summary
An option to configure the cipher suites to be allowed

#### Why do we need this?
To allow only certain cipher suites for improved security

#### What is already there? What do you see now?
- The default list of cipher suites specified in Go runtime is used

#### What is missing? What do you want to see?
- An option to configure certain cipher suites from the default list

#### Enviro

[2021-03-23 18:15] #3942 closed, assigned to adriansmares

[2021-03-24 08:58] pgalic96 commented on #3750
I have more time from 1st of April, so wondering if this is where I should start with the stack issues. cc @johanstokking @htdvisser to me this seems like a very useful feature, but I would like to avoid the situation that happened with the entity rights transfer feature so we should discuss if we really need this. Also seems its something community is interested in as well.

[2021-03-24 09:23] i3mSuperMan opened #3972 "Confirmed uplink retry limitation"
#### Summary
Number of retries allowed for confirmed uplinks currently on NS end:
- `NbTrans` for all confirmed frames in versions since MAC v1.0.4
- `5` for confirmed frames in versions before MAC v1.0.4

Also, Network Server has a max retransmission delay - the latest retransmission may arrive no later than `RX_DELAY + 11 seconds` after the first uplink.
Ref: https://github.com/TheThingsIndustri

[2021-03-24 13:33] soportekenai opened #3974 "Login failed An unknown error occurred. Please try again late"
#### Summary

Login failed An unknown error occurred. Please try again late

#### Steps to Reproduce

1. I create a VM on Google Cloud (Ubuntu 20.04 LTS)
2. I followed "Installing The Things Stack
[YML.zip](https://github.com/TheThingsNetwork/lorawan-stack/files/6197578/YML.zip)
on Localhost" on Youtube
3. I opened an issue
https://github.com/TheThingsNetwork/lorawan-stack/issues/3965
4. now I try

[2021-03-24 13:54] johanstokking opened #3975 "ID `tracker` can lead to browsers blocking the request"
#### Summary

Console crash when opening device

#### Steps to Reproduce

`ttn-org` members, go here: https://eu1.cloud.thethings.network/console/applications/johan-test/devices/tracker

The device was fresh provisioned on an external Join Server.

#### What do you see now?

<img width="1813" alt="Screenshot 2021-03-24 at 14 47 24" src="https://user-images.githubusercontent.com/13334001/112321688-

[2021-03-24 13:59] johanstokking commented on #3975
OK the problem is that the device ID is `tracker` and now my browser thinks it's a (browser) tracker.

Should we blacklist this ID? @bafonins @htdvisser

[2021-03-24 14:08] bafonins commented on #3975
Yeah, I think so. We dont really want someone else to experience the same issue.
Also this solution is quite simple as it seems that other variations of ids with `tracker` arent blocked. e.g. `bosch-tracker` causes no issues.

[2021-03-24 14:14] kschiffer commented on #3975
Agreed. It would be good to somehow find out which other names could cause trouble.

[2021-03-24 16:32] #1436 closed

[2021-03-24 17:18] nejraselimovic commented on #3974
@kschiffer can you help with this? I can later document it in [Troubleshooting](https://www.thethingsindustries.com/docs/getting-started/installation/troubleshooting/).

[2021-03-25 08:32] htdvisser commented on #3975
On Firefox with uBlock Origin this also errors. In my case the [EasyPrivacy](https://easylist.to/easylist/easyprivacy.txt) was blocking it. Looking at that list, I've identified a number of other possibly problematic URLs that may be valid IDs in The Things Stack:

[code]

[2021-03-25 10:22] htdvisser commented on #3975
I'm afraid that it will become a never ending struggle if we start blocking IDs (or parts of IDs) that may be problematic in a specific group of users that uses some content blocking browser extensions. There will always be users that use different blocklists and we'll never keep up.

At the same time, we make the experience worse for users that don't use such extensions. Should we really prevent

[2021-03-25 10:29] #3948 closed, assigned to htdvisser

[2021-03-25 10:32] KrishnaIyer opened #3979 "Make named error usage consistent"
#### Summary

Make named error usage consistent

#### Why do we need this?

To make the code base consistent.

#### What is already there? What do you see now?

A combination of
[code]
and
[code]

#### What is missing? What do you want to see?

We use the latter but the codebase still has many instances of the former (ex: `cmd/*`)

#### Environment

[code]

#### How do you propose to implement thi

[2021-03-25 12:58] johanstokking commented on #3975
I agree that this is a sliding edge, that the list will never be exhaustive, and that it can limit users in registering things with sane identifiers.

If we can detect `ERR_BLOCKED_BY_CLIENT` in our code, indeed we can tell the user to disable their ad blocker.

In my case, when disabling Brave Shields for the domain, everything worked fine.

[2021-03-25 16:13] HeadBoffin commented on #3963
A new world of software development where an error in both documentation AND at the command line is "working as intended".

If it's not available for open-source, perhaps you'd like to

- Change the documentation
and
- Provide an alternative error message - like 'enterprise license key required'

[2021-03-25 16:36] bafonins opened #3981 "Stack panics on invalid request body"
#### Summary

Stack panics on invalid request body when setting application collaborator.

#### Steps to Reproduce

Run stack with `tools/bin/mage dev:startDevStack`

Note that the body is missing the wrapping `collaborator` entry.
[code]

See the stack crashing with the following error:
[code]

#### What do you see now?

The stack is crashing

#### What do you want to see instead?

An error retur

[2021-03-25 16:47] KrishnaIyer commented on #3963
https://www.thethingsindustries.com/docs/getting-started/installation/running-the-stack/#initialization
[code]

The documentation clearly states that this feature is `available in The Things Stack Enterprise`. What's the issue?

[2021-03-25 18:12] kschiffer commented on #3975
Indeed, let's try that. The console should detect such errors and issue a warning toast notification saying sth like `We have detected a possible ad blocker blocking one of our API connections. Please consider disabling ad blockers for this domain.`. Additionally it should have a link to a docs page where we explain the situation in more detail and especially the fact that this is a misjudgement a

[2021-03-25 18:20] nejraselimovic commented on #3963
It's not supposed to work for the Open Source and it's documented [here](https://www.thethingsindustries.com/docs/integrations/storage/) as well, so it's not the error in the documentation, neither in the stack itself.

We can improve the error message indeed, I will create a new issue for that. Thank you for your contribution.

[2021-03-25 18:22] kschiffer opened #3983 "Location settings are broken"
#### Summary
Setting locations for end devices or gateways is currently not possible when the entity has had no location before.

#### Steps to Reproduce
1. Go to a device or gateway without location
2. Go to the location tab
3. Observe the loading spinner for the map loading infinitely

#### What do you see now?
Locations cannot be set correctly.

#### What do you want to see instead?
Location se

[2021-03-25 18:29] nejraselimovic opened #3984 "Improve error message for failed initialization of Storage Integration"
#### Summary
A customer reported failing initialization of the Storage Integration for TTS Open Source deployment. Storage Integration is not supported for this version of TTS, but we might think of accepting the suggestion to improve the error message to reflect that it's not an error, but that it is not supposed to work.

Ref: #3963

#### What do you see now?
`unknown command "storage-db" for "t

[2021-03-25 23:09] HeadBoffin commented on #3963
The issue is that I'm reading the documentation with fresh eyes, figuring out the implied bits and trying to make sense of it all. Who actually knows what "The Things Stack Enterprise" means, because you've enabled Data Storage for the TTN v3 servers and in it's current incarnation on v2 it's useful but with a 7 day limit and no meta-data I only prescribe it to clients as a backup, not the main fe

[2021-03-26 02:16] neoaggelos opened #3985 "ttnpb.FrequencyValue is marshaled into a base64 string"
#### Summary

*ttnpb.FrequencyValue is marshaled into a base64 string, instead of a number. Unmarshaling from int values works as expected.

#### Steps to Reproduce

[code]

#### What do you see now?

`"ODcwMDAwMDAw"`

#### What do you want to see instead?

`"869525000"`

#### Environment

v3.12.0 (dev branch)

#### Can you do this yourself and submit a Pull Request?

No. Adding to `v3.12.0` miles

[2021-03-26 09:10] htdvisser commented on #1158
This has been inactive for quite some time. Is there still demand for this, or should we drop it?

[2021-03-26 09:11] htdvisser commented on #889
Is this still relevant?

[2021-03-26 09:12] htdvisser commented on #2449
Considering that we're promoting webhooks over pubsub now, I don't think we should do this anymore.

[2021-03-26 09:12] #2449 closed

[2021-03-26 09:14] htdvisser commented on #1148
This issue has been inactive for quite a while, so let's move it back to triage to see if there's still demand for this, or that we should just drop it.

[2021-03-26 09:21] adriansmares commented on #1158
The demand for this format is very low and in general we no longer  want custom formats to be supported via webhooks. Packages may pickup external services instead.

[2021-03-26 09:21] #1158 closed

[2021-03-26 09:25] adriansmares commented on #1148
This is no longer needed, as it scales poorly.

[2021-03-26 09:25] #1148 closed

[2021-03-26 09:27] adriansmares commented on #889
No
https://github.com/TheThingsNetwork/lorawan-stack/blob/8e82540e590f3b8ad7bdfa5045c4abeb095ea112/cmd/ttn-lw-cli/commands/end_devices.go#L376-L377

[2021-03-26 09:27] #889 closed

[2021-03-26 09:30] htdvisser commented on #2933
Since I got an Apple Silicon machine, I think it's easiest if I pick this up.

[2021-03-26 09:31] htdvisser commented on #113
Is there any demand for this? Otherwise I think we should just close this.

[2021-03-26 09:31] htdvisser commented on #110
Is there any demand for this? Otherwise I think we should just close this.

[2021-03-26 09:32] htdvisser commented on #111
Is there any demand for this? Otherwise I think we should just close this.

[2021-03-26 09:33] htdvisser commented on #112
Is there any demand for this? Otherwise I think we should just close this.

[2021-03-26 09:51] htdvisser commented on #112
Actually, this is really small, I'll see if I can do this today.

[2021-03-26 11:33] kschiffer commented on #3974
Hey @soportekenai, please make sure you have setup the OAuth client secret of the console correctly.

You have to set the OAuth client secret two times:

1.  As stack configuration (which I see you did correctly)
2.  When creating the console client in the database (you can see that being done in the instruction video here: [https://youtu.be/Owm5IUtQTx8?t=265](https://youtu.be/Owm5IUtQTx8?t=265))

[2021-03-26 14:49] rvolosatovs commented on #111
This is something that needs to be done before the demand is there.

There's a big difference between a user just doing
[code]
and having stack running in their terminal window immediately and them going here and filing an issue, setting up Go and whatnot.

[2021-03-26 14:49] rvolosatovs commented on #110
Same is true for e.g. brew package, right? Also see https://github.com/TheThingsNetwork/lorawan-stack/issues/111#issuecomment-808278469

[2021-03-26 14:54] rvolosatovs commented on #111
Additionally, if we want to encourage open-source developers to actually develop, I think we should reconsider adding Nix support to out project via `shell.nix`. @johanstokking I opened a PR before, but you rejected it (https://github.com/TheThingsIndustries/lorawan-stack/pull/256)

[2021-03-26 15:10] htdvisser commented on #110
Looks like we had [around 95 Homebrew installs in the last 90 days](https://formulae.brew.sh/analytics/install-on-request/90d/), so that's definitely used by some people.

[2021-03-26 16:17] rvolosatovs commented on #110
Great, and the fact that we already have a package is the prerequisite for that.
We have 0 v3 AUR installs because we do not have an v3 AUR package.
There are even 2 community-contributed v2 packages though:
- https://aur.archlinux.org/packages/ttnctl/
- https://aur.archlinux.org/packages/ttnctl-bin/

[2021-03-26 16:38] johanstokking commented on #111
This would be useful for the CLI. The Stack isn't something you usually start from the terminal as a non-developer.

That was when we were just a few months in development with TTS, 1,5 year before our first release, so at the time it didn't make sense to spend time on that.

[2021-03-26 20:12] rvolosatovs commented on #113
Same reasoning as in all the other ones in this series.

If I have a device using OpenWRT and I get to choose a LoRaWAN stack to put there, I am going to choose the one already available in the package repository.

[2021-03-28 14:16] pe1mew opened #3991 "Preset rights addition to rights setting in console"
#### Summary
Add profiles for preset rights in console at collaborator rights for individual users or organizations.

#### Why do we need this?
The request is to simplify using the existing right-structure available in console to make configuring read-only easier. Therefor it is requested to add:
- Grant read-only rights

#### What is already there? What do you see now?
In Console currently, prede

[2021-03-28 15:28] HouzuoGuo opened #3992 "There is a typo in https://www.thethingsnetwork.org/docs/the-things-stack/migrate-to-v3.html"
#### Summary
Hey! There's a typo on this article: https://www.thethingsnetwork.org/docs/the-things-stack/migrate-to-v3.html

"For OTAA device, you can simply do it by deleting your device from V2, however, this is not recommended - you might loose some data." should have read "might lose some data".

[2021-03-29 07:15] #3833 closed, assigned to htdvisser

[2021-03-29 10:52] i3mSuperMan opened #3993 "Add ISM2400 band support for Packet Broker"
#### Summary
Currently, Packet Broker doesn’t route traffic on `ISM2400` band. Request to support it.
#### Why do we need this?
Extend PB support for `ISM2400` too.
#### What is already there? What do you see now?

- PB supports the frequency bands listed here. Ref: https://github.com/TheThingsNetwork/lorawan-stack/blob/77f9c699f5f0b1b017c7d11cee377ab8cdd26615/pkg/packetbrokeragent/translation.go#

[2021-03-29 11:47] htdvisser opened #3994 "Allow `Gs.GetGatewayConnectionStats` when `status_public == true`"
#### Summary

The Gateway Server should allow any (authenticated) user to call the `Gs.GetGatewayConnectionStats` RPC when the gateway has `status_public` set to `true`.

Refs https://www.thethingsnetwork.org/forum/t/v3-gateway-status-request-via-https-fails-with-unauthenticated/46097

#### What is already there? What do you see now?

The Gateway Server does a `rights.RequireGateway(ctx, *ids, ttn

[2021-03-29 12:24] #3985 closed, assigned to rvolosatovs

[2021-03-29 13:10] descartes commented on #3994
For clarity, does this mean the user will have to have some form of authentication in place that is relaxed? (Thereby keeping requests to registered users of TTN)

Or will they be able to omit the authentication headers for anonymous queries?

I'm quite happy with the first, that way TTI can track any frequent requesters.

A daily (or even just weekly) dump of the whole lot would enable those who

[2021-03-29 13:28] #3808 closed, assigned to KrishnaIyer, adriansmares

[2021-03-29 13:38] htdvisser commented on #3994
The first indeed. Callers would still need to set an `Authorization: Bearer XXX` header with a valid OAuth Access Token or API key.

[2021-03-29 14:10] forGGe opened #3996 "Basic Station: after reconnecting to TTN the downlinks aren't processed"
#### Summary

Sometimes, when the GW changes a network interface preference (say, from WiFi to Cellular), the Basic Station client re-connects to TTN, and downlinks no longer received. Uplinks are working fine.

This was observed on the customer site when running a proprietary BSTN client. Running a packet capture alongside shown that, indeed TTN server doesn't send any downlinks.

#### Steps to R

[2021-03-29 16:48] johanstokking commented on #3993
This is fixed by https://github.com/TheThingsNetwork/lorawan-stack/pull/3982 and will land in 3.12.0.

[2021-03-29 16:48] #3993 closed, assigned to nobody

[2021-03-29 23:02] rvolosatovs opened #3997 "Uplink DataRate should be nullable"
#### Summary

Uplink DataRate should be nullable

#### Why do we need this?

To avoid storing redundant fields and improve API usage experience

#### What is already there? What do you see now?

Currently it is not, hence NS is forced to store it and clients are forced to set it (we only actually need the index)

#### What is missing? What do you want to see?

Make DataRate nullable, remove valida

[2021-03-30 07:16] #112 closed

[2021-03-30 07:16] #510 closed

[2021-03-30 07:21] #3981 closed, assigned to htdvisser

[2021-03-30 08:05] johanstokking commented on #3771
@kschiffer please coordinate UX implementation and triage

[2021-03-30 08:47] neoaggelos commented on #3490
Is this already addressed with #3906?

[2021-03-30 09:24] htdvisser commented on #110
As just discussed, we'll keep the issue open, but don't work on it unless it gets some upvotes.

[2021-03-30 09:24] htdvisser commented on #113
As just discussed, we'll keep the issue open, but don't work on it unless it gets some upvotes.

[2021-03-30 09:25] htdvisser commented on #111
As just discussed, we'll keep the issue open, but don't work on it unless it gets some upvotes.

[2021-03-30 09:27] htdvisser commented on #3984
As we just decided: we'll create a placeholder command that informs the user that the storage integration is not included in the open source edition of The Things Stack.

[2021-03-30 09:40] johanstokking commented on #3490
Closed by #3906

[2021-03-30 09:40] #3490 closed, assigned to neoaggelos

[2021-03-30 09:40] rvolosatovs commented on #2269
If we don't implement this yet, I think a simple solution is to prohibit creation/update of this field for devices in US-like bands

[2021-03-30 10:15] nejraselimovic commented on #3974
I followed up on this with a documentation issue to add this error to troubleshooting so I'm going to close this issue.

@soportekenai if by any case your problem persists, please reopen the issue.

[2021-03-30 10:15] #3974 closed, assigned to kschiffer

[2021-03-30 10:39] kschiffer commented on #3991
Thanks for filing this issue @pe1mew !

Indeed, the simplest way to resolve this is to add another radio button:
![image](https://user-images.githubusercontent.com/5710611/112975946-8c2d6e00-9154-11eb-8331-af61ccbce563.png)

This option then represents all rights that are read-only permissions.

[2021-03-30 11:19] rvolosatovs opened #4000 "Allow selective MAC state overrides on creation"
#### Summary

Allow users to create devices with MAC state by only partially selecting the "overrides" of the state and let NS merge generate the rest and merge.

#### Why do we need this?

To simplify usability

#### What is already there? What do you see now?

Currently NS discards all fields in `mac_state` namespace and overrides with generated MAC state on creation

#### What is missing? What

[2021-03-30 12:23] htdvisser commented on #2269
That sounds like a good plan, and I think it's even better than trying to support the field for these bands.

[2021-03-30 15:56] #3896 closed, assigned to adriansmares

[2021-03-30 17:34] rvolosatovs opened #4006 "Redundant downlink tasks"
#### Summary

We observe a high number of `no downlink` errors on Sentry. These errors do not indicate a failure, but rather that an unnecessary downlink task was scheduled, since no downlink could be generated for sending.
Since the reason for lack of downlink is unknown and this is unexpected, error is logged. Note, that potentially this could end up in a loop if some party continuously schedule

[2021-03-31 07:48] niclash opened #4009 "End device version identifiers (brand, model, versions) in streaming messages"
#### Summary
It would be useful for downstream applications as well as for payload formatters to get additional information about the device type of where the message originated.

...

#### Why do we need this?
In current v3, Payload Formatters of known devices will place a "decoded_payload" into the "uplink_message", but applications that receive this message has to resort to "object pattern matc

[2021-03-31 08:22] KrishnaIyer commented on #3202
Refs https://github.com/TheThingsIndustries/lorawan-stack/issues/2652

[2021-03-31 08:32] KrishnaIyer commented on #3202
This needs to get moving. I've bumped https://github.com/TheThingsNetwork/lorawan-stack/issues/3202 to `v3.12.1`. I'll do the necessary groundwork and list the results here.

I'll then create issues per function and assign members from this list so we can make some progress.

[2021-03-31 09:03] #3777 closed, assigned to nejraselimovic

[2021-03-31 09:53] htdvisser commented on #3327
The API was added in https://github.com/TheThingsNetwork/lorawan-stack/pull/3863, so this only involves the Console (and perhaps JS SDK) now.

[2021-03-31 11:23] kschiffer commented on #3202
Key issue to move on with this is this one: #3611 

I started working on that already but had to stop for other issues.

[2021-03-31 12:00] #3795 closed, assigned to adriansmares

[2021-03-31 12:20] htdvisser commented on #717
Let's wait with this until we put Traefik in front (https://github.com/TheThingsIndustries/lorawan-stack/issues/2185)

[2021-03-31 13:19] #2472 closed

[2021-03-31 13:19] #4000 closed, assigned to rvolosatovs

[2021-03-31 13:25] #2903 closed

[2021-03-31 14:40] htdvisser commented on #3272
This may actually be less breaking than I thought. Our compatibility commitment says that

and this isn't _"API towards gateways and applications"_.

For the command-line interface our compatibility commitment says _"that you can safely build scripts and migrate configuration"_. I think we can assume that anyone who scripts user deletion is an admin, so I think it's acceptable to:

- Allow admin u

[2021-03-31 14:44] htdvisser commented on #3750
Just found an older issue about the same with additional details: https://github.com/TheThingsIndustries/lorawan-stack/issues/2324

[2021-03-31 14:45] aureliar8 opened #4012 "Go get fails"
#### Summary
I would like to be able to import the package `go.thethings.network/lorawan-stack/v3/pkg/ttnpb` in my go program.
To do so, I need to be able to `go get`it, but it fails.

#### Steps to Reproduce
[code]
This issue can also be triggered by running `go get -v go.thethings.network/lorawan-stack/v3/`
#### What do you see now?
`go get` takes a few minutes then:
[code]
#### What do you want

[2021-03-31 14:51] htdvisser commented on #443
More details in related issues: https://github.com/TheThingsIndustries/lorawan-stack/issues/1393 and https://github.com/TheThingsNetwork/lorawan-stack/issues/3304

[2021-03-31 15:18] nejraselimovic commented on #3992
Addressed here: https://github.com/TheThingsNetwork/docs/pull/443

[2021-03-31 15:18] #3992 closed, assigned to nejraselimovic

[2021-03-31 18:36] #3984 closed, assigned to neoaggelos

[2021-04-01 10:09] nejraselimovic commented on #4012
@rvolosatovs any way you can help with this?

[2021-04-01 13:10] htdvisser commented on #3549
Just did another manual cleanup (but this time from Retool): https://thethingsindustries.retool.com/apps/Docker%20Images

Perhaps we can take that as a starting point for the cleanup tool.

[2021-04-01 13:13] kschiffer commented on #3261
Blocking: https://github.com/TheThingsIndustries/lorawan-stack/issues/1813

[2021-04-01 13:18] kschiffer commented on #3261
@pierrephz We need a generic error page for TTS. I think you designed something like that already a while back. Can you post a recent design here? Such design should be pretty simple and contain:

*   Text for the error title
*   Text for resolution instructions
*   Some icon/visual signalling "error", with proper TTS branding
*   A link leading back to a homepage
*   A link to documentation
*   A

[2021-04-02 05:18] neoaggelos commented on #4012
Hi @aureliar8

You will need to add the following modules in your `go.mod` file:

[code]

See also https://github.com/TheThingsIndustries/lorawan-stack-examples/blob/go-examples/go/go.mod

[2021-04-02 06:32] nejraselimovic commented on #1406
@neoaggelos #3920 is merged, can this be closed?

[2021-04-02 07:07] aureliar8 commented on #4012
Thanks ! Everything works now

[2021-04-02 07:07] #4012 closed, assigned to neoaggelos

[2021-04-02 12:18] lnlp opened #4014 "Add option for C-Style uint32_t `0x00000000` representation for device address field"
#### Summary
In the Console for a device, for the 'Device address' field add the uint32_t format 0x000000 as option.

In the Console for a device the 'Device address' field can be copied.
In C/C++ code the device address is usually defined as uint32_t type which requires the format 0x000000.
But this format is currently not available as one of the options.

#### Why do we need this?
Users coding i

[2021-04-06 07:01] neoaggelos commented on #1406
With #3920 merged, The Things Stack has basic support for rate limiting.

Things that we still need to cover and/or consider:

1. Rate limiting downlinks from PubSubs

Similar to the rest of the stack, apply rate limiting for downlinks that arrive by PubSubs (https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.12/pkg/applicationserver/io/pubsub/pubsub.go#L180).

The key can be `as:down:pubsu

[2021-04-06 07:03] johanstokking commented on #3996
Thanks for the extensive report.

Can you provide the gateway event log as well? You can subscribe via `ttn-lw-cli events subscribe --gateway-id <gateway-id>`

@KrishnaIyer what might be happening here is that old connection (with the other backhaul) is closed after the new one's setup. We should have a disconnection mechanism for that, but that may not work cross-GS instance.

[2021-04-06 07:36] KrishnaIyer commented on #3996
Yup that's possible. We do already have a disconnection mechanism where new connections close existing connections but that does not work cross-GS indeed.

[2021-04-06 07:37] neoaggelos opened #4016 "Simplify CLI configuration for TTN v3 and TTSC"
#### Summary

Simplify CLI configuration for The Things Network V3 and The Things Stack Cloud deployments.

#### Why do we need this?

All TTN clusters share the Identity Server from eu1. This breaks the `ttn-lw-cli use nam1.cloud.thethings.network` command, because it sets the Identity Server address to `nam1.cloud.thethings.network`, which is not correct.

#### What is already there? What do you

[2021-04-06 07:37] neoaggelos commented on #4016
Replaces #3964

[2021-04-06 07:38] #3964 closed, assigned to neoaggelos

[2021-04-06 09:09] johanstokking commented on #1406
We're getting rid of them in TTSC and TTN. They remain for TTSOS but we don't need rate limiting for that.

This is the job of our front proxy.

Yes please.

Haven't looked at it yet. But how about sane defaults?

We need this too. You probably just want a slice of IP masks.

[2021-04-06 09:11] johanstokking commented on #3996
We probably need to check the claim atomically when unclaiming.

It's better to leave garbage claims than removing claims of healthy connections.

[2021-04-06 09:14] adriansmares opened #4018 "Store recent data application uplinks in the Application Server"
#### Summary

The Application Server should store, in a FIFO fashion, the application data uplinks sent by the end device.

#### Why do we need this?

Certain integrations may want to query the last received data uplinks. Since we would like to avoid enabling the storage integration just for this, we could bring back the `recent_uplinks` field of `ttnpb.EndDevice`:

https://github.com/TheThingsNet

[2021-04-06 09:35] adriansmares opened #4019 "Multi frame request support for LoRaCloud GLS"
#### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/issues/4018

We should support sending multi frame requests via GLS, using the recently sent uplinks.

#### Why do we need this?

In order to have better location queries, since multi frame should provide more accurate results.

#### What is already there? What do you see now?

The `QUERY_TOARSSI` query type, which does a s

[2021-04-06 09:35] adriansmares commented on #4019
Blocked by https://github.com/TheThingsNetwork/lorawan-stack/issues/4018

[2021-04-06 09:35] adriansmares commented on #4018
Blocking https://github.com/TheThingsNetwork/lorawan-stack/issues/4019

[2021-04-06 09:43] adriansmares opened #4020 "WiFi query support for LoRaCloud GLS"
#### Summary

References https://www.loracloud.com/documentation/geolocation?url=v2.html#singleframe-wi-fi-tdoa-request

We should support the v2 LoRa WIFI query type.

#### Why do we need this?

In order to support WiFi queries as part of our integration.

#### What is already there? What do you see now?

Only v3, single-frame, queries using `TOARSSI`.

#### What is missing? What do you want to s

[2021-04-06 10:15] kschiffer commented on #4014
Thanks for filing this issue @lnlp 

I think what we can do here is to allow a third representation for the format toggle. This would mean that the format toggle would cycle through hex, array, and uint32\_t notation. This third option should be disabled by default, so we can overwrite the setting for the device address only.

[2021-04-06 11:07] #3930 closed, assigned to asmulko

[2021-04-06 11:09] #3929 closed, assigned to KrishnaIyer

[2021-04-06 11:12] KrishnaIyer opened #4021 "Release v3.12.0"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-04-06 11:14] lnlp commented on #4014
It's not clear what you mean. There is nothing that needs to be _disabled_.  Maybe you just mean that the uint32_t type should not be the format that is shown as default?

Yes. But there is nothing to '_disable_ by default' here.

[2021-04-06 11:22] kschiffer commented on #4014
Sorry, these were more implementation notes for ourselves.

What I mean is that it should not be possible to toggle into the `uint32_t` notation by default, but only for specific fields, such as the device address.

[2021-04-06 11:37] lnlp commented on #4014
This relates to the device address only because only the device address fits in a scalar C/C++ data type.
The other keys all require use of an array.

[2021-04-06 21:28] pomplesiegel opened #4028 "RX1_DELAY adjustable in console - preferably as global application setting"
Hello Everyone,

It would be very helpful to adjust the RX1_DELAY globally per application through the v3 console. I understand that a user could potentially get in trouble this way, but if it were under "advanced settings" one could try it at their own risk. I would certainly appreciate the ability to adjust this.

Thank you!

[2021-04-06 21:31] pomplesiegel commented on #3721
@bafonins, Is this option only available for ABP devices? I do not see this option for any of my OTAA devices. thank you!

[2021-04-07 07:12] johanstokking commented on #4009
@niclash I understand and this has been raised before. The reason why we don't include this, is to reduce bandwidth and to keep the Identity Server (where this information is stored) out of the hot path (i.e. Application Server would need to get this from IS on each uplink message).

I do understand, however, that from a stateless message process point of view, this is valuable information. Also,

[2021-04-07 07:23] johanstokking commented on #3901
This one looks stale. @rvolosatovs please re-add `s/in progress` if in progress.

[2021-04-07 08:22] niclash commented on #4009
"So I think we can draw a line here and do include a field EndDeviceVersionIdentifiers" --> I think that would be awesome.

[2021-04-07 09:38] nejraselimovic commented on #4028
@pomplesiegel thank you for reporting the issue.

Setting the desired RX1 delay through the Console will be available for OTAA devices too (for ABP devices it is already available). There is already an issue about it: #2047 - you can see it under **Low** priority -> `desired_rx1_delay`. Adjusting this through the Console will be possible and this issue is in progress, but until it's finished, you

[2021-04-07 12:00] pomplesiegel commented on #4028
OK, thank you very much! Is there a way to globally set the desired_rx1_delay for an entire application through the CLI? This is also what I would believe would be helpful in the console version if possible.

[2021-04-07 12:07] adriansmares opened #4032 "GNSS query support for LoRaCloud GLS"
#### Summary

References https://www.loracloud.com/documentation/geolocation?url=gnss.html

#### Why do we need this?

In order to support GNSS queries as part of our integration.

#### What is already there? What do you see now?

Only v3, single-frame, queries using `TOARSSI`.

#### What is missing? What do you want to see?

1. A new query type, `GNSS`, that should do a v3 GNSS request.
2. `api`

[2021-04-07 14:02] nejraselimovic commented on #4028
No, MAC settings cannot be set on the application level at all. The Network Server looks at applications only as a security domain, nothing else.

[2021-04-07 14:16] pomplesiegel commented on #4028
OK, understood. Thank you

[2021-04-07 14:29] #4028 closed, assigned to nobody

[2021-04-08 08:36] htdvisser commented on #3513
This is blocking https://github.com/TheThingsNetwork/lorawan-frequency-plans/pull/30 and https://github.com/TheThingsNetwork/lorawan-frequency-plans/pull/32

[2021-04-08 10:43] #3901 closed, assigned to rvolosatovs

[2021-04-08 11:37] htdvisser commented on #2933
Apple Silicon builds are available starting from v3.12.0. Also works with the Homebrew formulae.

[2021-04-08 11:37] #2933 closed

[2021-04-08 14:48] aureliar8 opened #4041 "MAC command NewChannelAns can't delete channel"
#### Summary
The channels a device uses to communicate  can be modified by the network server using MAC commands (NewChannelReq & NewChannelAns).
This should work to add new channels but also to remove some

But it seems that removing a channel isn't implemented

#### Steps to Reproduce

Add this test case to `pkg/networkserver/mac/new_channel_test.go#TestHandleNewChannelAns` :

[code]

#### What

[2021-04-08 16:25] KrishnaIyer commented on #4021
This is waiting on the documentation https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/302

[2021-04-08 18:30] matthijskooijman opened #4042 "CLI fails to import device JSON exported with ttn-lw-migrate"
#### Summary
I tried exporting a device using ttn-lw-migrate, which produces a JSON file. However, trying to import it [according to docs](https://www.thethingsnetwork.org/docs/the-things-stack/migrate-to-v3/index.html), I get:

[code]

The same JSON file does import successfully through the web console, so I'm assuming the format it uses is correct, but the cli and web console are inconsistent in

[2021-04-09 07:01] neoaggelos commented on #4042
Hi @matthijskooijman, thanks for reporting the issue.

The Things Stack 3.12 introduced breaking API changes in the way MAC settings fields are handled, which is why you are seeing the issue.

- There is a PR to update `ttn-lw-migrate` for the new API (see https://github.com/TheThingsNetwork/lorawan-stack-migrate/pull/26), and 0.5 will be released afterwards to include this change.
- In the meanti

[2021-04-09 07:08] neoaggelos commented on #56
Quote from https://github.com/TheThingsNetwork/lorawan-stack/issues/76#issuecomment-774503756

Is this still the way to go for this issue? Set `ttn:v3:ns:sent-downlink:<CorrelationID>`, try to match that when a TxAck arrives, merge the transmission metadata from GS and forward the ApplicationDownlinkSent message?

One minor issue with that would be that we need to specify a TTL for the Redis entry

[2021-04-09 08:36] johanstokking commented on #56
Yeah I think this is still the way to go for this issue.

We'd have to pick one correlation ID (prefix) for this, probably the one that NS allocates to the downlink message.

Indeed there should be a TTL on the key. Since downlinks can be scheduled in advance, it can be in the order of hours, but let's not make it too crazy long. Also remove the key when the downlink message has been found.

[2021-04-09 14:33] adriansmares commented on #3913
Simulated uplinks go via `as.handleSimulatedUp`

[2021-04-09 16:58] adriansmares commented on #3913
I've added the simulated uplink error in https://github.com/TheThingsNetwork/lorawan-stack/pull/4045 .

With that being said, I personally believe we should just hide the `Messaging` tab in the Console if `link.skip_payload_crypto` or `device.skip_payload_crypto_override.value` are true. cc @kschiffer

[2021-04-10 17:47] rvolosatovs commented on #4041
Thank you for report and especially the test case!

From 1.0.4 specification:
![2021-04-10-19:32:11-screenshot](https://user-images.githubusercontent.com/12877905/114279150-790f7d80-9a33-11eb-90fd-68f981b2ca5a.png)

Network Server [disables](https://github.com/TheThingsNetwork/lorawan-stack/blob/3f55accd8211ab7437d4317813882246dd9d6249/pkg/networkserver/mac/new_channel.go#L183) uplink on the chann

[2021-04-10 18:33] nsa commented on #1760
I understand this may not be as important as some other issues but can you at least give a hint about when this document will be released?

[2021-04-11 08:10] jpmeijers opened #4047 "Documentation upgrading migrate dr-db fails"
#### Summary

I follow the steps on https://www.thethingsindustries.com/docs/getting-started/upgrading/ to upgrade my TTS instance. This includes running the three migrations. The third migration command fails with the error below.

[code]

[code]

#### Why do we need this ?

...

#### What is already there? What do you see now?

...

#### What is missing? What do you want to see?

...

#### How d

[2021-04-12 07:33] aureliar8 commented on #4041
I stumbled upon this issue when a device had a `MACState.CurrentParameters.Channels` of size greater than `MACState.DesiredParameters.Channels`.

In this case [DeviceNeedsNewChannelReq](https://github.com/TheThingsNetwork/lorawan-stack/blob/3f55accd8211ab7437d4317813882246dd9d6249/pkg/networkserver/mac/new_channel.go#L72) always return true, which will send MACCommands in the next downlink. But be

[2021-04-12 07:56] htdvisser commented on #1760
This issue is currently in the "Backlog" milestone, meaning that the core team is not planning on working on it any time soon, but if anyone from the community wants to contribute such documentation, please comment here!

If you already have experience with using Apache, Nginx, Envoy or Traefik, it shouldn't be too much effort to configure the HTTP routes (`/`, `/oauth/*`, `/console/*`, `/assets/*

[2021-04-12 10:16] jpmeijers opened #4048 "Space after username fails to log in"
#### Summary

If I use my email address to log in (The Things ID), and my browser's auto fill added a space after the email address, I fail to log in. Deleting the space after the email address works. This happens sometimes on a mobile phone where the keyboard automatically adds a space after every work.

#### Steps to Reproduce

1. Log out
2. Try and log in, but add an extra space after the usern

[2021-04-12 10:29] #2232 closed

[2021-04-12 12:14] johanstokking commented on #2435
@kschiffer please assign someone who can pick this up. @asmulko maybe?

[2021-04-12 16:23] jpmeijers opened #4051 "LoRaWAN version and regional parameters cleared on console"
#### Summary

I registered a device, and I set the LoRaWan version, as well as the regional parameters. Going into the device settings, these fields are not set. I tried setting it again and saving, but navigating away and back into the settings, these values are again cleared.

![image](https://user-images.githubusercontent.com/948278/114427881-d59da480-9bbb-11eb-9018-cb85d592face.png)

#### Step

[2021-04-13 06:59] KrishnaIyer commented on #4021
The documentation issue milestone has been changed and is tracked there. This can be closed.

[2021-04-13 06:59] #4021 closed, assigned to KrishnaIyer

[2021-04-13 08:15] kschiffer commented on #3771
See the wireframes below:

[![image](https://user-images.githubusercontent.com/5710611/114519667-ee9c6900-9c40-11eb-8e22-10bfb019c299.png)](https://github.com/TheThingsNetwork/lorawan-stack/files/6302208/210413_packet_broker_ux.pdf)

[210413_packet_broker_ux.pdf](https://github.com/TheThingsNetwork/lorawan-stack/files/6302208/210413_packet_broker_ux.pdf)

[2021-04-13 08:28] nejraselimovic commented on #3750
@pgalic96 anything else you need to discuss about here? We agreed that we do need this indeed.

[2021-04-13 09:14] KrishnaIyer commented on #3996
I tried reproducing this and the only way that the downlinks would not be delivered at all to the new connection is if the original connection is still active.

@johanstokking this might be true during the switch interval. Even in the worst case this takes a couple of minutes, only downlinks scheduled during that time will be lost. Eventually, the old connection would be closed and that path would

[2021-04-13 09:23] nejraselimovic commented on #4048
@bafonins please do this in TheThingsID repo

[2021-04-13 12:16] johanstokking commented on #3771
Looks and works great this way.

Looking at the API calls, it seems like:

- List Forwarder policies: `/pba/forwarders/policies` (load all pages)
- For the **All networks** tab: `/pba/home-networks` (load current page)
   - For **Their routing policy towards us**: lookup the Forwarder policy [1]
   - For **Our routing policy for them**: `/pba/home-networks/policies/{net_id}/{tenant_id}` [2]
- For

[2021-04-13 13:15] kschiffer commented on #3771
Yeah I'd say both. Should be the best bet for policies that users are specifically interested in, so we can use that until we fleshed out network discovery.

Just to be sure, this needs to be OR, not AND when both are in use.

Agreed. It's good to have an RPC for individual policies but it should (also) be possible to fetch all policies at once.

[2021-04-13 13:22] johanstokking opened #4053 "Reduce payload formatter script size"
#### Summary

Replaces https://github.com/TheThingsIndustries/lorawan-stack/issues/2675

Reduce the maximum script size for payload formats to 4 KB.

#### Why do we need this?

Because it takes too much memory otherwise.

We will allow larger scripts via the Device Repository. We have optimizations for that planned, see https://github.com/TheThingsIndustries/lorawan-stack/issues/2264.

#### What i

[2021-04-13 13:33] johanstokking commented on #3771
OK, so you prefetch all Forwarder and Home Network routing policies. That is already possible.

There are two API additions then:

1. A parameter for `/pba/home-networks` to list only Home Networks with whom a specific routing policy is defined (in either direction)
2. A full text search on name and tenant ID.

---

Really?

[2021-04-13 14:14] johanstokking commented on #3996
Indeed that is how it is supposed to work. We need to know if that unclaiming happens properly and timely. If not, and the old peer candidate is still out there, it may be used as the peer.

[2021-04-13 14:37] kschiffer commented on #3771
Using the filter on the table should match both ID and name.

[2021-04-13 15:26] i3mSuperMan commented on #4051
@kschiffer,

Facing the same issue. However, able to fetch the device details via CLI. The issue doesn’t seem to affect uplink/downlink functionality. It could be mostly a Console related issue. But, would like others to confirm on the same.

[2021-04-13 15:29] kschiffer commented on #4051
This is likely fixed in the next release via by #4026, but need @bafonins to confirm.

[2021-04-13 16:31] johanstokking commented on #3771
Ah I see what you mean now. Yes, indeed.

[2021-04-13 16:31] johanstokking commented on #3771
I will pick up the API part.

[2021-04-14 07:16] htdvisser commented on #4018
Since https://github.com/TheThingsNetwork/lorawan-stack/issues/4019 is now planned for 3.12.2, this one can also be moved

[2021-04-14 07:48] #2269 closed

[2021-04-14 08:52] htdvisser commented on #4019
Since @adriansmares is off today, and it isn't in progress yet, this isn't going to make today's deadline, so moved to v3.12.2.

[2021-04-14 08:52] htdvisser commented on #4032
Since @adriansmares is off today, and it isn't in progress yet, this isn't going to make today's deadline, so moved to v3.12.2.

[2021-04-14 08:53] htdvisser commented on #3878
Since @adriansmares is off today, and it isn't in progress yet, this isn't going to make today's deadline, so moved to v3.12.2.

[2021-04-14 08:54] htdvisser commented on #4020
Since @adriansmares is off today, and it isn't in progress yet, this isn't going to make today's deadline, so moved to v3.12.2.

[2021-04-14 12:47] #4047 closed, assigned to neoaggelos, nejraselimovic

[2021-04-14 13:08] neoaggelos commented on #4047
Hi @jpmeijers. Indeed, this was an oversight in the documentation, there is no need to run any `dr-db` commands.

[2021-04-15 07:50] htdvisser opened #4055 "Release v3.12.1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-04-15 08:35] bafonins commented on #4051
This will be fixed in the next release, see https://github.com/TheThingsNetwork/lorawan-stack/pull/4026 for more details

[2021-04-15 08:35] #4051 closed, assigned to bafonins

[2021-04-15 09:06] laurensslats opened #4056 "Make gateway & application names searchable"
#### Summary
As of now, you can only search on GatewayID or ApplicationID, not on the Name of Gateways of Applications.

#### Why do we need this?
Easy to find gateways or applications

#### What is already there? What do you see now?
Search for GatewayID or Application ID

#### What is missing? What do you want to see?
Search for Gateway name or Application name

#### Environment
V3.12

#### How

[2021-04-15 15:56] adriansmares commented on #3878
I've looked into this issue. It occurs when the client is not specifying any keep alive interval as part of the connect request.

https://github.com/TheThingsIndustries/mystique/blob/76715b4819349483b45c3906649b6ac4eb3e382b/pkg/session/connect.go#L102-L106

My recommendation for such cases is to specify the keep alive interval while creating the client, instead of leaving it at `0`. I'd also recom

[2021-04-15 17:12] arigon commented on #3878
When I set KeepAlive to 2400 it would result in 1 hour as well, so that wouldn't make a difference. I think the problem is, that the server needs PINGREQ from the client to know the client is still connected. Is the TTN MQTT server supporting PINGREQ/PINGRESP?

[2021-04-15 17:26] adriansmares commented on #3878
Yes . https://github.com/TheThingsIndustries/mystique/blob/76715b4819349483b45c3906649b6ac4eb3e382b/pkg/session/session.go#L207-L208

[2021-04-15 17:39] arigon commented on #3878
I will try this. Thanks!

[2021-04-15 18:10] arigon commented on #3878
The Paho MQTT Client is sending PINGREQ when using KeepAlive. I will close the issue.

[2021-04-15 18:10] #3878 closed, assigned to adriansmares

[2021-04-16 07:47] laurensslats opened #4062 "Error when installing CLI using homebrew"
#### Summary
After running:
`$ brew install TheThingsNetwork/lorawan-stack/ttn-lw-stack`

This error occurs:

[code]

#### Steps to Reproduce

1. Run: brew install TheThingsNetwork/lorawan-stack/ttn-lw-stack

#### What do you see now?
![Screenshot 2021-04-15 at 17 11 26](https://user-images.githubusercontent.com/17290639/114989886-3406a380-9e98-11eb-8b5d-0cfa863ae547.png)

#### What do you want to

[2021-04-16 10:46] i3mSuperMan opened #4063 "Centralized API to get the total number of devices in a tenant."
#### Summary
It would be very useful to have a centralized API that returns the total number of devices registered in a tenant.
Refs: https://github.com/TheThingsIndustries/lorawan-stack-support/issues/398

#### Why do we need this?
Users can use this API to monitor the current number of registered devices from time to time.

#### What is already there? What do you see now?
Admin users in a tenant

[2021-04-16 11:27] KrishnaIyer opened #4066 "LNS Auth field in the Gateway Settings page displays garbage value"
#### Summary

LNS Auth field in the Gateway Settings page displays garbage value

#### Steps to Reproduce

1. Update the LBS LNS Key or clear it.
2. Press Save changes

![image](https://user-images.githubusercontent.com/13186113/115017427-cb7aef00-9eb6-11eb-8324-13eec707fb10.png)

#### What do you see now?

Some garbage value is printed.

#### What do you want to see instead?

Print the LNS Key va

[2021-04-16 12:05] adriansmares opened #4067 "Improve Application Server end device session recovery algorithm"
#### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/pull/3880
References https://github.com/TheThingsIndustries/lorawan-stack-support/issues/395

The AS should converge the `dev.Session` / `dev.PendingSession` while running downlink queue transactions, similar to how it already does this on `DownlinkQueuePush` / `DownlinkQueueReplace`.

#### Why do we need this?

Since the N

[2021-04-16 13:27] pgalic96 commented on #3750
Should we allow only configuration of one large address block from which all EUI’s (Join, Gtw, Dev) could be issued, or force configuration of an address block per each EUI (Join,Gtw,Dev)? The second might be better from performance pov, as issuing app eui (and incrementing counters) wouldn’t block issuing dev eui and so on. cc @johanstokking

[2021-04-16 14:31] nejraselimovic commented on #4063
@adriansmares please reassign if needed.

[2021-04-19 07:38] johanstokking commented on #3750
The scope of this issue is DevEUI; don't bother with JoinEUI and Gateway EUI.

For the JoinEUI: people can (and should) use all-zeros if they don't have any.

For the gateway EUI: this isn't really a problem as gateways have MAC addresses from which EUIs can be derived.

[2021-04-19 07:49] htdvisser commented on #4062
This was fixed in v3.12.1 (https://github.com/TheThingsNetwork/lorawan-stack/pull/4040)

[2021-04-19 07:49] #4062 closed, assigned to htdvisser

[2021-04-19 08:50] #4055 closed, assigned to htdvisser

[2021-04-19 14:16] benolayinka opened #4071 "Users without Edit device key rights don't realize why they can't add an AppKey"
#### Summary

https://www.thethingsnetwork.org/forum/t/adding-a-device-in-tts-3-11-2-cannot-add-appkey/46208/10

It's not very clear why users can't add device keys if they don't have key rights in an application.

[2021-04-19 18:53] nejraselimovic commented on #6
@htdvisser is this somewhat covered by [this](https://www.thethingsindustries.com/docs/getting-started/upgrading/#backup)?

[2021-04-19 18:56] nejraselimovic commented on #7
@johanstokking what is the status here? The blocking issue doesn't have any assignees, who could pick it up?

[2021-04-19 18:59] nejraselimovic commented on #8
@rvolosatovs this has been raised again recently in the Sentry issue above, are you picking it up? Can we move it from Backlog?

[2021-04-19 19:08] nejraselimovic commented on #14
@johanstokking I tried creating an end device in the Console, deleting it, then re-adding it with the identical info, and I encountered no issues. Does this mean this issue isn't relevant anymore?

[2021-04-19 19:26] nejraselimovic commented on #3786
@kschiffer @bafonins did you make a final decision on this one? Can we remove the `discuss` label?

[2021-04-19 19:37] nejraselimovic commented on #3406
@htdvisser @johanstokking what is the conclusion here, anything left for discussion? Who is picking up this issue at the end? Can we move it from Backlog?

[2021-04-19 19:39] nejraselimovic commented on #3332
@htdvisser @johanstokking can you comment the proposal?

[2021-04-20 05:48] KrishnaIyer commented on #14
That's because the console takes care of also deleting the device in the NS and AS at the same time as the IS iirc.
This is still possible to do via the CLI or our API so I don't think this is already covered.

[2021-04-20 05:53] KrishnaIyer commented on #6
I think that this issue can be closed. For production clusters, our cloud offering comes with backup/restore enabled for each registry individually. And I wrote [that doc](https://www.thethingsindustries.com/docs/getting-started/upgrading/#backup) for open source users.
I don't see any use case right now to build our own tool that does a "master backup".

[2021-04-20 07:45] htdvisser commented on #6
Okay yeah, I suppose that most networks will just backup the databases directly, instead of doing an export from The Things Stack, so this can indeed be closed.

[2021-04-20 07:45] #6 closed

[2021-04-20 08:11] htdvisser commented on #3332
Purely commenting on the proposal to

I'm against it, because (1) I don't think there's a big need, because there aren't that many multi-band devices, and it's really not that much work for users to pick a frequency plan for their single-band devices; and (2) we can't make it "always work", so it will be confusing.

---

Looking at the more general feature of "guessing frequency plans", I agree wi

[2021-04-20 08:32] johanstokking commented on #3513
Blocking https://github.com/TheThingsNetwork/lorawan-stack/issues/3806

[2021-04-20 08:37] johanstokking commented on #3806
These are the things that need to be done:

- [ ] New modulation `LRFHSS`: https://github.com/TheThingsNetwork/lorawan-stack/blob/b9e3712f32b748b31718896b3e83e153cdc55c6f/api/lorawan.proto#L242-L260. @rvolosatovs
- [ ] Add LR-FHSS data rates to EU 863-870 MHz, US 902-928 MHz and AU 915-928 MHz, see RP2 1.0.2. Needs #3150. Note that LR-FHSS is only uplink. @rvolosatovs
- [x] Support LR-FHSS metadat

[2021-04-20 08:48] johanstokking commented on #7
This has been resolved with https://github.com/TheThingsNetwork/lorawan-stack/pull/3152

[2021-04-20 08:48] #7 closed

[2021-04-20 08:49] johanstokking commented on #8
Let's keep it here until we start seeing stable LoRaWAN 1.1 stacks that need this.

[2021-04-20 08:50] johanstokking commented on #3406
@pgalic96 is this still an issue?

[2021-04-20 09:01] htdvisser commented on #3513
Blocking https://github.com/TheThingsNetwork/lorawan-frequency-plans/issues/33 as well

[2021-04-20 09:11] johanstokking commented on #3513
@adriansmares would be great if you can pick this up.

@bafonins can do the Console part.

[2021-04-20 09:27] nejraselimovic commented on #2
@bafonins open this issue in TheThingsID repo

[2021-04-20 09:27] kschiffer commented on #3786
I think it can be considered decided that we want to try out visual testing in the future and that will be in context of #3478, so I'll remove the discussion label.

[2021-04-20 09:49] kschiffer commented on #3913
Indeed the messaging tab should be disabled in a way that the tab is still there, but the form is disabled with a notification reading that message simulation is disabled for devices that skip payload crypto.

[2021-04-20 09:53] nejraselimovic commented on #4071
@kschiffer what is the plan on implementing this? Will it be just some kind of banner saying "You need Edit device key rights to add an AppKey" or something bigger?

[2021-04-20 09:54] nejraselimovic commented on #10
@kschiffer are we planning to have the release notes in the Console too (besides documentation page)?

[2021-04-20 10:02] johanstokking opened #4076 "Include network identifiers in upstream metadata"
#### Summary

Include network identifiers in upstream metadata.

#### Why do we need this?

For subscribing networks to identify from which network the message originates. This is specifically useful for messaging based application-layer integrations, like webhooks.

#### What is already there? What do you see now?

Currently, when users build an HTTP endpoint to accept messages from the AS webhoo

[2021-04-20 10:06] johanstokking commented on #14
@nejraselimovic the end device delete and add with same identifiers works already indeed.

This issue is about deleting an application in the IS, and not having that deletion propagated to AS, NS and JS. These components then still hold unique identifiers (like DevEUI), that cannot be managed anymore because the application and its security context is gone from IS.

I'm reassigning this to @pgalic

[2021-04-20 10:09] johanstokking commented on #10
References https://github.com/TheThingsIndustries/lorawan-stack-aws-integration/issues/29

[2021-04-20 10:10] descartes opened #4077 "Account owner can revoke right to change entities on their account"
#### Summary

From the forum: A user can change their own personal API key to turn off rights so they can't access their previously setup gateways/application etc

#### Steps to Reproduce

Under the user icon top right, go in to Personal API keys and tick boxes.

I haven't tried this myself but I coached the user in to getting an API key for his Data Storage integration running but it seems he's e

[2021-04-20 10:15] johanstokking commented on #3332
Since this issue is specifically about the band, let's close this.

If we go with selecting the frequency plan within a band, based on the gateway(s) covering the end devices, we need GS to inform NS about the frequency plan to use (if none set in NS). This would need its own issue if we want this.

[2021-04-20 10:15] #3332 closed, assigned to rvolosatovs

[2021-04-20 10:16] descartes commented on #4053
On v2 when the servers were under extreme pressure the JS decoder would time out so the HTTP Integration, MQTT & Data Storage only had the raw payload - didn't bother me, I use the JS decoder for debugging only - but it did tend to cause a stir for the TTN users.

It would be foolish to say that this could never happen on v3, and 4KB is more than plenty of code which will keep processing times dow

[2021-04-20 10:34] johanstokking commented on #4053
@descartes good suggestion to include this somehow in the payload, potentially with the already existing `errors` field of `decoded_payload`.

We actually see V3 also already failing on large scripts. We measure the 100 ms execution timeout to include the evaluation time of the script, so with large scripts and CPU pressure, that fails just like in V2. Although we use a different JavaScript engine

[2021-04-20 10:48] nejraselimovic commented on #4077
@adriansmares assigning you because you encountered this issue already, but please reassign if someone else is more appropriate.

[2021-04-20 11:15] bafonins commented on #3845
This should be fixed now. With the latest update TTID wont request user consent for scopes and claims, but rather pre-authorize first party clients (lorawan-stack in this case). Please reopen if necessary.

[2021-04-20 11:15] #3845 closed, assigned to bafonins

[2021-04-20 11:25] kschiffer commented on #4071
Indeed, the device key input should not be hidden but disabled together with a warning explaining why that is.

Assigning this to @bafonins

[2021-04-20 11:26] kschiffer commented on #4071
I also suggest to bump this to a timely milestone. @nejraselimovic

[2021-04-20 11:52] kschiffer commented on #10
Yes, this is planned. See TheThingsIndustries/lorawan-stack#2663

[2021-04-20 11:52] kschiffer commented on #10
Yes, this is planned. See TheThingsIndustries/lorawan-stack#2663

[2021-04-20 12:33] nejraselimovic commented on #10
Great, I'm moving this to Q3 then.

[2021-04-20 14:27] kschiffer commented on #3991
Hello @pe1mew,

After looking into this solution, we determined that using an arbitrary read-only collection of rights is not the way to go. This is because they can give a false impression of security. E.g. granting read only rights would also include the right to read device keys, which is quite intrusive and likely not what you have in mind when you choose to grant read-only rights.

As such we

[2021-04-20 15:02] i3mSuperMan opened #4078 "Warnings in the TTS Console for `gs.down.send` event"
#### Summary
We are seeing a warning, i.e., `There was an error and events cannot be displayed and The raw data can be viewed by clicking this row` in the gateway live data of `TTSC` Console for the `gs.down.send` event.
#### Steps to Reproduce

1. Register an end-device and Gateway in TTSC Console.
2. Schedule a `downlink`.
3. You could see the `successfully schedule data downlink` event in the e

[2021-04-20 16:55] pgalic96 commented on #3406
It does still occur in organization general settings if you submit without changing anything. For gateway general settings the attributes field is always included in the field mask even when not changed so there is no error but I suppose the issue is not fixed exactly.

[2021-04-21 05:21] KrishnaIyer commented on #4078
assigning @kschiffer  now so that he can assess/reassign.

[2021-04-21 08:27] johanstokking commented on #3406
This seems like the best approach then.

[2021-04-21 08:27] #3406 closed, assigned to nobody

[2021-04-21 10:44] bafonins commented on #3991
Related issue on api key rights: https://github.com/TheThingsNetwork/lorawan-stack/issues/3153

[2021-04-21 11:31] johanstokking commented on #4078
@i3mSuperMan what does the CLI report?

@KrishnaIyer this is very likely related to the `downlink_sent_total` metric not being incremented either.

[2021-04-21 12:51] i3mSuperMan commented on #4078
@johanstokking
The CLI events doesn’t seem to report the warning. They include `gs.down.send` event and everything seems fine.

[2021-04-21 12:55] #4014 closed, assigned to asmulko

[2021-04-21 15:10] #4018 closed, assigned to adriansmares

[2021-04-21 15:17] descartes opened #4081 "Payload formatters: nesting of repository - application - device causes confusion"
#### Summary
If the device repository has a JS formatter it is automatically used by the device. All good. Except there is no indication that the this is going to happen and there isn't enough indication of what is going on at each level.

Setting the application formatter type to None does not override the repository. Setting the device type to None does override the application.

#### Steps to R

[2021-04-21 15:20] adriansmares commented on #4063
To give more context on this issue:

It would be useful as a network administrator to be able to obtain an overview of the number of registered end devices in each application. The API proposed here should be available to network administrators and return a mapping between application IDs and the number of registered end devices of each application.

We can then display this in table form as part

[2021-04-22 07:05] neoaggelos opened #4082 "JS SDK ignores MAC state and MAC settings when importing devices"
#### Summary

When importing devices via the Console, any MAC Settings and MAC state fields are discarded.

#### Steps to Reproduce

1. Go to Applications > Application > Import End Devices
2. Select "The Things Stack JSON" format and upload a JSON file where `mac_state` or `mac_settings` fields are set
3. Import device

#### What do you see now?

No errors, but the MAC state and the MAC settings

[2021-04-22 07:36] #4071 closed, assigned to bafonins

[2021-04-22 08:23] bafonins commented on #3809
@benolayinka With https://github.com/TheThingsNetwork/lorawan-stack/pull/4057 merged we are still missing tooltip content for various fields in the Console. Could you take a look at whats missing and provide descriptions for fields without tooltips?

Not closing this issue because we still have to implement proper handling for mobile devices. For mobile devices the tooltip content should be displa

[2021-04-22 14:06] i3mSuperMan opened #4085 "Transmit confirmation event for LBS gateways in Gateway live data"
#### Summary
As per the earlier insights from the [#253](https://github.com/TheThingsIndustries/lorawan-stack-support/issues/253#issuecomment-747599562),
RTT is only recorded on successful TxACK messages for downlinks (always for UDP and from v3.10.4 [for LBS](https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.10/CHANGELOG.md#3104---2020-12-08) ).

We believe for the above to happen there m

[2021-04-22 15:32] KrishnaIyer commented on #4085
@i3mSuperMan: In the LBS case, is the downlink successfully transmitted an do you see a `dntxed` message in the gateway logs for the downlink?
We do emit Tx ACK messages for LBS as well (actually even before we supported that for UDP). So if you're not receiving this event, then there's a bug somewhere.

If you have a local test setup, can you try to enable debug logs and look for  the `Tx acknowl

[2021-04-23 04:52] megabug opened #4087 "Profile settings link is broken in non-EU TTN clusters"
#### Summary

The profile settings link (added by #3968) is broken in non-EU TTN clusters.

#### Steps to Reproduce

1. Log in to a non-EU TTN cluster, i.e. https://au1.cloud.thethings.network/console/
2. Click on username in top right, click "Profile settings"
3. Observe that you are redirected to https://au1.cloud.thethings.network/oauth/profile-settings, which DNE

#### What is already there? W

[2021-04-23 18:22] neoaggelos opened #4090 "Allow configuring the MaxEIRP as part of device MAC settings"
#### Summary

Allow configuring MaxEIRP for devices as part of the MAC settings

#### Why do we need this?

Currently, MaxEIRP can only be set in `MACState.DesiredParameters`. This is OK for ABP devices, but impossible for OTAA devices, since MAC state can only be configured if the device already has a session.

#### What is already there? What do you see now?

MaxEIRP is set in `MACState.DesiredP

[2021-04-23 18:22] jchonig opened #4091 "ttn-lw-cli exits 0 with invalid subcommand"
#### Summary
ttn-lw-cli should exit with a non-zero exit code with an invalid subcommand

...

#### Steps to Reproduce
See log below

#### What do you see now?
[code]

...

#### What do you want to see instead?

A non-zero exit code as in:

[code]

...

#### Environment
[code]
...

#### How do you propose to implement this?

...

#### How do you propose to test this?

See logs above

...

#### Can

[2021-04-24 13:48] mauimauer commented on #4078
I am seeing the same (for downlink ACKs)

[2021-04-26 05:32] i3mSuperMan opened #4092 "Allow ADR to lower the datarate of the device"
#### Summary
ADR algorithm implemented in `TTS V3` is only increasing the Data Rate when there is good network coverage and not decreasing it even when the network coverage gets worse.
Ref: https://github.com/TheThingsIndustries/lorawan-stack-support/issues/379

#### Steps to Reproduce
...

#### What do you see now?
Currently, the Network Server doesn't allow the `adr_data_rate_index` to decrease

[2021-04-26 09:31] neoaggelos commented on #4042
This is now fixed in [ttn-lw-migrate 0.5.0](https://github.com/TheThingsNetwork/lorawan-stack-migrate/releases/tag/v0.5.0)

[2021-04-26 09:31] #4042 closed, assigned to neoaggelos

[2021-04-27 13:57] nejraselimovic commented on #13
@johanstokking is this implemented in the meantime by any chance? Looks like an important issue.

[2021-04-27 14:25] nejraselimovic commented on #18
@johanstokking @rvolosatovs the blocking issue (#76) was closed recently. How important is this issue? Can we schedule it for Q2 or Q3?

[2021-04-27 16:02] nejraselimovic commented on #3611
@kschiffer do you still need input from others to proceed with this?

[2021-04-27 16:18] nejraselimovic commented on #2886
@kschiffer can you please tag whoever you need to discuss this with? Should we put this in Backlog?

[2021-04-27 16:22] nejraselimovic commented on #2862
@johanstokking @adriansmares did you agree on making this an application package, can we remove the `discuss` label?

[2021-04-28 03:00] viethoa14 opened #4094 "Error when send downlink to device with Class A and Class C."
#### Summary

Now when we use cellular network for TTN, we saw sometime error when NS send downlink to end-device on class A but with class C, we saw many error. Show log on gateway, we saw error report "Packet REJECTED, timestamp seems wrong, too much in advance"
...

#### Steps to Reproduce

1. Make "Schedule downlink" to end-device class C
2. Show log on "console server"
3. No response from end

[2021-04-28 07:18] johanstokking commented on #13
I don't think this is fully implemented. I'll reschedule for Q3 to revisit.

[2021-04-28 07:18] johanstokking commented on #18
Indeed, this can now be implemented in NS.

[2021-04-28 07:55] KrishnaIyer commented on #3996
There's no input from @forGGe and since I can't reproduce this with my local setup, I'm closing this. Feel free to reopen if it's reproducible.

[2021-04-28 07:55] #3996 closed, assigned to KrishnaIyer

[2021-04-28 07:56] KrishnaIyer commented on #4085
Moving this to the next milestone as there are still missing details and today is the deadline for `v3.12.2.`.

[2021-04-28 08:26] johanstokking opened #4095 "Rate limit identical messages"
#### Summary

Rate limit identical messages coming from the same gateway.

#### Why do we need this?

Sometimes we see issues with the same message being forwarded many times by the same gateway.

This is often an issue in the gateway forwarder or concentrator, that concentrator registers aren't cleared correctly or that the forwarder software is simply in a loop.

#### What is already there? What

[2021-04-28 09:15] #4048 closed, assigned to bafonins

[2021-04-28 09:30] neoaggelos commented on #4090
@johanstokking Please comment on whether the suggested implementation makes sense. I am not really familiar with how the Network Server uses this value, and if this something that should be configured per device.

[2021-04-28 09:34] htdvisser commented on #4091
This is related to an issue in the `cobra` CLI library: https://github.com/spf13/cobra/issues/1156, so you may want to read that to see how we can fix it.

[2021-04-28 09:50] nejraselimovic opened #4098 "Vendor specified JS decoder ignore or override or petition for inappropriate use for removal"
#### Summary
Arduino MKR WAN 1310 has a JS decoder in the repository for a tutorial.

This appears in the background like a ghost entry that now has to be overridden.

The application shows None for the Uplink decoder.

Saving as None doesn't turn off the decoder. Saving as Repository leaves it working. Changing to None still doesn't turn it off.

#### What do you see now?
Bizzare entries in the c

[2021-04-28 09:52] nejraselimovic commented on #4087
@asmulko please assign @michalborkowski96 if needed.

[2021-04-28 11:31] kschiffer commented on #4081
Thanks for filing this issue @descartes 

Indeed the payload formatter prioritization is not communicated clearly enough yet. What is important to know here is that end device level PFs always take precedence over application level PFs. So anything you set on the device PF tab is going to be used for this particular end device, that includes the "None" option, which means that no PF will be applie

[2021-04-28 12:00] kschiffer opened #4099 "Improve LoRaCloud DAS settings data fetching logic (Console)"
#### Summary
We should update the way we fetch the necessary data for LoRaCloud DAS forms.

#### Why do we need this?
The necessary data for the forms is now fetched on the form container level. This leads to a couple of issues such as the form always reloading the data when collapsed and expanded, or the data being fetched only when the form is loaded, resulting in an unnecessary loading step (wh

[2021-04-28 14:05] kschiffer commented on #4087
Thanks for filing this issue @megabug 

This is an issue with our deployment configuration for TTN, which we will update shortly. I'll close this issue since it is not directly related to TTS istelf.

[2021-04-28 14:05] #4087 closed, assigned to michalborkowski96

[2021-04-28 14:56] johanstokking commented on #4090
Yes indeed, the MaxEIRP is definitely a device capability. This should be in the MAC state on reset.

[2021-04-28 15:31] johanstokking commented on #4094
Looking at this difference, expressed in microseconds, the packet is 0.086942 ms too late. I'm afraid this is caused by spikes in the latency: up to 2.4 seconds in your excerpt of the ping output.

Indeed, the "schedule late" functionality is designed for this. By default, this is 800 milliseconds. For your backhaul, it should be somewhere closer to 2000 milliseconds. Now, this does mean that ther

[2021-04-28 15:31] #4094 closed, assigned to johanstokking

[2021-04-28 15:57] #4019 closed, assigned to adriansmares

[2021-04-28 15:57] #4032 closed, assigned to adriansmares

[2021-04-28 15:57] #4020 closed, assigned to adriansmares

[2021-04-29 04:18] viethoa14 commented on #4094
Thanks for your support!
When packet don't send, delay for backhaul around 100ms but when we send downlink or end-device send uplink, sometime delay will increase.
When delay 100ms, we still see error when schedule downlink.
(config for schedule:
gs:
   ...........
  udp:
    rate-limiting:
      enable: 'true'
      messages: '10'
      threshold: '10ms'
    schedule-late-time: '2000ms'
)

Beside

[2021-04-29 08:34] johanstokking commented on #4094
The delay with cellular backhaul isn't constant. It isn't related to sending uplink and downlink messages. It's inherent to how 3G works.

Yes, but that's ok.

[2021-04-29 09:17] kschiffer commented on #4078
This is a display logic issue in the Console. I'm working on a fix.

@i3mSuperMan can you post an example event payload (as text)?

[2021-04-29 09:22] benolayinka commented on #3809
Tooltips for device creation

Brand
Description
This is the manufacturer of your end device.

Model
Desc
The particular model of your end device.

Hardware Ver.
Desc
The hardware version of your device.
Location
It should be provided by the manufacturer of your device, or printed on the device packaging.
Absence
Contact the manufacturer or reseller of your device.

Firmware Ver.
Desc
The version o

[2021-04-29 09:37] benolayinka commented on #3809
Gateway ID
Desc
A unique identifier for your gateway.
location
You make it up, so be creative!
link
https://www.thethingsindustries.com/docs/reference/id-eui-constraints/

Gateway EUI
Desc
A 64 bit extended unique identifier for your end device.
location
It should be provided to you by the manufacturer, or printed on the gateway packaging.
absence
Contact the manufacturer or reseller.
link
https:/

[2021-04-29 09:45] i3mSuperMan opened #4100 "Change the pop-up message when deleting the device from the console."
#### Summary
While deleting the end-device from the console, the pop-up message in the console displays that we cannot reuse the `device ID`.

#### Steps to Reproduce
1. Create a device in the console
2. Delete the device via console

#### What do you see now?
While deleting the device via console, you will observe the pop-up message as `Are you sure you want to delete "xxx"? This action cannot be

[2021-04-29 10:48] i3mSuperMan commented on #4078
@kschiffer, Here is an example of the `gs.down.send` event payload for the confirmed downlink
[code]

[2021-04-29 11:27] kschiffer commented on #4078
Thank you. I'll file a PR that will fix this issue.

Could you also post an example payload of such event? @mauimauer

If you do, make sure to redact sensitive data.

[2021-04-29 13:39] kschiffer commented on #4078
Sorry, didn't mean to close this with #4101. I've merged a fix though for the original issue in the OP. Still waiting for more details about downlink ack messages.

[2021-04-29 14:00] mauimauer commented on #4078
Here's where I get the warning
[code]

[2021-04-29 14:06] kschiffer commented on #4078
Thank you very much @mauimauer.

I can confirm that my PR solves the display issue with this event as well. Note though that this is not a downlink ack event, which have the `name`: `gs.down.tx.success`.

The merged fix will be part of the `3.12.2` release which is scheduled for this week and to be deployed shortly thereafter.

[2021-04-29 14:06] #4078 closed, assigned to kschiffer

[2021-04-29 18:02] cowjen01 opened #4103 "Gateways disconnected after recreate with different ID"
#### Summary

Hello, I had to change the gateway ID of my existing gateways, so I deleted them and then I recreated them with the same EUI. After that, both gateways are with in a disconnected status for 3 days.

I check the gateway logs and traffic logs, all seems to be just fine. Before the recreation, both gateways worked without any troubles. I've also tried to reboot the gateway, but with no

[2021-04-30 04:23] #4082 closed, assigned to neoaggelos

[2021-04-30 06:54] nejraselimovic commented on #4103
@cowjen01 thank you for reporting!

@KrishnaIyer do you know what might be an issue here?

[2021-04-30 07:33] KrishnaIyer commented on #4103
So you recreated them with the same EUI but different ID? For example `iptec-3133303754006500-gw ` is the new ID?

This is by design. We don't allow reusing IDs.

[2021-04-30 07:48] htdvisser opened #4106 "Release v3.12.2"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-04-30 09:35] cowjen01 commented on #4103
@KrishnaIyer That's right! The previous ID was, for example, `iptec-testing-gateway,` and the new one is `iptec-3133303754006500-gw`, both with the same EUI. Moreover, I believe the previously created gateway is still active because I'm receiving new data through an application.

[2021-04-30 10:03] KrishnaIyer commented on #4103
Yes so I think I see the issue. The Gateway Statistics Registry is not synchronised with the Entity Registry. So If a gateway is deleted when it's still connected, the connection stats for the gateway will continue to exist under the old ID until the gateway actually reconnects. This is by design since there isn't an easy way yet to force a server side disconnect.
- If you are using TCP based gate

[2021-04-30 10:06] jpmeijers opened #4109 "Building for development fails"
#### Summary

Following the steps in https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.13/DEVELOPMENT.md there is an error when running the second command.

#### Steps to Reproduce

1. `git clone https://github.com/TheThingsNetwork/lorawan-stack.git`
2. `cd lorawan-stack/`
3. `make init`
4. `tools/bin/mage js:build`

#### What do you see now?

[code]

#### What do you want to see instead?

[2021-04-30 10:24] jpmeijers commented on #4109
[code]

[2021-04-30 10:55] KrishnaIyer commented on #1303
Bumping the issue due to demand

[2021-04-30 11:27] KrishnaIyer commented on #3791
This is actually deployed and can be closed

[2021-04-30 11:27] #3791 closed, assigned to KrishnaIyer

[2021-04-30 11:45] nejraselimovic commented on #4109
Hi @jpmeijers,

can you please try running

and let me know if this fixes your problem?

[2021-04-30 12:01] jpmeijers commented on #4109
No, it's still failing.
[build-fail.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/6405137/build-fail.txt)

[2021-04-30 12:12] nejraselimovic commented on #4109
@kschiffer do you know what could be causing this? I've seen this error before but cleaning dependencies always worked this out for me.

[2021-04-30 12:19] jpmeijers commented on #4109
I'm not sure if it is working yet or not, but I tried a couple of the suggested commands in the output:

* `npm audit fix --force`
* `npm i --package-lock-only`
* `npm audit fix`
* And again `tools/bin/mage jsSDK:cleanDeps jsSDK:clean js:cleanDeps js:clean js:build`

It looks like the error message is gone now, but I still see the same warnings on which it failed earlier. I'll try and run the rest

[2021-04-30 12:26] jpmeijers commented on #4109
The stack looks like it is running fine.

[2021-05-01 08:03] AndreasAmMueller commented on #3791
What's the correct uri now? wss://eu1.cloud.thethings.network or something else?

My gateway is currently not able to connect to that socket or is it a part of 3.12.2 (scheduled for may 3rd)

[2021-05-03 00:26] antonysouthworth-halter opened #4112 "`ns-db migrate` takes a long time for larger redis databases"
#### Summary
Background: we use AWS Elasticache for Redis for ns-db. The "Cache Size" reported in the AWS Console is 804MB, and if we export that to `.rdb` format it's about 450MB.

Running `ns-db migrate` takes approximately 20 or so minutes, even when the database is already up to date (with `--log.level debug`, we are able to see all records skipped because they are already up to date).

This t

[2021-05-03 06:46] KrishnaIyer commented on #4112
ACK. We have seen this as well and I think it could do with some optimisation.

This is not necessary. Migrations are to be run only for minor updates and even then, only if the Changelog mentions an `ns-db` migrate. There is no need to run migrations at every startup if that's what you're doing here.

This is the intended mode of operation. These migrations by definition are to be run only when n

[2021-05-03 11:18] phaabe opened #4115 "Sometimes missing 'decoded_payload' in Webhook JSON payload"
#### Summary

The json payload which is forwarded via webhook integration sometimes misses `decoded_payload`.

#### Steps to Reproduce

Unfortunately, this is hard to reproduce...

Description of what happens sometimes:
In an application at TTN (things stack v3.12.1) almost all payloads are successfully decoded and the element `decoded_payload` appears in the forwarded Webhook JSON payload. In rar

[2021-05-03 13:07] htdvisser opened #4118 "Add metric for error definitions in log messages"
#### Summary

I think it would be useful to add metrics that track which error types are logged.

#### Why do we need this?

We do quite a bit of logging, but not every log that contains an error is actually something that requires attention (for instance, INFO/WARN logs with "not found" errors). If we can filter out "expected" error messages, we can make our log-metrics-based alerts more accurate

[2021-05-03 17:10] johanstokking opened #4119 "Report message delivery state changes to Packet Broker"
#### Summary

Report message delivery state changes to Packet Broker

#### Why do we need this?

To inform publishing networks whether the message has been processed or, on failure, what the error is.

This is a necessary feature to interact with networks using LoRaWAN Passive Roaming.

#### What is already there? What do you see now?

The Packet Broker API since 3.6 supports reporting message del

[2021-05-04 01:13] kurtmc commented on #4112
Running database migrations before application startup is a really nice way to ensure that migrations have definitely been run. If you pick and choose when to run migrations in some other manual way you run the risk of forgetting and then deploying a completely broken application. In the case of lorawan-stack there's an extra level of complexity because for every version that is released, we as th

[2021-05-04 03:56] virtualguy commented on #4112
I am also opposed to having to read the entire release note history for every upgrade. Its an error prone issue and seems so trival to solve. Is running a newer version without migrating first supported? I would expect that running a migration process to first detect the version of the data stored and then skip migrations if they were not required. Is there something fundamental I don't understand

[2021-05-04 06:31] nejraselimovic commented on #4109
@jpmeijers cleaning dependencies is already documented in DEVELOPMENT.md as a general advice for when the build is failing, and it seems to help so I will close this issue for now.

[2021-05-04 06:31] #4109 closed, assigned to nobody

[2021-05-04 06:56] nejraselimovic commented on #4103
@cowjen01 did this fix your issue?

[2021-05-04 07:01] #4106 closed, assigned to htdvisser

[2021-05-04 09:02] kschiffer commented on #4100
As far as I understand, entity IDs should not be immediately reusable but only after a retention period. The notification itself is still necessary, since the action cannot be currently undone (at least not via the Console).

#4117 will change the wording to reflect that.

[2021-05-04 12:37] kschiffer commented on #3585
I suggest to reconsider the milestone/prioritization since we now release entity IDs automatically when deleting via the Console. I think it's a good idea now to update the deletion flow as mentioned in my comment above.

Adding to 3.:

We should make a typed confirmation for applications, gateways and users/organizations.

[2021-05-04 13:59] htdvisser commented on #3736
When upgrading mapstructure to v1.4.1 (in https://github.com/TheThingsNetwork/lorawan-stack/pull/4124) this error still happens, so it may actually be something else...

[2021-05-04 14:04] adriansmares commented on #37
Location Solvers will be implemented by application packages, and both LoRaCloud based packages implement this functionality.

[2021-05-04 14:04] #37 closed

[2021-05-04 14:48] pgalic96 commented on #3750
@johanstokking

As far as I can see we have two options:

1. Introduce the RPC where a user can request the DevEUI for an application: in CLI it would be a command like `applications test-app issue-dev-eui` which increments the counters for the application dev eui's issued, and returns a DevEUI.
- pros: it's a separate RPC, making it completely independent from device creation. It would also look

[2021-05-04 17:01] cowjen01 commented on #4103
@nejraselimovic Sorry, I haven't got access to my gateway until now. I tried to turn the gateway off, wait for 1 minute, then turn it on, and it really helped solve the issue. Now I can see my gateway connected again.

I noticed there are some other people on the TTN forum who had the same issue. Maybe it would worth it to include this information in the documentation. Anyway, thank you very much

[2021-05-04 17:01] #4103 closed, assigned to KrishnaIyer

[2021-05-05 06:34] KrishnaIyer commented on #4112
I think we are combining things in this discussion.
This issue is scoped to improving the runtime of the `ns-db` migration which is indeed time consuming and could potentially use a performance boost.

--------

The release history contains more information that just migration. We are internally looking at making the important information that require some operator action in every release more vis

[2021-05-05 08:40] #4100 closed, assigned to asmulko

[2021-05-05 08:47] neoaggelos commented on #4091
The Cobra issue has been stale for a long time, and [a PR that fixes this issue in kind](https://github.com/kubernetes-sigs/kind/pull/2090/files) opted for setting `RunE` in all top-level commands and returning an error for invalid subcommand there.

cc @htdvisser, Is this acceptable in our case? I have started some work in https://github.com/TheThingsNetwork/lorawan-stack/tree/issue/4091-error-on

[2021-05-05 09:07] nejraselimovic commented on #4115
@phaabe thank you for reporting! This is probably due to a large payload formatter script size that causes timeouts. If you take a look at this issue: https://github.com/TheThingsNetwork/lorawan-stack/issues/4053, you will see that the payload formatter script size is about to be limited in the next release. You can also take a look at our documentation on [JavaScript payload formatters](https://w

[2021-05-05 09:54] descartes commented on #4115
I would suggest everyone consider the payload formatter as a bonus debug feature and do the decoding on their own application. It would be impossible to predict the perfect storm that means that even the simplest JS times out due to too many decoders to run - I am seeing it already with a 500byte decoder. If you are using a third-party dashboard, then live with the very occasional missing record.

[2021-05-05 10:05] descartes opened #4130 "How do we refer to the v3 Stack in third party offerings"
#### Summary
I have some sample API code ready to publish. What is the preferred way to reference the v3 Stack?

#### Why do we need this ?
Consistency in search terms mostly.

#### What is already there? What do you see now?
I am not aware of an official short name.

This is in the TheThingsNetwork GitHub account but is in reality being written by TheThingsIndustries

I currently call it TTNv3 bu

[2021-05-05 10:50] kschiffer commented on #3934
The modules have been updated now as described above. The next step is to setup dependabot again. Then we can also close this issue.

[2021-05-05 11:01] kschiffer commented on #3809
Assigned @asmulko to add the new tooltip content provided by @benolayinka.

[2021-05-05 14:19] johanstokking commented on #3750
The CLI can't do anything that isn't API exposed.

I like this approach best. I'm not too afraid of things going wrong between those rpcs, but mostly that the second rpc fails, because IS, NS, AS or JS rejected the device create because of a validation error. In that case we will end up with DevEUIs not being actually used.

We _could_ do a best effort approach to yielding the issued DevEUI back t

[2021-05-05 16:21] pgalic96 commented on #3750
I meant this internal function would be invoked as part of device creation procedure.

Yeah then this approach makes the most sense. Didn't take into account that there are numerous ways to release the DevEUI address without being able to re-use it again.

[2021-05-06 08:08] kschiffer commented on #2231
I had originally planned to fix this with a general overhaul of the event stream via #3817, but I think it's necessary to make some quick adjustments now to make the event stream less verbose. A simple solution here is to add a verbose switch to the event stream, which will enable users to filter out many events that only add noise to the event output.

I propose the following list of events to be

[2021-05-06 08:31] johanstokking opened #4138 "Release v3.12.3"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-05-06 10:38] #4138 closed, assigned to johanstokking

[2021-05-06 11:11] #4067 closed, assigned to adriansmares

[2021-05-06 14:38] benolayinka opened #4143 "Uplink simulator missing metadata which breaks payload formatters"
#### Summary

From https://www.disk91.com/2021/technology/lora/migration-to-ttn-v3/

The TTNv3 console allows simulating an Uplink. That way you can check the integration, even without devices communicating. Unfortunately, the message format is really simplified and you won’t be able to verify many things with this feature currently. As an example, the rx_metadata structure is not pushed over the

[2021-05-06 14:39] neoaggelos commented on #2231
The list of events LGTM in general with one exception: I would swap `gs.status.forward` with `gs.status.receive`, since the status messages are important for the GS, not the upstream hosts (at the moment at least). This also gives us 1 instead of 2 events per status message (we get one `gs.status.forward` per upstream host).

[2021-05-06 14:52] htdvisser commented on #2231
I think it would also be useful to have these:

- `*.end_device.*` -- end device updates on the NS/AS/JS are mostly useful when we also have history, because then you can compare behavior before/after the update.
- `as.{up,down}.data.decode.warning` -- we shouldn't ignore warnings
- `as.{up,down}.data.drop` -- dropped uplinks/downlinks in the AS are almost always abnormal
- `as.up.join.drop` -- ne

[2021-05-06 15:29] kschiffer commented on #2231
It's not ignoring them, just hiding them by default. I decided to filter warnings out by default, since this also what you'd expect when not being in verbose mode.

:ok\_hand:

I guess that's fine since they also shouldn't be very frequent.

:ok\_hand:

I don't know I'd really have just one event for uplink messages, which is the one from the AS which also contains the decoded payload.

Remember t

[2021-05-06 15:50] adriansmares commented on #2231
These events actually are no longer possible (:tada:) and we should deprecate them. Thanks for reminding me.

[2021-05-06 23:27] adrianimboden opened #4145 "ttn-lw-cli device list with more details"
### Background
we have around 3500 devices in our application.
We use the cli to sync our list of devices and configuration (mainly appkey) with ttn. The process looks like this:
[code]

If the ```ttn-lw-cli device list``` command would support including more details (in our case root-keys.app-key.key), we could reduce the amount of api-calls from ~3500 to 4 (page size of 1000).

In TTN v2, this h

[2021-05-07 06:53] htdvisser commented on #2231
Assuming that the majority of users will not use verbose mode, _they will_ ignore warnings if we don't show them.

I'm fine with hiding "expected" things that are not relevant to most users. Warnings are not "expected" and are relevant, because users will probably need to take action on them.

[2021-05-07 07:35] #3723 closed, assigned to htdvisser

[2021-05-07 08:55] kschiffer commented on #2231
Here's the updated list:

[code]

[2021-05-07 12:25] johanstokking commented on #2231
@kschiffer with a simple filter to start with, I triaged this issue. Please check, change labels, assignees and milestone if needed, and remove `needs/triage`.

[2021-05-07 13:29] kschiffer commented on #2231
Yes, I'll take on the verbosity filter. Shouldn't be a big deal.

[2021-05-07 16:37] jpmeijers commented on #2297
Still running into this same issue. Trying to add V3 webhook support to my systems, I'm struggling to find a definitive protocol specification of how the json I will receive should look. The definition should be https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.13/api/messages.proto. I however haven't been successful in building these protos yet.

Current issue is:
[code]

[2021-05-07 20:18] nejraselimovic commented on #4143
An integration partner just told me that the fake gateway ID and frequency (plan?) are missing when simulating uplinks, which makes them harder to test integrations. @bafonins can we do anything about this?

[2021-05-07 20:18] #4115 closed, assigned to nobody

[2021-05-07 20:21] nejraselimovic commented on #4130
@descartes An official name for the new Network Server is "The Things Stack". @laurensslats please tell if you prefer something more descriptive.

[2021-05-08 09:14] jpmeijers commented on #2297
I believe I have this working in go. It needs a couple of workaround steps though.

Inside go.mod add
[code]

We need to update the grpc-gateway version.
[code]

After these additions I can do something like this to parse json being POSTed to me with the webhook integration.
[code]

TODO: Maybe it is now trivial to switch to protobufs for the webhook integrations to save bandwidth?

[2021-05-08 21:01] descartes commented on #4145
As this data should be static, can you update the records for the newly added devices, not every single one?

Some tools I have been asked to develop have been spec'd to treat the stack database as the definitive source of data - but as you are finding, the APIs are not best suited to that and run the risk of overloading the server(s), particularly if you have more than one workstation running adm

[2021-05-08 21:03] descartes commented on #4130
Marketing & branding for something that you have to live with for many years to come, so please don't rush but if you do officially have an official name, it would be good to know.

[2021-05-09 10:29] adrianimboden commented on #4145
Even if I don't want to threat the stack database as the definitive source of truth, it by design is that. The stack is that one that uses the data, therefore it is the source of truth.

The problem is, that I cannot guarantee that the data is not manipulated from anywhere else than our tool. We have the console, ttn-lw-cli users outside of the tool, different versions of the tool, etc., etc.

So

[2021-05-09 17:38] jpmeijers opened #4148 "Webhook integration not setting Content-Type header"
#### Summary

Looking at the headers received from the webhook integration I do not see a content type telling the endpoint if the content is JSON or Protocol Buffers.

#### Steps to Reproduce

1. Set up a webhook integration using JSON and look at the headers being received.
2. Change the format to Protocol Buffers and look at the headers again.
3. The headers are the same.

#### What do you see

[2021-05-09 18:15] jpmeijers commented on #4148
Investigating this further, it seems like my Apache/php-fpm setup doesn't forward the Content-Type header internally to the php script.

The JSON webhook headers look like this:
[code]

And the protobuf headers look like this:
[code]

In other words,
JSON uses `'Content-Type' => 'application/json'`
and Protocol Buffers use `'Content-Type' => 'application/octet-stream'`

[2021-05-09 18:15] #4148 closed, assigned to nobody

[2021-05-09 19:05] descartes commented on #4145
All of which can be restricted using the various permissions.

In that case, maybe that once a year impact rate limited out of region business hours is the best solution, rather than having people use the stack as a management database when it needs to be running a system critical application.

I'm raising this so that collectively we can come up with a good design that removes the potential of a

[2021-05-10 07:13] johanstokking commented on #2297
Use [`go.thethings.network/lorawan-stack/v3/pkg/jsonpb.TTN()`](https://github.com/TheThingsNetwork/lorawan-stack/blob/c26671e1eb844ad207702fc5b9fb3535b7cdc3a7/pkg/jsonpb/ttn.go#L20)

Yes. And you can support either by checking the request's `Content-Type`: `application/json` for JSONPB vs `application/octet-stream` for protobuf.

---

BTW, this issue is about publishing clean protos, that is, `.pr

[2021-05-10 07:28] jpmeijers commented on #2297
Thanks, that is all very useful recommendations.

Indeed we are getting a bit off-topic here, and the end goal of this issue is indeed to have proto files I can compile to any language. I've tried doing that myself before (https://github.com/TheThingsNetwork/api/issues/43) but ran into some dependency hell. Back then I decided to rather use the swagger file to generate my models, which also didn't

[2021-05-10 10:48] htdvisser opened #4149 "Accept and convert MAC address to Gateway EUI"
#### Summary

Some (DIY) gateways don't come with an EUI. For these gateways it could be nice if the Console would let users enter the MAC address of the gateway instead, and would then automatically fill the `FFFE` in the middle.

#### Background

Source: https://doc.sm.tc/station/glossary.html?highlight=fffe#term-mac

#### What is already there? What do you see now?

Only a field for the EUI, an

[2021-05-10 12:00] johanstokking commented on #2297
Yes it is, but we are phasing this out as part of moving away from gogo.

We will need a reproducable way to compile protos, and a Docker image is very useful for that, but this particular image is very opinionated and contains lots of magic with proto options.

Indeed. They will be more generic, but that is also where we are moving with The Things Stack.

In any case, we guarantee that the protos

[2021-05-11 06:07] adrianimboden commented on #4145
I also don't want the system to be burdened with useless calls. Thats the reason why I did come up with this issue after all.

I think data consistency/integrity is so important, that I want to verify that the systems are in sync. I would really appreciate a solution where this is possible in an end-to-end manner (which it is clearly not, when I'm not reading what is stored on the stack).

I mean,

[2021-05-11 08:20] #4009 closed, assigned to neoaggelos

[2021-05-11 08:24] #4091 closed, assigned to neoaggelos

[2021-05-11 08:30] #3913 closed, assigned to asmulko

[2021-05-11 08:32] neoaggelos commented on #4095
If this is a known behaviour, and the problem is that gateways keep sending the same message over and over, then I suppose it is better to stick to a simpler solution of simply keeping track of the last message sent by the gateway and discard duplicates, similar to what [v2 is doing](https://github.com/TheThingsNetwork/gateway-connector-bridge/blob/master/middleware/deduplicate/deduplicate.go) ?

[2021-05-11 08:48] neoaggelos commented on #4098
References #4081