[2019-07-01 08:20] bafonins commented on #875
There is the `Devices` entry in the side navigation with the list of devices (25 devices per page).

Shouldnt this be done by IS?

[2019-07-01 08:48] bafonins commented on #849
Something like this?

<img width="522" alt="Screenshot 2019-07-01 at 10 48 02" src="https://user-images.githubusercontent.com/16374166/60423102-bb185800-9bed-11e9-8e51-e45011b5da5e.png">

[2019-07-01 08:58] rvolosatovs commented on #849
Yes!
Please remove/disable the *Resets Frame Counters*, since no uplinks can be sent

[2019-07-01 09:01] johanstokking opened #887 "CLI panic on listing organizations without passing user ID"
#### Summary

CLI panics when listing organizations without specifying a user ID.

#### Steps to Reproduce

1. Login
2. List organizations with `$ ttn-lw-cli organizations ls`

#### What do you see now?

[code]

#### What do you want to see instead?

No panic, but maybe a nice error that there's no user ID passed (see below)

#### Environment

Current `master`

#### How do you propose to implement

[2019-07-01 09:04] bafonins commented on #875
and

I can agree that showing the connection status for gateways is nice, however do we really want to make 5-20 calls to fetch the stats on every page load?

[2019-07-01 09:06] johanstokking commented on #876
Server logs:

[code]

[2019-07-01 09:11] adriansmares commented on #672
This is not as trivial as it initially seemed. The issue is that the rights check which fails is not from the actual gRPC registry call, which does not do any rights checks in the case of user create ([see here](https://github.com/TheThingsNetwork/lorawan-stack/blob/861fe5eaec412b8da0ff47cdb431b41e49a30b50/pkg/identityserver/user_registry.go#L89)), but rather from the rights fetcher hook, which is

[2019-07-01 09:22] adriansmares opened #889 "Better CLI multicast support."
#### Summary

#792 added support for multicast devices in the Network Server by adding the `Multicast` flag. This flag is supported currently in the CLI, under the form of `--multicast`, but requires the `--abp` flag to be set as well, in order to set `SupportsJoin` to false. It is however rather unintuitive that the device is both ABP and Multicast at the same time.

#### Why do we need this?

In

[2019-07-01 09:43] htdvisser opened #890 "Issue template for questions"
#### Summary

I propose to add an issue template for questions.

#### Why do we need this?

In #871 and #873 we see that the current issue templates are not applicable to questions.

#### What is already there? What do you see now?

We have issue templates for bugs and features. We don't have an issue template for questions, but we also don't accept issues that don't follow an issue template.

###

[2019-07-01 09:52] bafonins opened #891 "Add missing selector when fetching applications"
#### Summary

Console doesnt fetch application description to properly display in the applications list view.

#### Steps to Reproduce

1. Go to the applications list page
2. Create a new application with `description`
3. Refresh page
4. See no description shown for the newly created application

#### What do you see now?

No selectors passed to the api

#### What do you want to see instead?

Fiel

[2019-07-01 09:53] KrishnaIyer commented on #890
so the "action" would be that we update documentation directly (if that's the only change) referencing this issue and open another one if this results in a bug fix/feature request?

[2019-07-01 10:22] bafonins opened #893 "Add missing selector when fetching devices"
#### Summary

Console doesnt fetch device name to properly display in the devices list view.
See also https://github.com/TheThingsNetwork/lorawan-stack/issues/891

#### Steps to Reproduce

1. Go to the devices list page
2. Create a new device with `name`
3. Refresh page
4. See no name shown for the newly created device

#### What do you see now?

No selectors passed to the api

#### What do you wa

[2019-07-01 10:49] htdvisser commented on #890
Exactly. The result of a "question" issue should usually be a change in our documentation, or an addition to our FAQ.

I don't know if it makes sense to copy-paste a "question" issue into a "bug_report" issue. Maybe we should just add the relevant sections in comments (or edit the issue) if we decide to turn a question into a bug report or feature.

[2019-07-01 11:15] #845 closed

[2019-07-01 11:15] #850 closed

[2019-07-01 11:43] Sypheos commented on #890
Agree but that should also apply to the forum and slack.

In essence all information should be in  the repo documentation, if some information is reference on the forum, issues or slack then we failed to make a documentation.
Question or issue raised on slack, forum should make up for change in doc unless no effort were taken to look for the information.

Instead having of list of "did you look th

[2019-07-01 12:14] htdvisser commented on #869
As @johanstokking wrote last week, the rights checks in this RPC indeed have to change a bit. The check will have to be split into two parts: first, we need to check that the caller has _any_ right on the requested entity, and second, we need to check which rights are required for each event.

I don't think it's a good idea to switch event (payload) visibility based on payload type. We shouldn't h

[2019-07-01 12:23] htdvisser commented on #890
I completely agree that we should better monitor the Forum and Slack and turn (good) questions into documentation improvements (at least for the [v3 category](https://www.thethingsnetwork.org/forum/c/network-and-routing/v3) and [lorawan-stack channel](https://thethingsnetwork.slack.com/messages/CFVF7R4AH/)). @Sypheos how would you see that working in practice?

The goal of the "have you looked her

[2019-07-01 12:37] johanstokking commented on #875
OK, but not the applications and gateways, see e.g.

<img width="731" alt="Screenshot 2019-07-01 at 14 32 44" src="https://user-images.githubusercontent.com/13334001/60436934-78667800-9c0d-11e9-8bd8-687b02e81e45.png">

Yeah it's the responsibility of where pagination happens, because we first need to sort before we can paginate. I don't think we should go as far as sorting by a selected column, bu

[2019-07-01 12:51] johanstokking commented on #890
I think this is a good idea. Let's keep the scope of this issue and issue template really a new question.

As for documentation improvements, i.e. informal answers on a forum and Slack that we want part of the documentation, we may consider an additional "documentation request" issue template, which is minimal; it basically describes the documentation gap and the link to where information is now (

[2019-07-01 13:03] johanstokking commented on #869
Good idea.

Can you give an example use case? Like, "the gateway is receiving messages, but you need rights to see them"? Not sure if we need this (already).

I think it would be any. If we need an intersection, we may need to consider introducing a new right. At this point, I can't think of a use case.

Didn't we decide to stop supporting this before and/or related to https://github.com/TheThings

[2019-07-01 13:12] htdvisser commented on #869
An example use case could indeed be some kind of per-message billing integration that hooks into application data events. For billing it only needs to know *that* there was an uplink/downlink, but it doesn't need to see the contents.

#685 indeed removed the "plural" from `ttnpb.Identifiers`, but multiple identifiers are still supported where it made sense. The rights hook and events package are p

[2019-07-01 13:12] bafonins commented on #875
So, shall we increase page size for applications and gateways to 10? cc @kschiffer

[2019-07-01 14:02] htdvisser commented on #875
I can look into sorting of those listings

[2019-07-01 14:34] furtiman opened #896 "Readme.md typos"
#### Summary

Readme.ms of the repo root has two minor typos

#### Steps to Reproduce

1. Read root Readme.md

#### What do you see now?

In ***Getting Started***:

In ***Support***:

#### What do you want to see instead?

In ***Getting Started***:

In ***Support***:

#### How do you propose to implement this?

Correct the typos

#### Can you do this yourself and submit a Pull Request?

Yes

[2019-07-01 15:20] Sypheos commented on #890
For the question template imo:
**What are looking for / to do ? Why ?**
**Where did you look ?**
_Add any webpage, issues, query againts github, the docs, forum are welcomed_
**Why was not satisfying ?**
_404 not found is a legit anwser_

Label: question

if there are no resources to answer the question, open a "documentation request" issue.

[2019-07-01 15:40] johanstokking opened #899 "CLI clears server addresses on device update"
#### Summary

CLI clears server addresses on device update

#### Steps to Reproduce

1. Create OTAA device usual way, see Getting Started
2. Update device; change a JS field for example, i.e. `--resets-join-nonces=true`

#### What do you see now?

CLI performs the update but clears `join-server-address` in step 2. CLI command keep working only because of local config.

#### What do you want to see

[2019-07-01 15:57] johanstokking commented on #890
We should really make sure that any answers end up in documentation, otherwise the closed issues here becomes the V3 knowledgebase, and we should avoid that. So maybe we should even skip the "question" template and go directly for "documentation request".

Also, when use of this repository grows, and this ends up the go-to place for asking questions and we get a hard time moderating that (i.e. poi

[2019-07-01 16:00] #896 closed

[2019-07-02 08:11] #877 closed

[2019-07-02 08:13] #878 closed

[2019-07-02 08:56] kschiffer commented on #875
Yes, I think 10 is a good default. Let's also use a unified constant for this.

[2019-07-02 09:02] #891 closed

[2019-07-02 09:03] #893 closed

[2019-07-02 10:02] kschiffer commented on #875
See [my comment](https://github.com/TheThingsNetwork/lorawan-stack/pull/895#issuecomment-507593303) on improving the list display of api keys as a whole:

If there's no objection I would like to solve it this way.

[2019-07-02 10:39] bafonins opened #903 "Byte input placeholder/mask mismatch"
#### Summary

The `<ByteInput />` component does not clean default mask on nonempty input.

<img width="471" alt="Screenshot 2019-07-02 at 12 35 44" src="https://user-images.githubusercontent.com/16374166/60506366-f1290b00-9cc5-11e9-86b3-e6b863e6f090.png">

#### Steps to Reproduce

1. Run `mage js.storybook`
2. Go to http://localhost:9001/?path=/story/input--byte
3. Partially fill in the input

##

[2019-07-02 10:52] htdvisser commented on #875
The ID is the middle part of the API key, so if a user has an API key, they can see the key's rights by finding that same ID in the list.

I would propose to leave things the way they are (so sort by ID) until we have #316 which allows us to sort by fields other than ID.

[2019-07-02 11:02] htdvisser opened #904 "Send EndDevice events from NS/AS/JS EndDevice Registries"
#### Summary

Just like we do in the Identity Server, we should send EndDevice update/delete events from the NS/AS/JS EndDevice registries.

#### Why do we need this?

- Consistency with the IS
- Integrations may want to take action if a certain field is updated.

#### What is already there? What do you see now?

In the IS:

https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/identit

[2019-07-02 11:09] bafonins opened #905 "Fix nonrequired byte input validation in forms"
#### Summary

Nonrequired byte inputs are not properly validated in device/gateway forms.

#### Steps to Reproduce

1. Go to the add gateway page
2. Fill in required fields
3. Focus on `Gateway EUI` field and input any character that does not match `/[0-9a-f]/i` or add any valid characters and clear the field.
4. Submit form
5. See the error while the field is empty

<img width="658" alt="Screensh

[2019-07-02 11:34] kschiffer opened #907 "Increase page size of entity tables to 20"
#### Summary
The entity tables currently have a page size of 5, which is a bit low. 20 is a better value that will fill a usual browser window (16:9) better.

#### Why do we need this?
Improve UX. Page sizes that are too small are hard to navigate through. Whether 20 is indeed the optimal default needs some progressive insight.

#### What is already there? What do you see now?
- Functionality to s

[2019-07-02 11:38] johanstokking opened #908 "Invalid Result field type in Backend Interfaces"
#### Summary

Invalid Result field type in Backend Interfaces

Reported by @brocaar

#### Steps to Reproduce

1. Send valid `JoinReq` message to Join Server
2. Receive `JoinAns` and observe `Result` field

#### What do you see now?

`"Result": "Success"`

#### What do you want to see instead?

Should be a Result Object:

<img width="751" alt="Screenshot 2019-07-02 at 13 37 37" src="https://user-im

[2019-07-02 12:16] kschiffer opened #909 "Add functionality to delete end devices"
#### Summary
There is currently no way to delete an end device in the console. This should be added as a button inside the general settings page of end devices, complementary to how other entities can be deleted.

#### Why do we need this?
Basic functionality.

#### What is already there? What do you see now?
- General settings page for end devices
- Delete functionality for end devices in the JS

[2019-07-02 12:31] Sypheos commented on #890
Documentation request are in fact "Questions" since they were looking for something but couldn't find it. At the start they have a question that needs an answer.
To go in that direction it would make more sense to simply deny any documentation request and questions via issues on github.

If someone want to ask a question they go to slack or the forum where someone for the core team or moderation c

[2019-07-02 13:34] johanstokking commented on #875
@kschiffer I think 10 is too little. The Console should be informative. If it doesn't fit, consider making the table more condense. I'd say at least 20 but maybe 25 or 30 items.

[2019-07-02 13:49] johanstokking commented on #907
I'm opting for 20, 25 or 30, potentially making the table a bit more condense.

[2019-07-02 14:00] kschiffer commented on #875
Please move this to #907.

[2019-07-02 15:06] johanstokking opened #911 "Flaky NS test"
#### Summary

Flaky NS test

#### Steps to Reproduce

Non-deterministic

#### What do you see now?

[flaky-ns-test.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/3350742/flaky-ns-test.txt)

#### What do you want to see instead?

No errors

#### Environment

Travis CI

#### How do you propose to implement this?

No idea. Doesn't seem to be related to flow testing timing though.

####

[2019-07-02 21:52] rvolosatovs opened #918 "Improve Network Server test coverage and consistency"
#### Summary

Improve Network Server test coverage and consistency

#### Why do we need this?

To ensure correctness

#### What is already there? What do you see now?

Coverage of `73.3%`

#### What is missing? What do you want to see?

Coverage of `90%` or more

#### How do you propose to implement this?

Add test cases for uncovered parts.

#### Can you do this yourself and submit a Pull Request

[2019-07-02 21:55] rvolosatovs commented on #911
@johanstokking the log you added seems to be trimmed at
[code]

Overall, it looks like the issue is again with the Travis being slow and exceeding the timeout.

[2019-07-03 06:30] johanstokking commented on #911
Yes it just ended there

[2019-07-03 07:25] johanstokking commented on #911
Seeing this more often than not on my PRs so please fix

[2019-07-03 07:45] rvolosatovs commented on #911
https://github.com/TheThingsNetwork/lorawan-stack/pull/912/commits/46537a32c6a07ef9f9734d6af811c958452c5176 should fix it once and for all, if not I'll investigate if there is something else causing this

[2019-07-03 08:13] #908 closed

[2019-07-03 08:14] #899 closed

[2019-07-03 08:20] htdvisser commented on #138
So does this mean we will not implement 1.0 at all?

---

Then I guess I was confused by the spec mentioning NS records:

[code]

---

I thought we previously already concluded that the first phase for the Backend Interfaces Join flow would be a configuration file or repository. I came up with something like this:

[code]

---

We are however getting a bit off-topic for this issue. The goal of thi

[2019-07-03 08:55] kschiffer commented on #907
Ok, let's use 20 then. Anything higher makes the page already quite long. We can later provide a `Show all items` button.

[2019-07-03 08:58] johanstokking commented on #138
We cherry pick from Backend Interfaces like other members. We don't do hand over roaming, we do (stateless) passive roaming in Packet Broker, we don't do 1.0 NAPTR records, we do 1.1 DNS lookup, we do support 1.0 and 1.1 messages for the flows that we implement, etc.

DNS delegation is certainly on the roadmap and 1.1 opens the door for it, but we don't have to operate/administer it (for now) so w

[2019-07-03 10:14] rvolosatovs commented on #631
@johanstokking now that #882 is merged is this still high priority and/or blocking release?
The only thing missing here is notifying AS when `ClassBC` paths are set and not applicable and in very rare cases when `ClassBC` absolute time is expired.

[2019-07-03 10:16] #505 closed

[2019-07-03 10:17] #795 closed

[2019-07-03 10:18] rvolosatovs commented on #42
NS part is done

[2019-07-03 10:21] adriansmares commented on #42
AS done as of #898

[2019-07-03 10:31] #23 closed

[2019-07-03 12:37] kschiffer opened #921 "Webui general styling polish and fixes"
#### Summary
Additionally to #875, there are quite some other small fixes that need to be done, which don't deserve dedicated issues and can be done in bulk.

#### Why do we need this?
This is generally a polishing effort, improving the overall appearance, visual consistency and hence the UX of the console and oauth app.

#### What is already there? What do you see now?
MVP feature complete consol

[2019-07-03 12:57] Sypheos opened #922 "Use RSIG instead of RSSI/SNR when present"
#### Summary
Reports shows that more multi antenna gateways are starting to use the `rsig` array to send the signal metadata. We need to make sure we handle those values are present .
...

#### Why do we need this?
Default RSSI and SNR field would be empty when RSIG is present. If we don't handle RSIG the network will have uplinks with signal metadata set to 0. This will cause problem with ADR, de

[2019-07-03 14:02] kschiffer opened #926 "Remove organization placeholder link from console"
#### Summary
Organizations management will not be part of the MVP, hence the placeholder entry in the header can be removed for the time being.

#### Why do we need this?
Is otherwise a dead end.

#### What is already there? What do you see now?
Irrelevant.

#### What is missing? What do you want to see?
Remove the link entry in the header.

#### Environment
Console.

#### How do you propose to im

[2019-07-03 14:03] htdvisser opened #927 "Incorrect handling of RSSIC/RSSIS"
#### Summary

After investigating https://github.com/TheThingsNetwork/gateway-connector-bridge/issues/35 I discovered that we've been handling the RSSIC and RSSIS fields incorrectly. This results in incorrect RSSI values.

#### What do you see now?

1. https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/ttnpb/udp/translation.go#L135-L136
2. https://github.com/TheThingsNetwork/lorawan

[2019-07-03 14:07] kschiffer opened #928 "Add starting point for the console overview page"
#### Summary
The console needs a simple page for the overview route. We can make a start by showing the application and gateway tables there.

#### Why do we need this?
Basic functionality.

#### What is already there? What do you see now?
- [Quite outdated screen design](https://user-images.githubusercontent.com/5710611/60598079-5fe09400-9dac-11e9-8108-1f38fb10c29f.png), that however shows the ge

[2019-07-03 14:09] johanstokking commented on #922
@KrishnaIyer we should be able to do this safely for all incoming UDP traffic.

[2019-07-03 14:16] kschiffer commented on #629
Yes. Updated the description.

[2019-07-03 14:56] #921 closed

[2019-07-03 20:37] johanstokking commented on #927
Sounds good. I can't think of a cleaner option that won't break API to gateways (gRPC) and applications (metadata).

[2019-07-04 09:23] KrishnaIyer opened #930 "Automatically redirect to Login page on successful account creation"
#### Summary

On most platforms, the default action after creating a new user is to be redirected to the login page automatically.

#### Why do we need this?

Consistent UX when compared to most other online platforms.

#### What is already there? What do you see now?

- User has to manually click to login.
- The form for creating a new user still exists with the original values filled in. I can c

[2019-07-04 09:51] #903 closed

[2019-07-04 09:55] #926 closed

[2019-07-04 14:03] htdvisser opened #932 "Console does not show error if events stream gets refused"
#### Summary

During today's demo we found that the console doesn't show any error if the events stream gets refused (for the user not having sufficient rights).

#### Steps to Reproduce

1. Assume application `foo`
2. Give non-admin user `bar` `right_application_info` on application `foo`
3. As user `bar` look at the events widget on the overview page of application `foo`

#### What do you see no

[2019-07-04 14:03] johanstokking commented on #631
Go through the error details of the error you get from `nsgs.ScheduleDownlink`.

## Class A downlink

Try Rx1 and Rx2 of the uplink tokens that you have.

If all attempts fail, retry on the next uplink.

## `ClassBC` set

Only try in class B/C downlink.

### Fixed downlink paths

If all attempts say `NotFound` (gateway not connected) or `Corruption` (bad uplink token) or `FailedPrecondition` (some

[2019-07-04 14:05] htdvisser opened #933 "Show sub-band channel utilization of gateways"
#### Summary

We would like to see channel utilization in the gateway connection stats.

Originally requested by @ajovertoom

#### Why do we need this?

It's helpful for users to see how much their gateway is used, how much each sub-band is used and how much each channel is used.

#### What is already there? What do you see now?

We have the `uplink_count` and `downlink_count` in the API, and thos

[2019-07-04 14:11] htdvisser opened #935 "Restructure Integrations"
#### Summary

The integrations should be restructured in the sidebar

#### What is already there? What do you see now?

<img width="258" alt="Screenshot 2019-07-04 at 16 06 56" src="https://user-images.githubusercontent.com/181308/60672496-c7aee180-9e75-11e9-8a9a-3f450c90ecd0.png">

#### What is missing? What do you want to see?

- Integrations
  - MQTT overview page with basic connection info as

[2019-07-04 14:12] htdvisser opened #936 "Optimize downlink task starting times"
#### Summary

Network Server should smarter choosing the starting time of downlink tasks

#### Why do we need this?

To ensure we don't miss downlink slots and not waste resources generating downlinks, when we know it's impossible to schedule

#### What is already there? What do you see now?

Apart from uplink-triggered downlink tasks, they're added at `time.Now()`

#### What is missing? What do y

[2019-07-04 14:16] htdvisser opened #938 "Missing headers from Webhook configuration"
#### Summary

We can't set headers (such as Authorization) when configuring webhooks

#### Steps to Reproduce

1. Go to Application > Integrations > Add

#### What do you see now?

![image](https://user-images.githubusercontent.com/181308/60672980-f5e0f100-9e76-11e9-8268-3ca92f84799d.png)

#### What do you want to see instead?

Some way to configure the request headers

#### How do you propose to

[2019-07-04 14:39] htdvisser opened #939 "[Concept] Collaborator Rights Handling"
#### Summary

This is an overview of how collaborator rights should be handled.

#### What do you want to see?

- [ ] IS: When an Application is created, the first collaborator should have `RIGHT_APPLICATION_ALL`
- [ ] IS: When a Client is created, the first collaborator should have `RIGHT_CLIENT_ALL`
- [ ] IS: When a Gateway is created, the first collaborator should have `RIGHT_GATEWAY_ALL`
- [ ]

[2019-07-04 14:45] htdvisser opened #940 "Login API leaks presence of user"
#### Summary

The login API leaks the presence of a username

#### Steps to Reproduce

1. Go to the login page
2. Try to login as an existing user
2. Try to login as a user that doesn't exist

#### What do you see now?

For the existing user you see a "incorrect password", for the other you see a "user `id` not found`.

#### What do you want to see instead?

It should say something like "no user w

[2019-07-04 15:41] htdvisser opened #941 "Misaligned spinner"
#### Summary

The spinner of the end device loading view is misaligned with its background

#### Steps to Reproduce

1. Go to the demo join server
2. Go to any application with devices
3. Open any device

#### What do you see now?

The page keeps loading. I think @johanstokking already reported this issue?

The problem is that the spinner is misaligned when page zoom is not equal to 100%.

![spinn

[2019-07-04 15:47] htdvisser opened #942 "Database error when trying to delete a collaborator that isn't a collaborator"
#### Summary

The Identity Server throws a database error when trying to delete a collaborator that isn't a collaborator.

#### Steps to Reproduce

1. For any application, run `ttn-lw-cli application collaborators delete --user-id <user id>` for an existing user that isn't collaborator.

#### What do you see now?

A database error (Internal)

#### What do you want to see instead?

An ErrNotFound

[2019-07-04 18:06] #866 closed

[2019-07-04 19:34] rvolosatovs opened #944 "Only schedule ClassBC downlink for class B/C"
#### Summary

Only schedule ClassBC downlink for class B/C

#### Why do we need this?

To be compliant with the behavior users expect

#### What is already there? What do you see now?

If zero `class_b_c` is set, the downlink may be scheduled as Class A

#### What is missing? What do you want to see?

If any `class_b_c` is set, the downlink should only be scheduled as Class B/C in Rx2

#### How do

[2019-07-05 06:10] johanstokking commented on #866
@ecities this lands in the next release, please star this repository or subscribe to release notifications.

[2019-07-05 06:27] johanstokking opened #945 "Tiles for supported webhook integations"
#### Summary

Tiles for supported webhook integrations.

#### Why do we need this?

To show recognizable logos for users of upstream platforms and make configuration easier.

#### What is already there? What do you see now?

Manual webhook configuration, i.e. URL, headers, format.

#### What is missing? What do you want to see?

Tiles that provide URL, headers and format.

#### How do you propose

[2019-07-05 06:31] johanstokking commented on #938
Even though important; let's not block `v3.1.0` for this. Console is really "community technology preview"

[2019-07-05 11:06] #830 closed

[2019-07-05 12:19] johanstokking opened #949 "Generic device format conversion"
#### Summary

Generic device format conversion.

References https://github.com/TheThingsIndustries/lorawan-stack/issues/1672

#### Why do we need this?

To import devices from other sources in various formats.

#### What is already there? What do you see now?

JS `Provision()` rpc to turn provisioning data into a stream of `EndDevice` templates

#### What is missing? What do you want to see?

The

[2019-07-05 12:45] adriansmares commented on #935
#883 has been merged.

[2019-07-05 17:30] rvolosatovs commented on #631
Blocking #936

[2019-07-05 17:31] rvolosatovs commented on #936
Blocked by #631 (implementing this without properly failing downlinks will result in nasty infinite loops)

[2019-07-05 20:41] arjanmels opened #950 "Support UnixTime type for Cayenne LPP"
#### Summary
The Cayenne LPP decoder currently does not support the UnixTime field type (nr 133)

#### Steps to Reproduce
Send a Cayenne LPP package with UnixTime field

#### What do you see now?
Cayenne LPP not decoded

#### What do you want to see instead?
Cayenne LPP properly decoded including timestamp converted to ISO formatted date/time

#### Environment
Current The Things Network web consol

[2019-07-06 12:26] ecities opened #951 "One webhook overwrites another settings?"
#### Summary

I',m trying to create on the same instance of lorawan-stack:

- 1'st application + webhook for production environment (standard data exchange)
- 2'd application + webhook for firmware update of microcontroller device
- the same end-device belongs to both applications (the same name/eui - other app eui/keys)

After performing full initialization of one application it looks it overwrit

[2019-07-06 19:00] #927 closed

[2019-07-08 06:42] ecities opened #953 "Document device types OTAA, ABP and Multicast"
#### Summary

**QUESTION**

**Is there a possibility to send multicast messages with webhook?**
We develop LoRaWAN bootloader (currently working in Class A) and it's very ineffective.
Whole firmware transfer (for one node) takes about an hour @80dBm for DR4 (~64kB).

**Is there a possibility to send firmware downlink data as multicast messages to many nodes (for the application) using webhooks?**

[2019-07-08 08:53] htdvisser commented on #953
Removed irrelevant sections for issue of type "question"

Ref #890

[2019-07-08 08:57] htdvisser commented on #953
A: Yes, the stack supports registering Class C multicast sessions as any other end device with the `--multicast` flag. This is described in our Getting Started: https://github.com/TheThingsNetwork/lorawan-stack/blob/master/doc/gettingstarted.md#creating-a-device

A: Yes, the multicast session is registered as any other device, so you can schedule downlink to it in the exact same way as you would f

[2019-07-08 09:00] htdvisser commented on #953
@rvolosatovs @adriansmares IIRC you guys did testing with Class C and with Multicast, right? Should we write a nice documentation page about that?

If yes, then let's wait for #401 before doing it.

[2019-07-08 09:10] ecities commented on #953
@htdivsser - thanks for reply.  I saw it on getting started.

The syntax of webhook (url) is :
curl **http://localhost:1885/api/v3/as/applications/ap2/webhooks/fwup/devices/dv1/down/push** -X POST   -H 'Authorization: Bearer NNSXS.CLCIYOYYEDPLJSSWRNMYS5KCDI45HOE6M3WZIDY.E6DXAAZ4HSX2V6VL7C3244HGNKBO24SEROTXOZURJHWWOMWZQSPA'  --data '{"downlinks":[{"frm_payload":"vu8=","f_port":15,"priority":"NORMAL

[2019-07-08 09:23] htdvisser commented on #953
The idea is that you register a single "pseudo-device" representing a multicast group that contains multiple physical devices. When using the webhook to schedule downlink to the multicast group, you target it at this pseudo-device.

As you can see in the Getting Started, the registration of such a pseudo-device is essentially the same as for an ABP device. The DevAddr is the Multicast address, the

[2019-07-08 10:04] ecities commented on #953
@htdvisser thanks.
**Does multicast pseudo-device have to be ABP?**
**I hope it not colide with accessing real end-devices directly?**

**I can't find anything about creation pseudo-device and add devices to this "group"** in getting started you've mentioned.

I've also checked:
ttn-lw-cli --help
ttn-lw-cli end-devs --help
ttn-lw-cli dev --help
and can't see "intuitive" description for pseudo devi

[2019-07-08 10:19] rvolosatovs commented on #953
@ecities Multicast devices have to be ABP, since they do not send uplinks and hence do not support OTAA flow by definition
Register the device same way you would an ABP device, but add the `multicast` flag.

[2019-07-08 11:13] ecities commented on #953
@rvolosatovs thanks
`Multicast devices have to be ABP, since they do not send uplinks and hence do not support OTAA flow by definition`
So We have to choose only one of ??:
 -standard dev with otta (class A or C)
 -multicast dev with abp (class C) - flag created at device creation and can't be removed. Can't uplink data at all.

**Or maybe there is workaround eg: add devices to 2  different apps?*

[2019-07-08 12:13] rvolosatovs commented on #953
A `multicast` device registered in `lorawan-stack` may represent arbitrary number of physical devices.
So let's say you had 5 devices you want to operate in Multicast mode - then you'd provision all 5 of your *physical* devices to use:
- identical DevAddr(e.g. `00E4304D`)
- identical session keys(e.g. `A0CAD5A30036DBE03096EB67CA975BAA` and `A0CAD5A30036DBE03096EB67CA975BAA` for AppSKey and NwkSKey

[2019-07-08 12:53] ecities commented on #953
@rvolosatovs thanks a lot for very good "step-by-step" explanation, which eliminates most of assumptions

I think it's worth to be copied to Getting started manual or multicast documentation as this is not so obvious in practice

Regards,

Robert

[2019-07-08 13:00] rvolosatovs commented on #953
@ecities you're welcome, glad I could help!
@adriansmares can you pick this up?

[2019-07-08 19:11] johanstokking commented on #953
@adriansmares suggesting that we explain a bit in more detail what OTAA, ABP and Multicast devices are, especially the latter.

[2019-07-09 08:00] htdvisser opened #960 "Improve Test Coverage"
#### Summary

...

#### Steps to Reproduce

See Coveralls for the latest `master` branch

#### What do you see now?

The following top-50 of missed lines (excluding pkg/util/test). I already added the names of developers I think are best able to work on these.

File | Missed | Who
-- | -- | --
pkg/applicationserver/applicationserver.go | 121 | @adriansmares
pkg/applicationserver/io/web/webhooks.go

[2019-07-09 08:04] rvolosatovs commented on #960
Refs #918

[2019-07-09 09:01] johanstokking commented on #960
@TheThingsNetwork/stack-developers please assign low hanging fruit to @furtiman @mjamescompton to get acquainted with the code base and testing processes

[2019-07-09 11:13] #942 closed

[2019-07-09 11:18] htdvisser opened #966 "Goreleaser complains about our master build"
#### Summary

Goreleaser is failing about our master build. Perhaps something changed upstream.

#### What do you see now?

https://travis-ci.com/TheThingsNetwork/lorawan-stack/jobs/214378470

[code]

and

[code]

#### What do you want to see instead?

🔨 Builds!

#### Environment

Travis CI

#### How do you propose to implement this?

See what's changed in goreleaser. Maybe something up with GOPAT

[2019-07-09 11:27] adriansmares commented on #951
I can confirm that I've been able to reproduce this bug. My run can be found [here](https://pastebin.com/5XGB0pAd). I'll investigate and come back with the results.

[2019-07-09 11:31] htdvisser opened #967 "Incorrect use of errors.WithDetails"
#### Summary

The GS uses `errors.WithDetails` incorrectly, resulting in non-functioning code in #952.

#### What do you see now?

In the GS: `errSchedule.WithDetails(details...)` and `errTxSchedule.WithDetails(errRxDetails...)` where the argument `[]interface{}` contains `error`s.

In the NS:

[code]

where `d` never actually is `error`.

#### What do you want to see instead?

The GS shouldn't co

[2019-07-09 11:31] ecities commented on #951
@adriansmares  Thanks.

[2019-07-09 12:30] adriansmares commented on #951
I've migrated my `v3.0.3` setup to the latest `master` and apparently the bug has been fixed in the meantime.
[code]

I did look however which commits fixed this issue, and the they are a2e7e4c6b8929dfd52ba62046cc70d4529c4f25e and fe95aafb9959e841e920eaad39eb2e39b6ed24e6

[code]

Since we have no `master` docker image, should we have a `v3.0.3b` release which includes these fixes ? @johanstokking

[2019-07-09 13:28] htdvisser commented on #967
Blocking #952

[2019-07-09 13:29] adriansmares commented on #42
Finished as of #898.

[2019-07-09 13:29] #42 closed

[2019-07-09 13:36] htdvisser commented on #138
Blocked on #143

[2019-07-09 13:36] htdvisser commented on #143
Blocking #138

[2019-07-09 13:51] htdvisser commented on #890
Decision: We'll go with https://github.com/TheThingsNetwork/lorawan-stack/issues/890#issuecomment-507324845. Question template that directs to the forum, and a Documentation Request template

[2019-07-09 13:55] htdvisser commented on #938
Same for CLI

[2019-07-09 14:16] johanstokking commented on #922
We do this already

[2019-07-09 14:16] #922 closed

[2019-07-09 14:16] johanstokking commented on #669
@rvolosatovs consider making this part of #967 as well

[2019-07-09 15:01] htdvisser commented on #949
What component(s) would expose this new service? I think it would be a bit strange to expose it on the full stack (including GS), but on the other hand, we already do the same with the frequency plans RPC (expose it on the JS).

[2019-07-09 15:18] htdvisser commented on #876
This actually works as intended.

We made the decision that admins don't have `_KEYS` or `_ALL` rights on entities that they don't actually have rights to. Since users can never assign rights to collaborators that they don't already have themselves, admins can't assign these rights to collaborators unless they actually have those rights.

[2019-07-09 16:29] adriansmares commented on #951
I've investigated _why_ the two commits actually fix this issue, and found that the real cause is actually not related to them directly, but rather to the fact that in `v3.0.3` the context used for rights checking is shared between requests.

In `v.3.0.3`, the context used by the Webhooks component to check the rights of the request is `w.ctx`, which if we follow up to it's creation, is the contex

[2019-07-09 16:30] htdvisser commented on #265
Updated title and description. @johanstokking 	@kschiffer 	comments please.

[2019-07-10 07:03] johanstokking commented on #949
This service is helpful for any component with a device registry (IS, JS, NS and AS). Some converters will only return fields for one of these components (i.e. secure element manifests typically only JS), some for multiple (i.e. import files all components).

So I'd suggest just like GCS a dedicated component that starts with IS, JS, NS and AS.

[2019-07-10 07:28] #966 closed

[2019-07-10 07:49] johanstokking opened #970 "Release from release branches"
#### Summary

Release from release branches.

#### Why do we need this?

To avoid triggering releases from anyone pushing tags accidentally.

#### What is already there? What do you see now?

Trigger releases on pushed tags in `master` branch.

#### What is missing? What do you want to see?

Trigger releases on release tags.

#### How do you propose to implement this?

- [x] Setup branch protectio

[2019-07-10 08:29] #876 closed

[2019-07-10 08:58] htdvisser opened #971 "Password Reset from web UI"
#### Summary

Users should be able to reset their password using the web UI.

Old issue: https://github.com/TheThingsIndustries/lorawan-stack/issues/1123

#### Why do we need this?

Because not all users are comfortable with the API or CLI

#### What is already there? What do you see now?

We have the `CreateTemporaryPassword` RPC in the `UserRegistry` service. HTTP binding is `POST /api/v3/users/

[2019-07-10 09:04] johanstokking commented on #951
Released in https://github.com/TheThingsNetwork/lorawan-stack/releases/tag/v3.0.4

[2019-07-10 09:04] #951 closed

[2019-07-10 09:26] adriansmares commented on #970
Should we clean dependency caches for release builds as well ?
https://github.com/TheThingsNetwork/lorawan-stack/blob/4163efd780040e5d04b35fc7d6c68d443258ebd9/.travis.yml#L37-L43

[2019-07-10 10:46] htdvisser commented on #970
As already discussed on Slack, tags aren't pushed on branches, so you can't _"Trigger releases on pushed tags in `release/v*` branches"_.

If the goal is to only trigger releases on actual release tags (and not other tags), we can make Travis check that the release tags are the same as we'd expect from a release tag generated by our Mage tooling:

[code]

[code]

[2019-07-10 11:33] kschiffer opened #975 "Avoid unhandled promise rejections in the request logics"
#### Summary
With the way our request promise middleware works at the moment, it will produce unhandled promise rejections, when a request fails and the dispatch is not handled via a try/catch block.

#### Steps to Reproduce
1. Login to the console
2. Initiate an action that will fail (as in produce a `{BASE_ACTION}_FAILURE` action type)
3. Notice unhandled promise rejections in the logs

#### Wha

[2019-07-10 11:58] rvolosatovs commented on #669
I opened a draft PR for this https://github.com/TheThingsNetwork/lorawan-stack/pull/976, but testing blew up.
I will not make this part of #967

[2019-07-10 12:16] johanstokking commented on #265
I think it's good to work towards a screen like that, but I see a complicated solution for a simple problem.

That is, if you logout in an OAuth client (i.e. CLI or Console), and you log back in, the OAuth server logs you in automatically, so you don't have a chance to switch accounts.

Right?

Isn't that fixed by the switcher in https://github.com/TheThingsNetwork/lorawan-stack/issues/488 ?

[2019-07-10 13:42] adriansmares opened #977 "Valid web paths return 404"
#### Summary

#919 introduced a regression related to web paths - it seems that one of the dependency updates broke down the route handling.
@kschiffer observed this while attempting to `GET` an application link (`GET http://localhost:1885/api/v3/as/applications/app1/link?field_mask=api_key,network_server_address`)

#### Steps to Reproduce

1. Create an application `app1`
2. Set the application li

[2019-07-10 13:51] htdvisser commented on #977
The tests were actually wrong before that commit. Creating an Echo group is and should be a no-op until you actually register routes/handlers to it.

[2019-07-10 15:23] adriansmares commented on #977
I'm not really sure it is a real no-op:
https://github.com/labstack/echo/blob/master/echo.go#L531-L535
https://github.com/labstack/echo/blob/master/group.go#L21-L30
If the group contains has a default middleware, a default route to the not found handler is created when you actually create the group.

[2019-07-10 15:43] adriansmares commented on #977
And this default handler, links to our issue at hand.
https://github.com/TheThingsNetwork/lorawan-stack/blob/6d12c1e25dab0f36698bc1209bab4c86d3eb3fd8/pkg/component/grpc.go#L58
Before Echo `v4.1.3`, this `NotFoundHandler` would have been registered on the actual root group of the Echo server, but in `v4.1.3` they changed it to just be registered only inside the group (see [this](https://github.com/

[2019-07-10 15:54] johanstokking commented on #977
Looks like they shouldn't be doing this stuff in patches indeed.

[2019-07-10 16:20] kschiffer commented on #975
So after investigating this for a little, I can see the following approaches to fix this:

- Don't reject the promise at all, work with the resolved value instead
  - We would need to replace the `try/catch` blocks around dispatches (mostly in form submits)
  - We could resolve the promise with the result action of the request action, and then probe for the action's `error` prop, which we can assu

[2019-07-10 17:40] rvolosatovs commented on #631
Blocked by #976

[2019-07-10 17:41] rvolosatovs commented on #631
Blocked by #967

[2019-07-10 18:52] ecities commented on #953
I'm trying to create --multicast device (command copied from getting started example)

ttn-lw-cli end-devices create ap3 lldv3 \
  --frequency-plan-id EU_863_870 \
  --lorawan-version 1.0.2 \
  --lorawan-phy-version 1.0.2-b \
  --abp \
  --session.dev-addr 11E4304D \
  --session.keys.app-s-key.key A0CAD5A30036DBE03096EB67CA975BAA \
  --session.keys.nwk-s-key.key B7F3E161BC9D4388E6C788A0C547F255 \

[2019-07-10 21:50] johanstokking commented on #953
Please wait for `v3.1.0` or build `master` from source, see `DEVELOPMENT.md`.

[2019-07-11 08:16] johanstokking commented on #671
Blocked by https://github.com/TheThingsIndustries/lorawan-stack/issues/1664

[2019-07-11 09:24] kschiffer commented on #265
Note that google apps essentially solve this by integrating the account switcher into their apps:
![image](https://user-images.githubusercontent.com/5710611/61038037-903bba00-a3cc-11e9-80bd-080fa8e00b65.png)
It also means that clicking logout there will actually log you out from your google account altogether, which is in line with what users likely expect to happen. I think a solution like this w

[2019-07-11 11:08] adriansmares commented on #977
References https://github.com/labstack/echo/issues/1365

[2019-07-11 11:14] johanstokking commented on #265
I agree that having the OAuth client logout actually go to the OAuth server is a shortterm and effective solution.

[2019-07-11 11:56] #977 closed

[2019-07-15 08:17] johanstokking opened #996 "Hide "start event stream" event"
#### Summary

Hide "start event stream" event

cc @janjongboom

#### Why do we need this?

To not emit events that come from user actions giving the impression as something happened.

#### What is already there? What do you see now?

<img width="533" alt="Screenshot 2019-07-15 at 10 16 56" src="https://user-images.githubusercontent.com/13334001/61203083-b1145000-a6e9-11e9-989f-4d4161cbad14.png">

[2019-07-15 08:21] johanstokking opened #997 "Increase clickable area"
#### Summary

Increase clickable area

cc @janjongboom

#### Why do we need this?

Guide users

#### What is already there? What do you see now?

Small margins on primary buttons

#### What is missing? What do you want to see?

Higher margins, bigger buttons

Potentially also a color shade for other actions/buttons that are not primary, i.e. copy EUI/key buttons, navigation, breadcrumbs, etc

####

[2019-07-15 10:19] bafonins commented on #975
cant reproduce the issue

[2019-07-15 12:51] htdvisser commented on #996
If you remove the stream start/stop events, make sure to explicitly send the header from the RPC implementation, otherwise the request may time out on the client side.

[code]

[2019-07-15 13:29] #740 closed

[2019-07-15 13:54] johanstokking commented on #996
I'm good with emitting the event from the server but this is mostly about not showing it in the Console, but just an indicator that event streaming is connected (based on that event)

[2019-07-15 14:09] johanstokking opened #999 "Remove JsEndDeviceRegistry.Provision rpc"
#### Summary

Remove `JsEndDeviceRegistry.Provision` rpc

#### Why don't we need this anymore?

Superseded by `EndDeviceTemplateConverter.Convert`

[2019-07-15 14:17] htdvisser commented on #996
That would also be a bit complicated. If you have the same screen open in multiple tabs, then you'll have multiple streams and therefore multiple start/stop events. In order to determine which event marks the start/stop of the event stream of the current tab, the console would have to compare the event correlation IDs to the request ID in the response header.

[2019-07-15 14:26] johanstokking commented on #996
How about just hiding the start/stop and showing a green indicator if any event (like start) has been received? We also know when the stream stops, right?

Console A really doesn't have to show anything about event streams on Console B

[2019-07-16 09:16] #909 closed

[2019-07-16 10:53] htdvisser commented on #938
Added to CLI in #1002.

[2019-07-16 12:38] #669 closed

[2019-07-16 12:45] adriansmares opened #1005 "Custom variable support in Webhook URLs"
#### Summary

Currently the final URL of a webhook is static, it does not support custom variables such as `JoinEUI`, `DevID`, `DevEUI` and `DevAddr`. The result should be that a base URL for webhook such as `http://example.com/app1/wh1` can become `http://example.com/app1/wh1/{{.DevEUI}}` and allow the Webhook endpoint to route the uplinks better. This should also be applicable inside the message

[2019-07-16 13:59] htdvisser commented on #1005
Based on how the fields look, I suspect that you were planning on implementing this with `text/template`. If that's indeed the case, then please be aware of the fact that parsing **and** executing templates (especially if it's not just the base URL but also the path) on every uplink can potentially be quite resource intensive.
Also, make sure to use a very limited struct that the template will be

[2019-07-16 14:07] kschiffer commented on #996
We already have a (blue) indicator when the event stream was opened successfully. These are not triggered by the start event, but simply by having successfully opened the streaming endpoint. Would that be enough as indication?

Also, would this mean that we should hide events from user edits, like a user editing the name of a gateway. Currently this will trigger an event that will be shown in the

[2019-07-16 14:09] htdvisser commented on #996
Didn't we discuss that we'd add event type filters in the future? When we implement that, we can just define a default filter set for different places where we show an event component.

[2019-07-16 14:16] adriansmares commented on #1005
I think we can cache the template itself using the Webhook ID + `updated_at` in order to avoid recompiling the template every time. Also it is indeed the case that only strings should be passed to the template itself (and I'd prefer we don't use anything else outside of the identifiers).

[2019-07-16 14:45] johanstokking commented on #996
The filter makes sense. Still, the event start/stop can be filtered out anyway.

[2019-07-16 14:51] johanstokking commented on #1005
I think two options;

- Use `text/template` with a very simple struct specific for this use case. I.e., don't pass `*ttnpb.ApplicationUp` but `WebhookTemplateFields` with only the stuff that we support
- Use string replace on the known fields. Super fast, same result

[2019-07-16 16:20] htdvisser commented on #1005
If we go for the second, then we should probably not use the Go template syntax at all, because that would just confuse people (why the dot? is it padded with spaces?).

If we want to keep the validation rules the same, we could consider using placeholders like `$app_id`. That way the placeholders won't be valid in the host (because we don't want that), but they will be valid in the path (I think

[2019-07-17 07:59] kschiffer commented on #997
I disagree here. The margins/paddings we are using on buttons are not any smaller than, say, on GitHub. For users that would like bigger dimensions, there is always the option to zoom via the browser.
Also, we have primary and secondary (and even more) button and link colors, which we use consistently (e.g. secondary button colors for EUI/key copy buttons).

[2019-07-17 09:46] kschiffer commented on #975
You will get the issue for example on the gateway page, when the gateway is not connected:
[code]
The `UPDATE_GATEWAY_STATISTICS_REQUEST` will fail and make the promise middleware [`reject()` the promise](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/webui/console/store/middleware/logics/lib.js#L65-L68), leading to an unhandled promise rejection, because there is a promise retu

[2019-07-17 10:56] johanstokking commented on #1005
What do you mean with "allow one variable"?

I also think that user experience-wise, it's nicer not to use `text/template`, apart from the performance hit. I'm fine with PHP-style variable names.

[2019-07-17 10:59] johanstokking commented on #997
Imho the difference is quite big;

GitHub:

<img width="285" alt="Screenshot 2019-07-17 at 12 57 23" src="https://user-images.githubusercontent.com/13334001/61370326-713c9c80-a892-11e9-842d-1f14d4035cf5.png">

V3 Console:

<img width="147" alt="Screenshot 2019-07-17 at 12 57 13" src="https://user-images.githubusercontent.com/13334001/61370322-6eda4280-a892-11e9-9965-467b4a9e5492.png">

It's probab

[2019-07-17 11:02] adriansmares commented on #1005
The standard mentioned above would allow expressions such as `{appEUI,devEUI}`, which would not allow us to use the simple string replace. Note that I did not disallow expressions such as `{appEUI}/{devEUI}`, which have only one variable per capture.

[2019-07-17 11:23] kschiffer commented on #997
In terms of height, they're exactly the same. Only the left/right paddings are smaller which I can adjust. Font size and weight might need some adjustments towards better legibility, but they don't influence the clickable area.

[2019-07-17 12:08] furtiman commented on #887
@htdvisser can you give a hint on how can I fetch the current user ID? When I log in and it is my session, where is it stored and how to get it?

I assume it is somewhere in the `auth cache/cookie`, but I am having issues with how to fetch it in the command runtime.

I want to use that to send a `List` request if no user Id is specified, as you mentioned [here](https://github.com/TheThingsNetwork/

[2019-07-17 13:16] johanstokking commented on #1005
[How about this one?](https://godoc.org/google.golang.org/api/googleapi/internal/uritemplates)

[2019-07-17 13:46] adriansmares commented on #1005
That one is an internal package and cannot be imported outside of the main package, but [this](https://github.com/jtacoma/uritemplates) should do it.

[2019-07-17 14:15] htdvisser commented on #887
The CLI doesn't have the current user ID, and it may not even be logged in as a user at all (it can also be logged with any API key).

I proposed an alternative fix in #1010

[2019-07-18 07:09] pgalic96 commented on #971
Should it be username and email or just e-mail?

cc @kschiffer

[2019-07-18 08:02] #721 closed

[2019-07-18 08:04] johanstokking commented on #971
I think that people are better at remembering their email address than their user name, so please file an issue to be able to (only) specify their email address.

[2019-07-18 08:08] #887 closed

[2019-07-18 08:09] #868 closed

[2019-07-18 11:41] #932 closed

[2019-07-18 12:04] pgalic96 opened #1014 "Error 401 returned from backend with wrong error code"
#### Summary

When making api requests without access token and cokie, an error `401` unauthenticated is returned. However when trying to recognize the error using grpc or http codes, the error wasn't recognized. Upon inspection it was found that the grpc code returned is 2, which is unknown error.

#### Steps to Reproduce

1. Make request without access token or cookie (for example, log out in on

[2019-07-18 14:18] kschiffer commented on #928
After discussions with @wienke and @htdvisser this morning, it became apparent that we might want to try a little different approach for the overview page. Basically, we want to work more with visuals, icons, and whitespace, to generate more of a delightful, welcoming experience.

I've built a rough **wireframe** of what @wienke and I agreed on following up the discussion.
![Overview (Alternate 83

[2019-07-18 14:22] kschiffer commented on #928
As a second step, we could apply a small chart that will show the number of received packages over time (fetched via the event stream) for all the apps/gateways that the users have. This chart would be displayed in place of the first section, as soon as the user has more than one app/gateway.
This would give the user an immediate insight into the activity of his/her entities.

[2019-07-18 14:27] htdvisser commented on #928
I like it.

- Not sure about "Register a XXX", maybe "Manage XXXs"
- Perhaps the "Status" section fits better above the "Learn" section
- For the IS/GS/NS/AS/JS (we usually have them in that order) I'd also show the address (host). I think that in the future it would be nice to have a connection status (health check) in addition to the "enabled".

---

Live activity charts can be nice, but those c

[2019-07-18 14:28] johanstokking commented on #928
First impression;

- People are not registering gateways and creating applications every day; I would just put links there to the pages. Or is this only when there are no gateways and applications respectively?

- As for the documentation; that's good to have, but this should be the TTN Stack documentation and not what's on www.thethingsnetwork.org/docs. We will reorganize those docs to be more ta

[2019-07-18 14:39] kschiffer commented on #971
Isn't the OAuth react app already the "account" app you're describing here, @htdvisser?

[2019-07-18 15:16] kschiffer commented on #928
Sort of agree, but it's tricky. First time users will be more interested in docs; power users in the status section… @wienke suggested focussing more on first-time users in the overview page.

👍

Would likely break the lean layout shown in the WF. Will take another look at that.

👍

***

Yeah, forgot to explain that. The top section is meant as [Blank Slate](http://ui-patterns.com/patterns/BlankSl

[2019-07-18 15:53] bafonins commented on #905
It seems that fixing only the `ByteInput` component is not enough. The main issue is the way we process nested values in forms. Once any deeply nested value gets updated and then cleared, it leaves the entry in form state, for example in the device form:

1. Fill in the `NwkKey` field
2. See the form state:
[code]
3. Empty the field:
[code]
In this case the `root_keys` entry would fail field mask

[2019-07-18 16:32] johanstokking commented on #928
On the next release they should be. Let's not spend time on an intermediary solution as that is too short-lived.

Yeah I don't think it's safe to subscribe to all traffic events from all gateways and all applications.

---

Rest is OK!

[2019-07-19 08:00] #426 closed

[2019-07-19 08:11] johanstokking opened #1017 "Flaky AS NATS test"
#### Summary

Flaky AS NATS test

#### Steps to Reproduce

Random

#### What do you see now?

[code]

#### What do you want to see instead?

No errors

#### Environment

Travis, i386

#### How do you propose to implement this?

Probably increase timeouts. AS is already taking a lot of time though.

#### Can you do this yourself and submit a Pull Request?

Can review

[2019-07-19 08:56] bafonins commented on #774
Resolved in https://github.com/TheThingsNetwork/lorawan-stack/pull/931

[2019-07-19 08:56] #774 closed

[2019-07-19 09:36] #930 closed

[2019-07-19 09:48] bafonins opened #1018 "Show not found view on non-existing routes"
#### Summary

We should inform the user when visiting non-existing routes of application/gateway sub views.
Currently, we handle only the root routes, i.e. `/console/{route}`

#### Steps to Reproduce

1. Go to `/console/applications/{existing-id}/does-not-exist`
2. See empty page

#### What do you see now?

<img width="994" alt="Screenshot 2019-07-19 at 11 47 30" src="https://user-images.githubuse

[2019-07-19 13:04] bafonins opened #1021 "Fix persistent errors in entity sub views"
#### Summary

Errors caused by API requests for sub entities (api keys, collaborators) persist causing the error view being shown when it shouldnt be the case.

#### Steps to Reproduce

1. Create application
2. Create application collaborator
3. Navigate to `/console/application/{app-id}/collaborators/collaborator-does-not-exist`
4. See error
5. Go to the collaborators list
6. Select

#### What do

[2019-07-19 13:39] rvolosatovs opened #1023 "Error detail {en,de}coding {to,from} protobuf should not panic"
#### Summary

Error detail {en,de}coding {to,from} protobuf should not panic

#### Why do we need this?

To avoid panics

#### What is already there? What do you see now?

Encoding and decoding error details using code in `ttnpb` `panic`s on errors
https://github.com/TheThingsNetwork/lorawan-stack/blob/05467c5e23bbfc31c679b81e8cc436528882bd79/pkg/ttnpb/errors.go#L40
https://github.com/TheThingsNet

[2019-07-19 16:02] #74 closed

[2019-07-21 17:02] KrishnaIyer opened #1027 "Basic Station frontend does not use fallback FrequencyPlan ID"
#### Summary

Basic Station frontend does not use fallback FrequencyPlan ID when it's configured.

#### Steps to Reproduce

1. Set env `TTN_LW_GS_BASIC_STATION_FALLBACK_FREQUENCY_PLAN_ID=EU_863_870`.
2. Connect an unregistered gateway

#### What do you see now?

- Gateway connection dropped.

#### What do you want to see instead?

- Gateway connected using the fallback frequency.

#### Environment

[2019-07-22 08:20] johanstokking opened #1029 "Getting started dead links and heading refs"
#### Summary

Dead links in Getting Started and unnecessary heading references.

#### Steps to Reproduce

1. Run `mage docs:server`
2. Go to http://localhost:1313/gettingstarted/configuration/

#### What do you see now?

Issues:

- Dead link; "configuration documentation"
- Dead link; "networking documentation"
- Potentially other dead links

Heading references (`a name` tags)

#### What do you wa

[2019-07-22 08:23] #941 closed

[2019-07-22 08:51] #1027 closed

[2019-07-22 09:54] #722 closed

[2019-07-22 11:08] htdvisser commented on #1029
Let's make sure to always use Hugo's `relref` shortcode for internal references. Those are checked, and we'll see errors/warnings if they break.

[2019-07-22 11:39] htdvisser commented on #672
This one got fixed as a side-effect of https://github.com/TheThingsNetwork/lorawan-stack/pull/1015

[2019-07-22 11:39] #672 closed

[2019-07-22 12:34] pgalic96 opened #1030 "User can open create account page while logged in"
#### Summary

If user is logged in, they can still open the create account page and create a new account, which results in a newly created account being the one that is logged in. This is not intended I believe and leads to confusion.

#### Steps to Reproduce

1. Log into `oauth` client
2. Go to url `/oauth/register`
3. Create account

#### What do you see now?

Create account form

#### What do y

[2019-07-22 13:22] #907 closed

[2019-07-22 14:48] ama9910 opened #1033 "Adding higher max-eirp to custom band plan does not increase tx_power"
#### Summary
When creating a custom band plan and adding a higher max-eirp, network does not increase tx_power sent to gateway.

#### Steps to Reproduce

- Start stack with config option which will load band plans from a custom folder
- Create custom band plan, based on AS_920_923 and add max-eirp:27
- Register device for band plan
- Register gateway for band plan
- Monitor gateway output power wi

[2019-07-22 15:05] htdvisser commented on #1030
It is not actually forbidden to create user accounts while you're already logged in yourself. Imagine an admin account creating user accounts for other users. Not sure if that should be done through the `/oauth/register` page.

(TBH I think the existing registration page doesn't really belong under `/oauth` either)

[2019-07-22 15:11] kschiffer commented on #1030
I get that, but creating users through the `Register` view is not the right UX for this. We will need a proper section somewhere in an admin config view for this. So I would recommend preventing to display the registration view when the user is already logged in.

We need an issue to discuss solutions here. I will follow up on this.

[2019-07-22 15:34] pgalic96 commented on #1030
@htdvisser that's why I specified this from the user interface point of view, I get that this is a desired behavior but we should create some kind of a different admin UI for it in console/oauth app

[2019-07-22 17:06] johanstokking commented on #1033
Thanks for reporting, this seems like a valid issue.

The concerning code is here;

https://github.com/TheThingsNetwork/lorawan-stack/blob/d1f73432f11308970a6b4af87abe88eb6b682f29/pkg/gatewayserver/io/io.go#L288-L294

So currently, the frequency's maximum EIRP may not exceed the band's; it's can only be smaller. We should consider taking the frequency plan's maximum EIRP if it's set and if it's no

[2019-07-22 17:07] johanstokking commented on #1033
@KrishnaIyer can you take this this month?

[2019-07-22 19:12] KrishnaIyer commented on #1033
Yes will do.

[2019-07-23 08:38] johanstokking commented on #1029
Taking this one over

[2019-07-23 08:58] #967 closed

[2019-07-23 09:04] bafonins commented on #975
The problem here is that we treat all `_REQUEST` actions the same way.
Actions triggered by form submission are different from, say, getting a list of entities. In the console/oauth forms are absolutely self-contained:
1. The form keeps its `submitting` value in the react state
2. There is no reason to store errors that happen on form submission in the redux state
3. We want to `await` only on for

[2019-07-23 09:14] kschiffer opened #1035 "Fix tab display issue in safari"
#### Summary
Using safari, the tab hover line is not being displayed correctly in the console:
![image](https://user-images.githubusercontent.com/5710611/61699210-bd785880-ad3a-11e9-9b34-07f7f2a95302.png)

#### Steps to Reproduce

1. Open device overview in safari
2. See tab hover line incorrectly positioned

#### What do you see now?
Wrong positioning.

#### What do you want to see instead?
Corre

[2019-07-23 12:19] #928 closed

[2019-07-23 12:38] KrishnaIyer commented on #808
Closing this since we don't really need this.

[2019-07-23 13:20] bafonins commented on #359
The issue is with the size of the `react-ace` dependency. We plan do code split the payload formats/events pages to reduce the bundle size.

[2019-07-23 13:22] htdvisser commented on #783
No more discussion, @johanstokking is working on the structure.

[2019-07-23 13:25] kschiffer commented on #710
We should also consider defining a priority of stack components that will be requested for properties that are stored in multiple component stores. So instead of fetching all components and merging, we could just fetch one, based on the priority.

[2019-07-23 15:15] johanstokking commented on #300
Since #1043 the frequency plan's maximum EIRP is now an overriding value. This aligns better with the aim of this issue; that the frequency plans overrides PHY.

We now just need to define sub-bands in the frequency plan and prioritize those over the frequency plan's maximum EIRP.

[2019-07-23 15:53] #401 closed

[2019-07-23 15:53] #953 closed

[2019-07-23 15:53] #1029 closed

[2019-07-23 15:57] #1033 closed

[2019-07-23 16:25] kschiffer commented on #975
There is no reason to store errors that happen on form submission in the redux state
We want to await only on form submission to perform ui changes like toasts/redirects/etc

Indeed.

  UPDATE_GATEWAY_SUCCESS_FORM
  UPDATE_GATEWAY_FAILURE_FORM

What I don't like about this is that we would attach yet more implicit logic based on the action type. We might also end up having different action types f

[2019-07-23 16:27] #949 closed

[2019-07-23 16:47] furtiman commented on #267
@htdvisser I recall you wanted to format this issue in some way?

[2019-07-23 17:14] johanstokking commented on #265
So what do we decide here?

[2019-07-24 07:55] htdvisser commented on #265
I think we should do (in order)

- 1. After console logout, redirect the user to a logout page on the OAuth/Account UI, something like `/oauth/logout`, but we may want to look at how other systems such as OIDC do this (this issue)
- 2. Before the OAuth Authorize, we should add a screen that asks the user if they want to continue as <account> (#488)
- 3. On the OAuth/account UI, show where else a u

[2019-07-24 08:00] johanstokking commented on #265
OK sounds good.

[2019-07-24 08:07] kschiffer commented on #265
So this would be a simple page with a logout button?

[2019-07-24 08:13] #728 closed

[2019-07-24 08:49] htdvisser commented on #265
1. For the MVP yes, it would show who is logged in, and a logout button. Like what we have now, but then fancier.

2. Yes, for every client that is pre-authorized or previously authorized by the user, the screen is skipped. This is per spec. There would indeed be an extra screen "continue as <user>" before the authorize screen (which is still skipped for already authorized clients)

[2019-07-24 08:55] htdvisser commented on #359
Looks like we're not the only ones that dislike the size of the Ace editor. Have you considered using a smaller one like https://github.com/satya164/react-simple-code-editor instead?

[2019-07-24 09:04] htdvisser commented on #267
Updated

[2019-07-24 10:03] bafonins commented on #975
sure

[2019-07-24 10:13] #869 closed

[2019-07-24 10:13] #904 closed

[2019-07-24 10:20] #1005 closed

[2019-07-24 10:36] johanstokking opened #1049 "Check docs config diff and build pass"
#### Summary

Check docs config diff and build pass

#### Why do we need this?

- To ensure in CI that a change in `config.toml.tmpl` is reflected in `config.toml`
- To ensure that there are no broken references or other mistakes

#### What is already there? What do you see now?

This is currently only being done on release while we want to catch mistakes as soon as possible.

#### What is missing

[2019-07-24 10:54] furtiman commented on #267
@htdvisser

You meant `ttn-lw-cli user update-password`, right?

[2019-07-24 11:15] bafonins opened #1051 "Fix devices subview when routing to non-existing device"
#### Summary

The devices subviews dont handle errors properly

#### Steps to Reproduce

1. Navigate to non-existing device, see the console crashing and showing generic error view

2. Navigate to any non-existing device subviews, e.g. data/location/general-settings, see no errors and views being reachable

#### What do you see now?

1. Invalid error
2. No error

#### What do you want to see inste

[2019-07-24 11:45] adriansmares opened #1052 "Flaky GS test"
#### Summary

An GS test related to BasicStation seems to be flaky.

#### Steps to Reproduce

1. Random unfortunately, seems to occur in i386 more often than not.

#### What do you see now?

[code]

#### What do you want to see instead?

No failure consistently.

#### Environment

77556f5f46dce98768c9520e7ea566a8e22ef679

#### How do you propose to implement this?

Not sure.

#### Can you do this

[2019-07-24 12:03] htdvisser commented on #267
Yes, that's what I meant. Updated.

[2019-07-24 12:21] #1014 closed

[2019-07-24 12:45] htdvisser opened #1054 "Rewrite membership queries"
#### Summary

I want to rewrite the membership queries in the identity server to a single query that uses joins and subqueries to get a membership listing.

Slightly related to #443

#### Why do we need this?

The current solution with multiple queries is slow and doesn't allow for proper pagination.

#### What is already there? What do you see now?

On a "list applications" without collaborator (

[2019-07-25 07:08] adriansmares opened #1055 "Console version of the Getting Started guide"
#### Summary

We need a Console version of the Getting Started guide.

#### Why do we need this?

Since the Console can now be used for most of the Getting Started guide, it would be helpful to introduce it as a configuration medium in addition to the CLI.

#### What is already there? What do you see now?

There are no real mentions of the Console, but the Getting Started guide for the CLI has bee

[2019-07-25 07:10] htdvisser commented on #1055
Let's do this ASAP and get it in for the next release

[2019-07-26 09:00] #267 closed

[2019-07-26 12:04] bafonins opened #1061 "Reuse fetching/error display logic"
#### Summary

We recently introduced the `withRequest` hoc (see https://github.com/TheThingsNetwork/lorawan-stack/pull/1031) that encapsulates the common logic for handling requests and fetching/error state.

#### Why do we need this?

We should adapt other views that share the same logic to be consistent accross the codebase

#### What is already there? What do you see now?

The `withRequest` hoc

[2019-07-26 13:22] #1035 closed

[2019-07-26 13:43] #1051 closed

[2019-07-26 13:43] #1021 closed

[2019-07-26 14:41] #1055 closed

[2019-07-28 17:38] rvolosatovs commented on #944
Let's merge https://github.com/TheThingsNetwork/lorawan-stack/pull/952 first to avoid merge conflicts

[2019-07-29 12:40] pgalic96 opened #1067 "Make password rules configurable"
#### Summary

We should have a config file that would define the password rules so that they are not hardcoded in the front-end.

#### Why do we need this?

Currently password rules are defined in oauth front-end as `const`. If we change them such that they are config, we can change and extend them independently of the codebase.

#### What is already there? What do you see now?

Password rules are

[2019-07-29 14:38] #1061 closed

[2019-07-29 14:39] #940 closed

[2019-07-30 05:23] #840 closed

[2019-07-30 05:23] #631 closed

[2019-07-30 05:23] #944 closed

[2019-07-30 07:07] KrishnaIyer opened #1069 "Update sigLen parameter in the CUPS HTTP response to 4 bytes"
#### Summary

Update sigLen parameter in the CUPS HTTP response to 4 bytes.

#### Why do we need this?

This parameter has been updated in the [specification](https://doc.sm.tc/station/cupsproto.html#http-post-response).

#### What is already there? What do you see now?

sigLen is set to 2 bytes.

#### What is missing? What do you want to see?

sigLen should be 4 bytes.

#### Environment

`ttn-lw-

[2019-07-30 12:34] htdvisser opened #1070 "Fallback for clients that don't use TLS SNI"
#### Summary

The stack should have a fallback for clients that don't use TLS SNI.

#### Why do we need this?

The Things Gateway, Basic Station gateways and some MQTT integrations can currently not connect to the Stack when it uses autocert (Let's Encrypt).

#### What is already there? What do you see now?

Our autocert TLS config relies on TLS SNI to choose the right TLS certificate to serve. Ho

[2019-07-30 15:18] adriansmares opened #1072 "Wrong field mask for headers"
#### Summary

The field mask used for requests that provide `headers` is broken, in a sense that it attempts to specify the keys of the field as part of the field mask, even though they are not supposed to be specified. I think this would also apply to `attributes` (device, application etc.).

#### Steps to Reproduce

1. Create a Webhook creation request. I've used the following object:
[code]
2.

[2019-07-30 15:20] adriansmares commented on #1072
Blocks #938

[2019-07-30 15:20] adriansmares commented on #938
Blocked by #1072

[2019-07-30 16:26] #727 closed

[2019-07-31 06:26] #1070 closed

[2019-07-31 11:54] kschiffer commented on #1072
I think hardcoding to skip these is not the way to go. What we need is a way to get the information of valid field masks from the backend and use it as a way to tell how to assemble field masks.

In case of the end device service, we already do this. We use the [`device-field-masks.json`](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/sdk/js/generated/device-field-masks.json), from

[2019-07-31 14:34] KrishnaIyer opened #1076 "Use Basic Station EUIs as main identifiers instead of IDs."
#### Summary

Use Basic Station EUIs as main identifiers instead of IDs.

#### Why do we need this?

Basic Station gateways are identified based on EUIs and not IDs and hence need to be handled similar to UDP.

Ref: [tti-issue](https://github.com/TheThingsIndustries/lorawan-stack/pull/1683)

#### What is already there? What do you see now?

The ID request URI is used as GatewayID for processing.

[2019-07-31 15:33] kschiffer commented on #683
Resolved via #1057

[2019-08-01 07:40] htdvisser commented on #1072
We generate the API into JSON for a reason:

[code]

[2019-08-01 08:10] kschiffer commented on #1072
Ha! It never occurred to me that this info was implicitly sitting in the `api.json` as well. Way to go then.

[2019-08-01 10:31] bafonins opened #1083 "Fallback to generic error notification on unknown form error"
#### Summary

Forms show empty error notification on unknown errors

#### Steps to Reproduce

1. Modify any `onSubmit` method and throw `new Error('something went wrong')` from there
2. See the error notification without any error description

#### What do you see now?

<img width="504" alt="Screenshot 2019-08-01 at 13 22 57" src="https://user-images.githubusercontent.com/16374166/62286025-85ba908

[2019-08-01 11:25] bafonins opened #1085 "Keep form dirty state consistent via initial values"
#### Summary

We do not have consistent way to define `initialValues` for the forms across the apps, for example [ApplicationAdd](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/webui/console/views/application-add/index.js#L46-L50), [ApplicationGeneralSettings](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/webui/console/views/application-general-settings/index

[2019-08-01 11:30] bafonins opened #1086 "Add prop-types to all react components"
#### Summary

A lot of react component in our codebase dont have prop-types.

#### Why do we need this?

Make sure that our components receive correct props, otherwise see errors in the dev tools console.
This will also help us to move to a stricter `eslint` config in the future.

#### What is already there? What do you see now?

A lot of component without full list of prop-types defined.

#### Wh

[2019-08-01 12:46] #975 closed

[2019-08-01 14:06] KrishnaIyer opened #1090 "Fix Parsing of Reserved DataRate Indexes"
#### Summary

Fix Parsing of Reserved DataRate Indexes.

#### Steps to Reproduce

1. Connect a US Basic station Gateway to the stack
2. Check Gateway Logs.

#### What do you see now?

Data Rate indexes that are reserved are over written with the next values in the slice.

[code]

#### What do you want to see instead?

Reserved fields are left as default value (`FSK` for Basic Station).

[code]

##

[2019-08-01 14:12] #1076 closed

[2019-08-01 14:23] KrishnaIyer commented on #808
As discussed in the previous status meeting, I'm implementing a simple un-marshaler to support Basic Station tests.
If we need to optimize it,

[2019-08-01 14:55] #1090 closed

[2019-08-01 16:05] #1083 closed

[2019-08-02 08:50] kschiffer commented on #1086
Additionally, we need to decide on a way to add these prop-types. We currently mix
[code]

a lot. Static prop-types can have the advantage that they take props passed by HOCs into account. On the other hand, static prop-types only work for class components.
Another thing I noticed is that jsdoc comments of static prop-types will not be displayed in storybook, yet that might be fixable (though I wa

[2019-08-02 10:26] #1072 closed

[2019-08-02 14:23] bafonins opened #1094 "Generate allowed field mask paths on webui build"
#### Summary

`allowed-field-mask-paths.json` should be generated on `js:build` or `jsSDK:build` targets. Or `mage jsSDK:allowedFieldMaskPaths jsSdk:definitions` should be added to the docume tation.

#### Why do we need this?

The js sdk/webui build should take care of all build deps

#### What is already there? What do you see now?

`js:build` `jsSDK:build` targets

#### What is missing? What do

[2019-08-02 15:17] adriansmares commented on #1094
https://github.com/TheThingsNetwork/lorawan-stack/blob/589b8193c321dd36ca9332b5206326b496540753/.mage/js_sdk.go#L143
https://github.com/TheThingsNetwork/lorawan-stack/blob/589b8193c321dd36ca9332b5206326b496540753/.mage/js_sdk.go#L63
Since allowed field mask paths is part of definitions, and definitions is part of build, isn't build already doing this ?

[2019-08-02 15:25] kschiffer opened #1095 "Introduce input component with toggle to hide the value"
#### Summary
We need an input component that can securely hold sensitive information by being able to hide its value. It should be possible to toggle this hiding feature on and off.

#### Why do we need this?
`password` type inputs have problems that can result in the browser trying to auto-fill the login password into them even when it is not desired (See: #1093). Also semantically, it is not cor

[2019-08-02 17:05] bafonins commented on #1094
@adriansmares try on fresh repo

`make init`
`mage js:deps js:build`

[2019-08-05 08:03] #1030 closed

[2019-08-05 09:03] kschiffer commented on #1085
Instead of adding this logic to the form field, couldn't this be solved by casting the initial values over the validation schema?
[code]
Now the empty string will be rightfully seen as initial value and prevent the submit.

I definitely second the idea of having a `generateInitialValuesFromEntity` function, but we need to make sure that it accounts for arbitrary entity → form value mappings, as we

[2019-08-05 10:01] kschiffer opened #1102 "Add cache headers to (configuration) RPCs"
#### Summary
Our configuration endpoints should contain cache information, so that the console can cache these values and avoid redundantly re-requesting. This is currently e.g. the case for frequency plans, which will be refetched on every page load (of views that requre them).

#### Why do we need this?
Avoiding unnecessary api calls and increasing the perfomance of the console.

#### What is al

[2019-08-05 11:41] KrishnaIyer opened #1103 "Stack env prints unnecessary characters for map type."
#### Summary

`ttn-lw-stack config --env ` prints unwanted  characters for map type.

#### Steps to Reproduce

1. Run ttn-lw-stack config --env
2. Check any env of type map. Ex: `TTN_LW_GS_FORWARD`

#### What do you see now?

`TTN_LW_GS_FORWARD="map[:[00000000/0]]"

#### What do you want to see instead?

`TTN_LW_GS_FORWARD=""=00000000/0`

#### Environment

`TTN_LW_GS_FORWARD==00000000/0` for the d

[2019-08-05 13:09] bafonins commented on #820
taking over this one, since working on improving the device form - https://github.com/TheThingsNetwork/lorawan-stack/issues/579

[2019-08-05 13:10] #938 closed

[2019-08-05 13:22] johanstokking commented on #327
@rvolosatovs don't we have this already?

[2019-08-05 13:28] kschiffer commented on #328
Superseded by https://github.com/TheThingsNetwork/lorawan-stack/issues/820

[2019-08-05 13:28] #328 closed

[2019-08-05 13:32] kschiffer commented on #629
I think we can consider this done now since the console has been "released" with 3.1.0. Remaining issues are taken care of.

[2019-08-05 13:32] #629 closed

[2019-08-05 13:42] rvolosatovs commented on #327
Done in https://github.com/TheThingsNetwork/lorawan-stack/pull/803

[2019-08-05 13:42] #327 closed

[2019-08-05 15:11] htdvisser commented on #1103
This isn't technical debt, it's broken.

[2019-08-05 15:50] #1094 closed

[2019-08-06 08:01] rvolosatovs opened #1109 "Schedule MAC answers as Class A downlink"
#### Summary

All MAC commands have to be answered in Class A downlinks, even for devices in class B/C modes.

#### Why do we need this?

To properly support class B/C devices

#### What is already there? What do you see now?

Scheduling Rx2 for class C "whenever", even if Class A MAC answers are present

#### What is missing? What do you want to see?

Schedule Rx2 as Class A downlink if class A M

[2019-08-06 08:10] rvolosatovs opened #1110 "NS may schedule more MAC commands than can be answered"
#### Summary

1.1 spec states that NS may only schedule as much MAC requests, as can be answered in one frame by the device, however that is dropped in 1.1.1 and is not the case in 1.0.4

#### Why do we need this?

To be more efficient

#### What is already there? What do you see now?

Only scheduling as many MAC requests as can be answered

#### What is missing? What do you want to see?

Schedule

[2019-08-06 08:22] rvolosatovs opened #1111 "Retransmissions for Class B/C"
#### Summary

Class B/C devices may retransmit unconfirmed uplinks after Class B/C downlink is received

#### Steps to Reproduce

Look at the source

#### What do you see now?

NS assumes that class B/C downlink is lost if e.g. it's carrying MAC requests and uplink is received not containing MAC answers to scheduled requests

#### What do you want to see instead?

NS should account for retransmiss

[2019-08-07 08:48] johanstokking commented on #1067
Please use the IS configured rules; https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/identityserver/identityserver.go#L54-L60

[2019-08-07 08:49] johanstokking commented on #1067
@pgalic96 _always_ set a milestone

[2019-08-07 08:49] johanstokking commented on #1067
cc @bafonins

[2019-08-07 09:16] johanstokking opened #1115 "Rebrand TTN Stack to The Things Stack"
#### Summary

Rebrand TTN Stack to The Things Stack

#### Why do we need this?

- TTN is dedicated to the network of people, businesses, institutes and gateways
- More standalone name; independent of TTN or TTI
- Great alignment with "The Things *" naming

#### What is already there? What do you see now?

TTN Stack (for LoRaWAN)

#### What is missing? What do you want to see?

The Things Stack (fo

[2019-08-07 09:20] johanstokking commented on #1069
Why backlog?

[2019-08-07 09:46] KrishnaIyer commented on #1069
We don't support firmware updates yet.

[2019-08-07 09:54] htdvisser commented on #1069
It's an easy, non-important fix, so anyone can pick this up when they're bored and looking for something to do.

[2019-08-07 10:02] furtiman opened #1117 "Change default value for "revoke-all-access" flag on password change to "true""
#### Summary

References #1058

#### Why do we need this?

Currently `--revoke-all-access` flag while changing user password is `false` by default.

From the returned discussion in #1058 , it makes more sense to revoke all access tokens by default upon changing user password.

Also, the flag definition is currently written in snake case, while majority of other flags are defined with dashes. Would

[2019-08-07 10:27] johanstokking commented on #1117
Good issue, but for next time a quickfix PR is enough referring the discussion to save time

[2019-08-07 10:47] johanstokking commented on #1115
Looping in @laurensslats for providing the new logo and @kschiffer for integrating it (probably some assets like favicon, OG image, etc)

[2019-08-07 11:51] adamsondelacruz opened #1120 "Reusing EUIs of Deleted Gateways"
#### Summary
When you delete a gateway and then add a new one with the same EUI, if fails because it complains that the gateway already exists.

#### Steps to Reproduce
1.  Remove an existing gateway
2. Add it using the CLI or
3. Add it using the API

#### What do you see now?

[code]

#### What do you want to see instead?

Successfullly create the new gateway

#### Environment
amazon linux using

[2019-08-07 11:58] adamsondelacruz opened #1121 "Restoring Deleted Applications"
#### Summary
When you delete an application and decides to add it back, if fails because it complains that the ID already exists.

#### Steps to Reproduce

1. Remove existing application
2. Add it back using CLI or
3. Add it back using API

#### What do you see now?
[code]

#### What do you want to see instead?

Successfullly add back the application

#### Environment

amazon linux using TTN CLI a

[2019-08-07 12:00] kschiffer commented on #683
We still generate values in the SDK for devices created in ABP mode:
https://github.com/TheThingsNetwork/lorawan-stack/blob/master/sdk/js/src/service/devices/index.js#L258-L278

[2019-08-07 12:48] htdvisser commented on #1121
Related to https://github.com/TheThingsNetwork/lorawan-stack/issues/1120

[2019-08-07 12:48] htdvisser commented on #1120
Related to https://github.com/TheThingsNetwork/lorawan-stack/issues/1121

[2019-08-07 12:55] htdvisser commented on #1121
We'd also need to check if

1. the caller is a user or organization (not an application API key)
2. the caller was previously a member of the entity
3. the caller had sufficient rights on the entity (perhaps make RIGHT_APPLICATION_DELETE also restore)

When restoring the application, we should also consider that the deleted application may have had other members and API keys associated to it. The

[2019-08-07 12:58] htdvisser commented on #1120
I updated this issue a bit to have a slightly different scope than #1121, which we can make more about restoring deleted entities in general (instead of only applications).

In the current issue, let's focus more on adding new gateways with the same EUI as a deleted gateway.

[2019-08-07 13:03] htdvisser commented on #1121
Turns out we already have another issue for this: https://github.com/TheThingsNetwork/lorawan-stack/issues/604

[2019-08-07 13:03] htdvisser commented on #1120
Related to https://github.com/TheThingsNetwork/lorawan-stack/issues/604 (releasing IDs/EUIs)

[2019-08-07 13:04] #1117 closed

[2019-08-07 13:40] #1103 closed

[2019-08-07 13:56] w4tsn opened #1125 ""Cannot show events" in the Console for user admin"
#### Summary
When working with the Console to take a look into an Applications Event Stream (as admin) it first shows something for a few seconds and then enters "Cannot show events" error message, which then keeps on displaying even after browser refresh. The event stream does work in the CLI though.

#### Steps to Reproduce

1. Setup ttn-stack as of cli guide (with working device)
2. Setup the c

[2019-08-07 15:26] bafonins commented on #1125
Could check the console in the development tools of your browser for any errors/warnings?

[2019-08-08 07:12] w4tsn commented on #1125
I checked the "Data" view with open dev tools, but there are no errors or warnings. I noticed though, since the device was offline first, I opened the view and only after 3 minutes I activated the device, that the view showed me "Event stream started" for about 3 minutes and as soon as data was coming in to the app the view disappears and shows the error "Cannot show events".

![image](https://use

[2019-08-08 08:02] bafonins opened #1128 "Fix infinite loading after deleting entity"
#### Summary

Console freezes and show the loading screen after deleting an entity.
<img width="839" alt="Screenshot 2019-08-08 at 10 00 12" src="https://user-images.githubusercontent.com/16374166/62685653-5b1e8980-b9c3-11e9-933f-77084706e6e6.png">

#### Steps to Reproduce

1. Create a new gateway
2. Go the the general settings and delete it

#### What do you see now?

The user sees the loading sc

[2019-08-08 10:42] #1128 closed

[2019-08-08 12:23] rvolosatovs commented on #833
@johanstokking can you clarify

What does it entail exactly?
Is #1004 enough to close this issue?

[2019-08-08 12:38] johanstokking commented on #833
I think they have a mechanism to provision devices on a NS/AS with some profile.

Let close this issue in #1004

Please do check the spec and file an issue for it in Backlog if this makes any sense

[2019-08-08 12:55] johanstokking opened #1131 "Support specific JS-NS and JS-AS KEK labels and AS-ID"
#### Summary

Support specific JS-NS and JS-AS KEK labels and AS-ID

#### Why do we need this?

As we cannot (always) derive this from `application_server_address`

#### What is already there? What do you see now?

- KEK labels are now `{ns|as}:<{network|application}_server_address>`
- AS-ID is the host of `application_server_address`

#### What is missing? What do you want to see?

- Add `{networ

[2019-08-08 13:04] bafonins commented on #1131
what should be done to the console ui?

[2019-08-08 13:18] johanstokking commented on #1131
There will be three new fields in `EndDevice`:

- `application_server_kek_label`
- `application_server_id`
- `network_server_kek_label`

These need to be edited with the JS component, also in the Console.

[2019-08-08 14:27] bafonins commented on #1131
Could you file a new issue for this?

[2019-08-08 14:37] johanstokking opened #1134 "Make NS/AS KEK labels, AS-ID, NetID and claim authentication code editable"
#### Summary

Make NS/AS KEKs, AS-ID, home NetID and claim authentication code editable in the Console

#### Why do we need this?

User experience

#### What is already there? What do you see now?

No input fields

#### What is missing? What do you want to see?

Input fields in JS section for, AS address + ID + KEK label and NS address + KEK label, home NetID and claim authentication code.

This i

[2019-08-08 14:56] johanstokking commented on #881
This is not entirely addressed by #994;

Link, Payload Formatters (app and device level) and Integrations are AS-specific.

[2019-08-08 15:30] #1054 closed

[2019-08-09 14:23] bafonins commented on #905
fixed

[2019-08-09 14:23] #905 closed

[2019-08-09 15:20] #1131 closed

[2019-08-09 18:01] #4 closed

[2019-08-09 18:01] #833 closed

[2019-08-10 12:13] htdvisser opened #1137 "Publish dev releases from master"
#### Summary

We should make our CI builds publish our `master` branch.

#### Why do we need this?

I think it would be a good first step towards continuous deployment to dev/alpha/beta environments.

#### What is already there? What do you see now?

Travis already runs goreleaser to create snapshot builds, they just aren't published.

#### What is missing? What do you want to see?

I think we sho

[2019-08-11 13:27] bafonins commented on #359
Indeed, we can try using `react-simple-code-editor`.

[2019-08-12 08:50] johanstokking opened #1140 "Document connecting popular gateways"
#### Summary

Document connecting popular gateways

#### Why do we need this?

For people to know how to connect their gateway using official documentation, on a per-gateway model basis

#### What is already there? What do you see now?

No documentation

#### What is missing? What do you want to see?

Documentation for phase 1 (UDP-based gateways):

- [x] Cisco IXM
- [x] Lorix One
- [ ] RAK7240
-

[2019-08-12 08:57] bafonins opened #1141 "Format pkg/webui code"
#### Summary

We have to setup a code formatter for the `webui` package.

#### Why do we need this?

1. Consistent code formatting
2. Resolving basic formatting issues automatically. I often find myself pointing out simple formatting issues when doing reviews, e.g. new line at the end of the file, redundant new lines in between of code blocks, etc.

#### What is already there? What do you see now?

[2019-08-12 16:10] kschiffer commented on #1125
Thank you very much for reporting this issue @w4tsn.
This is caused by the JS SDK not accounting for the possibility of multiple event JSON objects arriving per stream chunk. Luckily this is easily fixed. I will follow up with a PR.

[2019-08-12 20:52] furtiman opened #1146 "Application view "link" page non-deterministic behaviour in console"
#### Summary

If the application is linked to a network server using a created API key, the status of this linkage and user access rights for the application are displayed differently if the page if refreshed several times

#### Steps to Reproduce

If you are a member of `thethingsindustries` organisation at `demo.thethings.industries`, you can:
1. Log in to the console and go to `applications` ->

[2019-08-12 21:01] furtiman commented on #1146
I think I see one potential point of conflict:

I am both the creator of the app, and a member of `thethingsindustries`, and for this app these two entities have different access rights:

Me:
<img width="686" alt="Screenshot 2019-08-12 at 22 54 43" src="https://user-images.githubusercontent.com/37446624/62897816-40963880-bd54-11e9-8ff9-151eca2c5f3c.png">

`thethingsindustries`:
<img width="672" al

[2019-08-13 07:59] kschiffer commented on #1146
I was able to reproduce and it indeed seems like the backend has trouble with rights intersection. When I added the organization to my app (without linking rights), it was not possible to link the application anymore, although my user possessed sufficient rights for that.

The responses from the link endpoint alternate between
[code]
and
[code]
with the problem persisting even after the organizati

[2019-08-13 08:00] johanstokking commented on #1146
@furtiman please always assign someone and a milestone, otherwise it gets lost

[2019-08-13 08:04] furtiman commented on #1146
Ok, I was not sure who to assign, will be more precise next time

[2019-08-13 08:14] johanstokking opened #1147 "Unable to update password as admin"
#### Summary

Unable to update password as admin through CLI

#### Steps to Reproduce

1. `$ ttn-lw-cli user update <user> --password <secret>`
2. `$ ttn-lw-cli user update <user> --temporary-password <secret>`

#### What do you see now?

Forbidden path errors, like:

[code]

#### What do you want to see instead?

Successful password update

#### Environment

`v3.1.0`

#### How do you propose to i

[2019-08-13 09:13] #1125 closed

[2019-08-13 09:22] adriansmares opened #1148 "Support multiple resulting messages from one format"
#### Summary

One `ttnpb.ApplicationUp` should be able to result into multiple front-end messages, instead of just one.

#### Why do we need this?

Currently, one `ttnpb.ApplicationUp` is marshalled into only one byte slice that results into one front-end message (one HTTP call, one MQTT message etc.). However, if the payload of the uplink contains multiple measurements (think of multiple sensors

[2019-08-13 13:35] blackenstock opened #1149 "log of mac commands"
#### Summary
When investigating on ADR and timesync (on different platform) it is needed to have the mac commands logged of a node. And also have them forwarded in SWAGGER and the HTTP Integration and MQTT(make sense?)

I’ve looked into Swager integration, http integration with paste bin, mqtt but none seem to provide this information. How can I most easily find mac command history

Regards

Micha

[2019-08-13 13:42] johanstokking commented on #1149
Thanks @blackenstock for reporting. I think this is very useful indeed. We won't make this available on the application layer, i.e. MQTT, webhooks and AS gRPC, since this is very much network layer.

@rvolosatovs can we make this as events available, including the payload, for both directions?

[2019-08-13 15:09] kschiffer opened #1153 "Improve dev build workflow for webui and JS SDK"
#### Summary
Developing for the console while being dependent on changes in the JS SDK is currently not optimal. Every change in the SDK has to be put into effect via `mage jsSdk:build js:clean; yarn; mage js:serve`, which is not documented and takes a lot of time.

#### Why do we need this?
More seemless development for SDK and console; save time

#### What is already there? What do you see now?

[2019-08-13 15:11] kschiffer commented on #32
I think we should look into resolving this in the near future.

[2019-08-13 15:22] kschiffer opened #1154 "Remove hardcoded references to configurable data"
#### Summary
In our webuis, we need to remove any hardcoded references to values that are configurable.
There are still a couple of hardcoded application names `The Things Stack for LoRaWAN` in the webui codebase.

#### Why do we need this?
These values are configurable by the stack and should hence be referenced directly via the passed environment data.

#### What is already there? What do you se

[2019-08-13 15:32] kschiffer opened #1155 "Add "connected" indicator to gateway list"
#### Summary
The gateway entity list in the console should fetch the stats information of each gateway and display the connection status, using our status indicator component.

See also https://github.com/TheThingsNetwork/lorawan-stack/issues/875

#### Why do we need this?
Enabling a quicker overview over connection statuses of gateways, right from the gateways page.

#### What is already there? W

[2019-08-13 15:52] kschiffer opened #1157 "Add a hover menu to the sidebar navigation, when collapsed"
#### Summary

The sidebar menu is not sufficiently accessible when collapsed; subitems cannot be accessed while the menu is collapsed. It should provide a hover/overlay menu, showing the available sub-entries on hover (and via keyboard focus) when collapsed.

#### Why do we need this?

To enable better usage and improve accessibility and responsiveness in small screen sizes.

#### What is already

[2019-08-13 15:57] adriansmares commented on #945
As mentioned before, the Application Server part of the implementation has been finished in #1011.

The templates are served by the `ApplicationWebhookRegistry` service and follow the structure of the `ApplicationWebhookTemplate` proto. The main takeaways from the templates are the following:
- They represent standalone integrations such as TTN-Mapper, Collos etc.
- They provide the `base_url`, `h

[2019-08-13 16:08] adriansmares opened #1158 "SensorThings Webhook format"
#### Summary

We should add support for the [SensorThings Observation](http://docs.opengeospatial.org/is/15-078r6/15-078r6.html#31) format for the webhooks.

#### Why do we need this?

In order to support the [SensorThings Sensing API](http://docs.opengeospatial.org/is/15-078r6/15-078r6.html).

#### What is already there? What do you see now?

Only the JSON and Protobuf webhook formats.

#### What

[2019-08-14 06:19] sigmaroot opened #1159 "RX2 fallback leads to endless downlinks"
#### Summary
If a MAC command sent in RX2/**SF9** was not answered by an end node, the NS is using RX2/**SF12** as a fallback. In case that the end node IS listening on RX2/**SF9** and just missed the MAC command (due to temporarely unavailability or bad reachability) it will never receive the fallback MACs on RX2/**SF12**. In that case, again no answer is sent by the end node and the NS starts re

[2019-08-14 07:25] #1141 closed

[2019-08-14 07:41] w4tsn opened #1160 "Deleting a user over CLI does not remove the database entries"
#### Summary
When calling `ttn-lw-cli users delete someadmin` the user gets deleted as of the cli commands respons, login over Console and CLI is not possible anymore and `users get` does yield in `user othermo not found`. However when trying to re-create said user the cli responds with either `entity already exists` with mail address as cause or  when using another mail it complains that the uid

[2019-08-14 08:04] johanstokking commented on #1115
Blocking https://github.com/TheThingsIndustries/lorawan-stack/issues/1688

[2019-08-14 08:23] w4tsn opened #1162 "New (admin) user has no permissions in Console"
#### Summary
When creating an admin user in the CLI it may happen that this user has not sufficient rights in the Console to create or edit Gateways and Applications. In another case a new normal user has also no permissions in the console to do anything. It might be a bug or just missing documentation on how to create users properly.

#### Steps to Reproduce
I'm not completely sure. It's two case

[2019-08-14 08:25] johanstokking commented on #1162
@w4tsn what's your configuration? Are you requiring admin approval for new users?

Can you show the output of `$ ttn-lw-cli user get myuser --state`?

[2019-08-14 08:29] #859 closed

[2019-08-14 08:42] w4tsn commented on #1162
**Case 1:**

[code]

**Case 2:**

[code]

I'll update env section with my case 1 configuration. In case 2 I did also not excplicitly set admin approval.

[2019-08-14 09:10] adriansmares commented on #1162
I can confirm that the issue can be reproduced on 3.1.0.
A possible fix is using the following manual activation command: `ttn-lw-cli users set norman --state=STATE_APPROVED`. I'll look into why this happens soon.

[2019-08-14 09:22] adriansmares commented on #1162
Also found the cause:
https://github.com/TheThingsNetwork/lorawan-stack/blob/55381c15f6902508ea34cd40441ad2bd3146ac37/pkg/identityserver/user_registry.go#L149-L156
Users created by an admin do not respect the admin approval setting and always have state default (`STATE_REQUESTED`).

[2019-08-14 09:24] kschiffer opened #1166 "Fix form submit value patch generation"
#### Summary
The generation of update patches is currently not working as expected. This causes errors e.g. in the device general settings form in some situations.

#### Steps to Reproduce
1. Create a device
2. Go to the general settings panel
3. Update the name of the device and submit
4. See the 'successful' message
5. Update the name of the device again and submit
6. See an error

#### What do

[2019-08-14 10:36] htdvisser commented on #1162
If a user is created by an admin, the `state` (and `admin`) fields are taken literally from the request. This works as intended, since we don't know if the admin explicitly set the `state` to `REQUESTED` or just left it out.

If the user is not created by an admin, we assume that their goal is to get approved, and automatically do that if nothing (admin approval requirement) prevents that. They ca

[2019-08-14 11:38] #971 closed

[2019-08-14 12:26] kschiffer opened #1172 "Webui responsiveness"
#### Summary
The web interfaces of the stack should be fully responsive. Currently, a lot of page layouts break in smaller screen sizes.

#### Why do we need this?
To enable usage of the stack's web interfaces on mobile devices. Responsiveness is a basic necessity of modern web applications.

#### What is already there? What do you see now?
Some groundwork in the code to account for responsiveness

[2019-08-14 12:36] htdvisser opened #1173 "Add more context to events"
#### Summary

We could add some more context to our events.

#### Why do we need this?

Just because we have it, it may also help users when debugging.

#### What is already there? What do you see now?

We have support for adding "contextual" information to events, but aren't using it.

#### What is missing? What do you want to see?

- IP address of the RPC caller
- User agent of the RPC caller
-

[2019-08-14 14:16] htdvisser commented on #1160
This is currently working as intended. Deletes are "soft", so entities are just marked as deleted, and they will stay in the database as such until we have either GC or recovery of deleted entities: #604.

Also related to #1120 (for email address) and #1121.

[2019-08-14 14:16] #1160 closed

[2019-08-14 14:18] htdvisser commented on #1159
This is an issue for https://github.com/TheThingsNetwork/ttn, not https://github.com/TheThingsNetwork/lorawan-stack. I'll transfer it.

[2019-08-14 15:49] bafonins opened #1175 "Remove @bind decorator from class components"
#### Summary

We should remove `@bind` decorators from class components

#### Why do we need this?

https://github.com/andreypopp/autobind-decorator#discouraged-approaches

#### What is already there? What do you see now?

A lot of class components annotated with `@bind`

#### What is missing? What do you want to see?

Only certain methods that need access to `this` being decorated

#### Environme

[2019-08-14 16:25] kschiffer commented on #1175
Mildly related:
https://github.com/TheThingsNetwork/lorawan-stack/blob/master/config/eslintrc.yaml#L24-L26

Decorating just before export statements is also discouraged since babel 7. We should take that into account as well if we do a refactor.

[2019-08-15 08:08] bafonins commented on #790
Description updated

[2019-08-15 08:58] kschiffer opened #1180 "Add config folder to js lint and fmt targets"
#### Summary
We should add the `config` folder to our mage `js:fmt` and `js:lint` targets.

#### Why do we need this?
To avoid unnecessary inconsistencies in coding styles inside these files (only relevant for `*.js` files). Also to simplify IDE setups.

#### What is already there? What do you see now?
Linting and formatting (via `JsPretter`) of `pkg/webui/**/*.js`

#### What is missing? What do y

[2019-08-15 12:43] #1137 closed

[2019-08-15 13:04] kschiffer opened #1184 "Outsource oauth client logic to web package"
#### Summary
We should outsource common (web based) oauth client logic to the web utility to avoid code repetition. With https://github.com/TheThingsIndustries/lorawan-stack/issues/1679 and https://github.com/TheThingsIndustries/lorawan-stack/issues/1673, we will implement another oauth client. Without moving the common oauth logic to a dedicated utility package, we would need to write redundant c

[2019-08-15 13:40] htdvisser commented on #1146
Just checked this with @furtiman on the latest `master` and the problem isn't there anymore, likely because of the membership refactor #1054 / #1107.

Since @kschiffer also indicated that he ran this on 3.1.0, I'm going to close this issue.

[2019-08-15 13:40] #1146 closed

[2019-08-15 14:14] htdvisser opened #1185 "Expose exact version of frontends/backends"
#### Summary

I'd like to have a way to expose version information to clients.

#### Why do we need this?

It would save time when investigating problems. For example: for #1146 I spent the entire morning trying to reproduce the problem, only to find out that it was not present in `master` anymore.

Since we plan to deploy a global Identity Server and multiple clusters, the Consoles and CLIs may b

[2019-08-15 15:03] bafonins opened #1187 "Console shows incorrect relative time for units greater than hour"
#### Summary

After updating `react-intl` to `3.1` (https://github.com/TheThingsNetwork/lorawan-stack/pull/1139) the `DateTime.Relative` component does not correctly display relative time.

#### Steps to Reproduce

1. Observe a device in the devices table that was created more than a day ago.

#### What do you see now?

<img width="826" alt="Screenshot 2019-08-15 at 17 00 15" src="https://user-ima

[2019-08-16 10:11] htdvisser opened #1191 "User RequirePasswordUpdate field not enforced"
#### Summary

The `RequirePasswordUpdate` field of `User`s is not enforced.

#### What do you see now?

There is a field in the `User`, but nothing is done with it.

#### What do you want to see instead?

Not sure how exactly we should enforce it and what is a nice user experience.

cc: @johanstokking @bafonins @kschiffer

#### Can you do this yourself and submit a Pull Request?

Let's discuss fir

[2019-08-16 11:43] #1180 closed

[2019-08-16 12:53] #1187 closed

[2019-08-16 15:11] kschiffer opened #1195 "Remove unnecessary breadcrumbs display"
#### Summary
We currently display breadcrumbs in places where they are not really helpful.

#### Why do we need this?
- Our current implementation forces us to display breadcrumbs in all authenticated views in the console. This should be solved more flexible.
- Breadcrumbs in the `Overview`, `Applications` and `Gateways` top-level views are unnecessary visual noise.

#### What is already there? Wh

[2019-08-19 08:12] blackenstock commented on #1149
michael.aebli@gwf.ch, lukas.kempf@gwf.ch

On Tue, Aug 13, 2019 at 3:42 PM Johan Stokking <notifications@github.com>
wrote:

[2019-08-19 08:23] #1153 closed

[2019-08-19 08:26] #1195 closed

[2019-08-19 08:45] rvolosatovs commented on #1149
Network Server publishes events whenever it receives a MAC command request/response and whenever it schedules a MAC request/response, including payload(if present)
E.g. https://github.com/TheThingsNetwork/lorawan-stack/blob/42b63f81dfbd5a46580f31db5b96358f47196659/pkg/networkserver/mac_link_adr.go#L27-L29
@blackenstock can you clarify what is missing here?

[2019-08-19 08:47] kschiffer commented on #1086
So let's make this a little more actionable.
I propose the following rules:
- All react components, regardless of view, containers, plain components; regardless of functional or class **must have** prop-types and default-props defined
  - The only exception is components that don't take any props at all
  - The `children` prop does not need to be defined in prop-types / default-props
  - Any prop

[2019-08-19 12:31] bafonins commented on #1086
**All** prop-types should be defined.

1. Missing prop-types
2. Absence of default values for non-required props
3. Unused but defined props
4. Unsorted prop-types definitions
5. Usage of ambiguous types, i.e. `PropTypes.{array|object|any}`

Ill create a PR adding these rules to show warnings only.

[2019-08-19 12:42] kschiffer commented on #1086
Updated my comment. Alphabetical sorting is a bit too strict for my likings, but if you feel strongly about it, we can keep it.

[2019-08-19 13:06] kschiffer opened #1199 "Add webui linting checks to prepush githooks"
#### Summary
Since our move to mage (#11) we have no more linting checks in our githooks. These checks helped us avoiding linting issues before we opened PRs. We should reintroduce these checks to our githooks.

#### Why do we need this?
Avoid linting issues that can prolong PR reviews. It also caused us to amass a couple of linting warnings over time, as we did not see these immediately: #1169

#

[2019-08-19 15:41] kschiffer opened #1200 "Add feature flags to the console"
#### Summary
The console should provide certain functionality only if the current stack setup (enabled components, current rights) would allow supporting this functionality.

#### Why do we need this?
Based on the configuration and right setup, we already know which functionality would not work. It makes sense to not display this functionality in the console, as we would otherwise wrongfully sugge

[2019-08-20 08:27] #1184 closed

[2019-08-20 09:46] kschiffer commented on #939
One problem I have identified here is that if User A has rights that are outside of the scope of granted rights for User B, User B cannot modify the rights of User A properly because:
- Sending the out-of-scope rights together with the legitimately altered rights will result in a 403 Forbidden
- Not sending the out-of-scope together with the legitimately altered rights will not result in a 403 but

[2019-08-20 11:12] htdvisser commented on #939
I think it would be better to change the Access service backend and make it so that it also considers existing rights of User A when User B edits these rights. User B would be allowed to edit (add/remove) rights that User B has, but not be allowed to edit (add/remove) rights that User B does not have.

[2019-08-20 11:39] bafonins commented on #30
Consider refactoring the js sdk mage targets, see https://github.com/TheThingsNetwork/lorawan-stack/pull/1202#discussion_r315631148

[2019-08-20 11:46] kschiffer commented on #939
Agreed. I will open an issue about this.
Until this is resolved, I think it's best to keep the right modification restricted in these cases.

[2019-08-20 12:59] johanstokking commented on #1191
We can do it in three places;

1. Login with entering password. I think we should enforce it at least at this point, i.e. after the user typed their current password and before redirecting.

2. Login with cookie. We may enforce it here, but I think this is more related to user session management. If the administrator thinks that revoking sessions is necessary, that should be separate step. In any

[2019-08-20 14:13] kschiffer opened #1204 "Fix rights modification of collaborators with more rights than current user"
#### Summary
It is currently not possible to properly manage the rights of a collaborator that has more rights than oneself. The problem here is that if User A has rights that are outside of the scope of granted rights for User B, User B cannot modify the rights of User A properly because:
- Sending the out-of-scope rights together with the legitimately altered rights will result in a 403 Forbidde

[2019-08-20 14:23] johanstokking commented on #1140
Looped in @adriansmares for support as well. Please coordinate accordingly.

[2019-08-20 14:25] htdvisser commented on #1204
The implementation of this would look something like below for `pkg/identityserver/*_access.go`

[code]

[2019-08-20 15:24] bafonins opened #1205 "Console support for organizations"
#### Summary

The console should provide functionality to manage organizations:
* List organizations
* Create new organizations
* Update existing organizations
* Delete organizations

#### Why do we need this?

The users should be able to manage organizations through the console

#### What is already there? What do you see now?

ui components
example layouts/functionality could be taken from appli

[2019-08-20 15:57] johanstokking commented on #1140
Added Cisco IXM

[2019-08-20 16:01] htdvisser commented on #1205
You could indeed copy-paste existing stuff from applications/gateways with a couple of important differences:

1. Only users can collaborate on organizations (not organizations)
2. You also need to be able to set APPLICATION/CLIENT/GATEWAY rights on API Keys and Collaborators (not only ORGANIZATION rights)

And it may also be good to keep in mind that it is possible (with the CLI, it should be pos

[2019-08-21 07:22] w4tsn commented on #1160
Would it then make sense to have a force option or a command to remove "soft"-removed entities? That way I could remove something if I intend to, but not accidentally. Of course this would not protect me like a real recovery feature of a false intention removal that I'd like to revert later on.

[2019-08-21 07:37] bafonins commented on #1205
@kschiffer could you think how we can implement this in the ui?

[2019-08-21 12:44] kschiffer opened #1207 "Fix broken CORS"
#### Summary
#1151 introduced a bug that broke CORS for the gRPC HTTP bridge. This means that browser XHR requests coming from external origins don't work anymore.

#### Steps to Reproduce
The easiest way to reproduce is by running the console in [a development setup](https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.0.4/DEVELOPMENT.md#development). In development, we launch the console fr

[2019-08-21 14:52] #108 closed

[2019-08-21 15:40] johanstokking opened #1209 "Document claiming Microchip ATECC608A-TNGLORA devices"
#### Summary

Document claiming Microchip ATECC608A-TNGLORA devices

#### Why do we need this?

For supporting customers of secure elements

#### What is already there? What do you see now?

Individual snippets in the documentation

#### What is missing? What do you want to see?

An easy end-to-end guide for claiming devices using the manifest file

#### How do you propose to implement this?

Writ

[2019-08-21 15:58] kschiffer commented on #1205
I think doing it in the create forms is better:

For all actions that can be performed as a user <b>and</b> organization, we add a dropdown somewhere at the top of the form to indicate as what entity the action should be performed.
This is the approach is quite common and used eg. .by github or docker hub.
<details><summary>see examples</summary> <img src="https://user-images.githubusercontent.com

[2019-08-22 07:37] htdvisser opened #1210 "Mage fails on Go 1.13"
#### Summary

Our Mage tooling fails on Go 1.13 (release candidate)

#### Steps to Reproduce

0. With the current `master` in a Go 1.13-rc1 environment
1. Run `make init` (or `make mage`)

#### What do you see now?

`go run github.com/magefile/mage -compile` fails with

[code]

#### What do you want to see instead?

It should compile the mage tooling.

#### Environment

Go 1.13-rc1 on macOS Mojave

[2019-08-22 08:19] htdvisser opened #1213 "Event Stream Cancellation should not be logged as Warning"
#### Summary

Cancelling event streams currently triggers a Warning in the server log, while this is normal flow, so it should be Info instead.

#### Steps to Reproduce

1. Start the stack
2. Open an event stream from the CLI or Console
3. Close it

#### What do you see now?

[code]

#### What do you want to see instead?

It should be `INFO`

#### Environment

[code]

#### How do you propose to im

[2019-08-22 09:04] htdvisser commented on #1205
Let's not worry about creating applications/gateways/... with an organization as initial collaborator just yet. For now creating them under the user works perfectly fine. The user can just make the organization a collaborator.

Apart from creation, there is no difference.

For consistency I think it would still be good to have an overview. This overview would be similar to the User overview and co

[2019-08-22 09:16] johanstokking commented on #1140
See also existing documentation on https://www.thethingsnetwork.org/docs/gateways/

This should act as a _reference_; that documentation has grown over time and does not follow one style or structure.

Please start with defining a style and structure and align all gateway documentation with that.

[2019-08-22 09:36] htdvisser opened #1216 "Console support for users"
#### Summary

The console should provide functionality to manage the current user.

#### Why do we need this?

Users should be able to manage their general information and API keys.

#### What is already there? What do you see now?

We have existing API and support in the CLI. Very similar to Applications/Gateways and Organizations (#1205).

#### What is missing? What do you want to see?

- Link i

[2019-08-22 09:48] htdvisser opened #1217 "Web UI support for OAuth Client Authorization and Access Token Management"
#### Summary

It should be possible to manage authorizations of OAuth Clients and active sessions (access tokens) with the web UI.

This issue only focuses on OAuth Access Tokens and not on User Sessions of the `/oauth` app.

#### Why do we need this?

- Users need to be able to revoke single sessions (access tokens)
- Users need to be able to revoke OAuth client authorizations and all associated

[2019-08-22 09:50] #1207 closed

[2019-08-22 10:01] bafonins commented on #1216
cc @kschiffer

[2019-08-22 10:03] berrySkies opened #1218 "OTAA join fails"
#### Summary

The OTAA join request from my device fails. It appears that the join-accept message received by the app does not get forwarded to the gateway.

#### Steps to Reproduce

1. Use an OTAA join request from device. (My device is running software from LMIC MCCI library on TTGO module)
2. The join request is visible on the MQQT server and console
3. Look to see if join-accept is received by

[2019-08-22 11:12] johanstokking commented on #911
[log.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/3529780/log.txt)

[2019-08-22 12:15] rvolosatovs opened #1223 ""Special" password character set is non-extensive and opaque for the user"
#### Summary

"Special" password character set is non-extensive and, worst of all, opaque for the user.

https://github.com/TheThingsNetwork/lorawan-stack/blob/7b6050dba6ca1bb546f90570c23402cb059ca0ba/pkg/identityserver/user_registry.go#L84

#### Steps to Reproduce

1. Go to any v3 deployment
2. Attempt to create an account with password
[code]

#### What do you see now?

`Should contain at least

[2019-08-22 14:19] johanstokking opened #1225 "Gateway activity update and wrong time rendering"
#### Summary

Gateway activity update is not updated and last active time rendering is wrong.

#### Steps to Reproduce

1. Go to one of the connected gateways in the demo environment, i.e. https://demo.thethings.industries/console/gateways/647fdafffe000162
2. See last activity time

#### What do you see now?

These issues are probably separate:

1. The time is shown as `-X`, where `X` is likely se

[2019-08-22 14:38] swattor opened #1226 "client 'console' not found error when logging in"
#### Summary

When logging into the web console, the following error is produced:

Not Found
client `console` not found

The "take me back" button returns you to the /oauth URL indicating that the login successfully completed

...

#### Steps to Reproduce

1. Spin up stack
2. Configure
3. Attempt to login

[ttn_config.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/3530616/ttn_config.

[2019-08-22 14:39] #1049 closed

[2019-08-22 14:49] johanstokking commented on #1226
Can you elaborate a bit on the second point?

Did you follow the Getting Started, especially the part where you need to [create an OAuth client for the Console](https://thethingsnetwork.github.io/lorawan-stack/v3.1.0/guides/getting-started/running-the-stack/)?

[2019-08-22 15:22] elsalahy opened #1228 "Queued downlinks are not received by node"
#### Summary

Scheduled downlink messages are not received by the end node.

#### Steps to Reproduce

1. Establish communication with an end node.
2. Publish any downlink message using your preferred method.
Similar to [here]( https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.0.4/doc/gettingstarted.md#scheduling-a-downlink-message)
3. Observe if the downlink is received by the end node.

P

[2019-08-22 15:31] swattor commented on #1226
Ah.

See, the documentation is a bit confusing:

https://github.com/TheThingsNetwork/lorawan-stack/blob/master/doc/gettingstarted.md links to:
https://ttn.fyi/v3/getting-started which links to:
https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.0.4/doc/gettingstarted.md

Which doesn't have the bit about the console.

I've now run the create OAuth client for the console, and now I get 'Inter

[2019-08-22 15:45] swattor commented on #1226
It's worth noting that I'm running this on a seperate machine (so accessing via http://remote-ip/ rather than http://localhost). I'm not sure whether that is relevant.

[2019-08-22 16:21] swattor commented on #1226
Tried various things, including starting again. While following the instructions gets me further, I'm now stuck with an "Internal Server Error" when I login.

[2019-08-23 07:38] htdvisser commented on #1226
Updated the redirect [ttn.fyi/v3/getting-started](https://ttn.fyi/v3/getting-started) to point to the latest getting started guide.

[2019-08-23 07:43] htdvisser commented on #1226
@swattor Can you please expand the **Steps to Reproduce** section with the **exact** steps you took? Without detailed steps we can't reproduce the issue. The issue template also asks you to upload your configuration, terminal output / logs and screenshots (you can redact sensitive information). Please do that so that we can investigate this further.

[2019-08-23 08:02] htdvisser opened #1230 "Single Host Configuration"
#### Summary

I think it would be a good idea to add a `--common-deployment` (or similar) flag to `ttn-lw-stack` and `ttn-lw-cli` from which the other address/URL flags can be derived.

#### Why do we need this?

Because right now it's a bit too much config.

#### What is already there? What do you see now?

If you want to configure `ttn-lw-stack` for a different host than localhost, you have to c

[2019-08-23 08:12] elsalahy commented on #1228
More notes related to issue testing:
- A generic node is used for testing.
- Class A is used for testing.
- Uplinks tested interval-based 1 minute separated.
- Uplinks tested 20 seconds separated.
- Both cases, no downlinks received by the node, but uplinks are registered and seen by the server.

[2019-08-23 08:13] KrishnaIyer commented on #1213
✋
I'd like to take this one when I have a bit of time..

[2019-08-23 08:30] KrishnaIyer commented on #1228
@elsalahy: Could you please cross check with a Things Uno? You can run the Downlink sketch.
I'm assuming the gateway is connected to our demo server?

[2019-08-23 08:34] htdvisser commented on #1223
As I commented on Slack yesterday:

Let's redefine that "special char" category to:

- Any char smaller than `0`
- Any char between `9` and `A`
- Any char between `Z` and `a`
- Any char larger than `z`

[2019-08-23 09:01] elsalahy commented on #1228
@KrishnaIyer Good idea but @johanstokking tried as well the demo environment just now and the downlink is also not working with him.

[2019-08-23 09:14] bafonins commented on #1225
The issue seems to appear only when using Safari.

[2019-08-23 09:22] KrishnaIyer commented on #1225
@bafonins: I noticed this yesterday on Chrome as well.

[2019-08-23 09:27] rvolosatovs opened #1231 "Stack panic when IS is not available"
#### Summary

Stack panics and exits with code `2` when IS not available

#### Steps to Reproduce

1. `stack start ns as gs`
2. Generate some traffic e.g. by using simulator

#### What do you see now?

[code]

#### What do you want to see instead?

Log error, stating what went wrong and no panic.

#### Environment

Any

#### How do you propose to implement this?

If IS is the cause for this - chec

[2019-08-23 10:57] johanstokking commented on #1228
- What are you RX2 settings?
- Please try to reproduce this locally with a local stack and provide debug server output from when you schedule the downlink message

[2019-08-23 11:41] Hesquibet opened #1232 "Stack returns Error 500 on authentication"
#### Summary

I am setting up a private network using the TTN V3 Stack on a k8s local server.
The whole setup process goes fine, until the CLI authentication.
After entering login/pwd on the web UI i get a 500 Error page.
Attached, you will find the logs with debug level activated.

...

#### Steps to Reproduce

 1 - Get a minikube or a full k8s cluster
2. - Use the attached kubernetes files to se

[2019-08-23 12:43] johanstokking opened #1234 "Create devices without keys"
#### Summary

Create devices without keys

#### Why do we need this?

For devices whose keys are provisioned on an external JS

#### What is already there? What do you see now?

Currently we can disable the JS component and not enter the OTAA information

#### What is missing? What do you want to see?

Even if the JS component is enabled in the cluster, we should still be able to not enter keys, i

[2019-08-23 12:47] htdvisser commented on #1226
Seems like you're not the only one running into a 500 error, so marking this as a possible duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/1232.

[2019-08-23 13:07] elsalahy commented on #1228
Current RX2 settings :
Rx2 window delay after tx -> 6088 ms (measured at run time)
Window length -> 179.8 ms
Max Preamble length -> 8

Also for added information
Rx1 window delay after tx -> 5039 ms

Will set this up and report back, could you please be more specific about what you mean with debug server output, I'm not familiar with terms yet, do you mean MQTT server subscription output?

[2019-08-23 13:23] johanstokking commented on #1228
I meant data rate and frequency.

I mean the server logs; you'll see them flowing when you have a local setup.

[2019-08-23 13:28] johanstokking commented on #1223
If we start doing numeric char comparison, then I'd suggest "Any char between ` ` (space) and `0`.

Chars under `0x20` are non-printable and space itself is quite confusing as a "special char", but we could allow it as such.

[2019-08-23 13:40] johanstokking opened #1235 "C-style array copy spacing"
#### Summary

C-style array copy spacing and copy braces improvements

#### Steps to Reproduce

1. Select the `< >` button near EUIs or keys
2. Click copy

#### What do you see now?

The clipboard contains, for example: ` 0x01, 0x02, 0x03, 0x04, 0x05, 0x06, 0x07, 0x08`

Notice the space at the start (and not at the end)

#### What do you want to see instead?

No spacing

#### How do you propose to

[2019-08-23 13:46] johanstokking commented on #1228
Please reopen with reproduction instructions

[2019-08-23 14:07] johanstokking commented on #1231
@adriansmares there are 4-5 occurrences where we assume that `ENTITY_REGISTRY` is there, i.e. we call `GetPeer()` and we call it's `Conn()` inline. This panics if `GetPeer()` returns `nil`, which happens while IS is not connected yet.

Please check if `GetPeer()` returns `nil`, and if so, return a (new) error that IS is not available (`Unavailable` error code). Afaik we have similar behavior and e

[2019-08-23 14:11] htdvisser commented on #1235
Not having the curly braces is intentional. Not all languages use `{}` for arrays; some use `[]` instead.

[2019-08-23 14:20] bafonins commented on #1235
we removed braces here: https://github.com/TheThingsNetwork/lorawan-stack/pull/155

[2019-08-23 14:21] swattor commented on #1226
Yeah, I had tracked it down to something to do with oauth.

Looking at the logs provided in the duplicate, it looks very similar, or at least failing in the same way. I will try and run with debug and provide some useful info in that ticket.

[2019-08-23 14:32] htdvisser commented on #1226
Hi @swattor, If you're able to compile and run The Things Stack from source, try it with the code in the Pull Request https://github.com/TheThingsNetwork/lorawan-stack/pull/1236

[2019-08-23 15:04] htdvisser commented on #1230
An alternative idea would be to have a `ttn-lw-stack quickstart` or `ttn-lw-cli quickstart` wizard that would generate a config file based on some detected things and some questions to users. I'll work that idea out next week.

[2019-08-23 17:45] rvolosatovs commented on #1228
`ff1705` (class C device) on 510704ca9 has no issues whatsoever:
[code]

[2019-08-23 18:01] rvolosatovs commented on #1228
@elsalahy if you use `direnv` already and are not afraid of trying new stuff, but want to get things up and running quickly and consistently then you can try this:
1. (if you don't have already) install `nix`: https://nixos.org/nix/download.html
2. `curl -sL https://github.com/rvolosatovs/lorawan-stack/commit/75d9a900d60bb70901b8448bba4030eaa65c5969.patch | git am`
3. Modify the EUIs and keys in `

[2019-08-24 10:12] berrySkies commented on #1218
I'm going to close the issue. Following further investigations I've now managed to get downlink messages sent to gateway and wireless concentrator.

[2019-08-24 10:12] #1218 closed

[2019-08-26 07:02] johanstokking commented on #1230
This is very complementary and also very handy, especially if we can print out a yaml and env file.

It's not entirely alternative as having a public FQDN setting also affects future config that contains a host name, and it makes configuration easy, regardless of generating it.

[2019-08-26 07:17] elsalahy commented on #1228
Thanks @rvolosatovs, I will try to run things locally and come back to you if there seems to be a problem, for now, it seems it was just the demo environment at the office that was causing the issues, so no need to worry about this issue for now, but appreciate the hints though 😉 .
If I find any issue I will try to provide as many logs as possible to reduce the time needed for debugging.

[2019-08-26 08:33] johanstokking opened #1240 "Use service discovery for CLI configuration"
#### Summary

Add endpoint in The Things Stack for serving the `ttn-lw-cli` config file

#### Why do we need this?

To download the concerning configuration file, most importantly including the host names of the gRPC services and potentially CA to use

#### What is already there? What do you see now?

Manual configuration

#### What is missing? What do you want to see?

A public endpoint to downlo

[2019-08-26 08:38] #1223 closed

[2019-08-26 08:57] mjamescompton opened #1241 "Expand Support for Maps for multiple marker points."
#### Summary

Continuing the work from issue #235 and pr #1129 expanding the support for maps to include multiple markers, and to calculate its own center based on multiple marker points.

#### Why do we need this?

We want to be able to show all devices on a map on the application overview page.

#### What is already there? What do you see now?

An array of markers are feed to the map component a

[2019-08-26 09:05] #1232 closed

[2019-08-26 09:07] bafonins opened #1242 "Improve gateway status UI in console"
#### Summary

Currently the Gateway Overview page has two status indicators:
<img width="871" alt="Screenshot 2019-08-26 at 10 44 37" src="https://user-images.githubusercontent.com/16374166/63678367-59d8c380-c7ef-11e9-930b-107ff2bba9da.png">
<img width="871" alt="Screenshot 2019-08-26 at 10 51 58" src="https://user-images.githubusercontent.com/16374166/63678492-9d333200-c7ef-11e9-8948-7c7d3317f1f1

[2019-08-26 09:58] bafonins commented on #579
The main problem with the current implementation of the device form is that everything is coupled together. This causes
1. Complex and long validation schema
2. No straightforward way to disable certain fields based on the stack configuration
3. No straightforward way to change the form fields/field titles accoring to selected values
4. Unnecessary complexity in the js sdk for batched creation/upd

[2019-08-26 10:27] johanstokking commented on #1242
Good point to improve this. It's super useful as it is, but it's a bit confusing indeed.

I think we need to show a better separation between gateway activity and events. For people looking at a gateway, activity typically means that it's connected and that there's traffic going back and forth. That is were "real time" makes most sense, including the "X seconds ago", not really the events (which a

[2019-08-26 10:30] bafonins opened #1243 "Update password validation in oauth app"
#### Summary

After [this PR](https://github.com/TheThingsNetwork/lorawan-stack/pull/1239) password validation in the oauth app does not match the validation rules in the IS.
Related https://github.com/TheThingsNetwork/lorawan-stack/issues/1067

#### Steps to Reproduce

1. Go to the Create Account page in the oauth app
2. Use `āaaAAA123` as a password
3. See client-side validation error

#### What

[2019-08-26 10:31] johanstokking commented on #579
Sounds good to me, especially if we can group fields for components together in a step. That way, we can simply skip/disable steps when a component is not available.

Referencing https://github.com/TheThingsNetwork/lorawan-stack/issues/1234 also; even if JS is available, the user can skip the JS fields.

[2019-08-26 11:38] rvolosatovs commented on #1234
In CLI you can just specify `--join-server-enabled=false` regardless of whether JS is enabled in the cluster or not.
For console I suppose we could just have a checkbox, e.g. "external join-server", which, when checked, would disallow specifying root keys and not make requests to JS registry.

[2019-08-26 13:18] johanstokking commented on #1234
Indeed CLI has this already builtin. Clarified OP.

[2019-08-26 15:09] bafonins commented on #579
I came up with such diagram:
![device-wizard-diagram](https://user-images.githubusercontent.com/16374166/63700501-565f2f80-c823-11e9-85af-818d30208d27.png)

Every node is a step
 - Steps with dotted outline do not submit the form but keep in the local state for the next steps.
 - Others send requests to the server on submission.

It looks complicated, but it the current implementation has even big

[2019-08-26 17:33] bzuellyP opened #1246 "error:pkg/errors/web:unknown (Not Found)"
#### Summary

=error:pkg/errors/web:unknown (Not Found) when trying to hit the login page
...

#### Steps to Reproduce

1. ...fresh ubuntu build (16.04)
2. ...clone repo
3. ...follow templates(mod where need) for cli & docker-compose
4. am currently using a self-signed cert, but will get a real cert and try that as well

#### What do you see now?

[code]

...

#### What do you want to see instead?

[2019-08-26 22:16] rvolosatovs opened #1250 "Document interoperability via Semtech Join-Server"
#### Summary

Setting up interoperability for Semtech devices via Semtech Join Server should be documented

#### Why do we need this?

To make lives of our users easier

#### What is already there? What do you see now?

Nothing

#### What is missing? What do you want to see?

Step-by-step guide from registering NS(??) to successful join

#### Can you do this yourself and submit a Pull Request?

ye

[2019-08-26 22:19] rvolosatovs commented on #1250
@johanstokking on Slack you mentioned:

However, our NS/AS would already be registered at Semtech.
Is the intended use case to use this guide for private deployments?

What about the KEKs? The users would need to be able to add KEKs to the NS/AS in order for devices to actually function. How can that be done? Is that already documented somewhere?

[2019-08-27 07:07] htdvisser commented on #1162
With #1190, which includes the functionality I described in my previous comment, I think this issue can now be closed.

[2019-08-27 07:07] #1162 closed

[2019-08-27 07:16] htdvisser commented on #1246
Updated formatting of code block

[2019-08-27 07:20] htdvisser commented on #1246
Hi @bzuellyP,

Unfortunately we won't be able to pick up this issue due to missing information.

Please give the exact steps to reproduce. Your current steps don't say how exactly you started The Things Stack or what URL you're trying to open.

Please show us exactly what you see now. You only posted the configuration flags, but there are no server logs and we can't see what exactly your browser s

[2019-08-27 08:05] htdvisser commented on #579
I think this is a good start.

- Maybe the flow would be better if the Join Server came first.
- An important thing we haven't really made any progress on yet is pre-filling fields from device templates in the device repository #263. I think that could really simplify the process for production deployments.

And some small things:

- A `DevEUI` is not forbidden for ABP devices (it can optionally b

[2019-08-27 08:19] johanstokking commented on #579
Yes, great start.

I agree with this. If the activation mode is OTAA and the cluster JS is enabled, on the JS page users get the choice to enter root keys and store them on the cluster JS. (if they disable that, NS uses JS lookup, just like when there is no JS in the cluster enabled)

[2019-08-27 09:05] rvolosatovs commented on #579
- "Activation mode" is in payload - in your diagram it corresponds to actually 2 fields - `multicast bool` and `supports_join bool`. There are 3 possible options, since `multicast && supports_join` is not valid.
- `frequency_plan` -> `frequency_plan_id`
- `resets_f_cnt` is optional, `false` by default.

- `FNwkSIntKey` should be presented as `NwkKey` **only** for <1.1
- `FNwkSIntKey` is missing in

[2019-08-27 12:38] rvolosatovs commented on #1149
@blackenstock any update?
Can you confirm that the existing event infrastructure fulfills your requirement?

[2019-08-27 13:38] htdvisser commented on #1234
Move discussion to https://github.com/TheThingsNetwork/lorawan-stack/issues/579

[2019-08-27 15:52] bafonins commented on #1067
@htdvisser Shall we merge [PasswordRequirements](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/identityserver/identityserver.go#L54-L60) with [OAuth Config](https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/oauth/server.go#L76-L79) so the oauth server has access to those values and can embed them into `APP_DATA`?

[2019-08-27 17:06] bafonins commented on #579
@htdvisser

Why?

For me it seems outside of the scope of this issue

Do we want to set it for ABP devices as well? I would say the fewer fields we have, the better. However, it is needed we can add it.

So the label should be `NwkSKey` for both 1.0.x and 1.1.x ? Here is what we have atm in the console:
<img width="591" alt="Screenshot 2019-08-27 at 19 43 37" src="https://user-images.githubusercon

[2019-08-27 17:06] bafonins commented on #579
Updated diagram:

![device-wizard-diagram2](https://user-images.githubusercontent.com/16374166/63792415-23da3300-c906-11e9-8020-ac6daf07caeb.png)

[2019-08-27 19:38] johanstokking commented on #579
Yeah I'm coming back on this; I think it makes more sense to enter JoinEUI and DevEUI before entering keys. So I'm supporting the current flow.

It is out of scope indeed.

Yes, we want to optionally ask for it. The more identification information we have about end devices, the better. It is also required in stateful passive roaming. The reason we don't force users to enter the DevEUI, is because

[2019-08-27 20:36] rvolosatovs commented on #579
@bafonins please see @johanstokking 's answer.
In regards to `multicast` - device address is required as well

[2019-08-28 09:01] bafonins commented on #1067
Putting this one on hold until we decide how to properly propagate the is config to the oauth app

[2019-08-28 10:37] elsalahy commented on #1228
Update on the current issue:
The issue still persists with a local v3 setup.

More on the reproduction steps:
The issue is super general and simple because I can't seem to receive downlinks with a class A device.
So reproduction steps can be ignored if downlinks are working in testing with other class A devices.
If other devices connected to stack 3.1.0 are capable of receiving downlinks, it might

[2019-08-28 10:39] elsalahy commented on #1228
@johanstokking Please help me assign who can assist with the issue.

[2019-08-28 12:19] bafonins commented on #579
- Added fields from https://github.com/TheThingsNetwork/lorawan-stack/issues/1134
- Added `DevEUI` to abp/multicast devices
![device-wizard-diagram-3](https://user-images.githubusercontent.com/16374166/63854963-fdb89f80-c9a6-11e9-9655-86bcf7c902e0.png)

[2019-08-28 12:20] #1243 closed

[2019-08-28 12:26] rvolosatovs commented on #1228
You're sending uplinks after queueing the downlinks, right?
Since it's class A, the NS needs an uplink in order to send a downlink.

Did you try to push downlink via CLI directly?(i.e. `ttn-lw-cli device downlink push ahmed-fuota otaa-device ...`)

Please send stack logs with `debug` logging level on

Can you also check if queued downlinks are actually there? (`ttn-lw-cli device downlink list ahme

[2019-08-28 12:32] rvolosatovs commented on #579
Device Address still missing from `multicast` device Network Server settings

[2019-08-28 12:41] bafonins commented on #579
Updated 👌

[2019-08-28 12:42] #1166 closed

[2019-08-28 12:58] elsalahy commented on #1228
@rvolosatovs, Sorry I was testing some stuff with Johan
 here are two debug on traces
debugon1.txt shows a trace where the node **received** the downlink
debugon1.txt shows a trace where the node **didn't receive** the downlink
[debugon1.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/3550968/debugon1.txt)
[debugon2.txt](https://github.com/TheThingsNetwork/lorawan-stack/files/3550969/

[2019-08-28 12:59] bafonins opened #1256 "Add password complexity validation in Account App"
#### Summary

We should add password complexity validation in the oauth app (client side).
For more details see https://github.com/TheThingsNetwork/lorawan-stack/pull/1244 and https://github.com/TheThingsNetwork/lorawan-stack/pull/1239

#### Why do we need this?

Instant feedback to the user if the password is not valid.

#### What is already there? What do you see now?

* The Create Account view

[2019-08-28 13:23] rvolosatovs commented on #1228
No, the `ttn-lw-cli device downlink push` simply adds the downlink to the queue. You can execute it any time.
Please use CLI directly - let's try to find the source of the problem by eliminating the MQTT step first.

[2019-08-28 13:26] mjamescompton opened #1257 "Console - add device form - Device Id validation message should include no capitals"
#### Summary

Device ID validation message does not include 'only lowercase'

#### What do you see now?

Input errors because of capital letters but the user is not inform of how to fix.
message is "The value must be alphanumeric and contain no spaces"

#### What do you want to see instead?

message is "The value must be alphanumeric, lowercase and contain no spaces"

#### Environment

Browser

##

[2019-08-28 14:12] bafonins commented on #1200
What about the `<SideNavigation />` entries?

[2019-08-28 14:46] johanstokking commented on #579
Multicast can be 1.0.x and 1.1.x. Entering the session information (`DevAddr` and keys) is the same for multicast as for ABP.

[2019-08-28 14:46] johanstokking commented on #579
Also `resets_join_nonces` can be set in JS with 1.1.x

[2019-08-28 15:55] kschiffer commented on #579
Splitting up the device creation is definitely needed and a nice way to get the flow and implementation closer to the requirements of the backend, while reducing complexity for the user.

Some thoughts and challenges that I see:
- We should add functionality to abort the whole flow, resulting in a deletion of whatever registry entries have already been created.
  - Likewise, going to the previous

[2019-08-28 16:19] kschiffer commented on #1242
I agree with @johanstokking. We don't need the last-seen indicator for events, but rather for the connection status only.

This is also somewhat connected to #770, where I also wanted to look at cleaner ways to display this information. Will hopefully be able to work on this soon.

[2019-08-28 16:24] kschiffer commented on #1235
So what should we prefer: braces or no braces @johanstokking ?

[2019-08-28 16:49] johanstokking commented on #1235
OK let's leave the braces and then only fix the first space that gets copied. Mind the labels and the milestone; this is no priority at all

[2019-08-28 16:49] johanstokking commented on #1235
Updated OP

[2019-08-28 22:01] rvolosatovs commented on #579
@johanstokking for multicast devices NS only needs the `SNwkSIntKey` in 1.1 for MIC calculation. `FNwkSIntKey` and `NwkSEncKey`, in fact, should not be allowed to set IMO.

[2019-08-29 06:50] htdvisser commented on #1052
I think I have another one:

[code]

<details>
<summary>Details</summary>

[code]

</details>

[2019-08-29 07:16] bafonins commented on #1225
moved to https://github.com/TheThingsNetwork/lorawan-stack/issues/1242

[2019-08-29 07:16] #1225 closed

[2019-08-29 08:44] johanstokking commented on #579
I don't think we should be creating anything before hitting **Finish** or something. Going back and forth in the wizard and closing the browser window should not result in half-created devices.

We will add configuration for application packages here (i.e. remote multicast setup, fragmented data block transfer, Semtech modem options, etc). So yes it shallow now but it will be extended.

For our fu

[2019-08-29 10:00] KuroTetsu25 opened #1260 "Issue with installation of The Things Network Stack on Raspberry Pi Model 3B"
**Summary**
Unsuccessfull Installation of The Things Network Stack on Raspberry Pi Model 3B

**Steps to Reproduce**
Follow the installation based on the official documentation on this github repository

**What is already there? What do you see now?**
docker-compose run --rm stack is-db init
Starting lorawan-stack_310_linux_armv7_redis_1    ... done

[2019-08-29 10:05] johanstokking commented on #1260
@KuroTetsu25 thanks for reporting.

The Docker image is built for `amd64` architecture, hence it doesn't work on `arm7l`. We have an open issue about this; https://github.com/TheThingsNetwork/lorawan-stack/issues/510, therefore I'll mark this issue as duplicate and close it. You may upvote the aforementioned issue to put it higher on the radar. Note it's currently blocked by limitations in our del

[2019-08-29 10:05] johanstokking commented on #1260
Duplicate of #510

[2019-08-29 10:05] #1260 closed

[2019-08-29 10:17] KuroTetsu25 commented on #1260
Thank you for your reply, Johan

[2019-08-29 10:46] elsalahy commented on #1228
After some exhaustive debugging it seems other devices work as expected on the local setup.
This means there might be an issue with the generic node or the gateways connected in the setup.
Will close this issue and open a more relevant issue (if needed) that better describes the behaviour.
For now, closing this issue.

[2019-08-29 10:46] #1228 closed

[2019-08-29 12:05] bafonins opened #1263 "Expand Join EUI prefixes to prefill in device form"
#### Summary

We should generate Join EUI prefixes for prefix length that do not round exactly to a character.
See https://github.com/TheThingsNetwork/lorawan-stack/pull/1132, https://github.com/TheThingsNetwork/lorawan-stack/issues/820

#### Why do we need this?

Show all available Join EUI prefixes to the users

#### What is already there? What do you see now?

1. `<JoinEUIPrefixesInput />` comp

[2019-08-29 13:50] bafonins commented on #579
@johanstokking

If we make the actual request only at the last step, then it means that we would make 3-4 request. How do we handle errors returned by different components? Handling this, navigating the user to the errored step/resetting store/etc. is complex. That is why I suggest submitting values at every step, because every successive step can rely on submitted values as valid.

I am against a

[2019-08-29 15:02] #148 closed

[2019-08-29 15:19] htdvisser commented on #1246
Thanks for the details. Unfortunately I'm still unable to reproduce the problem.

Since @bzuellyP already indicated that they are not completely sure how to fix this, I'm going to mark this as "help wanted".

If anyone can help out with investigating and possibly fixing this, that would be great!

[2019-08-29 15:25] johanstokking commented on #579
OK. That's fine, as long as the Console can handle devices that are in ER but cannot be found in JS/NS/AS because that step failed or the user closed the tab or something.

What do you mean?

Note that that AS, for example, doesn't need any fields, it just needs the device to exist. So if the AS is there, even if the user doesn't enter any values for AS, it should still create an (empty) device in

[2019-08-29 15:50] bafonins commented on #579
Sorry. This was towards @kschiffer suggestion:

I would consider this as a future improvement. For now we can just show a notification to the user on uncompleted flow. Later, the user can edit/delete the device in the general settings page.

[2019-08-29 19:37] johanstokking opened #1267 "Configurable redirect from 80 to 443"
#### Summary

Configurable redirect from 80 to 443

#### Why do we need this?

To optionally force users to use HTTPS

#### What is already there? What do you see now?

If both HTTP and HTTPS is enabled, the user picks the protocol to use. This is fine for some scenarios, i.e. local network access through internal host names while having public network access through TLS, as long as the network op

[2019-08-30 05:56] bafonins opened #1269 "Add organizations list page"
#### Summary

The console should display a list of organizations in which the user is listed as a collaborator.
References: https://github.com/TheThingsNetwork/lorawan-stack/issues/1205

#### Why do we need this?

The users should be able to see organizations in web ui.

#### What is missing? What do you want to see?

1. The Organizations service in the js sdk
2. `getAll` method in the organizatio

[2019-08-30 09:05] elsalahy commented on #1228
For housekeeping and reference purposes,
The issue is resolved by adjusting the error margins of the Rx windows on the end device side as
- Default Rx1 delay in V3 being 5 seconds makes the generic node miss the Rx slots.
- Default Rx1 delay in V2 being 1 second makes the generic node catch the Rx slots with no issues.
- The generic node misses the RX slots by 20 ms margin. The drift of time is ca

[2019-08-30 12:37] johanstokking opened #1272 "Refactor fetch package to support blobs"
#### Summary

Refactor `pkg/fetch` to support `pkg/blob`

#### Why do we need this?

To fetch from blobs

#### What is already there? What do you see now?

- Fetching from local disk and URLs
- Fetching from bucket (there's a `pkg/fetch.FromBucket` but misses a context)
- Blobs package to work with cloud buckets and multiple providers

#### What is missing? What do you want to see?

Be able to use

[2019-08-30 12:42] bzuellyP commented on #1246
got past this part.  The PR that removed trailing " from the web ui config section in the yaml file cleared this one up.  Still getting "500 Internal server error" but i'm continue debugging separately. Closing this one out...

[2019-08-30 12:42] #1246 closed

[2019-08-30 12:45] htdvisser commented on #1246
500 Internal Server Errors may be related to #1232 / #1236

[2019-08-30 17:24] #1115 closed

[2019-09-01 13:34] bafonins opened #1273 "Make form field text consistent across the console"
#### Summary

Currently form fields across the console have incosistent titles, placeholders and descriptions.
See screenshots below.

Related https://github.com/TheThingsNetwork/lorawan-stack/issues/770

#### Why do we need this?

Consistent views across the app

#### What is already there? What do you see now?

Applications:
<img width="575" alt="Screenshot 2019-09-01 at 16 28 36" src="https://u

[2019-09-01 13:51] bafonins opened #1274 "Add organization create page"
#### Summary

The console should provide functionality to create new oganizations.
References: https://github.com/TheThingsNetwork/lorawan-stack/issues/1205

#### Why do we need this?

The users should be able to create new organizations in web ui.

#### What is already there? What do you see now?

https://github.com/TheThingsNetwork/lorawan-stack/pull/1270
https://github.com/TheThingsNetwork/lora

[2019-09-01 17:08] johanstokking opened #1275 "Allow inserting application and device IDs in pub/sub topics"
#### Summary

Allow inserting application and device IDs in pub/sub topics

#### Why do we need this?

To allow users to subscribe to applications and devices by topics instead of looking at the message body

#### What is already there? What do you see now?

Allowing configuration of base topic and message topics

#### What is missing? What do you want to see?

Allowing templates in those configur

[2019-09-01 17:43] johanstokking commented on #1275
After some offline discussion this is not going to fly for downlink, at least not in a deterministic manner that's not super confusing.

[2019-09-01 17:43] #1275 closed

[2019-09-02 06:35] johanstokking opened #1276 "Unspecified message topics default to base topic in MQTT and NATS"
#### Summary

Unspecified message topics default to base topic in MQTT and NATS

#### Steps to Reproduce

Add a pub/sub with `nil` for `uplink_message`

#### What do you see now?

See messages publishes to `base_topic`.

#### What do you want to see instead?

No messages published if the message topic is `nil`

#### How do you propose to implement this?

The problem is the fallback to `""` wheneve

[2019-09-02 08:00] #1242 closed

[2019-09-02 08:31] htdvisser opened #1278 "Define Gateway Configuration Server ClusterRole"
#### Summary

We need to define the GCS as a ClusterRole enum value.

#### Why do we need this?

For consistency

#### What is already there? What do you see now?

https://github.com/TheThingsNetwork/lorawan-stack/blob/master/api/enums.proto#L50

The GCS is currently announcing itself as GS.

#### What is missing? What do you want to see?

The GCS should have its own ClusterRole.

#### How do you

[2019-09-02 09:05] #1269 closed

[2019-09-02 11:09] adriansmares opened #1281 "Manage application PubSub integrations in Console"
#### Summary

Manage application PubSub integrations in Console. References #935.

#### Why do we need this?

PubSub integrations are a good way to work with application data. They provide more scalability than vanilla MQTT and allow users to use their favorite PubSub provider to handle the data.

#### What is already there? What do you see now?

AS supports PubSub integrations natively using 2 pr

[2019-09-02 11:31] johanstokking opened #1282 "Automatic linking on application create"
#### Summary

Automatic linking on application create

#### Why do we need this?

To avoid the hassle of creating an API key and setting the link

#### What is already there? What do you see now?

Manual creation of API key and setting the link

#### What is missing? What do you want to see?

A checkbox on application create to link the application.

This is only supported if there's a AS in the c

[2019-09-02 11:37] htdvisser commented on #1282
As I already said in the offline discussion, the idea was to turn the "Create Application" flow into a wizard, similar to what we do with the "Create End Device".

Probably doing it with a checkbox saves some time, but makes the process too much "magic" IMO.

[2019-09-02 11:41] kschiffer commented on #1282
As I said in the other issue, a two-page wizard is an anti-pattern. The app creation form is already very shallow, so it should be no problem to add it there at all.

[2019-09-02 11:42] johanstokking commented on #1282
As mentioned offline, the goal is to replace this manual linking step by the magic. If there is an AS in the cluster, the only thing we need is a checkbox.

Whether or not we put that in a wizard is unrelated to this issue.

[2019-09-02 11:48] htdvisser commented on #1282
Right now it might be two steps, but I can imagine that we may have more steps in the future:

- Configuring application-level payload encoders/decoders
- Creating an API key for reading/writing traffic with MQTT
- Creating an API key for an integration and setting up that integration

My comment was about the *How do you propose to implement this?* section. A checkbox is one way to implement it,

[2019-09-02 11:51] #1276 closed

[2019-09-02 11:58] kschiffer commented on #1282
I see that but it doesn't change my reasoning. We can move to a wizard as soon as the use-case matches.

I agree.

[2019-09-02 12:36] kschiffer commented on #579
Well, I think that given the _edge-casiness_ of this particular situation, it is ok to live with this issue. Your wording suggests that I should not word concerns without proposed solutions, but I like to give others the opportunity to come up with some if I can't immediately find any.

This would again break with the best practices for the wizard pattern. Users will likely want to revise or simpl

[2019-09-02 14:06] #1274 closed

[2019-09-02 14:07] #683 closed

[2019-09-02 14:23] bafonins opened #1284 "Reuse entity crud handling in redux store"
#### Summary

Currently most of our entities are stored in a similar fashion in the redux store (also see https://github.com/TheThingsNetwork/lorawan-stack/issues/852). However, we still handle every crud operation for every entity separately.

#### Why do we need this?

Less boilerplate for common operations on app entities.

#### What is already there? What do you see now?

Variety of reducers f

[2019-09-02 14:49] #1231 closed

[2019-09-02 16:36] adriansmares opened #1286 "Add events to the PubSub integrations frontend"
#### Summary

Add events to the PubSub integrations frontend.

#### Why do we need this?

In order to be able to follow asynchronous actions that occur in the PubSub frontend. Also this is one way of achieving test determinism for #1017.

#### What is already there? What do you see now?

No events.

#### What is missing? What do you want to see?

Outside of the classical CRUD events, the events fo

[2019-09-02 16:36] adriansmares commented on #1017
Blocked by #1286.

[2019-09-02 19:39] rvolosatovs commented on #1210
Taking over this as discussed

[2019-09-03 06:15] htdvisser opened #1290 "Improve email validation flow"
#### Summary

We need to improve the email address validation flow.

#### Why do we need this?

It's not user friendly right now.

#### What is already there? What do you see now?

1. We have the `ContactInfoRegistry.Validate` RPC
2. We send the following email:

#### What is missing? What do you want to see?

- Neither the CLI nor the Console has functionality to call the Validate RPC
- The email

[2019-09-03 08:06] bafonins opened #1291 "Fix prop-types issue in oauth app"
#### Summary

Prop type validation show errors in the oauth app

#### Steps to Reproduce

1. Navigate to the oauth app
2. See the error in the dev tools console

#### What do you see now?

<img width="549" alt="Screenshot 2019-09-03 at 11 04 03" src="https://user-images.githubusercontent.com/16374166/64155016-b022b380-ce3a-11e9-8386-885a698a2d02.png">

#### What do you want to see instead?

No err

[2019-09-03 10:24] #1235 closed

[2019-09-03 10:43] bafonins opened #1294 "Add organization overview page"
#### Summary

The console should display extended information about organizations.

#### Why do we need this?

The users should be able to see the overview of an organization.

#### What is already there? What do you see now?

1. `<EventsSubscription />` component
2. `<Organizations />` component
3. Organizations service in the js sdk

#### What is missing? What do you want to see?

1. `<Organizat

[2019-09-03 13:57] bafonins opened #1300 "Fix application general settings modal content"
#### Summary

Application general settings modal shown empty application name

#### Steps to Reproduce

1. Create a new application without the name field
2. Go to the general settings page
3. Press `Delete Application`

#### What do you see now?

<img width="495" alt="Screenshot 2019-09-03 at 16 53 09" src="https://user-images.githubusercontent.com/16374166/64179261-8635b500-ce6b-11e9-968c-d8dd2e

[2019-09-03 14:02] bafonins commented on #1300
You might also want to address https://github.com/TheThingsNetwork/lorawan-stack/issues/1086

[2019-09-03 14:39] #1267 closed

[2019-09-03 15:24] johanstokking opened #1302 "Resets join nonces not effective"
#### Summary

The **Resets join nonces** setting is not effective in the Console.

#### Steps to Reproduce

1. Create new device, check **resets join nonces**
2. Go to the device after creation, the **resets join nonces** is unchecked
3. Check again, save
4. Go to device, still unchecked

Also, no call to JS seems to be made in step 3

#### What do you see now?

Ineffective setting of `resets_join

[2019-09-03 15:32] kschiffer commented on #1302
Reassigning to @bafonins, as he worked on the device form recently.

[2019-09-03 15:34] johanstokking commented on #1302
[code]

[2019-09-03 17:00] KrishnaIyer opened #1303 "Support Concentrator Design v2 Fields in Basic Station config"
#### Summary

Support Concentrator Design v2 Fields in Basic Station config. Related to #761.

#### Why do we need this?

Support gateways that follow the [v2 reference design](https://doc.sm.tc/station/gw_v2.html).

#### What is already there? What do you see now?

Support only for v1 and v1.5 ref design.

#### What is missing? What do you want to see?

Support v2 ref design.

#### Environment

B

[2019-09-03 17:05] KrishnaIyer commented on #761
Back when I worked on this, I noticed that we extract a single SX1301 field from one Frequency plan.
We probably need to edit the `yaml` ( except the `band_id` field), and add a top level key with n arrays where n=no of concentrators.
[code]

[2019-09-03 17:06] KrishnaIyer commented on #761
I've temporarily added a discussion label on this until we decide how to handle this.
cc: @johanstokking @htdvisser

[2019-09-03 22:02] johanstokking commented on #1303
Adding `compat/api` as we're probably extending `Gateway` entity

[2019-09-04 08:08] bafonins opened #1304 "Adjust device form activation settings layout"
#### Summary

We should adjust titles/descriptions in the device form (activation settings).
Original issue: https://github.com/TheThingsNetwork/lorawan-stack/issues/1302

#### What is already there? What do you see now?

<img width="557" alt="Screenshot 2019-09-04 at 11 05 37" src="https://user-images.githubusercontent.com/16374166/64236927-0871b800-cf04-11e9-9f6b-7a15cb206b3a.png">
<img width="5

[2019-09-04 08:09] bafonins commented on #1302
Moved layout fixes to a separate issue, see https://github.com/TheThingsNetwork/lorawan-stack/issues/1304

[2019-09-04 08:49] bafonins opened #1306 "Add organization general-settings page"
#### Summary

The console should provide functionality to update existing oganizations.
References: https://github.com/TheThingsNetwork/lorawan-stack/issues/1205

#### Why do we need this?

The users should be able to update existing organizations in web ui.

#### What is already there? What do you see now?

- Organizations service in the js sdk
- Redux setup for creating/listing organizations

##

[2019-09-04 08:57] htdvisser commented on #1306
Contact information still needs to be added to all entities, maybe better to do that all at once in its own issue/pr.

[2019-09-04 10:44] #1302 closed

[2019-09-04 10:45] #1294 closed

[2019-09-04 11:11] bafonins commented on #1304
See the diff: https://github.com/TheThingsNetwork/lorawan-stack/issues/1302#issuecomment-527512870

[2019-09-04 13:09] rvolosatovs opened #1310 "Rewrite confusing hex numbers in binary format"
#### Summary

Go 1.13 adds support for binary numbers, which can be used to improve clarity of LoRaWAN-related functionality.

#### Why do we need this?

To improve clarity and readability

#### What is already there? What do you see now?

Usage of hexadecimal constants

#### What is missing? What do you want to see?

Binary numbers where applicable (e.g. `MHDR`, `FCtrl`, MAC command payloads etc.

[2019-09-04 14:17] johanstokking commented on #875
Please address also replace hardcoded `The Things Stack Account` by `{siteName} Account`

[2019-09-04 14:22] #1306 closed

[2019-09-04 16:35] mattdean-digicatapult opened #1313 "CUPS update-info returning 403"
#### Summary
Submitted as a result of a slack conversation. I've been trying to configure A Kerlink Wirnet Station using `basicstation` to connect to a v3 stack. When the station tries to call `update-info` it errors with 403.

#### Steps to Reproduce

1. Add a new gateway
2. Add a gateway api-key with rights `RIGHT_GATEWAY_ALL`
3. Update the gateway setting `gateway_server_address`, and the attri

[2019-09-04 21:59] loganmc10 opened #1315 "Documentation on how to join TTN gateway to TTN stack"
#### Summary

I currently have a TTN gateway (connected to the public TTN network). I would like to connect to a private TTN v3 stack. I cannot find any documentation on how to do this.

#### Why do we need this?

TTN gateway is a great learning device, as is the TTN stack. It would be good to show how these devices can work together.

#### What is already there? What do you see now?

No current d

[2019-09-05 06:43] johanstokking commented on #1315
@loganmc10 thanks for filing the issue and showing interest in combining The Things Indoor Gateway with The Things Stack V3.

It is definitely possible, but it requires some steps to claim the gateway so that the configuration endpoint the gateway connects to (CUPS) knows which network server (LNS) to communicate to the gateway. Today, we route all traffic from TTIGs to the public community networ

[2019-09-05 06:43] johanstokking commented on #1315
Duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/1140

[2019-09-05 06:46] johanstokking commented on #1313
Thanks @mattdean-digicatapult for reporting. Happy to see Basic Station support on Kerlink Wirnet Stations also. Please upvote #1140 as adding documentation for this gateway is on our radar. I'll need to check with Kerlink what their status is with Basic Station, or did you compile this yourself?

Assigning this to @KrishnaIyer to look into this. This may take a while as he won't be back from holi

[2019-09-05 06:49] johanstokking commented on #1313
BTW, what exactly is the format of your `Authorization` header?

It should be: `Authorization: Bearer <API Key>`

[2019-09-05 07:27] johanstokking commented on #1315
@loganmc10 for the record, which are you referring to the original The Things Gateway (white diamond shape), or the new The Things Indoor Gateway (white smaller thing)?

[2019-09-05 07:53] mattdean-digicatapult commented on #1313
@johanstokking, yeah that's what I'm doing. Also If I deliberately mangle the token to make it an invalid apikey I get different logs on the backend, the notable one being:

[code]

So I think the token is being parsed correctly. What seems to be happening is there's an error whenever the first internal RPC call is made within the `UpdateInfo` function in `update_info.go`. Setting all the attribut

[2019-09-05 09:48] htdvisser opened #1319 "Improve error rendering in Web UI"
#### Summary

We need to improve how errors are rendered in the web UI.

#### Why do we need this?

Right now they're not informative enough.

#### What is already there? What do you see now?

Creating an entity (in this case an organization) with an invalid ID returns the following error stack in the CLI:

[code]

but the console only shows

<img width="760" alt="Screenshot 2019-09-05 at 11 44 45

[2019-09-05 09:55] htdvisser opened #1320 "Make delete modal inform about ID reuse"
#### Summary

Until we've figured out #604 you can't re-use IDs of deleted entities. Therefore I think it would be good to inform users that they can not re-use IDs of

- Applications
- (Clients)
- Gateways
- Organizations
- (Users)

after deleting them. For Gateways it's not only the ID but also the EUI.

#### Why do we need this?

To avoid the same confusion we used to have with this in v2.

###

[2019-09-05 11:03] #1304 closed

[2019-09-05 11:19] #1282 closed

[2019-09-05 11:43] loganmc10 commented on #1315
I'm referring to the original Things Gateway, thanks for getting back to me

[2019-09-05 11:43] #1315 closed

[2019-09-05 11:58] #1109 closed

[2019-09-05 11:58] #1110 closed

[2019-09-05 13:01] kschiffer commented on #875
via #1323

[2019-09-05 13:06] #1210 closed

[2019-09-05 13:08] #1052 closed

[2019-09-05 15:17] kschiffer commented on #1200
So I think we need to split this into three aspects:
1. Hiding links from the navigation (top, side and tab navigation)
2. Preventing access to views with disabled features (should be mostly a redirect to the parent view)
3. Hiding bits inside views that are not accessible (eg. the device table inside the application overview, when the user has no right to view devices)

All in all, I think it wou

[2019-09-05 16:30] johanstokking opened #1325 "Basic Station gateway stays online after unplugging it"
#### Summary

Basic Station gateway stays online after unplugging it

#### Steps to Reproduce

1. Connect TTIG
2. Unplug it
3. Get connection stats

#### What do you see now?

Still seeing the stats:

[code]

#### What do you want to see instead?

404

#### Environment

3.1.2

#### How do you propose to implement this?

Detect disconnection

#### Can you do this yourself and submit a Pull Request?

[2019-09-05 16:36] johanstokking opened #1326 "Getting gateway connection stats bumps "last seen""
#### Summary

Getting gateway connection stats bumps "last seen"

#### Steps to Reproduce

1. Go to gateway
2. Watch "last seen"

#### What do you see now?

Last seen gets bumped every 5 seconds, when the gateway connection stats get retrieved.

#### What do you want to see instead?

Per https://github.com/TheThingsNetwork/lorawan-stack/issues/1242#issuecomment-524808708:

- on `gs.up.receive`; in

[2019-09-06 06:43] bafonins opened #1327 "Change container width constraint"
#### Summary

<img width="765" alt="Screenshot 2019-09-06 at 09 39 15" src="https://user-images.githubusercontent.com/16374166/64406397-5dd7d180-d08a-11e9-9307-2134148aaf3e.png">
<img width="765" alt="Screenshot 2019-09-06 at 09 40 05" src="https://user-images.githubusercontent.com/16374166/64406398-5dd7d180-d08a-11e9-9cd2-98b2118548cb.png">
<img width="765" alt="Screenshot 2019-09-06 at 09 40 19"

[2019-09-06 08:42] johanstokking opened #1328 "Support LoRa Cloud Device Management"
#### Summary

Support LoRa Cloud Device Management (and plumbing for application packages now that we need it)

#### Why do we need this?

To natively support the Semtech modems

#### What is already there? What do you see now?

No support, only some ideas about supporting application-layer services (called application packages) based on FPort. These ideas have not been written down, so I'll do th

[2019-09-06 08:43] #1154 closed

[2019-09-06 09:37] johanstokking commented on #1328
I think we should refactor this part; https://github.com/TheThingsNetwork/lorawan-stack/blob/master/pkg/applicationserver/linking.go#L229-L252

- Add a `sendUp(*io.ContextualApplicationUp)` to `link`
- Call `sendUp()` in `handleUp()` instead, also do the cleaning of join-accept and filtering of messages that we don't send upstream (like downlink queue invalidation) there
- Call `sendUp()` from gor

[2019-09-06 11:27] fernandobarreto commented on #1226
Hi @htdvisser , I tried the last release of docker ttn stack (3.1.2) and the "Internal Server Error" still remains at console page.

[2019-09-06 12:31] johanstokking commented on #1226
Can you enable debug logs on the server (`TTN_LW_LOG_LEVEL=debug` in Docker compose environment for the stack container) and copy server logs?

Also, can you as @htdvisser requested before, copy your **exact** steps and update the original comment in this issue?

[2019-09-06 13:13] bafonins commented on #1204
@htdvisser Here is your solution adjusted to make sure that any user with the `RIGHT_APPLICATION_SETTINGS_COLLABORATORS` right can delete another collaborator even if the latter has more rights. Please confirm we want to allow that. See the diff:

[code]

[2019-09-06 13:27] bafonins commented on #1204
Besides that, I also noticed that our current implementation of the api keys/collaborators form does not reflect the actual meaning of entity rights enforced in the is.

As @htdvisser noted, `RIGHT_{entity}_ALL` rights do not only mean **all current rights**, but also **all future rights**. So, atm it is not possible to assign all entity rights as a list of `RIGHT_{entity}_{whatever, except ALL}`.

[2019-09-06 14:42] kschiffer commented on #1204
Indeed. This would also simplify the implementation a lot, as we could then get rid of the translation of universal rights into all individual rights, and all the ambiguity surrounding this.

[2019-09-07 19:02] adriansmares opened #1332 "GS flaky test"
#### Summary

The GS test `TestGatewayServer/Traffic/grpc/Upstream/OneValidFS` is flaky.

#### Steps to Reproduce

1. Bad luck.

#### What do you see now?

[code]

#### What do you want to see instead?

The test should not fail randomly.

#### Can you do this yourself and submit a Pull Request?

Can review.

[2019-09-09 09:57] htdvisser opened #1333 "Prevent Contact Info Validation spam"
#### Summary

We need to prevent users from requesting multiple contact info validations for the same address.

#### Steps to Reproduce

1. Create entity with contact info
2. Request contact info validation
3. Request contact info validation again

#### What do you see now?

Multiple emails

#### What do you want to see instead?

Only one email

#### How do you propose to implement this?

Make `re

[2019-09-09 12:38] bafonins opened #1336 "Incomplete byte input not changing value"
#### Summary

Partially filled byte input does not update its value when the cursor is placed after the inputs mask.

![byte-input-blocked](https://user-images.githubusercontent.com/16374166/64530946-fedabc80-d316-11e9-9b55-b10f7f3db5c7.gif)

#### Steps to Reproduce

1. Input hex chars such that there are placeholder characters left
2. Move cursor after the last placeholder char and continue typin

[2019-09-09 12:46] #820 closed

[2019-09-09 13:38] bafonins opened #1337 "Allow restarting events stream on error"
#### Summary

Currently, there is no way no restart the events stream other than refreshing the page.

#### Why do we need this?

1. Refreshing the page would remove all persisted events (on the client)
2. The users should be able to recover errors

#### What is already there? What do you see now?

1. Redux setup for events
2. Error handling in the `<Events />` and `<EventsWidget />` component
3.

[2019-09-09 14:34] #1291 closed

[2019-09-09 17:06] fernandobarreto commented on #1226
I find out the problem, it was on certificates.... Thanks anyway.

[2019-09-09 17:23] johanstokking commented on #1226
Sure, you're welcome!

[2019-09-09 17:23] #1226 closed

[2019-09-09 20:11] johanstokking commented on #1325
Cannot reproduce anymore

[2019-09-09 20:11] #1325 closed

[2019-09-09 22:04] rvolosatovs opened #1340 "Support absolute paths in fetch package"
#### Summary

Fetch package should support absolute paths

#### Why do we need this?

There are use cases, where absolute paths are necessary to use, e.g. for usage of Docker secrets(which are available at `/run/secrets/<name>`). This is especially important for interop client configuration.

#### What is already there? What do you see now?

No absolute path support

#### What is missing? What do

[2019-09-10 08:22] rvolosatovs opened #1342 "Desired MAC state fields should be allowed to be set"
#### Summary

Desired MAC state fields should be allowed to be set.
The changes should trigger a class C downlink slot.

#### Steps to Reproduce

1. Try to set a desired MAC state

#### What do you see now?

NS does not allow that

#### What do you want to see instead?

Successful update operation

#### How do you propose to implement this?

Allow `mac_state.desired_parameters` to be set.
Trigger

[2019-09-10 08:26] rvolosatovs opened #1343 "Improve configurability of MAC layer"
#### Summary

NS should allow configuring desired ADR ack limit and delay as well as max duty cycle

#### Why do we need this?

To make our users happy

#### What is already there? What do you see now?

No such functionality

#### What is missing? What do you want to see?

- `mac_settings.desired_adr_ack_{delay,limit}
- `mac_settings.desired_max_duty_cycle`

#### How do you propose to implement th

[2019-09-10 10:14] #1300 closed

[2019-09-10 10:33] #1017 closed

[2019-09-10 10:33] #1286 closed

[2019-09-10 13:58] KrishnaIyer commented on #48
blocked on #761.

[2019-09-10 14:23] johanstokking commented on #1303
Blocked by #761

[2019-09-10 14:32] htdvisser commented on #761
I don't think it's a good idea to put things under a `Concentrators` list. Probably better to add a `Concentrator uint8` to `Channel` and `Radio` structs. That way the current frequency plans don't have to be modified.

[2019-09-10 14:35] htdvisser commented on #761
Another option would be to specify multiple (instead of one) `frequency_plan_ids` for gateways, and we'd combine all that.

[2019-09-10 14:38] htdvisser commented on #761
The latter would actually be better if we also want to support multi-antenna gateways that listen on the same channels with multiple antennas.

[2019-09-10 14:44] johanstokking commented on #761
So the consideration is to;

1. be able to set multiple frequency plans to gateways
2. be able to set multiple frequency plans to end devices

I'll have a look at the GS downlink scheduling and NS-GS transmission request logic.

@rvolosatovs can you indicate the implication for the NS of 2? Note that different frequency plans can refer to different bands. Note also that we should enforce that upli

[2019-09-10 14:48] mattdean-digicatapult commented on #1313
So I've done a bit of research and I think I know what's kind of going on. It seems that the authentication passed in the `update-info` is never used for any of the internal RPC call. If `RegisterUnknown` is set then the configured APIKey will be used. If it's not things fall back to the default cluster auth?? I have no idea if this is really correct but the logical thing looking at the code is th

[2019-09-10 14:50] htdvisser commented on #1240
We'll simplify this to generate a config in the CLI (without calling the server) for a standard deployment on `host`.

[2019-09-10 14:53] mattdean-digicatapult commented on #1313
Not that it's necessarily related, but I should point out this still doesn't solve all my issues in getting `basicstation` working. `update-info` now returns `200`, but on the `basicstation` side I now get the error:

[code]

If I find it's an unrelated issue I'll open another ticket, but I thought I'd just mention it.

[2019-09-10 22:53] rvolosatovs commented on #761
So a device could be operating in multiple frequency plans(and bands) simultaneously?
That's doable, however the underlying bands must be compatible, i.e.:
- Same default channels(one may be a superset of the other)
- Same TXPower operation
- Same Data Rates
- Same ChMaskCntl operation
- Same Rx1 frequency computation scheme
- Same Rx2 frequency
- Same CFList types
- Same JoinAcceptDelay{1,2} for

[2019-09-11 08:45] mattdean-digicatapult commented on #1313
Following up from a slack conversation with @adriansmares there seems to be a bit of uncertainty as to how and why auth works the way it does in this case.

There seems to be some agreement that the call that's failing originates from the `Update` rpc call:  https://github.com/TheThingsNetwork/lorawan-stack/blob/9262f5df0927ab437a10ca64fdcee008690444fd/pkg/basicstation/cups/update_info.go#L340

My

[2019-09-11 09:40] htdvisser commented on #761
How would this work with dynamic channel bands such as EU868? If you combine multiple channel plans, the channel indexes will be all messed up, right? Isn't it better to treat bands with fixed or dynamic channels differently?

We also need to keep in mind that all of this only makes sense if end device owners know for sure that their end devices are deployed in an area with coverage for additional

[2019-09-11 10:45] rvolosatovs commented on #911
Here we go again...
[code]

[2019-09-11 13:11] johanstokking commented on #970
@adriansmares stiped out the second checkbox; this doesn't work when combining Travis and GoReleaser apparently. So it's just a small clarification in Travis to regex the tag name.

[2019-09-11 13:17] johanstokking commented on #960
@htdvisser please update table

The goal here is 75% coverage on the package-level, the relevant parts of the packages. Best is to open the package you're assigned to and view test coverage in your editor.

We can discuss individual exceptions here.

[2019-09-11 13:20] htdvisser commented on #939
Closing this issue, can still be used as reference.

[2019-09-11 13:20] #939 closed

[2019-09-11 13:25] rvolosatovs opened #1349 "Flaky events test"
#### Summary

Event package tests are flaky

#### Steps to Reproduce

1. Run tests a couple of times

#### What do you see now?

[code]

#### What do you want to see instead?

Success

#### Environment

Travis

#### How do you propose to implement this?

no idea

#### Can you do this yourself and submit a Pull Request?

no

[2019-09-11 13:34] johanstokking commented on #808
Please consider a `map[string]interface{}` for testing and keep it simple. At runtime I don't see a reason to unmarshal the SX1301 configuration.

[2019-09-11 13:39] johanstokking commented on #730
@kschiffer please indicate what the discussion is and mention people to loop them in

[2019-09-11 13:46] johanstokking commented on #206
@Sypheos please make this part of #1118

[2019-09-11 13:57] KrishnaIyer commented on #808
Yeah that's the plan. This is only for testing so I don't plan to spend time on optimizing it.

[2019-09-11 15:28] htdvisser commented on #1313
Let's try to have all discussions around this issue here on Github (and not on Slack) so that everyone has access to the full picture.

I set up a local test environment with the latest https://github.com/lorabasics/basicstation code and tried to reproduce the errors (which I could).

It looks like we need to make a bunch of changes to the way CUPS works. I'll take this issue over from @KrishnaIye

[2019-09-11 15:29] htdvisser commented on #1313
This is actually broken, so this is a bug for the current milestone.

[2019-09-11 16:30] johanstokking commented on #761
@KrishnaIyer can you update this issue for the gateway-side, i.e. gateway entity API and potentially uplink message, GS and GCS support? Then we can remove `discussion` and assignment. Probably push this to Next Up.

@rvolosatovs can you file an issue for the device and network side (device entity API, NS)? Also Next Up

[2019-09-11 18:33] loganmc10 opened #1350 "ttn-lw-cli alias not working on Ubuntu"
#### Summary

I am following this guide:
https://thethingsstack.io/v3.1.2/guides/getting-started/installation/

But snap doesn't seem to allow the ttn-lw-cli alias, I'm not sure how to get access to that command

[code]

[2019-09-12 08:39] beitler opened #1351 "Basic Station xtime is truncated to 32 bit"
#### Summary

During processing of `updf` messages originating from a Basic Station gateway, the 48-bit timestamp part of `xtime` is truncated to 32 bit. As a result, class A downlink messages cannot be scheduled after the first 32 bit rollover of the microsecond counter.

#### Steps to Reproduce

1. Append `ext |= ((sL_t)0xAA<<32);` to https://github.com/lorabasics/basicstation/blob/master/src/ti

[2019-09-12 20:00] rvolosatovs opened #1353 "Support multiple frequency plans in devices"
#### Summary

NS shall allow multiple frequency plans to specified for a device.

#### Why do we need this?

See https://github.com/TheThingsNetwork/lorawan-stack/issues/761

#### What is already there? What do you see now?

Exactly 1, mandatory frequency plan can be specified

#### What is missing? What do you want to see?

Support for multiple frequency plans, at least 1.
On creation/update NS s

[2019-09-13 08:18] htdvisser commented on #1353
Also need to consider already registered devices that are stored with a `frequency_plan_id`.

Perhaps it's simpler to just keep `frequency_plan_id` as well as its behavior, and add a new `additional_frequency_plan_ids` that can be appended to the one in `frequency_plan_id`.

[2019-09-13 08:24] #1278 closed

[2019-09-13 08:26] rvolosatovs commented on #1353
I think that's confusing - a simple solution is to just set `frequency_plan_ids` whenever a device with `frequency_plan_id` is read.
Whenever a device with `frequency_plan_id` is written, we can set `frequency_plan_ids` instead.

[2019-09-13 08:31] htdvisser commented on #1353
I don't think it's that simple actually. Your solution would mean that in the API, `frequency_plan_id` is equivalent to `frequency_plan_ids[0]` (we can't stop accepting/returning `frequency_plan_id` until v4), we'd have to allow setting/getting both, but not at the same time. In stored devices we would have to look whether `frequency_plan_ids` exists, and fall back to `frequency_plan_id` if it doe

[2019-09-13 09:30] adriansmares commented on #1350
I can confirm the report on my machine.
[code]

[code]

The `ttn-lw-cli` command is not exported. I think that at https://github.com/TheThingsNetwork/lorawan-stack/blob/6463643737d52a97e665a6d6107f85f4dd6fa269/.goreleaser.yml#L106-L120
we should add either `builds: cli` as well or create a separate package for the CLI itself. Thoughts on this @rvolosatovs ?

[2019-09-13 09:47] rvolosatovs commented on #1350
https://github.com/TheThingsNetwork/lorawan-stack/pull/1356
I had an impression that `builds` refer to Archive IDs, but that turns out to be not true

[2019-09-13 10:05] #1350 closed

[2019-09-13 12:40] htdvisser opened #1359 "Github Actions"
#### Summary

This issue tracks progress on setting up workflows for Github Actions.

#### Why do we need this?

It would be nice if we can rely less on Travis.

#### What is already there? What do you see now? What is missing? What do you want to see?

So far we've done CI of this repository using Travis, but it's been giving us headaches lately. We got into the Github Actions beta program today,

[2019-09-13 12:46] htdvisser commented on #1359
https://github.com/TheThingsNetwork/lorawan-stack/runs/221176502 is the first run of the workflow. Unfortunately the Redis service isn't working properly:

Refs https://github.com/actions/example-services/issues/7

[2019-09-13 13:53] adriansmares commented on #1328
Regarding the mapping between and `EndDevice` and active application packages - do we want to extend `EndDevice` with this mapping or we will have a separate mapping registry ? Same for storage: do we store the package-specific data inside the device or in a separate registry ? The trade-off here is between having to create the entry in the registries manually (adding a new step to device creation

[2019-09-13 17:03] rvolosatovs commented on #1328
As a first step, I think we should include `capacity` in details of `errApplicationDownlinkTooLong` sent https://github.com/TheThingsNetwork/lorawan-stack/blob/e69e3e13562e0ac48bf6adeaf4eb69640ef9195c/pkg/networkserver/downlink.go#L155-L165 when application downlink is too long and cannot be scheduled. This is already enough for AS to be able to "fixup" the downlink, i.e.:
1. AS enqueues downlink

[2019-09-16 12:20] bafonins commented on #1200
I think it would easier to refactor side navigation and main navigation using the compound components approach

👍

I mean just renaming. It has nothing to do with authentication.

[2019-09-16 15:18] kschiffer commented on #1327
This was fixed via #1330.

Will do. Needs some planning via #1172.

[2019-09-17 08:45] #729 closed

[2019-09-17 09:58] htdvisser commented on #510
We could start by adding the following to Goreleaser:

[code]

Then at least we're publishing Docker images that can be used on ARM.

We can publish the manifest by hand, or wait for Goreleaser to support it.

[2019-09-17 12:47] bafonins commented on #1205
Will continue after https://github.com/TheThingsNetwork/lorawan-stack/pull/1345

[2019-09-17 14:11] johanstokking commented on #510
Fine with me.

[2019-09-17 15:14] bafonins commented on #1018
Not sure exactly how to integrate it into error handling logic we have. I see two options:

Just throw an error on unknown route:
[code]

[code]

or use `react-router`:

[code]

[code]

cc @kschiffer

[2019-09-17 19:34] rvolosatovs opened #1362 "RPC correlation IDs not propagated to IS right calls"
#### Summary

RPC correlation IDs are not propagated to IS right calls

#### Steps to Reproduce

1. Perform a `asns.LinkApplication` call
2. Observe a set `X` of correlation IDs generated for the `LinkApplication` RPC request
3. Observe a different set `Y` of correlation IDs generated and passed to `ListRights` RPC on IS

See https://github.com/rvolosatovs/lorawan-stack/commit/d0d82eb832e8981efce6

[2019-09-18 08:33] kschiffer opened #1363 "Expose AS endpoints through rpc"
#### Summary
We need to expose the endpoints of the AS via RPC to be able to provide them to the user.

#### Why do we need this?
E.g. to display MQTT connection information to the user, especially in the console. The endpoint info is configurable, so it cannot be derived.

#### What is already there? What do you see now?
The configuration service of the API.

#### What is missing? What do you wan

[2019-09-18 09:30] htdvisser commented on #1362
This isn't a bug. Correlation IDs weren't designed to do this. They are meant to correlate LoRaWAN traffic, and they aren't propagated by default on any RPC. The only way to propagate Correlation IDs is to put them in the request messages, like what we do with uplink/downlink messages.

Why would we need to do this?

[2019-09-18 10:09] rvolosatovs commented on #1362
My understanding of this was that we would use correlation IDs for tracing of all RPCs, e.g. we could see the full chain of `LinkApplication` -> `ListRights` -> ???.
Closing this for now, please reopen if you think it's necessary.

[2019-09-18 10:09] #1362 closed

[2019-09-18 10:16] htdvisser commented on #1362
No, for distributed tracing of HTTP calls and RPCs we use OpenCensus (which is becoming OpenTelemetry)

[2019-09-18 11:03] bafonins opened #1364 "Fix rights modification of api keys with more rights than current user"
#### Summary

The users should be able to modify the rights of api keys if:
* The user has the `RIGHT_{ENTITY}_SETTINGS_API_KEYS` right
* The user has all added/removed rights of an api key

#### Why do we need this?

This functionality should be available to the users with the `RIGHT_{ENTITY}_SETTINGS_API_KEYS` right.
Consistency with how collaborator rights are handled, see https://github.com/Th

[2019-09-18 11:32] #1313 closed

[2019-09-18 11:46] htdvisser opened #1365 "Change pkg/events to only take one identifier per event"
#### Summary

We need to change pkg/events to only take one identifier per event instead of multiple.

#### Why do we need this?

To simplify the event subscription model in order to make it work with Cloud Pubsub

See also https://github.com/TheThingsIndustries/lorawan-stack/issues/1671

#### What is already there? What do you see now?

We allow multiple identifiers per event, but that's only act

[2019-09-18 12:21] #1204 closed

[2019-09-18 12:59] #235 closed

[2019-09-19 08:11] johanstokking commented on #1234
We pushed https://github.com/TheThingsNetwork/lorawan-stack/issues/579 to next up, but we need a quick and easy way not to enter root keys in the Console in the short term.

My suggestion would simply be a checkbox (default checked when JS is there) when creating a device, that shows or enables the root key fields.

[2019-09-19 08:27] htdvisser commented on #1234
Should we perhaps reword this issue to "hide device key fields when not applicable"? Then we could also hide the NwkKey, SNwkSIntKey and NwkSEncKey fields for pre-1.1 devices, as this is a bit confusing now.

[2019-09-19 10:17] bafonins commented on #1234
To clarify:
1. This is only applicable for OTAA devices
2. If JS is in the cluster `root_keys.app_key.key` and `root_keys.nwk_key.key` fields are disabled by default.

Something like this:
<img width="541" alt="Screenshot 2019-09-19 at 13 03 41" src="https://user-images.githubusercontent.com/16374166/65235653-b625bf00-dadf-11e9-90bb-b97693f7b153.png">

Is this correct?

[2019-09-19 12:49] rvolosatovs commented on #1234
1. Yes
2. No. The purpose of this is to be able to create a device on all components except JS, regardless of whether or not JS is present in the cluster. Console should provide an alternative to CLI flag `--join-server-enabled=false`. This is possible to do implicitly via root keys, but IMO the simplest and cleanest way to do this is what I proposed in https://github.com/TheThingsNetwork/lorawan-

[2019-09-19 14:14] #1364 closed

[2019-09-19 17:03] KrishnaIyer commented on #1140
@adriansmares, @mjamescompton and @johanstokking:
- I've created a feature branch for this `feature/gateway-documentation`. Please target all PRs to this branch.
- The first candidate is here: https://github.com/TheThingsNetwork/lorawan-stack/pull/1368

[2019-09-19 18:02] johanstokking commented on #1328
This is great

[2019-09-19 18:05] johanstokking commented on #1328
Afaik this is too much pingpong between NS and AS and becomes more of a trial-and-error approach. Also, we can throw it away when we implement your next proposal, which doesn't make it a good time investment.

I think this is the right and only approach to choose.

Yes

AS is only interested in maximum allowed `FRMPayload` and in nothing else, indeed.

[2019-09-20 07:24] #808 closed

[2019-09-20 08:03] IlyaBengard opened #1369 "error "WARN Link failed""
Good day! Now I start testing Stack v3. At start everything is started without errors, but at creation of application in a log the error is written:
stack_1 | WARN Task failed application_uid=111 error=rpc: no transport security set (use gps.WithInsecure() explicitly or set the credentials) invocation=15 namespace=applicationserver task_id=link
stack_1 | WARN Link failed application_uid=111 error=

[2019-09-20 09:19] KrishnaIyer opened #1370 "Forward Basic Station version info upstream"
#### Summary

Forward fields from the Basic Station `Version` message upstream.

#### Why do we need this?

To monitor versions of gateways.

#### What is already there? What do you see now?

`Version` message locally handled.

#### What is missing? What do you want to see?

Forward `model` and `station` fields of the version message.

#### Environment

`ttn-lw-stack v3.1.3`, Basic Station.

####

[2019-09-20 09:56] bafonins commented on #1234
👌

Currently, if the device is ABP nothing is sent to js and all js related values are removed from the payload. What is more, I dont see any reasons to show or keep the `External Join Server` checkbox checked since its value is wont be included in the submitted payload, see the form for ABP devices:
<img width="541" alt="Screenshot 2019-09-20 at 12 45 52" src="https://user-images.githubuserconten

[2019-09-20 11:11] johanstokking commented on #1234
That's good

Yes

Yes, this is good

[2019-09-20 11:20] johanstokking commented on #761
The channel plan for the gateway is basically only the channels on which to listen. So if AU915/6 and AS923-925 are overlapping, it doesn't matter for the gateway configuration.

Any downlink calculations (RX1/RX2 frequency and data rates) are carried out by the Network Server and are based on the end device's frequency plan(s), channel it used in those plans and the versioned PHY. This is regardl

[2019-09-20 11:25] johanstokking commented on #1369
@IlyaBengard thanks for reporting. Please use the bug report issue template next time.

I can confirm we should respect TLS settings for AS-NS linking. This is indeed a bug in how the link is setup. @adriansmares we need to set credentials if insecure is not set.

@IlyaBengard for now, can you set `TTN_LW_GRPC_ALLOW_INSECURE_FOR_CREDENTIALS=true` in the stack config?

[2019-09-20 11:32] htdvisser commented on #960
I think Coveralls is pretty clear here: https://coveralls.io/github/TheThingsNetwork/lorawan-stack

![Screenshot_2019-09-20 Coveralls io - Test Coverage History and Statistics](https://user-images.githubusercontent.com/181308/65323447-aecae800-dba9-11e9-9014-3f59db3e82a2.png)

Some of these packages (blob, email) require external services (s3,gcs,smtp,...) to be configured, and some of those tests