[2021-09-29 11:57] johanstokking opened #4678 "Expose interop for Backend Interfaces on Identity Server"
#### Summary

Expose interop for Backend Interfaces on Identity Server; at least to answer to `HomeNSReq`.

Blocked by https://github.com/TheThingsNetwork/lorawan-stack/issues/4677

#### Why do we need this?

For external services to get the home Network Server's NetID, tenant ID and cluster ID.

#### What is already there? What do you see now?

Interop is only exposed by Join Server to handle the

[2021-09-29 12:39] #4659 closed, assigned to adriansmares

[2021-09-29 15:32] johanstokking commented on #4478
The first part for 3.15.x is addressed in #4679.

When that is merged, we'll keep this issue open and we move it to a 3.16.x milestone where we can break the internal API compatibility.

[2021-09-29 15:33] johanstokking commented on #4677
Blocking #4678

[2021-09-30 05:50] johanstokking commented on #4478
#4679 is now merged, moving this to 3.16.0. It can be implemented in any version >= 3.16.0. No hurries, just good to resolve some technical debt.

[2021-09-30 10:26] johanstokking commented on #718
Updated original comment based.

Background for dynamic verification of presented client certificates: LoRA Alliance DNS may come with a Technical Recommendation for network operators to configure `TXT` (or `CERT`) records that present their CA public key(s). Other parties can then lookup the `TXT` record of the roaming partner by `SenderID` (= `NetID`) and check if the presented client certificat

[2021-10-01 08:51] kschiffer opened #4685 "Avoid consecutive disconnect/reconnect messages in the Live Data view"
#### Summary
The live data view currently shows many consecutive connect and reconnect events when the internet connection is lost. This is frequently the case when e.g. closing the laptop or leaving the browser tab unfocused for a long time. We should combine such messages so that only two are shown.

![image](https://user-images.githubusercontent.com/5710611/135591797-00876f24-0f80-46a8-a8a5-129

[2021-10-01 09:30] johanstokking commented on #2798
@KrishnaIyer I'd like to take over `joinserver.proto` as I'm working on a refactor (https://github.com/TheThingsNetwork/lorawan-stack/issues/4677).

[2021-10-01 09:57] KrishnaIyer commented on #2798
Ok sure 👍

[2021-10-01 10:02] #4648 closed, assigned to nobody

[2021-10-01 10:08] niclash opened #4686 "Internal Error reported"
#### Summary
Unable to create an end-device from command line tool `ttn-lw-cli`. I am using the free community cloud.

I am not sure if this is an internal server error as reported, or that it is not providing a meaningful error message about what I have done wrong.

[code]

results in
[code]

[2021-10-01 10:55] niclash commented on #4686
I seem to witness an issue with `--frequency-plan-id=EU_863_870_TTN`. If I drop it, it goes through.

And putting `network-server-address=eu1.cloud.thethings.network` (could also rely on default) is what I should have used in the first place.

[2021-10-01 11:41] niclash commented on #4686
So, for future readers; One needs to provide "everything" correctly or there is a great probability that this shows up.

For TTN developers; More informative error message would be nice.

Example of working command;
[code]

[2021-10-01 12:07] adriansmares opened #4688 "Release v3.15.1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-10-01 12:15] johanstokking opened #4689 "Remove reading deprecated Packet Broker claims"
#### Summary

Remove reading deprecated Packet Broker claims.

#### Why do we need this?

Clean up the codebase.

#### What is already there? What do you see now?

Currently we're checking claims in the namespace `https://iam.packetbroker.org/claims` and `https://iam.packetbroker.net/claims`.

#### What is missing? What do you want to see?

We should only be considering the last, as short-lived to

[2021-10-01 13:33] #4688 closed, assigned to adriansmares

[2021-10-02 06:08] ymgupta opened #4697 "Add Status Page references in the TTS console"
#### Summary
We have status pages for the operational status of The Things Stack deployments (TTS Cloud & TTS Community Edition) and Packet Broker. Mention these references in the TTS console so that users will be aware and easily redirected to the respective status pages to know the status in case of any incidents.
- TTS Cloud: https://status.thethings.industries/
- TTS Community Edition: https:/

[2021-10-02 17:52] sandorspruit opened #4698 "Annoying web UI bug: toolbar moving left/right very quickly"
#### Summary
The logo with the cloud and "The Things network" in the top left corner of the web UI seems to exist in two slightly different sizes. One has the text "network" in a slightly larger font. For some reason, they get swapped in and out, typically as I move my mouse across the page. As one image is a couple of pixels larger than the other, this causes a rather annoying distracting shiver

[2021-10-02 18:03] sandorspruit commented on #4698
<img width="1437" alt="Screenshot 2021-10-02 at 19 40 00" src="https://user-images.githubusercontent.com/19589827/135727313-1b44ccbe-4071-4d99-bc2c-c4b6b17d4186.png">

[2021-10-02 18:15] sandorspruit commented on #4698
As the image is a single SVG, the problem can't be related to an image getting updated on-mouse-over. I do see an error in the Safari developer tools about a specific font missing: https://assets.cloud.thethings.network/source-sans-pro-v13-latin_latin-ext-700.e7cfe2ca0e4a2f2caf7bfb2f11028e92.woff2. This is the larger of the fonts in the assets folder, so maybe the SVG gets rendered with the smalle

[2021-10-02 18:25] sandorspruit commented on #4698
Could very well be a Safari bug that I stumbled upon just now, e.g. something like this looks similar https://stackoverflow.com/questions/19215931/displaying-custom-fonts-in-svg-for-ios-chrome-and-safari

[2021-10-04 08:35] kschiffer opened #4700 "Replace automatic logout redirect with "log back in" modal"
#### Summary
Our current automatic redirect to the login flow when the session expired should be replaced by a more explicit flow that requires user action.

#### Why do we need this?
Using the automatic redirects has a couple of problems
- Prone to redirect loops
- Lacking clarity when the page suddenly refreshes through the auth flow
- Ending up on the login screen which due to OAuth2 technicali

[2021-10-04 12:16] johanstokking opened #4703 "Support Packet Broker authentication on interop server"
#### Summary

Support Packet Broker authentication on interop server

Follow up on #4677
Preparation for #4678

#### Why do we need this?

For Packet Broker to authenticate with Identity Server to call `HomeNSReq` using LoRaWAN Backend Interfaces.

#### What is already there? What do you see now?

Only TLS client authentication.

#### What is missing? What do you want to see?

Token-based authenti

[2021-10-04 14:31] kschiffer commented on #4650
Closing this for now. @romach please reopen if this does not resolve your problem.

[2021-10-04 14:31] #4650 closed, assigned to nobody

[2021-10-04 14:39] #4689 closed, assigned to johanstokking

[2021-10-04 14:53] htdvisser commented on #4686
What do you expect me to do here, @kschiffer?

[2021-10-04 14:55] kschiffer commented on #4686
Evaluate whether a 

is required and otherwise close this issue.

[2021-10-04 16:26] johanstokking opened #4709 "Merge Packet Broker localization and signal quality metadata in uplink messages"
#### Summary

Merge Packet Broker localization and signal quality metadata in uplink messages.

#### Why do we need this?

To not loose signal quality metadata of multiple antennas while there is a location available.

#### What is already there? What do you see now?

Currently, when location is set, only the signal quality from that metadata is included in an uplink message.

#### What is missing

[2021-10-05 05:38] ymgupta opened #4710 "Option to return the downlink queue size"
#### Summary
There is a limitation at the Network Server on the number of downlinks present in the downlink queue per device session, which is **10000**. For the users to respect this limitation, they should know the current downlink queue size.

#### Why do we need this?
To help the users to know the current downlink queue size.

#### What is already there? What do you see now?
Currently, users c

[2021-10-05 09:25] adriansmares commented on #3513
No longer blocked on https://github.com/TheThingsNetwork/lorawan-stack/issues/4346

[2021-10-05 09:36] kschiffer commented on #4379
While working on this I clean up the UX a bit more by:

1.  Adding tooltips and documentation for the last activity values
2.  Improve resolution of the last seen value (currently not using starting timestamp of sessions)
3.  Remove layout jumps due to changing width of the component
4.  Make pulse triggered by incoming messages

[2021-10-05 12:19] htdvisser commented on #4686
I was able to reproduce the error. Creating an end device in the Network Server can fail if you supply a frequency plan, but not the PHY version -- [details in Sentry](https://sentry.io/organizations/the-things-industries/issues/2470206875/?project=2732897) (TTI only).

For this specific error, there isn't much more information we can give to end users here. It was an internal server error, and at

[2021-10-05 12:19] #4686 closed, assigned to htdvisser

[2021-10-06 06:15] johanstokking commented on #4630
So the suggestion is for payload decoders to signal that there is GNSS data, and then let the LoRa Cloud application package check that value as a filter.

Does that mean that for each and every end device that may send GNSS values, we need to make sure that signal field is in the decoded payload?

Why does LoRa Cloud just not care about missing GNSS data?

LoRa Cloud is only considering FRMPayloa

[2021-10-06 06:24] adriansmares commented on #4630
This is more about Geolocation Services, rather than Device and Application Services.

While DAS will indeed have its own protocol that is opaque and does not need any external help in order to process / transmit the GNSS payload, this is not the case for GLS.

GLS is more barebones - you give it a GNSS payload, and it gives you back the location of the tracker. How thay payload reaches the API is

[2021-10-06 06:27] johanstokking commented on #4630
OK, I didn't realize this is Geolocation and not DAS, thanks for clearing that up.

And what if it's not there?

[2021-10-06 06:32] adriansmares commented on #4630
I would argue that the GLS request should not be done - then the order is:
- If no decoded payload is available, send the full frame.
- If the decoded payload is available, and there is no GNSS payload, do nothing.
- If the decoded payload is available, and there is a GNSS payload, send that.

[2021-10-06 08:43] ymgupta opened #4714 "Frequency plan showing as `n/a` in the console after creating a new gateway with assigned FP"
#### Summary
After creating/registering a new gateway in the TTS console, we see that the frequency plan info is `n/a`.  This is observed after the `TTS v3.15.1` scheduled maintenance.

#### Steps to Reproduce

1. Create/Register a gateway from the TTS Console
2. Specify any frequency plan (E.g., `EU_863_870_TTN`)
3. After creating the gateway, navigate to the gateway overview page and check the *

[2021-10-06 08:56] johanstokking commented on #4630
OK. And I'm presuming that this aligns with the WiFi lookup, right?

[2021-10-06 08:59] adriansmares commented on #4630
Indeed, and maybe we can move that to https://github.com/TheThingsNetwork/lorawan-application-payload too.

[2021-10-06 10:58] virtualguy opened #4715 "Buffer full warning while under load"
#### Summary
When under significant load the application server reports dropping uplink packets as the buffer is full.

#### Steps to Reproduce
1. Send lots of uplinks using the simulator OR subscribe to mqtt on a throttled connection

#### What do you see now?
[code]
 
#### What do you want to see instead?
No failed publish logs
...

#### Environment

TTS v3.14.2

#### How do you propose to imple

[2021-10-06 12:17] benolayinka commented on #4630
Currently, turning on GLS for an application performs GLS lookup for every device in the application, and produces an error in the console for every uplink if the payload is not raw GNSS data (which it almost never is). This would also prevent GLS calls for example for devices without LR1110 modems, and for all devices which don't have properly decoded LR1110 GNSS data.

[2021-10-07 08:32] kschiffer commented on #3075
Not required anymore. It is good to explicitly show the selected PHY version in the manual registration form.

[2021-10-07 08:32] #3075 closed, assigned to bafonins

[2021-10-07 08:37] kschiffer commented on #2440
This has since been implemented and can be set in the location settings of gateways.

![image](https://user-images.githubusercontent.com/5710611/136349633-865477ac-c265-4d2f-bbec-aab6c35c5e35.png)

[2021-10-07 11:54] #4519 closed, assigned to bafonins

[2021-10-07 12:08] benolayinka commented on #4056
+1 from customer feedback for this. I think this is worth adding a milestone to, since functionality already exists in the backend. @kschiffer @bafonins ?

[2021-10-07 12:09] benolayinka commented on #4056
Also in the long term, making all attributes and fields searchable would be really helpful.

[2021-10-08 08:11] pgalic96 commented on #4056
I remember a discussion about searching through all fields. The issue was that a search for a different field results in a somewhat different api call, and this needed some UX thought before implementation, cc @kschiffer

[2021-10-08 10:57] kschiffer commented on #4056
Yes, so we currently cannot search by ID **and** name, so the only way forward is implementing an advanced search feature that allows searching by different properties. This can be tracked here: #1825

[2021-10-08 14:39] #3320 closed, assigned to bafonins

[2021-10-09 15:39] #4677 closed, assigned to johanstokking

[2021-10-09 15:39] #4703 closed, assigned to johanstokking

[2021-10-09 17:02] johanstokking commented on #4678
Discussion point is what we do with the NetID and NSID that Identity Server returns.

For the NetID, there are three options:

1. Introduce new `is.network.net-id`. This is implemented in #4726
2. Introduce `net-id` at the top-level and make NS's NetID fallback to that if empty. I think this is less clean than (1), as we still have two configuration fields, and now with weird config if the top-lev

[2021-10-10 15:28] marcvanbracht opened #4730 "Alerting gateways UP and DOWN in TTN V3 (connected versus disconnected)"
#### Summary
Alerting gateways UP or DOWN in TTN V3 (connected versus disconnected)
Feature: sent an email when status af gateways change (name and current status (from UP tot DOWN of from DOWN to up) + date & time

#### Why do we need this?
The uptime and therefore coverage of the TTN Community network if important. The new TTN V3 stack has a better and more accurate status of a gateway. Know as

[2021-10-10 17:11] #4714 closed, assigned to bafonins

[2021-10-11 06:30] virtualguy commented on #4715
I wonder if the issue is the underlying MQTT server, perhaps the bigger size needs to be larger/configurable to handle higher packet volumes or high latency between AS and the subscribed client.

See: https://github.com/TheThingsIndustries/mystique/blob/24778eddf8e34b7da1abc83bc14011285cbb4a2b/pkg/session/session.go#L24

[2021-10-11 08:11] htdvisser commented on #4678
I think we just need to accept that our configuration is getting messier as we add features or move them around. Eventually we'll just have to re-think our configuration system and make sure we do it better when we bump to V4.

Until now we've always added (duplicated) options in the components where we need them. Only if _really_ all components use something, we added "global" configuration.

So

[2021-10-11 08:29] kschiffer commented on #4730
Thanks Marc for the feature suggestion.

[Cross-posting from the forum](https://www.thethingsnetwork.org/forum/t/ttn-console-v3-and-gateway-monitoring-alerting/52245/7?u=kschiffer):

We currently don't have a public issue that tracks this, since it hasn't left planning phase yet. I guess we can keep this one open until it can be replaced.

[2021-10-11 09:40] bafonins opened #4731 "Network Server panic on end device creation"
#### Summary

NS returns error 500 when creating a new end device and adding `"ids"` field mask. This is what I see in the logs:
[code]

#### Steps to Reproduce

1. Register application with `app-id`
2. Create end device in NS via this `curl` command:
[code]
3. See NS returning 500 on such request
4. Try removing the `"ids"` field mask from the request:
[code]

#### What do you see now?

NS return

[2021-10-11 09:40] bafonins commented on #4731
@adriansmares please assign milestone

[2021-10-11 09:41] kschiffer commented on #4698
Thanks for filing this issue @sandorspruit

I've applied a fix for this issue and it will be resolved in the community network in the next deployment. Closing this as such.

[2021-10-11 09:41] #4698 closed, assigned to kschiffer

[2021-10-11 11:20] benolayinka commented on #1825
Will this get a milestone?

[2021-10-11 11:40] htdvisser commented on #4056
We've been discussing multiple things:

1. The "advanced search" functionality where users can search on fields other than the ID, which would be implemented in the Console as something like GMail's advanced search:

<img width="705" alt="Screen Shot 2021-10-11 at 13 35 42" src="https://user-images.githubusercontent.com/181308/136783607-6645d703-7fdb-4727-878f-b9dd57eb6669.png">

This would just f

[2021-10-11 14:06] adriansmares commented on #2798
Picking up the `applicationserver_*.proto` files.

[2021-10-11 14:17] #4678 closed, assigned to johanstokking

[2021-10-12 07:57] htdvisser commented on #1825
Cross-posting my comment from #4056:

We've been discussing multiple things:

1. The "advanced search" functionality where users can search on fields other than the ID, which would be implemented in the Console as something like GMail's advanced search:

<img width="705" alt="Screen Shot 2021-10-11 at 13 35 42" src="https://user-images.githubusercontent.com/181308/136783607-6645d703-7fdb-4727-878f

[2021-10-12 08:10] benolayinka opened #4737 "Make search case-insensitive"
#### Summary

A user requested that search work for lower and upper case entities. I think this makes sense and is probably an easy win.

#### Why do we need this?

Makes search more useful

#### What is already there? What do you see now?

Case sensitive search

#### What is missing? What do you want to see?

Search "app" doesn't return "App" or "APP"

#### Can you do this yourself and submit a P

[2021-10-12 08:28] htdvisser commented on #4730
Adding this to the 2022 Conference milestone, since that's also the milestone for the design part of the Event Server.

I do want to manage expectations here. As @kschiffer already wrote on the forum, we haven't yet decided if / how much of this is going to be donated to the open-source edition of The Things Stack, and if / how much of this is going to be enabled on The Things Stack Community Edit

[2021-10-12 08:32] bafonins commented on #4731
Found another one. NS panic when no `lorawan_version` and `lorawan_phy_version` provided in creation request.

Without `lorawan_version` and `lorawan_phy_version`:

[code]

Response:

[code]

With `lorawan_version` and `lorawan_phy_version` inplace:

[code]

NS return 200 as expected

[2021-10-12 08:40] benolayinka commented on #1825
Yep, this would be awesome. I'm for implementing `#2` ASAP as this is critical, and then `#1` as gold plating

[2021-10-12 08:44] htdvisser commented on #1825
The thing is that everything for "advanced search" already exists in the backend. For the "universal search" there's still a lot of research that needs to be done before we can start doing this.

[2021-10-12 08:45] #2696 closed, assigned to adriansmares

[2021-10-12 09:35] htdvisser commented on #443
Moving this to v3.16.0 so that we can first measure how much performance we can actually gain from this after the changes in https://github.com/TheThingsNetwork/lorawan-stack/pull/4732.

[2021-10-12 09:38] johanstokking commented on #3970
From the Go 1.17 release notes:

So we _can_ configure the TLS cipher suites, even with TLS 1.2. That means that we can actually implement this issue.

The customer's problem is an internal security scanning tool that figured out that The Things Stack allows a certain cipher suite that this tool deems insecure. Regardless of that this TLS traffic is within their VPC, that the Go implementation of

[2021-10-12 10:56] adriansmares commented on #4715
The `"protocol": "applicationpackages"` related `buffer_full` errors should have been reduced heavily during `3.15.0`/`3.15.1` - we've had quite a lot of related work such as https://github.com/TheThingsNetwork/lorawan-stack/pull/4607, https://github.com/TheThingsNetwork/lorawan-stack/pull/4609, https://github.com/TheThingsNetwork/lorawan-stack/pull/4680. You will still probably want to tune up th

[2021-10-12 11:35] #4731 closed, assigned to adriansmares

[2021-10-12 12:14] #4737 closed, assigned to htdvisser

[2021-10-12 12:57] johanstokking opened #4741 "Support Backend Interfaces 1.1 `SenderNSID` authentication"
#### Summary

Support LoRaWAN Backend Interfaces 1.1 `SenderNSID` authentication

#### Why do we need this?

To authenticate requests using `SenderNSID` to actually be authenticated to use that NSID.

#### What is already there? What do you see now?

No authentication of the given `SenderNSID`. We also don't use it for anything at the moment, so that's fine.

#### What is missing? What do you want

[2021-10-12 14:13] htdvisser commented on #1825
I'll open a separate issue for "universal search". Let's use this issue to discuss "advanced search" only.

@kschiffer @pgalic96 can we maybe merge all of these issues into this one?

Searching on the Name field: https://github.com/TheThingsNetwork/lorawan-stack/issues/4056
Searching on the Gateway EUI field: https://github.com/TheThingsNetwork/lorawan-stack/issues/3327
Searching on the Attributes

[2021-10-13 08:22] romach commented on #4551
Hi @adriansmares I have similar problem in Australia region with device which has EUI 647FDA00000034F7.

Could you please delete it from IS/JS/AS ?

[2021-10-13 08:32] htdvisser commented on #3970
As I've commented before in the related issue, I don't think we should do this. I'm afraid that adding a such a config option will just make it easier to misconfigure a deployment, and it's really not our job to provide workarounds for false-positives coming out of some security scanning tool.

But if we really can't say no to this, a `tls.cipher-suites` indeed looks like the best option. There's

[2021-10-13 09:04] johanstokking commented on #3970
OK, let's do this then and mark it deprecated right away.

[2021-10-13 12:35] adriansmares commented on #3902
So we've finally analyzed this and can confirm that the Network Server behavior is racing. The bug report here is that if uplinks are sent 'as fast as possible' (as soon as RX2 closes), the NS _may_ sometimes consider that the previous acknowledgement came after the current uplink, and avoid sending an ACK.

We will make the acknowledgement decision no longer matter on the timing of the uplink.

[2021-10-14 09:45] adriansmares opened #4745 "Improve location solved upstream message"
#### Summary

The Location Solved message should include a timestamp and the metadata of the messages

#### Why do we need this?

In order to allow integrations to link a location solved message to a particular uplink

#### What is already there? What do you see now?

Only the location and the service name.

#### What is missing? What do you want to see?

A timestamp field, and a repeated field of

[2021-10-15 09:08] bafonins opened #4748 "Profile settings not reachable in mobile view in the Console"
#### Summary

Currently it is not possible to reach `Personal settings` page when using the Console in mobile view.

#### Steps to Reproduce

Profile dropdown in desktop view:

<img width="238" alt="Screenshot 2021-10-15 at 12 02 57" src="https://user-images.githubusercontent.com/16374166/137462559-c5cdcec3-c848-451f-beb5-1b720edbd195.png">

Profile dropdown in mobile view:

<img width="373" alt="

[2021-10-15 11:43] #4748 closed, assigned to kschiffer

[2021-10-15 16:21] #4379 closed, assigned to kschiffer

[2021-10-15 16:45] lanmarc77 commented on #4610
Small update.
I am certain now, that the NS is ignoring the fact that the end device has not set the ADR. It is sending a LinkADRReq. This should no happen if I read the LoRaWAN Spec 1.0.3 (which is my end devices version) correctly.
If the end devices nacks all or any of the three requested settings the NS simply ignores this and goes on persisting on sending LinkADRReqs. If the end devices answe

[2021-10-18 09:57] #3304 closed, assigned to htdvisser

[2021-10-18 11:54] #4378 closed, assigned to benolayinka

[2021-10-18 12:01] #3970 closed, assigned to michalborkowski96

[2021-10-19 09:58] #3145 closed, assigned to adriansmares

[2021-10-19 11:42] htdvisser commented on #2798
I'm working on the remaining `gogoproto.embed` options in `application.proto`, `client.proto`, `gateway.proto`, `organization.proto` and `user.proto` today.

[2021-10-19 15:08] bafonins opened #4761 "Inconsistent "Last seen" dispay for ABP end devices in the Console"
#### Summary

Currently, "Last seen" entry changes depending on how one gets to the end device overview page.

#### Steps to Reproduce

1. Create a new ABP device using the manual creation form
2. End up on the device overview page and observe `No activity` label
3. Go to the end device list via the breadcrumb entry
4. See the last seen entry showing active connection
5. Go to the device overview

[2021-10-20 09:22] michalborkowski96 opened #4764 "Certain configuration values are ignored"
#### Summary
In the Dockerfile we set the following environmental variables:

[code]

Since environmental variables take precedence over configuration file, if someone redefines them in the config file, these values will be ignored.

#### Steps to Reproduce
1. Add `is: database-uri` to the config file
2. Start the stack

#### What do you see now?
The value is ignored

#### What do you want to see

[2021-10-20 14:54] kschiffer opened #4766 "Merge session fields correctly"
#### Summary
When creating an ABP end device, the `session.started_at` property in the AS is set to `0001-01-01T00:00:00Z`. This is not a helpful value.

#### Steps to Reproduce

1. Go to the console
2. Using the manual creation, create an end device
3. Observe network tab of the browser, observe the response for the AS query of the end device
4. See that the `session.started_at` value is set to `

[2021-10-21 08:15] #4761 closed, assigned to kschiffer

[2021-10-21 11:53] kschiffer commented on #1095
Closed via #4754

[2021-10-21 11:59] htdvisser commented on #4212
Re-opening as there are still some release-blocking problems with this feature.

[2021-10-22 04:24] virtualguy commented on #4715
This is still occuring on 3.15.1. I have manually set the buffer size on mystque to 1024 and that resolved the majority of the buffer full messages. I'd appreciate if you have time to look at our metrics (attached) as we still get 'work dropped'. I can ship you a bunch of logs via email if needed.

We are running pretty two dedicated subscribers on fargate in the same region as the ec2 so it shoul

[2021-10-22 09:36] #4212 closed, assigned to pgalic96

[2021-10-25 14:30] kschiffer opened #4782 "Fix skip payload crypto settings in the Console"
#### Summary
The Console currently only allows setting `Skip payload crypto` on the device level. It should also be possible to set the payload cypto skipping on the link (Application) level. Additionally, the field should allow three states -> Enabled, disabled, default.

Please see also: https://github.com/TheThingsIndustries/lorawan-stack-support/issues/485

#### Why do we need this?
The incomp

[2021-10-25 14:47] sanijs opened #4783 "Gateway status is slow to be updated using LBS"
#### Summary
When using LoRa Basics Station the status in the console is slow to update if the gateway gets disconnected.

#### Steps to Reproduce
1. Turn on gateway using LBS

2. Unplug the gateway and wait

3. Wait for the status in the console to update or use
ttn-lw-cli gateway get-connection-stats <gtw_id> or
TTI API: v3/gs/gateways/<gtw_id>/connection/stats

to check when gateway goes offlin

[2021-10-25 14:54] ryaplots commented on #4782
I will try

[2021-10-25 15:25] kschiffer commented on #3890
@NicolasMrad please provide some info so we can proceed with planning.

[2021-10-25 15:41] kschiffer commented on #3831
What needs to be done here (as a short term improvement) is:

1.  On device lists, gray out the device ID for devices on other clusters (also disable clicks)
2.  Show `Other host` as a status
3.  Add a tooltip to the status reading. See text below.
4.  Do not allow deleting or restoring such end devices
5.  Do not allow navigating manually to such end devices (redirect back to applications)

The t

[2021-10-26 08:55] htdvisser commented on #2627
Let's add this to the quarterly milestone. We haven't been able to upgrade Echo since v4.1.2 (released Apr 29, 2019) which is a really long time. At the same time, we don't actually _need_ Echo, because we also use Gorilla mux router, so let's just remove what's left of Echo.

[2021-10-26 08:59] htdvisser commented on #135
With https://github.com/TheThingsNetwork/lorawan-stack/pull/2214 we have the `--all` flag. I don't think we need `--all-is`, `--all-ns`, `--all-as` or `--all-js` anymore.

[2021-10-26 10:04] htdvisser commented on #2798
The following files still have `gogoproto.embed` options left:

- [x] `api/applicationserver_web.proto`
- [ ] `api/end_device.proto`
- [ ] `api/identifiers.proto`
- [x] `api/identityserver.proto`
- [ ] `api/join.proto`
- [ ] `api/lorawan.proto`
- [x] `api/message_services.proto`
- [x] `api/messages.proto`
- [x] `api/metadata.proto`
- [x] `api/oauth.proto`
- [x] `api/rights.proto`
- [x] `api/search

[2021-10-26 10:23] adriansmares opened #4784 "Buttons on the gateway table cannot be pressed"
#### Summary

Clicking on the buttons in the gateways table opens the overview page for the gateway. I've tested this with the EUI copy button, and the admin purge / restore.

#### Steps to Reproduce

1. Go to the gateways table in the Console.
2. Attempt to click on a gateway related button (let's say EUI)

#### What do you see now?

3. The action is not taken, and you are redirected to the gatew

[2021-10-26 10:50] kschiffer commented on #4784
@bafonins please have a look. I could imagine that this has to do with #4749.

[2021-10-26 12:13] kschiffer opened #4787 "Refactor table component to enable usage of `<a />` tags"
#### Summary
We currently use a `<table />`-based layout for our `<Table />` component. While that seems to be semantically correct, it brings some issues that are specific to how the table model works in HTML. We should hence refactor the table component to use a regular `<div />` layout and reproduce table cells using flex-box.

#### Why do we need this?
- To use proper `</a>` tags for table row

[2021-10-26 12:14] kschiffer commented on #4641
Using the middle mouse (or function key) to open the entity in a new row has been added in 3.15.2. For the remaining issue of refactoring the table component to use a `div` layout, see #4787

[2021-10-26 12:19] jpmeijers commented on #4641
No, the current behaviour is worse than before. Please reopen this issue.

What I currently see is that a right-click behaves like a left-click, opening the device/gateway in the current tab.

Middle mouse and ctrl+click will not work is all circumstances. Please implement this like it was in the V2 console where one can right-click - open in new tab.

[2021-10-26 12:21] jpmeijers commented on #4641
More context:
I broke my right arm while riding my bicycle (TTN Mapping). I now need to use my mouse in my left hand. It is almost impossible clicking on the wheel on my mouse without rolling it. Ctrl-click is also not possible as I only have one hand to work with: ie only mouse or only keyboard. The V2 behaviour of rightclick, then open in new tab is single (non dominant) hand friendly.

[2021-10-26 12:24] kschiffer commented on #4641
I can confirm and this change was not intended. We will fix that first and then work on the general refactor. Sorry for the trouble.

[2021-10-26 12:35] jpmeijers commented on #4641
Further testing indicates that none of my modifier keys plus a left-click opens the device in a new tab.

Modifier keys tested: Left Shift, Left Ctrl, Left Alt, Right Alt, Right Ctrl, Right Shift.
Operating system: Ubuntu 20.04
Browser: Chrome Version 95.0.4638.54 (Official Build) (64-bit)

And in case you were wondering, this is how I had to do this:

![20211026_143348](https://user-images.github

[2021-10-26 18:44] adriansmares commented on #4715
I've checked our internal metrics and we don't really see `_fanout` drops. I'd recommend increasing `--as.packages.workers`, `--as.webhooks.queue-size` and `--as.webhooks.workers`. Feel free to go into thousands - the workers are spawned and kept alive only if they are needed.

Regarding webhook deadlocks - from what we know, it is this infamous beauty: https://github.com/golang/go/issues/32388, w

[2021-10-27 07:51] htdvisser commented on #2798
I'm picking up the `gogoproto.embed` options in `identityserver.proto`, `oauth.proto`, `rights.proto` and `search_services.proto` today.

[2021-10-27 08:49] johanstokking commented on #4766
`started_at` is currently non-nullable (refs #2798), so we can't really avoid returning an empty time. What we can do, however, is fix that AS sets `started_at` and returns a non-empty value for `started_at`.

According to API specification, `started_at` should only be observed from Network Server.

[2021-10-27 08:56] johanstokking commented on #4766
@kschiffer the best approach is to merge the session in a smarter way.

NS is in charge of lifetime (so `started_at`), `dev_addr`, `keys.{f,s}_nwk_s_int_key`, `keys.nwk_s_enc_key`, `last_f_cnt_up`, `last_n_f_cnt_down`, `last_conf_f_cnt_down`

AS is in charge of `keys.app_s_key`, `last_a_f_cnt_down` and you can best fetch `queued_application_downlinks` from AS.

The fix in #4791 only makes sure tha

[2021-10-27 09:09] johanstokking commented on #2627
So we have:

- `pkg/account`, `pkg/oauth`, `pkg/web/oauthclient`: @kschiffer
- `pkg/basicstation/cups`: @KrishnaIyer
- `pkg/console` and `pkg/webui`: @pgalic96 (touched these files last week and usage is very minimal)
- `pkg/gatewayserver/io/ws`: @KrishnaIyer
- `pkg/web/middleware`: @pgalic96 (needs non-echo variants)

General cleanup, may depend on the above (?)
- `pkg/errors/web`: @htdvisser
- `

[2021-10-27 13:28] KrishnaIyer commented on #4764
@htdvisser we discussed this in the context of `lorawan-stack-migrate`. Does env take precedence over config?

I think @michalborkowski96's suggestion of running a script makes sense. What do you think?

[2021-10-27 13:51] htdvisser commented on #4764
Config precedence is FLAGS > ENV > FILE.

The problem is that somewhere in the past we decided to set environment in the Dockerfile. We shouldn't have done that, but if we remove it now, we may break some old Docker-based deployments (that didn't have the `TTN_LW_IS_DATABASE_URI` configured in docker-compose). So this would technically be a breaking change that requires a major version bump.

[2021-10-27 14:17] michalborkowski96 commented on #4764
@htdvisser

I think you misunderstood what I wrote.

The only broken deployments would be these that set `is: database-uri` in config, but rely on this config being ignored.

[2021-10-28 06:33] htdvisser commented on #2627
Those should all already exist in `pkg/webmiddleware`.

[2021-10-28 06:54] htdvisser commented on #4764
Okay, so what you're proposing is to remove the `ENV` from `Dockerfile`, and instead create a script that only sets those ENV if nothing else is configured?

This may get a bit complicated to do in a script, because there's a lot of logic in `ttn-lw-*` for config search paths, merging the file, env and flags, etc. Perhaps we can modify `ttn-lw-* config` commands to return a list of only explicitly

[2021-10-28 07:27] michalborkowski96 commented on #4764
Sounds like a good idea

[2021-10-28 11:15] adriansmares commented on #2798
Taking `api/message_services.proto`

Edit: This API in unused, will pickup `events.proto` and `gateway.proto`.

[2021-10-29 11:58] #14 closed, assigned to pgalic96

[2021-10-29 14:00] KrishnaIyer opened #4804 "Basicstation does not implement reftime for dntxed message"
#### Summary

Basicstation does not implement reftime for dntxed message.
And it never did apparently https://github.com/lorabasics/basicstation/blob/f8b9dcb98ca5d3aabc1bb619b9648664d2ecdf47/src/s2e.c#L247-L256 🤦

`reftime` is a part of the `RadioMetadata` object which is a part of only `JoinRequest`, `Uplink` and `Proprietary` frames. However this is not documented; https://doc.sm.tc/station/tcpr

[2021-10-29 14:14] adriansmares commented on #4804
Specifically, every transmission acknowledgement causes that warning. No RTT is recorded since we're recording it for the only message in the whole protocol that doesn't use a `RefTime`.

---

I have revisited https://github.com/TheThingsIndustries/lorawan-stack-support/issues/203#issuecomment-732805329 and I have a couple of comments:

- I think that we should actually record the RTT if
  a. It i

[2021-11-01 08:35] htdvisser commented on #2798
Today I'm going to remove `gogoproto.nullable` from timestamps in `application.proto`, `client.proto`, `oauth.proto`, `organization.proto`, `rights.proto` and `user.proto`.

[2021-11-01 09:15] #4478 closed, assigned to johanstokking

[2021-11-02 10:37] michalborkowski96 commented on #4764
https://github.com/TheThingsNetwork/lorawan-stack/pull/4800

[2021-11-02 14:14] johanstokking commented on #2
We are reconsidering when and where this will be implemented. This is closed until further notice.

[2021-11-02 14:14] #2 closed

[2021-11-02 14:27] #4654 closed, assigned to pgalic96

[2021-11-03 09:18] pgalic96 commented on #1825
I am fine with this, but does it mean we should halt work on the separate search issues? We currently need UX/UI design for "advanced search" and/or separate search fields for each field that would be searchable. cc @kschiffer
I have https://github.com/TheThingsNetwork/lorawan-stack/issues/3327 assigned in this milestone but I think we first need a decision on how we want to approach this. I sugge

[2021-11-03 10:41] virtualguy opened #4816 "Gateway fails to get gps_sync"
#### Summary
Using a Tektelic Kona Macro with the udp packet forwarder the gateway doesn't syncronise absolute time although the gps is running. It appears the gateway sends the `tmms` field but not a `time` field.

This leads to being unable to send class b messages due to no gps_sync

#### Steps to Reproduce
1. Connect a tektelic gateway with gps to TTS
2. Send uplinks, optionally from a device

[2021-11-03 10:52] adriansmares commented on #4816
I guess this diff could probably fix it:

[code]

The problem is that I don't actually know what the protocol says about this, I [see](https://github.com/Lora-net/packet_forwarder/blob/d0226eae6e7b6bbaec6117d0d2372bf17819c438/PROTOCOL.TXT#L442-L444) only that they added the field, not that they are no longer backfilling `time`. The reference implementation [adds both](https://github.com/Lora-net/p

[2021-11-03 11:01] #3546 closed, assigned to KrishnaIyer

[2021-11-03 11:01] adriansmares commented on #4804
Closed in #4805

[2021-11-03 11:02] #4804 closed, assigned to KrishnaIyer, johanstokking, adriansmares

[2021-11-03 11:14] johanstokking commented on #4816
We should use `tmms` only.

Using `time` for absolute time is problematic. As you see in @virtualguy's example, sometimes there's no second fraction and sometimes there is (see reference implementation snippet that @adriansmares referred to). Second precision isn't enough for class B, so if anything, we should prefer `tmms` over `time`, but I think we should only consider `tmms`.

[2021-11-03 11:21] adriansmares commented on #4610
Keep in mind that the end-device rejects individual data rate indices / transmission powers / number of retransmissions. Within a singular session, the Network Server will not attempt to send the same tuple again, if the end device rejected the values, but it may attempt to send different tuples that the end device. The end device cannot stop the algorithm unilaterally.

Also `LinkADRReq` may be u

[2021-11-03 11:56] adriansmares commented on #4816
The first message is a status message, and we don't do clock sync with those, so I think giving priority to `tmms` over `time` should be adequate (instead of just `tmms`).

Edit: The timestamp is without fractional time as well [in the reference implementation](https://github.com/Lora-net/packet_forwarder/blob/d0226eae6e7b6bbaec6117d0d2372bf17819c438/lora_pkt_fwd/src/lora_pkt_fwd.c#L1253) for stat

[2021-11-03 13:05] #4816 closed, assigned to KrishnaIyer, johanstokking, adriansmares

[2021-11-03 13:35] #4641 closed, assigned to bafonins

[2021-11-03 13:35] #4787 closed, assigned to kschiffer

[2021-11-03 13:35] #4784 closed, assigned to bafonins

[2021-11-03 16:25] #13 closed

[2021-11-04 10:22] virtualguy opened #4823 "UDP Gateway drops gps sync on tx event"
#### Summary
When the scheduler sends a tx event for a gateway it attempts a time sync using the uplink token.

This clock sync sets the gateway time to nil and then stops class b downlinks until the next uplink.

For busy gateways this may not be evident as they may recieive another uplink before the RX1/RX2 time

#### Steps to Reproduce
1. Connect gateway with gps
2. Run a single node in class b

[2021-11-04 10:33] adriansmares commented on #4823
I guess the uplink token should contain the absolute gateway time (`time`/`tmms`) in order to allow synchronization with absolute time via the uplink token.

[2021-11-04 12:19] johanstokking commented on #4823
Yes indeed

[2021-11-04 12:34] adriansmares commented on #2798
Picking up `embed`/`nullable` in `lorawan.proto` for gateway related entities, will add the rest later.

[2021-11-06 16:40] lanmarc77 commented on #4610
As usual not much is as it seems at first sight. I could not reproduce the SF12 problem. But this was only one problem. I now discovered that the cause might be the adr setting in the stack. I originally wanted to get the same behaviour of v3 like in v2 for my old mac 1.0.3 nodes. Funny thing, if I set adr to false I get a lot of adr requests, if I set it to true I get none. A bit paradox to me.
I

[2021-11-08 08:13] #4764 closed, assigned to michalborkowski96

[2021-11-08 09:16] htdvisser commented on #443
After doing some profiling of production deployments, it doesn't look like this will make much difference.

Access key + Client / API key + User lookups in the database cost < 5 ms, so this isn't really an issue. PBKDF2 hashing was already made less time-consuming for Access Keys and API keys by lowering the number of iterations in https://github.com/TheThingsNetwork/lorawan-stack/pull/3038 there.

[2021-11-08 09:16] #443 closed

[2021-11-08 10:39] #4823 closed, assigned to adriansmares

[2021-11-08 12:54] htdvisser opened #4833 "Allow admins to list entities of a specific user or organization in Console"
#### Summary

The Console should allow admins to list entities of a specific user or organization.

#### Why do we need this?

So that admins / support staff can see what the regular user sees without having to use the CLI.

#### What is already there? What do you see now?

There is API and the CLI already supports listing entities of users/organizations.

The Console only lets admins list their o

[2021-11-08 12:58] htdvisser opened #4834 "Filter end device event types that are forwarded to applications"
#### Summary

We need to filter which end device events are forwarded to the application event stream.

#### Why do we need this?

Because currently event streams can't keep up with large applications.

#### What is already there? What do you see now?

All end device events are forwarded to application event streams. This means that for applications with thousands of devices the event stream won't

[2021-11-08 13:05] htdvisser opened #4835 "Make it easier to configure Basic Auth for webhook integrations in the Console"
#### Summary

We need to make it easier to configure Basic auth for webook integrations.

#### Why do we need this?

Basic Auth is a very common auth method for (self-built) integrations, so it would be nice if we could make the Console handle this as a special case.

#### What is already there? What do you see now?

All headers are treated the same.

#### What is missing? What do you want to see?

[2021-11-08 13:20] htdvisser opened #4836 "Update Gateway attributes for TTKG version"
#### Summary

We should update the version information of The Things Kickstarter Gateways in the Identity Server when it changes.

#### What is already there? What do you see now?

We update `station`, `firmware` and `package` attributes for Basic Station gateways, so that we can show gateway owners what firmware versions their gateways are running.

#### What is missing? What do you want to see?

[2021-11-08 14:54] #4184 closed, assigned to nobody

[2021-11-08 21:08] adriansmares opened #4838 "Downlink path sorting algorithm"
#### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/pull/4812

The sorting algorithm used to select which downlink path is to be used to transmit a downlink should take into account more than just SNR, and invalid `RSSI/SNR` pairs should not be given any priority.

#### Why is this an experimental feature ?

The algorithm change sits at the core of the Network Server, and ca

[2021-11-09 09:34] KrishnaIyer commented on #4783
I can reproduce this. I'll get back here with some more details.

[2021-11-09 10:28] kschiffer commented on #4834
Related to #2887

[2021-11-09 11:24] pgalic96 commented on #3327
Closed because separate issues are merged together #1825

[2021-11-09 11:24] #3327 closed, assigned to pgalic96

[2021-11-09 11:26] pgalic96 commented on #2586
Closed because separate issues are merged together #1825

[2021-11-09 11:26] #2586 closed

[2021-11-09 11:26] pgalic96 commented on #4056
Closed because separate issues are merged together #1825

[2021-11-09 11:26] pgalic96 commented on #4056
Closed because separate issues are merged together #1825

[2021-11-09 11:26] #4056 closed, assigned to pgalic96

[2021-11-09 12:44] johanstokking opened #4840 "Report Join Server's default JoinEUI"
#### Summary

Report default JoinEUI

#### Why do we need this?

To make sure that JoinEUIs make sense and for future compatibility with interoperability between network servers.

#### What is already there? What do you see now?

Join Servers are configured with JoinEUI prefixes.

#### What is missing? What do you want to see?

A default JoinEUI within the configured prefix that can be retrieved v

[2021-11-09 13:32] johanstokking opened #4841 "Device Claiming Server"
#### Summary

Implement a Device Claiming Server.

#### Why do we need this?

To facilitate claiming of end devices.

#### What is already there? What do you see now?

We currently have a proprietary implementation of the Device Claiming Server. This issue replaces at least the end device claiming part and makes the DCS component groundwork open source.

#### What is missing? What do you want to s

[2021-11-09 13:53] johanstokking opened #4842 "Get device information by vendor ID and profile ID"
#### Summary

Get device information by (numeric) vendor ID and profile ID

#### Why do we need this?

To fill out fields when onboarding devices with a QR code that contains the vendor ID and profile ID per LoRa Alliance TR005.

#### What is already there? What do you see now?

We keep track of vendor IDs and model IDs in the Device Repository, but we don't have an API to retrieve an end device m

[2021-11-09 14:59] johanstokking opened #4845 "Parse QR code"
#### Summary

Parse QR code via a new gRPC service

#### Why do we need this?

To not rely on QR code format implementations in the front-end

#### What is already there? What do you see now?

We have a `EndDeviceQRCodeGenerator` service that generates QR codes for end devices.

#### What is missing? What do you want to see?

We need a `QRCodeParser` service that can parse QR codes for anything it

[2021-11-09 14:59] lnlp opened #4846 "Console > Applications > Live data - must show best SNR/RSSI pair instead of only values from first gateway"
#### Summary
In 'Console > Applications > _application_ > Live data' entries, SNR and RSSI values are displayed.
Currently these SNR and RSSI values are taken from the first gateway listed in the JSON data which makes no sense.

When an uplink is received by multiple gateways, always displaying SNR and RSSI values only from the first gateway makes no sense. From application perspective this is not

[2021-11-09 15:35] johanstokking opened #4847 "End device onboarding flow"
#### Summary

New end device onboarding flow

Replaces #3770
Blocked by #4840
Blocked by #4841
Blocked by #4845

#### Why do we need this?

To make it even easier to onboard new end devices by scanning QR codes.

Also we need to remove the creation on an external Join Server and integrate device claiming in the onboarding process.

For most end users, device creation and claiming is conceptually t

[2021-11-09 15:37] johanstokking commented on #3770
Replaced by https://github.com/TheThingsNetwork/lorawan-stack/issues/4847

[2021-11-09 15:37] #3770 closed, assigned to johanstokking

[2021-11-09 16:46] kschiffer opened #4850 "Show "Last activity" when a gateway is offline"
#### Summary
For offline or disconnected gateways, the Console should display when they were last active (if applicable).

#### Why do we need this?
Better diagnosing/debugging. This is also a feature gap from v2.

#### What is already there? What do you see now?
Last activity values for connected gateways

#### What is missing? What do you want to see?
Instead of showing `DIsconnected` as the gat

[2021-11-09 16:57] adriansmares commented on #4850
I think it would be 'cleaner' to make the connection stats also persist after the gateway has been disconnected, perhaps for a period such as 24-48 hours. We can then add a field `disconnected_at`, that would be mutually exclusive with `connected_at`, representing the time at which the gateway did disconnect. The frontend can then decide if the gateway is connected based on the field which is pres

[2021-11-09 21:10] adriansmares opened #4852 "Basic Station time transfer propagation"
#### Summary

The Basic Station time transfer algorithm should transfer `gpstime` from PPS/GPS enabled gateways to other gateways on frame reception.

#### Why do we need this?

The current time transfer algorithm is subject to RTT variations, while the propagation variant is not.

#### What is already there? What do you see now?

The server attempts to transform a server timestamp into a concentr

[2021-11-09 21:19] #4709 closed, assigned to johanstokking

[2021-11-09 21:42] adriansmares opened #4853 "Gateway absolute time synchronization should taken into consideration timestamp granularity"
#### Summary

Our current Gateway absolute time synchronization logic is rather unapologetic - if `TxSettings.Time` is available, we consider that to be a gateway absolute timestamp:
https://github.com/TheThingsNetwork/lorawan-stack/blob/0b83c294b96458a47382fcdd373292187f6763f4/pkg/gatewayserver/io/io.go#L210-L224

We should not synchronize the gateway time if the accuracy is not known to be close

[2021-11-09 23:28] adriansmares opened #4855 "Display gateway connection stats in the Console"
#### Summary

It would be nice if the Console would show more gateway connection statistics, if they are available, in the gateway overview form

#### Why do we need this?

Greater gateway debugging capabilities

#### What is already there? What do you see now?

Frame counters (up/down), and last activity meters

#### What is missing? What do you want to see?

- The protocol name
- A small table w

[2021-11-10 08:03] KrishnaIyer commented on #4841
This sounds good to me.

In both these cases, what auth would the user provide and how to assign rights? If we allow anyone to query if a particular EUI is claimed or not, wouldn't we be allowing users to scan the claim status of every EUI possible? In Gateway claiming, we return "error already claimed" only after we validate the CAC for the EUI (but then we have the IS there).

I think users shou

[2021-11-10 08:20] johanstokking opened #4857 "Email validation errors with "token already used""
#### Summary

Email validation for invited users errors with an error message that the token was already used.

#### Steps to Reproduce

1. Invite user via CLI
2. User registers
3. User receives email with validation token
4. User clicks link, errors with token already used

Strangely enough:

5. User logins with CLI
6. User copy pastes command from the email
7. Validation succeeds
8. Retry result

[2021-11-10 10:52] htdvisser commented on #4834
The most chatty end device events are:

- `ns.up.data.receive` (which is published for each duplicate)
- `ns.up.data.drop`
- `ns.up.data.process`
- `ns.up.data.forward`
- `as.up.data.receive`
- `as.up.data.forward`
- `ns.down.data.schedule.attempt`
- `ns.down.data.schedule.success`
- `as.packages.storage.up.store`
- `ns.mac.link_adr.request`
- `ns.mac.dev_status.request`
- `ns.mac.new_channel.requ

[2021-11-10 11:03] kschiffer commented on #4834
I'm happy with any irrelevant event type that we can omit by default. 

Also compare with what events we show by default in the Console:

[code]

[2021-11-10 11:04] #4564 closed, assigned to kschiffer

[2021-11-10 11:14] kschiffer commented on #3606
Little reminder for me, @bafonins, and @ryaplots to keep the list above updated and to periodically check back whether some of those can be picked up by us.

[2021-11-10 11:24] adriansmares commented on #4834
I'd like to see how things perform after https://github.com/TheThingsNetwork/lorawan-stack/pull/4831 . If this is still an issue, we can indeed start slashing a bit the NS events.

[2021-11-10 11:27] htdvisser commented on #4834
This is only partly related to #4831. While #4831 improves the performance on the event subscriber side, this issue is trying to improve the performance on the event publisher side, and of the pub/sub system (usually Redis).

[2021-11-10 11:53] adriansmares commented on #4834
My only concern is that this behavior is inconsistent - It's slightly weird that normal I would go to the application `Live Data` and see _some events_ only, given that before I saw everything. But I fully agree that an incomplete and inconsistent stream won't help much (maybe only for programmatic consumers), and that this becomes worse with scale.

I can't fully find where this occurs in the pub

[2021-11-10 12:12] htdvisser commented on #4834
We currently don't actually drop them, which means that the event system will probably just grind to a halt, which would impact everyone instead of just the concerning application.

https://github.com/TheThingsNetwork/lorawan-stack/blob/bb54ef7af244e85b55c5311e64f41376fffbe919/pkg/events/basic/subscription.go#L67-L70

https://github.com/TheThingsNetwork/lorawan-stack/blob/bb54ef7af244e85b55c5311e6

[2021-11-10 14:05] jpmeijers commented on #2708
At the moment we are being reminded that we need to migrate our devices from V2 to V3 before 1 December. One of my applications - `izinto_lacuna_prototypes` - relies on disabling frame counter checks. The frame counter checks in V3 is preventing me from using these devices on V3.

What am I supposed to do?

[2021-11-10 17:06] pgalic96 commented on #4857
hmmm can't reproduce locally in TTOS, going to try other setups

[2021-11-11 08:49] johanstokking commented on #4841
The rpc `GetInfoByJoinEUI()` is only taking a JoinEUI. Whether claiming is supported by a JoinEUI is pretty much public, it will be in DNS in the future anyway.

The rpc `GetClaimStatus()` requires application rights. DCS takes `EndDeviceIdentifiers` and checks rights to the application. DCS then dials out to the Join Server to get the claim status by DevEUI.

[2021-11-11 08:59] johanstokking commented on #2708
@jpmeijers this issue is about gateways sending traffic out-of-order, not individual end devices that only use FCnt = 0.

We cannot reliably support end devices that only transmit with FCnt = 0. If you really can't do anything else, at least use a random FCnt.

[2021-11-11 09:22] htdvisser commented on #4841
That's also what gRPC will return if we remove the implementations.

We can apply the same logic as with some of our other "public" RPCs: accepting any valid auth token on the network.

How would this work with self-hosted Open Source / Enterprise deployments and with Dedicated Cloud deployments? Wouldn't it make more sense to have only a single DCS for each network, deployed together with the IS?

[2021-11-11 12:42] jpmeijers commented on #2708
The Lacuna device has a single ABP session used for both terrestrial and space gateways. Every 30 minutes the devices sends a message via the terrestrial network. When a satellite is overhead the devices sends a couple of messages via the space network.

The space side of things buffer messages and forwards them to TTN when the satellite is over a ground station. This can happen anywhere between 3

[2021-11-11 12:59] johanstokking commented on #2708
I see the use case. Do note that V3 _does_ support resetting FCnt, but from 0 to 0 is not considered a reset.

I just spoke with the Lacuna guys and what we're likely going to do is support multiple sessions within an end device.

[2021-11-11 13:07] johanstokking commented on #4841
Per Backend Interfaces, Join Server associates an AS-ID with an end device. This is a string, fortunately not an EUI64 this time; I'd say for TTS we use cluster addresses as AS-IDs.

We could take the IS address as the AS-ID, and indeed deploy DCS with IS, but it's not only DCS that needs to authenticate with JS but also AS (to recover the AppSKey). Therefore, I think it is reasonable to assign an

[2021-11-11 14:36] jpmeijers commented on #2708
Yes that is indeed a workaround that has been used recently. It does however mean one loses the "seamless roaming" between the two networks like we had before, and how this was advertised.

[2021-11-12 08:41] htdvisser opened #4862 "Release v3.16.0"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-11-12 10:02] mikkp17 opened #4864 "Cannot restore/purge gateways if they have been deleted"
#### Summary

Administrators cannot release/purge or restore gateway IDs in the console if they have been deleted by other users or through API, even though they show up under "Deleted (Admin)". The EUI is released correctly.
When trying to restore or purge, the server makes a request to **api/v3/gateways/{gateway_id}/rights**, which returns 404.

#### Steps to Reproduce

1. Create a gateway using

[2021-11-12 10:17] johanstokking commented on #2708
Advertised by whom? What we advertise is LoRaWAN compatibility.

[2021-11-12 12:08] htdvisser commented on #4345
Updated.

[code]

Apparently max expiry is a year, so it didn't accept January 2023.

[2021-11-12 12:28] KrishnaIyer commented on #2798
I'm picking up `api/messages.proto` today. This one is a PITA.

[2021-11-12 12:37] jpmeijers commented on #2708
https://youtu.be/iwocSYupdIQ?list=PLM8eOeiKY7JV5KMwomW4cJrKB42ItPyey&t=28

[2021-11-12 12:48] tftelkamp commented on #2708
Regardless if "seamless roaming" implies a single session or not, ignoring frame counters on ABP sessions is something we need to move away from, even though it can be very convenient for testing. Let's focus on a secure solution, and make that seamless.

[2021-11-12 13:29] jpmeijers commented on #2708
Yes indeed. That is what this issue is originally about. Lacuna is only one example where this is required.

A while back I've also tried starting a discussion on the Basic Station front:

https://github.com/lorabasics/basicstation/issues/115

[2021-11-12 13:41] johanstokking commented on #18
Here are some stats from Packet Broker from October:

<img width="368" alt="Screenshot 2021-11-12 at 12 19 25" src="https://user-images.githubusercontent.com/13334001/141459097-70fd4a38-bed0-4edc-acb2-087d23412805.png">

Any scheduling errors, like too late, duty-cycle limits and conflicts, are currently marked unknown errors.

What we could do is make these available as `TxAcknowledgment` message

[2021-11-12 14:31] johanstokking commented on #4421
I understand the need, but let's add insight in traffic volume first. When we have that in place, users can see (at least historically) the volume of routed data.

Test messages aren't easy; we don't have infrastructure for test messages in The Things Stack at the moment. Also we don't have an API on Packet Broker Agent to send a test uplink or downlink message, let alone checking if any target ne

[2021-11-12 16:22] adriansmares commented on #18
This is a multi faceted issue, and we should first start by observing two types of failures:

1. Reported by the Gateway Server server:
   - These are scheduling conflicts as seen at schedule time (`NsGs.ScheduleDownlink`)
   - These are the ones that are currently PB is aware of
   - These are already mitigated at Network Server level for the GS downlink path
   - Due to the nature of PB, PBA dow

[2021-11-12 16:49] floodnetwork commented on #3874
I am none the wiser from this thread. All I know is that the first f_cnt is missing and I had to go and look for it to discover it's implicitly zero. Googling and reading github is hard to turn into code. Explicit zeros are not exactly a big ask.

[2021-11-12 17:27] johanstokking commented on #3874
I agree @floodnetwork. We plan to address this, but first we need to control how JSON is marshaled.

We were using standard JSON marshaling for Protocol Buffers, which omit empty values, and 0 is empty so it's omitted. That is a undesired side effect from an early V3 design decision that we are reverting now.

[2021-11-15 08:29] htdvisser commented on #2231
@kschiffer did you still want to implement the rest of this or did you only want to pick up the part in #4831?

[2021-11-15 08:31] #4862 closed, assigned to htdvisser

[2021-11-15 12:59] Oliv4945 opened #4869 "Update data_rate_index documentation following v3.16"
#### Summary

Hi, [v3.16](https://github.com/TheThingsNetwork/lorawan-stack/blob/5a72019b12a27ac858ad2c1f5ddfa4e081d8e0ce/CHANGELOG.md) removed `data_rate_index ` from the uplink JSON, but his field is still referenced in the documentation [here](https://www.thethingsindustries.com/docs/reference/data-formats/#uplink-messages)

#### Why do we need this ?

Consistency with the new data structure

#

[2021-11-15 17:06] johanstokking commented on #18
Or a gateway with multiple network servers.

Yes

Yes.

We'd have to marshal the downlink message in the downlink token, or keep a cluster wide cache for the downlink message and only pass a correlation ID.

Yes. PB API already supports the error codes. PBA would need to hear back from GS if there's an TX acknowledgment expected, so that PBA keeps silent when scheduling succeeds so that the downli

[2021-11-15 17:43] adriansmares commented on #18
We this for cluster local TxAcks in the NS - the downlink is saved based on the correlation ID with a short TTL. When the ack comes back, the downlink is matched based on the correlation ID. So as long as the correlation ID can be retrieved back from PB, it can be done.

:+1:

[2021-11-16 08:19] bafonins opened #4870 "Application last seen is not updated on device activity"
#### Summary

Application last seen status in the Console is not updated and always stays `No recent activity` even when there are active end devices sending/receiving traffic

<img width="1258" alt="Screenshot 2021-11-16 at 10 21 37" src="https://user-images.githubusercontent.com/16374166/141948015-c3d85c44-29e3-4fa4-b059-91d9c075c13c.png">

#### Steps to Reproduce

1. Go to the staging environme

[2021-11-16 08:39] bafonins opened #4871 "End device last seen status is not updated on device activity"
#### Summary

End device last seen status in the Console (end device table) is not updated when sending/receiving traffic. The last seen status is updated only on full page reload

#### Steps to Reproduce

1. Go to the staging environment and select any application with active end devices
2. Observe end devices sending/receiving traffic
3. Observe end device last seen status not updated and displa

[2021-11-16 09:20] bafonins commented on #4871
Same behavior is present on the end device overview page (frame counters are not updated as well)

[2021-11-16 09:21] kschiffer commented on #4871
I'll look into it today.

[2021-11-16 09:56] kschiffer commented on #2231
I can stay assigned here. I've removed the milestone for now.

[2021-11-16 10:24] kschiffer commented on #4864
Thanks for reporting @mikkp17. This issue has been closed by the latest release `3.16.0`. If you see any issues still, please reopen.

[2021-11-16 10:24] #4864 closed, assigned to kschiffer

[2021-11-16 10:29] adriansmares commented on #4870
I also thought this may be related to server side event filtering, but even if the verbose events are enabled, and the `ns*` events are emitted, this is not updated.

[2021-11-16 11:19] adriansmares opened #4874 "The end device reset command should also reset the Application Server and Join Server state"
#### Summary

The end device `reset` command should also reset the AS and JS states.

#### Why do we need this?

Because right now we reset the NS state, which is not sufficient.

#### What is already there? What do you see now?

Only the Network Server state is reset.

#### What is missing? What do you want to see?

For devices that do not `supports_join`, we should reset `session.last_a_f_cnt_do

[2021-11-16 16:17] johanstokking commented on #4853
Yes I agree

[2021-11-17 08:56] #4870 closed, assigned to kschiffer

[2021-11-17 08:56] #4871 closed, assigned to kschiffer

[2021-11-17 09:05] theArcher73 opened #4877 "Integration of gateway owner information into various existing interfaces (CLI, API, package broker) for registered users"
**Summary**
The stack should provide registered users with information about the owners of individual gateways via defined (already existing) interfaces (username). The privacy setting of the user at the gateway must be taken into consideration. Information on users who have set public here should always be provided. For users who have selected the private option, there must be a GDPR-compliant wa

[2021-11-17 09:07] theArcher73 commented on #4877
Here the [link to the topic in the TTN-Forum](https://www.thethingsnetwork.org/forum/t/integration-of-gateway-owner-information-into-various-existing-interfaces-cli-api-package-broker-for-registered-users/53220)

[2021-11-17 09:35] kschiffer commented on #4850
This sounds very good. Would it be a lot of effort to implement that?

[2021-11-17 16:16] #4869 closed, assigned to KrishnaIyer

[2021-11-17 22:35] dajtxx opened #4886 "Applications list in console should set sorted by ID by default in column header"
#### Summary

When you open the applications list in the console, it is sorted in ascending order by ID by default, but the column header sort widget isn't set to show this.

This means to get descending sort you must click the ID column header twice - the first click puts it into ascending order (so is a waste of a click and time), the second click gets you the descending order.

#### Steps to Re

[2021-11-17 22:37] dajtxx commented on #4886
It would also be nice to have a copy of the paging controls at the top of the list. You have to scroll down a bit to get them on screen when you're only at the bottom.

[2021-11-18 08:29] #2434 closed

[2021-11-18 08:31] htdvisser commented on #2798
Today I'll be working on getting rid of `(gogoproto.stdtime)` and `(gogoproto.stdduration)` options.

[2021-11-18 15:13] jpmeijers commented on #4641
This works as expected in v3.16.0. Thanks!

[2021-11-18 15:27] adriansmares commented on #2627
I'll steal this.

[2021-11-19 06:38] jpmeijers opened #4895 "Rename Application / Move device to another application"
#### Summary

* Sometimes one would need to rename the application (mistakes, privacy, permissions, etc).
* One might also need to move a device from one application to another.

Doing this will allow one to create a new application with the correct name and move the device there, in essence answering the first part.

#### Why do we need this?

Move device to another application without requiring

[2021-11-19 07:08] jpmeijers commented on #4895
Trying to register the same device under a new applicatiion results in an error:

[2021-11-19 08:31] KrishnaIyer opened #4896 "Propagate EndDeviceIDs for various interfaces in AS"
#### Summary

Propogate EndDeviceIDs for various interfaces in AS. Refs: https://github.com/TheThingsNetwork/lorawan-stack/pull/4890#discussion_r752302264

#### Why do we need this?

Convenience I guess?

#### What is already there? What do you see now?

With https://github.com/TheThingsNetwork/lorawan-stack/pull/4890, we refactor to remove the embedded options.

#### What is missing? What do you

[2021-11-19 14:18] #4853 closed, assigned to adriansmares

[2021-11-19 14:23] #4783 closed, assigned to KrishnaIyer

[2021-11-23 08:46] johanstokking opened #4901 "Disconnect gateway when it gets deleted"
#### Summary

Disconnect gateway when it gets deleted.

#### Why do we need this?

Because it shouldn't stay connected when it's gone.

#### What is already there? What do you see now?

The gateway isn't disconnected.

Functionality that we do already have, is that if some fields are changed, the gateway gets disconnected.

#### What is missing? What do you want to see?

Disconnect the gateway whe

[2021-11-23 09:08] kschiffer opened #4902 "Make CLI retry requests when they failed due to rate limitations"
#### Summary
The CLI currently errors out on rate-limiting errors when it should rather wait for the cooldown and retry the request.

#### Why do we need this?
To allow for batch processes under the limitations of rate limiting rules.

#### What is already there? What do you see now?
Various CLI commands that call RPCs

#### What is missing? What do you want to see?
The CLI reacting appropriately

[2021-11-23 09:14] KrishnaIyer commented on #4902
I can take this one in the next milestone.

[2021-11-23 09:54] KrishnaIyer commented on #4783
The fix is now tested in our staging environment and will be available in the `v3.16.1` release.

[2021-11-23 10:23] KrishnaIyer commented on #4895
Thanks @jpmeijers. We're tracking this in an internal issue but we don't have a milestone yet.

[2021-11-23 14:42] adriansmares opened #4907 "Remove GPS timestamp workaround"
#### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/pull/4899

#### Why do we need this?

In order to avoid supporting this behavior forever.

#### What is already there? What do you see now?

https://github.com/TheThingsNetwork/lorawan-stack/pull/4899

#### What is missing? What do you want to see?

Revert the workaround

#### Environment

`v3.16.1`

#### How do you propose

[2021-11-24 05:59] jpmeijers opened #4910 "Add absolute date to "Last activity"-tooltip"
#### Summary

On a device page the Last Activity shows a human readable string like "2 hours ago". On V2 it was possible to click on this string to show the actual timestamp when it was last heard.

#### Why do we need this?

The accuracy of the string is not good enough.

#### What is already there? What do you see now?

![Screenshot from 2021-11-24 07-52-34](https://user-images.githubusercontent

[2021-11-24 08:13] bafonins opened #4911 "Update `webui` e2e tests documentation"
#### Summary

After https://github.com/TheThingsNetwork/lorawan-stack/pull/4813 we changed the way tests are set up.
If one follows setup steps from [docs](https://github.com/TheThingsNetwork/lorawan-stack/blob/bab6bb5414345708d7e42077bab750623d03111e/DEVELOPMENT.md#end-to-end-tests) `cypress` displays the following error:
[code]

#### Why do we need this?

We need complete documentation on how to

[2021-11-24 08:57] #4836 closed, assigned to KrishnaIyer

[2021-11-24 11:20] ymgupta opened #4912 "Uplink and Downlink frame counters is not updated on device activity in TTS Console"
#### Summary
The end devices frame counters are not incremented in the Console when sending/receiving traffic. The frame counters are updated only on full page reload.
#### Steps to Reproduce
1. Go to the TTSC console and select any active end device in an application.
2. Observe end device sending/receiving traffic.
3. Observe end device frame counters.
#### What do you see now?
The end-device fr

[2021-11-24 12:52] #4290 closed, assigned to bafonins

[2021-11-25 08:39] KrishnaIyer commented on #2798
Today I'll pick up `gatewayserver.proto` and `join.proto`.

[2021-11-25 09:12] johanstokking commented on #2798
Today I'll pick up `deviceclaimingserver.proto`, `lorawan.proto` and `qrcodegenerator.proto`

[2021-11-25 09:19] johanstokking commented on #2798
Turns out that `deviceclaimingserver.proto` and `joinserver.proto` are already not using `nullable` (when not using `customtype`), `embed`, `stdtime` nor `stdduration`. I'll pick up `regional.proto` instead.

[2021-11-25 12:05] johanstokking commented on #2798
I'm also doing `messages.proto` as it's quite related

[2021-11-25 12:11] michalborkowski96 commented on #2798
I'm picking up `metadata.go` and `end_device.proto`

[2021-11-25 14:45] htdvisser commented on #2531
CSP headers will be enabled by default after #4880.

HSTS was updated in https://github.com/TheThingsIndustries/lorawan-stack-aws/pull/551

[2021-11-25 14:45] #2531 closed

[2021-11-26 07:05] htdvisser opened #4922 "Release v3.16.1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-11-26 09:45] johanstokking opened #4924 "Expose non-TLS interop listener"
#### Summary

Expose non-TLS interop listener.

References #717; this issue about exposing the non-TLS listener, while the referenced issue is about supporting TLS client authentication over that non-TLS listener (between the proxy and TTS via HTTP headers).

#### Why do we need this?

For deployments not needing TLS mutual authentication for Backend Interfaces interop that prefer using the normal

[2021-11-26 09:48] johanstokking commented on #4924
@michalborkowski96 add the TCP listener here: https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.16/pkg/component/interop.go#L49

This also requires config for the non-TLS listener address, but mostly changes in the deployment templates to optionally map 8886 to 1886.

[2021-11-26 12:54] adriansmares opened #4927 "Asynchronous replication of end device metadata in Application Server"
#### Summary

The Application Server should replicate end device metadata asynchronously from the Identity Server, instead of stalling the hot path.

#### Why do we need this?

Currently in the Application Server hot path we contact the Identity Server in order to retrieve the end device locations.
The hit rate is pretty bad (citation needed, this lacks metrics), because the frequency at which end

[2021-11-26 16:02] #4782 closed, assigned to ryaplots

[2021-11-26 18:17] jpmeijers commented on #4289
### Description

I had a similar issue where an end device did not acknowledge the downlink, even though it received it. It's a COTS device, so I do not know which LoRaWAN stack they are using. But it seems like there is a bug where it does not handle confirmed downlinks.

I ended up having a confirmed downlink being sent after every single uplink.

My expectation was that if I clear the downlink

[2021-11-26 18:19] jpmeijers commented on #3642
From what I see the current behaviour is to indefinitely retry confirmed downlinks, causing headaches for people with devices that do not acknowledge these downlinks. See https://github.com/TheThingsNetwork/lorawan-stack/issues/4289

[2021-11-26 18:21] jpmeijers commented on #4289
Please re-open. We don't have permissions to do it ourselves.

[2021-11-29 10:22] htdvisser opened #4930 "Replace ContactInfo with UserIdentifiers as Administrative/Technical/Security Contacts"
#### Summary

I think we should remove the `repeated ContactInfo` from entities and instead add `UserIdentifiers` for administrative, technical and security contacts.

#### What is already there? What do you see now?

Users can configure `repeated ContactInfo` for applications, clients, gateways, organizations and users. For users we already have their contact info (primary_email_address). For the

[2021-11-29 14:44] htdvisser opened #4935 "Notification Service"
#### Summary

I propose to add a "Notification Service", that will be part of the Identity Server, and the "Event Server".

The goal of the "Notification Service" is to have a flexible API and storage model that allows us to register (enterprise) plugins with The Things Stack that will provide email templates and Console UI for different types of notifications.

#### What is already there? What do

[2021-11-29 14:51] johanstokking commented on #4930
I think it can be an organization too. The original reason to have contact information on gateways was twofold; to decouple it from collaborators (or a single owner like in V2) but also to decouple it from individuals. With `OrganizationOrUserIdentifiers` we address both original reasons and it's a lot simpler to manage.

[2021-11-29 15:13] htdvisser opened #4936 "Event Pipelines Registry"
#### Summary

I propose to add an "Event Pipelines Registry" to the Identity Server.

The goal of the "Event Pipelines Registry" is to have a central API and storage model that allows us to configure event pipelines in different scopes: Entity (Application/Gateway to start with), Organization, and User. This allows organizations and users to configure event pipelines for all their applications/gat

[2021-11-30 09:56] htdvisser opened #4937 "Let NS/AS update Last Seen of End Device in IS"
#### Summary

It would be nice if the Network Server or Application Server could update the "LastSeen" of end devices in the Identity Server.

#### Why do we need this?

Mostly because users want to sort their end devices on LastSeen, but it's also nice to have for network statistics.

#### What is already there? What do you see now?

LastSeen is tracked in the session of the Network Server.

####

[2021-11-30 10:00] htdvisser opened #4938 "Let NS/AS/JS update DevAddr of EndDevice in IS"
#### Summary

It would be nice if the Network Server, Application Server or Join Server could update the DevAddr of end devices in the Identity Server.

Related to #4937.

#### Why do we need this?

Mostly because users want to sort/search their end devices on DevAddr, but it's also nice to have for network statistics.

#### What is already there? What do you see now?

The Network Server, Applicat

[2021-11-30 10:08] #4911 closed, assigned to kschiffer

[2021-11-30 10:15] #2047 closed

[2021-11-30 10:35] htdvisser commented on #4910
The actual timestamp does appear when you hover over the "xx ago":

![hover mov](https://user-images.githubusercontent.com/181308/144031061-b6d446e3-af8a-4223-a7e6-4dbac0dfc2d5.gif)

But @kschiffer is going to think about how we can improve this.

[2021-11-30 10:57] jpmeijers commented on #4910
Thanks @htdvisser, somehow I missed that tooltip. It should actually be good enough in most situations. It's only on mobile where this tooltip doesn't work.

[2021-11-30 15:46] uy0ll commented on #1818
Following the instructions above, I am trying to connect a remote JS server. However, there is an inaccuracy in the configuration that does not allow using the interop.
Here is my for using 0000000000000000/0 prefix to define a remote Join Server interoperability configuration _interopconf/config.yml_ :
[code]
_interopconf/example/js.yml_ :
[code]
_interopconf/sender-client-ca/config.yml_  :
`0000

[2021-11-30 16:02] adriansmares opened #4941 "Join Server fields cannot be updated in Join Server only deployments"
#### Summary

Join Server fields (such as the Net ID) cannot be edited in Join Server only environments.

#### Steps to Reproduce

1. Have the following configuration:
[code]

2. Attempt to edit a Join Server field via the Console

#### What do you see now?

No `POST`/`PUT` request occurs, and on refresh the field is not updated. But the notification does say that the entity has been updated.

Thi

[2021-11-30 18:35] adriansmares commented on #4857
This is a dual bug between the backend and the frontend.

The frontend provides the parameters to the API client, but the API client does not take parameters, so the request is empty. You can see this with a request that comes via email by watching the networking tab of your browser debugger - the body is empty.

https://github.com/TheThingsNetwork/lorawan-stack/blob/c1affae0d900b5558c9d98249365f9

[2021-12-01 08:12] KrishnaIyer commented on #3280
This is a nice technical debt thing to do, though atm the GCS doesn't expose any functionality to console.

[2021-12-01 08:13] KrishnaIyer commented on #2629
This might be a good candidate for the next technical debt day.

We need some unification of these version identifiers.

I'll come up with a proposal to store the identifiers in the `GatewayVersionIdentifiers` message instead of (or in addition to) the gateway attributes and properly categorise them.

[2021-12-01 08:39] KrishnaIyer commented on #48
Note to self:
- At the moment wrt multiple antennas, we allow setting multiple but use only the first one.
- When we implement multi-antenna support, we need to match the frequency plan with the antenna index, since each concentrator gets an FP and one antenna(?). This is important for LBS since the Antenna Gain is part of the `RFConfig` which is specific to a concentrator.
- Currently, we just re

[2021-12-01 09:54] #4912 closed, assigned to bafonins

[2021-12-01 10:29] pgalic96 commented on #4857
Nice catch, will take this from here!

[2021-12-01 13:08] KrishnaIyer opened #4951 "Inconsistent usage of mocking in GS tests"
#### Summary

Inconsistent usage of mocking in GS tests. I discovered this while working on https://github.com/TheThingsNetwork/lorawan-stack/pull/4946

#### Why do we need this?

To use our mocking utilities properly.

#### What is already there? What do you see now?

1. We use the [mockIS](https://github.com/TheThingsNetwork/lorawan-stack/blob/78f99fed35e9766fbaa9634d405a426ad8e8daf9/pkg/gateway

[2021-12-01 14:10] KrishnaIyer commented on #2798
I'll pick up `api/identifiers.proto` tomorrow since that's related to https://github.com/TheThingsNetwork/lorawan-stack/issues/4896.
This is one of our most used messages so this is going to be fun.

[2021-12-01 17:08] johanstokking opened #4953 "Publish scheduling failure events"
#### Summary

Publish scheduling failure events

#### Why do we need this?

To indicate why a downlink message was not scheduled on a particular gateway.

This provides transparency that is helpful. Some users just look at the RX metadata and see many gateways, but they don't know why the "best" gateway hasn't been used for downlink.

#### What is already there? What do you see now?

I believe tha

[2021-12-02 08:30] bafonins commented on #2263
Closed by https://github.com/TheThingsNetwork/lorawan-stack/pull/4939

[2021-12-02 08:30] #2263 closed

[2021-12-02 14:01] adriansmares commented on #4938
I've just checked the contents of the issue and I don't think that there are missing details here.There are only two clarifications I would add:

- For ABP/Multicast devices, it's probably better if the Console and CLI also fill these fields.
- For ABP we may also provide this information to the Identity Server once we mark the end device as activated. This won't affect all of the existing end dev

[2021-12-02 14:04] johanstokking commented on #48
One antenna is indeed tied to one concentrator, but they can use the same frequency plan. This is used for geolocation with two omnidirectional antennas (Semtech V2 reference design). It can also be for noise reduction using two directional antennas, again using the same frequency plan.

BTW, what does the frequency plan matter for scheduling downlink? It's only the band that matters, right? And w

[2021-12-02 14:04] adriansmares commented on #4937
This one is clear as well :+1:.

[2021-12-02 14:25] #4191 closed, assigned to KrishnaIyer

[2021-12-02 15:15] itziardelatorre opened #4963 "Error: RP002_V1_0_1 does not exist for EU868"
#### Summary

It seems that RP002-1.0.1 is not supported for LoRaWAN v1.0.4. Note that the LoRaWAN certification v1.0.4 is based on this version of the Regional Parameter document.
According to the example files for the "device repository", this specification should be  the correct one for LoRaWAN v1.0.4. Please refer to "windsensor-profile.yaml":
LoRaWAN Regional Parameters version. Values depend

[2021-12-02 15:27] johanstokking commented on #4963
@adriansmares I'm guessing this comes from NS, right?

This might be related to or caused by #4885

[2021-12-02 15:27] johanstokking commented on #4963
Also references https://github.com/TheThingsNetwork/lorawan-stack/issues/3513

[2021-12-02 15:31] adriansmares commented on #4963
Indeed. Will work once #3513 1.0.1 support is done.

[2021-12-03 09:09] #4941 closed, assigned to bafonins

[2021-12-03 14:39] KrishnaIyer commented on #48
Indeed FP is not related to the gain. But in LBS, the LNS sends `n` `SX1301_conf` objects, each object meant for one concentrator (and hence antenna). Each object contains info from one FP (converted to `IFConf`) and one antenna gain.
So these two must be in sync. It's ok for both concentrators to use the same FP but the user must indicate this. Ex: Below is how currently users indicate that there

[2021-12-03 14:40] #4901 closed, assigned to KrishnaIyer

[2021-12-03 14:49] johanstokking commented on #48
Sounds good

Yes indeed, some bands are applicable to multiple regions (like AS923) and then the regional constraints are defined (overridden) in the FP. So you're right, we need the associated FP on downlink.

[2021-12-06 08:23] johanstokking opened #4971 "Maximum downlink payload size exceeded when dwell time is activated"
#### Summary

Maximum downlink payload size is exceeded when the end device has dwell time enabled, but the Network Server's frequency plan does not.

#### Steps to Reproduce

1. Register device with `AS_920_923_TTN_AU` (dwell time is deactivated)
2. Configure device with AS923 band, which boots with dwell time activated
3. Let end device join; this works successfully
4. Observe first downlink sen

[2021-12-06 13:18] kschiffer opened #4972 "Contact info validation fails in certain situations"
#### Summary

Contact info validation currently fails when multiple validations are currently pending.

#### Steps to Reproduce

1. Register a user (A) while using the `--is.user-registration.contact-info-validation.required=true` setting.
2. Register another user (B)
3. Wait for the validation email for user (B) and click on the validation link
4. Get a validation failure

#### What do you see no

[2021-12-06 13:23] adriansmares commented on #4972
Duplicate of https://github.com/TheThingsNetwork/lorawan-stack/issues/4857 ?

[2021-12-06 13:23] kschiffer commented on #4972
Indeed, will merge this.

[2021-12-06 13:24] #4972 closed, assigned to ryaplots

[2021-12-06 13:39] kschiffer commented on #4910
To improve the behavior here, the actual date should also be part of the info tooltip. We should simply append to the message

If we do that, we can also get rid of the "regular title" on the date (the one that currently shows the date).

Can you take care of this @ryaplots ?

[2021-12-06 13:42] kschiffer commented on #4850
Unassigning me for now, since following the last comments, this is more of a IS/GS thing.

[2021-12-06 13:47] kschiffer commented on #4835
I think this can be implemented just as @htdvisser has drafted it here.

Within the webhook form, below the header settings, we can add a button `Add Basic Auth header`. Once clicked it will compose the header as described.

[2021-12-06 13:54] kschiffer commented on #4700
Closed via #4898

[2021-12-06 13:54] #4700 closed, assigned to kschiffer, ryaplots

[2021-12-07 10:06] #4922 closed, assigned to htdvisser

[2021-12-07 10:07] johanstokking commented on #4971
I updated the original comment; we should assume that dwell time is activated in this band and version, but it should be possible to disable it explicitly via a new field in MAC settings. This is because the boot value is undefined in this band and version (which is fortunately fixed in RP2).

[2021-12-07 10:07] johanstokking commented on #4971
@NicolasMrad let's triage this based on @adriansmares assessment.

[2021-12-07 10:27] NicolasMrad commented on #4850
@adriansmares

[2021-12-07 10:52] adriansmares commented on #4850
The backend implementation is going to be fully GS driven, and requires the following changes:

1. Add a `disconnected_at` field to the `GatewayConnectionStats` message - keep in mind that this is going to be field 11, do not renumber the other ones.
https://github.com/TheThingsNetwork/lorawan-stack/blob/f4058f858fa03242e079b5c884a46e09ca4cb2b5/api/gateway.proto#L365-L394

2. Add a `ttl` parameter

[2021-12-07 13:45] KrishnaIyer commented on #4953
Sounds good. I'll pick this up probably in the next milestone.

[2021-12-08 09:25] #2627 closed

[2021-12-08 09:48] #3261 closed, assigned to pgalic96

[2021-12-08 09:49] #4857 closed, assigned to pgalic96

[2021-12-08 10:41] adriansmares commented on #4526
Now that the backend (and a very primitive frontend) is available as part of https://github.com/TheThingsNetwork/lorawan-stack/pull/4913, I'd like to point out how the fields work.

The webhook entity now has a `health_status` field. By default, it is `null`/`undefined`, indicating that the health status is unknown since an HTTP request attempt has not been made yet.

If the HTTP request succeeds,

[2021-12-10 11:02] adriansmares opened #4982 "Automate two step release process"
#### Summary

Our current release process has two steps:
- Create and tag the actual release
- Goreleaser actually generates the release artifacts (archives, binaries, docker images and so forth) based on the tag

We should also automate it in order to have an easier time releasing features.

#### Why do we need this?

The first step is manual and documented in [RELEASE.md](https://github.com/TheT

[2021-12-10 15:30] NicolasMrad commented on #4838
@michalborkowski96 please enable the experiment features in the issue on staging2

[2021-12-10 15:37] #4520 closed, assigned to adriansmares

[2021-12-10 15:39] #3416 closed, assigned to adriansmares

[2021-12-10 15:41] NicolasMrad commented on #4971
https://github.com/TheThingsNetwork/lorawan-stack/issues/725

[2021-12-13 07:53] johanstokking commented on #4971
That is since 1.0.3. The behavior in this issue applies specifically to 1.0.2 Rev. B, where the end device's boot parameters in AS923 aren't defined.

#725 is an optimization; avoid sending a redundant `TxParamSetupReq` to deactivate downlink dwell time while it was already deactivated.

This issue and #725 can probably be resolved in one go, once the MAC state reset configure the current paramete

[2021-12-14 07:49] onizmx opened #4990 "last_downlink_at and last_network_initiated_downlink_at get set in future."
#### Summary

Multicast downlinks get queued / not being consumed. When this happens, we see both fields of the multicast end device get set as below:

`"last_network_initiated_downlink_at": "2022-06-10T22:52:30.945586212Z"`
`"last_downlink_at": "2022-06-10T22:52:30.945586212Z"`

Frame counters do not match too:
`last_n_f_cnt_down": 923122`
`last_a_f_cnt_down": 923246`

As a quick fix, we manually

[2021-12-14 10:53] adriansmares commented on #4990
We need more details regarding this issue, as it is very hard to debug as is. Are these multicast absolute time downlinks ?

The two fields that get set into the (distant) future are based on the delay provided by Gateway Server. It is unclear at the moment if the Gateway Server promises to send the downlink in 2022 or the Network Server requests that the downlink is sent in 2022.

Can you lookup

[2021-12-14 12:07] #4927 closed, assigned to adriansmares

[2021-12-14 14:56] kschiffer opened #4991 "Migrate from `@storybook/addon-info` to `@storybook/addon-docs`"
#### Summary
We need to migrate away from the deprecated `@storybook/addon-info` package.

#### What do you see now?
Relying on `@storybook/addon-info` package which is
a) deprecated
b) relying on vulnerable packages
c) Currently throws errors in the webpack build process due to fix-resolving the vulnerable `prism.js` package to a secure version

#### What do you want to see instead?

Using the re

[2021-12-15 11:34] onizmx commented on #4990
@adriansmares Yes, we do pass `absolute_time` for the multicast downlinks, and was not able to find any outliers (mostly +10 ~ +60 seconds from now().
We have just enabled the debug log today, and we will send the logs when this happens again. It is highly likely to happen again soon since we had one more of this issue after opening this ticket.

[2021-12-15 15:45] #4963 closed, assigned to adriansmares

[2021-12-15 19:29] #4526 closed, assigned to adriansmares

[2021-12-16 07:54] htdvisser commented on #3250
I'll take another look at this.

[2021-12-16 08:34] KrishnaIyer commented on #3280
GCS doesn't actually expose any functionality to the console. Do you use the GCS APIs in the console/SDK somewhere @kschiffer?

[2021-12-16 09:45] adriansmares commented on #3280
The download gateway configuration button is from the GCS.

[2021-12-17 08:06] htdvisser opened #5008 "Release v3.16.2"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-12-17 09:10] htdvisser opened #5010 "Upgrade to GoReleaser v1.0"
#### Summary

GoReleaser has reached v1.0, so let's start using that instead of v0.x.

**Bonus:** hopefully this fixes the missing release notes in GitHub releases, otherwise this needs a separate bug issue.

#### Environment

CI

#### How do you propose to implement this?

- Check if we need to make any changes to our configs (https://goreleaser.com/deprecations/)
- Update the GoReleaser version

[2021-12-17 12:38] #2316 closed

[2021-12-17 16:11] htdvisser opened #5014 "Ignore CHANGELOG.md, go.mod and go.sum in Mergeability check"
#### Summary

We should make the mergeability check ignore files that frequently have conflicts that are easy to fix.

#### Steps to Reproduce

Just check the recent PRs.

#### What is already there? What do you see now?

The mergeability check fails on CHANGELOG.md, go.mod, go.sum, etc.

#### What is missing? What do you want to see?

The check should not fail on these frequently occurring confli

[2021-12-17 22:54] onizmx commented on #4990
@adriansmares I have the log, it looks like `transmission_delay` is way off

`
  "started_at": 1639763483.8760054,
  "transmission_delay": 57688384.03355046,
  "transmit_at": 1697451867.9144053
`

[2021-12-18 10:09] ZEEC2958 opened #5022 "trouble connecting my LT-22222-L to ttn"
hi,
i want to connect my LT-22222-L to ttn but i dont what verif hardware or firmware it is. i only know via the serial communication that the image version is 1.5.6 and the class is A. where can i find those informations? and if i want to inport the end device where can i find the document to do that?

:rotating_light: :stop_sign: We do not accept questions on Github :stop_sign: :rotating_light:

[2021-12-20 08:02] KrishnaIyer commented on #5022
The links to the forum/slack are in the issue you created. Also check our docs: https://www.thethingsindustries.com/docs

[2021-12-20 08:02] #5022 closed, assigned to nobody

[2021-12-20 13:36] kschiffer commented on #4850
Can this be closed now?

[2021-12-20 13:45] kschiffer commented on #3830
We can implement this complementary to #4977. For this we'd need to extend the application model though to include  `network_server_address`, `application_server_address` and `join_server_address` as pointed out by @htdvisser. Then we can check those and hide such applications from the list, when all of the servers point to different clusters.

@htdvisser can you make the start with extending the

[2021-12-20 13:47] kschiffer commented on #3890
Closing this as duplicate of TheThingsIndustries/lorawan-stack#2916

[2021-12-20 13:47] #3890 closed, assigned to kschiffer

[2021-12-20 13:56] kschiffer commented on #2886
I'm not sure how necessary this actually is currently. We already separate webhook templates into tiles. As for integrations as a whole (Pubsub/MQTT/Webhooks,etc) I think the current way of displaying them in the sidebar is sufficient.

I'll close this as such. If anyone thinks differently, please reopen.

[2021-12-20 13:56] #2886 closed

[2021-12-20 14:28] adriansmares commented on #4850
Yes.

[2021-12-20 14:28] #4850 closed, assigned to adriansmares

[2021-12-20 15:00] oliveselow opened #5025 "Stack"
#### Summary

...

#### Steps to Reproduce

1. ...
2. ...
3. ...

#### What do you see now?

...

#### What do you want to see instead?

...

#### Environment

...

#### How do you propose to implement this?

...

#### How do you propose to test this?

...

#### Can you do this yourself and submit a Pull Request?

...

[2021-12-20 15:01] oliveselow commented on #5025
Ok

[2021-12-20 15:09] KrishnaIyer commented on #5025
@oliveselow: Are you going to fill in the template and add a clear heading for the issue? If not, this will be closed shortly.

[2021-12-20 15:12] KrishnaIyer commented on #5025
Please create an issue only if you have a feature request or something to report next time.

[2021-12-20 15:13] #3831 closed, assigned to kschiffer, ryaplots

[2021-12-20 15:35] kschiffer opened #5026 "Splitting up large end device import files into multiple smaller"
#### Summary
The Console allows importing devices from files using the end device import feature. Currently, using files larger than 16MB is not permitted due to request body size limitations. We should consider automatically splitting such files up on the client so that larger imports can be enabled.

#### Why do we need this?
To allow larger device imports without forcing users to split up their

[2021-12-20 16:04] kschiffer commented on #4930
One issue if have with this is that it allows only registered users to be listed as contacts which I'm afraid increases the burden to use this feature, especially for administrative/security contact. I get though that this is kind of the trade-off of this change in turn for easier handling of these contacts.

[2021-12-20 16:29] kschiffer opened #5027 "Enable selecting users via autosuggest"
#### Summary
We currently only allow specifying users via regular text input. This is inconvenient because it forces users to remember and/or copy user ids from other places. Instead, the user/org input should autosuggest available users when typing into it.

#### Why do we need this?
Improve UX of adding collaborators, contacts, owners, etc.

#### What is already there? What do you see now?
- Use

[2021-12-20 20:46] adriansmares commented on #4990
Sorry for the delayed response. I'm pretty much confident that this is a bug, and given the (unfortunate) high reproducibility rate, we probably can track it down.

The first step I recommend is to enhance the logging details for the downlink. This diff should bring some extra log messages and fields:

[code]

In the mean time, any chance you could share some light on your setup ? Gateway models,

[2021-12-20 21:48] johanstokking commented on #4841
@KrishnaIyer please see https://github.com/TheThingsIndustries/lorawan-join-server/pull/5.

The idea is that DCS gets a map of JoinEUI to client settings. The client settings contain the API to use as well as authentication methods. In case of our new JS, that will be the new claiming API and HTTP basic authentication settings. DCS authenticates as Application Server and needs to claim, unclaim, g

[2021-12-21 08:11] #4924 closed, assigned to michalborkowski96

[2021-12-21 08:11] htdvisser commented on #5027
The existing user search RPC is restricted to admins only, so this won't work for regular users.

We should probably think about a separate "account ID autocomplete / autosuggest" API that understands the constraints (because for #4996, entity contacts can only be accounts that are collaborators on the entity).

[2021-12-21 08:19] htdvisser commented on #4930
There is no point in having unregistered users as contacts on these entities. If there's an issue with the entity, requiring us (or another user) to contact this person, they also need to have access to the entity to resolve the issue, which they can only do if they have an account with rights on the entity.

[2021-12-21 09:19] #4896 closed, assigned to KrishnaIyer, adriansmares

[2021-12-21 10:05] htdvisser commented on #3658
Pushing this forward. No time, and I'm still hoping that eventually we can just remove the logging and use distributed tracing instead.

[2021-12-21 10:06] htdvisser commented on #5014
Fixed by https://github.com/TheThingsNetwork/lorawan-stack/pull/5030

[2021-12-21 10:06] #5014 closed, assigned to htdvisser

[2021-12-21 10:08] htdvisser commented on #5008
Other than the documentation (https://github.com/TheThingsIndustries/lorawan-stack-docs/pull/686) this is done, so closing.

[2021-12-21 10:08] #5008 closed, assigned to htdvisser

[2021-12-21 11:45] virtualguy commented on #4990
We will try and get a patched build running with the additional logging shortly. Its happening approximately daily for one multicast device at a time, no patterns emerging yet (always different gateways, sites and multicast devices).

It would be great to catch the bug, it would also be good if the queue could be evaluated and messages with old/expired timestamps be dropped to avoid it blocking fo

[2021-12-21 11:48] adriansmares commented on #4990
This should already be happening - is it not ? Keep in mind that in the current issue it's not necessarily an old message that stalls the queue, but rather the bogus timestamps that stop the scheduling.

[2021-12-21 16:28] johanstokking commented on #4930
I think @kschiffer's scenario is more like having a non-person and non-organization contact for certain things, like the company's security department. In that case, they'd have to create an organization now.

[2021-12-21 19:04] alanmitchell opened #5034 "Error with "ttn-lw-cli end-devices get" command"
#### Summary

I am receiving an error when executing the `ttn-lw-cli end-devices get` CLI command.
...

#### Steps to Reproduce

1. Execute the `ttn-lw-cli login` command.
2. Execute a `ttn-lw-cli end-devices get` command such as `ttn-lw-cli end-devices get bmon-an lsn50-alder-boiler-95f4 --formatters.up-formatter`
3. Observe an error message.

[config.txt](https://github.com/TheThingsNetwork/lora

[2021-12-22 07:03] KrishnaIyer commented on #5034
Thanks for filing this.

This is already fixed by https://github.com/TheThingsNetwork/lorawan-stack/pull/5024 and https://github.com/TheThingsNetwork/lorawan-stack/pull/5033 and will land in the next release.

[2021-12-22 07:03] #5034 closed, assigned to nobody

[2021-12-22 11:45] nejraselimovic opened #5036 "Rendering a Webhook template with empty fields fails"
#### Summary
Webhook template with empty fields fails.

#### Steps to Reproduce
Deploy a Webhook template with `fields:` or `fields: {}`.

#### What do you see now?
Error shown below:
![Screenshot from 2021-12-22 12-15-10](https://user-images.githubusercontent.com/65215579/147087717-8a61ea67-51c4-4455-8ee1-bda87d5f6973.png)

#### How do you propose to implement this?
@adriansmares proposed the fol

[2021-12-22 14:28] #3451 closed, assigned to bafonins

[2021-12-23 06:51] michalborkowski96 commented on #5010
Checked, no warnings

Not used by us

Other behavior change information regards versions older than `v0.184.0`. Therefore I guess we can just bump the version and see what happens.

[2021-12-23 08:54] bafonins commented on #4685
@ryaplots Can we close this issue?

[2021-12-23 18:16] adriansmares opened #5040 "Release v3.16.3"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2021-12-23 19:31] #5040 closed, assigned to adriansmares

[2021-12-27 12:51] htdvisser opened #5045 "EUIStore.CreateEUIBlock Updates Existing EUI Block"
#### Summary

Unlike the name suggests, the `CreateEUIBlock` method of the current `EUIStore` implementation may change an existing EUI block.

#### What do you see now?

https://github.com/TheThingsNetwork/lorawan-stack/blob/dfa369c4457a74b0c04684684a6b8f522e83fb4d/pkg/identityserver/store/eui_block_store.go#L115-L140

#### What do you want to see instead?

A method that suggests we're creating s

[2021-12-27 12:54] htdvisser opened #5046 "OAuthStore.DeleteAuthorizationCode and DeleteAccessToken do not return NotFound error"
#### Summary

The `DeleteAuthorizationCode` and `DeleteAccessToken` methods of our current `OAuthStore` implementation do not return `NotFound` errors when the code/token isn't found. This is inconsistent with the other stores.

#### What do you want to see instead?

The store interfaces should be more clear about what's expected from implementations, and the store implementations should follow th

[2021-12-27 13:07] htdvisser opened #5047 "Test pagination in IS store tests"
#### Summary

We should add pagination tests to the store tests of the Identity Server.

#### Why do we need this?

By testing this in the store package, we can ensure that a different implementation of the store interfaces is still compliant.

#### What is already there? What do you see now?

Pagination is tested in the Identity Server, but not in the store package.

#### What is missing? What do

[2021-12-27 14:49] htdvisser commented on #3513
The v3.16.2 deadline was 2 weeks ago, so moving this to v3.17.0.

[2021-12-27 17:40] nicholaspcr commented on #4902
Decided to create a PR before bringing some questions here, that way I could sort them in a order that makes sense.

I opted to use the [go-grpc-middleware](https://github.com/grpc-ecosystem/go-grpc-middleware) to implement the interceptor and there are two things that might be good to confirm here.
- The retry interceptor is only used in the `cli` client, I considered adding the retry to the defa

[2021-12-27 17:41] nicholaspcr commented on #4902
Decided to create a PR before bringing some questions here, that way I could sort them in a order that makes sense.

I opted to use the [go-grpc-middleware](https://github.com/grpc-ecosystem/go-grpc-middleware) to implement the interceptor and there are two things that might be good to confirm here.
- The retry interceptor is only used in the `cli` client, I considered adding the retry to the defa

[2021-12-28 09:00] sanijs opened #5051 "downlink_count in GatewayConnectionStats is missing"
#### Summary

When using the Gateway Server API only uplink_count is available, downlink_count is no longer there

#### Steps to Reproduce

Use the following API
/api/v3/gs/gateways/{gateway_id}/connection/stats

#### What do you see now?

Everything expect downlink_count

#### What do you want to see instead?

downlink_count

#### Environment

The Things Stack Cloud v3.16.2

#### How do you propo

[2021-12-29 08:24] sanijs commented on #5051
Upon closer inspection I found out that this only happens when downlink count is 0, if it's more than 0 it works like it should. Is this still a bug or is it meant to work that way?

downlink_count > 0
[code]
downlink count = 0
[code]

[2021-12-29 09:09] johanstokking commented on #5051
@sanijs I was meant to comment that here indeed. Currently we use protobuf JSON marshaling where empty fields are omitted. We are in a long process of addressing this, along with many other things.

References #2258
References #2298
References #2798

[2021-12-29 09:10] johanstokking commented on #5051
Blocked on #2798 and a not-yet-filed issue to include field masks in responses so our JSON marshaler knows which (empty) fields to return.

[2021-12-29 14:48] pe1mew opened #5052 "V3 gateway status API has both "disconnected_at" and "connected_at" variables in JSON struct"
#### Summary
At irregular intervals gateway status of gateways as requested from `https://eu1.cloud.thethings.network/api/v3/gs/gateways/<gatewayID>/connection/stats` contains both "disconnected_at" and "connected_at" variables in JSON struct.

It is assumed (because documentation fails on this topic) that based on the state of the gateway connection to lorawan-stack either the variable "disconnec

[2021-12-30 09:14] johanstokking commented on #181
This is already addressed. As far as there are any inconsistencies, we should address that as part of https://github.com/TheThingsIndustries/lorawan-stack/issues/2256

[2021-12-30 09:14] #181 closed

[2021-12-30 09:23] johanstokking commented on #21
I just looked into this. I found a document from Semtech ([AN1200.22](https://www.frugalprototype.com/wp-content/uploads/2016/08/an1200.22.pdf)) which states that the noise floor scales linearly with 10*log10(B) in dBm where B is the bandwidth in Hz. A step from 125000 to 250000 or 250000 to 500000 is indeed a +3 dBm increase. So the current values are correct. I'll remove the TODO and close this

[2021-12-30 09:26] #21 closed

[2021-12-30 09:30] johanstokking commented on #2431
I don't think we need this. For the record, this would only be needed for end devices using LoRaWAN 1.0.2 or lower that use class B. I'm leaving it open for users to comment that they need it based on their use cases.

[2021-12-30 09:56] johanstokking commented on #3089
This is already implemented for traffic coming in from Packet Broker.

Also, we have a downlink path constraint that is conveyed to NS, and if that is never, then downlink will not be attempted.

We need this indeed for traffic that is being received out-of-order or "late". We track that in https://github.com/TheThingsNetwork/lorawan-stack/issues/2708.

[2021-12-30 09:56] #3089 closed, assigned to KrishnaIyer

[2022-01-01 13:23] jpmeijers opened #5056 "Gateway status api for multiple gateways"
#### Summary

The current GS API allows getting the status for a single gateway via:
GET /api/v3/gs/gateways/{gateway_id}/connection/stats

If one need to obtain the statuses of all your gateways you need to call this endpoint multiple (hundreds of) times. The overhead for an HTTP GET makes this process very slow.

It would be nice if this API worked just like the Gateway Registry List API (/api/v

[2022-01-01 13:31] jpmeijers commented on #5056
My current workflow is as follows:

1. An admin user creates a personal API Key that has the permissions: View gateway info, location, status, list gateways
2. Use api key to get a list of all gateways from `/api/v3/gateways`
3. For each gateway obtained, call `/api/v3/gs/gateways/{gateway_id}/connection/stats` to get the statuses.

As can be seen this is an iterative process that can take long, a

[2022-01-03 09:41] ff6347 opened #5062 "Update to version 3.16.2 breaks webhooks with header values longer then 256 characters"
#### Summary
Since a few days before Christmas we are getting the following error in the console when creating webhooks.

[code]

We are using JWTs to authenticate and enable users to send data from TTN to our platform. These JWTs are longer than 256 characters. I think I found the commit that introduced this validation/resctriction. https://github.com/TheThingsNetwork/lorawan-stack/commit/f57027a

[2022-01-03 10:50] htdvisser commented on #2798
Here's what's left for the field options (still omitting fields with customtype):

- [x] `api/identityserver.proto`

[code]

- [x] `api/tti/external_user.proto`

[code]

- [x] `api/end_device.proto`

[code]

- [x] `api/tti/configuration.proto`

[code]

- [x] `api/tti/entity_api_key.proto`

[code]

- [x] `api/tti/authentication_provider.proto`

[code]

- [ ] `api/tti/license.proto`

[code]

[2022-01-03 10:55] htdvisser commented on #2798
And here's the files that still have enum options:

- [x] `api/rights.proto`

[code]

- [x] `api/enums.proto`

[code]

- [x] `api/metadata.proto`

[code]

- [x] `api/lorawan.proto`

[code]

- [x] `api/contact_info.proto`

[code]

- [x] `api/client.proto`

[code]

[2022-01-03 11:06] KrishnaIyer commented on #4834
I also think only the following are relevant to application users, i.e, something that says "success" and something that helps debug "failure". Most of the time, I don't even look at the other events since they don't convey any information to me.
[code]

[2022-01-03 11:58] #4840 closed, assigned to KrishnaIyer

[2022-01-03 12:24] htdvisser commented on #4834
Okay so what about this:

EndDevice CRUD:

[code]

AS Forwarded Uplinks/Downlinks:

[code]

JS Joins:

[code]

Errors and warnings:

[code]

NS MAC layer:

[code]

[2022-01-03 13:30] #5036 closed, assigned to adriansmares

[2022-01-03 14:14] #2383 closed

[2022-01-03 14:51] #4910 closed, assigned to ryaplots

[2022-01-04 01:08] johanstokking commented on #2798
What's the trick for getting rid of the enum options? What is the implication for JSON API compatibility?

[2022-01-04 08:17] htdvisser commented on #2798
I don't know yet, but I plan to look into that this week (unless someone else wants to). Other assignees can for the time being focus on the remaining `nullable`, `embed`, `stdtime`, `stdduration` options in the comment above.

All JSON API is now handled by our generated (un)marshalers and the `(thethings.json.*)` options in our `.proto` files.

@pgalic96 has taken over the work on the CLI flag h

[2022-01-04 10:13] kschiffer commented on #4835
Here's a wireframe of the functionality:

![](https://user-images.githubusercontent.com/5710611/148043662-e904f1a2-f14a-4352-a7ac-970993254582.png)

The tooltip should read

[2022-01-04 11:22] KrishnaIyer commented on #5062
Thanks @ff6347. We don't really see why an HTTP auth token would need to be more than 256 characters long but we also don't find a need to restrict it to that number. In the next milestone, we'll see if we can bump this to 4k.

[2022-01-04 12:21] ff6347 commented on #5062
Hi @KrishnaIyer
Thanks for considering this. We really appreciate it.

If the tokens are opaque I agree. There is no need for such a long string. We are using JSON Web Tokens. For example I created a token with just the optional registered claims as defined in [RFC 7519 section 4.1](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1) and I already get 315 characters

[code]

Decoded payload

[2022-01-04 12:46] KrishnaIyer commented on #5056
Thanks @jpmeijers for filing this issue. We discussed this internally and here's the reasoning for not having an API to fetch multiple statuses
1. This won't work well with our current rate-limiting and would need some additional things to be implemented there.
2. Since stats are localized to a cluster, calls for multiple gateways need to be collected from various clusters which is not easy to imp

[2022-01-04 13:25] sanijs commented on #4215
+1 for this.

Is it correctly understood that if I want to delete multiple end devices using the API I need to do it 4 times for each end device?

[code]

[2022-01-04 13:49] willhelmx commented on #4215
Hi again Guy´s

Hopefully, there is a solution for this on the way
The most intuative would be to have checkboxes on the left of the console device list in order to select specific item or all for deletion..

Have a great day ladies and gentlemen

Best Regards
/ Anders

[2022-01-04 14:21] htdvisser commented on #4215
@sanijs: that's right (and in case you're wondering, that's something we want to make less complicated in a future V4 API).

Also: instead of commenting "+1", please put a 👍 reaction on the issue, so that we can track demand and prioritize this accordingly.

@willhelmx: this is currently not planned. We have limited resources and other bugs/features that have higher priority or more demand. As @jo

[2022-01-04 14:24] htdvisser commented on #2798
I've started removing the first `gogoproto.customtype` options here: https://github.com/TheThingsIndustries/lorawan-stack/compare/issue/gogoproto-customtype. But until @pgalic96 is done with the CLI flag handling, we can only remove `gogoproto.customtype` options on response messages (or for anything that isn't used in the CLI).

[2022-01-04 16:33] johanstokking commented on #2600
When Join Server has a NwkKey, the end device is also configured with two root keys. In that case, NwkKey should be used for 1.0 activation. If the Join Server has no NwkKey, the AppKey is used and only 1.0 activation is supported.

This is problematic for end devices that are implicitly provisioned with 1.1 support, like the ATECC608A/B-TNGLORA secure elements. ~As far as I know, they operate as

[2022-01-04 16:53] johanstokking opened #5069 "Store at most 10 used DevNonces"
#### Summary

References https://github.com/TheThingsIndustries/lorawan-stack/issues/2229

#### Why do we need this?

To reduce the amount of used DevNonces in our database. Also, many end devices do not have a true random number generator, leading to values being reused more often than should. Since the session key derivation also takes into account Join Nonce, this isn't too much of a problem.

[2022-01-04 16:54] johanstokking commented on #5069
@NicolasMrad let's triage in next call

[2022-01-05 10:18] htdvisser commented on #4834
I'm going to implement this for the next milestone.

[2022-01-05 10:20] htdvisser commented on #4971
Doesn't look like this is going to get finished for v3.17.0, so pushing to v3.17.1.

[2022-01-05 10:21] htdvisser commented on #4652
Doesn't look like this is going to get finished for v3.17.0, so pushing to v3.17.1.

[2022-01-05 10:21] htdvisser commented on #4630
Doesn't look like this is going to get finished for v3.17.0, so pushing to v3.17.1.

@NicolasMrad: This has been pushed forward since October, so I think we should re-evaluate the priority.

[2022-01-05 10:22] htdvisser commented on #3513
Doesn't look like this is going to get finished for v3.17.0 either, so pushing to v3.17.1.

[2022-01-05 12:59] jpmeijers commented on #4895
For a completely different reason I ran into this problem again today. For admin reasons on our side I want to change the name of the application, containing > 10 devices. This is not currently possible.

Last time I had to only move one device, and an export unsing ttn-lw-ctl and import into the new application worked. This time around it will be a lot of effort exporting all the devices, fix the

[2022-01-05 14:09] jpmeijers opened #5071 "Expose NetID and TenantID on user facing API"
#### Summary

I see something similar has already been added for the internal APIs:
https://github.com/TheThingsNetwork/lorawan-stack/pull/4726

A Gateway ID is unique per Tenant ID per ... Identity Server - or I just say per NetID.

Currently one can use a Tenant ID and API Key to talk to https://<redacted>.eu1.cloud.thethings.industries/api/v3/. There one can obtain a list of gateways. Because t

[2022-01-06 13:17] michalborkowski96 commented on #4697
@ryaplots When this gets done, please create an issue in [`lorawan-stack-aws`](https://github.com/TheThingsIndustries/lorawan-stack-aws) so that I can add relevant config option to the AWS templates

[2022-01-06 13:22] sanijs commented on #4846
I have the exact same problem when having multiple gateways at our locations

![console](https://user-images.githubusercontent.com/84848497/148388543-03e26d22-5635-416a-98fc-ac89e1b35444.JPG)

![rx_data](https://user-images.githubusercontent.com/84848497/148388599-ef23c81b-5f30-412a-8369-2b7b4e2755bc.JPG)

It would also make it easier when forwarding the data to one's backend, because then you don

[2022-01-06 17:18] nicholaspcr commented on #4902
@KrishnaIyer, could you help me out with a behaviour that I found while testing?

Using the unary interceptor I've been logging the values of the rate limit headers, in specific the headers below:
[code]
But while testing the values of the  `X-Rate-Limit-Reset` seem to increase overtime instead of decrease, which leads to some confusion in regards to the description in the documentation site.

I d

[2022-01-07 09:05] htdvisser opened #5073 "Release v3.17.0"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2022-01-07 11:00] virtualguy commented on #5073
Any reason that v3.16.3 isnt in the changelog anymore? Was it yanked?

[2022-01-07 11:06] htdvisser commented on #5073
V3.16.3 is still there, but indeed, the changelog file in the v3.17 branch doesn't list it. v3.16.3 was released as a backport with some cherry-picked fixes from the v3.17 branch.
So the changes that we made in v3.16.3 are also in v3.17.0.

[2022-01-10 15:49] johanstokking opened #5079 "Remove gateway location when not set to public"
#### Summary

Remove gateway location when not set to public.

#### Why do we need this?

People expect that when unsetting public location of their gateway in the Console, that the location disappears from Packet Broker Mapper.

#### What is already there? What do you see now?

Currently, new location updates are not being sent to Mapper.

#### What is missing? What do you want to see?

The locat

[2022-01-10 18:11] nicholaspcr opened #5080 "Rate Limiting documentation not clear about header values and behaviour"
#### Summary

The values of the `rate limiting` headers are not compliant with the [documentation](https://www.thethingsindustries.com/docs/reference/rate-limiting/) available. The behaviours observed were:
- the `x-rate-limit-reset` value increases through time instead of being a decreasing value.
- repeated values for the `x-rate-limit-available` header in different requests within the same minu

[2022-01-11 08:12] KrishnaIyer commented on #4845
This is blocked on https://github.com/TheThingsIndustries/lorawan-stack/pull/3037

[2022-01-11 10:47] KrishnaIyer commented on #5071
@jpmeijers: We'd like to know what is the purpose of exposing the Tenant ID/Net ID? What would you do with that if it's exposed?

[2022-01-11 11:45] descartes opened #5081 "All Zero App/JoinEUI fails on various MACs"
#### Summary
Forum reports come in regularly with outright join failures using both LMIC and older LoRaMAC-node implementations that fail in some way when the App/JoinEUI (referred to from now on as AppEUI) is all zeros.

As [TR007](https://lora-alliance.org/resource_hub/tr007-developing-lorawan-devices-v1-0-0/) says that there should always be a real EUI. It is prohibited to make one up although

[2022-01-11 11:57] bafonins opened #5083 "Improve application rights handling in the Console"
#### Summary

If you add application collaborator without `RIGHT_APPLICATION_TRAFFIC_READ`, login as collaborator user and request rights for this application `RIGHT_APPLICATION_TRAFFIC_READ` is present.

<details>
<summary>Payloads</summary>

request when adding collaborator
[code]

response when  fetching collaborator rights
[code]

</details>

#### Why do we need this?

Better UX since some use

[2022-01-11 12:02] kschiffer commented on #4834
Looking into this now and remembered that the Console relies on certain event types to synchronize "hot data" such as
- `as.up.*.forward` for `Last activity` (Currently not planned to be filtered out)
- `ns.up.data.process` for uplink/downlink count

Filtering those out would result in the Console not being able to keep these data points updated.  So we either need to find a replacement event or k

[2022-01-11 13:50] jpmeijers commented on #5071
Yes, it is indeed a very specific scenario I have. Let me try and explain.

I have one big database with measurements that came in from different TTS instances. Data is tagged with the Tenant ID and NetID of the device that sent the message, as well as the gateway, and the gateway's Tenant ID and NetID. This info is available in the standard uplink message json.

I could have also used the Cluster

[2022-01-11 14:53] johanstokking commented on #5069
@nicholaspcr if you need any help, please let me know. We can also schedule a session to address this together if you like.

[2022-01-11 15:21] descartes opened #5085 "Device location in database of NaN, NaN crashes web console, CLI won't allow update"
#### Summary
hiveiq-eu-otaa-01 in application hiveiq-eu-testing appears to be set to NaN, NaN, so won't display as leaflet.js falls over.

And the CLI raises an exception when trying to set using --location.latitude & --location.longitude and reset --locations returns the values back as NaN, NaN.

Other devices don't return any JSON values for location (presumeably the ProtocolBuffers quirk)

####

[2022-01-11 15:22] johanstokking opened #5086 "Cleanup Join Server session keys"
#### Summary

Cleanup the Join Server session keys

References https://github.com/TheThingsIndustries/lorawan-stack/issues/2229

#### Why do we need this?

To avoid unbound growth of the Join Server session key store.

#### What is already there? What do you see now?

They are currently persisted without limits. Also there isn't an index.

#### What is missing? What do you want to see?

We should

[2022-01-11 19:22] nicholaspcr commented on #5080
What was initially thought to be a bug was is in fact the expected behaviour of the [GCRA](https://en.wikipedia.org/wiki/Generic_cell_rate_algorithm) algorithm that is implemented in the `throttled` package, meaning that our documentation gives information that leads to a wrong interpretation on how the limitation works.

When doing something like:
[code]

The `max-per-min`  sets the rate in which

[2022-01-12 08:34] johanstokking commented on #5081
It doesn't say that the JoinEUI must be non-zero. If one follows TR007, the device maker issues the JoinEUI from a IEEE MAC block, ideally an OUI / MAC-L block, to refer to a Join Server. When registering devices local to the cluster (the current situation in TTSCE), there's no point in setting a JoinEUI so we allow an empty value. We did that to avoid the other situations described in TR007, name

[2022-01-12 08:35] johanstokking commented on #5081
Duplicate of #4847 (see 3.ii.a)

[2022-01-12 08:35] #5081 closed, assigned to nobody

[2022-01-12 08:39] #5079 closed, assigned to johanstokking

[2022-01-12 11:41] KrishnaIyer opened #5090 "Release v3.17.1"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).

- [x] Create a `release/v3.${minor}.${patch}` branch off the `v3.${minor}` branch.
[co

[2022-01-12 12:45] #5073 closed, assigned to htdvisser

[2022-01-12 13:26] adriansmares opened #5092 "Allow overriding the maximum number of retransmissions"
#### Summary

The end device MAC settings should allow the user to limit the max `NbTrans` used during ADR.

#### Why do we need this?

The `NbTrans` parameter controls the number of transmissions done for a singular LoRaWAN frame. It is by default one, and is increased when the Network Server detects gaps in the uplink frame counters. It adds a degree of redundancy which is meant to help with the

[2022-01-12 14:09] htdvisser commented on #4834
- The `as.up.*.forward` events will still be included in the stream of application events.
- Do you really need `ns.up.data.process` in the stream of application events? It's still included in the stream of device events.
- Obviously there will be a CHANGELOG item for this.

[2022-01-13 08:42] KrishnaIyer commented on #5080
So `x-rate-limit-reset` is the amount of time you have to wait until the available resets to the original `max-per-min` value i.e., 3 in your example?

Also, what about `x-rate-limit-retry`? That's not used then?

That doesn't sound right. From what I understand, the burst should be included within the `max-per-min` and if someone makes a burst request, it must be deducted from the available value

[2022-01-13 10:07] #2600 closed

[2022-01-13 10:26] #5010 closed, assigned to michalborkowski96

[2022-01-13 11:10] johanstokking commented on #5092
Wouldn't we want to implement this with https://github.com/TheThingsNetwork/lorawan-stack/issues/40?

I think it becomes tedious to configure this per end device.

[2022-01-13 11:45] adriansmares commented on #5092
But the profiles are on a per-device basis too, right ?  While these kind of things could become part of the profile, you still need to configure this on a per-device basis.

[2022-01-13 13:37] johanstokking commented on #5092
Yes the ADR profile is per end device too. I guess indeed it's much like LoRaWAN profiles; we don't really keep a reference but we set all the fields based on some template. So I guess you're right, let's add the settings and make sure that when we implement #40 it's just applying multiple per-device fields from a profile (instead of referring to an ADR profile as a single per-device field).

[2022-01-13 13:48] nicholaspcr commented on #5080
I was trying to avoid use of the word `resets` due to behaviour of the algorithm, there isn't a hard reset of requests allowed per minute, it's a slow refill of the available amount of requests that can be made. So If one user sleeps for the amount of seconds specified in `x-rate-limit-reset` not necessarily means that he will be able to do a request, as long as there is an user making requests at

[2022-01-13 16:44] KrishnaIyer commented on #5080
So I read a little bit here and you're partially correct.

Here's what happens (I've verified this with testing)

1. MaxPerMin -> This sets the request period. Ex; if `max-per-min` is 5, then 5/60 = 12s. A new request can only be made **once every 12 seconds**.
2. MaxBurst -> However, this creates an **exception to point 1**.  This is the number of requests that can be made to ignore the `MaxPerMi

[2022-01-13 17:05] #5052 closed, assigned to nicholaspcr

[2022-01-13 17:53] adriansmares commented on #5080
The `throttled` godoc explains the meaning of the headers, as we copy those directly:
https://github.com/throttled/throttled/blob/ef1aa857b069ed60f6f859f8b16350e5b7c8ec96/rate.go#L29-L58

Because lacking a burst value results in a terrible user experience. Outside of the APIs which are on the hot path (i.e. AS webhook downlinks), you don't really use them at a steady state - every once in a while,

[2022-01-14 11:16] descartes commented on #5081
All zeros seems not be an official EUI to some, but interpretation of TR007 aside, the problem still exists.

Will the new onboarding at some level that will mitigate the issue arrive in Q1 as suggested?

Is there a road map so mere mortals can keep track of what's coming. A DCS that allows small scale device creators to pre-populate devices in to the TTI infrastructure would be excellent. I've ex

[2022-01-14 13:59] KrishnaIyer commented on #5080
Because the effective rate is `max-per-min + max-burst - 1` which defeats calling the first parameter `max-per-min`. That parameter should've been called `req-per-min` but we're beyond that point.

I second this.

That's not true in all cases. For example, with gateway claiming, we allow 20 claims/min. I don't see why one needs to make 20 requests in one shot and then be rate-limited. I'd rather s

[2022-01-14 14:51] nicholaspcr commented on #5080
https://github.com/throttled/throttled/blob/ef1aa857b069ed60f6f859f8b16350e5b7c8ec96/rate.go#L29-L58

The description of the `throttled` comments and our documentation are quite similar, the cause of my confusion was that what I was expecting the headers to be didn't exactly match the `max-per-min` configuration field, but it is as @KrishnaIyer mentioned:

The two ideas for the default case are se

[2022-01-14 15:37] adriansmares commented on #5080
I see it now. Correct.

I indeed think that the only thing that should be done here is to pay a short lip service to the GCRA algorithm (i.e. a link) in the docs, but otherwise indeed no bug here.

As part of our operations we may selectively turn off bursting for certain calls - we have https://github.com/TheThingsIndustries/lorawan-stack-aws/issues/544 for that.

[2022-01-17 12:26] ymgupta opened #5107 "Fix API Key copying issue"
#### Summary
After creating the API key, copying using the `Copy to clipboard` option in the popup window is not working.

Currently, we had to enable `Toggle visibility` and copy the API Key manually.
![image](https://user-images.githubusercontent.com/9304207/149768410-be4fd8e2-f4f8-4ca7-813a-608abb48ae6d.png)
#### Steps to Reproduce
1. Create an API Key for any entity
2. Try copying and pasting

[2022-01-17 13:11] KrishnaIyer commented on #5090
This is done

[2022-01-17 13:11] #5090 closed, assigned to KrishnaIyer

[2022-01-17 13:34] kschiffer commented on #5085
Also assigning @htdvisser for the CLI issue.

[2022-01-17 13:38] htdvisser commented on #5085
That CLI error was fixed by @KrishnaIyer in https://github.com/TheThingsNetwork/lorawan-stack/pull/5088.

[2022-01-17 14:25] #5062 closed, assigned to KrishnaIyer

[2022-01-17 16:20] kschiffer commented on #4834
Yes, we could use the end device event stream to get this info, but it's currently still sourced from the app stream.

[2022-01-17 20:59] ff6347 commented on #5062
Thank you. We really appreciate it.

[2022-01-18 15:00] niondir opened #5110 "Class C Downlink with wrong DevAddr when no uplink was sent before"
#### Summary
When sending a Calss C downlink after a Join, the downlink is scheduled with an invalid (old) DevAddress.

When the device sends an uplink, the issue is gone.

#### Steps to Reproduce

1. Join device that does not send any uplink and switches to class C
2. Join shows DevAddress (e.g. 260B1049)
3. Schedule a Class C Downlink
4. Downlink shows wrong (old) DevAddr (e.g. 260B1C7B)

![imag

[2022-01-18 15:52] michalborkowski96 commented on #4982
I was thinking about it... now the release looks like this:

1. Run a github action
2. Merge a PR
3. Run another github action
4. Merge another PR
5. Run yet another github action

So, it's rather automatic at this point, save a few PRs here and there. The thing we wanted to fix is another problem:

1. We release on Friday
2. We deploy on Monday morning
3. We patch on Monday afternoon
4. We inform

[2022-01-18 15:52] michalborkowski96 commented on #4982
@adriansmares @htdvisser

[2022-01-19 11:25] #5080 closed, assigned to nicholaspcr

[2022-01-19 16:17] htdvisser commented on #2798
Here's the latest list of what's left to do in this round. I left out `(gogoproto.goproto_registration)` (because we need that until we switch libraries), the various `enum_prefix` options (I'm currently working on that) and `(gogoproto.customtype)` (because that comes in the next round when @pgalic96 is done with the CLI flags stuff).

[code]

[code]

[code]

[2022-01-20 08:26] michalborkowski96 commented on #4982
Discussion moved to: https://discuss.thethingsindustries.com/t/improvements-to-the-release-process/795

[2022-01-20 15:18] htdvisser commented on #4834
Re-assigning since my part is done. What's still TODO is to update the Console accordingly.

[2022-01-21 11:29] #5069 closed, assigned to nicholaspcr

[2022-01-21 13:22] hallard opened #5120 "Pass device attributes into json uplink"
#### Summary

Allow the device attributes (and may be device description) to be read when received uplink data

#### Why do we need this?

I put information on these attributes to be able to do action on receive packet, that’s the goal indeed. I don’t want to request API to get these on each uplink I’m receiving.

#### What is already there? What do you see now?

We already receive a lot of inform

[2022-01-21 14:10] adriansmares commented on #5110
This is expected behavior - the Network Server cannot know if the end device has actually received the Join Accept, and as such considers the new session as pending until the end device signals that the Join Accept has been received by confirming the session using an uplink.

[2022-01-21 14:10] #5110 closed, assigned to nobody

[2022-01-21 14:16] adriansmares opened #5122 "Record proto sizes on marshaling and unmarshaling"
#### Summary

Currently we record the number of marshal and unmarshal operations that we do on protos that come from our Redis databases. I believe it would be useful if we would record the size (in bytes) of these protos, for particular types (mainly `tttnpb.EndDevice`).

#### Why do we need this?

In order to have palpable metrics on the space used by our protocol buffers.

#### What is already

[2022-01-21 16:35] adriansmares opened #5127 "Lower data stored for recent traffic"
#### Summary

References https://github.com/TheThingsIndustries/lorawan-stack/issues/2256
References https://github.com/TheThingsNetwork/lorawan-stack/pull/4968

The Network Server should store less data in the MAC state `recent_uplinks`/`recent_downlinks` fields. Specifically, only fields which are actually used later should be stored, but nothing else, in a similar manner to how the Application

[2022-01-21 16:37] #2974 closed, assigned to adriansmares

[2022-01-21 16:39] johanstokking commented on #5086
This needs a database migration, so we'll do this for 3.18.0

[2022-01-21 16:44] adriansmares opened #5128 "Use `json` instead of `jsonb` storage for uplinks in the storage integration"
--ignore--

[2022-01-21 16:46] #5128 closed

[2022-01-21 16:53] adriansmares opened #5129 "Always use TTL for gateway connection stats"
#### Summary

The gateway server should no longer store the gateway connection status with infinite (`0`) TTL.

#### Why do we need this?

If the gateway does not reconnect, the entry will stay there forever when the Gateway Server instance is down.

#### What is already there? What do you see now?

https://github.com/TheThingsNetwork/lorawan-stack/blob/474da537ec188a71e1916d060f398d782ee9f651/pkg

[2022-01-21 17:11] johanstokking opened #5130 "Use new LoRaWAN DNS for Join Server lookup"
#### Summary

Use new LoRaWAN DNS for Join Server lookup.

#### Why do we need this?

To lookup Join Server addresses based on JoinEUIs.

#### What is already there? What do you see now?

A placeholder for DNS lookup.

#### What is missing? What do you want to see?

Lookup using the new (post LoRaWAN Backend Interfaces 1.1) DNS lookup.

#### How do you propose to implement this?

This issue is cur

[2022-01-23 07:28] niondir commented on #5110
Is it reasonable, that a device sends a join request while maintaining the old session? Can't the network server assume that a join request is only issued when the old session is invalid?

At least for the device's I developed that is always the case. But I would need to lookup the spec to argue about that.

[2022-01-24 08:07] sanijs opened #5133 "Missing end devices when sorting by name"
#### Summary

I have a lot of end devices with the same name, when I sort by name some of them will not appear in the list. It changes if I sort by ascending or descending. If I do a search by ID I can find the end device in my list. If I go trough all the pages of end devices and count them, I will get the correct number compared to the number that should be in the application.

#### Steps to Rep

[2022-01-24 10:34] htdvisser commented on #3830
API and database models completed in [`issue/3830-app-server-address`](https://github.com/TheThingsNetwork/lorawan-stack/compare/issue/3830-app-server-address).

@ryaplots you can continue working on that branch. Let me know if you need anything else.

[2022-01-24 12:10] adriansmares commented on #5110
For a 1.0.x device, this is indeed very unlikely to happen. But for example for 1.1.x device, it may issue a _rejoin_ request which indeed may cause the end device to still use the old session.

I can agree that the behavior is not ideal, and just emptying the queue is not going to help anyone. I will track a separate issue in order to basically delay the class C downlinks until the session is con

[2022-01-24 14:53] kschiffer commented on #5085
This can be closed then.

[2022-01-24 14:53] #5085 closed, assigned to ryaplots

[2022-01-25 08:36] jpmeijers opened #5139 "Import end devices from CSV"
#### Summary

It looks like this was available before (https://github.com/TheThingsNetwork/lorawan-stack/pull/1448) but now only json is supported.

When we buy off-the-shelf LoRaWAN sensor, the vendors normally send us an Excel file with the DevEUI, AppEUI, AppKey, etc. A file like this can contain hundreds of entries, and I need to register these devices in TTS. The current (planned) solution is

[2022-01-25 08:39] #5107 closed, assigned to kschiffer

[2022-01-25 09:15] jpmeijers opened #5140 "ttn-lw-cli fetches default JoinEUI even when set"
#### Summary

The notices output of ttn-lw-cli says that the JoinEUI is not set, even though it is. It then fetches the Join Server's default JoinEUI.

[code]

After this INFO message, the json output uses the Join EUI as specified in the command. Also the console shows the device created with the correct Join EUI and specified. This is therefore only a bug in the INFO print logic.

#### Steps to

[2022-01-25 11:22] NicolasMrad commented on #5139
Thank you @jpmeijers for submitting this feature request.
Can you please share with us a sample CSV template that you usually use, with the various fields required?

[2022-01-25 11:35] NicolasMrad commented on #5133
Please submit a ticket using the support portal, attaching as well screenshots of the problem faced.

[2022-01-25 12:19] jpmeijers commented on #5139
Here are two examples from two different water meter vendors.

[LORAWAN PARAMETER - Bove.xlsx](https://github.com/TheThingsNetwork/lorawan-stack/files/7933482/LORAWAN.PARAMETER.-.Bove.xlsx)
[Lora Axioma.xlsx](https://github.com/TheThingsNetwork/lorawan-stack/files/7933484/Lora.Axioma.xlsx)

[2022-01-25 13:03] #4834 closed, assigned to kschiffer

[2022-01-25 14:12] htdvisser commented on #5139
The information in these files alone is not enough to register those end devices. We'd still need to know things like LoRaWAN MAC/PHY version, possibly defaults, etc.

We should probably combine manifest import functionality with the device repository. That way we can also build functionality that understands the format of the manifest of a specific vendor. And we can be certain that those devices

[2022-01-25 14:27] jpmeijers commented on #5139
Yes indeed. I was thinking of having a "fallback values" form on the same page where I upload the csv/xlsx.

Yes, but not limited to this, as many of these sensors do not exist in the device repo. And I do not want to have to convince the (Chinese) vendor to create a PR on TTS device repo just to allow me import my manifest file.

I'm also concerned of cases where the vedor changes their xlsx sche

[2022-01-25 14:59] cowjen01 opened #5143 "Unable to register set of devices under a new application due to "duplicate_identifiers""
Due to infrastructure issues, I needed to transfer a set of 405 devices from one application to another. I used API to remove the devices from the original application called `iptec-aws-integration` to be able to reregister them in the new one. I called following API endpoint:

[code]

All devices have been deleted from the application, so then I deleted the application as well. But now I am not a

[2022-01-25 15:57] #4630 closed, assigned to adriansmares

[2022-01-25 21:19] onizmx commented on #4990
@adriansmares Sorry for the late response. We are running `3.16.3` now and still seeing the issue around 2 times a week. Is the patch https://github.com/TheThingsNetwork/lorawan-stack/issues/4990#issuecomment-998257391 still applicable for 3.16.3?

[2022-01-26 15:55] kschiffer commented on #4846
Thanks for filing this issue @lnlp!

@ryaplots can you schedule this for one of the upcoming milestones. It should be a simple fix.

[2022-01-26 17:46] adriansmares opened #5150 "Improve webhook health status Console UX"
#### Summary

References https://github.com/TheThingsNetwork/lorawan-stack/issues/4526
References https://github.com/TheThingsNetwork/lorawan-stack/pull/5002

The Console should show information in a more contextual manner to the user. Specifically, the webhook should not be shown as 'pending' when the health checks are completely disabled.

#### Why do we need this?

Right now, even though the ch

[2022-01-26 17:48] adriansmares commented on #4990
Hi @onizmx - the patch should still be usable, as it only adds some logging statements and fields. Let me know if you cannot apply it.

[2022-01-26 18:06] #4902 closed, assigned to nicholaspcr

[2022-01-27 06:11] ymgupta opened #5151 "TYPO in the Gateway status field in TTS Console."
#### Summary
In the gateway settings in TTS Console, both the **Gateway status** and **Gateway location** fields have the name `Make location public`.
#### Steps to Reproduce
...
#### What do you see now?
Both Gateway status and Gateway location fields have the name `Make location public`.
![image](https://user-images.githubusercontent.com/9304207/151301798-6a16fb23-0b64-42ac-a134-a4f5aeb75175.png

[2022-01-27 13:45] #5143 closed, assigned to nobody

[2022-01-28 09:39] sanijs commented on #5133
Ticket submitted: TTS-4029

[2022-01-28 10:33] virtualguy commented on #4715
@adriansmares things have definitely been running better but we hit performance issues again yesterday and found that I had set the udp handlers to 32 (double the old default but significantly less than the new 1024..). That resolved the work dropped by the udp handler but there is a new spike on upstream_handlers. Looks like its fixed at [32 workers](https://github.com/TheThingsNetwork/lorawan-st

[2022-01-28 11:00] adriansmares commented on #4715
The 32 worker is limit is on a per gateway basis - each gateway has its own worker pool of 32 workers for submission to the upstream (which in this case is the Network Server - this is what the `_cluster` signifies).

Do you have an actual gateway that could see so many packets ? Is this some bridge that actually backs multiple gateways at once, but in TTS a singular one is used ? Is it always the

[2022-01-28 13:42] nskydb opened #5156 "Setting schedule-anytime-delay when creating gateway using CLI not working"
Hi everyone

#### Summary

I am trying to create gateways on the stack using the CLI as follows:

[code]

However, this fails with the following error:

[code]

We use this command in a script, and with older versions of ttn-lw-cli it worked perfectly (3.12.2). So I guess something changed in the code that broke it. However, I am not a Go developer, so I could not find the bug in the code.

Accord

[2022-01-30 18:59] adriansmares opened #5158 "Release v3.17.2"
#### Overview

This is a checklist for releases. This is filled in by both the releaser and the reviewer where necessary.

#### Preparation

- [x] Create a [documentation release issue](https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/new?title=Release+v3.x.x&labels=release&template=release.md).
- [x] Run `tools/bin/prepare_release minor` or `tools/bin/prepare_release patch`, depen

[2022-01-31 11:50] #4661 closed, assigned to nicholaspcr

[2022-02-01 13:25] mauro742 commented on #5079
After the deployment of v3.17.2 on TTS, I have tried to unset the public location on gateway general settings. The location is not removed from Packet Broker Mapper. The issue persists also deleting all the location data.

[2022-02-01 14:07] NicolasMrad commented on #3713
Given the new verbose filter, which addresses some of the issues, this is not in the current plan

[2022-02-01 14:07] #3713 closed, assigned to kschiffer

[2022-02-01 14:11] #3109 closed, assigned to bafonins

[2022-02-01 14:15] NicolasMrad commented on #2897
remaining efforts will be tracked in #3830

[2022-02-01 14:15] #2897 closed

[2022-02-03 10:31] #5158 closed, assigned to adriansmares

[2022-02-03 15:01] descartes opened #5170 "Timeout web console live data layouts to something static to save TTI servers un-watched traffic"
#### Summary
Timeout a console window if it is showing any form of live data to some resting place - or pause the feed

#### Why do we need this?
So Chrome doesn't kill your servers & my machine when I leave too many tabs open.

This is particularly problematic (mainly for TTI) when I've got three or four machines with various tabs running ...

#### What is already there? What do you see now?
I'm

[2022-02-03 16:08] NicolasMrad commented on #5139
some discussions here: https://discuss.thethingsindustries.com/t/device-import-via-csv/801

[2022-02-03 16:35] mauro742 opened #5173 "Remove gateway location from Packet Broker Mapper not working"
#### Summary
I am trying to remove the location from a gateway. From the Console, I have unset the "Make location public" setting. However, the location is not is not removed from Packet Broker Mapper. The issue persists also deleting all the location data from the Console. The fix introduced in v3.17.1 (issue #5079) does not solve the problem.

#### Steps to Reproduce

1. Set the gateway location

[2022-02-04 08:20] johanstokking commented on #5139
Like @htdvisser I think conversion of a vendor-specific manifest belongs in the device repository. I don't think it should be a static mapping, I think that vendors should be able to define one or more manifest converters as JavaScript functions to convert a line to a simple JSON object. Like payload codecs basically. That function can be a simple mapping but it can also do some basic conversion (

[2022-02-04 12:36] pgalic96 commented on #5156
Hey @nskydb ! Thanks for the extensive bug report. Indeed this is a bug caused by the newest changes to how the duration flags are handled. I pushed a fix and it will hopefully land in the next release.

[2022-02-04 13:22] #5086 closed, assigned to johanstokking

[2022-02-04 14:01] #5156 closed, assigned to pgalic96

[2022-02-04 14:37] jpmeijers commented on #5139
I like your ideas. But I still have one concern:
What happens if I have a CSV/Excel file for devices that do not exist in the device repository?

[2022-02-04 15:07] johanstokking commented on #5139
Do you mean a CSV/Excel file that you received from a random device maker, as is? Or would you like to be able to import a CSV file according to a fixed The Things Stack format? The latter we can do, just like we support importing devices in The Things Stack JSON format already.

[2022-02-04 15:41] jpmeijers commented on #5139
Yes

But because it is in Excel one can easily swap columns or add columns to make it look like a "CSV file according to a fixed The Things Stack format".

So I would be happy with the latter.

[2022-02-04 16:28] #4971 closed, assigned to adriansmares

[2022-02-04 16:28] #725 closed

[2022-02-05 23:04] lanmarc77 commented on #4610
Using the current ce stack version it seems I can get more information for debugging. I discovered a paradox behaviour. If I have ADR disabled (under General Settings, Network layer, advanced mac settings) the stack does send Link ADR messages starting after the initial join. The node sits very near the gateway with snr 10, rssi -48. The ADR message only contains the channel list, no power or dr s

[2022-02-06 07:17] onizmx opened #5183 "Simulcast support for Class C multicast downlink"
#### Summary

Simulcast support for Class C multicast device.

#### Why do we need this?

To cover some cases where we need to send exact same payload + absolute time to a single multicast device with a list of multiple gateways. For more context, we need to ensure full coverage of end devices, which are mapped into a single multicast group. Those devices are geographically spread across a large a

[2022-02-07 09:16] KrishnaIyer opened #5184 "Document error message conventions in contributing guide"
#### Summary

Document error message conventions in contributing guide

#### Why do we need this?

I keep getting review comments on what (not) to do in error messages but I don't find such conventions documented.

#### What is already there? What do you see now?

The front-end Design guide has a section on error messages; https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.18/DESIGN.md#erro

[2022-02-07 14:12] nicholaspcr commented on #3280
Comment left by @htdvisser on PR and is a good question for the discussion

From the @kschiffer description it seems to be just a question of breaking out of the standard implementation but might be best to have his response on the subject

[2022-02-07 16:08] kschiffer commented on #3280
It's not like it would not work the way it is. It just forces us to [hardcode the API endpoint in the SDK](https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.18/sdk/js/src/service/gateways.js#L256-L259) and also to break out of our regular HTTP request logic, while everywhere else we rely on the gRPC API definition to source API paths. I thought it was odd that the configuration download is

[2022-02-07 17:44] johanstokking commented on #5184
From my understanding:

- every error implies something went wrong. So there is no need to use generic prefixes en suffixes like `could_not_...` and `..._failed` and "could not ..." "failed to ..." in error codes and messages respectively
- specific errors, like `invalid_{something}` and `{something}_not_found` are permitted
- error codes should be meaningful in the namespace, which is the package

[2022-02-08 01:12] onizmx commented on #5183
CC @adriansmares Maybe you are the best person to discuss about the feature?

[2022-02-08 09:26] pgalic96 commented on #5045
@htdvisser What do you expect from this functionality?

The initial idea was to have a function that checks if the EUI block of the right type exists in the database, if it doesn't then it creates a new one (based on config), and if it does it checks whether the db block is the same as the one in config. If it is, we do nothing, and if it isn't, we update the block to match the config.

I would sa

[2022-02-08 10:03] #3806 closed, assigned to adriansmares

[2022-02-08 10:44] #2892 closed

[2022-02-08 10:45] johanstokking commented on #5173
@mauro742 has the gateway been online since you set the location public off?

[2022-02-08 10:50] johanstokking commented on #5139
There are two categories of required fields:

Per-device | General
--- | ---
JoinEUI | LoRaWAN (MAC) version
DevEUI | Regional Parameters (PHY) version
AppKey | Frequency plan
NwkKey |

What I would suggest, is that we have inputs for the right category that act as a fallback. If the converted file does not contain those fields (`lorawan_version`, `lorawan_phy_version`, `frequency_plan_id` respect

[2022-02-08 12:33] mauro742 commented on #5173
@johanstokking yes, the gateway was always online. In the following, I report the gateway live data streaming after the public location unsetting:

[code]

[2022-02-08 12:52] #5129 closed, assigned to nicholaspcr

[2022-02-08 13:35] pgalic96 commented on #3396
I will close this since its (more or less) already implemented in https://github.com/TheThingsNetwork/lorawan-stack/pull/3678 .

The text is following now:
[code]

[2022-02-08 13:35] #3396 closed, assigned to pgalic96

[2022-02-08 15:35] htdvisser commented on #154
This logic will be re-implemented in https://github.com/TheThingsNetwork/lorawan-stack/issues/3250 so closing this issue.

[2022-02-08 15:35] #154 closed

[2022-02-08 15:46] #5173 closed, assigned to johanstokking

[2022-02-08 16:12] htdvisser commented on #3280
I'd very much prefer having the SDK(s) support the necessary The Things Stack APIs than trying to create a gRPC API for everything, even when that isn't appropriate.

cc: @johanstokking

[2022-02-09 07:53] htdvisser commented on #5045
Why wouldn't we make the EUI Store store multiple blocks? That way, when we (almost) exhausted all EUIs in the current block, we can add a new block and continue issuing EUIs without interruption.

[2022-02-09 09:08] pgalic96 commented on #5045
That was the idea with changing the block in the config, but I agree, overwriting the existing block instead of just creating a new one is quite a messy procedure and it doesn't allow us to possibly reuse unused DevEUI's at a later stage.

[2022-02-09 12:19] onsolutionjames opened #5197 "Wrong URL format returned to LNS"
#### Summary
When using Basics Station LNS, the wrong URL can be provided to the gateway for MUXS. Basics Station seems to always expect the port to be specified, however TTS can return no port under some circumstances.

For example, if I set the `gcs.basic-station.default.lns-uri` or the gateway server address to `wss://stack.example.com:443`, TTS returns `wss://stack.example.com/traffic/eui-blab

[2022-02-09 12:41] onsolutionjames opened #5198 "If the Gateway Server Address contains a scheme or port, the UI thinks the Gateway is connected to a different cluster"
#### Summary
If the Gateway Server Address option on a Gateway contains a scheme or port (e.g. `wss://stack.example.com:8887`), the UI thinks the Gateway is connected to a different cluster and therefore doesn't show any activity, even though it could actually be connected to the same cluster.

#### Steps to Reproduce
1. Set up a gateway and get it connected via Basics Station
2. Change the Gatewa

[2022-02-09 15:49] pgalic96 commented on #4937
@adriansmares Is this true ? Seems that the session only records the start time. Shouldn't we look at the most recent uplink to determine last seen?

[2022-02-09 16:11] adriansmares commented on #4937
Well, it is tracked indirectly indeed. If you look at the `recent_uplinks` in the current `session`, you can determine the last message from the end device.

[2022-02-09 16:59] adriansmares opened #5200 "Avoid scheduling class C downlinks while a pending session exists"
#### Summary

Currently class C downlinks will be scheduled for transmission while a `pending_session` exists. This is not ideal, as the previous session may be obsolete, and the queue will be drained prematurely. Ideally, if the `pending_session` originates from a `JoinRequest`, we should delay the downlinks.

#### Why do we need this?

The queue is drained prematurely if the end device joins aga

[2022-02-10 07:58] htdvisser commented on #2798
Just went through the codebase, and it looks like we only have a few more options left:

- `gogoproto.goproto_registration`: We need to keep this around until we've fully migrated away, otherwise `google.protobuf.Any` messages will stop working.
- `gogoproto.customtype` (some combined with `gogoproto.nullable`): With the latest changes to `protoc-gen-go-json`, I think we can start removing the one

[2022-02-10 08:47] johanstokking commented on #3280
Actually I think in this case it makes sense to have a gRPC API to generate configuration and return that.

The reason that we started with the HTTP API is that gateways were able to download their own configuration file directly, if they are configured with their gateway ID and a gateway API key. We did not make it HTTP because the result happens to be a JSON file in all of the current cases.

[2022-02-10 12:53] htdvisser commented on #2798
Here's the list of protos with `customtype` fields that we'll have to remove.

I think the safest migration path is to be "better safe than sorry" and replace the `customtype` option with:

1. Validation option:
[code]
2. JSON option (even if we currently don't marshal to/from JSON):
[code]
3. Flag option (even if we currently don't have flags for the field):
[code]

I already checked off the ones

[2022-02-10 14:26] kschiffer commented on #5150
Let's keep the UX simple.

We can distinguish four states:

*   If health status is enabled (`unhealthy_attempts_threshold` != 0 || `unhealthy_retry_interval` != 0)
    *   `Pending` if the webhook was created but has not made any request attempt yet (status = `null` / `undefined`)
    *   `Healthy` if the webhook has `failed_attempts` \< `unhealthy_attempts_threshold`
    *   `Requests failing` i

[2022-02-10 14:30] adriansmares commented on #5150
This will hide the webhook as being possibly unhealthy until the threshold is hit, but that's ok.

[2022-02-10 14:41] kschiffer commented on #5150
We could add another `Recent failures` status when failures were detected but we're still under the threshold. How long are failures retained though? I would want to avoid to have the status being shown as such when there was one failed request one week ago.

Also, do I see correctly that the status will jump immediately to `unhealhy` if the very first request failed?

[2022-02-10 15:02] adriansmares commented on #5150
Until a request is successful. You can always find when the last failure occurred using `last_failed_attempt_at`.

Yes, this is intended, and it will also jump immediately to `healthy` once a request goes through successfully.

[2022-02-11 10:17] #5140 closed, assigned to KrishnaIyer

[2022-02-12 08:54] ymgupta opened #5206 "Remove the warning message when setting the payload formatter to `None`"
#### Summary
If we choose the payload formatter type as `None` for either uplink or downlink in the TTS console, `This option will affect both uplink and downlink formatter` warning message is displayed. But, if we choose the uplink payload formatter as `Javascript` and the downlink payload formatter type as `None`, the uplinks are decoded without any issue.

#### Steps to Reproduce
1. For an end-

[2022-02-14 10:09] virtualguy commented on #5183
@johanstokking would love to get your opinion on this, it seems to technically work for gateways which are time sync'd with gps similar to class b beacons

[2022-02-14 10:23] adriansmares commented on #5183
This is a feature that we're not in favor of right now, due to the fact that it encourages reusing the ABP session over a large amount of end devices _and_ over a large range. This is the definition of multicast, but this particular proposal is multicast².

My suggestion regarding your use case would be to use different ABP sessions in different locations in which you want to broadcast the downlin

[2022-02-14 14:37] adriansmares commented on #2798
Can we already branch off that particular branch, or should we wait until it is reviewed and merged ?

[2022-02-14 15:38] htdvisser commented on #2798
I did plan to fixup and rebase that branch when `protoc-gen-go-flags` is finished enough to make the CLI work, so let's be careful with that.

But if we coordinate who works on the branch on which day, then that should be okay too.

[2022-02-14 22:59] #4951 closed, assigned to nicholaspcr

[2022-02-15 13:38] adriansmares commented on #3513
New PHY+MAC pairings that need to be added to the Console:
- MAC 1.0.4 has access to all PHY RP2 versions
- MAC 1.1 should also have access to PHY RP2-1.0.1

[2022-02-15 16:44] #5045 closed, assigned to pgalic96

[2022-02-16 08:29] htdvisser commented on #3830
Since this unfortunately didn't make it into v3.18.0, and this requires a database migration, we have to postpone it until the v3.19.0 release in April.

BTW: The branch was a bit outdated, so I rebased it.

[2022-02-16 09:05] michalborkowski96 commented on #4982
I move this to next milestone. The PR has been merged, but let's keep this in mind for a moment so that we can see if there's something to be improved.

[2022-02-16 13:58] #3592 closed, assigned to adriansmares

[2022-02-17 09:51] #5047 closed, assigned to htdvisser

[2022-02-17 10:04] KrishnaIyer commented on #5197
Hi @onsolutionjames. Thanks a lot for looking into this. Your commit looks correct to me. You can submit a pull request if you wish.

Two minor comments about your changes.
1. Go does not use `snake_case` and allows use of single letter variables. Change the following line
[code]
to
[code]
2. Please add a test case if you can for this change in `ws.go`.

[2022-02-17 12:16] nejraselimovic opened #5224 "Scheduling downlinks via API seems inconsistent"
#### Summary
Scheduling a downlink (that contains the `decoded_payload` object) via API using  `/api/v3/as/applications/<app-id>/devices/<device-id>/down/push` requires `f_port` field to be defined, unlike when using `/api/v3/as/applications/<app-id>/webhooks/<webhook-id>/devices/<device-id>/down/push`.

#### Steps to Reproduce
Scheduling a downlink on `https://eu1.cloud.thethings.network/api/v3/a

[2022-02-17 13:17] #5151 closed, assigned to ryaplots

[2022-02-18 15:03] nicholaspcr opened #5228 "Create end-devices in bulk returns an error regarding the decoding"
#### Summary

The creation of end-devices in bulk via CLI doesn't work when using the format specified in [the docs](https://www.thethingsindustries.com/docs/getting-started/migrating/device-json/). It does in fact create the end-devices but after processing the input it always return a decoding error.

#### Steps to Reproduce

1. Create an instance of the TTN stack
2. login
3. create an applicati

[2022-02-18 20:13] nicholaspcr commented on #5228
After going through the code I believe the reason for the error is the custom JSONDecoder, in specific it is the [Decode method](https://github.com/TheThingsNetwork/lorawan-stack/blob/79e8521acbded817e1a136526499aea7cb978db6/pkg/util/io/io.go#L50-L76). Which from my understanding has a direct impact on every command that can process multiple values via JSON.

The reason for this is that for being

[2022-02-18 21:02] nicholaspcr commented on #5228
My bad but I ended up doing the PR since the changes were a lot more smaller than I initially thought to be, might have been unnecessary to tag everyone here but its

[2022-02-21 13:21] htdvisser opened #5233 "Change The Things Kickstarter Gateway Firmware URL"
#### Summary

We should change the default URL for The Things Kickstarter Gateway Firmware.

#### Why do we need this?

Because it currently points to `https://thethingsproducts.blob.core.windows.net/the-things-gateway/v1` and we want to move this to AWS.

#### What is missing? What do you want to see?

- Create new location
- Copy files to new location
- Update TTKG CI to push new builds to new l

[2022-02-21 15:54] #4835 closed, assigned to ryaplots

[2022-02-21 18:22] nicholaspcr commented on #5228
In the discussion of the PR that was opened for this issue https://github.com/TheThingsNetwork/lorawan-stack/pull/5229 it was made clear that the CLI always expects a JSON stream and the behaviour explained in this issue isn't a bug.

Since there is a clarification on the expected behaviour of the CLI and the [documentation PR](https://github.com/TheThingsIndustries/lorawan-stack-docs/pull/783) al

[2022-02-21 18:22] #5228 closed, assigned to nicholaspcr

[2022-02-21 23:31] onizmx commented on #4990
@adriansmares We were able to deploy the patched version yesterday, and here are the extra logs.

[code]

Nothing gets logged for `Computed downlink start timestamp`.
`transmission_delay` looks pretty massive.
Let us know if you need more details.

[2022-02-22 09:37] Oliv4945 opened #5237 "Unable to update multicast group"
#### Summary
For multicast class B, new ping slot frequency, datarate and periodicity can not be changed from the GUI nor the CLI. What was first setup at multicast group creation seems to be kept internally.
Same thing goes for multicast class C.

#### Steps to Reproduce

1. Setup a multicast group (B or C), use it
2. Change parameters on the GUI or the CLI
3. Those new parameters are correctly d

[2022-02-22 10:29] kschiffer commented on #5139
This would be unproblematic.

[2022-02-22 11:09] #2463 closed

[2022-02-22 11:16] kschiffer commented on #5150
Closing this via #5222, which resolves the immediate issue. We can look at providing more info to the user after evaluating the current solution.

[2022-02-22 11:16] #5150 closed, assigned to ryaplots

[2022-02-22 11:31] virtualguy commented on #5183
Thanks for the feedback @adriansmares. We have unfortunately have situations where devices can move from coverage under one gateway to another within 15-60minutes which rules out different ABP sessions. The effort of resyncing the new session would cause substantially more traffic as the nodes move in large groups at a time.

I don't see how the increase of physical space exposes replay attacks. T

[2022-02-22 11:59] johanstokking commented on #3513
@kschiffer please reassign to @ryaplots with some instructions. Let's really get this in for 3.18.1. Hopefully this is as easy as it sounds.

[2022-02-22 15:00] michalborkowski96 opened #5240 "Console displays old version on release candidates"
#### Summary
Console displays old version on release candidates

#### Steps to Reproduce
Build a release candidate

#### What do you see now?
3.17.2

#### What do you want to see instead?
3.18.0

#### Environment
Github Actions

#### How do you propose to implement this?
No idea

#### How do you propose to test this?
Build a release candidate and deploy to staging

#### Can you do this yourself an

[2022-02-22 15:03] ryaplots commented on #4846
Is it possible to sort the list of gateways by the SNR/RSSI value pair in the backend? @adriansmares / @htdvisser

[2022-02-22 15:09] kschiffer commented on #5240
The package.json is currently the source of the version tag that is displayed in the Console. Where should I source it from instead?

It's e.g. possible to inject an environment variable into the bundle during the build process. Would that be a better option?

[2022-02-22 15:16] adriansmares commented on #5237
See https://www.thethingsindustries.com/docs/devices/mac-settings/#mac-settings-and-mac-state - if you update these settings via `mac-settings`, you will need to reset the MAC state of the end device. If you need to update them at runtime, you should update the `mac-state.desired-parameters` fields most likely.

[2022-02-22 15:21] michalborkowski96 commented on #5240
There's been a suggestion that it's about cache https://github.com/TheThingsIndustries/lorawan-stack/blob/release/v3.18.0/.github/workflows/release-rc.yml#L97

[2022-02-22 15:25] adriansmares commented on #5224
So it seems that when we use the `AppAs.*DownlinkQueue`, the validation kicks in and rejects the request:

https://github.com/TheThingsNetwork/lorawan-stack/blob/78d2db0cb6b3e8458c44bea254acff82be5a2921/api/messages.proto#L267

While the AS webhooks do not go via any validation frontend:

https://github.com/TheThingsNetwork/lorawan-stack/blob/78d2db0cb6b3e8458c44bea254acff82be5a2921/pkg/applicatio

[2022-02-22 15:38] htdvisser commented on #4846
We're not going to do that. Consumers should not rely on RX metadata being in any particular order. If consumers want to do some aggregation to find the min/avg/max SNR/RSSI/etc. they should do that themselves.

[2022-02-22 16:53] adriansmares commented on #4990
This should be impossible. It means that either you should have seen an `err_too_late`, which you didn't, or that the clock is marked as synced (`s.clock.IsSynced()`) but the server time is `nil` (since the message won't be printed if `ok` is false, and `ok` is false only if the server time is `nil`). That's again not possible since each time the clock is marked as synced, the server time is recor

[2022-02-23 11:09] johanstokking commented on #5139
OK. I'll start with a simple DTC based on CSV.

@kschiffer do you want to work in parallel on these input controls in the bulk import screen? Or instruct @ryaplots?

[2022-02-23 11:11] johanstokking commented on #5224
ACK

[2022-02-23 12:16] johanstokking commented on #4990
Stupid question maybe, but is debug logging enabled?

[2022-02-23 12:21] onizmx commented on #4990
@johanstokking No, we were shipping too many production logs so ended up changing the requested log lines to info. So unfortunately @adriansmares we do not have the gatewayserver io debug log. Lately, we've been a bit cautious of upgrading / redeploying the stack, therefore unable to confirm if we can get the extra (gatewayserver io) logs soon.
I will export cloudwatch logs next time when this hap

[2022-02-23 12:25] johanstokking commented on #5183
Interesting discussion. I have a slightly different opinion than @adriansmares, I do think that this is useful.

Few thoughts:

1. Indeed in the early FUOTA designs and calculations for duty-cycle drain on a single gateway and large groups of devices not covered by a single gateway, it was suggested to use multiple gateways for the same multicast group to spread downlink capacity and expand the up

[2022-02-23 12:33] adriansmares commented on #4990
Something is slightly weird about your commit path - the commit that adds the logging as `DEBUG` is https://github.com/halter-corp/lorawan-stack/commit/1ed51d346f5ec95634408603fdf30fb65af12d7f but it doesn't contain the log statement for `Computed downlink start timestamp` in `ScheduleAt` - @onizmx can you add that one to your next release ?

[2022-02-23 12:37] adriansmares commented on #5183
I cannot think of any extra concerns for now. As long as these are used for FUOTA and not broadcasting actuator commands, I do think that it can be useful.

[2022-02-23 12:55] kschiffer commented on #5139
This is a good issue for @ryaplots.

What we need here is the following:

*   Add fallback value fields to the [device import form](https://github.com/TheThingsNetwork/lorawan-stack/blob/v3.18/pkg/webui/console/components/device-import-form/index.js#L132), as described above by @johanstokking, use a `<Form.SubTitle />` with `Fallback values` above these fields.
*   Upon submit, [apply the fallback

[2022-02-23 13:29] #5240 closed, assigned to kschiffer, michalborkowski96

[2022-02-23 13:32] #4846 closed, assigned to ryaplots

[2022-02-23 13:47] kschiffer commented on #3513
Due to the timeliness, I chose to quickly resolve this myself.

\-> #5252

[2022-02-23 15:55] johanstokking commented on #5183
Downlink delay is a known problem in LoRaWAN. Indeed the attack surface with multicast is a bit higher because the frame that is valid for a set of devices is likely valid for more devices. Downlink delay will be addressed with LoRaWAN 1.2.

As long as the application developers are aware of this, I think we should be supporting this.

@virtualguy can you file a pull request with your fix? We're a

[2022-02-24 09:08] #5133 closed, assigned to htdvisser

[2022-02-24 11:42] lnlp commented on #4846
@kschiffer @ryaplots @htdvisser

This issue was closed for what reason?, because already planned for/implemented in v3.18.1?

Is this now implemented by #5242?

#5242 is about SNR only. Is 'best SNR' representative for 'best RSSI/SNR' combination?

[2022-02-24 11:52] onizmx commented on #4990
@adriansmares I have added that log as an info here https://github.com/halter-corp/lorawan-stack/commit/cf5cf1d03631ca37541fc5f4e12dac1f02adf372
And this (the last commit of 'halter-release') is in production.

[2022-02-24 11:54] onizmx commented on #4990
@adriansmares ah I see I added the log in the wrong place. Sorry for the confusion. Yes I will add the log for the next release.

[2022-02-24 12:18] kschiffer commented on #4846
For technical reasons, we have to resort to the highest SNR for the time being. The pair calculation is not trivial, since RSSI is not a normalized measure and can vary depending on the gateway antenna. Also in the backend, we are currently mainly using the highest SNR to determine gateways for downlinks. This calculation will be updated with a more precise algorithm at a later stage at which poin

[2022-02-25 08:36] johanstokking opened #5260 "Decode downlink when scheduling binary payload"
#### Summary

Decode downlink when scheduling binary payload. This is for better consistency.

References https://github.com/TheThingsIndustries/lorawan-stack-docs/issues/710

#### Why do we need this?

When a downlink decoder is present but payload gets scheduled in its binary form, it should be presented in its decoded form in the downlink queued event.

#### What is already there? What do you s

[2022-02-28 13:40] #3280 closed, assigned to nicholaspcr

[2022-02-28 19:27] adriansmares opened #5269 "Use Redis 7.0 features"
#### Summary

We should use Redis 7.0 features once 7.0 compatibility is widely available.

#### Why do we need this?

Certain operations can be more efficient this way.

#### What is already there? What do you see now?

1. `FindProtos` in `pkg/redis` uses `SORT`. `SORT` cannot be used against a read only replica, due to the potential `STORE` parameter (which we don't use).
2. `XAUTOCLAIM` will au

[2022-03-01 10:52] StefanTzatz commented on #4145
Hi, where is the console? I am new into TTN and IoT and by mistake I want to register again a gateway ID that i have already deleted without purge. As a result, I cannot use the same ID. I must delete it from console / CLI with this command in order to reuse it. I run the gateway with rasberry PI 4

[2022-03-01 12:20] #3513 closed, assigned to kschiffer

[2022-03-02 10:50] kschiffer commented on #4409
So per-network visibility settings are currently not implemented yet? If the plan is to include this short-term, we can already implement it as well in the Console.

Also, is it planned to inspect the gateway visibilities of other forwarder networks towards the own?

[2022-03-02 11:13] descartes commented on #4145
This is not a support channel - please use the forum (https://www.thethingsnetwork.org/forum) or Slack for questions

[2022-03-02 13:01] johanstokking commented on #4409
Let's keep it simple for now and set default gateway visibility only.

The rest is possible too but not needed for now. If we start with the default config checkboxes we're good and we can keep that if we expand functionality.

[2022-03-02 15:33] kschiffer commented on #5198
Hey @onsolutionjames!

Thanks a lot for your issue and proposed solution. The solution looks good to me. If you want you can make a PR. :rocket:

[2022-03-02 15:33] kschiffer commented on #5198
Hey @onsolutionjames!

Thanks a lot for your issue and proposed solution. The solution looks good to me. If you want you can make a PR. :rocket:

[2022-03-02 21:52] dajtxx opened #5282 "Allow a device to be moved between apps in the console and CLI"
#### Summary

Provide a console and CLI feature to move a device to a different application while keeping the session alive.

#### Why do we need this?

We often find we want to move a device to a different application. Perhaps someone added the device to the wrong app, or we are reorganising how we classify devices.

#### What is already there? What do you see now?

I have been able to do this wi

[2022-03-02 22:09] onsolutionjames commented on #5198
@kschiffer Thanks! I just created a pull request for this. Let me know if it's fine or if I need to change anything.

https://github.com/TheThingsNetwork/lorawan-stack/pull/5283

[2022-03-03 10:10] #5206 closed, assigned to kschiffer

[2022-03-04 03:38] viethoa14 opened #5285 "Can not register end device on Frequency plan Asian 920_923 Mhz (AS923_2)"
#### Summary

when i register end device on Frequency plan Asian 920_923 Mhz, sometime i can not see any thing on LoRaWAN version or there is warning "MAC V1.0.2 is not exist".
...

#### Steps to Reproduce

1. On web management End devices --> click Add end device
2. Then Select manually
3. After on Frequency click drop-down to choose Asian 920-923 Mhz (AS923 Group 2)
4. Then click drop-down on Lo

[2022-03-07 07:53] #4982 closed, assigned to michalborkowski96

[2022-03-07 09:32] KrishnaIyer opened #5289 "Validate TR005 QR Code checksum"
#### Summary

Validate TR005 QR Code checksum.

#### Why do we need this?

According to the TR005 spec,

211 built-in integrity checks, this explicit checksum is useful when the content of the QR code is
212 presented as plain text. Checksum is generated using the CRC-16-MODBUS [CRC] of the
213 full QR content except the Checksum field itself, and presented in hexadecimal format
214 without the le

[2022-03-07 22:13] dajtxx commented on #5282
Also see issue #4895.

[2022-03-08 12:59] ymgupta opened #5292 "Able to register a gateway in TTS using CLI without a Frequency Plan"
#### Summary
When registering a gateway in the TTS Console, one must select the Frequency Plan parameter. But, when using CLI, we are able to register a gateway in TTS without selecting the Frequency Plan.
#### Steps to Reproduce

1. Login to CLI
2. Follow the steps for [Adding Gateways using the CLI](https://www.thethingsindustries.com/docs/gateways/adding-gateways/) here. **Note:** Make sure to

[2022-03-08 15:30] johanstokking commented on #5282
Thanks for filing. This is a duplicate of an internal issue we track.

[2022-03-09 10:24] dajtxx commented on #4527
That was my immediate thought too. Messages sent from the end device messaging page have a simulated: true flag in them which end points should take notice of. So perhaps that can be used here too.

[2022-03-09 12:57] ymgupta opened #5296 "Feedback on the latest search feature for searching entities by ID, Name, Description, EUI"
#### Summary
We have identified a few feedback points that can be improved in the[ latest search functionality](https://github.com/TheThingsNetwork/lorawan-stack/pull/5232) in TTS.
#### Steps to Reproduce
**Feedback 1:**
Create a device by specifying the name and description (with `space` between two words).
Search entities with a space between two words. (Eg: `out door`).
**Feedback 2:**
Use the

[2022-03-09 13:54] adriansmares commented on #5285
Hi @viethoa14,

The `AS_923_{2, 3, 4}` bands are available only using the RP2 regional parameter versions, and the same restriction applies to the frequency plans. I recommend trying this with LoRaWAN 1.0.4 + RP2 1.0.1

[2022-03-09 16:47] kschiffer commented on #4081
We have made a couple of improvements to address these issues:

*   Show a notification in the end device payload formatter form indicating which PF the application currently uses
    *   shown when the end device has the `Application default` option selected
*   Show a notification in the application payload formatter form indicating that the application default formatter can be overwritten by en

[2022-03-09 16:47] #4081 closed, assigned to kschiffer

[2022-03-09 16:53] kschiffer commented on #4382
This might actually be a bit more complicated than I initially though. We'll have to also apply all LW/MAC options when assigning the profile which could be problematic for devices with an active session. I don't think this is currently of high priority, so I will remove the milestone for now.

In any case, users can always delete and recreate their devices using the DR onboarding.

[2022-03-09 17:00] kschiffer commented on #5083
Let's keep this simple and add a field description to `RIGHT_APPLICATION_LINK` reading

@ryaplots can you pick this one up?

[2022-03-10 05:57] ymgupta opened #5298 "`server_error` while logging into TTS CE"
#### Summary
When a user deletes an account in TTN V2 and tries to log in with the same credentials in TTS CE, the below error appears, which is not helpful. Reference: https://github.com/TheThingsIndustries/lorawan-stack-support/issues/641
[code]
#### Steps to Reproduce

- Create an account in [TTN V2](https://account.thethingsnetwork.org/register).
- Login to [TTS CE](https://eu1.cloud.thethings

[2022-03-10 06:04] ymgupta opened #5299 "Unable to configure an LBS gateway in LNS mode on port 443"
#### Summary
TTS Cloud and TTS Community Edition support connecting LBS gateways in LNS mode on port `443`. But, there is a bug on The Things Stack end that needs to be fixed to get this working.

Previous Context: https://github.com/TheThingsIndustries/lorawan-stack-support/issues/724
#### Steps to Reproduce

- Connect gateway to TTS cloud using LBS by following the guide [here](https://www.theth

[2022-03-10 09:55] htdvisser commented on #5298
This doesn't look like an issue in The Things Stack, but more in the OIDC provider (in this case: The Things ID).

\+ @nicholaspcr

[2022-03-10 10:23] #4838 closed, assigned to adriansmares

[2022-03-10 10:38] michalborkowski96 opened #5301 "Rework the tag release start"
#### Summary
This PR https://github.com/TheThingsNetwork/lorawan-stack/pull/5295 introduced a hack that re-tags the release commit so that goreleaser can work properly. This flow works, but needs to be refactored.

#### Why do we need this?
Current solution is a hack.

#### What is already there? What do you see now?
A hack,

#### What is missing? What do you want to see?
Something sensible.

####

[2022-03-10 10:50] nicholaspcr commented on #5298
This indeed is a issue with the The Things ID, its something I can do so I'll take a look into it.
Created the issue there and with that I'll close it here.

[2022-03-10 10:50] #5298 closed, assigned to nicholaspcr

[2022-03-10 12:02] kschiffer commented on #3830
Does anything speak against making this `network_server_address`, `application_server_address` and `join_server_address` assignment implicit in the creation form? Meaning that these fields will be set automatically without allowing any modification.

I feel like adding these fields explicitly to the application form will make it more confusing (even when hiding it in a advanced settings section).

[2022-03-10 12:18] htdvisser commented on #3830
No, that's totally fine.

[2022-03-11 08:01] Oliv4945 commented on #5237
Thanks @adriansmares, my colleagues confirmed that it resolved their issue

[2022-03-11 08:01] #5237 closed, assigned to adriansmares

[2022-03-11 10:02] #4409 closed, assigned to ryaplots

[2022-03-11 10:19] ryaplots commented on #3830
I pushed my work to the branch already

[2022-03-11 23:18] onsolutionjames commented on #5197
@KrishnaIyer Thanks for the feedback - I'll make these changes sometime this week and submit a proper PR (unless someone else gets in first)

[2022-03-11 23:40] onsolutionjames commented on #5299
Hi @ymgupta. I've been having similar issues with LNS on port 443 - I think it's two main things, see my existing Github issues and proposed fixes here:

- Main issue: https://github.com/TheThingsNetwork/lorawan-stack/issues/5197
- Related, but non-critical issue: https://github.com/TheThingsNetwork/lorawan-stack/issues/5198

So from my testing I can get it to work on 443 on a local install, howev

[2022-03-12 00:05] onsolutionjames commented on #5197
Hi @KrishnaIyer, I've just made that variable name change.

I've never written a test in Go before, so just want some quick advice before I do this.

Where should I be putting this test? `ws_test.go`?

Should it just be extending an existing test, or do I need to write a completely new one?

Would it be sufficient to just do a regex to assert that the returned uri matches the pattern that basics s

[2022-03-13 04:13] dajtxx opened #5304 "Downlinks show wrong payload in console live data"
#### Summary

I schedule a downlink in the console using the end device messaging tab, and the downlink payload is displayed incorrectly in the live data tab.

#### Steps to Reproduce

1. Schedule a downlink with byes 0A 0B 0C 0D 0E 0F
2. Go to the live data tab.
3. The downlink payload is displayed as AA 16 7B CB 9A E0

The downlink payload as received by the device is correct.

There is no downl

[2022-03-13 12:08] ymgupta opened #5305 "Option to export device mac-state and mac-settings from the TTS Console"
#### Summary
We suggest adding a feature to export device `mac-state` and `mac-settings` from the console itself.

#### Why do we need this?
Device MAC State and MAC Settings will be helpful for users in debugging any issues that they might face with their devices. Currently, users have to set up, configure, and log in to CLI to get the MAC State of the device.

Implementing this feature will impr

[2022-03-13 21:10] onizmx commented on #5183
@adriansmares @johanstokking Would use-simulcast boolean flag will suffice the API part?
And which part of the codebase will be the most suitable place for the actual implementation? It would be very helpful if we can get some guidance.

[2022-03-13 21:25] onizmx commented on #5183
This was our draft api implementation https://github.com/halter-corp/lorawan-stack/commit/183b3e6a3599aedaf59dc6d9dae75ac69cc9fb27

[2022-03-14 11:36] virtualguy commented on #5183
As @onizmx mentioned we have currently proposed a boolean flag to enable this mode which is nice for backwards compatibility.

Though to support how gateway selection currently works (NS is able to choose ANY of the gateways specified in the array) the an alternative mqtt message could be:
[code]

The intention would be that the NS may choose one of gtw1 or gtw2, and one of gtw3 or gtw4. So if all

[2022-03-15 07:45] johanstokking commented on #5183
Thanks for the suggestions. We can't break the API nor can we change the default behavior. What we can do as an alternative to grouping the gateways in arrays (the one that breaks API), is to add a grouping field to `GatewayAntennaIdentifiers` so that NS/AS knows it's "one of all groups".

I'm also fine with a behavior flag on the `TxRequest` message.

So that leaves us with two options:
1. Add fi

[2022-03-15 10:38] #5301 closed, assigned to michalborkowski96

[2022-03-15 10:45] KrishnaIyer commented on #5197
So the test would go to [`TestDiscover.go`](https://github.com/TheThingsNetwork/lorawan-stack/blob/c4b4ccc8e9778fe0cf540606ac404bbd57b7d8ab/pkg/gatewayserver/io/ws/ws_test.go#L217).

It's not the regex but we're checking that the port (80/443) is returned when a connection info request is made without a port.

I can also take over the change and add the tests if you prefer it.

[2022-03-15 10:48] KrishnaIyer commented on #5292
The issue here is that we do allow registering gateways without specifying frequency plans but we should return a warning to users via the CLI that such gateways will not be allowed to connect and forward traffic. I'll add the warning.

[2022-03-15 12:47] onizmx commented on #5183
@johanstokking The preferable solution for us will be 2, which is adding the `group` field. Just to clarify some cases:

1. [Two groups] `gtw_A (group: 0), gtw_B (group: 0)`, `gtw_C (group: 1), gtw_D (group: 1)` -> Will make at least 1 attempt per group. Therefore in this case, min attempts will be 2 (1 per group), and max attempts will be 4 (2 per group).

2. [Four groups] `gtw_A (group: 0)`, `gt

[2022-03-15 16:34] pgalic96 commented on #5296
Hey @ymgupta . This issue is resolved by db update. You can observe it on TTSCE where the db is already updated. Soon it is going to be reflected in TTSC as well. I will close the issue and if you observe it again feel free to re-open it.

[2022-03-15 16:34] #5296 closed, assigned to pgalic96

[2022-03-16 06:18] ymgupta opened #5309 "Browser-based CLI support in TTS"
#### Summary
Currently, TTS users have to download binaries/install `ttn-lw-cli`, configure it to their deployment, and then login/authenticate it before performing any operations.
We suggest implementing browser-based CLI support in the TTS  similar to AWS CloudShell.
#### Why do we need this?
To improve the user experience by eliminating the steps of installation, configuration, and authenticati

[2022-03-16 07:41] KrishnaIyer commented on #5309
I don't see the value in this. The console and the CLI are meant for different types of users. If your concern is that there are some actions that users really want to do via the console but can only do that now with the CLI, we can look into adding console support for that.

[2022-03-16 10:33] johanstokking commented on #5183
Yes exactly.

I was initially thinking to disallow mixing `null` group and numbered groups by returning `InvalidArgument`.

We can make `group` non-nullable and so `0` is then the default group. But our JSON API does currently not allow us to see the difference between not set and default value of non-nullable fields. So that would mean that `gtw_A (group: not set)`, `gtw_B (group: 1)` is effectiv

[2022-03-17 08:59] #5292 closed, assigned to KrishnaIyer

[2022-03-17 13:18] #5083 closed, assigned to ryaplots

[2022-03-18 06:33] ymgupta commented on #5309
We agree with you @KrishnaIyer in this regard, we will raise a feature request by identifying the gaps between CLI and console.

We are closing this issue now.

[2022-03-18 06:33] #5309 closed, assigned to nobody

[2022-03-18 08:17] johanstokking commented on #5269
We're a bit tied to the managed Redis offering from the major cloud vendors. They're generally a bit slow with upgrading Redis. Specifically Microsoft Azure is far behind.

Worst case, we have a backwards compatibility mode built in the Redis stores. For instance, we could take the read only client and use `SORT_RO` when the reported Redis version is 7.0 or higher, and otherwise the writer client

[2022-03-18 09:06] adriansmares commented on #5269
I've created this issue mostly for housekeeping. I know we won't have 7.0 for a long time.

Until we have 7.0 compatibility, I've written a read only compatible `SORT`-ish here - https://github.com/TheThingsIndustries/lorawan-stack/blob/26406f658dbbc29b03c3c8d2fe05ac650209e4aa/pkg/redis/redis.tti.go#L31 .

[2022-03-18 13:40] #5304 closed, assigned to kschiffer

[2022-03-18 20:59] #5139 closed, assigned to johanstokking

[2022-03-19 06:15] onsolutionjames commented on #5197
Hi @KrishnaIyer, it would be awesome if you could take over. I don't have much experience with Go and I'm not sure what the best way to write the test is

[2022-03-20 21:34] onizmx commented on #4990
@adriansmares We've managed to deploy 3.18.1 last week, and here are the logs.
[code]

Is https://github.com/TheThingsNetwork/lorawan-stack/pull/5318 the fix for this?

[2022-03-20 21:37] onizmx commented on #5183
@johanstokking I agree on being explicit about the conditions. Thanks for the guidance!

[2022-03-21 09:00] kschiffer commented on #3891
Closing this in favor of TheThingsIndustries/lorawan-stack#1411

[2022-03-21 09:00] #3891 closed, assigned to nobody

[2022-03-21 12:59] adriansmares commented on #4990
Given that the difference between `start` and `now` in the `Computed downlink start timestamp` message is already quite bad (10^16), that PR won't help. There is a gap of ~116 days between the two timestamps, which is completely absurd. On a brighter note, we can be basically sure that this is caused by the clock synchronization system in TTS.

Based on the timestamps there seems to be a huge gap

[2022-03-22 08:02] #4841 closed, assigned to KrishnaIyer

[2022-03-22 09:26] KrishnaIyer commented on #4847
Now that https://github.com/TheThingsNetwork/lorawan-stack/pull/5324 is merged, here's a short summary of the backend.

#### Claiming/Unclaiming (Primary flow)
- The Device Claiming Server is the client for various Join Servers. Infrastructure will be updated to support having a single DCS for each network.
- The DCS now supports generic `Claim`, `Unclaim`, `GetClaimStatus` and `GetInfoByJoinEUI`.

[2022-03-22 10:45] KrishnaIyer opened #5327 "Option to copy API Keys in the LoRa Basics Station Base64 format"
#### Summary

Add an option to copy API Keys in the LoRa Basics Station Base64 format.

#### Why do we need this?

It's convenient to do this so that users don't have to use a terminal for the conversion.

#### What is already there? What do you see now?

Users need to use a terminal to convert the key https://www.thethingsindustries.com/docs/gateways/lora-basics-station/cups/#cups-key-file

####

[2022-03-22 12:38] KrishnaIyer commented on #5197
Ok Great. I'll pick this up :+1

[2022-03-23 09:59] #5197 closed, assigned to KrishnaIyer

[2022-03-23 10:48] KrishnaIyer commented on #3579
Since @michalborkowski96 worked on this, can you take a look and see if something needs to be done here?

[2022-03-23 11:07] michalborkowski96 commented on #3579
https://github.com/TheThingsNetwork/lorawan-stack/blob/b053b3b10089d5c9be0ad324fa9db78a0659ea97/.github/workflows/release-tag.yml#L145

[2022-03-23 11:07] #3579 closed, assigned to michalborkowski96

[2022-03-23 11:14] KrishnaIyer commented on #4874
Is this still relevant @adriansmares? If yes, I'll pick it up the next milestone.

[2022-03-23 11:28] adriansmares commented on #4874
Yes, it is still relevant. You can easily test this by adding an ABP device, sending some downlinks, then resetting the MAC state. The frame counter for newer downlinks won't reset.

[2022-03-23 15:48] htdvisser opened #5333 "Make Identity Server tests parallel and isolated"
#### Summary

I've started working on making Identity Server tests parallel (so that we can benefit from multi-core machines) and isolated (each test uses its own PostgreSQL schema so that it doesn't intefere with other parallel tests).

#### What is already there? What do you see now?

Identity Server tests use the same database and need to run sequentially

#### What is missing? What do you want

[2022-03-23 19:40] #5224 closed, assigned to adriansmares

[2022-03-24 07:18] htdvisser commented on #3830
I'll rebase this and open a pull request for v3.19 after v3.18.2 is out.

[2022-03-24 13:01] kschiffer opened #5336 "Allow setting an expiry date for API keys in the Console"
#### Summary
It needs to be possible to set an expiry date for API keys when managing them in the Console.

#### Why do we need this?
It's a security feature. We currently only allow creating API keys without expiry.

#### What is already there? What do you see now?
Managing API keys in the console.

#### What is missing? What do you want to see?
An additional (optional) field to set an expiry dat